<h1>
  {{'observation.results.title' | translate}}
  <small>
    <br>
    <laji-observation-count [query]="searchQuery.query"></laji-observation-count>
    {{'observation.results.observation' | translate}}
    <laji-observation-count
      [query]="searchQuery.query"
      [field]="'unit.linkings.taxon.taxonRank'"
      [pick]="'http://tun.fi/MX.species'"
      [overrideInQuery]="{taxonRankId: 'MX.species', includeNonValidTaxa: false}"
    >
    </laji-observation-count>
    {{'observation.results.species' | translate}}
  </small>
</h1>
