@import 'vars';

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $neutral-8;
}

.main-container {
  max-width: 1000px;
}

.report-type-container {
  padding: 20px;
  background-color: $neutral-1;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);

  h3 {
    margin-top: 0;
  }
}

.inaturalist-download img {
  width: 100px;
  height: 30px;
}

.inaturalist-link img {
  width: 175px;
  height: 50px;
}

h1 {
  font-size: $fs-7;
  color: $neutral-9;
}

h2 {
  font-size: $fs-6;
  color: $neutral-9;
}

h3 {
  font-size: $fs-5;
  color: $neutral-8;
}
