<div class="main-container"> <!-- main container -->
  <section class="mb-8"> <!-- Tallenna luontohavaintoja lajitietokeskukseen -->
    <h1>Tallenna luontohavaintoja lajitietokeskukseen</h1>
    <p>lorem ipsum</p>
    <div class="d-flex flex-row my-6">
      <div class="report-type-container mr-3"> <!-- Helppo -->
        <h3>Helppo</h3>
        <ul>
          <li>Ilmoita yksittäinen havainto</li>
          <li>Kirjautumista ei tarvita</li>
          <li>Et voi päivittää havaintoa lähetyksen jälkeen</li>
        </ul>
        <lu-button role="primary">Ilmoita havainto</lu-button>
      </div>
      <div class="report-type-container mx-3"> <!-- Mobiili -->
        <h3>Mobiili</h3>
        <ul>
          <li>Ota kuva mobiilisovelluksella</li>
          <li>Saat tunnistusapua heti</li>
          <li>Pidä kirjaa omista havainnoistasi</li>
        </ul>
        img, link, link
      </div>
      <div class="report-type-container ml-3"> <!-- Monipuolinen -->
        <h3>Monipuolinen</h3>
        <ul>
          <li>Pidä kirjaa omista havainnoistasi</li>
          <li>Aktiiviharrastajan työkalupakki</li>
          <li>Tallenna tehokkaasti tuhansia tietoja</li>
        </ul>
        <lu-button>Oma vihko</lu-button>
      </div>
    </div>
  </section>

  <section class="mb-8"> <!-- Kansalaistiede -->
    <h2>Kansalaistiede</h2>
    <p>lorem ipsum</p>
    <div>

    </div>
  </section>

  <section class="mb-8"> <!-- Tutkimusprojektit ja viranomaistyökalut -->
    <h2>Tutkimusprojektit ja viranomaistyökalut</h2>
    <p>lorem ipsum</p>
    <div>

    </div>
  </section>
</div>
