<div class="container margin-top-20">
  <div class="row">
    <div class="col-sm-12">
      <laji-informal-group-select
        [id]="searchQuery.query.informalGroupFilters"
        (informalGroupSelect)="informalGroupChange($event)"
      ></laji-informal-group-select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <lu-tabs [selectedIndex]="activeIndex" (selectedChange)="setActive($event)" style="margin-top: 24px; display:block;">
        <lu-tab [heading]="'species.images' | translate">
          <ng-container *ngIf="loadedTabs.isLoaded('images')">
            <laji-species-images [hidden]="activeIndex !== 0"
                                [searchQuery]="searchQuery"
                                [showSpeciesTotalCount]="true"
                                [countStartText]="'species.browse.images.count1' | translate"
                                [countEndText]="'species.browse.images.count2' | translate"
            ></laji-species-images>
          </ng-container>
        </lu-tab>
        <lu-tab [heading]="'species.list' | translate">
          <ng-container *ngIf="loadedTabs.isLoaded('list')">
            <laji-species-list [hidden]="activeIndex !== 1"
                              [visible]="activeIndex === 1"
                              [searchQuery]="searchQuery"
                              [showDownloadAndBrowse]="false"
                              [countStartText]="'species.browse.list.count1' | translate"
                              [countEndText]="'species.browse.list.count2' | translate"
            ></laji-species-list>
          </ng-container>
        </lu-tab>
      </lu-tabs>
    </div>
  </div>
</div>
