<header class="mb-5">
  <div class="container-fluid">
    <ng-container *lajiForTypes="['vir']; exclude: true">
      <h1 translate>species.search</h1>
      <h2 translate>species.title.short</h2>
      <p translate>species.title.long</p>
    </ng-container>
    <laji-technical-news></laji-technical-news>
    <laji-omni-search [placeholder]="'species.search' | translate"></laji-omni-search>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <laji-navigation-thumbnail
      *lajiForTypes="['dev', 'prod', 'embedded']"
      [name]="'taxonomy.browseSpeciesPage'"
      [icon]="'kotilo_1_sha'"
      [iconType]="'png'"
      [path]="'taxon/browse'"
      [intro]="'taxonomy.browseSpeciesPage.intro' | translate"
      [bodyHeight]="'150px'"
    ></laji-navigation-thumbnail>
    <laji-navigation-thumbnail
      [name]="'taxonomy.speciesPage'"
      [icon]="'table'"
      [iconType]="'png'"
      [path]="'taxon/list'"
      [query]="{ onlyFinnish: true }"
      [intro]="'taxonomy.speciesPage.intro' | translate"
      [bodyHeight]="'150px'"
    ></laji-navigation-thumbnail>
    <laji-navigation-thumbnail
      [name]="'taxonomy.taxonPage'"
      [icon]="'tree'"
      [iconType]="'png'"
      [path]="'taxon/MX.37600/taxonomy'"
      [query]="{ showTree: true }"
      [bodyHeight]="'150px'"
    >
      <div class="taxon-select">
        <laji-taxon-select
          [placeholder]="'taxonomy.taxonPage.search' | translate"
          [searchParams]="{ species: false }"
          (taxonIdChange)="toTaxonPage($event)"
        ></laji-taxon-select>
      </div>
    </laji-navigation-thumbnail>
  </div>
</div>
