@import 'vars';

header {
  background-color: $primary-2;
  color: $primary-8;
  border-bottom: 1px solid $primary-3;
  padding: 20px 0;
}

h1 {
  font-size: $fs-8;
}

h2 {
  font-size: $fs-4;
  color: $primary-7;
}

.taxon-select {
  position: absolute;
  bottom: 17px;
  left: 30px;
  width: calc(100% - 60px);
}
@media only screen and (min-width : 992px) {
  .taxon-select {
    bottom: 37px;
  }
}

.nav-card-container {
  max-width: 800px;
}

.nav-card {
  background: linear-gradient(to bottom, $neutral-1, saturate($neutral-2, 20%));
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba($primary-6, 0.4);
  border: 1px solid rgba($neutral-1, 0);
  color: $primary-5;
  cursor: pointer;
  &:hover, &:focus {
    outline: none;
    box-shadow: 0 4px 12px 0 rgba($primary-6, 0.3);
    border-color: $primary-3;
    transition: box-shadow .1s, border-color .1s;
    text-decoration: none;
  }
  .nav-description {
    color: $neutral-7;
    max-width: 30em;
  }
  .nav-card-img {
    padding: 10px;
    max-width: 100px;
  }
  .nav-card-content {
    padding: 10px;
  }
}

