<div style="background-color: #ECF0F1; padding: 20px; margin-bottom: 20px;">
  <h1 style="margin: 0">{{ 'species.search' | translate }}<br><small>{{ 'species.title.short' | translate }}</small></h1>
  <div style="margin-bottom: 10px;">{{ 'species.title.long' | translate }}</div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-8 col-lg-offset-1">
      <laji-omni-search [placeholder]="'species.search' | translate"></laji-omni-search>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <laji-informal-list *ngIf="selectedInformalGroup" [tree]="selectedInformalGroup"></laji-informal-list>
    </div>
  </div>
</div>

<!--ul style="margin-top: 24px;" class="nav nav-tabs nav-justified">
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
              <a [routerLink]="'/taxon/informal' | localize">
                  <h3>{{ 'species.groups' | translate }}<br><small>{{ 'species.groups.short' | translate }}</small></h3>
              </a>
          </li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
              <a [routerLink]="'/taxon/taxonomy' | localize">
                  <h3>{{ 'species.taxa' | translate }}<br><small>{{ 'species.taxa.short' | translate }}</small></h3>
              </a>
          </li>
      </ul-->

<!--div *ngIf="(type | async) == 'taxonomy'" class="row">
          <div class="col-sm-12">
              <laji-tree [openId]="id | async"></laji-tree>
          </div>
      </div-->
