.informal h3, .taxonomy h3 {
  padding: 10px 40px 0 0;
  margin: 10px 0;
  display: inline-block;
}

:host >>> .species-list, .informal-group-list {
  height: 500px;
  overflow: auto;
  overflow-x: auto;
}

:host >>> .species-list, :host >>> .informal-group-list ul {
  padding: 0;
  margin: 0 0 0 10px;
}

:host >>> .species-list li, :host >>> .informal-group-list li {
  list-style: none;
}

@media only screen and (min-width : 768px) {
  #wrapper {
    display: flex;
  } 
}
