<header class="mb-5">
  <div class="container-fluid">
    <ng-container *lajiForTypes="['vir']; exclude: true">
      <h1 translate>species.search</h1>
      <h2 translate>species.title.short</h2>
      <p translate>species.title.long</p>
    </ng-container>
    <laji-technical-news></laji-technical-news>
    <laji-omni-search [placeholder]="'species.search' | translate"></laji-omni-search>
  </div>
</header>
<div class="container-fluid">
  <div class="nav-card-container d-flex flex-col my-7">
    <div routerLink="browse" class="nav-card d-flex mr-3 mb-3" *lajiForTypes="['dev', 'prod', 'beta', 'embedded']">
      <div class="nav-card-img">
        <img src="/static/images/icons/kotilo_1_sha.png">
      </div>
      <div class="nav-card-content">
        <strong>{{ 'taxonomy.browseSpeciesPage' | translate }}</strong>
        <div class="nav-description">
          {{ 'taxonomy.browseSpeciesPage.intro' | translate }}
        </div>
      </div>
    </div>
    <div routerLink="list" [queryParams]="{ onlyFinnish: true }" class="nav-card d-flex mr-3 mb-3">
      <div class="nav-card-img">
        <img src="/static/images/icons/table.png">
      </div>
      <div class="nav-card-content">
        <strong>{{ 'taxonomy.speciesPage' | translate }}</strong>
        <div class="nav-description">
          {{ 'taxonomy.speciesPage.intro' | translate }}
        </div>
      </div>
    </div>
    <div routerLink="MX.37600/taxonomy" [queryParams]="{ showTree: true }" class="nav-card d-flex mr-3 mb-3">
      <div class="nav-card-img">
        <img src="/static/images/icons/tree.png">
      </div>
      <div class="nav-card-content">
        <strong>{{ 'taxonomy.taxonPage' | translate }}</strong>
        <div class="nav-description">
          {{ 'taxonomy.taxonPage.intro' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
