<laji-info [glyphicon]="'user'" [placement]="'right'" [labelType]="'primary'">
  <strong>{{ 'taxonomy.source' | translate }}:</strong> {{ taxonDescription?.title | multiLang }}
  <ng-container *ngIf="taxonDescription?.speciesCardAuthors">
    <br>
    <strong>{{ taxonDescription?.speciesCardAuthors.title | multiLang }}:</strong>
    <span [innerHTML]="taxonDescription?.speciesCardAuthors.content | multiLang"></span>
  </ng-container>
</laji-info>
<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" style="margin: 0 7px">
  <img src="static/images/creativecommons-icons/by.svg"
       alt="CC BY 4.0 license"
       style="height: 30px">
</a>
