<div class="row s-elem-wrap">
  <div class="col-sm-3 s-wrap d-select">
    <select class="form-control s-select" [(ngModel)]="startDay" (change)="onChange()">
      <option *ngFor="let value of days" [value]="value">{{ (value | removeLeading) || 'pp' }}</option>
    </select>
  </div>
  <div class="col-sm-3 s-wrap">
    <select class="form-control s-select" [(ngModel)]="startMonth" (change)="onChange()">
      <option *ngFor="let value of months" [value]="value">{{ (value | removeLeading) || 'kk' }}</option>
    </select>
  </div>
  <div class="col-sm-3 s-wrap s-end-start d-select">
    <select class="form-control s-select" [(ngModel)]="endDay" (change)="onChange()">
      <option *ngFor="let value of days" [value]="value">{{ (value | removeLeading) || 'pp' }}</option>
    </select>
  </div>
  <div class="col-sm-3 s-wrap" style="padding-right: 0">
    <select class="form-control s-select" [(ngModel)]="endMonth" (change)="onChange()">
      <option *ngFor="let value of months" [value]="value">{{ (value | removeLeading) || 'kk' }}</option>
    </select>
  </div>
</div>
