<p>{{ 'observation.intro.images' | translate }}</p>
<label class="media-group-label d-block mb-2">{{ 'observation.form.media.group' | translate }}</label>
<fieldset class="mb-4">
  <div class="media-group-all">
    <label>
      <laji-checkbox [value]="query.hasUnitMedia" (valueChange)="onToggleMedia($event)"></laji-checkbox>
      {{ 'all' | translate }}
    </label>
  </div>
  <div>
    <label>
      <laji-checkbox [value]="query.hasUnitImages || query.hasUnitMedia" (valueChange)="onMediaGroupPropChange('hasUnitImages', $event)"></laji-checkbox>
      {{ 'observation.active.hasMedia' | translate }}
    </label>
  </div>
  <div>
    <label>
      <laji-checkbox [value]="query.hasUnitAudio || query.hasUnitMedia" (valueChange)="onMediaGroupPropChange('hasUnitAudio', $event)"></laji-checkbox>
      {{ 'audio.spectrum' | translate }}
    </label>
  </div>
  <div>
    <label>
      <laji-checkbox [value]="query.hasUnitModel || query.hasUnitMedia" (valueChange)="onMediaGroupPropChange('hasUnitModel', $event)"></laji-checkbox>
      {{ 'observation.form.media.hasUnitModel' | translate }}
    </label>
  </div>
</fieldset>
<div class="mb-2">
  <label>
    <laji-checkbox [value]="query.hasGatheringMedia" (valueChange)="onToggleGatheringMedia($event)"></laji-checkbox>
    {{ 'observation.form.hasGatheringMedia' | translate }}
  </label>
  <laji-info>{{ 'observation.info.hasGatheringMedia' | translate }}</laji-info>
</div>
<div>
  <label>
    <laji-checkbox [value]="query.hasDocumentMedia" (valueChange)="onToggleDocumentMedia($event)"></laji-checkbox>
    {{ 'observation.form.hasDocumentMedia' | translate }}
  </label>
  <laji-info>{{ 'observation.info.hasDocumentMedia' | translate }}</laji-info>
</div>
<hr>
<div>
  <p>{{ 'observation.intro.noImages' | translate }}</p>
  <label>
    <laji-checkbox [value]="query.hasUnitMedia === false" (valueChange)="onToggleNoImages($event)"></laji-checkbox>
    {{ 'observation.form.hasNotMedia' | translate }}
  </label>
</div>
