.editor-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 50px);
  background-color: #fff;
  min-width: 500px;
  min-height: 500px;
}

.editor-container.fullscreen {
  position: fixed;
  height: 100vh;
  z-index: 100000;
}

.editor-placeholder {
  z-index: -1;
  height: calc(100vh - 50px);
}
