<laji-spinner [spinning]="loading" [overlay]="true" *lajiBrowserOnly>
    <ngx-datatable
      #dataTable
      class='material striped laji-datatable'
      [style.height]="_height"
      [cssClasses]="{
            sortAscending: 'glyphicon glyphicon-chevron-down',
            sortDescending: 'glyphicon glyphicon-chevron-up',
            pagerLeftArrow: 'glyphicon glyphicon-chevron-left',
            pagerRightArrow: 'glyphicon glyphicon-chevron-right',
            pagerPrevious: 'glyphicon glyphicon-step-backward',
            pagerNext: 'glyphicon glyphicon-step-forward'
          }"
      [messages]="{ emptyMessage: loading ? '' : emptyMessage, totalMessage: '' }"
      [rows]='_rows'
      [externalPaging]="true"
      [sortType]="sortType"
      [count]="_rows.length"
      [offset]="_offset"
      
      [columnMode]="columnMode"
      [scrollbarH]="true"
      [sorts]="sorts"
      [scrollbarV]="virtualScrolling || _isFixedHeight"
      [headerHeight]="showHeader ? 38 : 0"
      [footerHeight]="0"
      [rowHeight]="70"
      (sort)="sortChange.emit($event)"
      (reorder)="reorder.emit($event)"
      (resize)="onResize($event)"
      (select)="select.emit($event)"
      (activate)="onRowSelect($event)"
    >
    <ngx-datatable-column *ngIf="actions.length > 0" name="action" sortable="false" prop="action" width="50">
        <ng-template let-row="row" let-value="value"  ngx-datatable-cell-template>
            <div *ngIf="(actions | includes:'view')">
                <lu-button 
                      [role]="'success'"
                      [tooltip]="'result.showViewer' | translate"
                      [placement]="'right'"
                      container="body"
                      [adaptivePosition]="false"
                      (click)="showDocument(row['id'])"
                      >
                  <i class="glyphicon glyphicon-eye-open"></i>
            </lu-button>
            </div>
              <lu-button *ngIf="(actions | includes:'edit')"
                    [role]="'edit'"
                    [tooltip]=" 'haseka.submissions.toEdit' | translate"
                    container="body"
                    [adaptivePosition]="false"
                    [placement]="'right'"
                    [routerLink]="row['_editUrl'] | localize"
                    >
                  <i class="glyphicon glyphicon-edit"></i>
          </lu-button>
        </ng-template>
    </ngx-datatable-column> 
    <ngx-datatable-column *ngFor="let col of _columns; let i = index" [prop]="col.prop">
        <ng-template ngx-datatable-header-template>
            {{ 'haseka.submissions.' + col.prop | translate }}
        </ng-template>
     </ngx-datatable-column>
    </ngx-datatable>
    <laji-data-table-footer
      *ngIf="showFooter"
      [totalMessage]="totalMessage"
      [page]="_page"
      [pageSize]="pageSize"
      [count]="_count"
      (change)="onPage($event)"
    ></laji-data-table-footer>
</laji-spinner>
  
  <laji-datatable-templates #dataTableTemplates></laji-datatable-templates>
  
