<laji-spinner [spinning]="loading" [overlay]="true" *lajiBrowserOnly>
    <ngx-datatable
      #dataTable
      class='material striped laji-datatable'
      [style.height]="_height"
      [cssClasses]="{
            sortAscending: 'glyphicon glyphicon-chevron-down',
            sortDescending: 'glyphicon glyphicon-chevron-up',
            pagerLeftArrow: 'glyphicon glyphicon-chevron-left',
            pagerRightArrow: 'glyphicon glyphicon-chevron-right',
            pagerPrevious: 'glyphicon glyphicon-step-backward',
            pagerNext: 'glyphicon glyphicon-step-forward'
          }"
      [messages]="{ emptyMessage: loading ? '' : emptyMessage, totalMessage: '' }"
      [rows]='_rows'
      [externalPaging]="true"
      [externalSorting]="!clientSideSorting"
      [sortType]="sortType"
      [count]="_rows.length"
      [offset]="_offset"
      [columns]="_columns"
      [columnMode]="columnMode"
      [scrollbarH]="true"
      [sorts]="sorts"
      [scrollbarV]="virtualScrolling || _isFixedHeight"
      [headerHeight]="showHeader ? 38 : 0"
      [footerHeight]="0"
      [rowHeight]="50"
      (sort)="sortChange.emit($event)"
      (reorder)="reorder.emit($event)"
      (resize)="onResize($event)"
      (select)="select.emit($event)"
      [rowClass]="_getRowClass.bind(this)"
      (activate)="onRowSelect($event)"
      [selected]="selected"
      [selectionType]="selectionType"
    >
    <ngx-datatable-column *ngIf="actions.length > 0" name="" sortable="false" prop="id" width="50">
        <ng-template let-row="row" let-value="value"  ngx-datatable-cell-template>
            <div *ngIf="(actions | includes:'view')">
                <span class="label label-success link inline-block"
                      [tooltip]="'result.showViewer' | translate"
                      [placement]="'right'"
                      container="body"
                      [adaptivePosition]="false"
                      (click)="showDocument(row)"
                      >
                  <i class="glyphicon glyphicon-eye-open"></i>
                </span>
            </div>
              <a *ngIf="(actions | includes:'edit')" class="label label-primary link"
                    [tooltip]=" 'haseka.submissions.toEdit' | translate"
                    container="body"
                    [adaptivePosition]="false"
                    [placement]="'right'"
                    [routerLink]="formService.getEditUrlPath((row['document']['formId'] | toQName), (row['document']['documentId'] | toQName )) | localize"
                    >
                  <i class="glyphicon glyphicon-edit"></i>
              </a>
        </ng-template>
    </ngx-datatable-column> 
    <ngx-datatable-column *ngFor="let col of _columns; let i = index" [prop]="col.prop" [cellTemplate]="col.cellTemplate">
        <ng-template ngx-datatable-header-template>
            {{ col.label | translate }}
        </ng-template>
     </ngx-datatable-column>
    </ngx-datatable>
    <laji-data-table-footer
      *ngIf="showFooter"
      [totalMessage]="totalMessage"
      [page]="_page"
      [pageSize]="pageSize"
      [count]="_count"
      (change)="onPage($event)"
    ></laji-data-table-footer>
</laji-spinner>
  
  <laji-datatable-templates #dataTableTemplates></laji-datatable-templates>
  
