@import 'vars';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

lu-sidebar {
  flex-grow: 1;
}

.breadcrumb {
  background-color: $neutral-3;
}

main > div {
  max-width: 1000px;
}

:host ::ng-deep table {
  display: block;
  overflow-x: auto;
}
