<div [ngClass]="{
           'filters-container hidden': !showFilter,
           'filters-container': showFilter
     }">
  <div class="filter-toggle link" (click)="toggleFilters()">
    <i class="glyphicon"
       [ngClass]="{
            'glyphicon-arrow-right': showFilter,
            'glyphicon-arrow-left': !showFilter
           }"
    ></i>
  </div>
  <div class="form-group">
    <div class="col-xs-12 form-title">
      <strong>
        {{'observation.form.title' | translate}}
        <laji-observation-active [searchQuery]="searchQuery"></laji-observation-active>
      </strong>
    </div>
  </div>
  <div class="lj-filter-wrap">
    <ng-content></ng-content>
    <div style="padding-top: 10px" *ngIf="hasInvasiveControlRights">
      <button type="button" class="btn btn-default" (click)="toInvasiveControlForm()">
        {{'toICForm' | translate}}
      </button>
    </div>
    <div class="form-filters-fill"></div>
  </div>
</div>
<div *ngIf="!showFilter"
     class="filter-toggle link"
     style="right: 0"
     (click)="toggleFilters()"
>
  <i class="glyphicon"
     [ngClass]="{
            'glyphicon-arrow-right': showFilter,
            'glyphicon-arrow-left': !showFilter
           }"
  ></i>
</div>
