<div class="row filters">
  <div class="col-sm-6">
    <h4>{{ 'speciesList.filters.byRegion' | translate }}</h4>
    <div class="row">
      <div class="col-sm-6">
        <label>{{ 'speciesList.filters.continent' | translate }}</label>
        <select class="form-control input-sm" [ngModel]="query.continent" (ngModelChange)="selectChange('continent', $event)">
          <option [value]=""></option>
          <option *ngFor="let continent of filters?.continent" [value]="continent.id">{{ continent.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h4>{{ 'speciesList.filters.byTaxonomy' | translate }}</h4>
    <div class="row">
      <div class="col-sm-6">
        <label>{{ 'speciesList.filters.order' | translate }}</label>
        <select class="form-control input-sm" [ngModel]="query.order" (ngModelChange)="selectChange('order', $event)">
          <option [value]=""></option>
          <option *ngFor="let order of filters?.order" [value]="order.id">{{ order.scientificName }}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label>{{ 'speciesList.filters.family' | translate }}</label>
        <select class="form-control input-sm" [ngModel]="query.family" (ngModelChange)="selectChange('family', $event)">
          <option [value]=""></option>
          <ng-container *ngFor="let family of filters?.family">
            <option *ngIf="!query.order || query.order === family.order" [value]="family.id">
              {{ family.scientificName }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-9" *ngIf="showOnlyUnvalidated">
    <label>{{ 'speciesList.filters.onlyUnvalidated' | translate }}</label>
    <div class="bswitch-wrapper">
      <bSwitch
      [switch-on-text]="'yes' | translate"
      [switch-off-text]="'no' | translate"
      [switch-on-color]="'primary'"
      [switch-size]="'medium'"
      [(ngModel)]="query.onlyUnvalidated"
      (ngModelChange)="onQueryChange()"
      [switch-base-class]="'bootstrap-switch'">
    </bSwitch>
    </div>
  </div>
  <div class="col-sm-3" *ngIf="showSearch">
    <label for="search">{{ 'speciesList.filters.search' | translate }}</label>
    <laji-search-input [(searchQuery)]="query.searchQuery" (searchQueryChange)="onQueryChange()" id="search"></laji-search-input>
  </div>
</div>
