<div class="row filters">
  <div class="col-sm-6">
    <h4>{{ 'speciesList.filters.byRegion' | translate }}</h4>
    <div class="row">
      <div class="col-sm-6">
        <label>{{ 'speciesList.filters.continent' | translate }}</label>
        <select class="form-control input-sm" [ngModel]="query.continent" (ngModelChange)="selectChange('continent', $event)">
          <option [value]="undefined"></option>
          @for (continent of filters?.continent; track continent) {
            <option [value]="continent.id">{{ ('continents.' + continent.name) | translate }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h4>{{ 'speciesList.filters.byTaxonomy' | translate }}</h4>
    <div class="row">
      <div class="col-sm-6">
        <label>{{ 'speciesList.filters.order' | translate }}</label>
        <select class="form-control input-sm" [ngModel]="query.order" (ngModelChange)="selectChange('order', $event)">
          <option [value]="undefined"></option>
          @for (order of filters?.order; track order) {
            <option [value]="order.id">{{ order.scientificName }}</option>
          }
        </select>
      </div>
      <div class="col-sm-6">
        <label>{{ 'speciesList.filters.family' | translate }}</label>
        <select class="form-control input-sm" [ngModel]="query.family" (ngModelChange)="selectChange('family', $event)">
          <option [value]="undefined"></option>
          @for (family of filters?.family; track family) {
            @if (!query.order || query.order === family.order) {
              <option [value]="family.id">
                {{ family.scientificName }}
              </option>
            }
          }
        </select>
      </div>
    </div>
  </div>
  @if (showOnlyUnvalidated) {
    <div class="col-sm-9">
      <label>{{ 'speciesList.filters.onlyUnvalidated' | translate }}</label>
      <div class="bswitch-wrapper">
        <bSwitch
          [switch-on-text]="'yes' | translate"
          [switch-off-text]="'no' | translate"
          [switch-on-color]="'primary'"
          [switch-size]="'medium'"
          [(ngModel)]="query.onlyUnvalidated"
          (ngModelChange)="onQueryChange()"
          [switch-base-class]="'bootstrap-switch'">
        </bSwitch>
      </div>
    </div>
  }
  @if (showSearch) {
    <div class="col-sm-3">
      <label for="search">{{ 'speciesList.filters.search' | translate }}</label>
      <bsg-search-input [(searchQuery)]="query.searchQuery" (searchQueryChange)="onQueryChange()" id="search"></bsg-search-input>
    </div>
  }
</div>
