@import 'vars';

:host {
  display: block;
  width: max-content;
  padding: $sp-5;
}

img {
  height: 50px;
  width: 50px;
}

.img-container {
  padding: 10px;
}

.nav-container {
  padding: 10px;
  color: $neutral-8;
  &:hover, &:focus {
    color: $neutral-6;
    text-decoration: none;
  }
  > * {
    color: inherit;
  }
}

.nav-title {
  font-weight: 600;
}

.nav-description {
  max-width: 35em;
}
