<table class="table table-condensed" *ngIf="taxon">
  <tbody>
  <tr>
    <th>{{ 'taxonomy.scientific.name' | translate }}</th>
    <td>
      <span [class.cursive]="taxon.cursiveName">{{taxon.scientificName}}</span>
    </td>
  </tr>
  <tr>
    <th>{{ 'taxonomy.author' | translate }}</th>
    <td>{{taxon.scientificNameAuthorship}}</td>
  </tr>
  <tr *ngIf="taxon.vernacularName">
    <th>{{ 'taxonomy.vernacular.name' | translate }}</th>
    <td>{{taxon.vernacularName | multiLang}}</td>
  </tr>
  <tr *ngIf="taxon.synonyms">
    <th>{{ 'taxonomy.synonyms' | translate }}</th>
    <td>
      <ul class="comma-list">
        <li *ngFor="let synonym of taxon.synonyms"><span [class.cursive]="synonym.cursiveName">{{synonym.scientificName}}</span></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>{{ 'MX.taxonRank' | label}}</th>
    <td>{{taxon.taxonRank | label}}</td>
  </tr>
  <tr *ngIf="taxon.occurrenceInFinland">
    <th>{{ 'taxonomy.occurrenceInFinland' | translate }}</th>
    <td>{{taxon.occurrenceInFinland | label}}</td>
  </tr>
  <tr *ngIf="taxon.invasiveSpeciesCategory">
    <th>
      <img src="/static/images/vieraslaji.png" class="img-responsive"/>
    </th>
    <td>
      {{ 'taxonomy.invasive.phrase' | translate }}
      <a href="http://vieraslajit.fi"> {{ 'taxonomy.invasive.title' | translate }}</a>
      <table class="table table-condenced">
        <tbody>
        <tr>
          <th>{{ 'taxonomy.invasive.category' | translate }}</th>
          <td>{{taxon.invasiveSpeciesCategory | label}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr *ngIf="taxon.administrativeStatuses">
    <th>{{ 'taxonomy.administrative.statuses' | translate }}</th>
    <td>
      <ul>
        <li *ngFor="let status of taxon.administrativeStatuses">{{ status | label }}</li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="taxon.latestRedListStatusFinland">
    <th>{{ 'taxonomy.redListStatus2010Finland' | translate }}</th>
    <td>{{taxon.latestRedListStatusFinland.status | label}}</td>
  </tr>
  <tr>
    <th>{{ 'taxonomy.card.id' | translate }}</th>
    <td>http://tun.fi/{{taxon.id}}</td>
  </tr>
  <tr *ngIf="taxon.taxonExpert && taxon.taxonExpert.length > 0">
    <th>{{ (taxon.taxonExpert.length > 1 ? 'taxonomy.experts' : 'taxonomy.expert') | translate }}</th>
    <td>
      <ul class="comma-list">
        <li *ngFor="let export of taxon.taxonExpert">{{export | users}}</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
