<div (lajiClickOutSide)="close()" [clickOutSideActive]="open" (luCloseOnEsc)="close()">
  <input type="hidden" [(ngModel)]="value">
  <a class="btn btn-default btn-block informal-group-select" type="button" role="button" (click)="openMenu()" tabindex="0" luKeyboardClickable #groupBtn>
    @if (!innerValue) {
      <span>
        <ng-content></ng-content>
      </span>
    }
    @if (innerValue) {
      <span>
        {{ label }}
      </span>
    }
    @if (open) {
      <span>
        <span [ngClass]="{hidden: !open}" (click)="empty()" role="button" tabindex="0" luKeyboardClickable class="label label-danger link">
          <i class="glyphicon glyphicon-remove"></i>
        </span>
        <span [ngClass]="{hidden: !open}" (click)="toggle()" role="button" tabindex="0" luKeyboardClickable class="label label-success link">
          <i class="glyphicon glyphicon-ok"></i>
        </span>
      </span>
    }
  </a>
  @if (open) {
<div class="informal-group-container" [ngClass]="{
    'left': position === 'left',
    'right': position === 'right'
  }">
      <table>
        <tbody>
          @for (idx of range; track idx) {
            <tr>
              @if (groups[(idx * 2)]) {
                <td
                  role="button"
                  (click)="onClick(groups[(idx * 2)])" tabindex="0" luKeyboardClickable
                  class="item link informal-group-image {{groups[(idx * 2)].id}}">
                  <span [ngClass]="{active: groups[(idx * 2)] && groups[(idx * 2)].id && groups[(idx * 2)].id === innerValue}">
                    {{ groups[(idx * 2)]?.name }}
                  </span>
                  @if (groups[(idx * 2)] && groups[(idx * 2)]!.hasSubGroup && groups[(idx * 2)]!.hasSubGroup!.length > 0) {
                    <span>
                      <i class="glyphicon glyphicon-triangle-right"></i>
                    </span>
                  }
                </td>
              }
              @if (groups[(idx * 2 + 1)]) {
                <td
                  role="button"
                  (click)="onClick(groups[(idx * 2 + 1)])" tabindex="0" luKeyboardClickable
                  class="item link informal-group-image {{groups[(idx * 2 + 1)].id}}">
                  <span [ngClass]="{active: groups[(idx * 2 + 1)] && groups[(idx * 2 + 1)].id && groups[(idx * 2 + 1)].id === innerValue}">
                    {{ groups[(idx * 2 + 1)]?.name }}
                  </span>
                  @if (groups[(idx * 2 + 1)] && groups[(idx * 2 + 1)]!.hasSubGroup && groups[(idx * 2 + 1)]!.hasSubGroup!.length > 0) {
                    <span>
                      <i class="glyphicon glyphicon-triangle-right"></i>
                    </span>
                  }
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
