<div class="mt-6" style="margin-bottom: 10px">
  <h2 class="d-inline">
    <laji-taxon-name [capitalizeName]="true" [taxon]="taxon$ | async"></laji-taxon-name>
  </h2>
  <span class="gray ml-2"> ({{ template?.name }})</span>
  <laji-info [placement]="'right'" [html]="'theme.kerttu.info.taxon' | translate"></laji-info>
</div>
<div id="letterInfo">
  <div class="letter-info-text">
    <strong>{{ 'theme.kerttu.annotationsDone' | translate }}:</strong> {{ statusInfo?.userAnnotationCount }}/{{ statusInfo?.targetAnnotationCount }}
  </div>
  <div class="pull-right">
    <div class="letter-info-btn">
      <lu-button [disabled]="!candidate || !statusInfo?.hasPreviousCandidate" (click)="backToPreviousCandidateClick.emit()">
        {{ 'theme.kerttu.backToPreviousCandidate' | translate }}
      </lu-button>
      <laji-info [placement]="'left'" [html]="'theme.kerttu.info.goBackToPreviousCandidate' | translate"></laji-info>
    </div>
    <div class="letter-info-btn">
      <lu-button [disabled]="!template" [role]="'danger'" (click)="onSkipLetter()">
        {{ 'theme.kerttu.skipLetter' | translate }}
      </lu-button>
      <laji-info [placement]="'left'" [html]="'theme.kerttu.info.skipLetter' | translate"></laji-info>
    </div>
  </div>
</div>

<div id="letterAnnotationContainer" class="lu-section">
  <div class="row">
    <div class="col-md-12" id="letterAnnotationQuestionContainer">
      <h3 id="letterAnnotationQuestion">
        {{ 'theme.kerttu.areLettersSame' | translate }}
        <laji-info [html]="'theme.kerttu.info.areLettersSame' | translate"></laji-info>
      </h3>
      <div id="letterAnnotationButtons" class="d-inline">
        <button
          *ngFor="let a of [annotation.yes, annotation.no, annotation.unsure]"
          class="btn btn-lg"
          [ngClass]="{'btn-success': a === annotation.yes, 'btn-danger': a === annotation.no, 'btn-default': a === annotation.unsure}"
          [disabled]="!template || !candidate || loadingTemplate || loadingCandidate"
          (click)="onAnnotationChange(a)"
        >
          {{ a === annotation.yes ? ('yes' | translate) : a === annotation.no ? ('no' | translate) : ('theme.kerttu.notSure' | translate) }}
        </button>
      </div>
    </div>

    <div class="col-md-12" id="letterAnnotationSettings">
      <laji-audio-viewer-settings [(zoomed)]="zoomed" [(xRangePadding)]="timePadding"></laji-audio-viewer-settings>
    </div>

    <div id="letterTemplateContainer" class="col-md-6 col-md-push-6">
      <h4>{{ 'theme.kerttu.letterTemplate' | translate }}</h4>
      <laji-kerttu-audio-viewer
        [audio]="template?.audio"
        [focusArea]="{
          xRange: template?.xRange,
          yRange: template?.yRange
        }"
        [zoomTime]="true"
        [timePaddingOnZoom]="timePadding"
        [zoomFrequency]="zoomed"
        (audioLoading)="loadingTemplate = $event"
      ></laji-kerttu-audio-viewer>
    </div>
    <div id="letterCandidateContainer" class="col-md-6 col-md-pull-6">
      <h4>
        {{ 'theme.kerttu.letterCandidate' | translate }} ({{ 'theme.kerttu.correlation' | translate }} {{ candidate?.crossCorrelation | number : '1.0-2' }})
        <laji-info [placement]="'right'" [html]="'theme.kerttu.info.correlation' | translate"></laji-info>
      </h4>
      <laji-kerttu-audio-viewer
        [audio]="candidate?.audio"
        [focusArea]="{
          xRange: candidate?.xRange,
          yRange: candidate?.yRange
        }"
        [zoomTime]="true"
        [timePaddingOnZoom]="timePadding"
        [zoomFrequency]="zoomed"
        [autoplay]="autoplayCandidate"
        [autoplayRepeat]="3"
        (audioLoading)="loadingCandidate = $event"
      ></laji-kerttu-audio-viewer>
    </div>
    <div class="col-md-12">
      <h4>
        {{ 'theme.kerttu.letterCandidateLonger' | translate }}
        <laji-info [html]="'theme.kerttu.info.letterCandidateLonger' | translate"></laji-info>
      </h4>
      <lu-button (click)="candidateLongerVisible = true" *ngIf="!candidateLongerVisible">
        {{ 'theme.kerttu.show' | translate }}
      </lu-button>
      <laji-kerttu-audio-viewer
        *ngIf="candidateLongerVisible"
        [audio]="candidate?.audio"
        [focusArea]="{
          xRange: candidate?.xRange,
          yRange: candidate?.yRange
        }"
        [zoomFrequency]="zoomed"
      ></laji-kerttu-audio-viewer>
    </div>
  </div>
</div>
