<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-1 control-label">Rajaa</label>
    <div class="col-sm-5 col-md-4">
      <laji-taxon-select
        (taxonIdChange)="change('taxon', $event)"
        [placeholder]="'species.form.specimen' | translate"
        [taxonId]="query.taxon"
        [searchParams]="{}">
      </laji-taxon-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-5 col-md-4">
      <laji-select2 [value]="query?.redListGroup" (valueChange)="change('redListGroup', $event)"
                    [options]="redListStatuses$ | async"
                    [placeholder]="'Lajiryhmä'"
      ></laji-select2>
    </div>
    <div class="col-sm-5 col-md-4">
      <laji-select2 [value]="query?.habitat" (valueChange)="change('habitat', $event)" [options]="habitats$ | async" [placeholder]="'Elinympäristö'"></laji-select2>
    </div>
  </div>
  <ng-container *ngIf="threadReasons$ | async; let reasons">
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-5 col-md-4">
        <laji-select2
          [value]="query?.reasons"
          (valueChange)="change('reasons', $event)"
          [options]="reasons"
          [placeholder]="'Uhanalaisuuden syyt'"></laji-select2>
      </div>
      <div class="col-sm-5 col-md-4">
        <laji-select2
          [value]="query?.threats"
          (valueChange)="change('threats', $event)"
          [options]="reasons"
          [placeholder]="'Uhkatekijöillä'"></laji-select2>
      </div>
    </div>
  </ng-container>
  <div class="form-group" *ngIf="type !== 'status'">
    <div class="col-sm-offset-1 col-sm-11">
      <laji-redlist-class-filter [value]="query?.status" (valueChange)="change('status', $event)"></laji-redlist-class-filter>
    </div>
  </div>
</form>
