<div class="unit" *ngIf="unit">
    <div class="image" *ngIf="unit.media"><img [src]="unit.media[0].fullURL" /><div class="number-images"><span>{{ unit.media.length }}</span></div></div>
    <div class="image no-media" *ngIf="!unit.media"><span>No image</span></div>
    <div *ngIf="unit.linkings">
        <div *ngIf="unit.linkings.originalTaxon">
            <div class="taxon" ><span class="specie" *ngIf="unit.linkings.originalTaxon.vernacularName">{{ unit.linkings.originalTaxon.vernacularName | multiLang }}  - </span><span class="scientificName" *ngIf="unit.linkings.originalTaxon.scientificName">{{ unit.linkings.originalTaxon.scientificName }}</span></div>
        </div>
    </div>
</div>
