<div class="row">
  <div class="col-sm-12">
    <h3>Laskennan tulokset linjalta {{namedPlace.name}}</h3>
  </div>
</div>
<alert *ngIf="missingNS" [type]="'danger'">
  Havaintoerässä käytettyä nimettyä paikkaa ei löytynyt!
</alert>
<div class="edit-container">
  <a [routerLink]="path | localize" class="btn btn-primary">Siirry muokkaamaan <i class="glyphicon glyphicon-edit"></i></a>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <tr>
        <th>Lajimäärä</th>
        <td>{{counts.species.length}}</td>
      </tr>
      <tr>
        <th>Pääsaran parisumma</th>
        <td>{{counts.psCouples}}</td>
      </tr>
      <tr>
        <th>Parisumma yhteensä</th>
        <td>{{counts.tsCouples + counts.psCouples}}</td>
      </tr>
      <tr>
        <th>Pääsarkaprosentti</th>
        <td>{{counts.onPsPros}}%</td>
      </tr>
      <tr>
        <th>Laskentanopeus</th>
        <td>
          {{counts.minPerKm}}min/km
          (<span class="speed-warning" *ngIf="counts.minPerKm > 50; else slowSpeed">keskimääräistä hitaampi</span><ng-template #slowSpeed><span class="speed-warning" *ngIf="counts.minPerKm < 35; else normalSpeed">kesimääräistä nopeampi</span></ng-template><ng-template #normalSpeed><span class="speed-ok">normaali</span></ng-template>)
        </td>
      </tr>
      <tr *ngIf="stats$ | async let diff">
        <th>Poikkeama laskentapäivän mediaanista</th>
        <td>
          {{diff}}
        </td>
      </tr>
    </table>
    <table class="table">
      <thead>
      <tr>
        <th>Laji</th>
        <th>Pääsaran parisumma</th>
        <th>Parisumma yhteensä</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let species of counts.species">
        <td>{{species.name || species.id}}</td>
        <td>{{species.psCouples}}</td>
        <td>{{species.tsCouples + species.psCouples}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4" *ngIf="counts.onPsPros && ykj10kmN">
    <div class="row">
      <div class="col-sm-12" style="height: 250px">
        <laji-line-transect-chart
          [terms]="onMainTerms"
          [yRange]="[0, 50]"
          [xValue]="ykj10kmN"
          [yValue]="counts.onPsPros"
          [title]="'Pääsarkaprosentti'"
          [xLabel]="'ykj n'"
          [yLabel]="'%'"
        ></laji-line-transect-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="height: 250px; margin-top: 15px;">
        <laji-line-transect-chart
          [terms]="perKmTerms"
          [xValue]="ykj10kmN"
          [yValue]="counts.couplesPerKm"
          [title]="'Parihavaintoja / km'"
          [xLabel]="'ykj n'"
          [yLabel]="'lkm'"
        ></laji-line-transect-chart>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="warnings.length > 0">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th>Kuitattu virhe</th>
        <th>lkm</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let warning of warnings">
        <td>{{warning.message}}</td>
        <td>{{warning.cnt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div *ngIf="isAdmin && placesDiff" class="col-xs-12" style="padding-bottom: 5px;">
    <div class="btn-group" role="group">
      <button type="button"
              (click)="setActiveMapLine('document')"
              class="btn btn-sm btn-default {{activeMapLine === 'document' ? 'active' : ''}}">Näytä tämän laskennan reitti</button>
      <button type="button"
              (click)="setActiveMapLine('acceptedDocument')"
              class="btn btn-sm btn-default {{activeMapLine !== 'document' ? 'active' : ''}}">Näytä viimeksi hyväksytty reitti</button>
    </div>
    <button type="button"
            (click)="acceptNamedPlaceChanges()"
            class="btn btn-sm btn-success">Hyväksy muutokset</button>
  </div>
  <div class="col-xs-12" [style.height.px]="500" [style.display]="isAdmin && placesDiff ? 'block' : 'none'">
    <laji-map3 [options]="lajiMapOptions"></laji-map3>
  </div>
</div>
