<div class="row">
  <div class="col-sm-12">
    <h3>Laskennan tulokset linjalta {{namedPlace.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <tr>
        <th>Lajimäärä</th>
        <td>{{counts.species.length}}</td>
      </tr>
      <tr>
        <th>Pääsaran parisumma</th>
        <td>{{counts.psCouples}}</td>
      </tr>
      <tr>
        <th>Parisumma yhteensä</th>
        <td>{{counts.tsCouples + counts.psCouples}}</td>
      </tr>
      <tr>
        <th>Pääsarkaprosentti</th>
        <td>{{counts.onPsPros}}%</td>
      </tr>
      <tr>
        <th>Laskentanopeus</th>
        <td>
          {{counts.minPerKm}}min/km
          (<span class="speed-warning" *ngIf="counts.minPerKm > 50; else slowSpeed">keskimääräistä hitaampi</span><ng-template #slowSpeed><span class="speed-warning" *ngIf="counts.minPerKm < 35; else normalSpeed">kesimääräistä nopeampi</span></ng-template><ng-template #normalSpeed><span class="speed-ok">normaali</span></ng-template>)
        </td>
      </tr>
      <tr *ngIf="stats$ | async let diff">
        <th>Poikkeama laskentapäivän mediaanista</th>
        <td>
          {{diff}}
        </td>
      </tr>
    </table>
    <table class="table">
      <thead>
      <tr>
        <th>Laji</th>
        <th>Pääsaran parisumma</th>
        <th>Parisumma yhteensä</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let species of counts.species">
        <td>{{species.name || species.id}}</td>
        <td>{{species.psCouples}}</td>
        <td>{{species.tsCouples + species.psCouples}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4" *ngIf="counts.onPsPros && counts.ykj10kmN">
    <div class="row">
      <div class="col-sm-12" style="height: 250px">
        <laji-line-transect-chart
          [terms]="onMainTerms"
          [ykj10km]="counts.ykj10kmN"
          [value]="counts.onPsPros"
          [title]="'Pääsarkaprosentti'"
          [xLabel]="'ykj n'"
          [yLabel]="'%'"
        ></laji-line-transect-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="height: 250px; margin-top: 15px;">
        <laji-line-transect-chart
          [terms]="perKmTerms"
          [yRange]="[0, 50]"
          [ykj10km]="counts.ykj10kmN"
          [value]="counts.couplesPerKm"
          [title]="'Pareja / 1km'"
          [xLabel]="'ykj n'"
          [yLabel]="'lkm'"
        ></laji-line-transect-chart>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="warnings.length > 0">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th>Kuitattu virhe</th>
        <th>lkm</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let warning of warnings">
        <td>{{warning.message}}</td>
        <td>{{warning.cnt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="height: 0; position: absolute; top: -999px">
    <laji-map3 [options]="lajiMapOptions"></laji-map3>
  </div>
</div>
