<ng-container *ngIf="documentImages.length > 0 || gatheringImages.length > 0 || unitImages.length > 0">
  <ng-container *ngIf="gatheringImages.length > 0 else unit">
    <div>
      <laji-image-carousel-document [modalImages]="gatheringImages"></laji-image-carousel-document>
    </div>
  </ng-container>
  <ng-template  #unit>
      <div *ngIf="unitImages.length > 0">
        <laji-image-carousel-document [modalImages]="unitImages"></laji-image-carousel-document>
      </div>
  </ng-template>
</ng-container>
