<ng-container *lajiRequiresAudioSupport="sampleRate">
  <div class="top-content" [style.height]="topContentHeight + 'px'" #topContent>
    <laji-audio-viewer
      [audio]="recording"
      [(mode)]="audioViewerMode"
      [rectangles]="audioViewerRectangles"
      [focusArea]="{
        area: {xRange: recording.xRange},
        highlight: true,
        zoomTime: !showWholeTimeRange,
        timePaddingOnZoom: 0
      }"
      [adaptToContainerHeight]="true"
      [sampleRate]="sampleRate"
      [spectrogramConfig]="spectrogramConfig"
      [minFrequency]="minFrequency"
      [maxFrequency]="maxFrequency"
      [controls]="{
        slowDownControl: recording.taxonType === taxonTypeEnum.bat || recording.taxonType === taxonTypeEnum.insect,
        zoomControl: true
      }"
      [showSpectrogramConfig]="recording.taxonType === taxonTypeEnum.bat"
      [customControlsTpl]="audioCustomControls"
      [audioInfoTpl]="audioInfo"
      (drawEnd)="drawEnd($event)"
      (modeChange)="onAudioViewerModeChange()"
    ></laji-audio-viewer>
    <ng-template #audioCustomControls>
      <bsg-audio-viewer-custom-controls
        [enableShowWholeFrequencyRangeSetting]="recording.taxonType === taxonTypeEnum.bird"
        [enableShowWholeTimeRangeSetting]="recording.taxonType === taxonTypeEnum.bird || recording.taxonType === taxonTypeEnum.insect"
        [(showWholeFrequencyRange)]="showWholeFrequencyRange"
        [(showWholeTimeRange)]="showWholeTimeRange"
        (showWholeFrequencyRangeChange)="updateAudioViewerConfigForType(recording.taxonType)"
        [showWholeFrequencyRangeLabel]="'identification.highFrequencies' | translate"
        [showWholeTimeRangeLabel]="'identification.timeBuffer' | translate"
        [showWholeFrequencyRangeInfo]="'identification.highFrequencies.info' | translate"
        [showWholeTimeRangeInfo]="'identification.timeBuffer.info' | translate"
      ></bsg-audio-viewer-custom-controls>
    </ng-template>
    <ng-template #audioInfo let-audio="audio">
      <ng-container *ngIf="audio.targetSpecies">
        <span>
          <bsg-species-name [species]="audio.targetSpecies"></bsg-species-name>
        </span>
        <br>
      </ng-container>
      <span>
        {{ audio.dateTime | amDateFormat:'DD.MM.YYYY HH:mm' }}
        {{ audio.locality ? (audio.locality | titlecase) : audio.site.name }}<ng-container *ngIf="audio.site.country">, {{ audio.site.country }}</ng-container>
      </span>
      <span class="ml-2"><i [luPopover]="audioInfoPopover" [placement]="'left'" [mode]="'click'" [rootElement]="'body'" class="glyphicon glyphicon-info-sign info-sign"></i></span>
      <ng-template #audioInfoPopover>
        <div (click)="$event.stopPropagation()">
          <label class="mb-0">{{ 'identification.fileName' | translate }}:</label>
          <br>
          <span class="audio-url">{{ audio.url | fileName }}</span>
        </div>
      </ng-template>
    </ng-template>
    <div *lajiIfWidthAboveBreakpoint="'sm'" class="dragbar" (mousedown)="onDragStart()"></div>
  </div>
  <div class="bottom-content">
    <h2 class="mt-3">
      {{ 'identification.identify' | translate }}
      <laji-info [html]="'identification.identify.info' | translate" [showOnHover]="true"></laji-info>
    </h2>
    <div class="general-annotation-section mb-5">
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="annotation.isLowQuality" (change)="updateAnnotation()"/>{{ 'identification.isLowQuality' | translate }}
            </label>
            <laji-info [placement]="'right'" [html]="'identification.isLowQuality.info' | translate" [showOnHover]="true"></laji-info>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="annotation.containsHumanSpeech" (change)="updateAnnotation()">{{ 'identification.containsHumanSpeech' | translate }}
            </label>
            <laji-info [placement]="'right'" [html]="'identification.containsHumanSpeech.info' | translate" [showOnHover]="true"></laji-info>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="annotation.containsUnknownBirds" (change)="updateAnnotation()">{{ 'identification.containsUnknownBirds' | translateWithTaxonType: recording.taxonType }}
            </label>
            <laji-info [html]="'identification.containsUnknownBirds.info' | translateWithTaxonType: recording.taxonType" [showOnHover]="true"></laji-info>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="annotation.doesNotContainBirds" (change)="updateAnnotation()">{{ 'identification.doesNotContainBirds' | translateWithTaxonType: recording.taxonType }}
            </label>
            <laji-info [html]="'identification.doesNotContainBirds.info' | translateWithTaxonType: recording.taxonType" [showOnHover]="true"></laji-info>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="annotation.containsBirdsNotOnList" (change)="updateAnnotation()">{{ 'identification.containsBirdsNotOnList' | translateWithTaxonType: recording.taxonType }}:
            </label>
            <laji-info [placement]="'right'" [html]="'identification.containsBirdsNotOnList.info' | translateWithTaxonType : recording.taxonType" [showOnHover]="true"></laji-info>
          </div>
          <input class="form-control input-sm" type="text" [(ngModel)]="annotation.birdsNotOnList" [disabled]="!annotation.containsBirdsNotOnList" maxlength="100">
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="annotation.hasBoxesForAllBirdSounds" (change)="updateAnnotation()">{{ 'identification.hasBoxesForAllBirdSounds' | translateWithTaxonType: recording.taxonType }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h4>
        {{ 'identification.listBirdSpecies' | translateWithTaxonType: recording.taxonType }}
        <laji-info [placement]="'right'" [html]="'identification.listSpecies.info' | translate" [showOnHover]="true"></laji-info>
      </h4>
      <bsg-taxon-select
        id="species-select"
        [taxonType]="recording.taxonType"
        (taxonSelect)="addToIdentifications($event)"
      ></bsg-taxon-select>
    </div>
    <bsg-identification-table
      [recording]="recording"
      [(identifications)]="selectedSpecies"
      [loading]="loadingSpecies"
      [showSoundTypeSelect]="recording.taxonType === taxonTypeEnum.bird"
      [showDrawRelatedBoxBtn]="recording.taxonType === taxonTypeEnum.insect"
      [buttonsDisabled]="buttonsDisabled || loadingSpecies"
      [birdRectangleColor]="birdRectangleColor"
      [overlappingBirdRectangleColor]="overlappingBirdRectangleColor"
      [sampleRate]="sampleRate"
      [spectrogramConfig]="spectrogramConfig"
      [drawActive]="drawBirdActive"
      (drawBoxClick)="onDrawBirdClick($event)"
      (drawRelatedBoxClick)="onDrawBirdClick($event)"
      (deleteBoxClick)="removeDrawing($event)"
      (identificationsChange)="updateSpectrogramAndAnnotation()"
    ></bsg-identification-table>
    <div class="form-group mt-4 mb-4">
      <label for="drawNonBird" class="d-inline">
        {{ 'identification.drawNonBird' | translateWithTaxonType: recording.taxonType }}
      </label>
      <laji-info [placement]="'right'" [html]="'identification.drawNonBird.info' | translateWithTaxonType: recording.taxonType" [showOnHover]="true"></laji-info>
      <div>
        <button
          id="drawNonBird"
          class="btn"
          [ngClass]="{
              'btn-default': !drawNonBirdActive,
              'btn-primary': drawNonBirdActive
             }"
          (click)="toggleDrawNonBird()"
          [disabled]="buttonsDisabled || loadingSpecies"
        >
          {{ 'identification.' + (annotation.nonBirdArea ? 'redraw' : 'draw') | translate }}
        </button>
        <button
          *ngIf="annotation.nonBirdArea"
          class="btn btn-default ml-2"
          (click)="removeDrawing()"
          [disabled]="buttonsDisabled || loadingSpecies"
        >
          {{ 'identification.remove' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
