<div class="searchBar">
  <div class="container">
    <div class="col-sm-8">
      <div class="row">
        <form>
          <div class="form-group">
            <label class="sr-only" for="search-box">Email address</label>
            <div class="input-group">
              <input type="text" class="form-control" id="search-box"
                     placeholder="{{ 'search-bar.input' | translate }}" autoComplete="off"/>
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
