<div [class.hidden]="(forms?.length || 0) < 2">
  <select
    class="form-control"
    [ngModel]="formID"
    (ngModelChange)="formSelected($event)"
    [disabled]="!loaded || disabled"
    >
    <option value="" selected disabled>{{ 'excel.select-form' | translate }}</option>
    @for (form of forms$ | async; track form) {
      <option [value]="form.id" [disabled]="form.disabled">
        {{ form.title }}
        @if (form.disabled) {
          ({{ 'form.permission.no-access' | translate }})
        }
      </option>
    }
  </select>
</div>
