.panel.no-box-shadow {
  box-shadow: none;
}
.image-container {
  float: left;
  margin-right: 15px;
}
.image-container.image-grid {
  width: calc(91px * 3);
}

.block-container {
  margin-right: -5px;
  margin-left: -5px;
}

.block {
  width: calc(100% - 10px);
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
}

@media only screen and (min-width : 992px) {
  .block {
    width: calc(50% - 10px);
  }
}

::ng-deep .info-card .panel-body {
  overflow-y: auto;
}

.download-formats a:hover {
  text-decoration: none;
}
