<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel no-box-shadow" *ngIf="images.length > 0 || ingress || description">
      <div class="panel-body">
        <div class="image-container" *ngIf="images.length > 0" [ngClass]="{
            'image-grid-1': !taxon.species && images.length === 1,
            'image-grid-2': !taxon.species && images.length === 2,
            'image-grid-3': !taxon.species && images.length > 2
          }">
          <laji-image-gallery
            [modalImages]="images"
            [view]="taxon.species ? 'full3' : 'compact'"
            [showOverlay]="false"
            [showPopover]="false"
          ></laji-image-gallery>
        </div>
        <strong *ngIf="ingress" [innerHTML]="ingress | multiLang"></strong>
        <span *ngIf="description" [innerHTML]="description | multiLang"></span>
        <div *ngIf="ingress || description">
          <laji-taxon-description-source [taxonDescription]="_taxonDescription"></laji-taxon-description-source>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!isFromMasterChecklist">
      <ng-container [ngTemplateOutlet]="taxonInfo"></ng-container>
    </ng-container>

    <div *ngIf="isFromMasterChecklist"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.map.finland' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <p class="disclaimer">
        {{ 'taxonomy.map.disclaimer' | translate }}
      </p>
      <laji-ykj-map
        [query]="{taxonId: [taxon.id], countryId: ['ML.206'], cache: true}"
        [height]="'600px'"
        [type]="'count'"
        [types]="['count']"
        [mapOptions]="{
          controls: false,
          zoom: 2,
          viewLocked: true
        }"
      ></laji-ykj-map>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <ng-container *ngIf="isFromMasterChecklist">
      <ng-container [ngTemplateOutlet]="taxonInfo"></ng-container>
    </ng-container>

    <div class="panel panel-default"
         laji-panel
         [title]="'taxonomy.card.download' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <div class="download-formats">
        <a href="/api/taxa/{{ taxon.id }}?locale={{ translate.currentLang }}" rel="noopener" target="_blank">
          <span class="label label-default">json</span>
        </a>
        <a href="http://tun.fi/{{ taxon.id }}?format=rdfxml" rel="noopener" target="_blank">
          <span class="label label-primary">rdf+xml</span>
        </a>
        <a href="http://tun.fi/{{ taxon.id }}?format=rdfxml_dwc" rel="noopener" target="_blank">
          <span class="label label-success">dwc</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12" *ngIf="taxon.hasChildren">
    <div *ngIf="!taxon.species && taxon.countOfFinnishSpecies > 0"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.speciesPieChartTitle' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-species-pie
        [children]="taxonChildren"
        (taxonSelect)="taxonSelect.emit($event)"
      ></laji-species-pie>
    </div>

    <div *ngIf="taxon.hasChildren"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.belongs.to' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-datatable
        (rowSelect)="taxonSelect.emit($event.row.id)"
        [showFooter]="false"
        [virtualScrolling]="false"
        [clientSideSorting]="true"
        [rows]="taxonChildren"
        [count]="taxonChildren.length"
        [page]="1"
        [pageSize]="taxonChildren.length"
        [columns]="[
          {
            name: 'vernacularName',
            label: 'taxonomy.vernacular.name',
            sortable: true
          },
          {
            name: 'scientificName',
            label: 'taxonomy.scientific.name',
            cellTemplate: 'taxonScientificName',
            sortable: true
          }
        ]">
      </laji-datatable>
    </div>
  </div>
</div>

<ng-template #taxonInfo>
  <div class="panel panel-default"
       laji-panel
       [title]="'taxonomy.card' | translate"
       [open]="true"
       [autoToggle]="true"
  >
    <laji-taxon-info [taxon]="taxon"></laji-taxon-info>
  </div>
</ng-template>
