.panel.no-box-shadow {
  box-shadow: none;
}
.image-container {
  float: left;
  margin-right: 15px;
}
.image-container.image-grid-1 {
  width: calc(91px * 1);
}
.image-container.image-grid-2 {
  width: calc(91px * 2);
}
.image-container.image-grid-3 {
  width: calc(91px * 3);
}

:host /deep/ .link .panel-title{
  font-size: 1.5em;
}

@media only screen and (min-width : 992px) {
  .block {
    width: calc(50% - 10px);
  }
}

::ng-deep .info-card .panel-body {
  overflow-y: auto;
}

.download-formats a:hover {
  text-decoration: none;
}
