<div>
  <alert [type]="'danger'" *ngIf="formData?.formData?.locked">
    {{ 'document.locked' | translate }}
  </alert>
  <!--  REMOVE BEFORE MAKING PR-->
  <lu-button (click)="triggerError()">Trigger a React error</lu-button>
  <lu-button (click)="triggerAngularError()">Trigger an failed save (Angular error)</lu-button>
  <div #lajiForm></div>
  <div class="modal" tabindex="-1" role="dialog" bsModal #errorModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false }">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <ng-container *ngIf="errorModalData">
            <ng-container *ngTemplateOutlet="modalContent; context: errorModalData"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-description="description" let-buttons="buttons">
  <div class="alert alert-danger" role="alert">
    <span>{{ description | translate }}</span><br />
  </div>
  <ng-container *ngFor="let button of buttons">
    <ng-component *ngTemplateOutlet="modalButton; context: button"></ng-component>
  </ng-container>
</ng-template>

<ng-template #modalButton let-label="label" let-fn="fn">
  <lu-button (click)="fn()">
    {{ label | translate }}
  </lu-button>
</ng-template>

