<div>
  <alert [type]="'danger'" *ngIf="formData?.formData?.locked">
    {{ 'document.locked' | translate }}
  </alert>
  <!--  REMOVE BEFORE MAKING PR-->
  <lu-button (click)="triggerError()">Trigger a React error</lu-button>
  <lu-button (click)="triggerAngularError()">Trigger an failed save (Angular error)</lu-button>
  <div #lajiForm></div>
  <div class="modal" tabindex="-1" role="dialog" bsModal #errorModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false }">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>{{ "haseka.form.crash.description" | translate }}</span><br />
          </div>
          <lu-button (click)="reload()">
            {{ "haseka.form.crash.reload" | translate }}
          </lu-button>
          <lu-button (click)="leave()">
            {{ "haseka.form.crash.leave" | translate }}
          </lu-button>
        </div>
      </div>
    </div>
  </div>
</div>
