<h3>{{'profile.friends' | translate}}</h3>
<div *ngIf="isCurrentUser()">
  <div *ngIf="usersProfile.friends && usersProfile.friends.length > 0" class="friends">
    <ul>
      <li *ngFor="let id of usersProfile.friends">
        <a [routerLink]="['/user/' + id] | localize">{{id|users}}</a>
        <a (click)="removeFriend(id)" [tooltip]="'firend.remove' | translate"><i class="glyphicon glyphicon-remove"></i></a>
      </li>
    </ul>
  </div>
  <div *ngIf="usersProfile.friendRequests && usersProfile.friendRequests.length > 0" class="friendRequests">
    <h4>
      {{'friend.requests' | translate}}
    </h4>
    <ul>
      <li *ngFor="let id of usersProfile.friendRequests">
        <a [routerLink]="['/user/' + id] | localize">{{id|users}}</a>
        <a (click)="acceptFriendRequest(id)" [tooltip]="'firend.accept' | translate"><i
                class="glyphicon glyphicon-ok"></i></a>
        <a (click)="removeFriend(id)" [tooltip]="'firend.remove' | translate"><i class="glyphicon glyphicon-remove"></i></a>
        <a (click)="removeFriend(id, true)" [tooltip]="'firend.block' | translate"><i
                class="glyphicon glyphicon-ban-circle"></i></a>
      </li>
    </ul>
  </div>
  <div *ngIf="usersProfile.blocked && usersProfile.blocked.length > 0" class="friendRequests">
    <h4>
      {{'friend.blocked' | translate}}
      <small>({{usersProfile.blocked.length}})</small>
    </h4>
    <ul>
      <li *ngFor="let id of usersProfile.blocked">
        <a [routerLink]="['/user/' + id] | localize">{{id|users}}</a>
        <a (click)="removeBlock(id)" [tooltip]="'firend.removeBlock' | translate"><i
                class="glyphicon glyphicon-remove"></i></a>
      </li>
    </ul>
  </div>
  <p>{{'profile.friendsInfo'|translate}}</p>
</div>
<div *ngIf="!isCurrentUser() && hasProfile()">
  <div *ngIf="alreadyFriends()">
    {{'friend.alreadyFriends' | translate}}
  </div>
  <div *ngIf="requestSend">
    {{'friend.requestSent' | translate}}
  </div>
  <div *ngIf="!requestSend && !alreadyFriends()">
    <a class="btn btn-success" (click)="sendFriendRequest(profile.profileKey)">{{'friend.ask'|translate}}</a>
  </div>
</div>
<div *ngIf="!hasProfile()">
  {{'profile.friends.needProfile' | translate}}
</div>
