<laji-theme-page [title]="'Vieras&shy;lajit'"
  [navLinks]="[
    {
      routerLink: ['../vieraslajit', 'instructions'],
      label: 'instructions' | translate,
      visible: true
    },
    {
      routerLink: ['../vieraslajit', 'places'],
      label: 'invasiveSpecies.places' | translate,
      visible: rights?.edit || rights?.admin
    },
    {
      routerLink: ['/vihko/fp/HR.2049/admin'],
      label: 'form.administer' | translate,
      visible: rights?.admin
    }
  ]">
  <router-outlet></router-outlet>
</laji-theme-page>