<laji-sidebar [title]="'Vieras&shy;lajit'">
  <nav>
    <li>
      <a routerLinkActive="laji-sidebar-active"
         [routerLink]="['../vieraslajit', 'instructions']">
         {{'instructions' | translate}}</a>
    </li>
    <li *ngIf="(rights | async)?.edit || (rights | async)?.admin">
      <a routerLinkActive="laji-sidebar-active"
         [routerLink]="['../vieraslajit', 'places']">
         {{'invasiveSpecies.places' | translate}}</a>
    </li>
    <li *ngIf="(rights | async)?.admin">
      <a [routerLink]="['/vihko/fp/HR.2049/admin']">
         {{'form.administer' | translate}}</a>
    </li>
  </nav>
  <router-outlet></router-outlet>
</laji-sidebar>