<div id="haseka-container" class="flex-column">
  <div class="flex-column">
    <div class="row flex-column flex-row">
      <div class="col-sm-9 col-md-9 col-lg-10" id="content-container">
        <div>
          <h1>{{'haseka.title' | translate}}</h1>
          <ng-container *lajiBrowserOnly>
            <div class="row" *lajiLoggedIn="false">
              <div class="col-sm-8">
                <alert [type]="'danger'">
                  {{'haseka.pleaseLogin' | translate}}
                </alert>
              </div>
            </div>
          </ng-container>
          <div [innerHtml]="'haseka.intro' | translate" *ngIf="isFront"></div>
          <ng-container *lajiBrowserOnly>
            <div class="pull-right toggle-intro" *ngIf="!vihkoSettings.showIntro && isFront">
              <i (click)="toggleInfo()" class="link glyphicon glyphicon-info-sign"></i>
            </div>
            <alert *ngIf="vihkoSettings.showIntro && isFront" [dismissible]="true" (onClose)="toggleInfo()" [type]="'info'">
              <div [innerHtml]="'haseka.intro2' | translate"></div>
            </alert>
          </ng-container>
          <a [routerLink]="'/about/2336' | localize" target="_blank">{{'haseka.instructions' | translate}}</a> |
          <a [routerLink]="'/vihko/terms-of-service' | localize" target="_blank">{{'haseka.termsOfService' | translate}}</a>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-2 more-info flex-column">
        <ul class="sidebar-nav">
          <li><a class="link" [routerLink]="['/vihko', 'forms'] | localize">{{'haseka.forms.title' | translate}}</a></li>
          <li><a class="link" [routerLink]="['/vihko', 'ownSubmissions'] | localize">{{'haseka.ownSubmissions.title' | translate}}</a></li>
          <li><a class="link" [routerLink]="['/vihko', 'templates'] | localize">{{'haseka.templates.title' | translate}}</a></li>
          <li><a class="link" [routerLink]="['/vihko', 'statistics'] | localize">{{'haseka.statistics.title' | translate}}</a></li>
          <li><a class="link" [routerLink]="['/vihko', 'tools'] | localize">{{'haseka.tools' | translate}}</a></li>
        </ul>

        <laji-haseka-latest [userToken]="userService.getToken()"
                            *ngIf="userService.isLoggedIn$ | async"
                            (onShowViewer)="showDocumentViewer($event)"></laji-haseka-latest>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #documentModal="bs-modal"
     (onHidden)="documentModalVisible = false"
     (onShow)="documentModalVisible = true"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="documentModalVisible">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <laji-document [uri]="shownDocument" [own]="true"></laji-document>
      </div>
    </div>
  </div>
</div>
