:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 0;
  z-index: auto;
}

.sidebar-nav {
  padding-bottom: 2px;
}

.toggle-intro {
  padding: 10px 10px 0 0;
  font-size: 13px;
  color: #3498DB;
}

@media only screen and (min-width : 768px) {
  .flex-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 0;
  }

  .flex-row {
    flex-flow: row;
  }
}

#haseka-container {
  margin-left: 15px;
  margin-right: 15px;
}

#content-container {
  margin-bottom: 20px;
}
