:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

.more-info {
  padding-bottom: 10px;
  padding-top: 15px;
  background-color: rgb(236, 240, 241);
}

.toggle-intro {
  padding: 10px 10px 0 0;
  font-size: 13px;
  color: #3498DB;
}
