<table class="table taxon-table table-condensed" *ngIf="taxon">
  <tbody>
  <ng-container *ngFor="let synonymType of [
    'synonymOf',
    'basionyms',
    'objectiveSynonyms',
    'subjectiveSynonyms',
    'homotypicSynonyms',
    'heterotypicSynonyms',
    'synonyms',
    'misspelledNames',
    'orthographicVariants',
    'uncertainSynonyms',
    'misappliedNames',
    'alternativeNames'
  ]">
    <tr *ngIf="taxon[synonymType]">
      <th>{{ synonymType === 'synonymOf' ? ('taxonomy.synonymOf' | translate) : (
        ('MX.has' + synonymType[0].toUpperCase() + synonymType.substring(1, synonymType.length - 1)) | label
      ) }}
      </th>
      <td>
        <ul>
          <li *ngFor="let obj of taxon[synonymType]">
            <a [routerLink]="['/taxon', obj.id, 'taxonomy'] | localize" [queryParams]="{context: null}" [queryParamsHandling]="'merge'">
              <laji-taxon-name [taxon]="obj" [addLink]="false"></laji-taxon-name>
              <span class="author">{{ obj.scientificNameAuthorship }}</span>
            </a>
          </li>
        </ul>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

