h3 {
  margin-top: 0;
  padding-top: 15px;
}

.news-wrapper {
  padding: 0 15px;
}

.laji-news {
  padding: 0 15px
}

.media-body {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.media-heading {
  font-size: 15px;
}
