<div class="news-wrapper">
  <h3>{{ 'home.news-list.current' | translate }}</h3>
  <ng-container *ngIf="news$ | async; let news">
    <div *ngFor="let item of news.results" class="media">
      <div class="media-body">
        <div *ngIf="item.external">
          <a href="{{item.externalURL}}" target="_blank">
            <span class="media-heading">{{ item.title }} <i class="glyphicon glyphicon-new-window small"></i></span>
          </a>
        </div>
        <div *ngIf="!item.external">
          <a [routerLink]="['/news/' + item.id | localize]">
            <span class="media-heading">{{ item.title }}</span>
          </a>
        </div>
        <div>
          <span class="label label-default">{{ item.tag | translate }}</span>
          <span class="pull-right">{{ item.posted | slice:0:-3 | amFromUnix | amDateFormat:'DD.MM.YYYY' }}</span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xs-6" *ngIf="news.nextPage">
        <a (click)="gotoPage(news.nextPage)" class="link goto-page">
          <i class="glyphicon glyphicon-arrow-left"></i> {{ 'news.earlier' | translate }}
        </a>
      </div>
      <div class="col-xs-6" *ngIf="news.prevPage" style="text-align: right">
        <a (click)="gotoPage(news.prevPage)" class="link goto-page">
          {{ 'news.newer' | translate }} <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
      </div>
    </div>
  </ng-container>
</div>
