.scrollable-selection-list {
  padding: 10px;
  flex: 1;
  overflow: auto;
}
.vertical-align {
  display: flex;
  align-items: center;
}

@media only screen and (min-width : 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  .flex-container .row {
    flex-direction: row;

    > * {
      flex: 0 0 auto;
    }
  }
}
