<div ng-template #treeModal>
  <div class="modal-header">
    <div class="modal-title pull-left">
      <div class="vertical-align">
        <h4>{{modalTitle}}</h4>
        <laji-info class="vertical-align pull-left" [placement]="'bottom'">
          <span [innerHtml]="'observation.info.collection.modal' | translate" lajiRouteTransformer></span>
        </laji-info>
      </div>
    </div>
    <button type="button" class="close" (click)="confirm()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="container-flex">
      <ng-container *ngIf="optionsTree$ | async; let optionsTree; else loading">
        <div class="row">
          <div class="col-md-8">
            <h5>{{browseTitle}}</h5>
            <input class="tree-filter form-control input-sm" type="text" (keyup)="onFilterChange(toHtmlInputElement($event.target).value)"/>
            <div class="scrollable-tree">
              <tree-root
                #tree
                [focused]="true"
                [nodes]="optionsTree"
                [options]="options"
                (initialized)="treeInit()"
              >
                <ng-template #treeNodeWrapperTemplate let-node>
                  <div class="node-wrapper">
                    <tree-node-expander [node]="node"></tree-node-expander>
                    <div [class]="node.getClass()" [style.padding-left]="node.getNodePadding()"
                      [class.node-content-wrapper-active]="node.isActive"
                      [class.node-content-wrapper-focused]="node.isFocused"
                      (click)="node.mouseAction('click', $event)">
                      <laji-checkbox [checkboxType]="checkboxType" [value]="getCheckboxValue(node.data.id)"></laji-checkbox>
                      <span *ngIf="includeCount then withCount; else withoutCount"></span>
                      <ng-template #withCount>
                        <span>{{ node.data.name }} ({{ node.data.count | countRounding }})</span>
                      </ng-template>
                      <ng-template #withoutCount>
                        <span>{{ node.data.name }}</span>
                      </ng-template>
                      <span *ngIf="includeLink">                     
                        <a
                          id="selectionLink"
                          [tooltip]="'openCollectionPage' | translate"
                          container="body"
                          target="_blank" [href]="node.data.id | toFullUri">
                          <i 
                            id="selectionLink"
                            class="glyphicon glyphicon-eye-open selection-link"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </ng-template>
              </tree-root>
            </div>
          </div>
          <div class="col-md-4">
            <h5>{{selectedTitle}}</h5>
            <div class="scrollable-selection-list">
              <laji-selected-tree-nodes [selectedOptions]="selectedOptions" [includedTitle]="includedTitle" [excludedTitle]="excludedTitle" (selectedOptionsChange)="deselect($event)"></laji-selected-tree-nodes>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <laji-spinner [overlay]="true">
        </laji-spinner>
      </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <lu-button role="secondary" (click)="clear()">{{clearButtonLabel}}</lu-button>
    <lu-button role="primary" (click)="confirm()">{{okButtonLabel}}</lu-button>
  </div>
</div>



