:host {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable-selection-list {
  padding: 10px;
  flex: 1;
  overflow: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.flex-container .row {
  flex-direction: row;

  > * {
    flex: 0 0 auto;
  }
}
