<div *ngIf="filteredRows$ | async; else loading; let rows">
  <input class="form-control d-block my-4"
    type='text'
    placeholder="{{'haseka.submissions.filter' | translate}}"
    (keyup)="onSearchKeyUp($event)">
  <ngx-datatable
    class="material"
    [rowHeight]="35"
    [rows]="rows"
    [columns]="cols"
    [cssClasses]="datatableClasses"
    [scrollbarV]="true"
    [messages]="{ emptyMessage: '' }"
    (activate)="onActivate($event)"
  ></ngx-datatable>
</div>

<ng-template #loading><laji-spinner class="d-block m-6"></laji-spinner></ng-template>
