<a class="notification" [class.unseen]="!notification.seen"
   (click)="notificationSeen.emit(notification)"
   [class.seen]="notification.seen"
   [routerLink]="[targetPath] | localize"
   [queryParams]="targetQuery">
  <small>{{notification.created | amTimeAgo}}</small><br>
  <small [innerHtml]="'notification.annotation' | translate: {uri: target, person: (by | users)}"></small>
</a>
<button type="button" class="delete" (click)="onRemove(notification)"><i class="glyphicon glyphicon-remove"></i></button>
