@import 'vars';

:host {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.notification-container {
  display: flex;
  flex-flow: row nowrap;
}

.notification {
  padding: 3px 20px;
  display: block;
  border-top: 1px solid #ccc;
  text-decoration: none;
  color: $neutral-7;
}

.notification:hover {
  color: #333 !important;
  background: #dfdfdf !important;
}

.unseen {
  background-color: #fcf8e3;
}

.unseen:hover {
  background-color: #faebcc;
}

.delete {
  width: 30px;
  background: #f5f5f5;
  border: 1px solid #ccc;
}

.delete:hover,
.delete:focus {
  background: #c2c2c2;
}
