#datepicker-container {
  margin-bottom: 15px;
}

:host ::ng-deep #datepicker-container .input-group {
  margin-bottom: 2px;
}

:host ::ng-deep #datepicker-container .input-group-addon {
  width: 1%;
  display: table-cell;
}
:host ::ng-deep #datepicker-container .input-group-addon:first-child {
  min-width: 120px;
}
