<div class="form-group omni-search" *ngIf="visible" (keyup)="keyEvent($event)">
  <label class="sr-only" for="search-box">{{ placeholder }}</label>
  <input type="text"
         class="form-control input-sm omni"
         id="search-box"
         [class.expandRight]="expand === 'right'"
         [class.expand]="expand === 'right' || expand === 'left'"
         [class.open]="taxa.length > 0 && search.length > 0"
         [value]="search"
         [formControl]="searchControl"
         placeholder="{{placeholder}}" autoComplete="off"/>
    <!--<span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="close()">
        <span
                [ngClass]="{
            'glyphicon-search': search.length == 0,
            'glyphicon-remove-circle': search.length > 0
          }"
                class="glyphicon glyphicon-remove-circle"
                aria-hidden="true"></span>
      </button>
    </span>-->
  <div style="clear: both"></div>
  <div class="col-sm-12" *ngIf="taxa.length > 0 && search.length > 0">
    <div class="omni-search-results" [class.right]="expand === 'right'" (lajiClickOutSide)="close()">
      <div class="row" *ngIf="taxon">
        <div class="col-md-3 matches">
          <h5
                  class="match"
                  *ngFor="let taxon of taxa; let i=index"
                  [ngClass]="{active: i === active, link: i !== active}"
                  (click)="activate(i)">
            {{ taxon.value }}
          </h5>
          <hr class="hidden-md hidden-lg">
        </div>
        <div class="col-md-9 taxon-match">
          <h3><laji-taxon-name [taxon]="taxon.payload"></laji-taxon-name></h3>

          <div class="row">
            <div class="col-md-6 first-col">
              <div style="margin-bottom: 10px">
                <a [routerLink]="['/taxon/' + taxon.key] | localize" (click)="close()">
                  {{ 'Siirry lajikortille' }}
                  <i class="glyphicon glyphicon-tag"></i>
                </a>
                <br>
                <a [routerLink]="['/taxon/' + taxon.key] | localize" (click)="close()">
                  {{ 'Selaa taksonomiaa' }}
                </a>
              </div>

              <div style="margin-bottom: 10px">
                <a [routerLink]="['/observation/map'] | localize" [queryParams]="{target: taxon.key }" (click)="close()">
                  {{ 'navigation.observation' | translate }}
                </a>
                <br>
                {{ taxon.count }}
                {{ 'omniSearch.allObservation' | translate }}
              </div>
            </div>

            <div class="col-md-6 second-col">
              <div class="informal-group-image {{taxon.informalTaxonGroupsClass}}">
                {{ 'omniSearch.rank' | translate }}: {{ taxon.payload.taxonRankId | label }}<br>
                {{ 'omniSearch.groups' | translate }}: {{ taxon.informalTaxonGroups | multiLang | values }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
