<div class="form-group omni-search" (keyup)="keyEvent($event)">
  <label class="sr-only" for="search-box">Search</label>
  <div class="input-group input-group">
    <input type="text"
           class="form-control"
           id="search-box"
           [ngClass]="{loading: loading}"
           [value]="search"
           [formControl]="searchControl"
           placeholder="{{placeholder}}" autoComplete="off"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="close()">
        <span
                [ngClass]="{
            'glyphicon-search': search.length == 0,
            'glyphicon-remove-circle': search.length > 0
          }"
                class="glyphicon glyphicon-remove-circle"
                aria-hidden="true"></span>
      </button>
    </span>
  </div>
  <div class="col-sm-12">
    <div class="omni-search-results" *ngIf="taxa.length > 0 && search.length > 0">
      <div class="row" *ngIf="taxon">
        <div class="col-md-3 matches">
          <h5
                  class="match"
                  *ngFor="let taxon of taxa; let i=index"
                  [ngClass]="{active: i === active, link: i !== active}"
                  (click)="activate(i)">
            {{taxon.value}}
          </h5>
        </div>
        <div class="col-md-5 first-col">
          {{'omniSearch.matches' | translate}}
          <div class="row">
            <div class="col-md-12 taxon-match informal-group-image {{taxon.informalTaxonGroupsClass}}">
              <a [routerLink]="['/taxon/' + taxon.key]"><span class="vernacularName">{{taxon?.vernacularName}}</span></a><br>
              <a [routerLink]="['/taxon/' + taxon.key]"><span
                      class="scientificName" [ngClass]="{cursive: taxon.payload.isCursiveName}">{{taxon.payload.scientificName}}</span></a><br>
              {{'omniSearch.rank'|translate}}: {{taxon.payload.taxonRankId | label}}<br>
              {{'omniSearch.groups'|translate}}:<br>
              <ul>
                <li *ngFor="let group of taxon.informalTaxonGroups">{{group}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 second-col">
          {{ 'navigation.observation' | translate }}
          <div class="row">
            <div class="col-md-offset-1 col-md-11 observations" *ngIf="taxon">
              <!--<laji-observation-count [query]="{taxonId:[getActive().key], counteryId: ['ML.206']}"></laji-observation-count>{{'omniSearch.finnish-observation'|translate}}<br>-->
              <a [routerLink]="['/observation']" [queryParams]="{target: taxon.payload.scientificName}">
                {{taxon?.count}}
                {{'omniSearch.allObservation'|translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
