.omni-search {
  margin-bottom: 0;
  position: relative;
}

.omni-search-results {
  position: absolute;
  left: 0;
  right: 1px;
  background-color: #ffffff;
  padding: 5px;
  z-index: 1029;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #aaa;
  border-radius: 10px;
  min-width: 250px;
}
.omni-search-results.right {
  right: 0;
  left: auto;
}

.omni-search-results .matches .active {
  color: #2C3E50;
  font-weight: bold;
}

.omni-search-results .scientificName.cursive {
  font-style: italic;
}

.taxon-match {
  padding-left: 65px;
}

.btn-default {
  border-left-color: #fff;
}

.btn-default:hover {
  border-left-color: #fff;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.taxon-match, .observations, .taxonomy {
  color: #2c2c2c;
}

.omni-search-results .informal-group-image {
  background-size: auto 65px;
  background-position: top left;
}

@media only screen and (min-width : 992px) {
  .omni-search-results {
    min-width: 727px;
  }

  .omni-search-results .first-col {
    border-left: 1px solid #999;
  }
}

.omni {
  border-radius: 30px;

  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;

}

.omni-search:after {
  content: "\e003";
  font-family: "Glyphicons Halflings";
  line-height: 1;
  position: absolute;
  color: #7d7d7d;
  top: 7px;
  right: 9px;
}

.omni.expandRight {
  float: right;
  padding-right: 20px;
}

.omni.expand {
  width: 90px;
  border-color: rgba(0, 0, 0, 0.2);
}

.omni.expand.open,
.omni.expand:focus {
  width: 100%;
  background-color: #fff;
}
