@import 'vars';

.child-name {
  margin-top: $sp-5;
  margin-bottom: $sp-4;
}

.child-scientific-name-container {
  font-size: $fs-6;
}

.child-scientific-name {
  font-weight: 600;
}

.child-rank {
  color: $neutral-6;
  font-style: normal;
  font-weight: 400;
}

.child-vernacular-name {
  font-size: $fs-5;
  color: $neutral-7;
}

.cursive {
  font-style: italic;
}