<div *ngIf="taxon.taxonRank === 'MX.species'; else parent" class="lu-text-content">
  <div *ngFor="let media of taxon.multimedia">
    <img lajiLazyImage [src]="media.largeURL">
  </div>
</div>

<ng-template #parent>
  <div *ngFor="let child of taxonChildren">
    <div class="child-name">
      <div class="child-scientific-name-container">
        <a class="child-scientific-name" [ngClass]="child.taxonomy.cursiveName ? 'cursive' : null" [routerLink]="['/taxon', child.taxonomy.id, 'identification']" preserveQueryParams>{{child.taxonomy.scientificName}}</a>
        <span class="child-rank"> ({{ child.taxonomy.taxonRank | label }})</span>
      </div>
      <div class="child-vernacular-name">
        {{child.taxonomy.vernacularName}}
      </div>
    </div>
    <laji-identification-species-list
      [speciesList]="child.species?.results"
    ></laji-identification-species-list>
  </div>
</ng-template>
