<div *ngIf="taxon.taxonRank === 'MX.species'; else parent" class="lu-text-content">
  <div *ngFor="let media of taxon.multimedia">
    <img lajiLazyImage [src]="media.largeURL">
  </div>
</div>

<ng-template #parent>
  <div *ngFor="let child of taxonChildren">
    <div class="child-name">
      <div class="child-scientific-name-container">
        <a class="child-scientific-name" [routerLink]="['/taxon', child.taxonomy.id, 'identification']" preserveQueryParams>{{child.taxonomy.scientificName}}</a>
        <span class="child-rank"> ({{ child.taxonomy.taxonRank | label }})</span>
      </div>
      <div class="child-vernacular-name">
        {{child.taxonomy.vernacularName}}
      </div>
    </div>
    <div class="d-flex species-container mb-8">
      <div *ngFor="let species of child.species?.results" class="species d-flex flex-col mr-4">
        <div class="species-name-container">
          <div><a [routerLink]="['/taxon', species.id, 'identification']" class="species-scientific-name" preserveQueryParams>
            {{ species.scientificName }}
          </a></div>
          <div class="species-vernacular-name">{{ species.vernacularName }}</div>
        </div>
        <div class="species-img-container flex-grow">
          <ng-container *ngIf="species.multimedia?.length > 0">
            <img [src]="species.multimedia[0].largeURL">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
