<laji-spinner [spinning]="!form && loading" [overlay]="true"></laji-spinner>
<div class="row">
  <div [ngClass]="{
    'col-sm-7': form?.logo,
    'col-sm-11': !form?.logo
  }">
    <h1>{{form?.title}}</h1>
    <alert *ngIf="errorMsg" type="danger">{{errorMsg}}</alert>
    <div [innerHtml]="form?.description"></div>
  </div>
  <div class="col-sm-4" *ngIf="form?.logo">
    <img src="{{form.logo}}">
  </div>
  <div class="col-sm-1 form-actions" *ngIf="form?.printType && form?.formData.namedPlaceID">
    <span [ngSwitch]="form.printType">
      <a *ngSwitchCase="'MHL.printTypeLineTransect'"
        class="btn btn-sm btn-default pull-right"
        [routerLink]="['/vihko/np/', form.formData.namedPlaceID, 'print', form.printType]">print</a>
    </span>
  </div>
</div>
<div class="row" *ngIf="namedPlace" style="margin-top: 10px">
  <div class="col-sm-12">
    <strong>{{namedPlace.name}}</strong>
  </div>
</div>
<div class="clear"></div>
<div class="laji-form" *ngIf="form?.id">
  <laji-form
          [formData]="form"
          [lang]="lang"
          [tick]="tick"
          (onChange)="onChange($event)"
          (onSubmit)="onSubmit($event)"></laji-form>
  <div class="form-footer">
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <button class="btn btn-default" [disabled]="saving" type="submit" (click)="submitPublic()">{{'haseka.form.savePublic'|translate}}</button>
      </div>
      <div class="col-xs-3 col-sm-2">
        <button *ngIf="enablePrivate" class="btn btn-default" [disabled]="saving" type="submit" (click)="submitPrivate()">{{'haseka.form.savePrivate'|translate}}</button>
      </div>
      <div class="col-xs-3 col-sm-6 form-control-static info" [ngSwitch]="status">
        <div *ngSwitchCase="'success'" class="success status">
          {{'haseka.form.success'|translate}}
        </div>
        <div *ngSwitchCase="'error'" class="error status">
          {{'haseka.form.error' | translate}}
        </div>
        <div *ngSwitchCase="'unsaved'" class="unsaved status">
          <span *ngIf="form.formData.dateEdited">
            {{'haseka.form.unsaved' | translate:{saveTime: form.formData.dateEdited | amDateFormat:'DD.MM.YYYY HH:mm'} }}
          </span>
          <span *ngIf="!form.formData.dateEdited">
            {{'haseka.form.unsavedNever' | translate}}
          </span>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <button class="btn btn-default pull-right" [disabled]="saving" type="submit" (click)="discard()">{{'haseka.form.back'|translate}}</button>
      </div>
    </div>
  </div>
</div>
