<hr>
<div class="unit" *ngIf="unit">
  <div [ngClass]="{'highlight': highlight === unit.unitId}">
    <laji-unit-rows [unit]="unit" [showFacts]="showFacts"></laji-unit-rows>
    <laji-row *ngIf="unit.media" [title]="'species.images'|translate">
      <div class="image-holder">
        <laji-image-gallery *ngIf="unit.media" [modalImages]="unit.media"></laji-image-gallery>
      </div>
    </laji-row>
    <laji-facts [show]="showFacts" [facts]="unit.facts | factNotIn:['http://tun.fi/MY.autocompleteSelectedTaxonID']"></laji-facts>
  </div>

  <laji-observation-effective-tags-taxon
    [unit]="unit"
    [showRecordQuality]="false"
    [showTitle]="false"
    [showEffectiveTaxon]="false"
  ></laji-observation-effective-tags-taxon>

  <laji-row [title]="'annotation.title'|translate" *ngIf="annotations.length > 0">
    <a (click)="showAnnotations()" style="display: block; font-size: 13px; cursor: pointer;">
      <span *ngIf="annotations.length > 0">
        <!--{{ 'annotation.show' | translate }} -->
        <span>{{ annotations.length }} </span>
        <span *ngIf="annotations.length === 1; else multiple" style="text-transform: lowercase;">{{ 'annotation.titleSingle' | translate }}</span>
        <ng-template #multiple><span style="text-transform: lowercase;">{{ 'annotation.title' | translate }}</span></ng-template>
      </span>
    </a>
  </laji-row>

  <div class="samples" *ngIf="unit && unit.samples && unit.samples.length > 0">
    <strong>{{ 'viewer.samples' | translate }}</strong>
    <ng-container *ngFor="let sample of unit.samples">
      <ng-container *ngIf="(showOnlyHighlighted && sample.sampleId ) || !showOnlyHighlighted">
        <laji-sample [sample]="sample" [showFacts]="showFacts" [highlight]="highlight"></laji-sample>
      </ng-container>
    </ng-container>
  </div>
</div>
