hr {
  margin: 4px 0;
}
.highlight {
  border-left: 3px solid #E7D759;
}
.unit {
  position: relative;
  min-height: 30px;
}
.annotation-btn {
  position: absolute;
  margin-right: -28px;
  right: 0;
  top: 0;
  z-index: 1;
}
