<hr>
<div class="unit" *ngIf="unit">
  <div [ngClass]="{'highlight': highlight === unit.unitId}">
    <laji-unit-rows [unit]="unit" [showFacts]="showFacts"></laji-unit-rows>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-4">
        <div class="image-holder">
          <laji-image-gallery *ngIf="unit.media" [modalImages]="unit.media"></laji-image-gallery>
        </div>
      </div>
    </div>
    <laji-facts [show]="showFacts" [facts]="unit.facts | factNotIn:['http://tun.fi/MY.autocompleteSelectedTaxonID']"></laji-facts>
  </div>
  <div class="annotation-btn">
    <button type="button"
            [tooltip]="'annotation.title' | translate"
            placement="left"
            class="btn btn-xs {{annotationClass$ | async}}"
            (click)="toggleAnnotations()">
      <i class="fa {{annotationIcon}}"></i>
    </button>
  </div>
  <ng-container *ngIf="annotationVisible">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-2 annotations">
        <laji-annotations
          [identifying]="identifying"
          [editors]="editors"
          [personID]="personID"
          [rootID]="documentID"
          [targetID]="unitID"
          [annotations]="annotations"
          (close)="hideAnnotations()"
          (change)="initAnnotationStatus($event)"
        ></laji-annotations>
      </div>
    </div>
  </ng-container>
</div>
