<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open}">
  <strong class="lj-title link" (click)="toggle(filter)">{{title}}</strong>
  <label class="lj-item selected" *ngFor="let option of selectedOptions; trackBy: track">
    <input type="checkbox" checked (change)="remove(option.id)">
    <span>{{option.name}}</span>
  </label>
  <div class="lj-filter" [hidden]="!useFilter || !open">
    <input #filter (keyup)="onFilterChange($event, filter.value)" class="form-control" type="search" placeholder="{{filterPlaceHolder}}">
  </div>
  <div *ngIf="open" class="lj-item-container">
    <div [class.lj-active]="i === selectedIdx" *ngFor="let option of unselectedOptions; let i = index; trackBy: track">
      <label class="lj-item">
        <input type="checkbox" (change)="add(option.id)">
        <span>{{option.name}}</span>
      </label>
    </div>
  </div>
</div>
