<div class="info">
    <b>{{ 'annotation.occurrenceAtTime' | translate }}</b>
    <ul>
        <li *ngIf="occurrence && occurrence.taxonId">
            <b>Taxon: </b>
            <span>
                {{ occurrence.taxonId | toQName | label }} - <em>{{ occurrence.taxonVerbatim }}</em>
                <a (click)="onTaxonLinkClick($event)" [routerLink]="['/taxon/' + (occurrence.taxonId | toQName)] | localize" target="_blank"
                [tooltip]="'showSpeciesCard' | translate" placement="right" tabindex="-1">
                  <i class="glyphicon glyphicon-tag"></i>
                </a>
            </span>
        </li>
        <li *ngIf=" occurrence && (occurrence.dateBegin || occurrence.dateEnd)">
            <b>{{ 'observation.form.date' | translate }}: </b>
            <span *ngIf="occurrence.dateBegin !== occurrence.dateEnd; else oneDate">
                {{ occurrence.dateBegin }} - {{ occurrence.dateEnd }}
            </span>
            <ng-template #oneDate>
                {{ occurrence.dateEnd }}
            </ng-template>
        </li>
        <li *ngIf="occurrence && (occurrence.countryVerbatim || occurrence.municipalityVerbatim || occurrence.locality)">
            <b>{{ 'result.gathering.locality' | translate }}: </b>
            <span>
                <ul class="separated-list">
                    <li *ngIf="occurrence.countryVerbatim" [tooltip]="'MY.country' | label" [isDisabled]="hideTooltips">
                        {{ occurrence.countryVerbatim }}</li>
                    <li *ngIf="occurrence.municipalityVerbatim" [tooltip]="'MY.municipality' | label" [isDisabled]="hideTooltips">
                        {{ occurrence.municipalityVerbatim }}</li>
                    <li *ngIf="occurrence.locality" [tooltip]="'MY.locality' | label" [isDisabled]="hideTooltips">
                        {{ occurrence.locality }}
                    </li>
                </ul>
            </span>
        </li>
        <li *ngIf="occurrence && occurrence.wgs84centerPointLat && occurrence.wgs84centerPointLon">
            <b>{{ 'observation.active.coordinates' | translate }}: </b>
            <span>
                {{ occurrence.wgs84centerPointLat }} , {{ occurrence.wgs84centerPointLon }}
            </span>
        </li>
    </ul>
</div>        
