:host >>> .ngx-datatable .datatable-body {
  max-height: calc(80vh - 50px - 50px - 37px) !important;
}

#datepicker-container {
  margin-bottom: 15px;
}

:host >>> #datepicker-container .input-group {
  margin-bottom: 2px;
}

:host >>> #datepicker-container .input-group-addon {
  width: 1%;
  display: table-cell;
}
