<ng-container *ngIf="letters && annotations" >
  <div class="row well" id="annotationContainer">
    <div class="col-md-6">
      <h4>{{ 'theme.kerttu.letterTemplate' | translate }}
        <select class="form-control" [value]="currentTemplate" (change)="onTemplateChange(templateSelect.value)" #templateSelect>
          <option *ngFor="let item of letters; let i = index" [value]="i">
            {{ i + 1 }}
          </option>
        </select>/{{ letters.length }}
      </h4>
      <laji-audio-viewer
        [recording]="letters[currentTemplate].template"
      ></laji-audio-viewer>
    </div>
    <div class="col-md-6">
      <h4>{{ 'theme.kerttu.letter' | translate }}
        <select class="form-control" [value]="currentCandidate" (change)="onCandidateChange(letterSelect.value)" #letterSelect>
          <option *ngFor="let item of letters[currentTemplate].candidates; let i = index" [value]="i">
            {{ i + 1 }}
          </option>
        </select>/{{ letters[currentTemplate].candidates.length }}
      </h4>
      <laji-audio-viewer
        [recording]="letters[currentTemplate].candidates[currentCandidate]"
      ></laji-audio-viewer>
    </div>
    <div class="col-md-12">
      <h3>{{ 'theme.kerttu.areLettersSame' | translate }}</h3>
      <laji-three-state-switch
        (valueChange)="onAnnotationChange($event)"
        [onValue]="annotation.yes"
        [offValue]="annotation.no"
        [undefinedValue]="annotation.maybe"
        [onText]="'yes' | translate"
        [offText]="'no' | translate"
        [undefinedText]="'theme.kerttu.notSure' | translate"
        [showUndefined]="true"
        [value]="currentAnnotation">
        ></laji-three-state-switch>
    </div>
  </div>
</ng-container>
