@if (information$ | async; as information) {
  <lu-sidebar position="right" [staticWidth]="280" [displayNav]="!!information.children">
    <main class="d-flex">
      <div class="d-flex justify-center flex-grow information-wrapper">
        <div class="mt-4 mb-8 mx-4 d-flex flex-col flex-nowrap width-0 information-container">
          <laji-technical-news></laji-technical-news>
          <ol class="breadcrumb">
            @for (parent of information.parents; track parent; let i = $index) {
              @if (i !== 0) {
                <li>
                  <a [routerLink]="['/about/' + parent.id] | localize">
                    {{ parent.title }}
                  </a>
                </li>
              }
            }
            <li class="active">{{ information.title }}</li>
          </ol>
          <div class="laji-page" [innerHtml]="(information.content ?? '') | safe:'html'" lajiRouteTransformer></div>
        </div>
      </div>
      @if (!information.children) {
        <div class="makeup-width flex-grow flex-shrink"></div>
      }
    </main>
    @if (information.children) {
      <nav>
        <h4>
          {{ 'information.more' | translate }}
        </h4>
        @for (child of information.children; track child) {
          <lu-sidebar-link [link]="['/about/' + child.id] | localize">
            {{ child.title }}
          </lu-sidebar-link>
        }
      </nav>
    }
  </lu-sidebar>
}
