.species-pie-chart-container {
  width: 100%;
  height: 240px;
  padding: 0 30px;
}

.species-pie-chart {
  width: 100%;
  height: 240px;
  max-height: 240px;
  max-width: 400px;
}

::ng-deep {
  .ngx-charts {
    overflow: visible !important;
  }
}
