<div>
  <span>
    <i>{{identification.taxon}}</i> {{ identification.author }}
    @if (identification.taxonSpecifier || identification.taxonSpecifierAuthor) {
      <span>
        <i>{{identification.taxonSpecifier}}</i> {{ identification.taxonSpecifierAuthor}}
      </span>
    }
    @if (identification.det || identification.detDate) {
      <span>
        det. {{identification.det || ''}} {{ identification.detDate || '' }}
      </span>
    }
    @if (identification.linkings) {
      <span>
        <a
          [luTooltip]="'showSpeciesCard' | translate"
          [placement]="'right'"
          container="body"
          target="_blank" [routerLink]="['/taxon', ((identification.linkings.taxon.id || identification.linkings.taxon.qname) | toQName)] | localize">
          <i class="glyphicon glyphicon-tag"></i>
        </a>
      </span>
    }
  </span>
  @if (showFacts) {
    <div class="ml-5">
      <laji-row [title]="'MY.notes' | label" [value]="identification.notes"></laji-row>
      @if (identification.taxonSpecifier || identification.taxonSpecifierAuthor) {
        <laji-row [title]="'MY.taxonSpecifier' | label">{{identification.taxonSpecifier}} {{identification.taxonSpecifierAuthor}}</laji-row>
      }
      <laji-facts [show]="showFacts" [facts]="identification.facts"></laji-facts>
    </div>
  }
</div>
