<div class="container-fluid">
  <div id="wrapper" class="row">
    <div class="col-sm-6 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-8 col-lg-offset-1">
      <ol class="breadcrumb">
        <li class="active">{{ 'news.title' | translate }}</li>
      </ol>
      <div class="page-header">
        <h3>
          {{ newsItem?.title }}<br>
          <small>
            {{ newsItem?.posted | slice:0:-3 | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm' }}
            - {{ newsItem?.author }}
            <span *ngIf="newsItem?.modified">
              ({{ 'news.updated' | translate }}: {{ newsItem?.modified  | slice:0:-3 | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm' }})
            </span>
          </small>
        </h3>
      </div>

      <div [innerHtml]="newsItem?.content"></div>
    </div>
    <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 more-info">
      <div class="news-panel">
        <laji-news-list></laji-news-list>
      </div>
    </div>
  </div>
</div>

