<header class="dropdown-header">
  {{ 'notification.title' | translate }}:
  <span *ngIf="notifications?.lastPage > 1">
    ({{ notifications?.currentPage }} / {{ notifications?.lastPage }})
  </span>
</header>
<ul class="notification-list">
  <li laji-notification
      *ngFor="let notification of notifications?.results; trackBy: trackNotification"
      (notificationSeen)="markAsSeen($event); onClose()"
      (removeNotification)="removeNotification($event)"
      [notification]="notification"></li>
</ul>
<nav *ngIf="notifications && notifications?.lastPage > 1" class="btn-group notification-pager" role="group">
  <button type="button" class="btn btn-default"
          [disabled]="notifications.currentPage <= 1"
          (click)="prevNotificationPage()">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </button>
  <button type="button" class="btn btn-default"
          [disabled]="notifications.currentPage >= notifications.lastPage"
          (click)="nextNotificationPage()">
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
</nav>
