<ng-container *ngIf="notifications?.total > 0">
<header class="lu">
  <span class="notifications-title fs-2">
    {{ 'notification.title' | translate }}:
    <span *ngIf="notifications?.lastPage > 1">
      ({{ notifications?.currentPage }} / {{ notifications?.lastPage }})
    </span>
  </span>
  <a class="fs-1" (click)="removeAll()">{{ 'notification.deleteAll' | translate }}</a>
  <a class="fs-1" (click)="markAllAsSeen()">{{ 'notification.markAll' | translate }}</a>
</header>

<cdk-virtual-scroll-viewport [itemSize]="50" style="height: 400px; width: 400px;">
  <ul class="notification-list">
    <li laji-notification
        style="height: 50px"
        *cdkVirtualFor="let notification of notificationSource; trackBy: trackNotification"
        (notificationSeen)="markAsSeen($event); onClose()"
        (removeNotification)="removeNotification($event)"
        [notification]="notification"></li>
  </ul>
</cdk-virtual-scroll-viewport>

<nav *ngIf="notifications && notifications?.lastPage > 1" class="btn-group notification-pager" role="group">
  <button type="button" class="btn btn-default"
          [disabled]="notifications.currentPage <= 1"
          (click)="prevNotificationPage()">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </button>
  <button type="button" class="btn btn-default"
          [disabled]="notifications.currentPage >= notifications.lastPage"
          (click)="nextNotificationPage()">
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
</nav>
</ng-container>
