@import 'projects/laji-ui/src/lib/vars';

#letterInfo {
  dl {
    margin-bottom: 5px;
  }

  dt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
  }

  dd {
    margin-left: 0px;
  }
}

#letterAnnotationContainer {
  text-align: center;

  #letterAnnotationButtons {
    margin-top: 15px;
    margin-bottom: 15px;

    lu-button {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  #letterAnnotationControls {
    text-align: left;

    > div {
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;

      bswitch {
        display: block;
      }
    }
  }
}

h3, h4 {
  max-width: 100%;
}

:host ::ng-deep {
  lu-button button.success, lu-button button.danger, lu-button button.other {
    padding: 0.5em 1em;
  }

  lu-button button, button.lu-btn {
    transition: none;
  }

  #letterAnnotationButtons lu-button button {
    width: 100px;
  }

  .label-info {
    vertical-align: middle;
  }
}

.gray {
  color: $neutral-6;
}
