<laji-spinner [spinning]="loading">
        <laji-paginator *ngIf="showPaginator && paginatorDisplay && !loading"
        [page]="page" [count]="count"
        [size]="size"
        (change)="pageChanged($event)">
        </laji-paginator>
        
        <laji-annotations-list *ngIf="!loading"
        [result]="result"
        [annotationTags]="annotationTags$ | async"
        >
        </laji-annotations-list>

        <laji-paginator *ngIf="showPaginator && paginatorDisplay && !loading"
        [page]="page" [count]="count"
        [size]="size"
        (change)="pageChanged($event)">
        </laji-paginator>
</laji-spinner>
