#container {
  position: relative;
  margin-bottom: 20px; // space for x-axis label
  margin-left: 20px; // space for y-axis label
}

#spectrogram {
  position: absolute;
}

#chart {
  overflow: visible;
  position: relative;
}
