.info-card-header-first-row {
  height: 60px;
}

.content-breadcrumbs {
  padding-left:0px;
}

:host-context(.sidebar-hidden) .content-breadcrumbs {
  padding-left:150px
}

.taxon-parent {
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  min-height: 28px;
}

:host-context(.sidebar-hidden) .taxon-parent{
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  min-height: 28px;
}


.taxon-search-container {
  position: relative;
  padding: 6px 20px;
  background: #2C3E50;
}

 .taxonomy-search {
  width:50%;
  margin: 0 auto;
}

.no-padding{
  padding:0;
}

.no-left{
  margin-left:0px;
}

.no-margin {
  margin:0;
}

.taxon-name-header {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
}

.sibling-select-container {
  display: inline-block;
  vertical-align: bottom;
  margin: 12px 10px 4px 10px;
  white-space: nowrap;
}

.rotate90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg) translate(0px, 27px);
  -webkit-transform: rotate(90deg) translate(0px, 27px);
  -o-transform: rotate(90deg) translate(0px, 27px);
  -ms-transform: rotate(90deg) translate(0px, 27px);
  transform: rotate(90deg) translate(0px, 27px);
}

.sibling-select-container select{
    /*display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';*/
}


.sibling-select-container select {
  display: inline-block;
  width: 300px;
  border: 0;
  box-shadow: none;
  color: #337ab7;
  font-size: 1em;
}


@media only screen and (max-width : 1450px) {
  .taxon-parent {
    margin-top: 10px;
    padding: 8px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }
  
  :host-context(.sidebar-hidden) .taxon-parent{
    margin-top: 10px;
    padding: 8px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }

  :host-context(.sidebar-hidden) .content-breadcrumbs {
    padding-left:150px
  }
  
  .taxon-parent {
    margin-top: 10px;
    padding: 8px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }
}

@media only screen and (max-width : 991px) {
 .taxonomy-search {
    width:100%;
  }

  .taxon-parent {
    margin-top: 50px;
    padding: 5px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }
  
  :host-context(.sidebar-hidden) .taxon-parent{
    margin-top: 5px;
    padding: 6px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }

  :host-context(.sidebar-hidden) .content-breadcrumbs {
    padding-left:150px
  }
  
  .taxon-parent {
    margin-top: 10px;
    padding: 8px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }

  .sibling-select-container {
    margin: 6px 10px 4px 10px;
  }
}

@media only screen and (max-width : 767px) {
  .taxon-search-container {
    position: absolute;
    width: 100%;
    top: -28px;
  }
  .taxon-parent {
    margin-left: 10px;
    padding-right:10px;
    margin-top: 0px;
  }

  :host-context(.sidebar-hidden) .taxon-parent{
    margin-left: 0px;
    padding-right:10px;
    margin-top: 0px;
  }

  .taxon-name-header {
    margin-top: 5px;
    margin-right: 15px;
    display: inline-block;
  }

  .sibling-select-container {
    margin: 0px 10px 4px 0px;
  }

  .sibling-select-container select {
    width:100%;
  }

  .rotate90 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg) translate(0px, 5px);
    -webkit-transform: rotate(90deg) translate(0px, 5px);
    -o-transform: rotate(90deg) translate(0px, 5px);
    -ms-transform: rotate(90deg) translate(0px, 5px);
    transform: rotate(90deg) translate(0px, 5px);
  }

  :host-context(.sidebar-hidden) .content-breadcrumbs {
    padding-left:10px;
    margin-top:50px;
  }
  
  .taxon-parent {
    padding: 8px 0;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    min-height: 28px;
  }

  .content-breadcrumbs {
    margin-top:10px
  }


}

.arrow-link {
  text-decoration: none;
}
.arrow-link.arrow-link-right {
  padding-left: 2px;
  margin-left: 2px;
}
.arrow-link.arrow-link-left {
  padding-right: 2px;
  margin-right: 2px;
}

