<div class="row">
  <div class="col-8">
    <h3>Vieraslajit</h3>

    <p>
      Tämän palvelun avulla tallennetaan vieraslajien torjuntatoimia, joita tehdään pääsääntöisesti viranomaistoimintana tai viranomaisten ohjauksessa. Lomakkeen avulla voidaan tallentaa torjuntatoimia kohdistaen niitä jo olemassa oleviin torjuntatoimipaikkoihin tai luomalla uusi torjuntatoimipaikka. Samalla käynnistyy torjuntatoimien vakutusten seuranta, josta raportointi on EU-direktiivien mukainen kansallinen velvollisuus.
    </p>

    <laji-request *ngIf="rights === Rights.NotAllowed && loggedIn"
                  [collectionId]="'HR.2049'">
    </laji-request>
    <h3 *ngIf="!loggedIn">
      Kirjaudu ensin sisään käyttääksesi tätä palvelua.
    </h3>
  </div>
</div>
