@import '../../../../../../laji-ui/src/lib/vars';

.lj-filter {
  margin-top: 10px;
}
.lj-item-container {
  max-height: 50vh;
  overflow: auto;
  margin: 0 -20px;
  padding: 10px 20px;
  position: relative;
}
.lj-item {
  display: block;
  padding-left: 15px;
  font-size: 0.90em;
  margin-bottom: 0;
  font-weight: normal;
  padding-right: 15px;
}
.lj-item laji-checkbox {
  position: relative;
  margin: 2px 0 -2px -17px;
}
.lj-item span {
}
.lj-active {
  margin: 0 -15px;
  padding: 0 15px;
  background-color: #f1f1f1;
}
.lj-title {
  border-bottom: 1px solid $neutral-4;
  margin: 0 -15px;
  padding: 6px 15px;
  display: block;
  min-height: 32px;
  position: relative;
}
.lj-title:after {
  font-family: "Glyphicons Halflings";
  color: $neutral-4;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -10px;
}

.lj-open .lj-title:after {
  content:"\e259";
}
.lj-close .lj-title:after {
  content:"\e260";
}
.lj-select {
  position: relative;
  margin-bottom: 5px;
}
.lj-disabled {
  cursor: not-allowed;
}
.lj-disabled .lj-title {
  pointer-events: none;
  color: $neutral-5;
}

.lj-container {
  position: relative;
  display: block;
}

.subCategoryItem {
  margin-left: 10px;
}

.subCategoryBox {
  padding-bottom: 0px;
}

::ng-deep .lj-item-container div laji-info span.no-propagation, ::ng-deep .item laji-info span.no-propagation, ::ng-deep .lj-container laji-info span.no-propagation{
  position: absolute;
  right: -10px;
  top: 0px;
}

@media only screen and (min-width : 768px) and (max-width: 1024px) {
  .lj-item {
    min-height: 35px;
  }
}

@media only screen and (max-width : 767px) {
  .lj-item {
    font-size: 1em;
    min-height: 32px;
  }

  .lj-item {
    padding-right: 20px;
  }

}
