<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open, 'lj-disabled': disabled}">
  <strong *ngIf="title !== undefined && title !== ''" class="lj-title link" (click)="toggle($event, filter, typeCheckbox)">{{ title }}<laji-info *ngIf="info" [html]="info"></laji-info></strong>
  <!-- GLOBAL FILTER -->
  <laji-select
  [options]="options['GLOBAL']"
  [filterPlaceHolder]="'haseka.submissions.filter' | translate"
  [useFilter]="false"
  [selected]="selectedOptions['GLOBAL']"
  [multiple]="true"
  [info]="info"
  [open]="open"
  [disabled]="false"
  [loading]="options['GLOBAL'] === null"
  [checkboxType] = "2"
  (selectedChange)="refreshValue($event, 'GLOBAL')"
></laji-select>
  
  <!-- SUBCATEGORIES -->
  <div *ngIf="open || (!open && !selectedOptionsIsEmpty(selectedOptions['GLOBAL']))"><strong>{{ subTitleBase + '.GLOBAL' | translate }}</strong><laji-info placement="left">{{ 'observation.active.recordQuality.GLOBAL.info' | translate }}</laji-info></div>
  <ng-container *ngFor="let subCategory of subCategories | excludeSubcategory : ['GLOBAL']">
    <label *ngIf="open || (!open && !selectedOptionsIsEmpty(selectedOptions[subCategory]))" class="lj-item selected" (click)="labelClick($event)">
      <laji-checkbox [checkboxType]="2" [value]="checkStatusSubCategory(selectedOptions[subCategory], options[subCategory])" (valueChange)="toggleSubCategories(subCategory, selectedOptions[subCategory], options[subCategory])"></laji-checkbox> <strong>{{ 'observation.active.recordQuality.'+ subCategory | translate }}</strong>
    </label>
    <laji-select
      [options]="options[subCategory]"
      [filterPlaceHolder]="'haseka.submissions.filter' | translate"
      [useFilter]="false"
      [selected]="selectedOptions[subCategory]"
      [multiple]="true"
      [info]="info"
      [open]="open"
      [disabled]="false"
      [loading]="options[subCategory] === null"
      [checkboxType] = "0"
      (selectedChange)="refreshValue($event, subCategory)"
    ></laji-select>

  </ng-container>
</div>

<ng-template let-option="option" #value>
  <laji-info *ngIf="option.info" [html]="option.info"></laji-info>
</ng-template>
