<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open, 'lj-disabled': disabled}">
  @if (title !== undefined && title !== '') {
    <strong class="lj-title link" (click)="toggle($event, filter, typeCheckbox)">{{ title }}@if (info) {
      <laji-info [html]="info"></laji-info>
    }</strong>
  }
  <!-- GLOBAL FILTER -->
  @if (open) {
    <laji-select
      [options]="options"
      [filterPlaceHolder]="'haseka.submissions.filter' | translate"
      [useFilter]="false"
      [selected]="selectedOptions['GLOBAL']"
      [multiple]="true"
      [info]="info"
      [open]="true"
      [disabled]="false"
      [loading]="options === null"
      [checkboxType] = "checkBoxTypes.partial"
      (selectedChange)="refreshValue($event, 'GLOBAL')"
    ></laji-select>
    <!-- SUBCATEGORIES -->
    @if (open || (!open && !(selectedOptions['GLOBAL'] | isEmptyArray))) {
      <div><strong>{{ subTitleBase + '.GLOBAL' | translate }}</strong><laji-info placement="left">{{ 'observation.active.recordQuality.GLOBAL.info' | translate }}</laji-info></div>
    }
    @for (subCategory of subCategories | filter:'GLOBAL':false ; track subCategory) {
      @if (open || (!open && !(selectedOptions[subCategory] | isEmptyArray))) {
        <label class="lj-item lj-info selected" (click)="labelClick($event)">
          <laji-checkbox [checkboxType]="checkBoxTypes.partial" [class]="[]" [value]="selectedOptions[subCategory] | subCategoryCheckboxValue : options" (valueChange)="toggleSubCategories(subCategory, selectedOptions[subCategory], options)"></laji-checkbox> <strong>{{ 'observation.active.recordQuality.'+ subCategory | translate }}</strong>
        </label>
      }
      <laji-info placement="left">{{ 'observation.active.recordQuality.' + subCategory + '.info' | translate }}</laji-info>
      <laji-select
        [options]="options"
        [filterPlaceHolder]="'haseka.submissions.filter' | translate"
        [useFilter]="false"
        [selected]="selectedOptions[subCategory]"
        [multiple]="true"
        [info]="info"
        [open]="true"
        [disabled]="false"
        [loading]="options === null"
        [checkboxType] = "checkBoxTypes.basic"
        (selectedChange)="refreshValue($event, subCategory)"
        [classes]="{options: 'subCategoriesOptions', optionContainer: 'subCategoriesContainer', menuContainer: 'subMenu'}"
      ></laji-select>
    }
  }

</div>

<ng-template let-option="option" #value>
  @if (option.info) {
    <laji-info [html]="option.info"></laji-info>
  }
</ng-template>
