.tight {
    margin-top: 0;
  }
  .gatherings {
    padding-bottom: 5px;
  }
  .doc-meta {
    padding-top: 20px;
  }
  
  :host >>> .popover {
    width: 430px;
    max-width: 430px;
  }
  
  .container-col {
    display: flex
  }
  
  .column-modal {
    flex: 1;
  }

  .column-modal .title {
    font-size:20px;
    font-weight: bold;
  }

  .page-header {
    padding-bottom: 5px;
    margin: 0 0 15px 0;
  }

  .page-header h3 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .arrow {
    width:23px;
    height:28px;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    top: 50%;
    background:url('../../../../static/images/icons/arrow.png');
    &.left{
      left:-30px;
      transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
    &.right{
      right:-30px;
    }
  }
  