<ng-container *ngIf="hasDoc && document">
    <div class="shortcut-content" *ngIf="showShortcuts" [@shortcutsInOut]>
        <div class="row">
          <div class="col-sm-12">
            <div class="shortcut-item col-sm-12">
              <h3>Shortcuts</h3>
              <span class="close" (click)="toggleShortcuts()">x</span>
            </div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>Esc</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.closePopup' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>i</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.openImage' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>←</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.previousImage' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>→</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.nextImage' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>c</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.focusComment' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>t</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.focusTaxon' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>1</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.addConvincing' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>0</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.addErroneus' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>r</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.deleteAddedTags' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>ctrl</code> + <code>s</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.saveAnnotation' | translate }}</div></div>
             <div class="shortcut-item col-sm-12 no-padding"><div class="col-sm-4"><code>alt</code> + <code>?</code></div><div class="col-sm-8">{{ 'annotation.shortcuts.showShortcuts' | translate }}</div></div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <div class="page-header" *ngIf="!hideHeader" [ngClass]="{tight: !showTitle}">
            <h3 ngPreserveWhitespaces>
              {{ 'viewer.document' | translate }}
              <small>
                <a [routerLink]="['/view'] | localize" [queryParams]="{uri: document.documentId}" target="_blank">
                  {{ document.documentId }}
                </a>
              </small>
              <a type="button"
                 class="btn btn-sm btn-default"
                 [routerLink]="['/view/print'] | localize"
                 [queryParams]="(document.formId | toQName) === collectionContestFormId && own ? {id: (document.documentId | toQName), showFacts: showFacts} : {uri: document.documentId, own: own, showFacts: showFacts}"
                 target="_blank"
                 [tooltip]="'haseka.submissions.toPrint' | translate">
                {{ 'print' | translate }}
                <img src="/static/images/icons/pdf_16x16.png">
              </a>
              <laji-edit-link
                [editors]="editors"
                [personID]="personID"
                [documentID]="document.documentId"
                [formID]="document.formId"
              ></laji-edit-link>
              <span class="shortcuts" [ngClass]="{'down': !showShortcuts, 'up': showShortcuts }" (click)="toggleShortcuts()"></span>
            </h3>
          </div>
        </div>
    </div>
        
        <div class="row container-col">
          <div class="col-sm-4 column-modal" *ngIf="document.gatherings && document.gatherings[0].units">
            <div class="title">{{ 'annotation.mediaFiles' | translate }}</div>
            <laji-images [document]="document" [highlight]="highlight" [shortcut]="true"></laji-images>
          </div>
          <div class="col-sm-4 column-modal">
              <div class="title">{{ 'annotation.list' | translate }}</div>
            <ng-container *ngFor="let gathering of document.gatherings; let i=index">
              <laji-gathering-annotation (showAllUnits)="toggleShowOnlyHighlighted()" [identifying]="identifying" [openAnnotation]="openAnnotation" [unitCnt]="unitCnt" [showOnlyHighlightedUnit]="showOnlyHighlighted" [showFacts]="showFacts" [editors]="editors" [personID]="personID" [documentID]="documentID"  [personRoleAnnotation]="personRoleAnnotation" [gathering]="gathering" [highlight]="highlight" [visible]="active === i" [showAnnotation]="true"
              [loadDate]="document.loadDate" [createdDate]="document.createdDate" [observerId]="document.editorUserIds" [collectionId]="document.collectionId"></laji-gathering-annotation>
            </ng-container>
          </div>
          <div class="col-sm-4 column-modal">
            <div class="title">{{ 'annotation.data.info' | translate }}</div>
                <div>
                  <alert [type]="document.secured ?  'warning' : 'info'">
                    <span *ngIf="!document.secured; else isSecured">
                      {{ 'viewer.secured.none' | translate }}
                    </span>
                    <ng-template #isSecured>
                      <span *ngIf="document.public">
                        <span *ngIf="document.secureLevel !== 'NONE' || (document.secureReasons && document.secureReasons.length > 0)">
                          {{ 'viewer.secured.secured' | translate }}
                        </span>
                        <span *ngIf="document.partial">
                          {{ 'viewer.secured.partial' | translate }}
                        </span>
                      </span>
                      <span *ngIf="!document.public">
                        {{ 'viewer.secured.own1' | translate }}
                        (<a [routerLink]="['/view'] | localize" [queryParams]="{
                          uri: document.documentId,
                          highlight: highlight
                         }" target="_blank">{{ 'viewer.secured.own2' | translate }}</a>).
                      </span>
                    </ng-template>
                    <div *ngIf="document.secured">
                      <laji-secure-info
                        [secureLevel]="document.secureLevel"
                        [secureReasons]="document.secureReasons"
                      ></laji-secure-info>
                      <ng-container *ngIf="document.secureReasons && document.secureReasons.indexOf('DEFAULT_TAXON_CONSERVATION') > -1">
                        <br><a [routerLink]="'/about/709'" target="_blank">{{ 'information.more' | translate }}</a>
                      </ng-container>
                    </div>
                  </alert>
                </div>
            <laji-issues [data]="document"></laji-issues>
            <laji-row [title]="'MY.collectionID' | label" [noTitleSpace]="false" ngPreserveWhitespaces>
                <span><a target="_blank" href="{{document.collectionId}}">{{ document.collectionId }}</a></span>
            </laji-row>
            <laji-row [title]="'observation.filterBy.collectionName' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
                <span>{{ document.collectionId | toQName | collectionName }}</span>
            </laji-row>
            <laji-row [title]="'annotation.collectionQuality' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
              <span>{{ document.linkings.collectionQuality | label:'warehouse' }}</span>
            </laji-row>
            <laji-row *ngIf="document.editorUserIds" [title]="'annotation.observedBy' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
                <span>
                  <ul class="separated-list">
                    <li *ngFor="let user of document.editorUserIds; let i=index"><a target="_blank" href="/user/{{ user | toQName }}">{{ user | toQName | label }}</a></li>
                  </ul>
                  <span *ngIf="document.createdDate">on {{ document.createdDate | date: 'yyyy-MM-dd' }}</span></span>
            </laji-row>
            <laji-row [title]="'haseka.submissions.unitCount' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
                  <span>{{ unitCnt }}
                    <span *ngIf="unitCnt > 1"> {{ 'annotation.observations.count' | translate }}</span>
                    <span *ngIf="unitCnt === 1"> {{ 'annotation.observation.count' | translate }}</span>
                  </span>
            </laji-row>
            <ng-container *ngFor="let gathering of document.gatherings; let i=index">
              <laji-gathering-annotation (showAllUnits)="toggleShowOnlyHighlighted()" [identifying]="identifying" [openAnnotation]="openAnnotation" [unitCnt]="unitCnt" [showOnlyHighlightedUnit]="showOnlyHighlighted" [showFacts]="showFacts" [editors]="editors" [personID]="personID" [personRoleAnnotation]="personRoleAnnotation" [documentID]="documentID"
              [gathering]="gathering" [highlight]="highlight" [visible]="active === i" [showAnnotation]="false" [loadDate]="document.loadDate" [createdDate]="document.createdDate" [observerId]="document.editorUserIds" [collectionId]="document.collectionId"></laji-gathering-annotation>
            </ng-container>
            <laji-viewer-map [settingsKey]="'viewer-map'" [useWorldMap]="useWorldMap" [active]="active" *ngIf="hasMapData" [data]="mapData" [hideCoordinates]="showCoordinates"></laji-viewer-map>
            <laji-image-gallery *ngIf="activeGathering && activeGathering.media" [modalImages]="activeGathering.media"></laji-image-gallery>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="hasDoc === false">
        <div class="page-header">
          <h2>{{ 'viewer.notFound' | translate }}</h2>
        </div>
      </ng-container>
      <div>
          <a *ngIf="result && indexPagination>0" class="arrow left" (click)="previous()"></a>
          <a *ngIf="result && indexPagination < result.length-1" class="arrow right" (click)="next()"></a>
      </div>
      <!--<pre>{{document | json}}</pre>-->
