<h1>Ohjeet</h1>
<div>
  <h3>Tutkimuksen tausta</h3>

  <p>
    Kerttu on osa LIFEPLAN-hanketta, joka pyrkii maailmanlaajuisesti kartoittamaan luonnon monimuotoisuutta sekä siihen
    vaikuttavien tekijöitä kattavan näytteidenkeruun avulla. Merkittävä osa LIFEPLAN-hanketta on kehittää näytteiden
    automaattista tunnistamista sekä mahdollistaa kansalaisten osallistuminen tutkimuksen tekemiseen. Kerttu on
    ensimmäinen
    askel lintujen äänten tunnistuksen automatisointiin koneoppimisen ja kansalaistieteen avulla. Sinulla on hankkeessa
    tärkeä tehtävä opettamalla tietokonetta tunnistamaan Suomen lintuja ja olemalla mukana kehittämässä menetelmiä,
    jotka
    voidaan myöhemmin laajentaa kattamaan koko maailman lintu- ja lepakkolajit. Koneoppimisen ja systemaattisen
    aineistonkeruun avulla voidaan kerätä korvaamatonta tietoa luonnon monimuotoisuudesta ja siihen vaikuttavista
    tekijöistä. Kiitos osallistumisestasi!
  </p>
  <p>
    <a href="https://www.helsinki.fi/en/projects/lifeplan" target="_blank">Lue lisää LIFEPLAN-hankkeesta.</a>
  </p>
</div>

<div>
  <h3>Ohjeet Kertun käyttöön</h3>

  <div>
    <h4>Kirjaa asiantuntijuutesi</h4>

    <p>
      Aloita arvioimalla oma asiantuntijuutesi sivun vasemmasta reunasta löytyvästä valikosta <em>Kirjaa
      asiantuntijuutesi.</em></p>
    <ol style="max-width: 800px">
      <li>Arvioi ensin kuinka hyvin tunnet Suomessa esiintyvien lintulajien äänet sekä kuinka aktiivisesti harrastat
        lintuja.
      </li>
      <li>Valitse sen jälkeen lajilistasta ne lajit, jotka koet tuntevasi äänestä. Lajilistassa on mukana kaikki lajit,
        joista on yli 50 havaintoa Lajitietokeskuksessa. Sinua ei välttämättä pyydetä tunnistamaan ääniä kaikista
        ruksaamistasi lajeista. Sen sijaan sinua voidaan pyytää tunnistamaan sellaisia ääniä valitsemastasi lajista,
        jotka eivät ole sinulle tuttuja. Kyseisessä tilanteessa voit kuitenkin ohittaa nämä äänet. Valitse siis tässä
        vaiheessa kaikki ne lajit, joiden äänistä tunnet ainakin yhden.
      </li>
    </ol>
    <p>Asiantuntijuuttasi ja valitsemiasi lajeja käytetään rajaamaan lajit, joiden ääniä sinua pyydetään tunnistamaan.
      Toistaiseksi tunnistettavia lajeja on vain muutama kymmenen, mutta niitä tullaan myöhemmin lisäämään. Kaikkien
      tuntemiesi lajien valitseminen on tärkeää taustatietoa tutkimuksen myöhemmin toteutettavassa osiossa, jossa sinua
      pyydetään tunnistamaan kaikki lintulajit, jotka ääntelevät kymmenen sekunnin mittaisessa äänitteessä.
      Asiantuntijuuttasi voidaan käyttää myös tutkimuksessa, jossa tarkastellaan äänien tunnistusta yleisesti
      harrastustaustaa vasten. Vastauksesi käsitellään anonyymisti.</p>
    <p>Kun olet valmis asiantuntijuutesi ja tuntemiesi lajien kirjaamisessa, voit siirtyä vasemman reunan valikosta
      kohtaan <em>Tunnista kirjaimia</em>.</p>
  </div>

  <div>
    <h4>Tunnista kirjaimia</h4>

    <p>Tässä osiossa sinua pyydetään tunnistamaan vastaako <strong><em>ehdokkaassa</em></strong> (vasen spektrogrammi)
      valkoisella rajattu ääni
      sitä lajia, joka esiintyy <strong><em>mallissa</em></strong> (oikea spektrogrammi) vastaavasti rajatulla alueella
      (<strong><em>kirjain</em></strong>). Voit toistaa
      sekä ehdokkaan että mallin äänitettä painamalla niiden vasemmasta alareunasta <img style="height: 1em"
                                                                                         src="/static/images/kerttu/play-button.png"
                                                                                         alt="play"/>-painiketta. Kun
      toisto alkaa, näet
      spektrogrammissa kulkevan mustan pystyviivan avulla toiston etenemisen. Kuunneltaessa ääniä on suositeltavaa
      käyttää kuulokkeita. Vastamelukuulokkeilla kuulet parhaiten vaimeimmatkin äänet, mutta ne eivät ole tutkimukseen
      osallistumisen kannalta välttämättömiä.</p>

    <p>Voit kuunnella äänitettä lyhyemmän tai pitemmän ajan ehdokkaan ympärillä muuttamalla
      <strong><em>aikapuskuria</em></strong>, joka tuo esiin
      kuunneltavaa äänitettä valitun ajan ehdokasta ennen ja sen jälkeen. Jos haluat kuunnella pidemmän pätkän ehdokkaan
      äänitteestä voit myös klikata painikettä ”<strong><em>Näytä</em></strong>” spektrogrammien alapuolella. Etenkin
      lyhyiden ja hankalasti
      tunnistettavien äänten kuuntelemisessa on hyödyllistä pidentää aikapuskuria. Tällöin saat yleensä esiin saman
      yksilön muuta ääntelyä, mikä usein auttaa varmistumaan tunnistuksesta. Aikapuskurin muutokset koskevat myös mallin
      äänitettä, mutta ”<em>Pidempi pätkä ehdokkaasta</em>” koskee vain ehdokasta. Oletusarvoisesti aikapuskuri on
      asetettu
      yhteen sekuntiin.</p>

    <p><strong><em>Kohdenna taajuus</em></strong>-valikolla voit rajata spektrogrammeissa näkyvää taajuusaluetta.
      <strong><em>Kyllä</em></strong>-asennossa spektrogrammin
      taajuusalue näytetään 0,5 kHz ehdokkaassa ja mallissa rajattujen äänien ylä- ja alapuolella.
      <strong><em>Ei</em></strong>-asennossa
      näytetään kiinteä taajuusalue 0–11 kHz. Taajuuden kohdentaminen vaikuttaa myös toistoon; <em>Kyllä</em>-asennossa
      spektrogrammissa näytetyn taajuusalueen ulkopuoliset taajuudet on vaimennettu. Jos äänitteessä esiintyy paljon
      kohinaa tai eri taajuuksilla olevia päällekkäisiä ääniä, on suotavaa pitää taajuuden kohdentaminen päällä, sillä
      tällöin ehdokkaassa ja mallissa rajattujen äänien kuuleminen on helpompaa. Oletusarvoisesti taajuuden
      kohdentaminen on päällä, mutta saadaksesi paremman kuvan ehdokkaasta ja muista ympärillä ääntelevistä linnuista,
      voit asettaa sen pois. Ehdokkaan kanssa samanaikaisesti voi kuulua muuta ääntelyä eri taajuusalueilla, ja joskus
      voi nämä äänet olla helpompi erottaa toisistaan, kun koko taajuusalue on myös nähtävissä. Joillain lajeilla
      ääntelyssä on laajaa vaihtelua taajuudessa, jolloin koko taajuusalueen näkeminen ja kuuleminen voi auttaa myös
      lajin tunnistuksessa. Koska taajuuden kohdennus vaimentaa ylä- ja alapuolisia taajuuksia (ei kuitenkaan täysin
      mykistä niitä), hankalien äänten tunnistaminen voi olla helpompaa taajuuskohdistuksen ollessa poissa, sillä kuulet
      koko äänimaiseman luonnollisempana. </p>

    <p>Jos olet kohtalaisen varma, että ehdokkaassa rajatun alueen sisällä ääntelee mallin lintulaji, klikkaa
      ”<strong><em>Kyllä</em></strong>”
      spektrogrammien yllä olevaan kysymykseen ”Äänteleekö ehdokkaassa rajatun alueen sisällä sama lintulaji kuin
      mallissa rajatun alueen sisällä?”. Jos taas olet kohtalaisen varma, että kyseinen ääni ei kuulu mallin
      lintulajille tai et kuule ehdokkaassa rajatulla alueella mitään lintulajia klikkaa ”<strong><em>Ei</em></strong>”.
      Jos olet epävarma siitä,
      että onko kyseessä sama laji kuin mallissa, niin vastaa ”<strong><em>Ei tietoa</em></strong>”.</p>

    <p>Kun olet vastannut eli klikannut jotain edellä mainituista vaihtoehdoista, toistetaan seuraava ehdokas
      automaattisesti. Jokaiselle kirjaimelle toistetaan 100 ehdokasta ja näet sivun vasemmalta ylhäältä mallin lajin ja
      kirjaimen nimen alta kuinka mones ehdokas sadasta on kyseessä. Jos vastasit vahingossa väärin, voit palata
      takaisin edelliseen kirjaimeen klikkaamalla ylävasemmalta ”<strong><em>Palaa edelliseen ehdokkaaseen</em></strong>”,
      jonka jälkeen pääset
      vastaamaan uudelleen ko. ehdokkaaseen. Kun kaikki 100 ehdokasta on käyty läpi, aukeaa automaattisesti uusi
      mallilaji, josta tunnistettavaksi esitetään myös 100 ehdokasta. Voit keskeyttää kunkin kirjaimen ehdotusten
      tunnistamisen missä tahansa vaiheessa kirjautumalla ulos lajitietokeskuksesta tai sulkemalla selaimen. Kerttu
      muistaa kohdan, johon tunnistuksessa jäit. Kun seuraavan kerran kirjaudut Kerttuun, tunnistus jatkuu samasta
      ehdokkaasta, johon jäit.</p>

    <p>Jos koet, että mallissa esiintyvä ääni on sellainen, jota et tunne riittävän hyvin ja olet yleisesti epävarma
      tunnistuksesta, voit siirtyä seuraavaan malliin klikkaamalla ”<strong><em>Jätä kirjain väliin</em></strong>”.
      Huomioi kuitenkin, että tässä
      tapauksessa kaikki ko. kirjaimesta eli malliäänestä tekemäsi tunnistukset poistetaan. Jos olet jo käynyt läpi
      valtaosan ehdokkaista, niin voit myös jatkaa loppuun tunnistuksia. Tunnistuksen epävarmuus pystytään ottamaan
      huomioon opetettaessa tietokonetta.</p>

    <p>Kirjaimissa esiintyvien lajien tunnistus jatkuu niin kauan kun kaikki kirjaimet on käyty läpi niistä lajeista,
      jotka olet valinnut voivasi tunnistaa <em>Kirjaa asiantuntijuutesi</em>-osiossa. Kun kaikki kirjaimet ja ehdokkaat
      on käyty
      läpi, Kerttu ilmoittaa urakan päättymisestä.</p>

    <p>Kiitos osallistumisestasi!</p>
  </div>
</div>
