.button-container {
  float: right;

  lu-button {
    margin-left: 0.25em;
  }
}

.checkbox-container {
  margin-top: 20px;
  margin-bottom: 20px;

  label {
    display: initial;
    font-weight: 700;
  }
}
