<div class="row lu-section">
  <div class="col-sm-12">
    <div class="button-container">
      <lu-button [disabled]="!statusInfo?.hasPreviousRecording" (click)="previousRecordingClick.emit()">{{ 'theme.kerttu.previousRecording' | translate }}</lu-button>
      <lu-button (click)="saveClick.emit()">{{ 'theme.kerttu.saveRecording' | translate }}</lu-button>
      <lu-button
        [role]="'success'"
        (click)="nextRecordingClick.emit()">
        {{ 'theme.kerttu.nextRecording' | translate }}
      </lu-button>
      <laji-info [html]="'theme.kerttu.info.nextRecording' | translate"></laji-info>
    </div>
    <h2 style="display: inline-block">
      {{ 'theme.kerttu.recordingAnnotation.title' | translate }}
      <laji-info [html]="'theme.kerttu.info.recordingAnnotation' | translate"></laji-info>
    </h2>
  </div>
  <div class="col-sm-12">
    <laji-audio-viewer
      [recording]="recording?.recording"
      [focusArea]="{
        xRange: recording?.xRange
      }"
      [focusAreaTimePadding]="2"
      [highlightFocusArea]="true"
      [showBrushControl]="true"
    ></laji-audio-viewer>
  </div>
  <div class="col-sm-12 checkbox-container">
    <div class="row">
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generalAnnotation.isLowQuality" (change)="updateAnnotation()"/>{{ 'theme.kerttu.isLowQuality' | translate }}
          </label>
          <laji-info [placement]="'right'" [html]="'theme.kerttu.info.isLowQuality' | translate"></laji-info>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generalAnnotation.containsNoiseCausedByHumanActivity" (change)="updateAnnotation()">{{ 'theme.kerttu.containsNoiseCausedByHumanActivity' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.containsNoiseCausedByHumanActivity' | translate"></laji-info>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generalAnnotation.containsHumanSpeech" (change)="updateAnnotation()">{{ 'theme.kerttu.containsHumanSpeech' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.containsHumanSpeech' | translate"></laji-info>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generalAnnotation.containsUnknownBirds" (change)="updateAnnotation()">{{ 'theme.kerttu.containsUnknownBirds' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.containsUnknownBirds' | translate"></laji-info>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="generalAnnotation.doesNotContainBirds" (change)="updateAnnotation()">{{ 'theme.kerttu.doesNotContainBirds' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.doesNotContainBirds' | translate"></laji-info>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <label for="species-select">
        {{ 'theme.kerttu.listSpecies' | translate }}
        <laji-info [html]="'theme.kerttu.info.listSpecies' | translate"></laji-info>
      </label>
      <laji-taxon-autocomplete
        id="species-select"
        [informalTaxonGroup]="'MVL.1'"
        [onlyFinnish]="true"
        [onlySpecies]="true"
        [showResult]="false"
        [whiteList]="taxonList"
        (taxonSelect)="addTaxonToSelected($event, 'main')"
      ></laji-taxon-autocomplete>
    </div>
    <laji-kerttu-occurrence-table
      [(selectedTaxons)]="selectedTaxons.main"
      [loading]="!taxonList || loadingTaxons || !taxonExpertise"
      [componentId]="0"
      [taxonExpertise]="taxonExpertise"
      (selectedTaxonsChange)="updateAnnotation()"
      (missingTaxonClick)="showModal($event)"
    >
    </laji-kerttu-occurrence-table>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <label for="other-animal-species-select">
        {{ 'theme.kerttu.listOtherSpecies' | translate }}
        <laji-info [html]="'theme.kerttu.info.listOtherSpecies' | translate"></laji-info>
      </label>
      <laji-taxon-autocomplete
        id="other-animal-species-select"
        [informalTaxonGroup]="'MVL.1,MVL.2,MVL.161'"
        [showResult]="false"
        [blackList]="taxonList"
        (taxonSelect)="addTaxonToSelected($event, 'other')"
      ></laji-taxon-autocomplete>
    </div>
    <laji-kerttu-occurrence-table
      [(selectedTaxons)]="selectedTaxons.other"
      [loading]="!taxonList || loadingTaxons"
      [componentId]="1"
      (selectedTaxonsChange)="updateAnnotation()"
    >
    </laji-kerttu-occurrence-table>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" bsModal #modal="bs-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'theme.kerttu.speciesMissing' | translate }}</h3>
      </div>
      <div class="modal-body">
        <div>
          <span [innerHTML]="'theme.kerttu.speciesMissing.description.part1' | translate"></span>
          "<laji-taxon-name style="display: inline-block" [taxon]="modalTaxon" [addLink]="false"></laji-taxon-name>"
          <span [innerHTML]="'theme.kerttu.speciesMissing.description.part2' | translate"></span>
        </div>
      </div>
      <div class="modal-footer">
        <lu-button (click)="closeModal(true)" [role]="'success'">{{ 'yes' | translate }}</lu-button>
        <lu-button (click)="closeModal()">{{ 'haseka.delete.cancel' | translate }}</lu-button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
