<div bsModal #settingsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'species.settings.list' | translate }}</h4>
      </div>
      <div class="modal-body">
        <div class="row" >
          <div class="col-sm-6">
            <laji-selected-field-group
              header="species.list.basicInfo"
              [fields]="[
                'id',
                'taxonRank',
                'scientificName',
                'scientificNameAuthorship',
                'vernacularName'
                ]"
              [columnsLookup]="columnLookup"
              [selected]="_selected"
              [disabled]="requiredFields"
              (toggle)="toggleSelectedField($event)"
            ></laji-selected-field-group>
            <laji-selected-field-group
              header="species.list.names"
              [fields]="[
                'synonymNames',
                'vernacularName.fi',
                'vernacularName.sv',
                'vernacularName.en',
                'alternativeVernacularName',
                'obsoleteVernacularName',
                'tradeName'
                ]"
              [columnsLookup]="columnLookup"
              [selected]="_selected"
              [disabled]="requiredFields"
              (toggle)="toggleSelectedField($event)"
            ></laji-selected-field-group>
            <laji-selected-field-group
              header="species.list.statusInFinland"
              [fields]="[
                'finnish',
                'typeOfOccurrenceInFinland',
                'typeOfOccurrenceInFinlandNotes'
                ]"
              [columnsLookup]="columnLookup"
              [selected]="_selected"
              [disabled]="requiredFields"
              (toggle)="toggleSelectedField($event)"
            ></laji-selected-field-group>
          </div>
          <div class="col-sm-6">
            <laji-selected-field-group
              header="species.list.publications"
              [fields]="[
                'occurrenceInFinlandPublication',
                'originalPublication'
                ]"
              [columnsLookup]="columnLookup"
              [selected]="_selected"
              [disabled]="requiredFields"
              (toggle)="toggleSelectedField($event)"
            ></laji-selected-field-group>
            <laji-selected-field-group
              header="species.list.attributes"
              [fields]="[
                'latestRedListStatusFinland',
                'informalTaxonGroups',
                'invasiveSpecies',
                'administrativeStatuses'
                ]"
              [columnsLookup]="columnLookup"
              [selected]="_selected"
              [disabled]="requiredFields"
              (toggle)="toggleSelectedField($event)"
            ></laji-selected-field-group>
            <laji-selected-field-group
              header="species.list.misc"
              [fields]="[
                'taxonExpert',
                'notes'
                ]"
              [columnsLookup]="columnLookup"
              [selected]="_selected"
              [disabled]="requiredFields"
              (toggle)="toggleSelectedField($event)"
            ></laji-selected-field-group>
            <laji-selected-parents
              header="species.list.parents"
              [parents]="[
                'domain',
                'kingdom',
                'phylum',
                'division',
                'class',
                'order',
                'family',
                'tribe',
                'genus'
                ]"
              [selected]="_selected"
              (toggle)="toggleSelectedFields($event)"
            ></laji-selected-parents>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 clear-btn">
            <div class="pull-right">
              <button type="button" tabindex="-1" class="btn btn-default btn-sm" (click)="clear()">{{ 'result.clear' | translate }}</button>
              <button type="button" tabindex="-1" class="btn btn-primary btn-sm" (click)="closeOkModal()">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
