<ng-container *ngIf="taxon">
  <div class="row">
    <div class="col-sm-push-8 col-sm-4" style="text-align: right">
      <h1 class="hidden-xs" style="display: inline-block">&nbsp;</h1>
      <div class="taxon-select">
        <laji-taxon-select
          [(taxonId)]="taxonAutocomplete"
          [searchParams]="{onlySpecies: true}"
          (taxonIdChange)="taxonSelect($event)"
          [placeholder]="'species.search' | translate">
        </laji-taxon-select>
      </div>
    </div>
    <div class="col-sm-pull-4 col-sm-8">
      <h1><laji-taxon-name [taxon]="taxon" [addLink]="false"></laji-taxon-name></h1>
      <h2>Uhanalainen {{('iucn.taxon.' + latestStatus.redListStatus) | translate}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <ng-container *ngIf="latestStatus">
        <div style="margin-left: -15px; margin-right: -15px; margin-bottom: 15px;">
          <laji-iucn-class [includeOther]="false" [highlight]="latestStatus.redListStatus"></laji-iucn-class>
          <div style="clear: both;"></div>
        </div>
        <ng-container *ngIf="latestStatus.criteriaForStatus">
          <h3>{{ 'MKV.criteriaForStatus' | label }}</h3>
          <p [innerHTML]="latestStatus.criteriaForStatus | explainCriteria"></p>
          <p *ngIf="latestStatus.externalPopulationImpactOnRedListStatus">{{latestStatus.externalPopulationImpactOnRedListStatus | translate }}</p>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="taxon.administrativeStatuses && taxon.administrativeStatuses.length > 0">
      <h3>{{ 'iucn.taxon.administrativeStatuses' | translate }}</h3>
      <ul>
        <li *ngFor="let status of taxon.administrativeStatuses">
          {{ status | label }}
        </li>
      </ul>
      </ng-container>
    </div>
    <div class="col-sm-3">
      <laji-taxon-image [images]="taxon.multimedia"></laji-taxon-image>
      <a href="https://laji.fi/taxon/{{ taxon.id }}" target="_blank" rel="noreferrer noopener">
        <div class="to-laji" [innerHTML]="'iucn.taxon.more' | translate"></div>
      </a>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ 'iucn.taxon.evaluation' | translate }} {{ latestStatus?.evaluationYear }}</h2>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-sm-12">
      <laji-red-list-evaluation-info [evaluation]="taxon?.latestRedListEvaluation"></laji-red-list-evaluation-info>
    </div>
  </div>
</ng-container>
