h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #727272;
}
.header {
  height: 250px;
  position: relative;
}
.header .intro {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 350px;
}

.header .intro h1 {
  margin: 0;
}

.header .intro h1, .header .intro p {
  color: #fff;
  text-shadow: 0 2px 5px #000;
}


.header p {
  margin: 15px 0 0 30px;
  max-width: 550px;
  font-size: 18px;
  line-height: 30px;
}

.searchBar {
  height: 58px;
  background-color: #1b2523;
  padding-top: 14px;
}
.row {
  margin-bottom: 15px;
}
@media only screen and (min-width : 768px) {
  .header .intro {
    top: 60px;
    left: 100px;
  }
  .header {
    height: 330px;
  }
}
