h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #727272;
}
.header {
  height: 330px;
  position: relative;
}
.header h1 {
  position: absolute;
  margin: 0;
  color: #fff;
  top: 60px;
  left: 100px;
  text-shadow: 0 2px 5px #000;
}

.header p {
  position: absolute;
  top: 110px;
  left: 120px;
  color: #fff;
  max-width: 550px;
  font-size: 18px;
  line-height: 30px;
  text-shadow: 0 2px 5px #000;
}

.searchBar {
  height: 58px;
  background-color: #1b2523;
  padding-top: 14px;
}
.row {
  margin-bottom: 15px;
}
