<div class="container mt-6">
  <h2>{{ "usage.admin.title" | translate }}</h2>
  <div class="form-group">
    <label for="add-user">{{ "usage.admin.addUser" | translate }}</label>
    <laji-find-person inputId="add-user" [showUserID]="true" (selectChange)="onSelectedAddUser($event)"></laji-find-person>
  </div>
  <vir-organization-select [filterByAdmin]="true" [users$]="administrableUsers$" (select)="onOrganizationSelect($event)"></vir-organization-select>
  <vir-data-table type="admin" [selectionType]="selectByCheckbox" (datatableSelect)="onDatatableSelect($event)" [data]="selectedUsers$ | async" [selected]="selected$ | async"></vir-data-table>
  <div class="mt-3" style="float: right;">
    <button type="button" class="btn btn-primary mr-2" (click)="onContinueExpirationDateButtonClick()"
    [disabled]="(userModifyReqPending$ | async) || !(selected$ | async)!.length">{{ "usage.admin.continueExpirationBtnLabel" | translate }}</button>
    <button type="button" class="btn btn-danger" (click)="onRemoveAccessButtonClick()"
    [disabled]="(userModifyReqPending$ | async) || !(selected$ | async)!.length" >{{ "usage.admin.removeAccessBtnLabel" | translate }}</button>
  </div>
</div>

<lu-modal size="sm" #addUser>
  <h4 class="modal-title">{{ 'usage.admin.addUser' | translate }}</h4>
  <ng-container *ngIf="addUser$ | async as user">
    <h5>{{ user.fullName }} ({{ user.id }})</h5>
    <span>{{ user.emailAddress }}</span>
    <form [formGroup]="addUserForm" (ngSubmit)="onUserFormSubmit(addUserForm)" class="mt-5">
      <fieldset *ngIf="administratableOrganisations$ | async as orgs" class="form-group">
        <legend>{{ "usage.admin.modal.addOrganisation" | translate }}</legend>
        <laji-select [options]="orgs" [useFilter]="false" formControlName="organisation" [open]="true"></laji-select>
      </fieldset>

      <fieldset class="form-group">
        <legend>{{ 'usage.admin.modal.expiration.title' | translate }} <laji-info [html]="'usage.admin.modal.expiration.info' | translate"></laji-info></legend>
        <laji-datepicker formControlName="expirationUntil"> {{ "usage.admin.modal.expiration.until" | translate }}</laji-datepicker>
      </fieldset>

      <div class="lu-modal-footer">
      <button type="submit" [disabled]="!addUserForm.valid || userAddReqPending.includes(user.id)" class="btn btn-primary">{{ "save" | translate }}</button>
      </div>
    </form>
  </ng-container>
</lu-modal>
