<div class="observation-map"
     [luFillHeight]="{ disabled: !height || height >= 0 }"
     [ngStyle]="height > 0 ? { height: height + 'px'} : null">
  <laji-map
          *ngIf="!reloading"
          [options]="mapOptions"
          [data]="mapData"
          [visualization]="hideLegend ? undefined : visualization"
          [visualizationMode]="visualizationMode"
          [settingsKey]="settingsKey"
          [displayObservationAccuracy]="showingIndividualPoints"
          (create)="onCreate($event)"
          (tileLayersChange)="onTileLayersChange($event)"
          (move)="onMapPanOrZoom($event)"
          (visualizationModeChange)="onVisualizationModeChange($event)">
    <div class="loading-map loading" *ngIf="loading"></div>
  </laji-map>
</div>

