<div class="observation-map"
    [luFillHeight]="{
      disabled: height === undefined || height === 0,
      height: tableViewHeightOverride > 0 ? tableViewHeightOverride : height > 0 ? height : undefined
    }"
     #mapContainer>
  <laji-map
          *ngIf="!reloading"
          [options]="mapOptions"
          [data]="mapData"
          [visualization]="hideLegend ? undefined : visualization"
          [visualizationMode]="visualizationMode"
          [settingsKey]="settingsKey"
          [displayObservationAccuracy]="showingIndividualPoints"
          (create)="onCreate($event)"
          (tileLayersChange)="onTileLayersChange($event)"
          (move)="onMapPanOrZoom($event)"
          (visualizationModeChange)="onVisualizationModeChange($event)"
  >
    <div class="loading-map loading" *ngIf="loading"></div>
  </laji-map>
</div>
<div *ngIf="selectedObservationCoordinates" class="cluster-info">
  <div class="d-flex justify-end">
    <button class="btn btn-default btn-small my-3" (click)="resetTable()">{{ 'close' | translate }}</button>
  </div>
  <laji-observation-map-table [coordinates]="selectedObservationCoordinates" [visualizationMode]="visualizationMode" [query]="query"></laji-observation-map-table>
</div>
