<ng-container *ngIf="data$ | async; let data">
  <h1>{{ capitalize(data.taxon.vernacularName | multiLang) }} <i>({{ data.taxon.scientificName }})</i></h1>
  <h3>{{ getForeignVernacularNames(data.taxon) }}</h3>
<!-- <div>kyhmyjoutsen, metsähanhi (navigaatio)</div> -->
  <div class="map-container" [innerHtml]="data.map"></div>
  <a class="d-block" [href]="getMapDownloadUrl(data.taxon.id)" target="_blank">{{ 'ba.species-info.downloadSvg' | translate }} <span class="glyphicon glyphicon-link"></span></a>
  <a class="d-block" [href]="'https://laji.fi/observation/list?target=' + data.taxon.id + '&countryId=ML.206&time=2022-01-01%2F2025-12-31&recordQuality=COMMUNITY_VERIFIED,NEUTRAL,EXPERT_VERIFIED'" target="_blank" rel="noopener noreferrer">
    {{ 'ba.species-info.lajiMap' | translate }} <span class="glyphicon glyphicon-link"></span>
  </a>
</ng-container>
