<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="annotationSetName">{{ 'xenoCantoExport.annotationSetName' | translate }}</label>
    <input
      type="text"
      id="annotationSetName"
      class="form-control"
      formControlName="setName"
    />
  </div>
  <div class="form-group">
    <label for="setRemarks">{{ 'xenoCantoExport.setRemarks' | translate }}</label>
    <textarea
      id="setRemarks"
      class="form-control"
      formControlName="setRemarks"
      rows="3"
    ></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        formControlName="includeExported"
        (change)="onIncludeExportedChange()"
      />
      {{ 'xenoCantoExport.includeExported' | translate }}
    </label>
  </div>

  <hr/>

  <div>
    <h4>
      @if (annotationsLoading() || !totalAnnotations()) {
        {{ 'xenoCantoExport.annotations' | translate }}
      } @else {
        {{ 'xenoCantoExport.annotations.withCounts' | translate: { total: totalAnnotations(), boxCount: totalBoxCount() } }}
      }
    </h4>
    @if (annotationsError()) {
      <lu-alert [type]="'danger'">
        <div [innerHtml]="'xenoCantoExport.annotations.error' | translate"></div>
      </lu-alert>
    } @else if (totalAnnotations() !== 0) {
      <bsg-annotation-box-table
        [data]="data()"
        [loading]="annotationsLoading()"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
      ></bsg-annotation-box-table>
    } @else {
      <p>{{ 'xenoCantoExport.noAnnotations' | translate }}</p>
    }
  </div>

  <div class="form-actions">
    <lu-button [role]="'primary'" [disabled]="form.invalid || form.disabled || !totalAnnotations()" [loading]="exportLoading()">
      {{ 'xenoCantoExport.submit' | translate }}
    </lu-button>
  </div>
</form>
