<h3>
  Massa luonti
</h3>
<div class="row">
  <div class="col-sm-3">
    <a [routerLink]="['/vihko/tools/import'] | localize">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Tuo lomake</strong>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a [routerLink]="['/vihko/tools/generate'] | localize">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Tee tallonnuslomake</strong>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">

  </div>
  <div class="col-sm-3">

  </div>
</div>
