<h3>
  Massa työkalut
</h3>
<div class="row">
  <div class="col-sm-3">
    <a [routerLink]="['/vihko/tools/import'] | localize" class="thumbnail panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Tuo massatallennus pohja</h2>
      </div>
      <div class="panel-body">

      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a [routerLink]="['/vihko/tools/generate'] | localize" class="thumbnail panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Tee massatallennus pohja</h2>
      </div>
      <div class="panel-body">

      </div>
    </a>
  </div>
  <div class="col-sm-3">

  </div>
  <div class="col-sm-3">

  </div>
</div>
