<laji-spinner [spinning]="!selectedInformalGroup">
  <laji-informal-list-breadcrumb *ngIf="showBreadcrumb && selectedInformalGroup"
                                 [informalGroup]="selectedInformalGroup"
                                 [groups]="groups"
                                 [compact]="compact"
                                 (informalGroupSelect)="informalGroupSelect.emit($event)">

  </laji-informal-list-breadcrumb>
  <laji-informal-list *ngIf="selectedInformalGroup"
                      [tree]="selectedInformalGroup"
                      [compact]="compact"
                      [showAll]="showAll"
                      (informalGroupSelect)="informalGroupSelect.emit($event)">
  </laji-informal-list>
</laji-spinner>
