<div class="info-rows">
  @if (showPerson && downloadRequest.personId) {
    <div>
      <label>{{ 'downloadRequest.person' | translate }}:</label>
    </div>
    <div>
      {{ downloadRequest.personId | users }}
    </div>
  }
  <div>
    <label>{{ 'downloadRequest.' + (downloadRequestType === 'fileDownload' ? 'requested' : 'apiKeyRequested') | translate }}:</label>
  </div>
  <div>
    {{ downloadRequest.requested | amDateFormat:'D.M.YYYY' }}
  </div>
  @if (downloadRequest.approximateMatches) {
    <div>
      <label>{{ 'downloadRequest.approximateMatches' | translate }}:</label>
    </div>
    <div>
      {{ downloadRequest.approximateMatches | formattedNumber:'&nbsp;' }}
    </div>
  }
  @if (downloadRequest.dataUsePurpose) {
    <div>
      <label>{{ 'downloadRequest.dataUsePurpose' | translate }}:</label>
    </div>
    <div>
      {{ downloadRequest.dataUsePurpose }}
    </div>
  }
  @if (downloadRequest.apiKeyExpires) {
    <div>
      <label>{{ 'downloadRequest.apiKeyExpires' | translate }}:</label>
    </div>
    <div>
      {{ downloadRequest.apiKeyExpires | amDateFormat:'D.M.YYYY' }}
    </div>
  }
</div>
