<laji-spinner [spinning]="!continents.length" [hideContentWhileLoading]="true">
  <table class="mt-0 mb-0">
    @for (continent of continents; track continent) {
      <tr>
        <th>{{ 'continents.' + continent.value | translate }}</th>
        <td>
          <select
            [(ngModel)]="skillLevelByContinent[continent.id]"
            class="form-control"
            [disabled]="disabled || !birdSongRecognitionSkillLevels.length"
            (ngModelChange)="selectChange()"
            >
            @for (option of birdSongRecognitionSkillLevelOptions; track option) {
              <option
                [value]="option.id"
                >
                {{ option.label | translate }}
              </option>
            }
          </select>
        </td>
      </tr>
    }
  </table>
</laji-spinner>
