<laji-spinner [spinning]="!continents?.length" [hideContentWhileLoading]="true">
  <table class="mt-0 mb-0">
    <tr *ngFor="let continent of continents">
      <th>{{ 'continents.' + continent.value | translate }}</th>
      <td>
        <select
          [(ngModel)]="skillLevelByContinent[continent.id]"
          class="form-control"
          [disabled]="disabled || !birdSongRecognitionSkillLevels?.length"
          (ngModelChange)="selectChange()"
        >
          <option
            *ngFor="let option of birdSongRecognitionSkillLevelOptions"
            [value]="option.id"
          >
            {{ option.label | translate }}
          </option>
        </select>
      </td>
    </tr>
  </table>
</laji-spinner>
