<div *ngIf="lineChartData && lineChartData[0]['data'][0]['data'].length > 0" style="margin-top: 20px">
  <div class="info-card-chart">
    <laji-chart #lineChart
    [datasets]="lineChartData[0]['data']"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="false"
    [colors]="lineChartColors"
    [plugins]=""
    chartType="treemap"
    (chartClick)="taxonSelect.emit(lineChartData[0]['data'][0]['tree'][$event['active'][0]['_index']].id)"
  ></laji-chart>
  </div>
  <span>
    {{ 'taxonomy.total' | translate }} {{ total }}
    {{ (total === 1 ? 'taxonomy.species.singular' : 'taxonomy.species') | translate }}
  </span>
</div>
