<table class="table">
  <tr *ngFor="let value of invalidValues">
    <td>
      <div class="form-control-static">
        {{value}}
      </div>
    </td>
    <td>
      Mapping to taxon id is not done yet!
      <input
        [ngClass]="{loading: typeaheadLoading}"
        type="text"
        class="form-control input-sm"
        name="target"
        [(ngModel)]="taxon[value]"
        [typeahead]="dataSource"
        [typeaheadOptionsLimit]="10"
        [typeaheadWaitMs]="200"
        [typeaheadMinLength]="3"
        [typeaheadFocusFirst]="false"
        [typeaheadOptionField]="'value'"
        [typeaheadItemTemplate]="taxonItem"
        (typeaheadOnSelect)="onTaxonSelect(value, $event)"
        (keyup)="onTaxonSelect(value, $event)"
        autocomplete="off"
        autocorrect="off"
      >
    </td>
  </tr>
  <ng-template #taxonItem let-model="item">
    <h5 class="autosuggest-value {{model.groups}} informal-group-image">
      {{model.value}}
    </h5>
  </ng-template>
</table>
