html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-top: 50px;
  margin-bottom: 226px;
}

.breadcrumb {
  margin-top: 15px;
}

.news-panel {
  background-color: #ECF0F1;
  padding-bottom: 15px;
}

.link {
  cursor: pointer;
  cursor: hand;
}

.loading {
  background-color: #ffffff;
  background-image: url("http://loadinggif.com/images/image-selection/3.gif");
  background-size: 23px 23px;
  background-position: right center;
  background-repeat: no-repeat;
}

/** generic **/
.pagination {
  margin: 0 0 20px 0;
}

/** taxon tree **/
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
  cursor: hand;
}

.node circle:hover {
  fill: #bce9ff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
  cursor: hand;
}

.node {
  font: 10px sans-serif;
}

.node:hover {
  font: 10px sans-serif;
  text-decoration: underline;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/** /taxon tree **/

/** informal taxon groups **/
.informal-group-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.informal-group-image.MVL\.1 {
  background-image: url('/static/images/informalGroups/MVL.1.svg');
}

.informal-group-image.MVL\.2 {
  background-image: url('/static/images/informalGroups/MVL.2.svg');
}

.informal-group-image.MVL\.21 {
  background-image: url('/static/images/informalGroups/MVL.21.svg');
}

.informal-group-image.MVL\.22 {
  background-image: url('/static/images/informalGroups/MVL.22.svg');
}

.informal-group-image.MVL\.26 {
  background-image: url('/static/images/informalGroups/MVL.26.svg');
}

.informal-group-image.MVL\.27 {
  background-image: url('/static/images/informalGroups/MVL.27.svg');
}

.informal-group-image.MVL\.37 {
  background-image: url('/static/images/informalGroups/MVL.37.svg');
}

.informal-group-image.MVL\.39 {
  background-image: url('/static/images/informalGroups/MVL.39.svg');
}

.informal-group-image.MVL\.40 {
  background-image: url('/static/images/informalGroups/MVL.40.svg');
}

.informal-group-image.MVL\.232 {
  background-image: url('/static/images/informalGroups/MVL.232.svg');
}

.informal-group-image.MVL\.233 {
  background-image: url('/static/images/informalGroups/MVL.233.svg');
}

/** /informal taxon groups **/

/** forms **/
.checkbox {
  background: none;
}

/** /forms **/
