html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-top: 50px;
  margin-bottom: 226px;
}

.breadcrumb {
  margin-top: 15px;
}

.news-panel {
  background-color: #ECF0F1;
  padding-bottom: 15px;
}

.link {
  cursor: pointer;
  cursor: hand;
}

/** Laji form **/
body .laji-form {
  background: #eeeeee;
  font-size: 13px;
}

.laji-form .autosuggest-wrapper {
  position: relative;
}
.laji-form .autosuggest-wrapper input {
  padding-right: 27px;
}
.laji-form .autosuggest-container {
  position: absolute;
  z-index: 1;
}

.laji-form .map-array-directionless-enter {
  opacity: 0.01;
}
.laji-form .map-array-directionless-enter.map-array-directionless-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
.laji-form .map-array-left-enter {
  transform: translate3d(-100%, 0, 0);
}
.laji-form .map-array-right-enter {
  transform: translate3d(100%, 0, 0);
}
.laji-form .map-array-left-enter.map-array-left-enter-active, .map-array-right-enter.map-array-right-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 300ms;
}
.laji-form .map-array-directionless-leave, .map-array-left-leave, .map-array-right-leave {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.laji-form input[type=text], select {
  border-radius: 2px !important;
  padding: 0px 5px;
  height: 25px !important;
}
.laji-form select {
  padding: 3px 6px !important;
}

.laji-form .form-group {
  margin-bottom: 7px;
}
.laji-form .form-inline .form-group {
  padding-left: 5px;
}

.laji-form button {
  height: 100%;
  line-height: 14px;
  white-space: normal;
}
.laji-form button:not(.list-group-item) {
  border-radius: 2px;
}

.laji-form legend {
  font-size: 18px;
}
.laji-form label {
  font-size: 13px;
}
.laji-form .field-description {
  font-size: 13px;
}

.laji-form .input-meta {
  font-size: 11px;
}
.laji-form .input-meta button {
  font-size: 11px;
  padding: 0;
  margin: 0;
}
.laji-form .taxon-widget.input-meta {
  margin-top: -7px;
}
.laji-form .meta-info-taxon {
  display: inline-block;
}
.laji-form .input-meta ul {
  padding-left: 15px;
}

.laji-form .laji-form-help-glyph {
  margin-left: 5px;
  border-radius:9px;
  color: white;
  padding: 2px 5px;
  color: white;
  padding: 2px 5px;
}


.laji-form .laji-form-map {
  z-index: 1;
  padding-bottom: 15px;
  height: 600px;
}
#laji-map {
  height: 100%;
  width: 100%;
}
.laji-form .map-field .field-description {
  padding-bottom: 15px;
}

.laji-form :not(.btn-group) > .btn-danger {
  width: auto;
  float: right;
  line-height: 5px;
  font-size: 11px;
  padding: 5px;
}

.laji-form label strong:not(:empty)+.rc-switch {
  display: table;
  margin-top: 4px;
}

.laji-form .rc-switch {
  width: 60px;
}

.laji-form .rc-switch-checked:after {
  left: 37px;
}
.laji-form .rc-switch-toggled-false .rc-switch-inner {
  right: 7px;
  left: initial;
}
.laji-form .rc-switch-disabled .rc-switch-inner {
  color: #9e9e9e;
}

.laji-form .dropdown-header {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.laji-form .react-spinner_bar {
  background-color: black;
}
.laji-form .react-spinner {
  position: absolute;
  left: initial;
  top: initial;
  float: right;
}
.laji-form .autosuggest-wrapper .react-spinner {
  width: 25px;
  right: -9px;
  bottom: -20px;
}
.laji-form .input-meta .react-spinner {
  width: 20px;
  left: 11px;
  top: 10px;
  position: relative;
}

.laji-form .scope-field-modal-item .react-spinner {
  left: 50%;
  width: 25px;
  top: 20px;
  float: none;
  position: relative;
}

.laji-form .scope-field-modal-item {
  width: 130px;
  padding: 5px;
}
.laji-form .scope-field-modal-item .list-group-item {
  height: 8px;
  line-height: 0px;
}
.laji-form .scope-field-modal-item span {
  font-weight: bold;
}
.laji-form .scope-field-search {
  width: 40%;
  display: block;
  margin: auto;
}

/** taxon tree **/
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
  cursor: hand;
}

.node circle:hover {
  fill: #bce9ff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
  cursor: hand;
}

.node {
  font: 10px sans-serif;
}

.node:hover {
  font: 10px sans-serif;
  text-decoration: underline;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/** /taxon tree **/
