<laji-spinner [spinning]="(namedPlace || editMode) && !npFormData" [overlay]="true"></laji-spinner>
<div *ngIf="npFormData">
  <div *ngIf="namedPlace && !editMode">
    <laji-np-info [namedPlace]="namedPlace"
                  [formData]="npFormData"
                  [targetForm]="formData"
                  [collectionId]="collectionId"
                  [editMode]="editMode"
                  (onEditButtonClick)="editClick()"
                  (onUseButtonClick)="useClick()"></laji-np-info>
  </div>
  <div *ngIf="editMode">
    <laji-np-edit-form *ngIf="npFormData"
                       [lang]="lang"
                       [formData]="npFormData"
                       [namedPlace]="namedPlace"
                       (onEditReady)="editReady($event)"></laji-np-edit-form>
  </div>
</div>
