<laji-spinner [spinning]="(namedPlace || editMode) && !(npFormData || userId)" [overlay]="true"></laji-spinner>
<div *ngIf="npFormData">
  <div *ngIf="namedPlace && !editMode">
    <laji-np-info [namedPlace]="namedPlace"
                  [formData]="npFormData"
                  [editMode]="editMode"
                  [editButtonVisible]="editButtonVisible"
                  (onEditButtonClick)="editClick()"></laji-np-info>
    <a *ngIf="useButtonVisible"
       [routerLink]="['/vihko/' + formId]"
       type="button"
       class="btn btn-md btn-primary"
       id="use-button"
       (click)="populateForm()">{{'np.use' | translate}}</a>
  </div>
  <div *ngIf="editMode">
    <laji-np-edit-form *ngIf="npFormData"
                       [lang]="lang"
                       [formData]="npFormData"
                       [namedPlace]="namedPlace"
                       [collectionId]="collectionId"
                       (onEditReady)="editReady($event)"></laji-np-edit-form>
  </div>
</div>
