<laji-spinner [spinning]="(namedPlace || editMode) && !(formData || userId)" [overlay]="true"></laji-spinner>
<div *ngIf="formData">
  <div *ngIf="!editMode && namedPlace">
    <laji-np-info [namedPlace]="namedPlace"
                  [formData]="formData"
                  [editButtonVisible]="editButtonVisible"
                  (onEditButtonClick)="editClick()"></laji-np-info>
    <a *ngIf="useButtonVisible"
       [routerLink]="['/vihko/' + formId]"
       type="button"
       class="btn btn-md btn-primary"
       id="use-button"
       (click)="populateForm()">{{'np.use' | translate}}</a>
  </div>
  <div *ngIf="editMode">
    <laji-np-edit-form *ngIf="formData"
                       [lang]="lang"
                       [formData]="formData"
                       [namedPlace]="namedPlace"
                       [collectionId]="collectionId"
                       (onEditReady)="editReady()"></laji-np-edit-form>
  </div>
</div>
