<table>
  <tr>
    <td></td>
    <td colspan="3" class="red title">
      Uhanalaiset
    </td>
  </tr>
  <tr>
    <td>
      <div class="iucn-class re">RE</div>
      <strong>Hävinneet</strong><br>
      <span class="origin">
        Regionally Extinct
      </span>
    </td>
    <td class="red">
      <div class="iucn-class cr">CR</div>
      <strong>Äärimmäisen uhanalaiset</strong><br>
      <span class="origin">
        Critically endangered
      </span>
    </td>
    <td class="red">
      <div class="iucn-class en">EN</div>
      <strong>Erittäin uhanalaiset</strong><br>
      <span class="origin">
        Endangered
      </span>
    </td>
    <td class="red">
      <div class="iucn-class vu">VU</div>
      <strong>Vaarantuneet</strong><br>
      <span class="origin">
        Vulnerable
      </span>
    </td>
    <td>
      <div class="iucn-class nt">NT</div>
      <strong>Silmälläpidettävät</strong><br>
      <span class="origin">
        Near Threathened
      </span>
    </td>
    <td>
      <div class="iucn-class lc">LC</div>
      <strong>Elinvoimaiset</strong><br>
      <span class="origin">
        Least Concern
      </span>
    </td>
    <td class="multi-class">
      <div class="class-row">
        <div class="iucn-class dd">DD</div>
        <strong>Puutteellisesti tunnetut</strong><br>
        <span class="origin">
          Data Deficient
        </span>
      </div>
      <div class="class-row">
        <div class="iucn-class na">NA</div>
        <strong>Arviointiin soveltumaton</strong><br>
        <span class="origin">
          Not Applicaple
        </span>
      </div>
      <div class="class-row">
        <div class="iucn-class ne">NE</div>
        <strong>Arvioimatta jätetyt</strong><br>
        <span class="origin">
          Not Evaluated
        </span>
      </div>
    </td>
  </tr>
</table>
