td {
  padding: 5px;
  text-align: center;
  vertical-align: top;
  width: (100% / 7);
}

.red {
  color: #000;
}

.title {
  font-weight: bold;
  color: #fff;
}
.origin {
  font-size: small;
}

.iucn-class {
  margin: 10px auto;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 0 8px #000;
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
}

.multi-class {
  width: 210px;
  text-align: left;
  position: relative;
  padding-left: 50px;
}
.class-row {
  margin-bottom: 5px;
}
.multi-class .iucn-class {
  position: absolute;
  margin-left: -40px;
  margin-top: -3px;
}

.re {
  background-color: #000;
  color: #fff;
}
.cr {
  background-color: #d81e05;
}
.en{
  background-color: #fc7f3f;
}
.vu {
  background-color: #f9e814;
}
.nt {
  background-color: #cce226;
}
.lc {
  background-color: #60c659;
}
.dd, .na, .ne {
  background-color: #fff;
}
