<div>
  <label>{{ 'audioViewer.slowDown' | translate }}</label>
  <bSwitch
    [switch-on-text]="'on' | translate"
    [switch-off-text]="'off' | translate"
    [switch-on-color]="'primary'"
    [switch-size]="'small'"
    [ngModel]="slowDownAudio"
    (ngModelChange)="slowDownAudioChange.emit($event)"
    [switch-base-class]="'bootstrap-switch'">
  </bSwitch>
</div>
<div>
  <label>{{ showWholeTimeRangeLabel }}</label>
  <bSwitch
    [switch-on-text]="'on' | translate"
    [switch-off-text]="'off' | translate"
    [switch-on-color]="'primary'"
    [switch-size]="'small'"
    [ngModel]="showWholeTimeRange"
    (ngModelChange)="showWholeTimeRangeChange.emit($event)"
    [switch-base-class]="'bootstrap-switch'">
  </bSwitch>
  <laji-info *ngIf="showWholeTimeRangeInfo" [placement]="'right'" [html]="showWholeTimeRangeInfo" [showOnHover]="true"></laji-info>
</div>
