<h4 *ngIf="header">{{ header | translate }}</h4>
<alert *ngIf="yearInfoError" type="danger">{{ yearInfoError }}</alert>
<ng-container *ngIf="!yearInfoError">
  <ng-container *ngIf="!onlyTemplates">
    <laji-year-slider [year]="year" [showCounts]="!formID"
                      (rangeChange)="sliderRangeChange($event)" [yearInfo]="yearInfo$ | async"></laji-year-slider>
  </ng-container>
  <div class="own-submissions-container">
    <laji-spinner [spinning]="loading" [overlay]="true">
    </laji-spinner>
    <laji-own-datatable
      (documentClicked)="onDocumentClick($event)"
      (download)="download($event)"
      (template)="saveTemplate($event)"
      (delete)="delete($event)"
      (label)="doLabels($event)"
      [actions]="actions"
      [admin]="admin"
      [columns]="onlyTemplates ? templateColumns : columns"
      [columnNameMapping]="columnNameMapping"
      [showDownloadAll]="showDownloadAll && !onlyTemplates"
      [showPrintLabels]="showPrintLabels && !onlyTemplates"
      [loadError]="documentError"
      [onlyTemplates]="onlyTemplates"
      [year]="year"
      [templateForm]="templateForm"
      [documents]="documents$ | async"></laji-own-datatable>
  </div>
</ng-container>

<div class="modal fade" bsModal #documentModal="bs-modal"
     (onHidden)="documentModalVisible = false"
     (onShow)="documentModalVisible = true"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" *ngIf="documentModalVisible">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <ng-container *ngIf="shownDocument$ | async as shownDocument">
          <laji-document *ngIf="shownDocument.publicityRestrictions === publicity.publicityRestrictionsPublic"
                         [uri]="shownDocument.id"
                         [own]="!admin">
          </laji-document>
          <laji-document-local *ngIf="shownDocument.publicityRestrictions !== publicity.publicityRestrictionsPublic"
                               [document]="shownDocument">
          </laji-document-local>
        </ng-container>
      </div>
    </div>
  </div>
</div>
