<alert *ngIf="yearInfoError" type="danger">{{yearInfoError}}</alert>


<div *ngIf="!yearInfoError">
  <laji-year-slider *ngIf="!onlyTemplates && !!yearInfo" [year]="year" [showCounts]="!formID" (onRangeChange)="sliderRangeChange($event)" [yearInfo]="yearInfo"></laji-year-slider>
  <laji-own-datatable
    (documentClicked)="onDocumentClick($event)"
    [actions]="actions"
    [columns]="onlyTemplates ? templateColumns : columns"
    [showDownloadAll]="showDownloadAll && !onlyTemplates"
    [useInternalDocumentViewer]="useInternalDocumentViewer"
    [loadError]="documentError"
    [onlyTemplates]="onlyTemplates"
    [year]="year"
    [documents]="activeDocuments"></laji-own-datatable>
</div>


<div class="modal fade" bsModal #documentModal="bs-modal"
     (onHidden)="documentModalVisible = false"
     (onShow)="documentModalVisible = true"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" *ngIf="documentModalVisible">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <laji-document [uri]="shownDocument" [own]="true"></laji-document>
      </div>
    </div>
  </div>
</div>
