$rowHeight: 25mm;
$perPage: 10;
$baseFontSize: 12pt;

@page {
  size: A4;
  margin: 0;
}
.page {
  position: relative;
  margin: 10mm;
  width: 190mm;
  padding-top: 5mm;
}
.image-block {
  width: 95mm;
  height: 70mm;
  display: inline-block;
}
@media not print {
  .page {
    margin: 20px auto;
  }
}
@media print {
  .no-page-break {
    page-break-inside: avoid;
  }

  .page-break-after {
    page-break-after: always;
  }
}
