
.quick-links {
    position:fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    div{
        &.flex{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.more-info{
            max-height: 0;            
            overflow-y: hidden;
            -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
        }
    }
    span{
        &.text-cta{
            color:white;
            font-size:16px;
        }
    }
}