<laji-spinner [spinning]="!form" [overlay]="true"></laji-spinner>
<laji-document-form-header *ngIf="form" [formID]="form.id" [namedPlace]="namedPlace" [isAdmin]="isAdmin"></laji-document-form-header>
<div class="row" *ngIf="namedPlace" style="margin-top: 10px">
  <div class="col-sm-12">
    <strong>{{ namedPlace.name }}</strong>
  </div>
</div>
<div class="clear"></div>
<div class="laji-form" *ngIf="readyForForm">
  <laji-form
          [formData]="form"
          [lang]="lang"
          [tick]="tick"
          [settingsKey]="formId"
          (dataChange)="onChange($event)"
          (dataSubmit)="onSubmit($event)"></laji-form>
  <laji-document-form-footer
          [form]="form"
          [status]="status"
          [readonly]="readonly"
          (lock)="lock($event)"
          (submitPublic)="submitPublic()"
          (submitPrivate)="submitPrivate()"
          (cancel)="cancel.emit()"></laji-document-form-footer>
</div>
