<lu-button (click)="fieldsModal.show()">
  <span>
    {{ labelOpen }}
    <i class="glyphicon glyphicon-cog"></i>
  </span>
</lu-button>
<lu-modal #modal (onHide)="selectedFieldsChange.emit(selectedCache)" size="lg">
  <h4 *ngIf="modalTitle" class="modal-title pull-left">{{ modalTitle }}</h4>
  <laji-select-fields
    [selectedFieldsTitle]="selectedFieldsTitle"
    [allSelectableFieldsTitle]="allSelectableFieldsTitle"
    [allSelectableFields]="allSelectableFields"
    [selectedFields]="selectedFields"
    (selectedFieldsChange)="updateSelected($event)"
  ></laji-select-fields>
  <div class="lu-modal-footer">
    <button *ngIf="defaultFields" type="button" class="btn btn-default" (click)="reset()">{{ labelReset }}</button>
    <button type="button" class="btn btn-default" (click)="fieldsModal.hide()">{{ labelClose }}</button>
  </div>
</lu-modal>
