.tree-filter {
  padding: 10px;
}
.tree-active-child span {
  opacity: 0.5;
}
.tree-active-exclusion {
  background: #ffbebe;
}
.tree-active-focused {
  filter: brightness(1.1)
}
.scrollable-tree {
  height: 50vh;
  padding: 10px;
  overflow: hidden;
}
.scrollable-selection-list {
  max-height: calc(50vh + 20px);
  padding: 10px;
  overflow: auto;
}
