.datatable-footer {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.datatable-footer.top {
  border-bottom: none;
}

.datatable-footer.bottom {
  border-top: none;
}

.datatable-footer-inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.page-count {
  white-space: nowrap;
  padding: 0 1.2rem;
  flex: 1 1 20%;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

laji-paginator {
  flex: 1 1 80%;
  text-align: right;
}
