.np-info {
  margin-bottom: 3px;
}

.np-info legend {
  margin-top: 5px;
  margin-bottom: 12px;
}

laji-np-info-map {
  float: right;
  width: 55%;
  padding-top: 55%;
  position: relative;
}

.use-button {
  white-space: normal;
  word-wrap: break-word;
  max-width: calc(45% - 4px);
  margin-top: 6px;
  margin-left: -3px;
}

#info-box {
  padding: 10px 0 7px 0;
}

#btn-container {
  text-align: right;
  margin-top: -5px;
  margin-bottom: 5px;
}
