<div [ngClass]="{'hidden': editButtonVisible === undefined && useButton === undefined}">
  <div class="hidden-xs" #infoBox id="info-box">
    <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: false}"></ng-template>
  </div>

  <div class="modal" tabindex="-1" role="dialog" bsModal #infoModal="bs-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close pull-right" type="button" (click)="modal.hide()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
        <div class="modal-body" *ngIf="modalIsVisible">
          <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: true}"></ng-template>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <ng-template #contentTemplate let-isModal="isModal">
    <div class="well well-sm np-info">
      <fieldset>
        <legend *ngIf="(targetForm.printType && targetForm.printType.indexOf('MHL.printTypeLineTransect') > -1) || (allowEdit && editButtonVisible)">
          <div id="btn-container">
            <span [ngSwitch]="targetForm.printType">
              <a *ngSwitchCase="'MHL.printTypeLineTransect'"
                 class="btn btn-sm btn-default"
                 target="_blank"
                 [routerLink]="['/vihko/places/', namedPlace.id, 'print', targetForm.printType] | localize">{{targetForm.namedPlaceOptions?.printLabel ? targetForm.namedPlaceOptions?.printLabel : 'np.print' | translate}}</a>
            </span>
            <button *ngIf="allowEdit && editButtonVisible"
                    class="btn btn-sm btn-default"
                    (click)="editClick()">{{'np.edit' | translate}}</button>
          </div>
        </legend>
        <laji-np-info-map [visible]="(isModal && modalIsVisible) || infoBox?.nativeElement?.offsetParent !== null"
                          [namedPlace]="namedPlace"></laji-np-info-map>
        <ng-container *ngFor="let k of keys">
          <laji-np-info-row [key]="k" [value]="values[k]" [fields]="fields"></laji-np-info-row>
        </ng-container>
        <ng-container *ngIf="namedPlace?.prepopulatedDocument?.gatheringEvent?.dateBegin">
          <laji-np-info-row [key]="'dateBegin'" [value]="namedPlace.prepopulatedDocument.gatheringEvent.dateBegin" [fields]="{dateBegin: {title: ('lastCensus' | translate)}}"></laji-np-info-row>
        </ng-container>
        <div id="use-button-container" [ngSwitch]="useButton">
          <ng-container *ngSwitchCase="'usable'">
            <div class="row-container">
              <button type="button"
                 class="btn btn-md btn-primary btn-block use-button"
                 (click)="useClick()">{{targetForm.namedPlaceOptions?.useLabel ? targetForm.namedPlaceOptions.useLabel : 'np.defaultUse' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'reservedByYou'">
            <div class="row-container">
              <button type="button"
                      [disabled]="loading"
                      class="btn btn-md btn-primary btn-block use-button"
                      (click)="useClick()">{{targetForm.namedPlaceOptions?.useLabel ? targetForm.namedPlaceOptions.useLabel : 'np.defaultUse' | translate}}</button>
              <button type="button"
                      [disabled]="loading"
                      class="btn btn-md btn-primary btn-block use-button"
                      (click)="onReleaseButtonClick.emit()">{{targetForm.namedPlaceOptions?.releaseLabel ? targetForm.namedPlaceOptions.releaseLabel : 'np.release' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'nouse'">
            <div class="row-container">
              <p>{{'np.requestAccess-intro' | translate}}</p>
              <button type="button"
                 class="btn btn-md btn-primary btn-block use-button"
                 [disabled]="loading"
                 (click)="onRequestAccessButtonClick.emit()">{{targetForm.namedPlaceOptions?.accessLabel ? targetForm.namedPlaceOptions.accessLabel : 'np.requestAccess' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'accessRequested'">
            <div class="row-container">
              <p>{{'np.requestAccess-intro' | translate}}</p>
              <button type="button"
                      class="btn btn-md btn-primary btn-block use-button"
                      [disabled]="true">{{targetForm.namedPlaceOptions?.requestSendLabel ? targetForm.namedPlaceOptions.requestSendLabel : 'np.requestSend' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'reservable'">
            <div class="row-container">
              <button type="button"
                      class="btn btn-md btn-primary btn-block use-button"
                      [disabled]="loading"
                      (click)="onReserveButtonClick.emit()">{{targetForm.namedPlaceOptions?.reservableLabel ? targetForm.namedPlaceOptions.reservableLabel : 'np.reserve' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'reservedByOther'">
            <div class="row-container">
              <button type="button"
                 class="btn btn-md btn-primary btn-block use-button" [disabled]="true">{{targetForm.namedPlaceOptions?.reservedLabel ? targetForm.namedPlaceOptions.reservedLabel : 'np.reserved' | translate}}</button>
              <ng-container *ngIf="formRights.admin">
                <div class="key">
                  <strong>Varauksen omistaja:</strong>
                </div>
                <div class="value">
                  {{namedPlace.reserve.reserver | label}}
                </div>
                <button type="button"
                        [disabled]="loading"
                        class="btn btn-md btn-primary btn-block use-button"
                        (click)="onReleaseButtonClick.emit()">{{targetForm.namedPlaceOptions?.releaseLabel ? targetForm.namedPlaceOptions.releaseLabel : 'np.release' | translate}} (admin)</button>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </fieldset>
      <div class="own-submissions-container">
        <strong>{{(formRights.admin ? 'np.earlier' : 'np.myEarlier') | translate}}</strong>:
        <laji-own-submissions
          [actions]="['edit']"
          [columns]="['dateObserved', 'observer', 'dateEdited']"
          [formID]="targetForm.id"
          [namedPlace]="namedPlace.id"
          [showDownloadAll]="false"
        ></laji-own-submissions>
      </div>
    </div>
  </ng-template>
</div>
