<div [ngClass]="{'hidden': editButtonVisible === undefined && useButton === undefined}">
  <div class="hidden-xs" #infoBox id="info-box">
    <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: false}"></ng-template>
  </div>

  <div class="modal" tabindex="-1" role="dialog" bsModal #infoModal="bs-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close pull-right" type="button" (click)="modal.hide()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
        <div class="modal-body">
          <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: true}"></ng-template>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <ng-template #contentTemplate let-isModal="isModal">
    <div class="well well-sm np-info">
      <fieldset>
        <legend *ngIf="(targetForm.printType && targetForm.printType.indexOf('MHL.printTypeLineTransect') > -1) || (allowEdit && editButtonVisible)">
          <div id="btn-container">
            <span [ngSwitch]="targetForm.printType">
              <a *ngSwitchCase="'MHL.printTypeLineTransect'"
                 class="btn btn-sm btn-default"
                 target="_blank"
                 [routerLink]="['/vihko/places/', namedPlace.id, 'print', targetForm.printType] | localize">{{'np.print' | translate}}</a>
            </span>
            <button *ngIf="allowEdit && editButtonVisible"
                    class="btn btn-sm btn-default"
                    (click)="editClick()">{{'np.edit' | translate}}</button>
          </div>
        </legend>
        <laji-np-info-map [visible]="(isModal && modalIsVisible) || infoBox?.nativeElement?.offsetParent !== null"
                          [namedPlace]="namedPlace"></laji-np-info-map>
        <div *ngFor="let k of keys">
          <laji-np-info-row [key]="k" [value]="values[k]" [fields]="fields"></laji-np-info-row>
        </div>
        <div id="use-button-container" [ngSwitch]="useButton">
          <ng-container *ngSwitchCase="'usable'">
            <button type="button"
               class="btn btn-md btn-primary use-button"
               (click)="useClick()">{{targetForm.namedPlaceOptions?.useLabel ? targetForm.namedPlaceOptions.useLabel : 'np.defaultUse' | translate}}</button>
          </ng-container>
          <ng-container *ngSwitchCase="'reservedByYou'">
            <button type="button"
                    class="btn btn-md btn-primary use-button"
                    (click)="useClick()">{{targetForm.namedPlaceOptions?.useLabel ? targetForm.namedPlaceOptions.useLabel : 'np.defaultUse' | translate}}</button>
            <button type="button"
                    class="btn btn-md btn-primary use-button"
                    (click)="releaseClick()">{{targetForm.namedPlaceOptions?.releaseLabel ? targetForm.namedPlaceOptions.releaseLabel : 'np.release.button' | translate}}</button>
          </ng-container>
          <ng-container *ngSwitchCase="'nouse'">
            <div class="row-container">
              <p>{{'np.requestAccess.intro' | translate}}</p>
              <button type="button"
                 class="btn btn-md btn-primary use-button"
                 (click)="onRequestAccessButtonClick.emit()">{{targetForm.namedPlaceOptions?.accessLabel ? targetForm.namedPlaceOptions.accessLabel : 'np.requestAccess.button' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'accessRequested'">
            <div class="row-container">
              <p>{{'np.requestAccess.intro' | translate}}</p>
              <button type="button"
                      class="btn btn-md btn-primary use-button"
                      [disabled]="true">{{targetForm.namedPlaceOptions?.requestSendLabel ? targetForm.namedPlaceOptions.requestSendLabel : 'np.requestSend.button' | translate}}</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'reservable'">
            <button type="button"
                    class="btn btn-md btn-primary use-button"
                    (click)="reserve()">{{targetForm.namedPlaceOptions?.reservableLabel ? targetForm.namedPlaceOptions.reservableLabel : 'np.defaultReservable' | translate}}</button>
          </ng-container>
          <ng-container *ngSwitchCase="'reservedByOther'">
            <button type="button"
               class="btn btn-md btn-primary use-button" [disabled]="true">{{targetForm.namedPlaceOptions?.reservedLabel ? targetForm.namedPlaceOptions.reservedLabel : 'np.defaultReserved' | translate}}</button>
          </ng-container>
        </div>
      </fieldset>
      <strong>{{(formRights.admin ? 'np.earlier' : 'np.myEarlier') | translate}}</strong>:
      <laji-own-submissions
        [actions]="['edit']"
        [columns]="['dateObserved', 'observer', 'dateEdited']"
        [formID]="formData.id"
        [namedPlace]="namedPlace.id"
        [showDownloadAll]="false"
      ></laji-own-submissions>
    </div>
  </ng-template>
</div>
