<div [ngClass]="{'hidden': editButtonVisible === undefined && useButtonVisible === undefined}">
  <div class="hidden-xs" #infoBox id="info-box">
    <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: false}"></ng-template>
  </div>

  <div class="modal" tabindex="-1" role="dialog" bsModal #infoModal="bs-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close pull-right" type="button" (click)="modal.hide()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
        <div class="modal-body">
          <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: true}"></ng-template>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <ng-template #contentTemplate let-isModal="isModal">
    <a *ngIf="useButtonVisible"
       type="button"
       class="btn btn-md btn-primary use-button"
       (click)="useClick()">{{targetForm.namedPlaceOptions?.useLabel ? targetForm.namedPlaceOptions.useLabel : 'np.defaultUse' | translate}}</a>
    <div class="well well-sm np-info">
      <fieldset>
        <laji-np-info-map [visible]="(isModal && modalIsVisible) || infoBox?.nativeElement?.offsetParent !== null"
                          [namedPlace]="namedPlace"></laji-np-info-map>
        <div *ngFor="let k of keys">
          <laji-np-info-row [key]="k" [value]="values[k]" [fields]="fields"></laji-np-info-row>
        </div>
      </fieldset>
      <ng-container *ngIf="(targetForm.printType && targetForm.printType.indexOf('MHL.printTypeLineTransect') > -1) || (allowEdit && editButtonVisible)">
        <legend></legend>
        <div id="btn-container">
            <span [ngSwitch]="targetForm.printType">
              <a *ngSwitchCase="'MHL.printTypeLineTransect'"
                 class="btn btn-sm btn-default"
                 target="_blank"
                 [routerLink]="['/vihko/places/', namedPlace.id, 'print', targetForm.printType] | localize">{{'np.print' | translate}}</a>
            </span>
          <button *ngIf="allowEdit && editButtonVisible"
                  class="btn btn-sm btn-default"
                  (click)="editClick()">{{'np.edit' | translate}}</button>
        </div>
      </ng-container>
      <strong>{{'np.earlier' | translate}}</strong>:
      <laji-own-submissions
        [actions]="['edit']"
        [columns]="['dateEdited', 'dateObserved', 'observer']"
        [formID]="formId"
        [namedPlace]="namedPlace.id"
        [showDownloadAll]="false"
      ></laji-own-submissions>
    </div>
  </ng-template>
</div>
