.np-info {
  margin-bottom: 3px;
}

.np-info legend {
  margin-top: 5px;
  margin-bottom: 12px;
}

.row-container {
  margin-top: 10px;
}

laji-np-info-map {
  float: right;
  width: 55%;
  padding-top: 55%;
  position: relative;
}

#use-button-container {
  display: flex;
  #margin: 0 0 6px -3px;
}

.use-button {
  white-space: normal;
  margin: 6px 9px 6px 0;
}

#info-box {
  padding: 10px 0 7px 0;
}

#btn-container {
  text-align: right;
  margin-top: -5px;
  margin-bottom: 5px;
}
