<ng-container *ngIf="showLabels; else withTooltip"><span *ngIf="re"
        class="possible-re"
  >● &ndash; {{ 'MKV.possiblyRE' | translate }}</span>
  <span *ngIf="mark"
  >{{ mark }} &ndash; {{ _evaluation.externalPopulationImpactOnRedListStatus | translate }}</span>
</ng-container>
<ng-template #withTooltip>
  <span *ngIf="re"
        [tooltip]="'MKV.possiblyRE' | translate"
        class="possible-re"
  >●</span>
  <span *ngIf="mark"
        [tooltip]="_evaluation.externalPopulationImpactOnRedListStatus | translate"
  >{{ mark }}</span>
</ng-template>
