<laji-spinner [spinning]="loading && showSpinner" [overlay]="true">
  @if (!loading) {
    @if (view === 'viewer') {
      <laji-document-local-viewer-view
        [document]="document"
        [fields]="fields"
        [imageData]="imageData"
        [mapData]="mapData"
        [zoomToData]="zoomToData"
        (documentDeleted)="closeDocument()"
      ></laji-document-local-viewer-view>
    }
    @if (view === 'print' && document.formID !== collectionContestFormId) {
      <laji-document-local-print-view
        [document]="document"
        [fields]="fields"
        [imageData]="imageData"
        [mapData]="mapData"
      ></laji-document-local-print-view>
    }
    @if (view === 'print' && document.formID === collectionContestFormId) {
      <laji-collection-contest-print
        [document]="document"
        [fields]="fields"
        [imageData]="imageData"
        [mapData]="mapData"
        [formLogo]="formLogo">
      </laji-collection-contest-print>
    }
  }
</laji-spinner>
