<h1>
  Solun arvojen linkittäminen
</h1>

<h3 *ngIf="field">{{field.fullLabel}}</h3>
<ng-container [ngSwitch]="special">
  <ng-container *ngSwitchCase="specials.person">
    <laji-special-friend
      [field]="field"
      [invalidValues]="invalid"
      [mapping]="valueMap[field.key]"
      (mappingChanged)="onMapping($event)"
    ></laji-special-friend>
  </ng-container>
  <ng-container *ngSwitchCase="specials.geometry">
    <laji-special-geometry
      [field]="field"
      [invalidValues]="invalid"
      [mapping]="valueMap[field.key]"
      (mappingChanged)="onMapping($event)"
      (done)="analyseNextColumn()"
    ></laji-special-geometry>
  </ng-container>
  <ng-container *ngSwitchCase="specials.taxonID">
    <laji-special-taxon-id
      [field]="field"
      [invalidValues]="invalid"
      [mapping]="valueMap[field.key]"
      (mappingChanged)="onMapping($event)"
    ></laji-special-taxon-id>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <laji-cell-value-select
      [field]="field"
      [invalidValues]="invalid"
      [mapping]="valueMap[field.key]"
      (mappingChanged)="onMapping($event)"
    ></laji-cell-value-select>
  </ng-container>
</ng-container>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" [disabled]="!allMapped" (click)="analyseNextColumn()">Seuraava</button>
  </div>
</div>
