@if (vm$ | async; as vm) {
  @if (vm.isLinkable) {
    @if (vm.isLinked && !_linked) {
      <lu-alert type="warning" >
        {{ 'np.linker.hasAlreadyPlace' | translate }}
      </lu-alert>
    }
    <h4>{{ 'np.linker.title' | translate }}</h4>
    <laji-named-places [documentForm]="vm.form"
      [activeId]="activeNP"
      [municipality]="municipality"
      [birdAssociationArea]="birdAssociationArea"
      [tags]="tags"
      (activeIdChange)="onActiveIdChange($event!)"
      (municipalityChange)="onMunicipalityChange($event)"
      (birdAssociationAreaChange)="onBirdAssociationAreaChange($event)"
      (tagsChange)="onTagsChange($event)"
      (use)="use($event!)"
      [useLabel]="'np.linker.doLink' | translate"
      [displayHeader]="false"
      [readonly]="true"
      [useDisabled]="loading || _linked"
      [reloadSubmissions$]="reloadSubmissions$"
    ></laji-named-places>
  } @else {
    <lu-alert type="danger">
      {{ 'np.linker.noAccess' | translate }}
    </lu-alert>
  }
}

