@import 'projects/laji-ui/src/lib/vars';

.row {
  margin: 0;
  border-top: 1px solid #ddd;

  .key, .value {
    padding: 5px;
  }

  .key {
    font-weight: 700;
    max-width: 300px;
  }
}

:host:first-child .row {
  border-top: none;
}

:host ::ng-deep ul {
  padding-left: 20px;
  margin-left: 0;
}

.lu-ghost-textcontent {
  position: relative;
  width: 100px;
  height: 1em;
  margin: 5px;
  background-color: $neutral-2;
  border-radius: 3px;
}
