@import 'vars';

:host {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  width: 100%;
}

.laji-beta-popup {
  display: block;

  font-size: $fs-3;
  color: $danger-1;
  border-top: 4px solid $danger-7;
  padding: 10px;
  background-color: $danger-5;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
}