@import 'vars';

:host {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  width: 100%;
}

.laji-beta-popup {
  display: block;

  border-top: 4px solid $primary-5;
  padding: 10px;
  background-color: $neutral-1;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
}