<ng-container *ngIf="hasDoc && document">
  <div class="row">
    <div class="col-sm-7">
      <div class="page-header" *ngIf="!hideHeader" [ngClass]="{tight: !showTitle}">
        <h3 ngPreserveWhitespaces>
          {{'viewer.document' | translate }}
          <small>
            <a [routerLink]="['/view'] | localize" [queryParams]="{uri: document.documentId}" target="_blank">
              {{document.documentId}}
            </a>
          </small>
          <a type="button"
             class="btn btn-sm btn-default"
             [routerLink]="['/view/print'] | localize"
             [queryParams]="(document.formId | toQName) === collectionContestFormId ? {id: (document.documentId | toQName)} : {uri: document.documentId, own: own}"
             target="_blank"
             [tooltip]="'haseka.submissions.toPrint' | translate">
            {{'print' | translate}}
            <img src="/static/images/icons/pdf_16x16.png">
          </a>
          <laji-edit-link
            [editors]="editors"
            [personID]="personID"
            [documentID]="document.documentId"
            [formID]="document.formId"
          ></laji-edit-link>
        </h3>
      </div>
      <laji-issues [data]="document"></laji-issues>
      <laji-row [title]="'MY.collectionID' | label" [value]="document.collectionId | toQName | collectionName" ngPreserveWhitespaces>
        <span *ngIf="showFacts"><a target="_blank" href="{{document.collectionId}}">{{document.collectionId}}</a></span>
      </laji-row>
      <laji-row [title]="'MY.notes' | label" [value]="document.notes"></laji-row>
      <laji-row [title]="'MY.keywords' | label" [value]="document.keywords"></laji-row>
      <!-- <laji-row [title]="'namedPlaceId'" [value]="document.namedPlaceId"></laji-row>-->
      <laji-facts [show]="showFacts" [facts]="document.facts | factNotIn:['http://tun.fi/MY.formID','http://tun.fi/MZ.publicityRestrictions']"></laji-facts>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12 doc-meta" *ngIf="!hideHeader">
          <ng-template #docMeta>
            <laji-row [title]="'MZ.editor' | label" *ngIf="document.linkings && document.linkings.editors && document.linkings.editors[0] && document.linkings.editors[0].fullName">
              {{document.linkings.editors | values:', ':'fullName' }}
            </laji-row>
            <laji-row [title]="'MZ.dateCreated' | label" [value]="document.createdDate | amDateFormat:'DD.MM.YYYY'"></laji-row>
            <laji-row [title]="'MZ.dateEdited' | label" [value]="document.modifiedDate | amDateFormat:'DD.MM.YYYY'"></laji-row>
            <laji-row [title]="'viewer.loadDate' | translate" [value]="document.loadDate | amDateFormat:'DD.MM.YYYY'"></laji-row>
          </ng-template>
          <a class="btn btn-default btn-xs pull-right" style="margin-left: 10px;"
             *ngIf="externalViewUrl"
             href="{{externalViewUrl}}" rel="noopener" target="_blank"
              [tooltip]="'information.more' | translate"
              placement="left">
            <i class="glyphicon glyphicon-new-window small"></i>
          </a>
          <button class="btn btn-default btn-xs pull-right" style="margin-left: 10px;"
                  [popover]="docMeta"
                  placement="left"
                  triggers="click mouseenter:mouseleave"><i class="glyphicon glyphicon-user"></i>
          </button>
          <button class="btn btn-default btn-xs pull-right"
                  (click)="toggleFacts()">
            {{showFacts ? ('viewer.hideFacts' | translate) : ('viewer.showFacts' | translate)}}
            <i class="glyphicon" [ngClass]="{'glyphicon-eye-close': showFacts, 'glyphicon-eye-open': !showFacts}"></i>
          </button>
          <div style="margin-top: 35px;">
            <alert [type]="document.secured ?  'warning' : 'info'">
              <span *ngIf="!document.secured; else isSecured">
                {{'viewer.secured.none' | translate}}
              </span>
              <ng-template #isSecured>
                <span *ngIf="document.public">
                  <span *ngIf="document.secureLevel !== 'NONE' || (document.secureReasons && document.secureReasons.length > 0)">
                    {{'viewer.secured.secured' | translate}}
                  </span>
                  <span *ngIf="document.partial">
                    {{'viewer.secured.partial' | translate}}
                  </span>
                </span>
                <span *ngIf="!document.public">
                  {{'viewer.secured.own1' | translate}}
                  (<a [routerLink]="['/view'] | localize" [queryParams]="{
                    uri: document.documentId,
                    highlight: highlight
                   }" target="_blank">{{'viewer.secured.own2' | translate}}</a>).
                </span>
              </ng-template>
              <div *ngIf="document.secured">
                <laji-secure-info
                  [secureLevel]="document.secureLevel"
                  [secureReasons]="document.secureReasons"
                ></laji-secure-info>
                <ng-container *ngIf="document.secureReasons && document.secureReasons.indexOf('DEFAULT_TAXON_CONSERVATION') > -1">
                  <br><a [routerLink]="'/about/709'" target="_blank">{{'information.more' | translate}}</a>
                </ng-container>
              </div>
            </alert>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="document.media">
        <div class="col-sm-12">
          <laji-image-gallery [modalImages]="document.media"></laji-image-gallery>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="document.gatherings && document.gatherings.length > 1 && !showOnlyHighlighted" class="gatherings">
    <ul class="nav nav-tabs link">
      <li *ngFor="let gathering of document.gatherings; let i=index" [ngClass]="{active: active === i}">
        <a (click)="setActive(i)">
         {{i + 1}}
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <ng-container *ngFor="let gathering of document.gatherings; let i=index">
        <laji-gathering (showAllUnits)="toggleShowOnlyHighlighted()" [identifying]="identifying" [openAnnotation]="openAnnotation" [unitCnt]="unitCnt" [showOnlyHighlightedUnit]="showOnlyHighlighted" [showFacts]="showFacts" [editors]="editors" [personID]="personID" [documentID]="documentID" [gathering]="gathering" [highlight]="highlight" [visible]="active === i"></laji-gathering>
      </ng-container>
    </div>
    <div class="col-sm-5">
      <laji-viewer-map [useWorldMap]="useWorldMap" [active]="active" *ngIf="hasMapData" [data]="mapData"></laji-viewer-map>
      <laji-image-gallery *ngIf="activeGathering && activeGathering.media" [modalImages]="activeGathering.media"></laji-image-gallery>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="hasDoc === false">
  <div class="page-header">
    <h2>{{'viewer.notFound' | translate}}</h2>
  </div>
</ng-container>
<!--<pre>{{document | json}}</pre>-->
