<div class="row" [hidden]="!visible">
  <div class="col-sm-6"></div>
  <div class="col-sm-6">
    <form id="area-form" class="well well-sm">
      <fieldset>
        <label>{{'np.country' | translate }}</label>
        <div>
          <select>
            <option></option>
            <option *ngFor="let country of countries" value={{country.id}}>{{country.value}}</option>
          </select>
        </div>
        <label>{{'np.municipality' | translate }}</label>
        <div>
          <select>
            <option></option>
            <option *ngFor="let municipality of municipalities" value={{municipality.id}}>{{municipality.value}}</option>
          </select>
        </div>
        <label>{{'np.biogeographicalProvince' | translate }}</label>
        <div>
          <select>
            <option></option>
            <option *ngFor="let province of biogeographicalProvinces" value={{province.id}}>{{province.value}}</option>
          </select>
        </div>
      </fieldset>
    </form>
  </div>
</div>
