<div class="top-content">
  <div class="top-bar">
    <div class="pull-right button-container">
      <div>
        <button class="btn btn-default" (click)="backToSiteSelectionClick.emit()">{{ 'identification.recordings.backToSiteSelection' | translate }}</button>
      </div>
      <div>
        <lu-button [disabled]="!statusInfo.hasPreviousRecording || buttonsAreDisabled" (click)="previousRecordingClick.emit()">{{ 'theme.kerttu.previousRecording' | translate }}</lu-button>
        <laji-info [html]="'theme.kerttu.info.previousRecording' | translate"></laji-info>
      </div>
      <div>
        <lu-button [disabled]="buttonsAreDisabled" (click)="saveClick.emit()">{{ 'theme.kerttu.saveRecording' | translate }}</lu-button>
        <laji-info [html]="'theme.kerttu.info.saveRecording' | translate"></laji-info>
      </div>
      <div>
        <lu-button
          [disabled]="buttonsAreDisabled"
          [role]="'success'"
          (click)="nextRecordingClick.emit()">
          {{ 'theme.kerttu.nextRecording' | translate }}
        </lu-button>
        <laji-info [html]="'theme.kerttu.info.nextRecording' | translate"></laji-info>
      </div>
    </div>
  </div>
  <laji-audio-viewer
    [audio]="recording"
    [showZoomControl]="true"
    [showLoopControl]="false"
    [(mode)]="audioViewerMode"
    [rectangles]="rectangles"
    [spectrogramHeight]="170"
    [spectrogramConfig]="spectrogramConfig"
    [audioInfoTpl]="audioInfo"
    [customControlsTpl]="audioCustomControls"
    (drawEnd)="drawEnd($event)"
    (modeChange)="onAudioViewerModeChange()"
  ></laji-audio-viewer>
  <ng-template #audioCustomControls>
    <laji-audio-viewer-simple-settings
      [(showWholeFrequencyRange)]="showWholeFrequencyRange"
      [(showWholeTimeRange)]="showWholeTimeRange"
      (showWholeFrequencyRangeChange)="updateSpectrogramConfig()"
    ></laji-audio-viewer-simple-settings>
  </ng-template>
  <ng-template #audioInfo let-audio="audio">
      <span>
        {{ audio.dateTime | amDateFormat:'DD.MM.YYYY HH:mm' }}
        {{ audio.site.name }}<ng-container *ngIf="audio.site.country">, {{ audio.site.country }}</ng-container>
      </span>
  </ng-template>
</div>
<div class="bottom-content">
  <h2 class="mt-3">
    {{ 'theme.kerttu.recordingAnnotation.title' | translate }}
    <laji-info [html]="'theme.kerttu.info.recordingAnnotation' | translate"></laji-info>
  </h2>
  <div class="general-annotation-section mb-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="annotation.isLowQuality" (change)="updateAnnotation()"/>{{ 'theme.kerttu.isLowQuality' | translate }}
          </label>
          <laji-info [placement]="'right'" [html]="'theme.kerttu.info.isLowQuality' | translate"></laji-info>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="annotation.containsHumanSpeech" (change)="updateAnnotation()">{{ 'theme.kerttu.containsHumanSpeech' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.containsHumanSpeech' | translate"></laji-info>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="annotation.containsUnknownBirds" (change)="updateAnnotation()">{{ 'theme.kerttu.containsUnknownBirds' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.containsUnknownBirds' | translate"></laji-info>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="annotation.doesNotContainBirds" (change)="updateAnnotation()">{{ 'theme.kerttu.doesNotContainBirds' | translate }}
          </label>
          <laji-info [html]="'theme.kerttu.info.doesNotContainBirds' | translate"></laji-info>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="annotation.containsBirdsNotOnList" (change)="updateAnnotation()">{{ 'identification.recordings.containsBirdsNotOnList' | translate }}:
          </label>
        </div>
        <input class="form-control" type="text" [(ngModel)]="annotation.birdsNotOnList" [disabled]="!annotation.containsBirdsNotOnList" maxlength="100">
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="annotation.hasBoxesForAllBirdSounds" (change)="updateAnnotation()">{{ 'identification.recordings.hasBoxesForAllBirdSounds' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h4>
      {{ 'theme.kerttu.listSpecies' | translate }}
      <laji-info [placement]="'right'" [html]="'theme.kerttu.info.listSpecies' | translate"></laji-info>
    </h4>
    <bsg-taxon-select
      id="species-select"
      (taxonSelect)="addToIdentifications($event)"
    ></bsg-taxon-select>
  </div>
  <bsg-identification-table
    [recording]="recording"
    [(identifications)]="selectedSpecies"
    [loading]="loadingSpecies"
    [birdRectangleColor]="birdRectangleColor"
    [overlappingBirdRectangleColor]="overlappingBirdRectangleColor"
    [drawActive]="drawBirdActive"
    (drawClick)="onDrawBirdClick($event)"
    (deleteBoxClick)="removeDrawing($event)"
    (identificationsChange)="updateSpectrogramAndAnnotation()"
  ></bsg-identification-table>
  <div class="form-group mt-4 mb-4">
    <label for="species-select">
      {{ 'identification.recordings.drawNonBird' | translate }}
    </label>
    <div>
      <button
        class="btn"
        [ngClass]="{
            'btn-default': !drawNonBirdActive,
            'btn-primary': drawNonBirdActive
           }"
        (click)="toggleDrawNonBird()"
        [disabled]="loadingSpecies"
      >
        {{ 'identification.recordings.' + (annotation.nonBirdArea ? 'redraw' : 'draw') | translate }}
      </button>
      <button
        *ngIf="annotation.nonBirdArea"
        class="btn btn-default ml-2"
        (click)="removeDrawing()"
        [disabled]="loadingSpecies"
      >
        {{ 'identification.recordings.remove' | translate }}
      </button>
    </div>
  </div>
</div>
