@if (_list) {
  @if (isTaxonAutocomplete) {
    @for (item of _list; track item; let i = $index) {
      @if (findIndexValue(item)) {
        <span class="label label-success link" (click)="remove(item)" tabindex="0" role="button" luKeyboardClickable>{{ findIndexValue(item) }} <span class="glyphicon glyphicon-remove"></span></span>
      } @else {
        <span class="label label-success link" (click)="remove(item)" tabindex="0" role="button" luKeyboardClickable>{{ item | taxon:'scientific' }} <span class="glyphicon glyphicon-remove"></span></span>
      }
    }
  } @else {
    @for (item of _list; track item) {
      <span class="label label-success link" (click)="remove(item)" tabindex="0" role="button" luKeyboardClickable>{{ isLabel ? (item | label) : item }} <span class="glyphicon glyphicon-remove"></span></span>
    }
  }
}
