.annotation {
  border-radius: 5px;
  padding: 5px;
}
.close {
  font-size: 16px;
}
.header {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 -5px;
  padding: 0 5px;
  height: 30px;
}

.comment-title {
  font-weight: bold;
  font-size:18px;
}

.switch-mode {
  color: #3498DB;
  cursor: pointer;
}

.annotation-form {
  margin-top: 30px;
}
