a {
  cursor: pointer;
}

.annotation {
  border-radius: 5px;
}
.close {
  font-size: 16px;
}
.header {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 -5px;
  padding: 0 5px;
  height: 30px;
}

.comment-title {
  font-weight: bold;
  font-size:20px;
}

.switch-mode {
  color: #3498DB;
  cursor: pointer;
}

.annotation-form {
  margin-top: 30px;
  background: #f9f9f9;
  padding: 10px;
  border: 2px solid #b2b2b2;
}

hr {
  border-top: 2px solid #eee;
}

@media only screen and (max-width: 1280px) {
  .switch-mode {
    display: block;
    margin-bottom: 10px;
  }
}
