<div class="annotation"  *ngIf="targetID">
  <!--<div class="header">
    <button type="button" class="close" (click)="close.emit()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
    <h4>
      
      <span *ngIf="!adding">
        <button class="btn btn-xs btn-success" (click)="toggleAddForm()"><i class="glyphicon glyphicon-plus"></i></button>
      </span>
    </h4>
  </div>-->
  <laji-annotation-list
    [personID]="personID"
    [annotations]="annotations | convertAnnotations"
    (remove)="onDelete($event)">
  </laji-annotation-list>

</div>

<div class="annotation-form">
    <span class="comment-title">
        {{ 'annotation.addAnnotationExpert' | translate }}
    </span>
    
    <laji-annotation-form
    [identifying]="identifying"
    [annotations]="annotations | convertAnnotations"
    [annotation]="annotation"
    [personID]="personID"
    [editors]="editors"
    (success)="onSuccess($event)"
    (cancel)="closeAddForm()"
  ></laji-annotation-form>
</div>
