<div class="annotation"  *ngIf="targetID">
  <laji-spinner [spinning]="loading"></laji-spinner>
  <laji-annotation-list
    *ngIf="!loading"
    [personID]="personID"
    [annotations]="annotations"
    (remove)="onDelete($event)">
  </laji-annotation-list>
</div>

<hr/>

<div [ngClass]="{'annotation-form': formVisible, '': !formVisible}">
  <ng-container *ngIf="personRoleAnnotation === annotationRole.expert; else basicForm">
      <span class="comment-title"  *ngIf="expert; else expertAnnotation">
          {{ 'annotation.addAnnotationExpert' | translate }}
      </span>
      <ng-template #expertAnnotation>
        <span class="comment-title">{{ 'annotation.addBasicAnnotation' | translate }} </span>
      </ng-template>
      <span *lajiLoggedIn="true">
        <span class="switch-mode" *ngIf="expert; else basicMode" (click)="changeModeForm()">{{ 'annotation.switchToBasic' | translate }}</span>
        <ng-template #basicMode>
          <span class="switch-mode expert" (click)="changeModeForm()">{{ 'annotation.switchToExpert' | translate }}</span>
        </ng-template>  
      </span>
  </ng-container>
  <ng-template #basicForm>
    <ng-container *ngIf="formVisible; else noForm">
        <span class="comment-title">
            {{ 'annotation.addAnAnnotation' | translate }}
        </span>
    </ng-container>
  </ng-template>
  <ng-template #noForm>
      <span class="comment-title">
        {{ 'annotation.addAnAnnotation' | translate }}
      </span>
      <span *lajiLoggedIn="true" class="comment-title">
          <button class="btn btn-xs btn-success" (click)="showDocument()"><i class="glyphicon glyphicon-plus"></i></button>
      </span>
      <div *lajiLoggedIn="false" class="annotation-form">
          {{ 'force.login' | translate }}
      </div>
  </ng-template>
    
   
    <laji-annotation-form-new #formAnnotation
    [identifying]="identifying"
    [annotations]="annotations"
    [annotation]="annotation"
    [personID]="personID"
    [personRoleAnnotation]="personRoleAnnotation"
    [editors]="editors"
    [expert]="expert"
    [unit]="unit"
    [visible]="formVisible"
    (success)="onSuccess($event)"
    (cancel)="closeAddForm()"
  ></laji-annotation-form-new>
</div>
