<div class="annotation"  *ngIf="targetID">
  <!--<div class="header">
    <button type="button" class="close" (click)="close.emit()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
    <h4>
      
      <span *ngIf="!adding">
        <button class="btn btn-xs btn-success" (click)="toggleAddForm()"><i class="glyphicon glyphicon-plus"></i></button>
      </span>
    </h4>
  </div>-->
  <laji-annotation-list
    [personID]="personID"
    [annotations]="annotations | convertAnnotations"
    (remove)="onDelete($event)">
  </laji-annotation-list>

</div>

<div class="annotation-form">
  <ng-container *ngIf="personRoleAnnotation == 'MMAN.expert'; else basicForm">
      <span class="comment-title"  *ngIf="expert; else expertAnnotation">
          {{ 'annotation.addAnnotationExpert' | translate }}
      </span>
      <ng-template #expertAnnotation>
        <span class="comment-title">Add basic annotation</span>
      </ng-template>
      <span *lajiLoggedIn="true">
        <span class="switch-mode" *ngIf="expert; else basicMode" (click)="changeModeForm()"> Switch to basic</span>
        <ng-template #basicMode>
          <span class="switch-mode expert" (click)="changeModeForm()"> Switch to expert</span>
        </ng-template>  
      </span>
  </ng-container>
  <ng-template #basicForm>
      <span class="comment-title">
          Add an annotation
      </span>
  </ng-template>
    
   
    <laji-annotation-form
    [identifying]="identifying"
    [annotations]="annotations | convertAnnotations"
    [annotation]="annotation"
    [personID]="personID"
    [personRoleAnnotation]="personRoleAnnotation"
    [editors]="editors"
    [expert]="expert"
    [unit]="unit"
    (success)="onSuccess($event)"
    (cancel)="closeAddForm()"
  ></laji-annotation-form>
</div>
