<div class="gathering">
            <ng-container *ngFor="let unit of gathering?.units">
                <ng-container *ngIf="!showAnnotation; else annotation">
                    <ng-container *ngIf="(unit.unitId === highlight && showOnlyHighlightedUnit) || !showOnlyHighlightedUnit">
                        <laji-unit-annotation [identifying]="identifying" [openAnnotation]="openAnnotation" [showFacts]="showFacts" [editors]="editors" [personID]="personID" [documentID]="documentID" [unit]="unit" [highlight]="highlight"></laji-unit-annotation>
                    </ng-container>
                </ng-container>
                <ng-template #annotation>
                    <ng-container *ngIf="(unit.unitId === highlight && showOnlyHighlightedUnit) || !showOnlyHighlightedUnit">
                        <laji-annotation-data-observation *ngIf="unit.annotations && unit.annotations.length > 0" [gathering]="gathering" [unit]="unit" [editors]="editors" [collectionId]="collectionId" [createdDate]="createdDate"></laji-annotation-data-observation>
                        <div class="alert alert-success" *ngIf="annotationAddedDeleted.status" [@message]>
                            <span *ngIf="annotationAddedDeleted.action === 'adding'; else deleting">{{ 'annotation.addedSuccess' | translate }}</span>
                            <ng-template #deleting>
                                <span>{{ 'annotation.deletedSuccess' | translate }}</span>
                            </ng-template>
                        </div>
                        <laji-unit-annotation-list [gathering]="gathering" [identifying]="identifying" [openAnnotation]="openAnnotation" [showFacts]="showFacts" [editors]="editors" [personID]="personID"
                        [personRoleAnnotation]="personRoleAnnotation" [documentID]="documentID" [unit]="unit" [highlight]="highlight" (annotationPending)="checkPending($event)"></laji-unit-annotation-list>
                    </ng-container>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="!showAnnotation">
                <ng-container *ngFor="let unit of gathering?.units">
                    <ng-container *ngIf="(unit.unitId === highlight && showOnlyHighlightedUnit) || !showOnlyHighlightedUnit">
                        <laji-row *ngIf="unit.interpretations && unit.interpretations.recordQuality" [title]="'annotation.quality.grade' | translate" [noTitleSpace]="false" ngPreserveWhitespaces> {{ unit.interpretations.recordQuality | warehouse | label }}</laji-row>
                        <laji-observation-effective-tags-taxon [unit]="unit" [parentSubject]="parentSubject"></laji-observation-effective-tags-taxon>
                    </ng-container>
                </ng-container>
                <laji-gathering-annotations-rows [gathering]="gathering"></laji-gathering-annotations-rows>
                <laji-facts [show]="showFacts" [facts]="gathering.facts | factNotIn:['http://tun.fi/MY.namedPlaceID']"></laji-facts>
            </ng-container>

