@if (notification) {
  <div class="notification-container">
    <a class="notification" [class.unseen]="!notification.seen"
      (click)="notificationSeen.emit(notification)"
      [class.seen]="notification.seen"
      [routerLink]="[targetPath] | localize"
      [queryParams]="targetQuery">
      <small>{{ notification.created | amTimeAgo }}</small><br>
      @switch (type) {
        @case ('annotation') {
          <small [innerHtml]="'notification.annotation' | translate: {uri: target, person: (by | users:'fullName')}"></small>
        }
        @case ('annotationCommented') {
          <small [innerHtml]="'notification.annotationCommented' | translate: {uri: target, person: (by | users:'fullName')}"></small>
        }
        @case ('friendRequest') {
          <small [innerHtml]="'notification.friendRequest' | translate: {uri: target, person: (by | users:'fullName')}"></small>
        }
        @case ('friendRequestAccepted') {
          <small [innerHtml]="'notification.friendRequestAccepted' | translate: {uri: target, person: (by | users:'fullName')}"></small>
        }
      }
    </a>
    <button type="button" class="delete" (click)="onRemove(notification)" luDropdownNoClose><i class="glyphicon glyphicon-remove"></i></button>
  </div>
} @else {
  <div class="notification-container">
    <div class="notification ghost">
      <lu-ghost-paragraph [length]="24"></lu-ghost-paragraph>
      <lu-ghost-paragraph [length]="48"></lu-ghost-paragraph>
    </div>
    <div class="delete ghost"></div>
  </div>
}
