<ng-container *ngIf="!multiselect">
    <select class="form-control" #areaSelectElem
            *ngIf="options.length > 0"
            (change)="areaSelect.emit(areaSelectElem.value)"
            [disabled]="disabled"
            [value]="value">
      <option *ngFor="let option of options" [value]="option.id" [selected]="option.id === value[0]">
        {{ option.translate ? (option.value | translate) : option.value }}
      </option>
    </select>
</ng-container>
<ng-container *ngIf="multiselect">
  <laji-select
    [options]="options || []"
    [filterPlaceHolder]="'haseka.submissions.filter' | translate"
    [useFilter]="true"
    [selected]="value"
    (selectedChange)="areaSelect.emit($any($event))"
    [open]="true"
  >
  </laji-select>
</ng-container>
