@import '../../../../styles/_styles.scss'; 

div {
    &.info {
        margin: 5px 0;
        @include font-size(1.4);
        div {
            &.title {
                font-weight: bold;
                margin-bottom:10px;
                line-height: 16px;
            }
            &.content {
                span {
                    display: inline-block;
                }
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

  }