<div class="species-container-container mb-8">
  <div class="species-navigation back" (mousedown)="scrollStart(-1)">
    <div class="glyphicon glyphicon-chevron-left"></div>
  </div>
  <div class="species-navigation next" (mousedown)="scrollStart(1)">
    <div class="glyphicon glyphicon-chevron-right"></div>
  </div>
  <div class="d-flex species-container" #speciesContainer>
    <div *ngFor="let species of speciesList" class="species d-flex flex-col mr-4">
      <div class="species-name-container">
        <div><a [routerLink]="['/taxon', species.id, 'identification']" [ngClass]="species.cursiveName ? 'cursive' : null" class="species-scientific-name" preserveQueryParams>
          {{ species.scientificName }}
        </a></div>
        <div class="species-vernacular-name">{{ species.vernacularName }}</div>
      </div>
      <div class="species-img-container flex-grow">
        <ng-container *ngIf="species.multimedia?.length > 0">
          <img [src]="species.multimedia[0].largeURL">
        </ng-container>
      </div>
    </div>
  </div>
</div>
