@page {
  size: A4;
  margin: 0;
}
.page {
  position: relative;
  margin: 10mm;
  width: 190mm;
  padding-top: 5mm;
}
.half-page-block {
  width: 95mm;
  min-height: 1mm;
  display: inline-block;
  vertical-align: top;
}
@media not print {
  .page {
    margin: 20px auto;
  }
}
@media print {
  ::ng-deep {
    .no-page-break {
      page-break-inside: avoid;
    }
  }
}
