<lu-tabs [selectedIndex]="activeTabIndex" (selectedChange)="setActiveTab($event)">
  <lu-tab [heading]="'np.list' | translate">
    <ng-container *ngIf="loadedTabs.isLoaded('list')">
      <laji-datatable
      #dataTable
      class="import-table"
      [showRowAsLink]="false"
      [showFooter]="false"
      [virtualScrolling]="true"
      [clientSideSorting]="false"
      [height]="'50vh'"
      [rows]='mappedData | onlyErroneous:showOnlyErroneous'
      [count]="mappedData.length"
      [page]="1"
      [pageSize]="mappedData.length"
      [columns]="dataColumns">
    </laji-datatable>
    </ng-container>
  </lu-tab>
  <lu-tab [heading]="'np.map' | translate">
    <ng-container *ngIf="loadedTabs.isLoaded('map')">
      <laji-import-map
        [data]="mappedData | onlyErroneous:showOnlyErroneous"
        [colMap]="colMap"
        [height]="'50vh'"
      ></laji-import-map>
    </ng-container>
  </lu-tab>
</lu-tabs>
