<div [popover]="popTemplate" placement="left" triggers="hover" id="short-document">
  <small *ngIf="!changingLocale">{{'haseka.users.saved' | translate}}: <span *ngIf="document.dateEdited">{{document.dateEdited | amTimeAgo}}</span></small>

  <span *ngIf="document.publicityRestrictions === publicity.publicityRestrictionsPrivate">
    <span class="label label-warning inline-block"
        [tooltip]="'haseka.form.private' | translate">
      <i class="glyphicon glyphicon-eye-close"></i>
    </span>
  </span>

  <span *ngIf="formService.hasUnsavedData(document.id, document) | async">
    <span class="label label-danger inline-block" [tooltip]="'haseka.form.hasChanges' | translate">
      <i class="glyphicon glyphicon-warning-sign"></i>
    </span>
    <span class="pull-right">
      <span class="label label-primary link inline-block" (click)="removeDocument(document)">
        <i class="glyphicon glyphicon-trash"></i>
      </span>
    </span>
  </span>
  <br>

  <a class="link" (click)="editDocument(document.formID, document.id)">
    <span *ngIf="gatheringDates.start || gatheringDates.end">
      {{gatheringDates.start | amDateFormat:'DD.MM.YYYY'}} - {{gatheringDates.end | amDateFormat:'DD.MM.YYYY'}}
    </span>
    <span>
      {{taxa.length}} {{'haseka.users.latest.gathered' | translate}}
    </span>
  </a>
  <br>

  <span class="label label-default">{{document.formID | formName}}</span>
</div>

<ng-template #popTemplate>
  <ul>
    <li *ngFor="let taxon of taxa">
      {{taxon.name}}
    </li>
  </ul>
</ng-template>
