:host >>> .individualId {
  font-size: x-small;
}

.setting-menu {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1;
}

.table th:last-child {
  padding-right: 40px;
}

.viewer-column {
  width: 35px;
}
