.panel-body {
  padding: 0;
}
.list-group {
  margin-bottom: 0;
}
.list-group-item {
  padding: 3px 15px;
}
.list-group-item.active {
  border-top: 1px solid #ddd;
}
.sub-header {
  padding: 3px 15px;
  font-weight: bold;
  background-color: #f5f5f5;
}
