<ng-container *ngIf="vm$ | async; let vm">
  <ng-template #documentModal>
    <div class="modal-content">
      <div class="modal-body" *ngIf="vm.document">
        <lu-button-round (click)="closeModal()" class="pull-right" role="neutral">
          <lu-icon type="close"></lu-icon>
        </lu-button-round>
        <div class="clear"></div>
        <laji-document-annotation *ngIf="!vm.forceLocal && vm.openAnnotation; else normal"
                                  [highlight]="vm.highlight"
                                  [uri]="vm.document.id"
                                  [own]="vm.own"
                                  [result]="vm.result"
                                  [openAnnotation]="vm.openAnnotation"
                                  [identifying]="vm.identifying"
                                  [useWorldMap]="vm.useWorldMap"
                                  (close)="closeModal()"
        >
        </laji-document-annotation>
        <ng-template #normal>
          <laji-document
            *ngIf="!vm.forceLocal && vm.document.publicityRestrictions === publicityRestrictionsPublic; else local"
            [highlight]="vm.highlight"
            [uri]="vm.document.id"
            [own]="vm.own"
            [openAnnotation]="vm.openAnnotation"
            [identifying]="vm.identifying"
            [useWorldMap]="vm.useWorldMap"
            (close)="closeModal()"
          >
          </laji-document>
        </ng-template>
        <ng-template #local>
          <laji-document-local [document]="vm.document" (close)="closeModal()">
          </laji-document-local>
        </ng-template>
      </div>
    </div>
  </ng-template>
</ng-container>
