@if (vm$ | async; as vm) {
  <lu-modal #documentModal [size]="vm.openAnnotation ? 'xl' : 'lg'">
    @if (vm.document) {
      @if (!vm.forceLocal && vm.openAnnotation) {
        <laji-document-annotation
          [highlight]="vm.highlight"
          [uri]="vm.document.id!"
          [own]="vm.own"
          [result]="vm.result"
          [openAnnotation]="vm.openAnnotation"
          [identifying]="vm.identifying"
          [useWorldMap]="vm.useWorldMap"
          (annotationClose)="closeModal()"
          >
        </laji-document-annotation>
      } @else {
        @if (!vm.forceLocal && vm.document?.publicityRestrictions === publicityRestrictionsPublic) {
          <laji-document
            [highlight]="vm.highlight"
            [uri]="vm.document.id!"
            [own]="vm.own"
            [openAnnotation]="vm.openAnnotation"
            [identifying]="vm.identifying"
            [useWorldMap]="vm.useWorldMap"
            (documentClose)="closeModal()"
            >
          </laji-document>
        } @else {
          <laji-document-local [document]="vm.document" (documentClose)="closeModal()">
          </laji-document-local>
        }
      }
    }
  </lu-modal>
}
