<ng-container *ngIf="vm$ | async; let vm">
  <lu-modal #documentModal [size]="vm.openAnnotation ? 'xl' : 'lg'">
    <ng-container *ngIf="vm.document">
        <laji-document-annotation *ngIf="!vm.forceLocal && vm.openAnnotation; else normal"
                                  [highlight]="vm.highlight"
                                  [uri]="vm.document.id!"
                                  [own]="vm.own"
                                  [result]="vm.result"
                                  [openAnnotation]="vm.openAnnotation"
                                  [identifying]="vm.identifying"
                                  [useWorldMap]="vm.useWorldMap"
                                  (annotationClose)="closeModal()"
        >
        </laji-document-annotation>
        <ng-template #normal>
          <laji-document
            *ngIf="!vm.forceLocal && vm.document?.publicityRestrictions === publicityRestrictionsPublic; else local"
            [highlight]="vm.highlight"
            [uri]="vm.document.id!"
            [own]="vm.own"
            [openAnnotation]="vm.openAnnotation"
            [identifying]="vm.identifying"
            [useWorldMap]="vm.useWorldMap"
            (documentClose)="closeModal()"
          >
          </laji-document>
        </ng-template>
        <ng-template #local>
          <laji-document-local [document]="vm.document" (documentClose)="closeModal()">
          </laji-document-local>
        </ng-template>
    </ng-container>
  </lu-modal>
</ng-container>
