<div *ngIf="loaded; else loading">
  <div *ngIf="form; else wip">
    <div [ngSwitch]="form.viewerType">
      <div *ngSwitchCase="'MHL.viewerTypeLineTransect'">
        <laji-line-transect-stats [document]="document" [namedPlace]="ns" (onNamedPlaceChange)="updateNamedPlace($event)"></laji-line-transect-stats>
      </div>
      <div *ngSwitchDefault="">
        <div *ngTemplateOutlet="wip"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <laji-spinner [spinning]="!loaded">
  </laji-spinner>
</ng-template>
<ng-template #wip>
  <h3>{{'haseka.statistics.title' | translate}}</h3>
  <p>Ei vielä toteutettu.</p>
</ng-template>

