<div>
  <label>{{ showWholeTimeRangeLabel }}</label>
  <bSwitch
    [switch-on-text]="'on' | translate"
    [switch-off-text]="'off' | translate"
    [switch-on-color]="'primary'"
    [switch-size]="'small'"
    [ngModel]="showWholeTimeRange"
    (ngModelChange)="showWholeTimeRangeChange.emit($event)"
    [switch-base-class]="'bootstrap-switch'">
  </bSwitch>
  <laji-info *ngIf="showWholeTimeRangeInfo" [placement]="'right'" [html]="showWholeTimeRangeInfo"></laji-info>
</div>
<div>
  <label>{{ showWholeFrequencyRangeLabel }}</label>
  <bSwitch
    [switch-on-text]="'on' | translate"
    [switch-off-text]="'off' | translate"
    [switch-on-color]="'primary'"
    [switch-size]="'small'"
    [ngModel]="showWholeFrequencyRange"
    (ngModelChange)="showWholeFrequencyRangeChange.emit($event)"
    [switch-base-class]="'bootstrap-switch'">
  </bSwitch>
  <laji-info *ngIf="showWholeFrequencyRangeInfo" [placement]="'right'" [html]="showWholeFrequencyRangeInfo"></laji-info>
</div>
