<alert type="warning" *ngIf="isLinkable$ | async">
  Puuttuu nimetty paikka<br>
  <lu-button (click)="openNamedPlacesChooserModal()">Linkitä havaintoerä nimettyyn paikkaan</lu-button>
</alert>

<div class="modal fade no-propagation named-place-linker-modal" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <ng-container *ngIf="vm$ | async as vm">
          <laji-named-places [documentForm]="vm.form"
                             [activeId]="activeNP"
                             [municipality]="municipality"
                             [birdAssociationArea]="birdAssociationArea"
                             [tags]="tags"
                             (activeIdChange)="onActiveIdChange($event)"
                             (municipalityChange)="onMunicipalityChange($event)"
                             (birdAssociationAreaChange)="onBirdAssociationAreaChange($event)"
                             (tagsChange)="onTagsChange($event)"
                             (use)="use($event)"
                             [useLabel]="'Linkitä'"
                             [displayHeader]="false"
                             [readonly]="true"
                             [useDisabled]="loading"
          ></laji-named-places>
        </ng-container>
      </div>
    </div>
  </div>
</div>
