$bg-color: rgb(245, 245, 245);
$evaluated-color: rgb(209, 231, 255);
$red-list-color: rgb(255, 218, 218);
$endangered-color: rgb(255, 144, 144);

.selectable {
  padding: 0;
  width: 100%;
}

.table {
  border: 1px solid #ddd;
  width: 100%;
  background-color: $bg-color;
  font-size: small;
}
.table label {
  font-weight: normal;
}
.table input {
  display: block;
  float: left;
  margin-top: 2px;
}
.explanation {
  vertical-align: top;
  alignment: left;
}

.evaluated, .evaluated .selectable {
  background-color: $evaluated-color;
}

.redlist, .redlist .selectable {
  background-color: $red-list-color;
}

.endangered, .endangered .selectable {
  background-color: $endangered-color;
}

td {
  padding: 1px !important;
  border: none !important;
}

label {
  margin: 0 !important;
}
