.selectable {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 5px 10px;
  width: 100%;
}

.table {
  border: 1px solid #ddd;
}

.explanation {
  vertical-align: top;
  alignment: left;
}

.evaluated {
  background-color: rgb(209, 231, 255);
}

.redlist {
  background-color: rgb(255, 218, 218);
}

.endangered {
  background-color: rgb(255, 144, 144);
}

td {
  padding: 5px !important;
  border: none !important;
}

label {
  margin: 0 !important;
}
