<laji-select-subcategories
  [query]="query"
  [options]="_options"
  [title]="placeholder | translate"
  [filterPlaceHolder]="'haseka.submissions.filter' | translate"
  [useFilter]="useFilter"
  [multiple]="multiple"
  [info]="info"
  [open]="open"
  [disabled]="disabled"
  [loading]="categoryOptions === null"
  [subCategories]="subCategories"
  [subTitleBase]="subTitleBase"
  [filtersName]="filtersName"
  [filtersValues]="queryToSelect"
  (selectedChange)="refreshValue($event)"
></laji-select-subcategories>
