<p>Tässä osiossa voit hallita kokoelman “{{ form.collectionID | label }}” havaintoja.</p>

<p *ngIf="isSecondary; else primary">
  Havainnot ovat sekundääridataa, joten muutokset tulee tehdä primääridataan ja sitten päivittää tänne tallennuspohjan avulla, esim. määrävälein.
</p>
<ng-template #primary>
  <p>
    Havainnot ovat primääridataa, joten muutokset tulee tehdä täällä oleviin tietoihin.
  </p>
</ng-template>

<p><strong>Tehdyt päivitykset</strong></p>
<p>??????</p>

<p><strong>Ohjeita</strong></p>

<ul>
  <li>Havaintojen lisääminen</li>
  <li>Havaintojen päivittäminen</li>
  <li>Havaintojen poistaminen</li>
</ul>
<ul>
  <li>Kaikki kokoelman havainnot (Laji.fi havaintohaku)</li>
  <li>Kokoelman metatiedot</li>
</ul>
