<lu-sidebar [position]="'right'" [staticWidth]="300">
  <main>
    <div class="info-box mb-3">
      <ng-container *lajiForTypes="['vir']">
        <h1 translate>vir.species.title</h1>
        <laji-info-page rootPage="3995"></laji-info-page>
      </ng-container>
      <ng-container *lajiForTypes="['vir']; exclude: true">
        <h1>{{ 'species.search' | translate }}</h1>
        <h2>{{ 'species.title.short' | translate }}</h2>
        <p>{{ 'species.title.long' | translate }}</p>
      </ng-container>
    </div>
    <lu-tabs [selectedIndex]="selectedIndex" (select)="onSelect($event)">
      <lu-tab [heading]="'species.list' | translate">
        <laji-species-list [searchQuery]="searchQuery"
                           [countStartText]="'species.list.count1' | translate"
                           [countEndText]="'species.list.count2' | translate">
        </laji-species-list>
      </lu-tab>
      <lu-tab [heading]="'species.images' | translate">
        <laji-species-images [searchQuery]="searchQuery"
                             [countStartText]="'species.images.count1' | translate"
                             [countEndText]="'species.images.count2' | translate">
        </laji-species-images>
      </lu-tab>
    </lu-tabs>
  </main>
  <nav>
    <laji-species-form [searchQuery]="searchQuery"></laji-species-form>
  </nav>
</lu-sidebar>
