<ng-container *lajiBrowserOnly>
  <ng-container  *ngIf="vihkoSettings.showIntro">
    <ng-container *ngIf="!modal; else showModal">
      <div class="pull-right toggle-intro">
        <i (click)="toggleInfo()" class="link glyphicon glyphicon-info-sign"></i>
      </div>
      <alert *ngIf="vihkoSettings.showIntro" [dismissible]="true" (onClose)="toggleInfo()" [type]="'info'">
        <div [innerHtml]="'haseka.intro2' | translate"></div>
      </alert>
    </ng-container>

    <ng-template #showModal>
      <div class="modal" tabindex="-1" role="dialog" bsModal #modal="bs-modal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <div [innerHtml]="'haseka.intro2' | translate"></div>
              <button type="button"
                      class="btn btn-md btn-primary btn-block use-button"
                      (click)="toggleInfo()">
                {{ dismissLabel | translate }}
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </ng-template>
  </ng-container>
</ng-container>
