<div class="player-audio">
    <div class="player-audio-child now">
      <div class="info">
        <div class="author">
          Author: {{ playingAudio.author }}
          License: {{ playingAudio.licenseId | label }}
        </div>
        <div class="spectogram">
          <img src="{{ playingAudio.thumbnailURL }}">
        </div>
      </div>
    </div> 
    <div class="player-audio-child controls">
        <div class="buttons">
          <button (click)="previousAudio()" class="play" *ngIf="nowplayingAudioId > 0 && listAudio.length > 1"><i class="glyphicon glyphicon-backward"></i></button>
          <button (click)="audioPlay()" class="play"><i class="glyphicon" [ngClass]="{'glyphicon-play': !isPlaying, 'glyphicon-pause': isPlaying}"></i></button>
          <button (click)="saveFile()" class="save"><i class="glyphicon glyphicon glyphicon-save"></i></button>
          <button (click)="nextAudio()" class="play" *ngIf="(nowplayingAudioId < listAudio.length-1) && listAudio.length > 1"><i class="glyphicon glyphicon-forward"></i></button>
        </div>
    </div>
    <div class="player-audio-child volume-controls">
        <button (click)="audioMute()" class="inline"><i class="glyphicon" [ngClass]="{'glyphicon-volume-off': audioContainer.volume === 0, 'glyphicon-volume-up': audioContainer.volume > 0}"></i></button>
        <div #volumeBar (click)="changeAudioVolume($event)" class="volume-bar">
          <div #volumeStatus class="volume-bar-active"></div>
        </div>
    </div>
</div>
  
  <audio #audio class="music-player__audio-container" [src]="playingAudio.mp3URL"></audio>
