<div class="container">
  <div class="row" *ngIf="!isAlreadyAllowed && !isAlreadyRequested">
    <div class="col-sm-6">
      <h3>Sinulla ei ole vielä pääsyä kyseiseen lomakkeeseen</h3>
      <p>
        Tämän lomakkeen käyttäminen vaatii erillisen luvan.
        Voit halutessasi pyytää sen painamalla alla olevaa "Pyydä pääsy"-nappia.
      </p>
      <button class="btn btn-success" (click)="makeAccessRequest()">Pyydä pääsy</button>
      <button class="btn btn-default pull-right" (click)="back()">Palaa takaisin</button>
    </div>
  </div>
  <div class="row" *ngIf="isAlreadyRequested">
    <div class="col-sm-6">
      <h3>Olet jo pyytänyt pääsyä kyseiseen lomakkeeseen</h3>
      <button class="btn btn-default pull-right" (click)="back()">Palaa takaisin</button>
    </div>
  </div>
  <div class="row" *ngIf="isAlreadyAllowed">
    <div class="col-sm-6">
      <h3>Sinulla on jo pääsyä kyseiseen lomakkeeseen</h3>
      <button class="btn btn-default pull-right" (click)="back()">Palaa takaisin</button>
    </div>
  </div>
</div>
