@import 'vars';
@import 'projects/laji-ui/src/lib/utils';
@import 'projects/laji-ui/src/lib/mixins/base';

html, body {
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: $neutral-2;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-view, footer {
  @include base();
}
