<div class="container lu-text-content mt-6">
  <h1>{{ 'home.authority.title' | translate }}</h1>
  <div class="species-banner">
    <div class="img-1"></div>
    <div class="img-2"></div>
    <div class="img-3"></div>
    <div class="img-4"></div>
  </div>
  <div class="numbers d-flex my-4">
    <div class="total mr-5">
      <laji-observation-count [lightLoader]="true" [query]="{cache: true}"
      ></laji-observation-count>&nbsp;{{ 'home.carousel.observations' | translate }}
    </div>
    <div class="species">
      <laji-observation-count [lightLoader]="true" [field]="'unit.linkings.taxon.id'"
                              [query]="{taxonRankId: 'MX.species', cache: true}">
      </laji-observation-count>&nbsp;{{ 'observation.results.species' | translate }}
    </div>
  </div>

  <div class="intro my-6">
    <div [innerHtml]="'home.authority.text' | translate" lajiRouteTransformer></div>
<!--     <div class="row">
      <laji-navigation-thumbnail name="navigation.taxonomy" icon="species" path="taxon" [intro]="'home.taxon-sub-intro' | translate" [info]="'home.taxon-intro' | translate"></laji-navigation-thumbnail>
      <laji-navigation-thumbnail name="home.observation" icon="observations" path="observation" [intro]="'home.observation-sub-intro' | translate" [info]="'home.observation-intro' | translate"></laji-navigation-thumbnail>
    </div> -->
  </div>

  <div class="instructions d-flex flex-wrap my-9">
    <div class="flex-grow instructions-content">
      <p translate>vir.home.virInstructions</p>
      <lu-button role="primary" anchor="https://cdn.laji.fi/files/vir/vir_kayttoehdot.pdf" target="_blank"><i class="glyphicon glyphicon-file"></i> {{ "vir.home.virInstructions.btn" | translate }}</lu-button>
      <p class="mt-5" translate>vir.home.loginInstructions</p>
      <lu-button anchor="https://cdn.laji.fi/files/vir/vir_kirjautumisohje.pdf" target="_blank"><i class="glyphicon glyphicon-file"></i> {{ "vir.home.loginInstructions.btn" | translate }}</lu-button>
      <p class="mt-5" translate>vir.home.agreement</p>
      <lu-button anchor="https://cdn.laji.fi/files/vir/vir_mallisopimus.pdf" target="_blank"><i class="glyphicon glyphicon-file"></i> {{ "vir.home.agreement.btn" | translate }}</lu-button>
    </div>
    <div class="flex-grow-2 d-flex flex-col justify-center items-center instructions-info">
      <i class="glyphicon glyphicon-info-sign"></i>
    </div>
  </div>

  <div class="mb-6">
    <h3 translate>vir.home.links</h3>
    <div class="d-flex ext-links">
      <a class="quality mr-6" [routerLink]="['/about/772']">
        <h1>Laadunvalvonta</h1>
        <p>Lajitietokeskuksen hallinoman lajitiedon laatutieto ja sen parantaminen annotoimalla</p>
      </a>
      <a class="redbook mr-6" href="https://punainenkirja.laji.fi/" target="_blank">
        <h1>PUNAINEN KIRJA<span class="glyphicon glyphicon-new-window"></span></h1>
        <p>Suomen lajiston uhanalaisuusarvioinnin 2019 tuloksia</p>
      </a>
      <a class="lajifi" href="https://laji.fi/about/709" target="_blank">
        <h1>LAJI.FI / Sensitiivinen lajitieto<span class="glyphicon glyphicon-new-window"></span></h1>
        <p>Sensitiivisen, arkaluonteisen, lajitiedon käsittely Lajitietokeskuksessa</p>
      </a>
    </div>
  </div>
</div>
