<div class="row">
  <div class="col-sm-12">
    <h3>Laskennan tulokset reitiltä {{ namedPlace.name }}</h3>
  </div>
</div>
<alert *ngIf="missingNS" [type]="'danger'">
  Havaintoerässä käytettyä nimettyä paikkaa ei löytynyt!
</alert>
<div class="edit-container">
  <a [routerLink]="path | localize" class="btn btn-primary">Siirry muokkaamaan <i class="glyphicon glyphicon-edit"></i></a>
</div>
<div class="row">
  <laji-accepted-document-approval [namedPlace]="namedPlace" [document]="document" (namedPlaceChange)="namedPlaceChange.emit($event)"></laji-accepted-document-approval>
</div>
