hr {
  margin: 4px 0;
}
.highlight {
  border-left: 3px solid #E7D759;
}
.scientificName {
  display: inline-block;
  white-space: nowrap;
}
.unit {
  position: relative;
}
.annotation-btn {
  position: absolute;
  margin-right: -28px;
  right: 0;
  top: 0;
}
