<hr>
<div [ngClass]="{'highlight': highlight === unit.unitId}">
  <laji-row [title]="'MY.recordBasis'" [value]="unit.recordBasis | label"></laji-row>
  <laji-row [title]="'MY.taxon'" *ngIf="unit && unit.linkings && unit.linkings.taxon">
    <span class="vernacularName" *ngIf="unit.linkings.taxon.vernacularName">
      {{unit.linkings.taxon.vernacularName | multiLang}}
    </span>
    <span class="scientificName">
      (<i *ngIf="unit.linkings.taxon.cursiveName">{{unit.linkings.taxon.scientificName}}</i><span *ngIf="!unit.linkings.taxon.cursiveName">{{unit.linkings.taxon.scientificName}}</span>)
      <a [routerLink]="['/taxon/' + unit.linkings.taxonId]"><i class="glyphicon glyphicon-modal-window"></i></a>
    </span>
  </laji-row>
  <div *ngIf="unit && (!unit.linkings || !unit.linkings.taxon)">
    <laji-row [title]="'taxonVerbatim'" [value]="unit.taxonVerbatim"></laji-row>
  </div>
  <laji-row [title]="'lifeStage'" [value]="unit.lifeStage"></laji-row>
  <laji-row [title]="'sex'" [value]="unit.sex"></laji-row>
  <laji-row [title]="item.fact | lcFirst" [value]="item.value | toQName | label" *ngFor="let item of unit.facts"></laji-row>
  <div class="image-holder">
    <laji-image-gallery *ngIf="unit.media" [modalImages]="unit.media"></laji-image-gallery>
  </div>
</div>