<hr>
<div class="unit" *ngIf="unit">
  <div [ngClass]="{'highlight': highlight === unit.unitId}">
    <laji-row *ngIf="unit.linkings && unit.linkings.originalTaxon; else taxonVerbatim" [title]="unit.recordBasis | label: 'warehouse'">
      <span class="vernacularName" *ngIf="unit.linkings.originalTaxon.vernacularName">
        {{unit.linkings.originalTaxon.vernacularName | multiLang}}
      </span>
      <span class="scientificName">
        (<span [class.cursive]="unit.linkings.originalTaxon.cursiveName">{{unit.linkings.originalTaxon.scientificName}}</span>)
        <a [routerLink]="['/taxon/' + (unit.linkings.originalTaxon.qname | toQName)] | localize" target="_blank"><i class="glyphicon glyphicon-modal-window"></i></a>
      </span>
    </laji-row>
    <ng-template #taxonVerbatim>
      <laji-row [title]="unit.recordBasis | label: 'warehouse'" [value]="unit.taxonVerbatim"></laji-row>
    </ng-template>
    <laji-row
      *ngIf="unit.linkings && unit.linkings.taxon && unit.linkings.originalTaxon && unit.linkings.taxon.qname !== unit.linkings.originalTaxon.qname"
      [title]="'viewer.fixedName'|translate">
      <span class="vernacularName" *ngIf="unit.linkings.taxon.vernacularName">
        {{unit.linkings.taxon.vernacularName | multiLang}}
      </span>
      <span class="scientificName">
        (<span [class.cursive]="unit.linkings.taxon.cursiveName">{{unit.linkings.taxon.scientificName}}</span>)
        <a [routerLink]="['/taxon/' + (unit.linkings.taxon.qname | toQName)] | localize" target="_blank"><i class="glyphicon glyphicon-modal-window"></i></a>
      </span>
    </laji-row>
    <laji-row [title]="'MY.det' | label" [value]="unit.det"></laji-row>
    <ng-container *ngIf="unit.reportedTaxonConfidence && (showFacts || unit.reportedTaxonConfidence !== 'SURE')">
      <laji-row [title]="'MY.taxonConfidence' | label" [value]="unit.reportedTaxonConfidence | label: 'warehouse'"></laji-row>
    </ng-container>
    <ng-container *ngIf="unit.quality && unit.quality.taxon && unit.quality.taxon.reliability && (showFacts || unit.quality.taxon.reliability !== 'NEUTRAL')">
      <laji-row [title]="'result.unit.quality.taxon'|translate">
        {{unit.quality.taxon.reliability | label: 'warehouse'}}
        <span *ngIf="unit.quality.taxon.source">
          ({{unit.quality.taxon.source | label: 'warehouse'}})
        </span>
      </laji-row>
    </ng-container>
    <laji-issues [data]="unit"></laji-issues>
    <laji-row [title]="'MY.count' | label" [value]="unit.abundanceString"></laji-row>
    <laji-row [title]="'MY.lifeStage' | label" [value]="unit.lifeStage | label: 'warehouse'"></laji-row>
    <laji-row [title]="'MY.sex' | label" [value]="unit.sex | label: 'warehouse'"></laji-row>
    <laji-row [title]="'MY.notes' | label" [value]="unit.notes"></laji-row>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-4">
        <div class="image-holder">
          <laji-image-gallery *ngIf="unit.media" [modalImages]="unit.media"></laji-image-gallery>
        </div>
      </div>
    </div>
    <laji-facts [show]="showFacts" [facts]="unit.facts"></laji-facts>
  </div>
  <div class="annotation-btn">
    <button type="button"
            [tooltip]="'annotation.title' | translate"
            placement="left"
            class="btn btn-xs {{annotationClass$ | async}}"
            (click)="toggleAnnotations()">
      <i class="fa {{annotationIcon}}"></i>
    </button>
  </div>
  <ng-container *ngIf="annotationVisible">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-2 annotations">
        <laji-annotations
          [identifying]="identifying"
          [editors]="editors"
          [personID]="personID"
          [rootID]="documentID"
          [targetID]="unitID"
          [annotations]="annotations"
          (close)="hideAnnotations()"
          (onChange)="initAnnotationStatus($event)"
        ></laji-annotations>
      </div>
    </div>
  </ng-container>
</div>
