<div class="laji-page">
  <!-- <img src="https://placehold.co/800x300"/> -->
  <h1 class="mb-7"><strong>FinBIF</strong> Trait Database</h1>
  @if (counts$ | async; as counts) {
    <div class="d-flex flex-gap-5 mb-6">
      <div class="counts-item"><strong>{{ counts.entries }}</strong> trait entries</div>
      <div class="counts-item"><strong>{{ counts.traits }}</strong> traits</div>
      <div class="counts-item"><strong>{{ counts.datasets }}</strong> datasets</div>
    </div>
  } @else {
    <laji-spinner class="d-block m-6"></laji-spinner>
  }

  <laji-trait-db-my-datasets></laji-trait-db-my-datasets>

  <div class="d-flex flex-gap-3 flex-wrap my-9">
    <a class="d-flex basis-5 flex-gap-4 navbox" routerLink="../browse">
      <i class="glyphicon glyphicon-search navbox-icon"></i>
      <div>
        <h5>Browse</h5>
        <p>Browse, search, and download trait data published on the FinBIF Trait Database. </p>
      </div>
    </a>

    <div class="d-flex basis-5 flex-gap-4 navbox" routerLink="../datasets">
      <i class="glyphicon glyphicon-list navbox-icon"></i>
      <div>
        <h5>Datasets</h5>
        <p>See list of published datasets, including details on sampling protocols, methods, data origins, and authors. Create your own dataset and share your trait data with the community. </p>
      </div>
    </div>

    <div class="d-flex basis-5 flex-gap-4 navbox" routerLink="../traits">
      <i class="glyphicon glyphicon-folder-close navbox-icon"></i>
      <div>
        <h5>Traits</h5>
        <p>Explore the traits defined by our experts, along with their measurement methods, and create your own traits. </p>
      </div>
    </div>

    <div class="d-flex basis-5 flex-gap-4 navbox" routerLink="../about">
      <i class="glyphicon glyphicon-info-sign navbox-icon"></i>
      <div>
        <h5>About</h5>
        <p>Find documentation, instructions, data policy details, API access, and more information about the database. </p>
      </div>
    </div>
  </div>
</div>
