<table class="table table-condensed">
  <tbody>
  <tr>
    <th>TaxonID-{{ 'taxonomy.taxonConcept.id' | translate }}</th>
    <td><a [href]="'https://taxonid.org/' + taxonConceptId" target="_blank">{{ taxonConceptId }}</a></td>
  </tr>
  <tr *ngIf="matches.length > 0">
    <th>{{ 'taxonomy.taxonConcept.otherLists' | translate }}</th>
    <td>
      <ul>
        <li *ngFor="let match of matches">
          <a [href]="match.id" target="_blank">{{ match.scientificName }}</a>
          <ng-container *ngIf="match.scientificNameAuthorship"> {{ match.scientificNameAuthorship }}</ng-container>
          <br/>
          <a [href]="match.inScheme" target="_blank">{{ match.inSchemeLabel | multiLang }}</a>
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
