<div class="row" *ngIf="formPermission">
  <div class="col-sm-6">
    <h3 *ngIf="type === 'admins'; else editorsTitle">
      {{ 'form.permission.admin.admins' | translate }}<br>
      <small>{{ 'form.permission.admin.admins.description' | translate }}</small>
    </h3>
    <ng-template #editorsTitle>
      <h3>{{ 'form.permission.admin.editors' | translate }}</h3>
    </ng-template>
    <p *ngIf="!formPermission[type] || formPermission[type].length === 0; else list">
      {{ 'form.permission.admin.noBody' | translate }}
    </p>
    <ng-template #list>
      <ul>
        <li *ngFor="let person of formPermission[type]">
          <button class="btn btn-warning btn-sm" (click)="reject(person)">{{ 'form.permission.admin.removeAccess' | translate}}</button>
          <button *ngIf="type === 'admins'" class="btn btn-warning btn-sm" (click)="makeEditor(person)">{{ 'form.permission.admin.removeAdminRights' | translate }}</button>
          <button *ngIf="type === 'editors'" class="btn btn-danger btn-sm" (click)="makeAdmin(person)">{{ 'form.permission.admin.grantAdminRights' | translate }}</button>
          <span class="form-control-static">
              {{ person | users }} ({{ person }})
          </span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
