<div [hidden]="!visible">
  <laji-issues [data]="gathering"></laji-issues>
  <laji-row [title]="'viewer.field.observer' | translate" [value]="gathering.team | values"></laji-row>
  <laji-row [title]="'viewer.field.time' | translate" *ngIf="gathering.displayDateTime">
    {{gathering.displayDateTime}}
  </laji-row>
  <laji-row [title]="'MY.locality' | label">
    <ul class="comma-list">
      <li *ngIf="gathering.higherGeography" [tooltip]="'MY.higherGeography' | label">{{gathering.higherGeography}}</li>
      <li *ngIf="gathering.interpretations?.country" [tooltip]="'MY.country' | label">{{gathering.interpretations.country | toQName | area}}</li>
      <li *ngIf="!gathering.interpretations?.country && gathering.country" [tooltip]="'MY.country' | label">{{gathering.country}}</li>
      <li *ngIf="gathering.province" [tooltip]="'MY.province' | label">{{gathering.province}}</li>
      <li *ngIf="gathering.interpretations?.biogeographicalProvince" [tooltip]="'MY.biologicalProvince' | label">{{gathering.interpretations.biogeographicalProvince | toQName | area}}
        ({{gathering.interpretations.biogeographicalProvince | toQName | area:'provinceCode'}})</li>
      <li [tooltip]="'MY.biologicalProvince' | label"
        *ngIf="!gathering.interpretations?.biogeographicalProvince && gathering.biogeographicalProvince">{{gathering.biogeographicalProvince}}</li>
      <li *ngIf="gathering.interpretations?.finnishMunicipalities; else municipality" [tooltip]="'MY.municipality' | label">{{gathering.interpretations.finnishMunicipalities | toQName | area | values}}</li>
      <ng-template #municipality>
        <li *ngIf="gathering.municipality" [tooltip]="'MY.municipality' | label">{{gathering.municipality}}</li>
      </ng-template>
      <li *ngIf="gathering.locality" [tooltip]="'MY.locality' | label">{{gathering.locality}}</li>
      </ul>
  </laji-row>
  <laji-row [title]="'MY.notes' | label" [value]="gathering.notes"></laji-row>
  <laji-row [title]="'MY.taxonCensus' | label" *ngIf="gathering.taxonCensus">
    <ul class="comma-list">
      <li *ngFor="let census of gathering.taxonCensus" [tooltip]="census.type | toQName | label">{{census.taxonId | toQName | taxon}}</li>
    </ul>
  </laji-row>
  <laji-facts [show]="showFacts" [facts]="gathering.facts"></laji-facts>
  <ng-container *ngFor="let unit of gathering?.units">
    <ng-container *ngIf="(unit.unitId === highlight && showOnlyHighlightedUnit) || !showOnlyHighlightedUnit">
      <laji-unit [identifying]="identifying" [openAnnotation]="openAnnotation" [showFacts]="showFacts" [editors]="editors" [personID]="personID" [documentID]="documentID" [unit]="unit" [highlight]="highlight"></laji-unit>
    </ng-container>
  </ng-container>
  <laji-row [showWithoutValue]="true" *ngIf="showOnlyHighlightedUnit && unitCnt > 1">
    <button type="button" (click)="showAllUnits.emit()" class="btn btn-default btn-sm all-units-btn">
      {{'viewer.otherUnits' | translate:{cnt: unitCnt - 1} }}
    </button>
  </laji-row>
</div>
