<div class="btn-group">
  <button type="button" class="btn" [ngClass]="_switchState === 'true' ? 'btn-' + onColor : 'btn-default'" (click)="switch('true')" [disabled]="disabled">{{ onText }}</button>
  <button type="button" class="btn" [ngClass]="_switchState === 'false' ? 'btn-' + onColor : 'btn-default'" (click)="switch('false')" [disabled]="disabled">{{ offText }}</button>
  <button type="button" class="btn" *ngIf="showUndefined" [ngClass]="_switchState === 'undefined' ? 'btn-' + onColor : 'btn-default'" (click)="switch('undefined')" [disabled]="disabled">{{ undefinedText }}</button>
</div>
<!--
<bSwitch
  [switch-off-text]="offText"
  [switch-on-text]="onText"
  [switch-on-color]="onColor"
  [switch-size]="size"
  [(ngModel)]="_switchState"
  [switch-base-class]="'bootstrap-switch'"
  (onChangeState)="switch($event)">
</bSwitch>
-->
