<!--<p>observation-effective-tags-taxon works!</p>-->

<div class="effective-taxon-tags">
    <ng-container *ngIf="showTitle">
        <h4>{{ 'annotation.effectiveQualityMarkings' | translate }}</h4>
    </ng-container>
    <ng-container *ngIf="showRecordQuality">
      <laji-row *ngIf="unit.interpretations && unit.interpretations.recordQuality && unit.interpretations.recordQuality !== 'NEUTRAL'" [title]="'annotation.quality.grade' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
          <div *ngIf="annotationResolving; else recordNoResolving">
              <laji-spinner></laji-spinner>
          </div>
          <ng-template #recordNoResolving>
              {{ unit.interpretations.recordQuality | warehouse | label }}
          </ng-template>
      </laji-row>
    </ng-container>
    <laji-row *ngIf="showEffectiveTag && unit.interpretations && unit.interpretations.effectiveTags && unit.interpretations.effectiveTags.length > 0" [title]="'annotation.effectiveTags' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
        <div *ngIf="annotationResolving; else tagsNoResolving">
            <laji-spinner></laji-spinner>
        </div>
        <ng-template #tagsNoResolving>
            <div *ngIf="!unit.interpretations || !unit.interpretations.effectiveTags || unit.interpretations.effectiveTags.length === 0; else tags">
                    {{ 'annotation.notEffectiveTags' | translate }}
              </div>
              <ng-template #tags>
                  <div class="tag" *ngFor="let item of convertEffective | async">
                      <div class="annotation-marker" [ngClass]="{'positive': item.type==='MMAN.typePositiveQuality', 'check': item.type==='MMAN.typeCheck', 'negative': (item.type==='MMAN.typeNegativeQuality' || item.type==='MMAN.typeAdmin'), 'info': item.type ==='MMAN.typeSelf', 'self': item.type ==='MMAN.typeInfo' }" >
                          <span>{{ item.name }}</span>
                      </div>
                  </div>
              </ng-template>
        </ng-template>
    </laji-row>
    <laji-row *ngIf="showEffectiveTaxon" [title]="'annotation.effectiveTaxon' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
        <div *ngIf="annotationResolving; else taxonNoResolving">
            <laji-spinner></laji-spinner>
        </div>
        <ng-template #taxonNoResolving>
            <div *ngIf="unit.linkings && unit.linkings.taxon || unit.taxonVerbatim || unit.reportedInformalTaxonGroup">
                <span *ngIf="unit.linkings && unit.linkings.taxon; else taxonVerbatim">
                    <laji-taxon-name [capitalizeName]="true" [taxon]="unit.linkings.taxon"></laji-taxon-name>
                </span>
                <ng-template #taxonVerbatim>
                   <span *ngIf="unit.taxonVerbatim; else reportedInformalTaxonGroup">{{ unit.taxonVerbatim | toQName | label }}</span>
                </ng-template>
                <ng-template #reportedInformalTaxonGroup>
                    <span>{{ unit.reportedInformalTaxonGroup | toQName | label }}</span>
                </ng-template>
                <span class="needsCheck" *ngIf="unit.interpretations && unit.interpretations.needsCheck">{{ 'annotation.needsCheck' | translate }}</span>
                <span class="small-text" *ngIf="haschangedTaxon">{{ 'annotation.effectiveTaxon.comment' | translate }}</span>
            </div>
        </ng-template>
    </laji-row>
</div>


