<!--<p>observation-effective-tags-taxon works!</p>-->

<div class="effective-taxon-tags">
    <laji-row [title]="'annotation.effectiveTags' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
        <div *ngIf="!unit.interpretations || !unit.interpretations.effectiveTags || unit.interpretations.effectiveTags.length === 0; else tags">
          <span>-</span>
        </div>
        <ng-template #tags>
            <div class="tag" *ngFor="let addedTag of unit.interpretations.effectiveTags" [ngSwitch]="addedTag | warehouse ">
                <div *ngSwitchCase="annotationTagsObservation[addedTag | warehouse ].value" class="annotation-marker {{ annotationTagsObservation[addedTag | warehouse ].type }}" >
                    <span>{{ addedTag | warehouse | label }}</span>
                </div>
            </div>
        </ng-template>
    </laji-row>
    <div class="alert alert-warning" *ngIf="annotationResolving">
        {{ 'annotation.comment.processing' | translate }}
    </div>
    <laji-row *ngIf="unit.linkings && unit.linkings.taxon || unit.taxonVerbatim || unit.reportedInformalTaxonGroup" [title]="'annotation.effectiveTaxon' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
        <span *ngIf="unit.linkings && unit.linkings.taxon; else taxonVerbatim">
            <laji-taxon-name [taxon]="unit.linkings.taxon"></laji-taxon-name>
        </span>
        <ng-template #taxonVerbatim>
           <span *ngIf="unit.taxonVerbatim; else reportedInformalTaxonGroup">{{ unit.taxonVerbatim | toQName | label }}</span>
        </ng-template>
        <ng-template #reportedInformalTaxonGroup>
            <span>{{ unit.reportedInformalTaxonGroup | toQName | label }}</span>
        </ng-template>
        <span class="small-text" *ngIf="unit.annotations && unit.annotations.length > 0 && !hasAllDeletedAnnotations">{{ 'annotation.effectiveTaxon.comment' | translate }}</span>
    </laji-row>
</div>


