<laji-datatable
  [loading]="loading"
  [columns]="columns"
  [rows]="data?.results || []"
  [virtualScrolling]="true"
  [height]="'calc(80vh - 50px)'"
  [page]="data?.currentPage"
  [pageSize]="data?.pageSize"
  [count]="data?.total"
  (pageChange)="pageChange.emit($event.page)"
  (sortChange)="sortChange.emit($event.sorts)"
  (rowSelect)="rowSelect.emit($event.row)"
></laji-datatable>

<ng-template let-value="value" #speciesListTpl>
  <span [title]="value | speciesName | values">
    <ng-container *ngFor="let species of value; let isLast=last">
      <bsg-species-name [species]="species"></bsg-species-name>{{ isLast ? '' : ', ' }}
    </ng-container>
  </span>
</ng-template>

<ng-template let-value="value" #statusTpl>
  <span [title]="('annotation.status.' + annotationStatusEnum[value]) | translate">
    {{ ('annotation.status.' + annotationStatusEnum[value]) | translate }}
  </span>
</ng-template>
