<laji-spinner [spinning]="loading" [overlay]="true">
  <ngx-datatable
    #dataTable
    class='material striped laji-datatable'
    [style.height]="height"
    [cssClasses]="{
          sortAscending: 'glyphicon glyphicon-chevron-down',
          sortDescending: 'glyphicon glyphicon-chevron-up',
          pagerLeftArrow: 'glyphicon glyphicon-chevron-left',
          pagerRightArrow: 'glyphicon glyphicon-chevron-right',
          pagerPrevious: 'glyphicon glyphicon-step-backward',
          pagerNext: 'glyphicon glyphicon-step-forward'
        }"
    [messages]="{
          emptyMessage: '',
          totalMessage: ''
        }"
    [rows]='rows'
    [disablePagingOnScroll]="true"
    [externalPaging]="true"
    [externalSorting]="!clientSideSorting"
    [preFetchY]="300"
    [sortType]="'multi'"
    [count]="count"
    [offset]="_offset"
    [limit]="pageSize"
    [columns]="_columns"
    [columnMode]="'force'"
    [scrollbarH]="true"
    [scrollbarV]="virtualScrolling"
    [headerHeight]="showHeader ? 38 : 0"
    [footerHeight]="showFooter ? 50 : 0"
    [rowHeight]="virtualScrolling ? 35 : 'auto'"
    (sort)="sortChange.emit($event)"
    (page)="onPage($event)"
    [rowClass]="getRowClass"
    (activate)="onRowSelect($event)"
  >
  </ngx-datatable>
</laji-spinner>

<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template #headerTpl>
  <span class="datatable-header-cell-wrapper sort-full-width"
        (click)="sort()" title="{{column.label | translate}}">
    <span class="datatable-header-cell-label draggable">
      {{column.label | translate}}
    </span>
  </span>
</ng-template>

<ng-template let-value="value" let-column="column" #taxon>
  <span *ngIf="value">
    <span style="display: inline"
      *ngIf="value.linkings && value.linkings.taxon && (value.linkings.taxon.id || value.linkings.taxon.qname); else taxonVerbatim"
      title="{{(value.linkings.taxon.vernacularName | multiLang) + ' (' + value.linkings.taxon.scientificName + ')'}}"
    >
      {{value.linkings.taxon.vernacularName | multiLang}}
      <span style="display: inline" [class.cursive]="value.linkings.taxon.cursiveName" *ngIf="value.linkings.taxon.scientificName">
          ({{value.linkings.taxon.scientificName}})
      </span>
      <a
        target="{{column.target || '_self'}}" [routerLink]="['/taxon', ((value.linkings.taxon.id || value.linkings.taxon.qname) | toQName)] | localize">
        <i class="glyphicon glyphicon-tag"></i>
      </a>
    </span>
    <ng-template #taxonVerbatim>
      <span title="{{value.taxonVerbatim}}">{{value.taxonVerbatim}}</span>
    </ng-template>
  </span>
</ng-template>
<ng-template let-value="value" let-column="column" #species>
  <span *ngIf="value" title="{{value.taxonVerbatim}}">
    <span style="display: inline"
          *ngIf="value.linkings && value.linkings.taxon && value.linkings.taxon.speciesId; else taxonVerbatim"
          title="{{(value.linkings.taxon.speciesVernacularName | multiLang) + ' (' + value.linkings.taxon.speciesScientificName + ')'}}"
    >
      {{value.linkings.taxon.speciesVernacularName | multiLang}}
      <span style="display: inline" [class.cursive]="true || value.linkings.taxon.cursiveName" *ngIf="value.linkings.taxon.speciesScientificName">
          ({{value.linkings.taxon.speciesScientificName}})
      </span>
      <a
        target="{{column.target || '_self'}}" [routerLink]="['/taxon', (value.linkings.taxon.speciesId | toQName)] | localize">
        <i class="glyphicon glyphicon-tag"></i>
      </a>
    </span>
    <ng-template #taxonVerbatim>
      {{value.taxonVerbatim}}
    </ng-template>
  </span>
</ng-template>
<ng-template let-value="value" #warehouseLabel>
  <span *ngIf="value" title="{{value | label: 'warehouse'}}">
    {{value | label: 'warehouse'}}
  </span>
</ng-template>
<ng-template let-value="value" #toSemicolon>
  <span *ngIf="value" title="{{value.join('; ')}}">
    {{value.join('; ')}}
  </span>
</ng-template>
<ng-template let-value="value" #numeric>
  <span *ngIf="'' + value" title="{{value | formattedNumber:' '}}">
    <span [innerHtml]="value | formattedNumber:'&nbsp;'"></span>
  </span>
</ng-template>
<ng-template let-value="value" #multiLang>
  <span *ngIf="value" title="{{value | multiLang}}">
    {{value | multiLang}}
  </span>
</ng-template>
<ng-template let-row="row" #taxonScientificName>
  <span *ngIf="row.scientificName" title="{{row.scientificName}}" [class.cursive]="row.cursiveName">
    {{row.scientificName}}
  </span>
</ng-template>
<ng-template let-value="value" #scientificName>
  <span *ngIf="value.scientificName" title="{{value.scientificName}}" [class.cursive]="value.cursiveName">
    {{value.scientificName}}
  </span>
</ng-template>
<ng-template let-value="value" #cursive>
  <span *ngIf="value" title="{{value}}" class="cursive">
    {{value}}
  </span>
</ng-template>
<ng-template let-value="value" #speciesVernacularName>
  <span *ngIf="value.speciesVernacularName" title="{{value.speciesVernacularName | multiLang}}">
    {{value.speciesVernacularName | multiLang}}
  </span>
</ng-template>
<ng-template let-value="value" ngx-datatable-cell-template #eventDate>
  <span *ngIf="value && value.end && value.begin">
    <span *ngIf="value.begin === value.end; else dateRange" title="{{value.begin}}">{{value.begin}}</span>
    <ng-template #dateRange><span title="{{value.begin}} - {{value.end}}">{{value.begin}} - {{value.end}}</span></ng-template>
  </span>
</ng-template>
