<laji-spinner [spinning]="loading" [overlay]="true" *lajiBrowserOnly>
  <ngx-datatable
    #dataTable
    class='material striped laji-datatable'
    [style.height]="height"
    [cssClasses]="{
          sortAscending: 'glyphicon glyphicon-chevron-down',
          sortDescending: 'glyphicon glyphicon-chevron-up',
          pagerLeftArrow: 'glyphicon glyphicon-chevron-left',
          pagerRightArrow: 'glyphicon glyphicon-chevron-right',
          pagerPrevious: 'glyphicon glyphicon-step-backward',
          pagerNext: 'glyphicon glyphicon-step-forward'
        }"
    [messages]="{ emptyMessage: loading ? '' : emptyMessage, totalMessage: '' }"
    [rows]='_rows'
    [externalPaging]="true"
    [externalSorting]="!clientSideSorting"
    [sortType]="sortType"
    [count]="_rows.length"
    [offset]="_offset"
    [columns]="_columns"
    [columnMode]="columnMode"
    [scrollbarH]="true"
    [sorts]="sorts"
    [scrollbarV]="virtualScrolling"
    [headerHeight]="showHeader ? 38 : 0"
    [footerHeight]="0"
    [rowHeight]="virtualScrolling ? rowHeight : 'auto'"
    (sort)="sortChange.emit($event)"
    (reorder)="reorder.emit($event)"
    (resize)="onResize($event)"
    [rowClass]="_getRowClass.bind(this)"
    (activate)="onRowSelect($event)"
    [selected]="selected"
    [selectionType]="selectionType"
  >
  </ngx-datatable>
  <laji-data-table-footer
    *ngIf="showFooter"
    [totalMessage]="totalMessage"
    [page]="_page"
    [pageSize]="pageSize"
    [count]="_count"
    (change)="onPage($event)"
  ></laji-data-table-footer>
</laji-spinner>

<laji-datatable-templates #dataTableTemplates></laji-datatable-templates>
