<bsg-species-selection
  *ngIf="(!selectedSpeciesIds || selectedSpeciesIds.length === 0) else identification"
  (speciesSelect)="onSpeciesSelect($event)"
></bsg-species-selection>
<ng-template #identification>
  <bsg-identification-main
    [selectedSpecies]="selectedSpeciesIds!"
    [goBackBtnLabel]="'identification.backToSpeciesSelection' | translate"
    [allRecordingsAnnotatedLabel]="'identification.allRecordingsAnnotatedForSpecies' | translate"
    (goBackClick)="onSpeciesSelect([])"
  ></bsg-identification-main>
</ng-template>
