<div class="row s-elem-wrap">
  <div class="col-sm-3 s-wrap d-select">
    <select class="form-control s-select" [(ngModel)]="startDay" (change)="onChange()">
      @for (value of days; track value) {
        <option [value]="value">{{ (value | removeLeading) || ('date.dd' | translate) }}</option>
      }
    </select>
  </div>
  <div class="col-sm-3 s-wrap">
    <select class="form-control s-select" [(ngModel)]="startMonth" (change)="onChange()">
      @for (value of months; track value) {
        <option [value]="value">{{ (value | removeLeading) || ('date.mm' | translate) }}</option>
      }
    </select>
  </div>
  <div class="col-sm-3 s-wrap s-end-start d-select">
    <select class="form-control s-select" [(ngModel)]="endDay" (change)="onChange()">
      @for (value of days; track value) {
        <option [value]="value">{{ (value | removeLeading) || ('date.dd' | translate) }}</option>
      }
    </select>
  </div>
  <div class="col-sm-3 s-wrap" style="padding-right: 0">
    <select class="form-control s-select" [(ngModel)]="endMonth" (change)="onChange()">
      @for (value of months; track value) {
        <option [value]="value">{{ (value | removeLeading) || ('date.mm' | translate) }}</option>
      }
    </select>
  </div>
</div>
