<laji-spinner [spinning]="expertiseMissing == null">
  <ng-container *ngIf="expertiseMissing != null">
    <ng-container *ngIf="!expertiseMissing else expertiseMissingText">
      <bsg-site-selection
        *ngIf="(!selectedSites || selectedSites.length === 0) else identification"
        (siteSelect)="onSiteSelect($event)"
      ></bsg-site-selection>
      <ng-template #identification>
        <bsg-identification-main
          [selectedSites]="selectedSites!"
          [goBackBtnLabel]="'identification.backToSiteSelection' | translate"
          [allRecordingsAnnotatedLabel]="'identification.allRecordingsAnnotated' | translate"
          (goBackClick)="onSiteSelect([])"
        ></bsg-identification-main>
      </ng-template>
    </ng-container>
  </ng-container>
</laji-spinner>

<ng-template #expertiseMissingText>
  <div [innerHTML]="'identification.taxonExpertiseMissing' | translate"></div>
</ng-template>
