<alert type="danger" [dismissible]="false" *ngIf="hasError">{{ "haseka.form.genericError" | translate }}</alert>

<bsg-site-selection-view
  [sites]="sites$ | async"
></bsg-site-selection-view>

<!--ng-container *ngIf="!hasError">
  <ng-container *lajiRequiresAudioSupport>
    <laji-spinner [spinning]="loading || !firstRecordingLoaded" [overlay]="true">
      <bsg-identification-view
        *ngIf="firstRecordingLoaded"
        [recording]="recording"
        [(annotation)]="annotation"
        [statusInfo]="statusInfo"
        [buttonsAreDisabled]="loading"
        (nextRecordingClick)="getNextRecording()"
        (previousRecordingClick)="getPreviousRecording()"
        (saveClick)="save()"
        (annotationChange)="onAnnotationChange()"
      ></bsg-identification-view>
    </laji-spinner>
  </ng-container>
</ng-container-->

