@if (document && fields) {
  @if (rights$ | async; as rights) {
    <div class="row">
      <div class="col-sm-7">
        <h3 ngPreserveWhitespaces>
          {{ 'viewer.document' | translate }}
          <small>
            <!--a [routerLink]="['/view']" [queryParams]="{uri: document.id}" target="_blank">
            {{document.id}}
          </a-->
          {{ document.id }}
        </small>
        <a type="button"
          class="btn btn-sm btn-default"
          [routerLink]="['/view/print'] | localize"
          [queryParams]="{id: document.id, showFacts: showFacts}"
          target="_blank"
          [luTooltip]="'haseka.submissions.toPrint' | translate">
          {{ 'print' | translate }}
          <img src="/static/images/icons/pdf_16x16.png">
        </a>
        <div>
          <laji-user-document-tools
            [hasEditRights]="rights.hasEditRights"
            [hasDeleteRights]="rights.hasDeleteRights"
            [documentID]="document.id"
            [formID]="document.formID"
            (documentDeleted)="onDocumentDeleted($event)"
          ></laji-user-document-tools>
        </div>
      </h3>
      <laji-row [title]="'MY.collectionID' | label" [value]="document.collectionID | collectionName" ngPreserveWhitespaces>
        @if (showFacts) {
          <span><a target="_blank" href="http://tun.fi/{{document.collectionID}}">http://tun.fi/{{ document.collectionID }}</a></span>
        }
      </laji-row>
      @if (fields['document']) {
        <laji-document-object [object]="document" [fields]="fields['document']" [showFacts]="showFacts"></laji-document-object>
      }
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12 doc-meta">
          <ng-template #docMeta>
            <laji-row [title]="'MZ.creator' | label" [value]="document.creator | users"></laji-row>
            <laji-row [title]="'MZ.editor' | label" [value]="document.editor | users"></laji-row>
            <laji-row [title]="'MZ.dateCreated' | label" [value]="document.dateCreated | amDateFormat:'DD.MM.YYYY'"></laji-row>
            <laji-row [title]="'MZ.dateEdited' | label" [value]="document.dateEdited | amDateFormat:'DD.MM.YYYY'"></laji-row>
          </ng-template>
          <button class="btn btn-default btn-xs pull-right" style="margin-left: 10px;"
            [luPopover]="docMeta"
            placement="left"><i class="glyphicon glyphicon-user"></i>
          </button>
          <button class="btn btn-default btn-xs pull-right"
            (click)="toggleFacts()">
            {{ showFacts ? ('viewer.hideFacts' | translate) : ('viewer.showFacts' | translate) }}
            <i class="glyphicon" [ngClass]="{'glyphicon-eye-close': showFacts, 'glyphicon-eye-open': !showFacts}"></i>
          </button>
          <div style="margin-top: 35px;">
            @if (document.publicityRestrictions !== publicity.publicityRestrictionsPublic) {
              <lu-alert [type]="'warning'">
                <span>
                  {{ 'viewer.notPublished' | translate }}
                </span>
              </lu-alert>
            }
          </div>
        </div>
      </div>
      @if (document.id && imageData[document.id]) {
        <div class="row">
          <div class="col-sm-12">
            <laji-image-gallery [modalImages]="imageData[document.id]" [showOverlay]="true"></laji-image-gallery>
          </div>
        </div>
      }
    </div>
  </div>
  @if (document.gatherings?.length ?? 0 > 1) {
    <div class="gatherings">
      <ul class="nav nav-tabs link">
        @for (gathering of document.gatherings; track gathering; let i = $index) {
          <li [ngClass]="{active: active === i}">
            <a (click)="setActive(i)">
              {{ i + 1 }}
            </a>
          </li>
        }
      </ul>
    </div>
  }
  <div class="row">
    <div class="col-sm-7">
      @for (gathering of document.gatherings; track gathering; let i = $index) {
        <div class="gathering">
          <div [hidden]="active !== i">
            @if (fields['gatherings']) {
              <laji-document-object [object]="gathering" [fields]="fields['gatherings']" [showFacts]="showFacts"></laji-document-object>
            }
            @for (unit of gathering.units; track unit) {
              <hr>
                @for (identification of unit.identifications; track identification) {
                  @if (fields['identifications']) {
                    <laji-document-object [object]="identification" [fields]="fields['identifications']" [showFacts]="showFacts"></laji-document-object>
                  }
                }
                @if (fields['units']) {
                  <laji-document-object [object]="unit" [fields]="fields['units']" [showFacts]="showFacts"></laji-document-object>
                }
                @if (unit.id && imageData[unit.id]) {
                  <laji-image-gallery [modalImages]="imageData[unit.id]" [showOverlay]="true"></laji-image-gallery>
                }
              }
            </div>
          </div>
        }
      </div>
      <div class="col-sm-5">
        @if (mapData.length > 0) {
          <laji-viewer-map [useWorldMap]="useWorldMap" [active]="active" [data]="mapData" [zoomToData]="zoomToData"></laji-viewer-map>
        }
        @if (document.gatherings?.length ?? 0 > active && imageData[document.gatherings![active].id!]) {
          <laji-image-gallery
          [modalImages]="imageData[document.gatherings![active].id!]" [showOverlay]="true"></laji-image-gallery>
        }
      </div>
    </div>
  }
}
