@import 'projects/laji-ui/src/lib/vars';

.taxon-name {
    font-weight: bold;
}

.alternative-names {
    color: $neutral-6;
    font-size: $fs-5;
}

.colloquialVernacularName {
    color: $neutral-5;
}
