@if (taxon) {
  @if ((taxon.vernacularName | multiLang:false)) {
    <ng-container [ngTemplateOutlet]="vernacularName"></ng-container>
  }
  @if ((taxon.vernacularName | multiLang:false) && (taxon.colloquialVernacularName | multiLang:false)) {
    (<ul class="separated-list colloquial-vernacular-name">
    @for (obj of (taxon.colloquialVernacularName); track obj) {
      <li>{{obj}}</li>
    }
  </ul>
  <laji-info [placement]="'top'">{{ 'taxonomy.vernacular.colloquial.info' | translate }}</laji-info>)
}
@if (((taxon.vernacularName | multiLang:false) || taxon.alternativeVernacularName | multiLang:false | values) && taxon.scientificName) {
  &ndash;
}
<ng-container [ngTemplateOutlet]="scientificName"></ng-container>
@if (addAuthor && taxon.scientificNameAuthorship) {
  {{ taxon.scientificNameAuthorship }}
}
@if (addLink && (taxon.id || taxon.qname || taxonID)) {
  &nbsp;<a (click)="onTaxonLinkClick($event)" [routerLink]="['/taxon/' + ((taxon.id || taxon.qname || taxonID) | toQName)] | localize" target="_blank"
  [luTooltip]="'showSpeciesCard' | translate" placement="right" tabindex="-1">
  <i class="glyphicon glyphicon-tag"></i>
</a>
}
@if (warningOnMissingTaxonID && !(taxon.id || taxonID)) {
  <span class="glyphicon glyphicon-warning-sign"></span>
}
@if (((taxon.id || taxon.qname || taxonID) | toQName)?.startsWith('gbif:')) {
  <img class="gbif-icon" src="/static/images/icons/gbif.svg" [luTooltip]="'species.tree.gbif.help' | translate" />
}
@if (!hideObsoleteVernacularName && taxon?.obsoleteVernacularName | values; as obsoleteVernacularName) {
  <div class="alternative-names mt-2">
    {{ obsoleteVernacularName }}
  </div>
}
<ng-template #scientificName>@if (taxon.cursiveName) {
  <em class="scientific-name">{{ taxon.scientificName }}</em>
} @else {
  <span class="scientific-name">{{ taxon.scientificName }}</span>
}</ng-template>
<ng-template #vernacularName>
  <span class="vernacular-name">
    {{ capitalizeName ? (taxon.vernacularName | multiLang:false | capitalize) : (taxon.vernacularName | multiLang:false) }}
  </span>
  @if (taxon?.alternativeVernacularName | multiLang:false | values; as alternativeVernacularName) {
    ({{ alternativeVernacularName }})
  }
</ng-template>
}
