<nav class="navbar navbar-inverse navbar-fixed-top" id="kerttu-global-nav">
  <div class="container-fluid" autofocus>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar" (click)="toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/'] | localize">
        <span>Bird & Bat Sounds Global</span>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" [class.in]="openMenu">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a luDropdownToggle class="link">
            {{ 'navigation.birds' | translate }}
            <span class="glyphicon glyphicon-triangle-bottom"></span>
          </a>
          <ul luDropdownMenu class="navbar-dropdown">
            <li role="menuitem">
              <a [routerLink]="['/validation'] | localize">{{ 'validation.title' | translate }}</a>
            </li>
            <li role="menuitem">
              <a [routerLink]="['/identification'] | localize">{{ 'identification.title' | translate }}</a>
            </li>
          </ul>
        </li>
        <li [routerLinkActive]="['active']">
          <a luDropdownToggle class="link">
            {{ 'navigation.bats' | translate }}
            <span class="glyphicon glyphicon-triangle-bottom"></span>
          </a>
          <ul luDropdownMenu class="navbar-dropdown">
            <li role="menuitem">
              <a [routerLink]="['/bats/identification'] | localize">{{ 'identification.title' | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li [routerLinkActive]="['active']" *ngIf="userService.isLoggedIn$ | async">
          <a luDropdownToggle class="link user">
            <span class="hidden-sm name"><small id="logged-in-user">{{ (userService.user$ | async)?.id | users:'fullName' }}</small></span>
            <i class="glyphicon glyphicon-user"></i>
          </a>
          <ul luDropdownMenu class="navbar-dropdown">
            <li role="menuitem">
              <a [routerLink]="['/user'] | localize" class="navbar-link link">{{ 'navigation.user.profile' | translate }}</a>
            </li>
            <li role="menuitem">
              <a [routerLink]="['/user/logout'] | localize" class="navbar-link link">{{ 'navigation.user.logout' | translate }}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="!(userService.isLoggedIn$ | async)">
          <a id="login-link" href="#login" (click)="doLogin($event)">
            <small>
              {{ 'navigation.user.login' | translate }}
            </small>
          </a>
        </li>
        <li>
          <a luDropdownToggle class="link language-toggle">
            <i class="glyphicon glyphicon-globe"></i>
            <span *ngIf="'en' === translate.currentLang">
              EN
            </span>
            <span *ngIf="'es' === translate.currentLang">
              ES
            </span>
            <span *ngIf="'fr' === translate.currentLang">
              FR
            </span>
          </a>
          <ul luDropdownMenu class="right navbar-dropdown">
            <li *ngIf="'en' !== translate.currentLang" role="menuitem">
              <a rel="alternate" hreflang="en" class="navbar-link link" [routerLink]="[] | localize:'en'" queryParamsHandling="preserve">English</a>
            </li>
            <li *ngIf="'es' !== translate.currentLang" role="menuitem">
              <a rel="alternate" hreflang="es" class="navbar-link link" [routerLink]="[] | localize:'es'" queryParamsHandling="preserve">Español</a>
            </li>
            <li *ngIf="'fr' !== translate.currentLang" role="menuitem">
              <a rel="alternate" hreflang="fr" class="navbar-link link" [routerLink]="[] | localize:'fr'" queryParamsHandling="preserve">Français</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
