<div class="laji-form" *lajiLoggedIn="true">
  <laji-form
    [formData]="placeForm"
    (dataChange)="onChange($event)"
    (dataSubmit)="onSubmit($event)"></laji-form>
  <laji-document-form-footer
    [form]="placeForm"
    [status]="status"
    [saving]="saving"
    [edit]="namedPlace"
    (submitPublic)="submitPublic()"
    (submitPrivate)="submitPrivate()"
    (cancel)="discard()"
    ></laji-document-form-footer>
</div>
<div class="row" *lajiLoggedIn="false">
  <div class="col-sm-8">
    <alert [type]="'warning'">
      {{ 'haseka.pleaseLogin' | translate }}
    </alert>
  </div>
</div>
