@import 'vars';

:host {
	overflow: hidden;
}

.slide-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.langSelect {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: rgba($neutral-2, .8);
	box-shadow: 0 2px 4px 0 rgba($neutral-8, .4);
	text-align: right;
}

.currentSlide {
	position: absolute;
	bottom: 40px;
	left: 50%;
	padding: 20px;
}
