div {
    &.position {
        height: 50px;
        margin-top: 5px;
    }
    &.author {
        margin-top: 5px;
        height: 40px;
    }
    &.date {
        margin-top: 5px;
        height: 20px;
    }
}