<form [formGroup]="form" (submit)="onSubmit()">
  <div *ngIf="groups$ | async; let groups; else loadingGroups">
    <label for="group">Group*:</label>
    <select id="group" class="form-control" formControlName="group">
      <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
    </select>
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'group' }"></ng-container>
  </div>
  <ng-template #loadingGroups>Loading trait groups...</ng-template>
  <div>
    <label for="name">Name*:</label>
    <input id="name" class="form-control" formControlName="name" type="text">
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'name' }"></ng-container>
  </div>
  <div>
    <label for="description">Description*:</label>
    <input id="description" class="form-control" formControlName="description" type="text">
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'description' }"></ng-container>
  </div>
  <div>
    <label for="data-entry-name">Data entry name*:</label>
    <input id="data-entry-name" class="form-control" formControlName="dataEntryName" type="text">
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'dataEntryName' }"></ng-container>
  </div>
  <div>
    <label for="range">Range*:</label>
    <select id="range" class="form-control" formControlName="range">
      <option value="xsd:string">String</option>
      <option value="xsd:decimal">Decimal</option>
      <option value="xsd:integer">Integer</option>
      <option value="xsd:positiveInteger">Positive Integer</option>
      <option value="xsd:nonNegativeInteger">Non-negative Integer</option>
      <option value="xsd:boolean">Boolean</option>
      <option value="MX.taxon">Taxon</option>
    </select>
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'range' }"></ng-container>
  </div>
  <div>
    <label for="base-unit">Base unit:</label>
    <select id="base-unit" class="form-control" formControlName="baseUnit">
      <option [value]="undefined" [attr.selected]="!form.get('baseUnit')?.value ? '' : null">None</option>
      <option value="TDF.umNM">{{ 'TDF.umNM' | label }}</option>
      <option value="TDF.umUM">{{ 'TDF.umUM' | label }}</option>
      <option value="TDF.umMM">{{ 'TDF.umMM' | label }}</option>
      <option value="TDF.umCM">{{ 'TDF.umCM' | label }}</option>
      <option value="TDF.umM">{{ 'TDF.umM' | label }}</option>
      <option value="TDF.umKM">{{ 'TDF.umKM' | label }}</option>
      <option value="TDF.umG">{{ 'TDF.umG' | label }}</option>
      <option value="TDF.umKG">{{ 'TDF.umKG' | label }}</option>
      <option value="TDF.umA">{{ 'TDF.umA' | label }}</option>
      <option value="TDF.umS">{{ 'TDF.umS' | label }}</option>
      <option value="TDF.umML">{{ 'TDF.umML' | label }}</option>
      <option value="TDF.umL">{{ 'TDF.umL' | label }}</option>
      <option value="TDF.umMOL">{{ 'TDF.umMOL' | label }}</option>
      <option value="TDF.umMMOL">{{ 'TDF.umMMOL' | label }}</option>
      <option value="TDF.umUMOL">{{ 'TDF.umUMOL' | label }}</option>
      <option value="TDF.umHZ">{{ 'TDF.umHZ' | label }}</option>
      <option value="TDF.umP">{{ 'TDF.umP' | label }}</option>
      <option value="TDF.umPPT">{{ 'TDF.umPPT' | label }}</option>
      <option value="TDF.umPPM">{{ 'TDF.umPPM' | label }}</option>
      <option value="TDF.umC">{{ 'TDF.umC' | label }}</option>
      <option value="TDF.umMM2">{{ 'TDF.umMM2' | label }}</option>
      <option value="TDF.umCM2">{{ 'TDF.umCM2' | label }}</option>
      <option value="TDF.umM2">{{ 'TDF.umM2' | label }}</option>
      <option value="TDF.umARE">{{ 'TDF.umARE' | label }}</option>
      <option value="TDF.umHA">{{ 'TDF.umHA' | label }}</option>
      <option value="TDF.umKM2">{{ 'TDF.umKM2' | label }}</option>
      <option value="TDF.umMM3">{{ 'TDF.umMM3' | label }}</option>
      <option value="TDF.umCM3">{{ 'TDF.umCM3' | label }}</option>
      <option value="TDF.umM3">{{ 'TDF.umM3' | label }}</option>
      <option value="TDF.umGMOL">{{ 'TDF.umGMOL' | label }}</option>
      <option value="TDF.umGMOLL">{{ 'TDF.umGMOLL' | label }}</option>
      <option value="TDF.umCM2H">{{ 'TDF.umCM2H' | label }}</option>
    </select>
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'baseUnit' }"></ng-container>
  </div>
  <laji-trait-enumeration-value-list formControlName="enumerations"></laji-trait-enumeration-value-list>
  <div>
    <label for="example-values">Example values:</label>
    <input id="example-values" class="form-control" formControlName="exampleValues" type="text">
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'exampleValues' }"></ng-container>
  </div>
  <div>
    <label for="reference">Reference:</label>
    <input id="reference" class="form-control" formControlName="reference" type="text">
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'reference' }"></ng-container>
  </div>
  <div>
    <label for="identifiers">Identifiers:</label>
    <lu-form-primitive-list inputId="identifiers" kind="string" formControlName="identifiers"></lu-form-primitive-list>
    <ng-container *ngTemplateOutlet="errorsTmp; context: { $implicit: 'identifiers' }"></ng-container>
  </div>

  <ng-container *ngIf="form.get('id')?.value">
    <button class="btn btn-default" (click)="onDelete()">DELETE TRAIT</button>
  </ng-container>

  <button type="submit" class="btn btn-default" [disabled]="submissionState !== 'none'">Submit</button>
  <div *ngIf="submissionState === 'externalValidation'">Server is validating...</div>
  <div *ngIf="submissionState === 'uploading'">Uploading trait...</div>
  <div *ngIf="submissionState === 'deleting'">Deleting trait...</div>
</form>

<ng-template #errorsTmp let-prop>
  <div class="alert alert-danger" role="alert" *ngIf="errors?.[prop]">{{ errors?.[prop]}}</div>
</ng-template>

