<div class="container container-relative">
  <h1>{{ 'navigation.user.profile' | translate }}</h1>
  <laji-spinner [spinning]="loading" [hideContentWhileLoading]="true">
    @if (viewedProfile && loggedInProfile) {
      @if (!viewedProfile.userID) {
        <div class="row">
          {{ 'profile.missing' | translate }}
        </div>
      }
      @if (viewedProfile.userID || viewedUserIsLoggedInUser) {
        <div class="row">
          <div class="col-md-8 col-xs-12 margin-bottom-5">
            <h3>{{ viewedProfile.userID | users }} ({{ viewedUserId }})</h3>
            <div class="profile-image">
              @if (viewedProfile.image) {
                <img [src]="viewedProfile.image" alt="profile image" class="img-rounded">
              }
            </div>
            @if (viewedUserIsLoggedInUser) {
              <lu-button
                [small]="true"
                class="edit-text mb-4"
                (click)="toggleEditing()">
                {{ 'profile.edit' | translate}}
                <i class="glyphicon glyphicon-cog"></i>
              </lu-button>
            }
            @if (!editing) {
              <div>
                <p>{{ viewedProfile.profileDescription }}</p>
                @if (viewedUserIsLoggedInUser && loggedInProfile.personalCollectionIdentifier) {
                  <p>
                    {{ 'MA.personalCollectionIdentifier' | label }}:<br>{{ loggedInProfile.personalCollectionIdentifier }}
                  </p>
                }
              </div>
            }
            @if (editing) {
              <div class="profile-edit">
                <p>{{ 'profile.info.intro' | translate }}</p>
                <div class="profile-edit-row">
                  {{ 'profile.image' | translate }}
                  <input class="form-control" placeholder="{{'profile.imagePlaceholder' | translate}}" [(ngModel)]="loggedInProfile.image">
                </div>
                <div class="profile-edit-row">
                  {{ 'profile.description' | translate }}
                  <textarea class="form-control" [(ngModel)]="loggedInProfile.profileDescription"></textarea>
                </div>
                <div class="profile-edit-row">
                  {{ 'MA.personalCollectionIdentifier' | label }}<laji-info [placement]="'right'">{{ 'profile.info.personalCollectionIdentifier' | translate }}</laji-info>
                  <input class="form-control" [(ngModel)]="loggedInProfile.personalCollectionIdentifier">
                </div>
                <h4>{{ 'profile.defaultMediaMetadata.title' | translate }}</h4>
                <div class="profile-edit-row">
                  {{ 'MM.capturerVerbatim' | label }}<laji-info [placement]="'right'">{{ 'profile.info.capturerVerbatim' | translate }}</laji-info>
                  <input class="form-control" [(ngModel)]="loggedInProfile.settings!.defaultMediaMetadata!.capturerVerbatim">
                </div>
                <div class="profile-edit-row">
                  {{ 'MZ.intellectualOwner' | label }}<laji-info [placement]="'right'">{{ 'profile.info.intellectualOwner' | translate }}</laji-info>
                  <input class="form-control" [(ngModel)]="loggedInProfile.settings!.defaultMediaMetadata!.intellectualOwner">
                </div>
                <div class="profile-edit-row">
                  {{ 'MZ.intellectualRights' | label }}<laji-info [placement]="'right'">{{ 'profile.info.intellectualRights' | translate }}</laji-info>
                  <select class="form-control" [(ngModel)]="loggedInProfile.settings!.defaultMediaMetadata!.intellectualRights">
                    @for (c of intellectualRightsArray; track c) {
                      <option [ngValue]="c">{{ c | label }}</option>
                    }
                  </select>
                </div>
                <div class="profile-edit-row">
                  <lu-button (click)="saveProfile()" role="primary">{{ 'profile.save' | translate }}</lu-button>
                </div>
              </div>
            }
            <div class="mt-6" *lajiLoggedIn="true">
              @if ((getCurrentUser() | async)!.id === viewedUserId) {
                <div class="form-group">
                  <div class="col-sm-12 well">
                    <p>{{ 'selfUrl.introStart' | translate }}</p>
                    <a [href]="personSelfUrl | safe:'url'" class="btn btn-success self-link">{{ 'profile.accountSettings'|translate }}</a>
                    <p>{{ 'selfUrl.introEnd' | translate }}</p>
                  </div>
                </div>
              }
            </div>
          </div>
          <div class="col-md-4 col-xs-12" *lajiLoggedIn="true">
            <div class="form-group">
              <div class="col-sm-12 well">
                <laji-find-person (selectChange)="selectPerson($event)"></laji-find-person>
                <laji-friends [viewedUserId]="viewedUserId" [usersProfile]="loggedInProfile"></laji-friends>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </laji-spinner>
</div>
