<div *ngIf="isAdmin && placesDiff" class="col-xs-12" style="padding-bottom: 5px;">
  <div class="btn-group" role="group">
    <button type="button"
            (click)="setActiveDocument('document')"
            class="btn btn-sm btn-default {{activeDocument === 'document' ? 'active' : ''}}">Näytä tämän laskennan reitti</button>
    <button type="button"
            (click)="setActiveDocument('acceptedDocument')"
            class="btn btn-sm btn-default {{activeDocument !== 'document' ? 'active' : ''}}">Näytä viimeksi hyväksytty reitti</button>
  </div>
  <button type="button"
          (click)="acceptNamedPlaceChanges()"
          class="btn btn-sm btn-success">Hyväksy muutokset</button>
</div>
<div class="col-xs-12" [style.height.px]="1000" [style.display]="isAdmin && placesDiff ? 'block' : 'none'">
  <laji-map [options]="lajiMapOptions" [data]="data" (loaded)="onMapLoad()"></laji-map>
</div>
