<ng-container *ngIf="allSelectableFields | removeByList:selectedFields; let all">
  <div class="list-container">
    <h3>{{ allSelectableFieldsTitle }}</h3>
    <ul class="field-list"
        cdkDropList
        #allFieldsList="cdkDropList"
        [cdkDropListData]="all"
        [cdkDropListConnectedTo]="[selectedList]"
        (cdkDropListDropped)="drop($event)"
    ><li cdkDrag *ngFor="let field of all" class="item-box">{{ field.label }}</li></ul>
  </div>
  <div class="list-container">
    <h3>{{ selectedFieldsTitle }}</h3>
    <ul class="field-list"
        cdkDropList
        #selectedList="cdkDropList"
        [cdkDropListData]="selectedFields"
        [cdkDropListConnectedTo]="[allFieldsList]"
        (cdkDropListDropped)="drop($event)"
    ><li cdkDrag *ngFor="let field of selectedFields" class="item-box">{{ field.label }}</li></ul>
  </div>
</ng-container>
