@import '../../../../../../../laji-ui/src/lib/vars';

:host {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media only screen and (min-width : 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
}

.modal-body {
  padding: 0;
}

.modal-header {
  background-color: #dde1e3;
  border-bottom: 1px solid #cfd5d7;

  .btn + .btn {
    margin-left: 5px;
  }
}

@media only screen and (min-width: map-get($map: $breakpoints, $key: "sm")) {
  bsg-identification-view {
    margin: -20px -40px;
  }
}
