<div *ngIf="text; else iconTemplate">
    <span *ngIf="interpretation.needsCheck" class="text-interpreatation needsCheck">
      {{ 'annotation.needsCheck' | translate }}
    </span>
    <span *ngIf="interpretation.needsIdentification" class="text-interpreatation needsIdentification">
        {{ 'annotation.needsId' | translate }}
    </span>
</div>
<ng-template #iconTemplate>
    <div class="interpretation">
        <div *ngIf="interpretation.needsCheck">
            <span class="needsCheck">!</span>
        </div>
        <div *ngIf="interpretation.needsIdentification">
            <span class="needsIdentification">?</span>
        </div>
    </div>
    
</ng-template>

