<form *lajiLoggedIn="true" class="annotation-form" #annotationForm="ngForm" (ngSubmit)="saveAnnotation()">
  <alert *ngIf="error" type="danger" [dismissible]="true" (onClose)="closeError()">
    {{ 'haseka.form.error' | translate }}
  </alert>
  <div class="row annotation-unidentifiable" *ngIf="!isEditor && identifying">
    <div class="col-sm-12">
      <label>
        <input
          type="checkbox"
          name="unIdentifyable"
          [(ngModel)]="unIdentifyable"
          [disabled]="!!annotation.opinion || annotation.annotationClass !== emptyAnnotationClass"
        >
        {{ 'MAN.typeUnidentifiable' | label }}
      </label>
    </div>
  </div>
  <div class="tags">
      <div class="row add-tags">
          <div class="col-sm-6">
            <label>Add Tags</label> 
            <select name="addTags" class="input-sm" (change)="onChangeSelectBox($event, 'added')">
                <option value="" [selected]="isSelected"> Please choose one </option>
                <ng-template ngFor let-item [ngForOf]="tagsAdd">
                   <option *ngIf="showOption(item.id)" value="{{item.id}}">
                      {{ item.name }}
                   </option>
                </ng-template>
              </select>
          </div>
      
          <div class="col-sm-6 selected-tags">
            <span *ngFor="let selected of annotation.addedTags; let i = index" [ngSwitch]="selected | toQName" class="container-annotation">
                <div *ngSwitchCase="annotationTagsObservation[selected | toQName].value" class="annotation-marker {{ annotationTagsObservation[selected | toQName].quality }}" >
                    <span class="annotation-star {{ annotationTagsObservation[selected | toQName].quality }}"></span>
                    <span>{{ selected | toQName | label }}</span>
                </div>
                <div (click)="deleteSelected(annotation.addedTags, selected)"></div>
            </span>
          </div>
      </div>
      <div class="row removed-tags" *ngIf="expert">
          <div class="col-sm-6">
              <label>Remove Tags</label>
              <select name="removeTags" class="input-sm" (change)="onChangeSelectBox($event, 'removed')">
                <option value="" [selected]="isSelected"> Please choose one </option>
                  <ng-template ngFor let-item [ngForOf]="tagsRemove | activeTags: annotations">
                        <option *ngIf="showOptionDeleted(item.id | toQName)" value="{{ item.id | toQName}}">
                            {{ item.id | toQName | label }}
                        </option>
                  </ng-template>
              </select>
          </div>
        
          <div class="col-sm-6 selected-tags">
              <span *ngFor="let selected of annotation.removedTags; let i = index" [ngSwitch]="selected | toQName" class="container-annotation">
                  <div *ngSwitchCase="annotationTagsObservation[selected | toQName].value" class="annotation-marker {{ annotationTagsObservation[selected | toQName].quality }}" >
                      <span class="annotation-star {{ annotationTagsObservation[selected | toQName].quality }}"></span>
                      <span>{{ selected | toQName | label }}</span>
                  </div>
                  <div (click)="deleteSelected(annotation.removedTags, selected)"></div>
              </span>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-5" *ngIf="!isEditor">
      <label>{{ 'MAN.opinion' | label }}</label>
      <input
        [ngClass]="{loading: typeaheadLoading}"
        type="text"
        class="form-control input-sm"
        name="opinion"
        [disabled]="unIdentifyable"
        [required]="(!unIdentifyable && expert)"
        [(ngModel)]="annotation.identification.taxon"
        [typeahead]="taxonAutocomplete"
        [typeaheadOptionsLimit]="20"
        [typeaheadWaitMs]="200"
        [typeaheadMinLength]="3"
        [typeaheadOptionField]="'value'"
        [typeaheadItemTemplate]="taxonItem"
        autocomplete="off"
        autocorrect="off"
      >
      <ng-template #taxonItem let-model="item">
        <h5 class="autosuggest-value {{model.groups}} informal-group-image">
          {{ model.value }}
        </h5>
      </ng-template>
    </div>

    <div class="col-sm-2 text-center" *ngIf="expert">
      <label>Coll</label>
      <input type="checkbox" class="form-control input-sm">
    </div>

    <div class="col-sm-5" *ngIf="!isEditor && expert">
        <label>Taxon specifier </label>
        <input
        [ngClass]="{loading: typeaheadLoading}"
        type="text"
        class="form-control input-sm"
        name="taxonSpecifier"
        [disabled]="annotation.opinion===''"
        [(ngModel)]="annotation.identification.taxonSpecifier"
        [typeahead]="taxonAutocomplete"
        [typeaheadOptionsLimit]="20"
        [typeaheadWaitMs]="200"
        [typeaheadMinLength]="3"
        [typeaheadOptionField]="'value'"
        [typeaheadItemTemplate]="taxonItemSpecifier"
        autocomplete="off"
        autocorrect="off"
      >
      <ng-template #taxonItemSpecifier let-model="item">
        <h5 class="autosuggest-value {{model.groups}} informal-group-image">
          {{ model.value }}
        </h5>
      </ng-template>
    </div>
  </div>
  <div class="row message">
    <div class="col-sm-12">
      <label>{{ 'MAN.notes' | label }}</label>
      <textarea #notes="ngModel"
                name="notes"
                class="form-control feedback-text input-sm"
                [required]="(!unIdentifyable && !expert)"
                [(ngModel)]="annotation.notes"></textarea>
    </div>
  </div>
  <div class="actions">
    <!--<button type="button" class="btn btn-danger btn-sm" (click)="cancel.emit()">{{ 'feedback.cancel' | translate }}</button>-->
    <button type="submit" [disabled]="annotationForm.form.pristine || !annotationForm.form.valid || sending" class="btn btn-success btn-sm">{{ 'feedback.send' | translate }}</button>
  </div>
</form>
<div *lajiLoggedIn="false" class="annotation-form">
  {{ 'force.login' | translate }}
</div>
