<laji-spinner [spinning]="loading" [overlay]="true">
  <alert type="danger" [dismissible]="false" *ngIf="hasError">{{ "theme.kerttu.audioError" | translate }}</alert>
  <div id="spectrogramContainer" [ngClass]="{'visibility-hidden': loading}">
    <laji-audio-spectrogram
      [buffer]="buffer"
      [sampleRate]="sampleRate"
      [nperseg]="nperseg"
      [noverlap]="noverlap"
      [currentTime]="currentTime"
      [xRange]="xRange && xRange.length > 0 && xRangePadding !== 0 ? [xRange[0] - start, xRange[1] - start] : undefined"
      [yRange]="yRange"
      [zoomed]="zoomed"
      [showDarkBackground]="highlightSelection"
      (spectrogramReady)="setAudioLoading(false)"
      (startDrag)="onSpectrogramDragStart()"
      (endDrag)="onSpectrogramDragEnd($event)"
    ></laji-audio-spectrogram>
  </div>

  <div id="audioControls" [ngClass]="{'visibility-hidden': loading}">
    <button class="btn btn-default" (click)="toggleAudio()" [disabled]="loading">
      <span
        class="fa"
        [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"
      >
      </span>
    </button>
  </div>
</laji-spinner>
