@page {
  size: A4;
  margin: 10mm 0 10mm 0;
}
.page {
  position: relative;
  padding-top: 3mm;
  width: 190mm;
  margin: 0 10mm 0 10mm;
}
.half-page-block {
  width: 50%;
  min-height: 1mm;
  display: inline-block;
  vertical-align: top;
}
.padding-right {
  padding-right: 0.5mm;
}
.padding-left {
  padding-left: 0.5mm;
}
@media not print {
  .page {
    margin: 20px auto;
  }
}
@media print {
  ::ng-deep {
    .no-page-break {
      page-break-inside: avoid;
    }
  }
  .gathering {
    page-break-inside: avoid;
  }
}
hr {
  margin: 4px 0;
}
