:host {
  display: block;
  height: 100%;
  width: 100%;
}

:host ::ng-deep .axis path,
:host ::ng-deep .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
:host ::ng-deep .axis text {
  font: 10px sans-serif;
}

:host ::ng-deep .title {
  font-weight: bold;
}
