.map-container {
  width: calc(100% - 300px);
  float: left;
  position: relative;
  min-height: 1px;
}
.list-container {
  width: 300px;
  float:left;
  position: relative;
  min-height: 1px;
}
@media only screen and (max-width : 991px) {
  .map-container {
    width: 100%;
  }
  .list-container {
    width: 100%;
  }
}
