@import 'vars';

.inline {
  display: inline !important;
}
.inline * {
  display: inline !important;
}

img.compact {
  width: 89px;
  height: 70px;
  object-fit: cover;
  display: block;
  margin: auto;
}
img.quality {
  width: 15px;
  height: 15px;
  object-fit: contain;
  display: block;
  margin: auto;
}
span.sensitive {
  text-align: center;
}
.fa-lock {
  font-size: 15px;
  color: red;
  object-fit: contain;
  display: block;
  margin: auto;
}
.fa-unlock {
  font-size: 15px;
  color: gray;
  object-fit: contain;
  display: block;
  margin: auto;
}
.annotation-positive {
  color: #4cae4c;
}

.annotation-negative {
  color: #d43f3a;
}

:host ::ng-deep .habitat li,
:host ::ng-deep .habitat ul {
  margin:0;
  padding:0;
  list-style:none;
}

.tag {
  display: inline-block;
}

div.annotation-marker {
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0;
  background-color: transparent;
  border: 0;
  margin-right: 5px;
}

.title {
  display: inline;
  vertical-align: super;
}

div.iucnStatus {
  display: flex;
  justify-content: center;
}
div.iucnStatusAll {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.iucnStatusRE {
  background-color: #000;
  color: white;
}
div.iucnStatusCR {
  background-color: #600;
  color: white;
}
div.iucnStatusEN {
  background-color: #f00;
  color: white;
}
div.iucnStatusVU {
  background-color: #e65c00;
  color: white;
}
div.iucnStatusDD {
  background-color: #bfbfbf;
}
div.iucnStatusNT {
  background-color: #f2da30;
}
div.iucnStatusLC {
  background-color: #8fcc00;
}
div.iucnStatusNA {
  border: 2px solid lightgray;
}
div.iucnStatusNE {
  border: 2px solid lightgray;
}
.copy-to-clipboard {
	cursor: pointer;
	color: $primary-5;
	white-space: nowrap;
	&:hover {
		color: $primary-6;
		text-decoration: underline;
	}
}
