<ng-template let-label="label" let-info="info" let-sort="sort" #headerTpl>
  <span class="datatable-header-cell-wrapper sort-full-width"
    (click)="toHtmlSpanElement($event.target).classList.contains('no-propagation') ? null : sort()" title="{{ label }}">
    <span class="datatable-header-cell-label draggable">
      {{ label }}
    </span>
    @if (info) {
      <laji-info>{{ info }}</laji-info>
    }
  </span>
</ng-template>
<ng-template let-column="column" let-sort="sortFn" #defaultHeaderTpl>
  <ng-container *ngTemplateOutlet="headerTpl; context: {label: column.label | translate | values, info: column.info | translate, sort: sort}"></ng-container>
</ng-template>
<ng-template let-column="column" let-sort="sortFn" #labelHeaderTpl>
  <ng-container *ngTemplateOutlet="headerTpl; context: {label: column.label | label | capitalize | values, info: column.info | translate, sort: sort}"></ng-container>
</ng-template>

<ng-template let-value="value" let-column="column" #taxon>
  @if (value) {
    <span>
      @if (value.linkings && value.linkings.taxon && (value.linkings.taxon.id || value.linkings.taxon.qname)) {
        <span style="display: inline"
          [title]="(value.linkings.taxon.vernacularName ? (value.linkings.taxon.vernacularName | multiLang:false) : '')
                + (value.linkings.taxon.vernacularName && value.linkings.taxon.scientificName ? ' &mdash; ': '')
                + (value.linkings.taxon.scientificName ? value.linkings.taxon.scientificName : '')"
          >
          {{ value.linkings.taxon.vernacularName | multiLang:false }}
          @if (value.linkings.taxon.vernacularName && value.linkings.taxon.scientificName && (value.linkings.taxon.vernacularName | multiLang:false)) {
            <span class="inline"> &mdash; </span>
          }
          @if (value.linkings.taxon.scientificName) {
            <span style="display: inline" [class.cursive]="value.linkings.taxon.cursiveName">
              {{ value.linkings.taxon.scientificName }}
            </span>
          }
          <a
            [luTooltip]="'showSpeciesCard' | translate"
            [placement]="'right'"
            target="{{column.target || '_self'}}" [routerLink]="['/taxon', ((value.linkings.taxon.id || value.linkings.taxon.qname) | toQName)] | localize" (click)="onTaxonLinkClick($event)">
            <i class="glyphicon glyphicon-tag"></i>
          </a>
          @if (value.linkings.taxon.checklist === 'http://tun.fi/MR.2') {
            <img class="gbif-icon" src="/static/images/icons/gbif.svg" [luTooltip]="'species.tree.gbif.help' | translate" />
          }
        </span>
      } @else {
        @if (value.taxonVerbatim) {
          <span title="{{value.taxonVerbatim}}">{{ value.taxonVerbatim }}</span>
        } @else {
          <span title="{{value.reportedInformalTaxonGroup | toQName | label}}">{{ value.reportedInformalTaxonGroup | toQName | label }}</span>
        }
      }
    </span>
  }
</ng-template>
<ng-template let-value="value" let-column="column" #originalTaxon>
  @if (value) {
    <span>
      <ng-container *ngTemplateOutlet="taxonLinkings; context: {$implicit: value.linkings && value.linkings.originalTaxon ? 'originalTaxon': 'taxon'}"></ng-container>
      <ng-template #taxonLinkings let-taxon>
        @if (value.linkings && value.linkings[taxon] && (value.linkings[taxon].id || value.linkings[taxon].qname)) {
          <span class="inline"
            [title]="(value.linkings[taxon].vernacularName ? (value.linkings[taxon].vernacularName | multiLang) : '')
                + (value.linkings[taxon].vernacularName && value.linkings[taxon].scientificName ? ' &mdash; ': '')
                + (value.linkings[taxon].scientificName ? value.linkings[taxon].scientificName : '')"
            >
            {{ value.linkings[taxon].vernacularName | multiLang }}
            @if (value.linkings[taxon].vernacularName && value.linkings[taxon].scientificName) {
              <span class="inline"> &mdash; </span>
            }
            @if (value.linkings[taxon].scientificName) {
              <span class="inline" [class.cursive]="value.linkings[taxon].cursiveName">
                {{ value.linkings[taxon].scientificName }}
              </span>
            }
            <a
              [luTooltip]="'showSpeciesCard' | translate"
              [placement]="'right'"
              (click)="onTaxonLinkClick($event)"
              target="{{column.target || '_self'}}" [routerLink]="['/taxon', ((value.linkings[taxon].id || value.linkings[taxon].qname) | toQName)] | localize">
              <i class="glyphicon glyphicon-tag"></i>
            </a>
          </span>
        } @else {
          @if (value.taxonVerbatim) {
            <span title="{{value.taxonVerbatim}}">{{ value.taxonVerbatim }}</span>
          } @else {
            <span title="{{value.reportedInformalTaxonGroup | toQName | label}}">{{ value.reportedInformalTaxonGroup | toQName | label }}</span>
          }
        }
      </ng-template>
    </span>
  }
</ng-template>
<ng-template let-value="value" let-column="column" #species>
  @if (value) {
    <span title="{{value.taxonVerbatim}}">
      @if (value.linkings && value.linkings.taxon && value.linkings.taxon.speciesId) {
        <span class="inline"
          [title]="(value.linkings.taxon.speciesVernacularName ? (value.linkings.taxon.speciesVernacularName | multiLang) : '')
                + (value.linkings.taxon.speciesVernacularName && value.linkings.taxon.speciesScientificName ? ' &mdash; ': '')
                + (value.linkings.taxon.speciesScientificName ? value.linkings.taxon.speciesScientificName : '')"
          >
          {{ value.linkings.taxon.speciesVernacularName | multiLang }}
          @if (value.linkings.taxon.speciesVernacularName && value.linkings.taxon.speciesScientificName) {
            <span class="inline"> &mdash; </span>
          }
          @if (value.linkings.taxon.speciesScientificName) {
            <span class="inline cursive">
              {{ value.linkings.taxon.speciesScientificName }}
            </span>
          }
          <a
            [luTooltip]="'showSpeciesCard' | translate"
            [placement]="'right'"
            (click)="onTaxonLinkClick($event)"
            target="{{column.target || '_self'}}" [routerLink]="['/taxon', (value.linkings.taxon.speciesId | toQName)] | localize">
            <i class="glyphicon glyphicon-tag"></i>
          </a>
          @if (value.linkings.taxon.speciesId.startsWith('https://www.gbif.org')) {
            <img class="gbif-icon" src="/static/images/icons/gbif.svg" [luTooltip]="'species.tree.gbif.help' | translate" />
          }
        </span>
      } @else {
        {{ value.taxonVerbatim }}
      }
    </span>
  }
</ng-template>
<ng-template let-value="value" #label>
  @if (value) {
    <span title="{{value | toQName | label}}">
      {{ value | toQName | label }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #labelArray>
  <ng-container *ngTemplateOutlet="toSemicolon; context: {value: value | toQName | label}"></ng-container>
</ng-template>
<ng-template let-value="value" #warehouseLabel>
  @if (value) {
    <span title="{{value | label: 'warehouse'}}">
      {{ value | label: 'warehouse' }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #toSemicolon>
  @if (value) {
    <span title="{{value | values:'; '}}">
      {{ value | values:'; ' }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #numeric>
  @if ('' + value) {
    <span title="{{value | formattedNumber:' '}}">
      <span [innerHtml]="value | formattedNumber:'&nbsp;'"></span>
    </span>
  }
</ng-template>
<ng-template let-value="value" #multiLang>
  @if (value) {
    <span title="{{value | multiLang}}">
      {{ value | multiLang }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #multiLangFalse>
  @if (value) {
    <span title="{{value | multiLang:false}}">
      {{ value | multiLang:false | lowercase }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #multiLangAll>
  @if (value) {
    <span title="{{value | multiLangAll}}">
      {{ value | multiLangAll }}
    </span>
  }
</ng-template>
<ng-template let-row="row" #taxonScientificName>
  @if (row.scientificName) {
    <span title="{{row.scientificName}}" [class.cursive]="row.cursiveName">
      {{ row.scientificName }}
    </span>
  }
</ng-template>
<ng-template let-row="row" #taxonScientificNameLink>
  <span class="inline">
    @if (row.scientificName) {
      <a title="{{row.scientificName}}" [routerLink]="['/taxon/' + row.id] | localize">
        <span [class.cursive]="row.cursiveName">{{ row.scientificName }}</span>
      </a>
    }
    @if (row.id.startsWith('gbif:')) {
      <img class="gbif-icon" src="/static/images/icons/gbif.svg" [luTooltip]="'species.tree.gbif.help' | translate" />
    }
  </span>

</ng-template>
<ng-template let-value="value" #scientificName>
  @if (value.scientificName) {
    <span title="{{value.scientificName}}" [class.cursive]="value.cursiveName">
      {{ value.scientificName }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #cursive>
  @if (value) {
    <span title="{{value}}" class="cursive">
      {{ value }}
    </span>
  }
</ng-template>
<ng-template let-row="row" #synonyms>
  <ul class="semicolon separated-list">
    @for (field of synonymKeys; track field) {
      @if (row[field]) {
        @for (synonymTaxon of row[field]; track synonymTaxon) {
          <li><laji-taxon-name [capitalizeName]="true" [taxon]="synonymTaxon" [addAuthor]="true"></laji-taxon-name></li>
        }
      }
    }
  </ul>
</ng-template>
<ng-template let-row="row" #misappliedNames>
  <ul class="semicolon separated-list">
    @if (row['misappliedNames']) {
      @for (synonymTaxon of row['misappliedNames']; track synonymTaxon) {
        <li><laji-taxon-name [capitalizeName]="true" [taxon]="synonymTaxon" [addAuthor]="true"></laji-taxon-name></li>
      }
    }
  </ul>
</ng-template>
<ng-template let-value="value" #boolean>
  @if (value === true) {
    <span title="{{'yes' | translate}}">
      {{ 'yes' | translate }}
    </span>
  }
  @if (value === false) {
    <span title="{{'no' | translate}}">
      {{ 'no' | translate }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #booleanCheck>
  @if (value === true) {
    <span>
      <i class="fa fa-check"></i>
    </span>
  }
</ng-template>
<ng-template let-value="value" ngx-datatable-cell-template #eventDate>
  @if (value && value.end && value.begin) {
    <span>
      @if (value.begin === value.end) {
        <span title="{{value.begin}}">{{ value.begin }}</span>
      } @else {
        <span title="{{value.begin}} - {{value.end}}">{{ value.begin }} - {{ value.end }}</span>
      }
    </span>
  }
</ng-template>
<ng-template let-value="value" #date>
  @if (value) {
    <span title="{{value | amDateFormat: 'DD.MM.YYYY HH:mm'}}">
      {{ value | amDateFormat: 'DD.MM.YYYY HH:mm' }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #userName>
  @if (value) {
    <span title="{{value | values:', ':'fullName'}}">
      {{ value | values:', ':'fullName' }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #user>
  <ng-container *ngTemplateOutlet="toSemicolon; context: {value: value | users}"></ng-container>
</ng-template>
<ng-template let-value="value" #publication>
  @if (value) {
    <span title="{{value | publication}}">
      {{ value | publication }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #publicationArray>
  <ng-container *ngTemplateOutlet="toSemicolon; context: {value: value | publication}"></ng-container>
</ng-template>
<ng-template let-value="value" #iucnStatus>
  @if (value) {
    <div class="iucnStatus" luTooltip="{{value.status | toQName | iucnStatus }} - {{ value.status | toQName | translatableIucn | translate }} ({{value.year}})">
      <div class="iucnStatusAll iucnStatus{{ value.status | toQName | iucnStatus }}" >
        {{ value.status | toQName | iucnStatus }}
      </div>
    </div>
  }
</ng-template>
<ng-template let-value="value" #formName>
  @if (value) {
    <span title="value | formName">
      {{ value | toQName | formName }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #annotation>
  @if (value.addedTags && value.addedTags.length > 0) {
    <div>
      <div class="title">{{ 'annotation.addTags' | translate }} </div>
      @for (addedTag of value.addedTags; track addedTag; let i = $index) {
        <div class="tag">
          @if (addedTag | warehouse; as warehouseTag) {
            @if (annotationTagsObservation[warehouseTag]) {
              <div>
                @case (annotationTagsObservation[warehouseTag ].value) {
                  <div
                    class="annotation-marker"
                [ngClass]="{
                  'positive': annotationTagsObservation[warehouseTag ].type==='positive',
                  'check': annotationTagsObservation[warehouseTag ].type==='check',
                  'negative': annotationTagsObservation[warehouseTag ].type==='negative',
                  'self': annotationTagsObservation[warehouseTag ].type ==='info',
                  'admin': annotationTagsObservation[warehouseTag ].type ==='admin'
                }">
                    <span>{{ addedTag | label: 'warehouse' }}@if ((i < value.addedTags.length - 1) && value.addedTags) {
                      <span style="display: inline;">,</span>
                    }</span>
                  </div>
                }
              </div>
            } @else {
              <span>{{ addedTag | label: 'warehouse' }}@if ((i < value.addedTags.length - 1) && value.addedTags) {
                <span style="display: inline;">,</span>
              }</span>
            }
          }
        </div>
      }
    </div>
  }
  @if (value.removedTags && value.removedTags.length > 0) {
    <div>
      <div class="title">{{ 'annotation.removedTags' | translate }}: </div>
      @for (addedTag of value.removedTags; track addedTag; let i = $index) {
        <div class="tag">
          @if (addedTag | warehouse; as warehouseTag) {
            @if (annotationTagsObservation[warehouseTag]) {
              <div>
                @case (annotationTagsObservation[warehouseTag].value) {
                  <div
                    class="annotation-marker"
                [ngClass]="{
                  'positive': $any(annotationTagsObservation)[warehouseTag].type==='positive',
                  'check': $any(annotationTagsObservation)[warehouseTag].type==='check',
                  'negative': $any(annotationTagsObservation)[warehouseTag].type==='negative',
                  'self': $any(annotationTagsObservation)[warehouseTag].type ==='info',
                  'admin': $any(annotationTagsObservation)[warehouseTag].type ==='admin'
                }">
                    <span>{{ addedTag | label: 'warehouse' }}@if ((i < value.removedTags.length - 1) && value.removedTags) {
                      <span style="display: inline;">,</span>
                    }</span>
                  </div>
                }
              </div>
            } @else {
              <span>{{ addedTag | label: 'warehouse' }}@if ((i < value.removedTags.length - 1) && value.removedTags) {
                <span style="display: inline;">,</span>
              }</span>
            }
          }
        </div>
      }
    </div>
  }
  <span title="{{(value.opinion ? ('MAN.opinion' | label) + ': ' + value.opinion + '\n' : '')
                + (value.notes ? value.notes : '')}}">
    @if (value.opinion) {
      <span>
        {{ 'MAN.opinion' | label }}:
        {{ value.opinion }}
      </span>
    }
    @if (value.notes) {
      <span>
        {{ value.notes }}
      </span>
    }
  </span>
</ng-template>
<ng-template let-value="value" #image>
  @if (value) {
    <span>
      <img class="compact" src="{{value.thumbnailURL}}" alt="Image">
    </span>
  }
</ng-template>
<ng-template let-value="value" #link>
  @if (value) {
    <a title="{{value}}">
      <span>
        {{ value }}
      </span>
    </a>
  }
</ng-template>
<ng-template let-value="value" #number>
  @if (value || value === 0) {
    <span title="{{roundNumber(value)}}">
      {{ roundNumber(value) }}
    </span>
  }
</ng-template>
<ng-template let-value="value" #percentage>
  @if (value || value === 0) {
    <span title="{{ (value * 100) | number:'1.0-1' }} %">
      {{ (value * 100) | number:'1.0-1' }} %
    </span>
  }
</ng-template>
<ng-template let-value="value" #biogeographicalProvince>
  @if (value) {
    <span title="{{value | area:'provinceCode'}} &ndash; {{value | area}}">
      {{ value | toQName | area:'provinceCode' }} &ndash; {{ value| toQName | area }}
    </span>
  }
</ng-template>
<ng-template let-row="row" #taxonHabitats>
  @if (row.primaryHabitat || row.secondaryHabitats) {
    <span class="habitat" title="{{ row.primaryHabitat.habitat | label }}{{ row.secondaryHabitats ? '; ' + (row.secondaryHabitats | pluck:'habitat' | label | values:'; ') : '' }}">
      {{ row.primaryHabitat.habitat | label }}@if (row.secondaryHabitats) {
      ; {{ row.secondaryHabitats | pluck:'habitat' | label | values:'; ' }}
    }
  </span>
}
</ng-template>
<ng-template let-value="value" #qualityIcon>
  @if (value) {
    <span [luTooltip]="value | label:'warehouse'">
      <img class="quality" src="{{ value | qualityUrl }}" alt="Image">
    </span>
  }
</ng-template>
<ng-template let-value="value" #sensitiveIcon>
  @if (value !== undefined && value !== null) {
    <span class="sensitive">
      @switch (value) {
        @case (true) {
          <i class="fa fa-lock" [luTooltip]="'result.unit.sensitive.true' | translate"></i>
        }
        @default {
          <i class="fa fa-unlock" [luTooltip]="'result.unit.sensitive.false' | translate"></i>
        }
      }
    </span>
  }
</ng-template>
<ng-template let-row="row" #biogeographicalProvinceOccurrence>
  <ul class="semicolon separated-list">
    @if (row.occurrences) {
      @for (occurrence of row.occurrences; track occurrence) {
        <li>{{ occurrence.area | toQName | area:'provinceCode' }}: {{ occurrence.status | label }}</li>
      }
    }
  </ul>
</ng-template>
<ng-template let-value="value" #copyToClipboard>
  @if (value) {
    <span title="{{value}}">
      <laji-copy-to-clipboard [value]="value" [visibleText]="'copyToClipboard' | translate"></laji-copy-to-clipboard>
    </span>
  }
</ng-template>
<ng-template let-value="value" #fullUriLink>
  @if (value) {
    <span title="{{ value | toFullUri }}">
      <a href="{{ value | toFullUri }}" target="_blank">{{ value | toFullUri }}</a>
    </span>
  }
</ng-template>
<ng-template let-value="value" #pluckValueSemiColonArray>
  {{ value | pluck:'value' | values:'; ' }}
</ng-template>
