.inline {
  display: inline !important;
}
.inline * {
  display: inline !important;
}

img.compact {
  width: 89px;
  height: 70px;
  object-fit: cover;
  display: block;
  margin: auto;
}
img.quality {
  width: 15px;
  height: 15px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.annotation-positive {
  color: #4cae4c;
}

.annotation-negative {
  color: #d43f3a;
}

:host ::ng-deep .habitat li,
:host ::ng-deep .habitat ul {
  margin:0;
  padding:0;
  list-style:none
}

.tag {
  display: inline-block;
}

div.annotation-marker {
  margin-bottom: 0px;
  border-radius: 0px; 
  padding: 0; 
  background-color: transparent;
  border: 0;
  margin-right: 5px;
}

.title {
  display: inline; 
  vertical-align: super;
}


