<div class="row">
  <div class="col-sm-12" *ngIf="filter?.data">
    <h4>{{filter.title | translate}}</h4>
    <laji-spinner [spinning]="loading" [overlay]="true">
      <table class="table table-striped table-bordered table-condensed dataTable">
        <tr *ngFor="let item of filter.data">
          <td>
            <a (click)="toggle(item)" class="link">
              <span *ngIf="item.label">{{item.label}}</span>
              <span *ngIf="!item.label">{{item.value | label }}</span>
              <span *ngIf="isActive(item)"><i class="glyphicon glyphicon-ok"></i></span>
            </a>
          </td>
          <td>
            <small [innerHtml]="item.count | formattedNumber:'&nbsp'"></small>
          </td>
        </tr>
      </table>
      <pagination
        *ngIf="showPager()"
        [totalItems]="total"
        [itemsPerPage]="filter.size"
        [(ngModel)]="page"
        (pageChanged)="pageChanged($event)"
        [maxSize]="7"
        [boundaryLinks]="false"
        [previousText]="'<'"
        [nextText]="'>'"
      ></pagination>
    </laji-spinner>
  </div>
</div>
