<ng-template #primarySpecimenHideFacts>
  @if (!showFacts) {
    @if (unit.primarySpecimen) {
      <div class="primary-specimen">{{ "result.unit.primarySpecimen" | translate }}</div>
    }
  }
</ng-template>
<ng-template #primarySpecimen>
  @if (unit.primarySpecimen) {
    <div class="primary-specimen">{{ "result.unit.primarySpecimen" | translate }}</div>
  }
</ng-template>
@if (showFacts) {
  <laji-row [title]="'result.unit.id' | translate">
    <ng-container>
      @if (showLinks) {
        <a target="_blank" href="{{ unit.unitId }}" class="tag">{{ unit.unitId }}</a>
      } @else {
        <small class="tag">({{ unit.unitId }})</small>
        <ng-container *ngTemplateOutlet="primarySpecimen"></ng-container>
      }
      <ng-container *ngTemplateOutlet="primarySpecimen"></ng-container>
    </ng-container>
  </laji-row>
}
@if (unit.linkings && unit.linkings.originalTaxon) {
  <laji-row [title]="'result.unit.taxonVerbatim' | translate">
    <laji-taxon-name [capitalizeName]="true" [taxon]="unit.linkings.originalTaxon" [addLink]="showLinks" class="tag"></laji-taxon-name>
    <ng-container *ngTemplateOutlet="primarySpecimenHideFacts"></ng-container>
  </laji-row>
} @else {
  @if (unit.taxonVerbatim) {
    <laji-row [title]="'result.unit.taxonVerbatim' | translate" [value]="unit.taxonVerbatim">
      <ng-container *ngTemplateOutlet="primarySpecimenHideFacts"></ng-container>
    </laji-row>
  } @else {
    <laji-row [title]="'result.unit.taxonVerbatim' | translate" [value]="unit.reportedInformalTaxonGroup | toQName | label">
      <ng-container *ngTemplateOutlet="primarySpecimenHideFacts"></ng-container>
    </laji-row>
  }
}
@if (unit.linkings && unit.linkings.taxon && ((unit.linkings.originalTaxon && unit.linkings.taxon.id !== unit.linkings.originalTaxon.id) || !unit.linkings.originalTaxon)) {
  <laji-row
    [title]="'viewer.fixedName'|translate">
    <laji-taxon-name [capitalizeName]="true" [taxon]="unit.linkings.taxon" [addLink]="showLinks"></laji-taxon-name>
  </laji-row>
}
@if (showFacts) {
  <laji-row [title]="'viewer.taxonVerbatim' | translate" [value]="unit.taxonVerbatim"></laji-row>
}
@if (showFacts) {
  <laji-row [title]="'MY.recordBasis' | label" [value]="unit.recordBasis | label: 'warehouse'"></laji-row>
}
@if (showFacts && unit.keywords && unit.keywords.length > 0) {
  <laji-row [title]="'observation.active.keyword' | translate">
    <ul class="separated-list">
      @for (key of unit.keywords; track key) {
        <li>
          {{ key }}
        </li>
      }
    </ul>
  </laji-row>
}
<!--<ng-container>
<laji-row [title]="'observation.active.nativeOccurrenceWild' | translate" [value]="unit.wild ? (unit.wild === true ? ('yes' | translate) : ('No' | translate)) : ('yes' | translate)"></laji-row>
</ng-container> -->
@if (unit.wild === false) {
  <laji-row [title]="'observation.active.nativeOccurrenceWild' | translate" [value]="'observation.active.nativeOccurrence.notWild' | translate"></laji-row>
}
@if (unit.wild === true && showFacts) {
  <laji-row [title]="'observation.active.nativeOccurrenceWild' | translate" [value]="'observation.active.nativeOccurrence.Wild' | translate"></laji-row>
}
<laji-row [title]="'MY.det' | label" [value]="unit.det"></laji-row>
@if (unit.reportedTaxonConfidence && (showFacts || unit.reportedTaxonConfidence !== 'SURE')) {
  <laji-row [title]="'result.unit.reportedTaxonConfidence' | translate" [value]="unit.reportedTaxonConfidence | label: 'warehouse'"></laji-row>
}
@if (unit.interpretations && unit.interpretations.recordQuality && (showFacts || unit.interpretations.recordQuality !== 'NEUTRAL')) {
  <laji-row [title]="'result.unit.quality.taxon'|translate">
    <laji-quality-row
      [quality]="unit.interpretations.recordQuality | label:'warehouse'"
      [qualityIcon]="unit.interpretations.recordQuality | qualityUrl">
    </laji-quality-row>
  </laji-row>
}
<laji-issues [data]="unit"></laji-issues>
@if (!unit.abundanceUnit) {
  <laji-row [title]="'MY.count' | label" [value]="unit.abundanceString"></laji-row>
} @else {
  <laji-row [title]="'MY.count' | label">
    <laji-abundance-row
      [abundanceString]="unit.abundanceString"
      [abundanceUnit]="unit.abundanceUnit | label: 'warehouse'">
    </laji-abundance-row>
  </laji-row>
}
<laji-row [title]="'MY.femaleIndividualCount' | label" [value]="unit.individualCountFemale"></laji-row>
<laji-row [title]="'MY.maleIndividualCount' | label" [value]="unit.individualCountMale"></laji-row>
<!--
<ng-container *ngIf="unit.interpretations">
  <ng-container *ngIf="unit.abundanceString !== '' + unit.interpretations.individualCount">
    <laji-row [title]="'result.unit.interpretations.individualCount' | translate" [value]="unit.interpretations.individualCount"></laji-row>
  </ng-container>
</ng-container>
-->
<laji-row [title]="'MY.lifeStage' | label" [value]="unit.lifeStage | label: 'warehouse'"></laji-row>
<laji-row [title]="'MY.sex' | label" [value]="unit.sex | label: 'warehouse'"></laji-row>
<laji-row [title]="'MY.atlasCode' | label" [value]="unit.atlasCode | label: 'fullUri'"></laji-row>
<laji-row [title]="'MY.atlasClass' | label" [value]="unit.atlasClass | label: 'fullUri'"></laji-row>
<laji-row [title]="'MY.notes' | label" [value]="unit.notes"></laji-row>
@if (unit.audioCount > 0) {
  <laji-row [title]="'audio.spectrum' | translate">
    <laji-audio-player [audioFiles]="unit.media"></laji-audio-player>
  </laji-row>
}
