.name-taxon {
    margin: 20px 0 10px 0;
    display: block;
}

.tags {
    display: inline-block;
    margin-right: 5px;
}

.primary-specimen {
  display: inline-block;
  background-color: yellowgreen;
  color: white;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
}