table td {
  width: 5em;
  text-align: center;
  vertical-align: bottom;
  padding: 1em;
  font-weight: bold;
}

.stat {
  background: #3d3d3d;
  color: white;
}

.top {
  padding-bottom: 0 !important;
}

.active {
  color: black;
  background: #990000;
}
