<div #container class="spectrogram-container">
  <laji-spectrogram
    class="spectrogram"
    [style.top]="_margin.top + 'px'"
    [style.left]="(_margin.left + 1) + 'px'"
    [buffer]="buffer"
    [view]="view"
    [startTime]="defaultView?.xRange[0]"
    [endTime]="defaultView?.xRange[1]"
    [config]="config"
    [width]="_width"
    [height]="_height"
    [pregeneratedSpectrogramUrl]="pregeneratedSpectrogramUrl"
    (spectrogramReady)="spectrogramReady.emit()"
  ></laji-spectrogram>
  <laji-spectrogram-chart
    class="spectrogram-chart"
    [view]="view"
    [focusArea]="focusArea"
    [highlightFocusArea]="highlightFocusArea"
    [onlyFocusAreaClickable]="onlyFocusAreaClickable"
    [showAxisLabels]="showAxisLabels"
    [axisFontSize]="axisFontSize"
    [rectangles]="rectangles"
    [currentTime]="currentTime"
    [width]="_width"
    [height]="_height"
    [margin]="_margin"
    [mode]="mode"
    (dragStart)="dragStart.emit()"
    (dragEnd)="dragEnd.emit($event)"
    (spectrogramClick)="spectrogramClick.emit($event)"
    (spectrogramDblclick)="spectrogramDblclick.emit($event)"
    (zoomEnd)="zoomEnd.emit($event)"
    (drawEnd)="drawEnd.emit($event)"
  ></laji-spectrogram-chart>
</div>
