<div #container class="spectrogram-container">
  <laji-spectrogram
    #spectrogram
    class="spectrogram"
    [style.top]="margin.top + 'px'"
    [style.left]="(margin.left + 1) + 'px'"
    [audio]="audio"
    [view]="view"
    [startTime]="defaultView?.xRange[0]"
    [endTime]="defaultView?.xRange[1]"
    [config]="config"
    [width]="_width"
    [height]="_height"
    (spectrogramReady)="spectrogramReady.emit()"
  ></laji-spectrogram>
  <laji-spectrogram-chart
    #chart
    class="spectrogram-chart"
    [view]="view"
    [focusArea]="focusArea"
    [highlightFocusArea]="highlightFocusArea"
    [onlyFocusAreaClickable]="onlyFocusAreaClickable"
    [showAxisLabels]="showAxisLabels"
    [rectangles]="rectangles"
    [currentTime]="currentTime"
    [width]="_width"
    [height]="_height"
    [margin]="margin"
    [mode]="mode"
    (dragStart)="dragStart.emit()"
    (dragEnd)="dragEnd.emit($event)"
    (zoomEnd)="zoomEnd.emit($event)"
    (drawEnd)="drawEnd.emit($event)"
  ></laji-spectrogram-chart>
</div>
