<laji-spinner [spinning]="loading" [overlay]="true">
  <ng-container *ngIf="taxon">
    <lu-sidebar *ngIf="canShowTree else infoCard" [open]="showTree" (toggled)="showTree = $event; updateRoute()">
      <nav>
        <laji-taxon-tree
          [activeId]="taxon.id"
          [activeTab]="infoCardTab"
        ></laji-taxon-tree>
      </nav>
      <main>
        <ng-container *ngTemplateOutlet="infoCard"></ng-container>
      </main>
    </lu-sidebar>
  </ng-container>
  <div class="container-fluid" *ngIf="taxon === false">
    <h1>
      {{ 'taxonomy.notFound' | translate }}
    </h1>
  </div>
</laji-spinner>

<ng-template #infoCard>
  <laji-info-card
    [taxon]="taxon"
    [isFromMasterChecklist]="isFromMasterChecklist"
    [activeTab]="infoCardTab"
    [context]="infoCardContext"
    (routeUpdate)="updateRoute($event.id, $event.tab, $event.context, showTree, $event.replaceUrl)"
    [class.sidebar-hidden]="!showTree && canShowTree"
  ></laji-info-card>
</ng-template>