<footer class="red" *ngIf="footerService.footerVisible">
  <div class="partners-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 partners front" [ngClass]="{hidden: !onFrontPage}">
          <ul>
            <li>
              <a href="http://www.ym.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/ymparistoministerio.png" alt="Ympäristöministeriö">
              </a>
            </li>
            <li>
              <a href="http://www.syke.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/syke_logo_2019.png" alt="SYKE">
              </a>
            </li>
            <li>
              <a href="http://luomus.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/luomus_fi_blue_smaller.gif" alt="LUOMUS - Luonnontieteellinen keskusmuseo">
              </a>
            </li>
            <li>
              <a href="http://laji.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/logos/LAJI_FI_sin.png" alt="Laji.fi - Suomen Lajitietokeskus">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container info-footer">
    <div class="row">
      <div class="col-sm-4">
        <h3>Sisältö suunnittelematta</h3>
        <ul>
          <li>Yhteystiedot</li>
          <li>Blaa blaa</li>
          <li>Blaa blaa</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
