<footer class="red" *ngIf="footerService.footerVisible">
  <div class="partners-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 partners front" [ngClass]="{hidden: !onFrontPage}">
          <ul>
            <li>
              <a href="http://www.ym.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/ymparistoministerio.png" alt="Ympäristöministeriö">
              </a>
            </li>
            <li>
              <a href="http://www.syke.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/syke_logo_2019.png" alt="SYKE">
              </a>
            </li>
            <li>
              <a href="http://luomus.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/luomus_fi_blue_smaller.gif" alt="LUOMUS - Luonnontieteellinen keskusmuseo">
              </a>
            </li>
            <li>
              <a href="http://laji.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/logos/LAJI_FI_sin.png" alt="Laji.fi - Suomen Lajitietokeskus">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container info-footer">
    <div class="row">
      <div class="col-sm-4">
        <h3>Punaisen kirjan nettipalvelu</h3>
        <p class="intro"><strong>{{ 'iucn.footer.intro' | translate }}</strong></p>
        <ul>
          <li><a [routerLink]="[{'fi': '/about/713', 'en': '/en/about/848'} | multiLang]">Tietosuojaseloste</a></li>
          <li><laji-feedback></laji-feedback></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>&nbsp;</h3>
        <ul style="margin-bottom: 15px;">
          <li><a href="https://www.ymparisto.fi/punainenlista" rel="noopener">Suomen ympäristökeskus</a></li>
          <li><a href="https://laji.fi" rel="noopener">Suomen lajitietokeskus</a></li>
          <li><a href="https://www.iucnredlist.org/" rel="noopener">IUCN</a></li>
        </ul>
        <ul>
          <li><a>Punainen kirja PDF-muodossa</a></li>
          <li><a [routerLink]="['/publications'] | localize">Avoin data</a></li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="onFrontPage">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="pull-right info">
          {{ 'footer.image.attribution' | translate }}:
          Vappu Ormio
        </div>
      </div>
    </div>
  </div>
</footer>
