<footer class="red" *ngIf="footerService.footerVisible">
  <div class="partners-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-11 partners front" [ngClass]="{hidden: !onFrontPage}">
          <ul>
            <li>
              <a href="http://www.ym.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/ymparistoministerio.png" alt="Ympäristöministeriö">
              </a>
            </li>
            <li>
              <a href="http://www.syke.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/syke_logo.png" alt="SYKE">
              </a>
            </li>
            <li>
              <a href="http://luomus.fi" target="_blank">
                <img src="https://cdn.laji.fi/images/partners/luomus_fi_blue_smaller.gif" alt="LUOMUS - Luonnontieteellinen keskusmuseo">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid info-footer">
    <div class="row">
      <div *ngFor="let item of tree$ | async; let i=index" class="{{columns[i] || ''}}">
        <h3><a [routerLink]="'/about/' + item.id | localize">{{item.title}}</a></h3>
        <ul *ngIf="item.children">
          <li *ngFor="let child of item.children">
            <a [routerLink]="'/about/' + child.id | localize">{{child.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
