@if (loaded) {
  <div>
    @if (form) {
      <div>
        <div lajiFormOption="options.viewerType">
          @switch (form.options?.viewerType) {
            @case ('MHL.viewerTypeLineTransect') {
              <div>
                <laji-line-transect-stats [document]="document" [namedPlace]="ns" (namedPlaceChange)="updateNamedPlace($event)"></laji-line-transect-stats>
              </div>
            }
            @case ('MHL.viewerTypeBirdPointCount') {
              <div>
                <laji-bird-point-count-stats [document]="document" [namedPlace]="ns" (namedPlaceChange)="updateNamedPlace($event)"></laji-bird-point-count-stats>
              </div>
            }
            @default {
              <div>
                <div *ngTemplateOutlet="wip"></div>
              </div>
            }
          }
        </div>
      </div>
    } @else {
      <h3>{{ 'haseka.statistics.title' | translate }}</h3>
      <p>Ei vielä toteutettu.</p>
    }
  </div>
} @else {
  <laji-spinner [spinning]="!loaded">
  </laji-spinner>
}
<ng-template #wip>
  <h3>{{ 'haseka.statistics.title' | translate }}</h3>
  <p>Ei vielä toteutettu.</p>
</ng-template>

