<span
  (click)="show()"
  [className]="'label label-' + labelType + ' link no-propagation' + (glyphicon ? '' : ' laji-form-help-glyph')"
><strong
  [popover]="content"
  [outsideClick]="true"
  [placement]="placement"
  triggers=""
  #pop="bs-popover"
  containerClass="popover-lg"
  container="body"
  class="no-propagation"
>
  <span [className]="'glyphicon glyphicon-' + glyphicon" *ngIf="glyphicon"></span>
  <ng-container *ngIf="!glyphicon">?</ng-container>
</strong></span>

<div class="modal fade no-propagation" bsModal #modal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #content>
  <button class="close pull-right" type="button" (click)="hide()">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
  <span *ngIf="html" [innerHTML]="html"></span><ng-content></ng-content>
</ng-template>
