.laji-form-help-glyph {
  margin-left: 5px;
  border-radius: 9px;
  color: white;
  padding: 0 4px;
  font-size: 13px;
}
.modal {
  font-weight: normal;
}

@media only screen and (max-width : 1024px) {
  .laji-form-help-glyph {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin:3px 3px 3px 5px;
    vertical-align: middle;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .laji-form-help-glyph strong {
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (max-width : 767px) {
  .modal {
    margin-top: 80px;
  }
}
