#filter-row-container {
  margin-bottom: 5px;
}

:host >>> .empty-header {
  height: 38px;
}

:host >>> .center-text {
  text-align: center !important;
  padding: 0 !important;
}

@media only screen and (min-width : 768px) {
  #download-button-container, .print-actions {
    float: right;
  }

  .print-actions {
    margin-right: 5px;
  }

  .inline-block {
    width: auto;
    vertical-align: middle;
  }
}

@media only screen and (max-width : 767px) {
  #download-button-container, .print-actions{
    float: none;
    width: 100%;
  }
}


.inline-block {
  display: inline-block;
}
