<laji-spinner [spinning]="!(documents && rows)" [overlay]="false">
  <div *ngIf="documents && rows">
    <div id="filter-row-container">
      <div id="download-button-container" *ngIf="showDownloadAll">
        <button type="button" class="btn btn-default inline-block" (click)="openChooseFileTypeModal(-1)">
          <span><i class="glyphicon glyphicon-download-alt"></i> {{"haseka.submissions.download" | translate}} {{"haseka.submissions.submissions" | translate}}</span>
        </button>
      </div>

      <input class="form-control inline-block"
             type='text'
             placeholder="{{'haseka.submissions.filter' | translate}}"
             (keyup)='updateFilter($event)'/>
    </div>
    <ngx-datatable
      class="material striped"
      [cssClasses]="{
        sortAscending: 'glyphicon glyphicon-chevron-down',
        sortDescending: 'glyphicon glyphicon-chevron-up',
        pagerLeftArrow: 'glyphicon glyphicon-chevron-left',
        pagerRightArrow: 'glyphicon glyphicon-chevron-right',
        pagerPrevious: 'glyphicon glyphicon-step-backward',
        pagerNext: 'glyphicon glyphicon-step-forward'
      }"
      [rows]="rows"
      [rowIdentity]="rowIdentity"
      [sorts]="[{ prop: 'dateEdited', dir: 'asc' }]"
      [columnMode]="'flex'"
      [rowHeight]="'auto'"
      [limit]="20"
      [footerHeight]="30"
      [messages]="{emptyMessage: loadError, totalMessage: totalMessage}">

      <ngx-datatable-row-detail [rowHeight]="'auto'">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div *ngFor="let col of useColumns | filterColumns:this.displayMode:true" style="padding-left: 35px">
            <span><strong>{{'haseka.submissions.' + col.prop | translate}}: </strong></span>
            <span>{{row[col.prop]}}</span>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [flexGrow]="1" [draggable]="false" [cellClass]="'center-text'" *ngIf="displayMode !== 'large'">
        <ng-template ngx-datatable-header-template><span></span></ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="link">
            <i class="glyphicon"
              [ngClass]="{'glyphicon-chevron-right': !row.$$expanded, 'glyphicon-chevron-down': row.$$expanded}"
              (click)="toggleExpandRow(row)"></i>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [prop]="'publicity'" [name]="'haseka.submissions.publicity' | translate"
                            [flexGrow]="1" [cellClass]="'center-text'">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="datatable-header-cell-wrapper link" (click)="sort()" title="{{column.name}}">
            <span class="datatable-header-cell-label draggable" style="color: white">---</span>
          </span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span *ngIf="onlyTemplates === false && value === publicity.publicityRestrictionsPublic">
            <span class="label label-primary link inline-block"
                  [tooltip]="'result.showViewer' | translate"
                  [placement]="'right'"
                  (click)="showViewer(row.id)">
              <i class="glyphicon glyphicon-eye-open"></i>
            </span>
          </span>
          <span *ngIf="onlyTemplates === false && value === publicity.publicityRestrictionsPrivate">
            <span class="label label-warning inline-block"
                  [tooltip]="'haseka.form.private' | translate"
                  [placement]="'right'">
              <i class="glyphicon glyphicon-eye-close"></i>
            </span>
          </span>
          <span class="label label-primary link inline-block"
                [tooltip]="(onlyTemplates ? 'template.use' : 'haseka.submissions.toEdit') | translate"
                [placement]="'right'"
                (click)="toEditPage(row)">
              <i class="glyphicon glyphicon-edit"></i>
          </span>
          <span *ngIf="onlyTemplates === false">
            <span class="label label-warning link inline-block"
                  (click)="makeTemplate(row)"
                  [tooltip]="'haseka.form.saveTemplate' | translate"
                  [placement]="'right'">
              <i class="glyphicon glyphicon-floppy-disk"></i>
            </span>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngFor="let col of useColumns | filterColumns:this.displayMode"
                            [prop]="col.prop"
                            [name]="'haseka.submissions.' + col.prop | translate"
                            [flexGrow]="3"
                            [comparator]="comparator(col.prop)"
                            [cellClass]="'break-word'">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="datatable-header-cell-wrapper sort-full-width"
                (click)="sort()"
                title="{{column.name}}">
            <span class="datatable-header-cell-label draggable">
              {{column.name}}
            </span>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" [draggable]="false" [cellClass]="'center-text'">
        <ng-template ngx-datatable-header-template><span></span></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div>
            <span class="label label-default link inline-block"
                  [tooltip]="('haseka.submissions.download' | translate) + ' ' + ('haseka.submissions.submission' | translate)"
                  [placement]="'left'"
                  [container]="'body'"
                  (click)="openChooseFileTypeModal(row.index)">
              <i class="glyphicon glyphicon-download-alt"></i>
            </span>
            <span *ngIf="formsById[documents[row.index].formID].viewerType === 'MHL.viewerTypeLineTransect'"
                  class="label label-warning link inline-block"
                  [tooltip]="'haseka.submissions.toStatistics' | translate"
                  [placement]="'left'"
                  [container]="'body'"
                  (click)="toStatisticsPage(row.id)">
              <i class="glyphicon glyphicon-stats"></i>
            </span>
            <span *ngIf="row.creator === userId" class="label label-danger link inline-block"
                  [tooltip]="'friend.remove' | translate"
                  [placement]="'left'"
                  [container]="'body'"
                  (click)="deleteDialog(row)">
              <i class="glyphicon glyphicon-remove"></i>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</laji-spinner>

<div class="modal" tabindex="-1" role="dialog" bsModal #chooseFileTypeModal="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" (click)="modal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4>{{'haseka.submissions.chooseFormat' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="radio">
            <label><input type="radio" name="optradio" [(ngModel)]="fileType" value="csv">.csv</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" [(ngModel)]="fileType" value="ods">.ods</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" [(ngModel)]="fileType" value="xlsx">.xlsx</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="download()">
          <span>{{"haseka.submissions.download" | translate}}</span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" role="dialog" bsModal #saveAsTemplate="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" (click)="templateModal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">{{'template.formTitle' | translate}}</h4>
      </div>
      <div class="modal-body">
        <label for="templateName">{{'template.name' | translate}}: <span class="required">*</span></label>
        <input id="templateName" class="form-control" type="text" [(ngModel)]="templateForm.name" name="name">
        <label for="templateDescription">{{'template.description' | translate}}:</label>
        <textarea id="templateDescription" class="form-control" [(ngModel)]="templateForm.description" name="description"></textarea>
        <!--
        <div>
          <label>{{'template.chooseType' | translate}}</label>
          <div class="radio">
            <label><input type="radio" name="templateType" [(ngModel)]="templateForm.type" value="gathering">{{'template.saveGathering' | translate}}</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="templateType" [(ngModel)]="templateForm.type" value="unit">{{'template.saveUnit' | translate}}</label>
          </div>
        </div>
        -->
        <span class="required">*</span> = {{'required' | translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" [class.disabled]="templateForm.name.length === 0" (click)="saveTemplate()">
          <span>{{"np.save" | translate}}</span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" role="dialog" bsModal #deleteModal="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" (click)="deleteModal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">{{(onlyTemplates ? 'haseka.delete.template' : 'haseka.delete.description') | translate:{id: deleteRow?.id} }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success pull-left" (click)="deleteModal.hide()">
          <span>{{"haseka.delete.cancel" | translate}}</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteDocument()">
          <span>{{"haseka.delete.ok" | translate}}</span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
