:host >>> .empty-header {
  height: 38px;
}

:host >>> .center-text {
  text-align: center !important;
  padding: 0 !important;
}

#filter-row-container {
  margin-bottom: 5px;
}

#filter-row-container > * {
  margin-bottom: 2px;
}

@media only screen and (min-width : 768px) {
  #download-button-container {
    float: right;
  }

  .inline-block {
    width: auto;
    vertical-align: middle;
  }
}

@media only screen and (max-width : 767px) {
  #download-button-container {
    float: none;
    width: 100%;
  }
}


.inline-block {
  display: inline-block;
}

.glyph-link {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.glyph-link {
  color: #337ab7;
}
.glyph-link.locked {
  color: #777;

}
