<ng-container *ngIf="taxonImages && taxonImages.length > 0">
  <laji-image-gallery
    [modalImages]="taxonImages"
    [view]="'full2'"
    [showExtraInfo]="false"
    [showOverlay]="!taxon.species"
    [showLinkToSpeciesCard]="!taxon.species"
    [linkOptions]="{tab: 'images', queryParams: {context: null}, queryParamsHandling: 'merge'}"
  ></laji-image-gallery>
  <hr>
</ng-container>

<ng-container *ngIf="isFromMasterChecklist">
  <ng-container *ngFor="let item of [
{
  title: 'taxonomy.typeSpecimens',
  hasData: 'hasTypeSpecimens',
  query: typeSpecimenQuery
}, {
  title: 'taxonomy.collectionSpecimens',
  hasData: 'hasCollectionImages',
  query: collectionSpecimenQuery
}, {
  title: 'taxonomy.confirmedObservations',
  hasData: 'hasObservationImages',
  query: reliableObservationQuery
}]">
    <h3 *ngIf="this[item.hasData]">{{ item.title | translate }}</h3>
    <div class="gallery-container" [hidden]="this[item.hasData] === false">
      <laji-gallery
        [shortPager]="true"
        [query]="item.query"
        [pageSize]="12"
        [view]="'full2'"
        [showExtraInfo]="false"
        [showOverlay]="!taxon.species"
        [showPaginatorOnlyWhenNeeded]="true"
        [showLinkToSpeciesCard]="!taxon.species"
        [linkOptions]="{tab: 'images', queryParams: {context: null}, queryParamsHandling: 'merge'}"
        (hasData)="this[item.hasData] = $event"
      ></laji-gallery>
    </div>
    <hr *ngIf="this[item.hasData]">
  </ng-container>
</ng-container>
