<div class="row">
  <div class="col-md-6">
    <div [ngClass]="{'input-group': allowInvalid}">
      <input
        (keyup)="keyEvent($event)"
        type="text"
        class="form-control input-sm"
        [class.loading]="loading"
        name="target"
        [placeholder]="placeholder"
        [(ngModel)]="value"
        [luTypeahead]="dataSource"
        [luTypeaheadOptionsLimit]="limit"
        [luTypeaheadWaitMs]="200"
        [luTypeaheadMinLength]="0"
        [luTypeaheadOptionField]="'autocompleteSelectedName'"
        [luTypeaheadItemTemplate]="taxonItem"
        (luTypeaheadOnSelect)="onTaxonSelect($event)"
        [luTypeaheadSelectFirstItem]="!allowInvalid"
        [luTypeaheadIsFirstItemActive]="!allowInvalid"
        autocomplete="off"
        autocorrect="off"
        #input
      >
      <ng-container *ngIf="allowInvalid && renderButton">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm"
                  [class.disabled]="!value"
                  (click)="useCurrentValue()"
          ><i class="glyphicon glyphicon-arrow-right"></i></button>
        </span>
      </ng-container>
    </div>
    <ng-template #taxonItem let-model="item">
      <span class="autocomplete-container" [innerHtml]="model['autocompleteDisplayName' ]"></span>
     </ng-template>
  </div>
  <div class="col-md-6 form-control-static" *ngIf="showResult">
    <ng-container *ngIf="result && result.payload; else asIs">
      <laji-taxon-name [capitalizeName]="true" [taxon]="result.payload" [taxonID]="result.key" [warningOnMissingTaxonID]="true"></laji-taxon-name>
    </ng-container>
    <ng-template #asIs>
      <ng-container *ngIf="useValue">
        <laji-taxon-name [taxon]="{
          id: '',
          cursiveName: false,
          vernacularName: useValue
        }" [taxonID]="''" [warningOnMissingTaxonID]="true" [capitalizeName]="true"></laji-taxon-name>
      </ng-container>
    </ng-template>
  </div>
</div>
