:host ::ng-deep typeahead-container.dropdown {
  width: 600px;
  margin-left: 0px;
}
  
  :host ::ng-deep typeahead-container.dropdown ul {
    width: 600px;
  }

  @media only screen and (max-width : 767px) {
    :host ::ng-deep typeahead-container.dropdown ul,  :host ::ng-deep typeahead-container.dropdown {
        width: 250px;
    }

    :host ::ng-deep typeahead-container.dropdown ul {
      width: 250px;
    }
  }