<ng-container *ngIf="thankYouData$ | async as data">
  <div class="ml-2">
    <laji-project-form-header [form]="data.form" [displayInstructions]="false"
      lajiFormOption="logo title options.hideTES"></laji-project-form-header>
    <laji-info-page *ngIf="(data.form.options?.about | multiLang)"
      [page]="data.form.options.about | multiLang: true:undefined:'%value%'"
      lajiFormOption="options.about"></laji-info-page>
    <ng-container *ngIf="!data.loggedIn">
      <p>{{ 'project-form.about.register.description' | translate }}</p>
      <lu-button (click)="register()" role="primary" class="login-button">{{ 'project-form.about.register' |
        translate }}</lu-button>
    </ng-container>
  </div>
  <ng-container *ngIf="data.form.options.openForm">
    <br />
    <img src="/static/images/partner-logos/eu-funding.png" alt="Partly funded by the European Union." class="my-8">
  </ng-container>
</ng-container>
