@if (thankYouData$ | async; as data) {
  <div class="ml-2">
    <laji-project-form-header [form]="data.form" [displayInstructions]="false"
    lajiFormOption="logo title options.hideTES"></laji-project-form-header>
    @if ((data.form.options?.about | multiLang)) {
      <laji-info-page
        [page]="data.form.options.about | multiLang: true:undefined:'%value%'"
      lajiFormOption="options.about"></laji-info-page>
    }
    @if (!data.loggedIn) {
      <p>{{ 'project-form.about.register.description' | translate }}</p>
      <lu-button (click)="register()" role="primary" class="login-button">{{ 'project-form.about.register' |
      translate }}</lu-button>
    }
  </div>
  @if (data.form.options.openForm) {
    <br />
    <img src="/static/images/partner-logos/eu-funding.png" alt="Partly funded by the European Union." class="my-8">
  }
}
