<strong class="title link" (click)="toggleActiveList()" [ngClass]="{link: active.length > 0}">
  {{ 'observation.active' | translate }}
  <span class="badge" [ngClass]="{has: active.length > 0}">{{ active.length }}</span>
</strong>
<div class="active-list" *ngIf="showList">
  <ul>
    <li>
      <span>
        {{ 'observation.form.empty' | translate }}
        <span (click)="removeAll()" class="label label-danger link"><i class="glyphicon glyphicon-remove"></i></span>
      </span>
    </li>
    <li *ngFor="let item of active">
      <span>
        {{ searchQuery.queryType + '.active.' + item.field | translate }}
        <span (click)="remove(item)" class="label label-danger link"><i class="glyphicon glyphicon-remove"></i></span>
      </span>
    </li>
  </ul>
</div>
