.key {
  color: #000;
  font-weight: bold;
  text-align: right;
  margin-right: 0;
  padding-right: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.value::-webkit-scrollbar {
  display: none;
}
