:host {
  display: block;
  overflow: auto;
}

.source-list {
  list-style: none;
  padding: 0;
}

.source-list li {
  padding: 5px 0;
}

.active {
  font-weight: bold;
}

.source-header {
  white-space: nowrap;
}

.map-cell {
  min-width: 200px;
  width: 80%;
}

.map-container {
  width: 100%;
  min-height: 200px;
  height: 60vh;
}
