<form (ngSubmit)="onSubmit()" #observationForm="ngForm" class="form-horizontal">
<div class="row">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="col-md-2 control-label">{{'observation.form.specimen' | translate}}:</label>
          <div class="col-md-6">
              <input
                [ngClass]="{loading: typeaheadLoading}"
                type="text"
                class="form-control input-sm"
                name="target"
                [(ngModel)]="formQuery.taxon"
                [typeahead]="dataSource"
                [typeaheadOptionsLimit]="limit"
                [typeaheadOptionField]="'value'"
                [typeaheadWaitMs]="200"
                [typeaheadMinLength]="4"
                [typeaheadOptionField]="'target'"
                (typeaheadLoading)="changeTypeaheadLoading($event)"
                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                autocomplete="off"
                autocorrect="off"
              >
            <template #taxonItem let-model="item" let-index="index">
              <h5>This is: {{model | json}} Index: {{ index }}</h5>
            </template>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{'observation.form.date' | translate}}:</label>
          <div class="col-md-3">
            <laji-datepicker
              [(ngModel)]="formQuery.timeStart"
              [view-format]="'DD.MM.YYYY'"
              [model-format]="warehouseDateFormat"
              name="timeStart"></laji-datepicker>
          </div>
          <div class="col-md-3">
            <laji-datepicker
              [(ngModel)]="formQuery.timeEnd"
              [view-format]="'DD.MM.YYYY'"
              [model-format]="warehouseDateFormat"
              name="timeEnd"></laji-datepicker>
          </div>
          <div class="col-md-3">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default" (click)="updateTime(1)">1d</button>
              <button type="button" class="btn btn-sm btn-default" (click)="updateTime(7)">7d</button>
              <button type="button" class="btn btn-sm btn-default" (click)="updateTime(365)">{{'observation.form.thisYear' | translate}}</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-1 col-sm-4">
            <button (click)="onSubmit()" class="btn btn-sm btn-default">{{'observation.form.search' | translate}}</button>
          </div>
          <div class="col-md-1 col-sm-4">
            <button type="button" (click)="empty(true)" class="btn btn-sm btn-default">{{'observation.form.empty' | translate}}</button>
          </div>
        </div>
        <laji-observation-result [active]="tab"></laji-observation-result>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div *ngFor="let filter of filters; let i = index;">
      <laji-observation-filters [(filters)]="filters[i]" (onSelect)="onFilterSelect($event)"></laji-observation-filters>
    </div>
  </div>
</div>
</form>
