.autosuggest-value {
  height: 20px;
  padding-right: 30px;
  background-size: 20px auto;
  background-position: center right;
}
.result-list {
  padding-right: 0;
}
.form-filters {
  z-index: 1001;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.checkbox-label {
  padding-left:0;
}

:host >>> .panel-heading, .form-title {
  background-color: #ECF0F1;
  border-bottom: 1px solid #e1e1e1;
}

.toggle-intro {
  padding: 10px 10px 0 0;
  font-size: 13px;
  color: #3498DB;
}

.filter-toggle {
  position: absolute;
  font-size: 16px;
  color: #777;
  margin-left: -37px;
  margin-top: 10px;
  background-color: #ECF0F1;
  z-index: 1;
  padding: 5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.form-title {
  z-index: 2;
}

.form-title h2 {
  font-size: 16px;
}

:host >>> .alert-warning {
  margin-right: 10px;
}

:host >>> .panel-heading a:hover {
  text-decoration: none;
}

:host >>> .panel-body {
  padding-top: 6px;
  margin-top: 0;
}
