<form (ngSubmit)="onSubmit()" #observationForm="ngForm" class="form-horizontal">
  <div class="row">
    <div class="col-sm-12">
      <div class="well" *ngIf="loadFilters">
        <div class="form-group">
          <label class="col-md-2 control-label">
            {{'observation.active.informalTaxonGroupId' | translate}}:
          </label>
          <div class="col-md-10">
            <observation-group-select
                    [(ngModel)]="formQuery.informalTaxonGroupId"
                    name="informalTaxonGroupId"
                    [lang]="translate.currentLang"
                    (onSelect)="onSubmit()">
              {{'observation.active.informalTaxonGroupAll'|translate}}
            </observation-group-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">
            {{'observation.form.specimen' | translate}}:
          </label>
          <div class="col-md-6">
            <input
                    [ngClass]="{loading: typeaheadLoading}"
                    type="text"
                    class="form-control input-sm"
                    name="target"
                    [(ngModel)]="formQuery.taxon"
                    [typeahead]="dataSource"
                    [typeaheadOptionsLimit]="limit"
                    [typeaheadOptionField]="'value'"
                    [typeaheadWaitMs]="200"
                    [typeaheadMinLength]="4"
                    [typeaheadOptionField]="'target'"
                    [typeaheadItemTemplate]="taxonItem"
                    (typeaheadLoading)="changeTypeaheadLoading($event)"
                    autocomplete="off"
                    autocorrect="off"
            >
            <template #taxonItem let-model="item">
              <h5 class="autosuggest-value {{getTaxonGroup(model.payload, 'id')}} informal-group-image">
                {{model.value}}
              </h5>
            </template>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{'observation.form.date' | translate}}:</label>
          <div class="col-md-3">
            <laji-datepicker
                    [(ngModel)]="formQuery.timeStart"
                    [viewFormat]="'DD.MM.YYYY'"
                    [format]="warehouseDateFormat"
                    name="timeStart"></laji-datepicker>
          </div>
          <div class="col-md-3">
            <laji-datepicker
                    [(ngModel)]="formQuery.timeEnd"
                    [viewFormat]="'DD.MM.YYYY'"
                    [format]="warehouseDateFormat"
                    name="timeEnd"></laji-datepicker>
          </div>
          <div class="col-md-3">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default" (click)="updateTime(1)">1d</button>
              <button type="button" class="btn btn-sm btn-default" (click)="updateTime(7)">7d</button>
              <button type="button" class="btn btn-sm btn-default" (click)="updateTime(365)">
                {{'observation.form.thisYear' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{'observation.form.map'|translate}}:</label>
          <div class="col-md-2">
            <div class="form-group">
              <div class="col-xs-12">
                <button type="button" class="btn btn-sm btn-default" (click)="gotToMap()">
                  {{'observation.form.mapLink'|translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="col-xs-12">
                <button type="button" (click)="toggleFilters()" class="btn btn-sm btn-default">
                  {{'observation.form.more' | translate}}
                  <i class="glyphicon"
                     [ngClass]="{
                       'glyphicon-triangle-bottom': showFilter,
                       'glyphicon-triangle-right': !showFilter
                     }"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!showFilter">
          <div class="col-md-10 col-md-offset-2">
            <laji-observation-active
                    [skip]="['target', 'includeNonValidTaxa', 'informalTaxonGroupId']"
            ></laji-observation-active>
          </div>
        </div>
        <div [hidden]="!showFilter">
          <div class="row">
            <div class="col-sm-12">
              <h3>{{'observation.filters.unit' | translate}}</h3>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'observation.form.count' | translate}}:</label>
            <div class="col-md-3">
              <div class="row">
                <div class="col-sm-6">
                  <input type="number" name="individualCountMin"
                         class="form-control input-sm"
                         placeholder="{{'observation.form.countMin' | translate}}"
                         [(ngModel)]="formQuery.individualCountMin">
                </div>
                <div class="col-sm-6">
                  <input type="number" name="individualCountMax"
                         class="form-control input-sm"
                         placeholder="{{'observation.form.countMax' | translate}}"
                         [(ngModel)]="formQuery.individualCountMax">
                </div>
              </div>
            </div>
            <label class="col-md-2 control-label">{{'observation.form.sex' | translate}}:</label>
            <div class="col-md-3">
              <metadata-select
                      [(ngModel)]="searchQuery.query.sex"
                      [field]="'MY.sex'"
                      [pick]="pickSex"
                      [mapToWarehouse]="true"
                      name="sex"
                      [lang]="translate.currentLang"></metadata-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'MY.lifeStage' | label}}:</label>
            <div class="col-md-3">
              <metadata-select
                      [(ngModel)]="searchQuery.query.lifeStage"
                      [field]="'MY.lifeStage'"
                      [mapToWarehouse]="true"
                      name="lifeStage"
                      [lang]="translate.currentLang"></metadata-select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h3>{{'observation.filters.collection' | translate}}</h3>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'MY.recordBasis' | label}}:</label>
            <div class="col-md-3">
              <metadata-select
                      [(ngModel)]="searchQuery.query.recordBasis"
                      [multiple]="true"
                      name="recordBasis"
                      [mapToWarehouse]="true"
                      [field]="'MY.recordBasis'"
                      [lang]="translate.currentLang"></metadata-select>
            </div>
            <label class="col-md-2 control-label">{{'observation.form.documentId' | translate}}:</label>
            <div class="col-md-3">
              <input
                      class="form-control input-sm"
                      type="text"
                      name="documentId"
                      [(ngModel)]="searchQuery.query.documentId"
              >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'MY.collectionID' | label}}:</label>
            <div class="col-md-3">
              <metadata-select
                      [(ngModel)]="searchQuery.query.collectionId"
                      [field]="'MY.collectionID'"
                      name="collectionID"
                      [lang]="translate.currentLang"></metadata-select>
            </div>
            <label class="col-md-2 control-label">{{'observation.form.typeSpecimen' | translate}}:</label>
            <div class="col-md-1">
              <input type="checkbox" class="input-sm"
                     [(ngModel)]="formQuery.typeSpecimen"
                     name="typeSpecimen">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h3>{{'observation.filters.administrative' | translate}}</h3>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'MX.hasAdminStatus' | label}}:</label>
            <div class="col-md-3">
              <metadata-select
                      [(ngModel)]="searchQuery.query.administrativeStatusId"
                      name="administrativeStatusId"
                      [field]="'MX.hasAdminStatus'"
                      [lang]="translate.currentLang"></metadata-select>
            </div>
            <label class="col-md-2 control-label">{{'observation.form.redListStatusId' | translate}}:</label>
            <div class="col-md-3">
              <metadata-select
                      [(ngModel)]="searchQuery.query.redListStatusId"
                      [multiple]="true"
                      name="redListStatusId"
                      [field]="'MKV.redListStatus'"
                      [lang]="translate.currentLang"></metadata-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'observation.form.invasive' | translate}}:</label>
            <div class="col-md-3">
              <multi-radio
                      [options]="invasiveOptions"
                      [(ngModel)]="searchQuery.query.invasive"
                      name="invasive"></multi-radio>
            </div>
            <label class="col-md-2 control-label">{{'observation.form.finnish' | translate}}:</label>
            <div class="col-md-3">
              <multi-radio
                      [options]="finnishOptions"
                      [(ngModel)]="searchQuery.query.finnish"
                      name="finnish"></multi-radio>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h3>{{'observation.filters.other' | translate}}</h3>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'observation.form.hasMedia' | translate}}:</label>
            <div class="col-md-3">
              <multi-radio
                      [options]="mediaOptions"
                      [(ngModel)]="searchQuery.query.hasMedia"
                      name="hasMedia"></multi-radio>
            </div>
            <label class="col-md-2 control-label">{{'observation.form.includeNonValidTaxa' | translate}}:</label>
            <div class="col-md-1">
              <input type="checkbox" class="input-sm"
                     [(ngModel)]="formQuery.includeNonValidTaxa"
                     name="includeNonValidTaxa">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-1 col-sm-4">
            <button (click)="onSubmit()" class="btn btn-sm btn-default">{{'observation.form.search' | translate}}
            </button>
          </div>
          <div class="col-md-1 col-sm-4">
            <button type="button" (click)="empty(true)" class="btn btn-sm btn-default">{{'observation.form.empty' |
              translate}}
            </button>
          </div>
        </div>
      </div>
      <div [ngStyle]="{'min-height': getTabHeight()}" #tabs>
        <laji-observation-result [(active)]="activeTab" [(filters)]="filters"
                                 (onFilterSelect)="onFilterSelect($event)"></laji-observation-result>
      </div>
    </div>
  </div>
</form>
