hr {
  margin: 4px 0;
}
#logCoordinateAccuracyMax:focus {
  border: none;
  box-shadow: none;
}
.result-list {
  display: flex;
  flex-direction: column;
}
.taxon-panel {
  background-color: #ffffff;
  margin: -15px;
  padding: 15px;
}
.lj-input-wrap {
  padding: 0 15px;
}
label {
  display: inline;
}

::ng-deep p {
  font-size: small;
}
.switch-label {
  margin-left: 5px;
}
.small-label {
  font-weight: normal;
  font-size: smaller;
}
.mode-select {
  margin-top: -12px;
  border-bottom: 1px solid #e1e1e1;
}
.badge {
  background: none;
  font-weight: normal;
  color: #333;
  margin-bottom: 3px;
  margin-right: 5px;
}

.badge.active {
  background: #777;
  font-weight: normal;
  color: #fff;
}
