hr {
  margin: 4px 0;
}
#logCoordinateAccuracyMax:focus {
  border: none;
  box-shadow: none;
}
.result-list {
  display: flex;
  flex-direction: column;
}
.taxon-panel {
  background-color: #ffffff;
  margin: -15px;
  padding: 15px;
}
:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  z-index: auto;
}
:host >>> .alert.alert-info {
  margin-right: 10px;
}
.lj-input-wrap {
  padding: 0 15px;
}
.toggle-intro {
  position: absolute;
  right: 0;
  margin-top: -5px;
  padding: 0 30px 0 0;
  z-index: 2;
  font-size: 13px;
  color: #3498DB;
}
:host >>> .alert-warning {
  margin-right: 10px;
}
