hr {
  margin: 4px 0;
}
#logCoordinateAccuracyMax:focus {
  border: none;
  box-shadow: none;
}
.result-list {
  display: flex;
  flex-direction: column;
}
.taxon-panel {
  background-color: #ffffff;
  margin: -15px;
  padding: 15px;
}
.lj-input-wrap {
  padding: 0 15px;
}
label {
  display: inline;
}

::ng-deep p {
  font-size: small;
}
.switch-label {
  margin-left: 5px;
}
