<ngx-datatable
  class='material striped laji-datatable'
  [messages]="{ emptyMessage: '', totalMessage: '' }"
  [scrollbarH]="true"
  [rows]="rows"
  [columns]="_columns"
  [headerHeight]="38"
  [rowClass]="rowClass"
  (activate)="onRowSelect($event)">
</ngx-datatable>

<ng-template let-value="value" #expander>
  <span [ngStyle]="{'padding-left': (10 * value.level) + 'px'}">
    <span *ngIf="!value.isRoot"
          class="tree-side-line"
          [ngClass]="{'first-child': value.isFirstChild}"
          [ngStyle]="{'left': (10 * value.level + 7) + 'px'}"></span>
    <i class="glyphicon glyphicon-triangle-right" [ngStyle]="{visibility: value.hasChildren ? 'visible' : 'hidden'}" *ngIf="!value.isExpanded"></i>
    <i class="glyphicon glyphicon-triangle-bottom" *ngIf="value.isExpanded"></i>
    <ng-container *ngTemplateOutlet="expanderLabel; context: {'value': value}"></ng-container>
  </span>
</ng-template>

<laji-datatable-templates #datatableTemplates></laji-datatable-templates>
