html {
  position: relative;
  height: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 50px;
  height: 100%;
}

@media print {
  body, html {
    margin: 0;
    padding: 0;
  }
}

#lajiApp {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 200px;
}

#footer, #navbar {
  flex: none;
}

laji-locale-fi,
laji-locale-en,
laji-locale-sv,
laji-locale-fi > div,
laji-locale-en > div,
laji-locale-sv > div,
#content > div,
#content .container-fluid {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#content .container-fluid {
  margin: 0;
}

#content .container-fluid > div {
  flex: 1 0 auto;
}

@media only screen and (min-width : 768px) {
  .full-height {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
  }

  .full-width {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
  }
}

#content img {
  max-width: calc(100vw - 30px);
}

.cursive {
  font-style: italic;
}

.comma-list {
  display: inline;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.comma-list li {
  display: inline;
}

.comma-list li:after {
  content: ", ";
}
.comma-list li:last-child:after {
  content: "";
}


#footer footer {
  flex: none;
  color: #fff;
  background-color: #3498DB;
  width: 100%;
}

.breadcrumb {
  margin-top: 15px;
}

.news-panel {
  padding-bottom: 15px;
}

.toast-top-right {
  top: 60px;
}

.link {
  cursor: pointer;
  cursor: hand;
}

.loading {
  background-color: #ffffff;
  background-image: url("http://loadinggif.com/images/image-selection/3.gif");
  background-size: 23px 23px;
  background-position: right center;
  background-repeat: no-repeat;
}

.ui-select-choices-row a {
  white-space: normal !important;
}
/** generic **/
.pagination {
  margin: 0 0 20px 0;
}

.tab-content, .container-relative {
  position: relative;
}

.autosuggest-value {
  height: 20px;
  padding-right: 30px;
  background-size: 20px auto !important;
  background-position: center right !important;
}

/** Observation **/
.dropdown-toggle .caret {
  float: right;
  margin-top: 7px;
}

/** taxon tree **/
.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-leaf {
  padding-left: 3px;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 28px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

treenode:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}
/** /taxon tree **/

/** informal taxon groups **/
.informal-group-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.active .informal-group-image {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.informal-group-image.MVL\.1 {
  background-image: url('/static/images/informalGroups/MVL.1.svg');
}

.informal-group-image.MVL\.2 {
  background-image: url('/static/images/informalGroups/MVL.2.svg');
}

.informal-group-image.MVL\.21 {
  background-image: url('/static/images/informalGroups/MVL.21.svg');
}

.informal-group-image.MVL\.22 {
  background-image: url('/static/images/informalGroups/MVL.22.svg');
}

.informal-group-image.MVL\.26 {
  background-image: url('/static/images/informalGroups/MVL.26.svg');
}

.informal-group-image.MVL\.27 {
  background-image: url('/static/images/informalGroups/MVL.27.svg');
}

.informal-group-image.MVL\.37 {
  background-image: url('/static/images/informalGroups/MVL.37.svg');
}

.informal-group-image.MVL\.39 {
  background-image: url('/static/images/informalGroups/MVL.39.svg');
}
.informal-group-image.MVL\.40 {
  background-image: url('/static/images/informalGroups/MVL.40.svg');
}

.informal-group-image.MVL\.41 {
  background-image: url('/static/images/informalGroups/MVL.41.svg');
}

.informal-group-image.MVL\.232 {
  background-image: url('/static/images/informalGroups/MVL.232.svg');
}

.informal-group-image.MVL\.233 {
  background-image: url('/static/images/informalGroups/MVL.233.svg');
}

/** /informal taxon groups **/

/** forms **/
.checkbox {
  background: none;
}

.laji-map {
  width: 100%;
  height: 100%;
}

.laji-form .laji-form-map-container, .laji-form .popover {
  z-index: 0;
}

.laji-form .blocking-loader {
	z-index: 2;
}

/** /forms **/

/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.ui-select-choices-row:hover {
  background-color: #f5f5f5;
}

/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close {
  display: none;
}

.select-locked > .ui-select-match-close {
  display: none;
}

body > .select2-container.open {
  z-index: 9999; /* The z-index Select2 applies to the select2-drop */
}

/* Handle up direction Select2 */
.ui-select-container[theme="select2"].direction-up .ui-select-match {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border-top-width: 1px; /* FIXME hardcoded value :-/ */
  border-top-style: solid;

  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

  margin-top: -4px; /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search {
  margin-top: 4px; /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match {
  border-bottom-color: #5897fb;
}

.ui-select-container .ui-select-match-text {
  overflow: hidden;
  width: 80%;
  width: calc(100% - 30px);
}

/* Selectize theme */

/* Helper class to show styles when focus */
.selectize-input.selectize-focus {
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
  border-color: #D44950;
}

/* Handle up direction Selectize */
.ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

  margin-top: -2px; /* FIXME hardcoded value :-/ */
}

/* Bootstrap theme */

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap > .ui-select-match > .btn {
  /* Instead of center because of .btn */
  text-align: left !important;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

.ui-disabled {
  background-color: #eceeef;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.6;
  top: 0;
  left: 0;
  cursor: not-allowed;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

body > .ui-select-bootstrap.open {
  z-index: 1000; /* Standard Bootstrap dropdown z-index */
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
  position: relative;
}

.ui-select-multiple .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row > a:hover, .ui-select-bootstrap .ui-select-choices-row > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled > a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled > a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #D44950;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-match .btn-default:hover {
  background-color: #fff;
}

/** Laji Icons **/
.lji-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.lji-btn-sm {
  padding: 3px 4px 0 4px;
  height: 31px;
}

.lji-numeric {
  background-image: url('/static/images/icons/numeric.svg');
}
.lji-crop {
  background-image: url('/static/images/icons/crop.svg');
}

.more-info {
  padding-bottom: 10px;
  padding-top: 15px;
  background-color: rgb(236, 240, 241);
}

.sidebar-nav {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  margin: 0 -15px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #3d3d3d;
}

.sidebar-nav li a:hover {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #898989;
}

.dropdown-menu {
  z-index: 1032;
}

.dropdown-menu.right {
  right: 0 !important;
  left: auto !important;
}

/** Fixed to view default css*/
.fixed-to-view {
  position: fixed;
  width: inherit;
  z-index: 1030;
}

/** print management */
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
