@if (taxon.species) {
  <div class="lu-text-content">
    <laji-identification-list [taxon]="taxon"></laji-identification-list>
  </div>
} @else {
  <laji-spinner [spinning]="loading" [hideContentWhileLoading]="true">
    @for (child of data.children; track child) {
      <div>
        <div>
          <h3 class="child-name">
            <a [routerLink]="['/taxon', child.id, 'identification'] | localize" queryParamsHandling="preserve">
              <laji-taxon-name [capitalizeName]="true" [addLink]="false" [taxon]="child"></laji-taxon-name>
            </a>
          </h3>
          <h4 class="child-info">
            {{
            child.taxonRank! | label
            }} - {{
            child.countOfSpecies| formattedNumber:' '
            }}
            {{
            (child.countOfSpecies === 1 ?
            'taxonomy.identification.species' :
            'taxonomy.identification.speciesPlural'
            ) | translate
            }} - {{
            child.observationCountFinland | formattedNumber:' '
            }}
            {{
            (child.observationCountFinland === 1 ?
            'taxonomy.identification.observation' :
            'taxonomy.identification.observationsPlural'
            ) | translate
            }}
          </h4>
        </div>
        @if (child.children?.length === 0) {
          <div class="child-container">
            <div class="image-container">
              <laji-identification-list [taxon]="child"></laji-identification-list>
            </div>
            <div class="description-container">
              @for (taxonDescription of child.taxonDescriptions | keyvalue; track taxonDescription) {
                <div class="description-items">
                  <h4>{{ taxonDescription.value.title }}</h4>
                  <p [innerHtml]="taxonDescription.value.content"></p>
                </div>
              }
            </div>
          </div>
        } @else {
          <laji-identification-list [taxon]="child"></laji-identification-list>
        }
      </div>
    }
    <div #loadMore></div>
    @if (data.children.length < (totalChildren$ | async)!) {
      <div class="spinner three-bounce-spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    }
    @if (taxon.taxonRank === 'MX.genus' && data.descriptionSources.length > 0) {
      <h3>{{ 'taxonomy.identification.descriptionAuthors' | translate }}</h3>
      <strong>{{ 'taxonomy.sources' | translate }}:</strong>
      @for (descriptionSource of data.descriptionSources; track descriptionSource) {
        <p>{{ descriptionSource }}</p>
      }
      @if (data.speciesCardAuthors.length > 0) {
        <strong>{{ data.speciesCardAuthorsTitle }}:</strong>
        @for (speciesCardAuthor of data.speciesCardAuthors; track speciesCardAuthor) {
          <span [innerHTML]="speciesCardAuthor"></span>
        }
      }
      <laji-license type="MZ.intellectualRightsCC-BY-4.0"></laji-license>
    }
  </laji-spinner>
}

