<div class="legend">
  <!-- position: relative anchors the dropdown menu (which is absolutely positioned) to this element -->
  <div *ngIf="getModes().length > 1; else singleMode" dropdown style="position: relative">
    <a href id="dropdownToggle" dropdownToggle (click)="false"
      aria-controls="dropdownMenu">{{ visualization[mode].label | translate}} <span class="caret"></span></a>
    <ul id="dropdownMenu" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="dropdownToggle">
      <li *ngFor="let l of getModes()"><a (click)="switchMode(l)">{{ 'laji-map.legend.mode.' + l | translate}}</a></li>
    </ul>
  </div>
  <ng-template #singleMode>
    <div>{{ visualization[mode].label | translate}} </div>
  </ng-template>
  <ul class="mt-3">
    <li class="d-flex" *ngFor="let cat of visualization[mode].categories"><div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div><div class="legend-label">{{ cat.label }}</div></li>
  </ul>
<!--   <ng-container [ngSwitch]="mode">
    <ul class="mt-3" *ngSwitchCase="'obsCount'">
      <li class="d-flex" *ngFor="let cat of visualization['obsCount'].categories"><div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div><div class="legend-label">{{ cat.label }}</div></li>
    </ul>
    <div *ngSwitchCase="'recordQuality'">
      <li class="d-flex" *ngFor="let cat of visualization['recordQuality'].categories"><div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div><div class="legend-label">{{ cat.label }}</div></li>
    </div>
    <div *ngSwitchCase="'redlistStatus'">
      <li class="d-flex" *ngFor="let cat of visualization['redlistStatus'].categories"><div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div><div class="legend-label">{{ cat.label }}</div></li>
    </div>
    <div *ngSwitchCase="'individualCount'">
      <li class="d-flex" *ngFor="let cat of visualization['individualCount'].categories"><div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div><div class="legend-label">{{ cat.label }}</div></li>
    </div>
    <div *ngSwitchCase="'recordAge'">
      <li class="d-flex" *ngFor="let cat of visualization['recordAge'].categories"><div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div><div class="legend-label">{{ cat.label }}</div></li>
    </div>
  </ng-container> -->
</div>