@import 'vars';

.legend {
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  top: 30px;
  right: 7px;
  z-index: 400;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.dropdown-menu a {
  cursor: pointer;
}

ul {
  padding: 0;
}

.legend-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: $neutral-1;
  align-self: center;
  border: 1px solid $neutral-6;
}

.legend-label {
}

.accuracy-1 {
  border: 1px solid $neutral-6;
}
.accuracy-2 {
  border: 2px dotted $neutral-7;
}
.accuracy-3 {
  border: 2px dashed $neutral-8;
}
.accuracy-4 {
  border: 3px dashed $neutral-9;
}
.accuracy-5 {
  border: 4px dashed #000;
}
