<div>
  @if (sourceOfCoordinates) {
    <strong>{{ 'sourceOfCoordinates' | translate }}:</strong> {{ sourceOfCoordinates | label:'warehouse' }}<br />
  }
  @if (ykj) {
    <strong>YKJ:</strong> {{ ykj | coordinate: 'ykj' }}<br />
  }
  @if (ykj1km) {
    <strong>YKJ 1km:</strong> {{ ykj1km | coordinate: 'ykj1km' }}<br />
  }
  @if (ykj10km) {
    <strong>YKJ 10km:</strong> {{ ykj10km | coordinate: 'ykj10km' }}<br />
  }
  @if (wgs84) {
    <strong>WGS84:</strong> {{ wgs84 | coordinate: 'wgs84' }}<br />
  }
  @if (coordinateAccuracy) {
    <strong>{{ 'result.gathering.interpretations.coordinateAccuracy' | translate }}:</strong> {{ coordinateAccuracy }}<br />
  }
</div>
