<div class="container-fluid">
  <h1>
    Aineistot
  </h1>
  <div class="row" *ngIf="collections$ | async; let collections; else loading">
    <div class="col-md-5 col-md-push-7 col-lg-6 col-lg-push-6">
      <laji-info-collection [collections]="collections" [activeID]="activeCollection"></laji-info-collection>
    </div>
    <div class="col-md-7 col-md-pull-5 col-lg-6 col-lg-pull-6">
      <div class="row">
        <div class="col-sm-8">
          <input
            class="form-control collection-filter"
            type='text'
            placeholder="{{'haseka.submissions.filter' | translate}}"
            [(ngModel)]="filter"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!--div laji-collection-tree [collections]="collections" [filter]="filter" [activeID]="activeCollection"></div-->
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <laji-spinner></laji-spinner>
  </ng-template>
</div>
