<main>
  <h1>Tallenna havaintotietoa</h1>
  <h3>Havaintotiedon tallentaminen Lajitietokeskuksen tietovarastoon omasta tietojärjestelmästä</h3>
  <ul>
    <li>Aineistoja voi tallentaa kopiona Lajitietokeskukseen (sekundaaridata) organisaation primaaritietoa ylläpitävästä tietojärjestelmästä</li>
    <li>Aineistoja voi tuoda kertaluonteisesti hallittavaksi Lajitietokeskukseen (primaaridata), jolloin Lajitietokeskukseen tuotua tietoa hallinnoidaan ja päivitetään (muutetaan, korjataan, rikastetaan jne.) Oma-Vihko palvelun kautta.</li>
  </ul>
  <h4>Organisaatioiden havaintoaineistot</h4>
  <img class="datasets-comingsoon" src="../../assets/images/datasets_comingsoon.png" alt="datasets">
  <h3>Havaintotiedon tallennus omaan tietojärjestelmään</h3>
  <div class="d-flex flex-row">
    <lu-button [anchor]="['/about/1068']" class="mr-3">
      <i class="glyphicon glyphicon-download-alt"></i>
      Tiedoston vienti Exceliin
    </lu-button>
    <lu-button [anchor]="['/about/3478']">
      <i class="glyphicon glyphicon-download-alt"></i>
      Tiedoston vienti ArcGISiin
    </lu-button>
  </div>
</main>