<ng-container *ngIf="descriptionGroup">
  <div class="panel panel-default description-panel"
       laji-panel
       [title]="title ? title : descriptionGroup.title"
       [open]="true"
       [autoToggle]="true"
  >
    <laji-taxon-description-variables [variables]="descriptionGroup.variables!"></laji-taxon-description-variables>
  </div>
  <div class="panel panel-default"
         laji-panel
         *ngIf="taxonDescription"
         [title]="'taxonomy.author' | translate"
         [open]="true"
         [autoToggle]="true"
  >
    <laji-taxon-description-source [taxonDescription]="taxonDescription"></laji-taxon-description-source>
  </div>
</ng-container>
