<!--<h3>{{ title }}</h3>
<ul class="form-list">
  <li *ngFor="let form of formList; trackBy: trackForm">
    <laji-form-row
      [tmpDocuments]="tmpDocument"
      [form]="form"
      [hasAdminRight]="form.hasAdminRight">
    </laji-form-row>
  </li>
</ul>-->

<div class="category-box">
  <h3>{{ title }}</h3>
  <div *ngFor="let form of formList; trackBy: trackForm">
    <laji-form-row
      [tmpDocuments]="tmpDocument"
      [form]="form"
      [hasAdminRight]="form.hasAdminRight">
    </laji-form-row>
  </div>
</div>

