@if (isMany) {
  <ul>
    @for (value of _habitats; track value) {
      <li>
        <ng-container [ngTemplateOutlet]="habitatTpl" [ngTemplateOutletContext]="{habitat: value}"></ng-container>
      </li>
    }
  </ul>
} @else {
  @if (_habitat) {
    <ul>
      <li>
        <ng-container [ngTemplateOutlet]="habitatTpl" [ngTemplateOutletContext]="{habitat: _habitat}"></ng-container>
      </li>
    </ul>
  }
}
<ng-template #habitatTpl let-habitat="habitat">
  {{ habitat.habitat | label }}@if (habitat.habitatSpecificTypes) {
  ;
  @for (spe of habitat.habitatSpecificTypes; track spe; let l = $last) {
    {{ spe | label }}@if (!l) {
    ,
  }
}
}
</ng-template>
