<div>
  <laji-tree-select
    [includedOptions]="includedOptions"
    [excludedOptions]="excludedOptions"
    [optionsTree$]="groupsTree$"
    [options]="(groups$ | async) ?? []"
    [modalButtonLabel]="modalButtonLabel"
    [modalTitle]="modalTitle"
    [browseTitle]="browseTitle"
    [selectedTitle]="selectedTitle"
    [includedTitle]="includedTitle"
    [excludedTitle]="excludedTitle"
    [okButtonLabel]="okButtonLabel"
    [clearButtonLabel]="clearButtonLabel"
    (selectedOptionsChange)="selectedOptionsChange($event)"
  >
  </laji-tree-select>
</div>
