<ol class="breadcrumb">
  <li *ngFor="let taxon of parents$ | async"><span class="taxon-rank">{{taxon.taxonRank | label}}</span>
    <a [routerLink]="['/taxon/' + taxon.id] | localize">
      <strong>
        {{ taxon.vernacularName }}
      </strong>
      <span class="scientificName" [class.cursive]="taxon.cursiveName">({{taxon.scientificName}})</span>
    </a>
  </li>
  <li *ngIf="includeCurrent"><span class="taxon-rank">{{current.taxonRank | label}}</span>
    <strong>
      {{ current.vernacularName }}
    </strong>
    <span class="scientificName" [class.cursive]="current.cursiveName">({{current.scientificName}})</span>
  </li>
</ol>
