<ol class="breadcrumb">
  <li *ngFor="let taxon of parents$ | async">
    <a [routerLink]="['/taxon/' + taxon.id] | localize">
      <strong>
        {{ taxon.vernacularName }}
      </strong>
      <i *ngIf="taxon.cursiveName">{{ taxon.scientificName }}</i>
      <span *ngIf="!taxon.cursiveName">{{ taxon.scientificName }}</span>
    </a>
  </li>
  <li *ngIf="includeCurrent">
    <strong>
      {{ current.vernacularName }}
    </strong>
    <i *ngIf="current.cursiveName">{{ current.scientificName }}</i>
    <span *ngIf="!current.cursiveName">{{ current.scientificName }}</span>
  </li>
</ol>
