laji-taxon-occurrence-map {
  display: inline-block;
  width: 270px;
}
.taxon-occurrence-table {
  display: inline-block;
  width: calc(100% - 270px);
}

@media only screen and (max-width : 767px) {
  laji-taxon-occurrence-map {
    width: 100%;
  }
  .taxon-occurrence-table {
    width: 100%;
  }
}
