<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <laji-taxon-info-row [label]="'MX.finnish' | label">
          {{ taxon.finnish | boolToString }}
        </laji-taxon-info-row>
        <laji-taxon-info-row *ngIf="taxon.occurrenceInFinland" [label]="'taxonomy.occurrenceInFinland' | translate">
          {{ taxon.occurrenceInFinland | label }}
        </laji-taxon-info-row>
        <laji-taxon-info-row *ngIf="taxon.typeOfOccurrenceInFinland" [label]="'taxonomy.typeOfOccurrenceInFinland' | translate">
          <ul>
            <li *ngFor="let type of taxon.typeOfOccurrenceInFinland">
              {{ type | label }}
            </li>
          </ul>
        </laji-taxon-info-row>
        <laji-taxon-info-row *ngIf="taxon.occurrenceInFinlandSpecimenURI" [label]="'MX.occurrenceInFinlandSpecimenURI' | label">
          {{ taxon.occurrenceInFinlandSpecimenURI }}
        </laji-taxon-info-row>
        <laji-taxon-info-row *ngIf="taxon.occurrenceInFinlandPublications" [label]="'taxonomy.occurrenceInFinlandPublications' | translate">
          <ul>
            <li *ngFor="let publication of taxon.occurrenceInFinlandPublications">
              {{ publication | publication }}
              <br>
              <a [href]="publication | publication:'URI'" target="_blank">{{ 'taxonomy.link' | translate }}</a>
            </li>
          </ul>
        </laji-taxon-info-row>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div *ngIf="isFromMasterChecklist"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.map.finland' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <p class="disclaimer">
        {{ 'taxonomy.map.disclaimer' | translate }}
      </p>
      <laji-ykj-map
        [query]="{taxonId: [taxon.id], countryId: ['ML.206'], cache: true}"
        [height]="'600px'"
        [type]="'count'"
        [types]="['count']"
        [showFullScreenControl]="true"
        [mapOptions]="{ clickBeforeZoomAndPan: true }"
      ></laji-ykj-map>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div *ngIf="isFromMasterChecklist"
         class="panel panel-default"
         laji-panel
         [title]="'GBIF'"
         [open]="true"
         [autoToggle]="true"
    >
      <p class="disclaimer">
        {{ 'taxonomy.map.disclaimer' | translate }}
      </p>
      <laji-gbif-map
        [taxon]="taxon"
        [showFullScreenControl]="true"
        [height]="'600px'"
        [mapOptions]="{ clickBeforeZoomAndPan: true }"
      ></laji-gbif-map>
    </div>
  </div>
  <div class="col-xs-12">
    <laji-taxon-description
      [taxonDescriptions]="taxonDescription"
      [groupId]="'MX.SDVG2'"
    ></laji-taxon-description>
    <div *ngIf="hasMonthDayData !== false && isFromMasterChecklist" [hidden]="!hasMonthDayData"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.observations.monthDayChart' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-month-day-chart
        [taxonId]="taxon.id"
        (hasData)="hasMonthDayData = $event"
      ></laji-taxon-month-day-chart>
    </div>
    <div *ngIf="taxon.occurrences"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.occurrence.byArea' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-occurrence-map
        [height]="'400px'"
        [width]="'270px'"
        [occurrences]="taxon.occurrences"
      ></laji-taxon-occurrence-map>
      <laji-datatable
        class="taxon-occurrence-table"
        [height]="'400px'"
        [rows]="taxon.occurrences"
        [columns]="[
          {
            name: 'area',
            label: 'MO.area' | label,
            cellTemplate: 'biogeographicalProvince'
          },
          {
            name: 'status',
            label: 'MO.status' | label,
            cellTemplate: 'label'
          },
          {
            name: 'notes',
            label: 'MO.notes' | label
          },
          {
            name: 'year',
            label: 'MO.year' | label
          },
          {
            name: 'specimenURI',
            label: 'MO.specimenURI' | label
          }
        ]"
        [showFooter]="false"
        [virtualScrolling]="false"
        [clientSideSorting]="true"
        [count]="taxon.occurrences.length"
        [page]="1"
        [pageSize]="taxon.occurrences.length"
      ></laji-datatable>
    </div>
  </div>
</div>
