<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default" *ngIf="taxon.occurrenceInFinland || taxon.typeOfOccurrenceInFinland || taxon.occurrenceInFinlandPublications || !taxon.finnish">
      <div class="panel-body">
        <table class="table taxon-table table-condensed" *ngIf="taxon.finnish">
          <tbody>
          <tr *ngIf="taxon.occurrenceInFinland">
            <th>{{ 'taxonomy.occurrenceInFinland' | translate }}</th>
            <td>{{ taxon.occurrenceInFinland | label }}</td>
          </tr>
          <tr *ngIf="taxon.typeOfOccurrenceInFinland">
            <th>{{ 'taxonomy.typeOfOccurrenceInFinland' | translate }}</th>
            <td>
              <ul>
                <li *ngFor="let type of taxon.typeOfOccurrenceInFinland">
                  {{ type | label }}
                </li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="taxon.occurrenceInFinlandPublications">
            <th>{{ 'taxonomy.occurrenceInFinlandPublications' | translate }}</th>
            <td>
              <ul>
                <li *ngFor="let publication of taxon.occurrenceInFinlandPublications">
                  {{ publication | publication }}
                  <br>
                  <a [href]="publication | publication:'URI'" target="_blank">{{ 'taxonomy.link' | translate }}</a>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
        <p *ngIf="!taxon.finnish">{{ 'taxonomy.noOccurrenceInFinland' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default"
         laji-panel
         [title]="'taxonomy.map.finland' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <p class="disclaimer">
        {{ 'taxonomy.map.disclaimer' | translate }}
      </p>
      <laji-ykj-map
        [query]="{taxonId: [taxon.id], countryId: ['ML.206'], cache: true}"
        [height]="'600px'"
        [type]="'count'"
        [types]="['count']"
        [showFullScreenControl]="true"
      ></laji-ykj-map>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default"
         laji-panel
         [title]="'GBIF'"
         [open]="true"
         [autoToggle]="true"
    >
      <p class="disclaimer">
        {{ 'taxonomy.map.disclaimer' | translate }}
      </p>
      <laji-gbif-map
        [taxon]="taxon"
        [showFullScreenControl]="true"
        [height]="'600px'"
      ></laji-gbif-map>
    </div>
  </div>
  <div class="col-xs-12">
    <laji-taxon-description
      [taxonDescriptions]="taxonDescription"
      [groupId]="'MX.SDVG2'"
    ></laji-taxon-description>
    <div *ngIf="hasMonthDayData !== false" [hidden]="!hasMonthDayData"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.monthDayChart' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-month-day-chart
        [taxonId]="taxon.id"
        (hasData)="hasMonthDayData = $event"
      ></laji-taxon-month-day-chart>
    </div>
  </div>
</div>
