@import 'projects/laji-ui/src/lib/vars';

:host ::ng-deep .datatable-body-row.active {
  background-color: $primary-1 !important;
  &:hover {
    cursor: default;
  }
}

:host ::ng-deep .ngx-datatable.material {
  background: unset;
  background-color: $neutral-1;

  .datatable-header .datatable-header-cell {
    background-color: $neutral-1;
  }
}

:host ::ng-deep .ngx-datatable.striped .datatable-row-odd {
  background: unset;
  background-color: $neutral-2;
}

/* Workaround for ngx-datatable bug where a black bar appears on some rows
   https://github.com/swimlane/ngx-datatable/issues/1616
*/
:host ::ng-deep .datatable-body-row {
  transform: translateZ(0);
}

:host ::ng-deep .datatable-body-row.active .datatable-row-center {
  background-color: $primary-3 !important;
  &:hover {
    cursor: default;
  }
}


  :host ::ng-deep .ngx-datatable{
    overflow-y: visible;
  }

  :host ::ng-deep .lu-btn, :host ::ng-deep button.lu-btn, :host ::ng-deep a.lu-btn {
    min-width: 60px;
  }

  .buttons {
    display: inline;
    margin-right: 10px;
  }

  .buttons:nth-child(even) {
    margin-right: 0px;
  }

  .text-button {
    display: inline;
    line-height: 12px;
    margin-left: 5px;
  }



@media only screen and (min-width: 768px) {
  :host ::ng-deep .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell span {
    width: auto;
    vertical-align: middle
  }
}

:host ::ng-deep .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell span {
  display: inline-block;
}
