<details class="lu-details" open>
  <summary>Additional filters</summary>
  <div class="mb-4">
    <label for="trait-search-filters-additional-filter">Add a filter:</label>
    <select class="form-control" id="trait-search-filters-additional-filter" (change)="onSelectAdditionalFilter($event)">
      <option [value]="null">None</option>
      <option *ngFor="let filterIdx of unselectedAdditionalFilters" [value]="filterIdx">{{ additionalFilters[filterIdx].prop }}</option>
    </select>
  </div>
  <ul class="additional-filter-list" *ngFor="let filterIdx of selectedAdditionalFilters">
    <li>
      <ng-container *ngTemplateOutlet="
        { string: stringFilter, enum: enumFilter, boolean: booleanFilter }[additionalFilters[filterIdx].filterType];
        context: { $implicit: additionalFilters[filterIdx].prop, formKey: additionalFilters[filterIdx].formKey }
        "></ng-container>
      <button class="btn btn-default" (click)="onRemoveAdditionalFilter(filterIdx)">Remove</button>
    </li>
  </ul>
</details>
<ng-template #stringFilter let-prop let-formKey='formKey'>
  <div class="mb-2">
    <label [for]="'trait-search-filters-' + formKey">{{ prop }}
      <input [formControl]="form.get(formKey)" class="form-control" type="text" [id]="'trait-search-filters-' + formKey">
    </label>
  </div>
</ng-template>
<ng-template #enumFilter let-prop let-formKey='formKey'>
  <div class="mb-2">
    <label [for]="'trait-search-filters-' + formKey">{{ prop }}
      <select class="form-control" [formControl]="form.get(formKey)" class="form-control" [id]="'trait-search-filters-' + formKey">
        <option [value]="null">None</option>
        <option *ngFor="let val of additionalFiltersLookup[formKey].range" [value]="val">{{ val }}</option>
      </select>
    </label>
  </div>
</ng-template>
<ng-template #booleanFilter let-prop let-formKey='formKey'>
  <div class="mb-2">
    <label class="checkbox-inline" [for]="'trait-search-filters-' + formKey">
      <input type="checkbox" [id]="'trait-search-filters-' + formKey" [formControl]="form.get(formKey)">
      {{ prop }}
    </label>
  </div>
</ng-template>
