<details [formGroup]="form" class="lu-details my-6" open>
  <summary>Filters</summary>

  <div class="mb-5 d-flex flex-gap-4">
    <div class="dataset-filter flex-grow">
      <label for="trait-search-filters-dataset">Dataset</label>
      <select class="form-control" id="trait-search-filters-dataset" formControlName="dataset">
        <option [ngValue]="null">None</option>
        <option *ngFor="let dataset of (datasets$ | async)" [value]="dataset.id">{{ dataset.name }}</option>
      </select>
    </div>

    <div class="trait-filter flex-grow">
      <label for="trait-search-filters-trait">Trait</label>
      <select class="form-control" id="trait-search-filters-trait" formControlName="trait">
        <option [ngValue]="null">None</option>
        <option *ngFor="let trait of (traits$ | async)" [value]="trait.id">{{ trait.name }}</option>
      </select>
    </div>
  </div>

  <laji-trait-rank-filter formControlName="rank"></laji-trait-rank-filter>

  <laji-trait-search-additional-filters formControlName="additionalFilters"></laji-trait-search-additional-filters>

  <div class="d-flex flex-gap-4">
    <button (click)="onSearch()" class="btn btn-primary">Search</button>
    <button (click)="onClear()" class="btn btn-default">Clear</button>
  </div>
</details>
