@if (targetID) {
  <div class="annotation" [ngClass]="{'border': listVisible, 'no-border': !listVisible}">
    <laji-spinner [spinning]="loading"></laji-spinner>
    @if (!loading && listVisible) {
      <laji-annotation-list
        [personID]="personID"
        [annotations]="annotations"
        [lastAnnotationAddedId]="lastAnnotationAddedId"
        [annotationTags]="annotationTags"
        [effectiveTags]="activeTags"
        (remove)="onDelete($event)">
      </laji-annotation-list>
    }
  </div>
}

<div [ngClass]="{'annotation-form': formVisible, '': !formVisible}">
  @if (personRoleAnnotation === annotationRole.expert) {
    <div>
      <span class="pull-right">
        @switch (currentLang) {
          @case ('sv') {
            <a target="_blank" (click)="onManualLinkClick($event)" class="manual btn btn-sm btn-default" [routerLink]="['/about', '3928'] | localize">{{ 'vihko.home.form.trip.1' | translate}}<img src="../../../static/images/icons/icons8-user-manual-32.png"></a>
          }
          @case ('en') {
            <a target="_blank" (click)="onManualLinkClick($event)" class="manual btn btn-sm btn-default" [routerLink]="['/about', '3926'] | localize">{{ 'vihko.home.form.trip.1' | translate}}<img src="../../../static/images/icons/icons8-user-manual-32.png"></a>
          }
          @case ('fi') {
            <a target="_blank" (click)="onManualLinkClick($event)" class="manual btn btn-sm btn-default" [routerLink]="['/about', '3806'] | localize">{{ 'vihko.home.form.trip.1' | translate}}<img src="../../../static/images/icons/icons8-user-manual-32.png"></a>
          }
        }
      </span>
      @if (expert) {
        <span class="comment-title" >
          {{ 'annotation.addAnnotationExpert' | translate }}
        </span>
      } @else {
        <span class="comment-title">{{ 'annotation.addBasicAnnotation' | translate }} </span>
      }
    </div>
    <span *lajiLoggedIn="true">
      @if (expert) {
        <span class="switch-mode" (click)="changeModeForm()" tabindex="0" role="button" luKeyboardClickable>{{ 'annotation.switchToBasic' | translate }}</span>
      } @else {
        <span class="switch-mode expert" (click)="changeModeForm()" tabindex="0" role="button" luKeyboardClickable>{{ 'annotation.switchToExpert' | translate }}</span>
      }
    </span>
  } @else {
    @if (formVisible) {
      <span class="comment-title">
        {{ 'annotation.addAnAnnotation' | translate }}
      </span>
    } @else {
      <div class="annotations-normal-document">
        <div class="header">
          <button type="button" class="close" (click)="annotationsClose.emit()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <h4>
            <span class="comment-title">
              {{ 'annotation.title' | translate }}
            </span>
            <span *lajiLoggedIn="true" class="comment-title">
              <button class="btn btn-xs btn-success" (click)="showDocument()"><i class="glyphicon glyphicon-plus"></i></button>
            </span>
          </h4>
        </div>
        <div *lajiLoggedIn="false">
          {{ 'force.login' | translate }}
        </div>
      </div>
    }
  }

  <laji-spinner [spinning]="loading"></laji-spinner>
  <laji-annotation-form-new #formAnnotation
    [identifying]="identifying"
    [annotations]="annotations"
    [annotation]="annotation"
    [personID]="personID"
    [personRoleAnnotation]="personRoleAnnotation"
    [isEditor]="isEditor"
    [expert]="expert"
    [unit]="unit"
    [visible]="formVisible"
    [hidden]="loading"
    (save)="onSuccess($event)"
    (loading)="onLoading($event)"
    (annotationCancel)="closeAddForm()"
  ></laji-annotation-form-new>
</div>
