@import 'projects/laji-ui/src/lib/vars';

a {
  cursor: pointer;
}

.annotations-normal-document {
  background-color: #efefef;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 5px;
}

.annotation {
  padding: 5px 0px 0 0px;
  position: relative;
}

.border {
  border-bottom: 1px solid #b2b2b2;
}

.no-border {
  background: transparent;
  padding: 5px 10px 0;
  border: 0;
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}

.close {
  font-size: 16px;
}
.header {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 -5px;
  padding: 0 5px;
  height: 30px;
}

.comment-title {
  font-weight: bold;
  font-size:20px;
  display: block;
  line-height: 20px;
  width: 90%;
}

.switch-mode {
  color: #3498DB;
  cursor: pointer;
}

.annotation-form {
  margin-top: 30px;
  background: $neutral-3;
  padding: 10px;
  border: 1px solid $neutral-4;
  position: relative;
}

a.manual {
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
}

a.manual img {
  width: 20px;
}

hr {
  border-top: 2px solid #eee;
}

@media only screen and (max-width: 1600px) {

  .switch-mode {
    display: block;
    margin-bottom: 10px;
  }
}

