@if (showLabels) {
  @if (re) {
    <span
      class="possible-re"
    >● &ndash; {{ 'MKV.possiblyRE' | translate }}</span>
  }
  @if (mark) {
    <span
    >{{ mark }} &ndash; {{ _evaluation.externalPopulationImpactOnRedListStatus ?? '' | translate }}</span>
  }
} @else {
  @if (re) {
    <span
      [luTooltip]="'MKV.possiblyRE' | translate"
      class="possible-re"
    >●</span>
  }
  @if (mark) {
    <span
      [luTooltip]="_evaluation.externalPopulationImpactOnRedListStatus ?? '' | translate"
    >{{ mark }}</span>
  }
}
