<div class="np-info-container" [ngClass]="{'hidden': namedPlace === undefined}">
  <div class="hidden-xs hidden-sm hidden-md" #infoBox>
    <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: false}"></ng-template>
  </div>

  <div class="modal" tabindex="-1" role="dialog" bsModal #infoModal="bs-modal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <lu-button (click)="modal.hide()">
            <i class="glyphicon glyphicon-remove"></i>
          </lu-button>
        </div>
        <div class="modal-body" *ngIf="modalIsVisible">
          <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{isModal: true}"></ng-template>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <ng-template #contentTemplate let-isModal="isModal">
    <div class="np-info">
      <div class="d-flex flex-row justify-between items-end mb-4 np-info-header">
        <h3 [tooltip]="'MNP.name' | label">{{ namedPlace?.name }}</h3>
        <div *ngIf="documentForm.options?.printType || (allowEdit && editButtonVisible)">
          <span *ngIf="documentForm.options?.printType">
            <a class="btn btn-sm btn-default"
                target="_blank"
                [routerLink]="['./', namedPlace.id, 'print'] | localize">{{ documentForm.options?.namedPlaceOptions?.printLabel || 'np.print' | translate }}</a>
          </span>
          <ng-container *ngIf="allowEdit && editButtonVisible">
            <lu-button (click)="editClick()" id="np-edit">{{ 'np.edit' | translate }}</lu-button>
            <lu-button (click)="deleteClick()" [disabled]="!canDelete" id="np-delete">{{ 'np.delete' | translate }}<laji-info *ngIf="!canDelete" [noShow]="true" [tooltip]="'np.delete.disabled.hasDocs' | translate"></laji-info></lu-button>
          </ng-container>
        </div>
      </div>
      <fieldset>
        <laji-np-info-map [visible]="(isModal && modalIsVisible) || infoBox?.nativeElement?.offsetParent !== null"
                          [namedPlace]="namedPlace"></laji-np-info-map>
        <ng-container *ngFor="let i of listItems">
          <laji-np-info-row class="d-block mb-3" [title]="i.title" [value]="i.value" [pipe]="i.pipe"></laji-np-info-row>
        </ng-container>
        <ng-container *ngIf="namedPlace?.prepopulatedDocument?.gatheringEvent?.dateBegin">
          <laji-np-info-row class="d-block mb-3" [title]="documentForm.options?.namedPlaceOptions?.lastCensusLabel || 'lastCensus' | translate" [value]="namedPlace.prepopulatedDocument.gatheringEvent.dateBegin"></laji-np-info-row>
        </ng-container>
        <div *lajiLoggedIn="false" style="margin-top: 20px;">
          <strong>
            <ng-container *ngIf="formReservable; else noReserve">
              {{ 'np.infoNoLoginReservable' | translate }}
            </ng-container>
            <ng-template #noReserve>
              {{ 'np.infoNoLogin' | translate }}
            </ng-template>
          </strong>
        </div>
        <div *lajiLoggedIn="true" class="button-container" [ngSwitch]="useButton">
          <ng-container *ngSwitchCase="'usable'">
            <div class="row-container">
              <lu-button [role]="'primary'" (click)="useClick()">{{ useLabel || documentForm.options?.namedPlaceOptions?.useLabel || 'np.defaultUse' | translate }}</lu-button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'reservedByYou'">
            <div class="row-container">
              <lu-button [disabled]="loading" (click)="useClick()">
                {{ documentForm.options?.namedPlaceOptions?.useLabel || 'np.defaultUse' | translate }}</lu-button>
              <lu-button [disabled]="loading" (click)="releaseButtonClick.emit(namedPlace)">
                {{ documentForm.options?.namedPlaceOptions?.releaseLabel || 'np.release' | translate }}</lu-button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'nouse'">
            <laji-request [collectionId]="collectionId"
                          [disableDescription]="true"
            ></laji-request>
          </ng-container>
          <ng-container *ngSwitchCase="'reservable'">
            <div class="row-container">
              <lu-button [disabled]="loading" (click)="reserveButtonClick.emit(namedPlace)">
                {{ documentForm.options?.namedPlaceOptions?.reservableLabel || 'np.reserve' | translate }}</lu-button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'reservedByOther'">
            <div class="row-container">
              <lu-button [disabled]="true">
                {{ documentForm.options?.namedPlaceOptions?.reservedLabel || 'np.reserved' | translate }}</lu-button>
              <ng-container *ngIf="formRights.admin">
                <div class="key">
                  <strong>Varauksen omistaja:</strong>
                </div>
                <div class="value">
                  {{ namedPlace.reserve.reserver | label }}
                </div>
                <lu-button [disabled]="loading" (click)="releaseButtonClick.emit(namedPlace)">
                  {{ documentForm.options?.namedPlaceOptions?.releaseLabel || 'np.release' | translate }} (admin)</lu-button>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div *ngIf="formRights.admin && documentForm.options?.namedPlaceOptions?.adminShowCopyLink" class="button-container">
          <div class="row-container">
            <lu-button (click)="copyLink()">{{ 'np.copyAddress' | translate }}</lu-button>
          </div>
	      </div>
      </fieldset>
      <div class="own-submissions-container" *lajiLoggedIn="true">
        <strong>{{
		        formRights.admin
		          ? documentForm.options?.namedPlaceOptions?.earlierLabel || ('np.earlier' | translate)
		          : documentForm.options?.namedPlaceOptions?.myEarlierLabel || ('np.myEarlier' | translate)
          }}</strong>:
        <laji-own-submissions
          [actions]="formRights.admin ? ['edit', 'view', 'delete'] : ['edit', 'view']"
          [columns]="['dateObserved', 'observer', 'dateEdited']"
          [columnNameMapping]="documentForm?.options?.namedPlaceOptions?.listColumnNameMapping"
          [collectionID]="documentForm.collectionID"
          [formID]="documentForm.id"
          [namedPlace]="namedPlace.id"
          [showDownloadAll]="false"
          [admin]="formRights.admin"
          [forceLocalDocument]="useLocalDocumentViewer"
          (documentsLoaded)="onDocumentsLoaded($event)"
        ></laji-own-submissions>
      </div>
    </div>
  </ng-template>
</div>
