.resent-map {
  padding: 6px;
}

.resent-map iframe {
  width: 100%;
  height: 279px;
  border: 0;
}

.searchBar {
  height: 63px;
  background-color: #2C3E50;
  padding-top: 14px;
}

.panel-body .btn {
  margin-top: 30px;
} 

@media only screen and (min-width : 768px) {
  #wrapper {
    display: flex;
  } 
}
