:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

.forum, .forum:hover, .forum:visited, .forum:active {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.resent-map {
  padding: 6px;
  position: relative;
}
.resent-map-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.searchBar {
  height: 63px;
  background-color: #2C3E50;
  padding-top: 14px;
}

.panel-body .btn {
  margin-top: 30px;
}

.some-links {
  position: relative;
  padding-top: 5px;
}

.some-links a {
  padding-left: 5px;
}
.some-links a svg {
  height: 20px;
  width: 20px;
}

@media only screen and (min-width : 768px) {
  #wrapper {
    display: flex;
  }
}

.intro {
  padding-bottom: 150px;
}
