<div class="laji-news">
  <laji-image-header></laji-image-header>
  <div class="searchBar">
    <div class="container">
      <div class="col-sm-8">
        <div class="row">
          <laji-omni-search [placeholder]="'search-bar.input' | translate"
                            [lang]="translate.currentLang"></laji-omni-search>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>{{ 'home.main-page.title' | translate }}</h1>
        <p>{{ 'home.main-page.text' | translate }}</p>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <laji-navigation-thumbnail [name]="'navigation.taxonomy'" [icon]="'glyphicon-tree-conifer'"
                                             [path]="'taxonomy'"></laji-navigation-thumbnail>
                  <laji-navigation-thumbnail [name]="'navigation.observation'" [icon]="'glyphicon-blackboard'"
                                             [path]="'observation'"></laji-navigation-thumbnail>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div style="height: 170px;" class="panel panel-default">
                      <div class="panel-heading">
                        <a routerLink="/haseka">
                          <h3 class="panel-title">{{ 'haseka.title' | translate }}</h3>
                        </a>
                      </div>
                      <div class="panel-body">
                        <form>
                          <div class="form-group">
                            <label for="hasekaInput">{{ 'haseka.slogan' | translate }}</label>
                            <input type="text" class="form-control" id="hasekaInput" [placeholder]="'result.unit.taxonVerbatim' | translate"/>
                          </div>
                          <button type="submit" class="btn btn-default pull-right">{{ 'haseka.button' | translate }}</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body resent-map">
                <laji-observation-map [height]="280" [initWithWorldMap]="true" [showItemsWhenLessThan]="500" [draw]="false" [query]="{time:'-1/0', finnish: true}"></laji-observation-map>
              </div>
              <div class="panel-footer">
                <h2 class="panel-title">{{ 'home.main-page.recent' | translate }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="news-panel">
          <laji-news-list></laji-news-list>
        </div>
        <div>
          <!--<Sponsors /> -->
        </div>
      </div>
    </div>
  </div>
</div>
