<ng-container *lajiBrowserOnly>
  @for (news of technicalNews; track news) {
    <div class="news-article my-4">
      @if (news.id) {
        @if (absoluteLink) {
          <a class="technical-news-link" [href]="absoluteLink + '/news/' + news.id" target="_blank">
            {{ news.title }} <span class="glyphicon glyphicon-link"></span>
          </a>
        } @else {
          <a class="technical-news-link" [routerLink]="['/news', news.id]">{{ news.title }}</a>
        }
      } @else {
        <span class="error" [innerHTML]="'technicalNews.error' | translate"></span>
      }
    </div>
  }
</ng-container>
