<div class="tree-wrapper">
  <laji-tree
    [activeId]="activeId"
    [getData]="getDataFunc"
    [getChildren]="getChildrenFunc"
    [getParents]="getParentsFunc"
    [skipParams]="skipParams"
  >
    <ng-template #label let-value="value">
      <a *ngIf="value.id !== activeId" [routerLink]="'/taxon/' + value.id + (activeTab === 'overview' ? '' : '/' + activeTab) | localize" [queryParams]="{context: null}" [queryParamsHandling]="'merge'">
        <ng-container *ngTemplateOutlet="labelContent"></ng-container>
      </a>
      <strong *ngIf="value.id === activeId">
        <ng-container *ngTemplateOutlet="labelContent"></ng-container>
      </strong>
      <ng-template #labelContent>
        <laji-taxon-name [taxon]="value" [addLink]="false" [showScientificNameFirst]="true"></laji-taxon-name>
      </ng-template>
    </ng-template>
  </laji-tree>
</div>
<div class="show-main-levels-wrapper">
  <label>
    <input
      type="checkbox"
      [(ngModel)]="showMainLevels"
      (ngModelChange)="setSkipParams()"
      name="showMainLevels"
    >
    {{ 'species.tree.showMainLevels' | translate }}
  </label>
  <laji-info [placement]="'right'">{{ 'species.tree.info.showMainLevels' | translate }}</laji-info>
</div>
