.form-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-list li {
  font-size: 12px;
  margin: 0 15px 15px 0;
  display: inline-block;
}

.description {
  color: black;
}

.ribbon-wrapper, .ribbon-wrapper a {
  vertical-align: top;
}
.ribbon-wrapper .survey-box {
  overflow: hidden;
}
.corner-ribbon{
  width: 200px;
  background: #3c9cdd;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 15px;
}
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ribbon-wrapper, .ribbon-wrapper a {
  vertical-align: top;
}
.ribbon-wrapper .survey-box {
  overflow: hidden;
}
.corner-ribbon{
  width: 200px;
  background: #3c9cdd;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 15px;
}
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
