<h3>{{ title }}</h3>
<ul class="form-list">
  <li *ngFor="let form of formList; trackBy: trackForm">
    <laji-survey-box [form]="form"></laji-survey-box>
  </li>
  <li *ngIf="showWaterbirdComingSoonBox" class="ribbon-wrapper">
    <a href="https://laji.fi/news/3617">
      <div class="survey-box">
        <div class="corner-ribbon top-right">
          {{ 'haseka.forms.comingSoon' | translate }}
        </div>
        <div class="survey-title">
          {{ 'navigation.waterbird' | translate }}
        </div>
      </div>
    </a>
  </li>
  <li *ngIf="category === 'MHL.categoryBirdMonitoringSchemes'" class="ribbon-wrapper">
    <a href="https://laji.fi/news/3617">
      <div class="survey-box">
        <div class="corner-ribbon top-right">
          {{ 'haseka.forms.comingSoon' | translate }}
        </div>
        <div class="survey-title">
          {{ 'navigation.waterbird' | translate }}
        </div>
      </div>
    </a>
  </li>
</ul>
