<div class="taxon-select-bar">
  <laji-taxon-select
    [placeholder]="'taxonomy.card.search' | translate"
    [container]="'laji-taxonomy'"
    (taxonIdChange)="taxonSelect.emit($event)"
  ></laji-taxon-select>
</div>

<div class="d-flex items-end flex-wrap my-3 mx-5">
  <laji-spinner class="parents-spinner" [spinning]="loadingParent" *ngFor="let parents of parent">
    <div *ngIf="parents.taxonRank==='MX.kingdom' || parents.taxonRank==='MX.phylum' || parents.taxonRank==='MX.order' || parents.taxonRank==='MX.class' || parents.taxonRank==='MX.family' || parents.taxonRank==='MX.genus'">
      <a *ngIf="!loadingParent && parents && taxon.hasParent" [routerLink]="'/taxon/' + parents.id + (activeTab === 'overview' ? '' : '/' + activeTab) | localize" [queryParams]="{context: null}" [queryParamsHandling]="'merge'">
        <laji-taxon-name [taxon]="parents" [capitalizeName]="true" [addLink]="false"></laji-taxon-name>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </div>
  </laji-spinner>
  <div *ngIf="taxon.hasParent || taxon.hasChildren">
    <select class="form-control input-sm" [ngModel]="taxon.id" (ngModelChange)="taxonSelect.emit($event)">
      <option *ngFor="let sibling of siblings" [value]="sibling.id">
        {{ sibling.vernacularName | multiLang:false | capitalize }}
        <ng-container *ngIf="(sibling.vernacularName | multiLang:false ) && sibling.scientificName">
          &ndash;
        </ng-container>
        {{ sibling.scientificName }}
      </option>
    </select>
  </div>
</div>

<h1 class="d-block mx-5">
  <laji-taxon-name [taxon]="taxon" [capitalizeName]="true" [addLink]="false" [hideObsoleteVernacularName]="true"></laji-taxon-name>
</h1>
