<div class="d-flex justify-between">
  <h2 class="ml-5">Suurruutu {{ index }}</h2>
</div>
<div class="lappi-modal-container">
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="cols"
    [sorts]="[{ prop: 'coordinates', dir: 'asc' }]"
  ></ngx-datatable>
</div>
<ng-template #YKJ let-row="row">
  <a [routerLink]="'/grid/'+ row.coordinates" (click)="onLinkClick()">{{ row.coordinates }}</a>
</ng-template>
<ng-template #alignRight let-value="value">
  <div style="text-align: right;">{{ value }}</div>
</ng-template>
