<div class="d-flex flex-row flex-wrap">
  <div class="map mr-4" #lajiMap></div>

  <div> <!-- sidebar -->
    <ba-visualization-legend *ngIf="visualization === 'speciesCount'" [visualization]="visualization"></ba-visualization-legend>
    <ba-grid-index-map-table *ngIf="visualization === 'activityCategory'" [activityCounts]="[10, 20, 4, 5, 1, 3]"></ba-grid-index-map-table>
    <hr>
    <ba-visualization-selector [visualization]="visualization" (visualizationChange)="onVisualizationChange($event)"></ba-visualization-selector>
  </div>
</div>
