<div [hidden]="!visible" class="gathering">
  <laji-issues [data]="gathering"></laji-issues>
  <laji-gathering-rows [gathering]="gathering"></laji-gathering-rows>
  <laji-facts [show]="showFacts" [facts]="gathering.facts | factNotIn:['http://tun.fi/MY.namedPlaceID']"></laji-facts>
  <ng-container *ngFor="let unit of gathering?.units">
    <ng-container *ngIf="(unit.unitId === highlight && showOnlyHighlightedUnit) || !showOnlyHighlightedUnit">
      <laji-unit [identifying]="identifying" [openAnnotation]="openAnnotation" [showFacts]="showFacts" [editors]="editors" [personID]="personID" [documentID]="documentID" [unit]="unit" [highlight]="highlight"></laji-unit>
    </ng-container>
  </ng-container>
  <laji-row [showWithoutValue]="true" *ngIf="showOnlyHighlightedUnit && unitCnt > 1">
    <button type="button" (click)="showAllUnits.emit()" class="btn btn-default btn-sm all-units-btn">
      {{ 'viewer.otherUnits' | translate:{cnt: unitCnt - 1} }}
    </button>
  </laji-row>
</div>
