@import '../../../../../../../../laji-ui/src/lib/vars';

:host ::ng-deep typeahead-container.dropdown {
  margin-left: 0;
}

:host {
  display: flex;

  .continent-select {
    width: auto;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .species-select {
    flex-grow: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
