<div class="form-footer" *ngIf="_admin || (_form && !_locked)">
  <div class="row">
    <div class="col-xs-3 col-sm-2" *ngIf="show.save">
      <div class="lock-button" *ngIf="_admin">
        <ng-container *ngIf="_locked; else open">
          <button type="button" class="btn btn-danger" (click)="onLock.emit(false)"><i class="fa fa-lock"></i></button>
        </ng-container>
        <ng-template #open>
          <button type="button" class="btn btn-success" (click)="onLock.emit(true)"><i class="fa fa-unlock"></i></button>
        </ng-template>
      </div>
      <button class="btn btn-success btn-sm" [disabled]="saving" type="submit" (click)="onSubmitPublic.emit()">{{buttonLabel('save') | translate}}</button>
    </div>
    <div [ngClass]="{'col-xs-3 col-sm-2': show.save, 'col-xs-5 col-sm-3': !show.save}">
      <button *ngIf="show.temp" class="btn btn-warning btn-sm" [disabled]="saving" type="submit" (click)="onSubmitPrivate.emit()">{{buttonLabel('temp') | translate}}</button>
    </div>
    <div class="col-xs-3 col-sm-6 info" [ngSwitch]="status">
      <div *ngSwitchCase="'success'" class="success status">
        {{'haseka.form.success'|translate}}
      </div>
      <div *ngSwitchCase="'error'" class="error status">
        {{'haseka.form.error' | translate}}
      </div>
      <div *ngSwitchCase="'unsaved'" class="unsaved status hidden-xs hidden-sm">
          <span *ngIf="_form.formData.dateEdited">
            {{'haseka.form.unsaved' | translate:{saveTime: _form.formData.dateEdited | amDateFormat:'DD.MM.YYYY HH:mm'} }}
          </span>
        <span *ngIf="!_form.formData.dateEdited">
            {{'haseka.form.unsavedNever' | translate}}
          </span>
        <span class="pull-right">

        </span>
      </div>
    </div>
    <div [ngClass]="{'col-xs-3 col-sm-2': show.save, 'col-xs-4 col-sm-3': !show.save}">
      <button *ngIf="show.cancel" class="btn btn-danger btn-sm pull-right" [disabled]="saving" type="submit" (click)="onCancel.emit()">{{buttonLabel('cancel') | translate}}</button>
    </div>
  </div>
</div>
