<div class='form-footer' *ngIf="_admin || (_form && !_locked)">
  <div class="lock-button" *ngIf="_admin && _locked !== undefined">
    <ng-container *ngIf="_locked; else open">
      <button type="button" [disabled]="saving" class="btn btn-danger btn-sm" (click)="lock.emit(false)"><i class="fa fa-lock"></i></button>
    </ng-container>
    <ng-template #open>
      <button type="button" [disabled]="saving" class="btn btn-success btn-sm" (click)="lock.emit(true)"><i class="fa fa-unlock"></i></button>
    </ng-template>
  </div>
  <button *ngIf="show.save" class="btn btn-success btn-sm" [disabled]="saving || this.hasOnlyWarnings" type="submit" (click)="submitPublic.emit()">{{ buttonLabel('save') | translate }}</button>
  <button *ngIf="show.temp" class="btn btn-warning btn-sm" [disabled]="saving || this.hasOnlyWarnings" type="submit" (click)="submitPrivate.emit()">{{ buttonLabel('temp') | translate }}</button>
  <div [ngSwitch]="status" class="fill-space status">
    <div *ngSwitchCase="'success'" class="success">
      {{ 'haseka.form.success' | translate }}
    </div>
    <div *ngSwitchCase="'error'" class="error">
      {{ 'haseka.form.error' | translate }}
    </div>
    <div *ngSwitchCase="'unsaved'" class="unsaved hidden-xs hidden-sm">
      <ng-container *ngIf="_form.formData && _form.formData.dateEdited; else unsaved">
        {{ 'haseka.form.unsaved' | translate:{saveTime: _form.formData.dateEdited | amDateFormat:'DD.MM.YYYY HH:mm'} }}
      </ng-container>
      <ng-template #unsaved>
        {{ 'haseka.form.unsavedNever' | translate }}
      </ng-template>
    </div>
    <button *ngIf="hasOnlyWarnings" type="button" class="btn btn-link" (click)="highlightErrorContainer()" style="color: white;">
      {{ 'haseka.form.hasOnlyWarnings' | translate }}
    </button>
    <span *ngIf="readonly === readonlyStates.noEdit">
        {{ 'haseka.form.readonly' | translate }}
    </span>
  </div>
  <button *ngIf="show.cancel" class="btn btn-danger btn-sm pull-right" [disabled]="saving" type="submit" (click)="cancel.emit()">{{ buttonLabel('cancel') | translate }}</button>
  <laji-feedback *ngIf="displayFeedback" [iconOnly]="true" [fixed]="false"></laji-feedback>
</div>
