::ng-deep .taxon-table {
  margin-bottom: 0;
}
::ng-deep .taxon-table tr:first-child th, ::ng-deep .taxon-table tr:first-child td {
  border-top: none;
}

::ng-deep .taxon-table ul {
  padding-left: 20px;
  margin-left: 0;
}
::ng-deep .browse-button {
  margin-bottom: 20px;
}
::ng-deep .container {
  max-width: 100%;
}
