::ng-deep .taxon-table tr:first-child th, ::ng-deep .taxon-table tr:first-child td {
  border-top: none;
}

::ng-deep .taxon-table ul {
  padding-left: 20px;
  margin-left: 0;
}

.info-card {

}
.taxon-parent {
  margin-top: 10px;
  display: inline-block;
}
.taxon-name-header {
  margin-top: 5px;
  margin-right: 15px;
  display: inline-block;
}
.sibling-select-container {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px 10px 0;
}
.sibling-select-container select {
  display: inline-block;
  width: 200px;
}
.omni-search-container {
  margin: 10px 0 10px 10px;
}
