<div class="container info-card" style="width: auto" *ngIf="taxon">
  <div class="info-card-header">
    <laji-spinner [spinning]="loadingParent">
      <div class="taxon-parent">
        <a *ngIf="!loadingParent && parent" [routerLink]="'/taxon/' + parent.id + (activeTab === 'overview' ? '' : '/' + activeTab) | localize" [queryParams]="{context: null}" [queryParamsHandling]="'merge'">
          <laji-taxon-name [taxon]="parent" [addLink]="false"></laji-taxon-name>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
      </div>
    </laji-spinner>
    <div class="omni-search-container pull-right">
      <laji-taxon-select
        [placeholder]="'taxonomy.card.search' | translate"
        (taxonIdChange)="updateRoute($event)"
      ></laji-taxon-select>
    </div>
    <div>
      <h1 class="taxon-name-header">
        <laji-taxon-name [taxon]="taxon" [addLink]="false"></laji-taxon-name>
      </h1>
      <div class="sibling-select-container">
        <a (click)="selectLeftSibling()" class="link arrow-link arrow-link-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <select class="form-control input-sm" [ngModel]="taxon.id" (ngModelChange)="updateRoute($event)">
          <option *ngFor="let sibling of siblings" [value]="sibling.id">
            <laji-taxon-name [taxon]="sibling" [addLink]="false"></laji-taxon-name>
          </option>
        </select>
        <a (click)="selectRightSibling()" class="link arrow-link arrow-link-right"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>

  <ul style="margin: 25px 0 20px 0; clear: both" class="nav nav-tabs nav-justified">
    <li role="presentation"  [ngClass]="{active: activeTab === 'overview'}">
      <a [routerLink]="['/taxon', taxon.id] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.overview" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'images'}" *ngIf="hasImageData">
      <a [routerLink]="['/taxon', taxon.id, 'images'] | localize" [queryParamsHandling]="'preserve'">
        {{ "species.images" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'biology'}" *ngIf="hasBiologyData">
      <a [routerLink]="['/taxon', taxon.id, 'biology'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.biology" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'taxonomy'}">
      <a [routerLink]="['/taxon', taxon.id, 'taxonomy'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.taxonomy" | translate }}
      </a>
    </li>
    <!--li role="presentation" [ngClass]="{active: activeTab === 'occurrence'}">
      <a [routerLink]="['/taxon', taxonId, 'occurrence']" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.occurrence" | translate }}
      </a>
    </li-->
  </ul>

  <laji-taxon-overview [hidden]="activeTab !== 'overview'"
                       *ngIf="activatedTabs['overview']"
                       [taxon]="taxon"
                       [isFromMasterChecklist]="isFromMasterChecklist"
                       [taxonDescription]="taxonDescription"
                       [images]="images"
                       (taxonSelect)="updateRoute($event)"
  ></laji-taxon-overview>
  <laji-taxon-images [hidden]="activeTab !== 'images'"
                     *ngIf="activatedTabs['images'] && hasImageData"
                     [taxon]="taxon"
                     [taxonImages]="taxonImages"
                     [isFromMasterChecklist]="isFromMasterChecklist"
  ></laji-taxon-images>
  <laji-taxon-biology [hidden]="activeTab !== 'biology'"
                      *ngIf="activatedTabs['biology'] && hasBiologyData"
                      [taxon]="taxon"
                      [taxonDescription]="taxonDescription"
                      [context]="context"
                      (contextChange)="updateRoute(taxon.id, activeTab, $event)"
  ></laji-taxon-biology>
  <laji-taxon-taxonomy [hidden]="activeTab !== 'taxonomy'"
                       *ngIf="activatedTabs['taxonomy']"
                       [taxon]="taxon"
                       [taxonDescription]="taxonDescription"
  ></laji-taxon-taxonomy>
  <!--laji-taxon-occurrence [hidden]="activeTab !== 'occurrence'"
                         *ngIf="activatedTabs['occurrence']"
                         [taxon]="taxon"
  ></laji-taxon-occurrence-->
</div>

