<div class="container info-card" style="width: auto" *ngIf="taxon">
  <laji-info-card-header
    [taxon]="taxon"
    [activeTab]="activeTab"
    (taxonSelect)="updateRoute($event)"
  ></laji-info-card-header>

  <ul style="margin: 25px 0 20px 0; clear: both" class="nav nav-tabs nav-justified">
    <li role="presentation"  [ngClass]="{active: activeTab === 'overview'}">
      <a [routerLink]="['/taxon', taxon.id] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.overview" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'images'}" *ngIf="hasImageData">
      <a [routerLink]="['/taxon', taxon.id, 'images'] | localize" [queryParamsHandling]="'preserve'">
        {{ "species.images" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'biology'}" *ngIf="hasBiologyData">
      <a [routerLink]="['/taxon', taxon.id, 'biology'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.biology" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'taxonomy'}">
      <a [routerLink]="['/taxon', taxon.id, 'taxonomy'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.taxonomy" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'occurrence'}" *ngIf="isFromMasterChecklist">
      <a [routerLink]="['/taxon', taxon.id, 'occurrence'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.occurrence" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'observations'}" *ngIf="isFromMasterChecklist">
      <a [routerLink]="['/taxon', taxon.id, 'observations'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.observations" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'specimens'}">
      <a [routerLink]="['/taxon', taxon.id, 'specimens'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.specimens" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'endangerment'}" *ngIf="isEndangered">
      <a [routerLink]="['/taxon', taxon.id, 'endangerment'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.endangerment" | translate }}
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: activeTab === 'invasive'}" *ngIf="taxon.invasiveSpecies">
      <a [routerLink]="['/taxon', taxon.id, 'invasive'] | localize" [queryParamsHandling]="'preserve'">
        {{ "taxonomy.invasive" | translate }}
      </a>
    </li>
  </ul>

  <laji-taxon-overview
    [hidden]="activeTab !== 'overview'"
    *ngIf="activatedTabs['overview']"
    [taxon]="taxon"
    [isFromMasterChecklist]="isFromMasterChecklist"
    [taxonDescription]="taxonDescription"
    [images]="images"
    (taxonSelect)="updateRoute($event)"
  ></laji-taxon-overview>
  <laji-taxon-images
    [hidden]="activeTab !== 'images'"
    *ngIf="activatedTabs['images'] && hasImageData"
    [taxon]="taxon"
    [taxonImages]="taxonImages"
    [isFromMasterChecklist]="isFromMasterChecklist"
  ></laji-taxon-images>
  <laji-taxon-biology
    [hidden]="activeTab !== 'biology'"
    *ngIf="activatedTabs['biology'] && hasBiologyData"
    [taxon]="taxon"
    [taxonDescription]="taxonDescription"
    [context]="context"
    (contextChange)="updateRoute(taxon.id, activeTab, $event)"
  ></laji-taxon-biology>
  <laji-taxon-taxonomy
    [hidden]="activeTab !== 'taxonomy'"
    *ngIf="activatedTabs['taxonomy']"
    [taxon]="taxon"
    [taxonDescription]="taxonDescription"
  ></laji-taxon-taxonomy>
  <laji-taxon-occurrence
    [hidden]="activeTab !== 'occurrence'"
    *ngIf="activatedTabs['occurrence'] && isFromMasterChecklist"
    [taxon]="taxon"
    [taxonDescription]="taxonDescription"
  ></laji-taxon-occurrence>
  <laji-taxon-observations
    [hidden]="activeTab !== 'observations'"
    *ngIf="activatedTabs['observations'] && isFromMasterChecklist"
    [taxon]="taxon"
  ></laji-taxon-observations>
  <laji-taxon-specimens
    [hidden]="activeTab !== 'specimens'"
    *ngIf="activatedTabs['specimens']"
    [taxon]="taxon"
  ></laji-taxon-specimens>
  <laji-taxon-endangerment
    [hidden]="activeTab !== 'endangerment'"
    *ngIf="activatedTabs['endangerment'] && isEndangered"
  ></laji-taxon-endangerment>
  <laji-taxon-invasive
    [hidden]="activeTab !== 'invasive'"
    *ngIf="activatedTabs['invasive'] && taxon.invasiveSpecies"
  ></laji-taxon-invasive>
</div>

