<laji-spinner [spinning]="loading" [overlay]="true">
  <div class="container info-card" style="width: auto" *ngIf="taxon">
    <h1 class="taxon-name-header">
      <laji-taxon-name [taxon]="taxon" [addLink]="false"></laji-taxon-name>
    </h1>
    <div class="omni-search-container pull-right">
      <laji-taxon-select
        [placeholder]="'taxonomy.card.search' | translate"
        (taxonIdChange)="updateRoute($event)"
      ></laji-taxon-select>
    </div>

    <ul style="margin: 25px 0 20px 0; clear: both" class="nav nav-tabs nav-justified">
      <li role="presentation"  [ngClass]="{active: activeTab === 'overview'}">
        <a [routerLink]="['/taxon', taxonId]" [queryParamsHandling]="'preserve'">
          {{ "taxonomy.overview" | translate }}
        </a>
      </li>
      <li role="presentation" [ngClass]="{active: activeTab === 'images'}" *ngIf="hasImageData">
        <a [routerLink]="['/taxon', taxonId, 'images']" [queryParamsHandling]="'preserve'">
          {{ "species.images" | translate }}
        </a>
      </li>
      <li role="presentation" [ngClass]="{active: activeTab === 'biology'}" *ngIf="hasBiologyData">
        <a [routerLink]="['/taxon', taxonId, 'biology']" [queryParamsHandling]="'preserve'">
          {{ "taxonomy.biology" | translate }}
        </a>
      </li>
      <li role="presentation" [ngClass]="{active: activeTab === 'taxonomy'}">
        <a [routerLink]="['/taxon', taxonId, 'taxonomy']" [queryParamsHandling]="'preserve'">
          {{ "taxonomy.taxonomy" | translate }}
        </a>
      </li>
      <!--li role="presentation" [ngClass]="{active: activeTab === 'occurrence'}">
        <a [routerLink]="['/taxon', taxonId, 'occurrence']" [queryParamsHandling]="'preserve'">
          {{ "taxonomy.occurrence" | translate }}
        </a>
      </li-->
    </ul>

    <laji-taxon-overview [hidden]="activeTab !== 'overview'"
                         *ngIf="activatedTabs['overview']"
                         [taxon]="taxon"
                         [taxonDescription]="taxonDescription"
                         [images]="images"
                         (taxonSelect)="updateRoute($event)"
    ></laji-taxon-overview>
    <laji-taxon-images [hidden]="activeTab !== 'images'"
                       *ngIf="activatedTabs['images'] && hasImageData"
                       [taxon]="taxon"
                       [taxonImages]="taxonImages"
    ></laji-taxon-images>
    <laji-taxon-biology [hidden]="activeTab !== 'biology'"
                        *ngIf="activatedTabs['biology'] && hasBiologyData"
                        [taxon]="taxon"
                        [taxonDescription]="taxonDescription"
                        [context]="context"
                        (contextChange)="updateRoute(taxonId, activeTab, $event)"
    ></laji-taxon-biology>
    <laji-taxon-taxonomy [hidden]="activeTab !== 'taxonomy'"
                         *ngIf="activatedTabs['taxonomy']"
                         [taxon]="taxon"
                         [taxonDescription]="taxonDescription"
    ></laji-taxon-taxonomy>
    <!--laji-taxon-occurrence [hidden]="activeTab !== 'occurrence'"
                           *ngIf="activatedTabs['occurrence']"
                           [taxon]="taxon"
    ></laji-taxon-occurrence-->
  </div>
  <div class="container" *ngIf="taxon === false">
    <h1>
      {{ 'taxonomy.notFound' | translate }}
    </h1>
  </div>
</laji-spinner>
