<ngx-datatable
  [style.height]="'calc(70vh - 30px)'"
  class='material striped laji-datatable'
  [messages]="{ emptyMessage: '', totalMessage: '' }"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [rows]="rows"
  [columns]="_columns"
  [headerHeight]="38"
  [rowClass]="rowClass"
  (resize)="onResize($event)"
  (activate)="onRowSelect($event)">
</ngx-datatable>

<ng-template let-row="row" let-column="column" let-value="value" #expander>
  <span [ngStyle]="{'padding-left': (10 * row.state.level) + 'px'}">
    <span *ngIf="row.state.level !== 0"
          class="tree-side-line"
          [ngClass]="{'first-child': row.state.isFirstChild}"
          [ngStyle]="{'left': (10 * row.state.level + 7) + 'px'}"></span>
    <i class="glyphicon glyphicon-triangle-right"
       [ngStyle]="{visibility: row.node.hasChildren ? 'visible' : 'hidden'}"
       *ngIf="!row.state.isExpanded"></i>
    <laji-spinner *ngIf="row.state.isExpanded && row.state.isLoading"></laji-spinner>
    <i class="glyphicon glyphicon-triangle-bottom" *ngIf="row.state.isExpanded && !row.state.isLoading"></i>
    <span class="inline">
      <ng-container *ngIf="expanderLabelTpl; else defaultExpanderLabel">
        <ng-container *ngTemplateOutlet="expanderLabelTpl; context: {'row': row, 'column': column, 'value': value}"></ng-container>
      </ng-container>
      <ng-template #defaultExpanderLabel>
          <span *ngIf="value" title="{{value}}">{{value}}</span>
      </ng-template>
    </span>
  </span>
</ng-template>

<laji-datatable-templates #datatableTemplates></laji-datatable-templates>
