<!--{{ audio.dateTime | amDateFormat:'DD.MM.YYYY HH:mm' }}
{{ audio.municipality }}
<a class="map-marker" *ngIf="audio?.geometry" (click)="openModal()">
  <i class="fa fa-map-marker" [ngStyle]="{'color': mapPointerColor}"></i>
</a>
<laji-info [html]="'theme.kerttu.info.audioInfo' | translate"></laji-info-->
<lu-button (click)="openModal()"><i class="fa fa-map-marker"></i> Tietoa</lu-button>

<ng-template #mapModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="closeModal()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
    <h4 class="modal-title">{{ audio.dateTime | amDateFormat:'DD.MM.YYYY HH:mm' }} {{ audio.municipality }}</h4>
  </div>
  <div class="modal-body">
    <div class="map-wrap">
      <laji-audio-info-map [geometry]="audio.geometry" [color]="mapPointerColor"></laji-audio-info-map>
    </div>
  </div>
</ng-template>
