<form id="wrapper" *ngIf="vm$ | async; let vm">
  <div class="row">
    <div *ngIf="!showMobile && !statusFilterMobile" class="close-filters-mobile"><div (click)="toggleMobile()"><label>{{ 'search.result.'+_activeTab | translate }}</label><i class="glyphicon glyphicon-arrow-right"></i></div></div>
    <div *ngIf="showMobile || (!statusFilterMobile && !showMobile)" class="form-filters"
         [ngClass]="{'col-sm-4 col-md-3 col-lg-2 col-sm-push-8 col-md-push-9 col-lg-push-10': vm.filterVisible}">
      <laji-search-filters
         [query]="vm.query"
         [activeSkip]="skipUrlParameters"
         (queryChange)="onQueryChange($event)"
         [queryType]="'observation'"
         [showFilter]="vm.filterVisible"
         (showFilterChange)="filterVisible($event)">
        <ng-container [ngSwitch]="formType">
          <laji-form-sample
            *ngSwitchCase="'sample'"
            [query]="vm.query"
            [invasiveStatuses]="invasiveStatuses"
            [dateFormat]="dateFormat"
            [advancedMode]="vm.advanced"
            (advancedModeChange)="onAdvanceModeChange($event)"
            (queryChange)="onQueryChange($event)"
            (mapDraw)="draw($event)"
          ></laji-form-sample>
          <laji-observation-form
            *ngSwitchDefault
            [query]="vm.query"
            [invasiveStatuses]="invasiveStatuses"
            [dateFormat]="dateFormat"
            [advancedMode]="vm.advanced"
            (advancedModeChange)="onAdvanceModeChange($event)"
            (queryChange)="onQueryChange($event)"
            (mapDraw)="draw($event)"
          ></laji-observation-form>
        </ng-container>
      </laji-search-filters>
    </div>
    <div *ngIf="!showMobile && statusFilterMobile" class="close-filters-mobile"><div (click)="toggleMobile()"><label>{{ 'observation.active' | translate }}</label><i class="glyphicon glyphicon-arrow-left"></i></div></div>
    <div *ngIf="showMobile || (statusFilterMobile && !showMobile)"
         class="result-list"
         [ngClass]="{
          'col-sm-8 col-md-9 col-lg-10': vm.filterVisible,
          'col-sm-12': !vm.filterVisible
         }"
    >
      <ng-container *lajiBrowserOnly>
        <ng-container *ngIf="visible.info">
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right toggle-intro" *ngIf="!vm.showIntro">
                <i (click)="toggleInfo()" class="link glyphicon glyphicon-info-sign"></i>
              </div>
            </div>
          </div>
          <alert *ngIf="vm.showIntro" [dismissible]="true" (onClose)="toggleInfo()" [type]="'info'">
            <div [innerHtml]="'observation.intro' | translate"></div>
          </alert>
        </ng-container>
      </ng-container>
      <div #tabs>
        <laji-observation-result
          [resultBase]="formType"
          [visible]="visible"
          [skipUrlParameters]="skipUrlParameters"
          [basePath]="basePath"
          [lang]="translate.currentLang"
          [loadingUnits]="vm.loadingUnits"
          [loadingTaxa]="vm.loadingTaxa"
          [lgScreen]="vm.lgScreen"
          [speciesCount]="vm.countTaxa"
          [unitCount]="vm.countUnit"
          [active]="activeTab"
          [query]="vm.query"
          (queryChange)="onQueryChange($event)"
          [listSettings]="vm.settingsList"
          (listSettingsChange)="onListSettingsChange($event)"
        ></laji-observation-result>
      </div>
    </div>
  </div>
</form>
