<lu-sidebar [position]="'right'" [staticWidth]="300" *ngIf="vm$ | async; let vm">
  <main>
    <ng-container *lajiBrowserOnly>
      <ng-container *ngIf="visible.info">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right toggle-intro" *ngIf="!vm.showIntro">
              <i (click)="toggleInfo()" class="link glyphicon glyphicon-info-sign"></i>
            </div>
          </div>
        </div>
        <alert *ngIf="vm.showIntro" [dismissible]="true" (onClose)="toggleInfo()" [type]="'info'">
          <div [innerHtml]="'observation.intro' | translate"></div>
        </alert>
      </ng-container>
    </ng-container>
    <laji-observation-result
      [resultBase]="formType"
      [visible]="visible"
      [skipUrlParameters]="skipUrlParameters"
      [basePath]="basePath"
      [lang]="translate.currentLang"
      [loadingUnits]="vm.loadingUnits"
      [loadingTaxa]="vm.loadingTaxa"
      [lgScreen]="vm.lgScreen"
      [speciesCount]="vm.countTaxa"
      [unitCount]="vm.countUnit"
      [active]="activeTab"
      [query]="vm.query"
      (queryChange)="onQueryChange($event)"
      [listSettings]="settingsList$ | async"
      (listSettingsChange)="onListSettingsChange($event)"
    ></laji-observation-result>
  </main>
  <nav>
    <ng-container [ngSwitch]="formType">
      <laji-form-sample
        *ngSwitchCase="'sample'"
        [query]="vm.query"
        [skipActiveFilters]="skipUrlParameters"
        [invasiveStatuses]="invasiveStatuses"
        [dateFormat]="dateFormat"
        [advancedMode]="vm.advanced"
        (advancedModeChange)="onAdvanceModeChange($event)"
        (queryChange)="onQueryChange($event)"
        (mapDraw)="draw($event)"
      ></laji-form-sample>
      <laji-observation-form
        *ngSwitchDefault
        [query]="vm.query"
        [invasiveStatuses]="invasiveStatuses"
        [dateFormat]="dateFormat"
        [advancedMode]="vm.advanced"
        (advancedModeChange)="onAdvanceModeChange($event)"
        (queryChange)="onQueryChange($event)"
        (mapDraw)="draw($event)"
      ></laji-observation-form>
    </ng-container>
  </nav>
</lu-sidebar>
