<div class="datatable-footer" [ngClass]="{'top': top, 'bottom': !top}">
  <div class="datatable-footer-inner">
    <div class="page-count ng-star-inserted"
         [ngStyle]="{
          'height': (_page && _pageSize) ? '50px' : '30px',
          'line-height': (_page && _pageSize) ? '50px' : '30px'
         }"
      >
      @if (_page && _pageSize) {
        <span [innerHtml]="_start | formattedNumber:'&nbsp;'"></span> -
        <span [innerHtml]="_end | formattedNumber:'&nbsp;'"></span> /
      }
      <span [innerHtml]="_count | formattedNumber:'&nbsp;'"></span>
      @if (!(_page && _pageSize)) {
        <span> {{ totalMessage }}</span>
      }
    </div>
    @if (_page && _pageSize) {
      <laji-paginator
        [page]="_page"
        [size]="_pageSize"
        [count]="_count"
        (pageChange)="onChange($event)"
      ></laji-paginator>
    }
  </div>
</div>
