@if (hasDoc && document) {
  <div class="page">
    <div>
      <div class="page-header">
        <h3>
          {{ 'viewer.document' | translate }}
          <small>
            {{ document.documentId }}
          </small>
        </h3>
      </div>
      <laji-issues [data]="document" [hideTooltips]="true"></laji-issues>
      <laji-row [title]="'MY.collectionID' | label" [value]="document.collectionId | toQName | collectionName" ngPreserveWhitespaces></laji-row>
      <laji-row [title]="'MY.notes' | label" [value]="document.notes"></laji-row>
      <laji-row [title]="'MY.keywords' | label" [value]="document.keywords"></laji-row>
      <laji-facts [show]="showFacts" [facts]="document.facts | factNotIn:['http://tun.fi/MY.formID','http://tun.fi/MZ.publicityRestrictions']"></laji-facts>
      @if (document.media) {
        <laji-print-images [images]="document.media"></laji-print-images>
      }
    </div>
    @for (gathering of document.gatherings; track gathering; let i = $index) {
      <div class="gathering">
        <h4 class="page-header">{{ 'viewer.print.place' | translate }} {{ i + 1 }}</h4>
        <div>
          <div [ngClass]="{'half-page-block padding-right': mapData[i]}">
            <div>
              <laji-issues [data]="gathering" [hideTooltips]="true"></laji-issues>
              <laji-gathering-rows [gathering]="gathering" [hideTooltips]="true"></laji-gathering-rows>
              <laji-facts [show]="showFacts" [facts]="gathering.facts | factNotIn:['http://tun.fi/MY.namedPlaceID']"></laji-facts>
            </div>
          </div>
          @if (mapData[i]) {
            <div class="half-page-block padding-left">
              <laji-print-map [data]="mapData[i]"></laji-print-map>
            </div>
          }
          @if (gathering.media) {
            <laji-print-images [images]="gathering.media"></laji-print-images>
          }
        </div>
        <div>
          @for (unit of gathering.units; track unit) {
            <hr>
              <laji-unit-rows [unit]="unit" [showFacts]="showFacts" [showLinks]="false"></laji-unit-rows>
              <laji-facts [show]="showFacts" [facts]="unit.facts | factNotIn:['http://tun.fi/MY.autocompleteSelectedTaxonID']"></laji-facts>
              @if (unit.media) {
                <laji-print-images [images]="unit.media"></laji-print-images>
              }
            }
          </div>
        </div>
      }
    </div>
  }
