<div class="row">
  <div class="col-sm-6">
    <h3>{{ 'form.permission.admin.participants' | translate }}</h3>
    <div [innerHtml]="'form.permission.admin.participants.intro' | translate"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <laji-spinner [spinning]="!loaded" [hideContentWhileLoading]="true">
      <div class="pull-right">
        <laji-download
          [downloadLoading]="fetching"
          (download)="getParticipants($event)">
          <span>
            {{ 'form.permission.admin.participants.get' | translate }}
            <i class="glyphicon glyphicon-download-alt"></i>
          </span>
        </laji-download>
      </div>
    </laji-spinner>
  </div>
</div>
