<div class="alert alert-info info">
  <b>{{ 'annotation.occurrenceAtTime' | translate }}</b>
  <ul>
    @if (((occurrence.taxonId && occurrence.taxonId !== '') || (occurrence.linkings && occurrence.linkings.taxon))) {
      <li>
        <b>Taxon: </b>
        @if (occurrence.linkings.taxon) {
          <laji-taxon-name [capitalizeName]="true" [taxon]="occurrence.linkings.taxon"></laji-taxon-name>
        } @else {
          <span>
            {{ occurrence.taxonVerbatim }}
            <a (click)="onTaxonLinkClick($event)" [routerLink]="['/taxon/' + (occurrence.taxonId | toQName)] | localize" target="_blank"
              [luTooltip]="'showSpeciesCard' | translate" placement="right" tabindex="-1">
              <i class="glyphicon glyphicon-tag"></i>
            </a>
          </span>
        }
      </li>
    }
    @if ( occurrence && (occurrence.dateBegin || occurrence.dateEnd)) {
      <li>
        <b>{{ 'observation.form.date' | translate }}: </b>
        @if (occurrence.dateBegin !== occurrence.dateEnd) {
          <span>
            {{ occurrence.dateBegin }} - {{ occurrence.dateEnd }}
          </span>
        } @else {
          {{ occurrence.dateEnd }}
        }
      </li>
    }
    @if (occurrence && (occurrence.countryVerbatim || occurrence.municipalityVerbatim || occurrence.locality)) {
      <li>
        <b>{{ 'result.gathering.locality' | translate }}: </b>
        <span>
          <ul class="separated-list">
            @if (occurrence.countryVerbatim) {
              <li [luTooltip]="'MY.country' | label" [isDisabled]="hideTooltips">
              {{ occurrence.countryVerbatim }}</li>
            }
            @if (occurrence.municipalityVerbatim) {
              <li [luTooltip]="'MY.municipality' | label" [isDisabled]="hideTooltips">
              {{ occurrence.municipalityVerbatim }}</li>
            }
            @if (occurrence.locality) {
              <li [luTooltip]="'MY.locality' | label" [isDisabled]="hideTooltips">
                {{ occurrence.locality }}
              </li>
            }
          </ul>
        </span>
      </li>
    }
    @if (occurrence && occurrence.wgs84centerPointLat && occurrence.wgs84centerPointLon) {
      <li>
        <b>{{ 'observation.active.coordinates' | translate }}: </b>
        <span>
          {{ occurrence.wgs84centerPointLat }} , {{ occurrence.wgs84centerPointLon }}
        </span>
      </li>
    }
  </ul>
</div>
