<table class="table table-condensed">
  <tbody>
  <tr>
    <th>TaxonID-{{'taxonomy.taxonConcept.id' | translate}}</th>
    <td>{{taxonConceptId}}</td>
  </tr>
  <tr *ngFor="let match of matches; let i = index">
    <th *ngIf="i === 0" [attr.rowspan]="matches.length">{{'taxonomy.taxonConcept.otherLists' | translate}}</th>
    <td>
      <a [href]="match.id" target="_blank">{{match.scientificName}}</a>
      <ng-container *ngIf="match.scientificNameAuthorship"> {{match.scientificNameAuthorship}}</ng-container>
      <br/>
      <a [href]="match.inScheme" target="_blank">{{match.inSchemeLabel | multiLang}}</a>
    </td>
  </tr>
  </tbody>
</table>
