<div [hidden]="typeSpecimensTotal !== 0">
  <h3 style="margin-top: 0">{{ 'taxonomy.typeSpecimensNo' | translate }}</h3>
</div>
<div [hidden]="typeSpecimensTotal === 0">
  <h3 style="margin-top: 0">{{ 'taxonomy.typeSpecimens' | translate }}</h3>
  <laji-observation-table
    [height]="'350px'"
    [pageSize]="100"
    [showSettingsMenu]="false"
    [isAggregate]="false"
    [selected]="['document.id', 'unit.taxon', 'gathering.interpretations.countryDisplayname', 'gathering.locality', 'gathering.displayDateTime', 'document.collectionId']"
    [query]="typeSpecimenQuery"
    [showRowAsLink]="true"
    (total)="typeSpecimensTotal = $event"
    (rowSelect)="showDocument($event)"
  ></laji-observation-table>
</div>
<div [hidden]="collectionsTotal !== 0">
  <h3 style="margin-top: 0">{{ 'taxonomy.collectionsNo' | translate }}</h3>
</div>
<div [hidden]="collectionsTotal === 0">
  <h3>{{ 'taxonomy.collections' | translate }}</h3>
  <laji-observation-table
    [height]="'350px'"
    [pageSize]="100"
    [showSettingsMenu]="false"
    [showHeader]="false"
    [isAggregate]="true"
    [selected]="['document.collectionId']"
    (total)="collectionsTotal = $event"
    [query]="collectionSpecimenQuery"
    [showRowAsLink]="true"
    (rowSelect)="setCollectionId($event)"
  ></laji-observation-table>
</div>
<ng-container *ngIf="collectionId">
  <h3 id="collectionSpecimens">{{ 'taxonomy.specimens' | translate }}: {{ collectionId | collectionName }}</h3>
  <laji-observation-table
    *ngIf="collectionId"
    [height]="'350px'"
    [pageSize]="100"
    [showSettingsMenu]="false"
    [isAggregate]="false"
    [selected]="['document.id', 'unit.taxon', 'gathering.interpretations.countryDisplayname', 'gathering.locality', 'gathering.displayDateTime']"
    [query]="collectionQuery"
    [showRowAsLink]="true"
    (rowSelect)="showDocument($event)"
  ></laji-observation-table>
</ng-container>

<div class="modal fade" bsModal #documentModal="bs-modal"
     (onHidden)="onHideDocument()"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" *ngIf="documentModalVisible">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <laji-document [uri]="documentId" [highlight]="highlightId"></laji-document>
      </div>
    </div>
  </div>
</div>
