@import 'projects/laji-ui/src/lib/vars';

$primary-1: hsl(204deg, 100%, 98%);
$primary-2: hsl(204deg, 90%, 95%);
$primary-3: hsl(204deg, 80%, 85%);
$primary-4: hsl(204deg, 70%, 70%);
$primary-5: hsl(204deg, 70%, 50%);
$primary-6: hsl(204deg, 70%, 40%);
$primary-7: hsl(204deg, 80%, 30%);
$primary-8: hsl(204deg, 90%, 20%);
$primary-9: hsl(204deg, 100%, 10%);

$neutral-1: hsl(204deg, 20%, 99%);
$neutral-2: hsl(204deg, 15%, 97%);
$neutral-3: hsl(204deg, 12%, 95%);
$neutral-4: hsl(204deg, 10%, 88%);
$neutral-5: hsl(204deg, 10%, 70%);
$neutral-6: hsl(204deg, 10%, 50%);
$neutral-7: hsl(204deg, 10%, 40%);
$neutral-8: hsl(204deg, 15%, 30%);
$neutral-9: hsl(204deg, 20%, 10%);
