<ng-container *ngIf="!errorMsg">
  <div class="container-fluid" *ngIf="vm$ | async as vm">
    <laji-spinner [spinning]="vm.step == null" [hideContentWhileLoading]="true">
      <h1>{{ 'theme.kerttu.annotate.title' | translate }}</h1>
      <laji-stepper [state]="vm.step"
                    [mapping]="mapping"
                    [steps]="steps"
                    (activate)="activate($event)"
      ></laji-stepper>
      <div>
        <lu-button [disabled]="vm.step === step.fillExpertise || loading" (click)="goBack(vm.step)">
          <span class="fa fa-arrow-left"></span>
          Edellinen
        </lu-button>
        <lu-button [disabled]="vm.step === step.done || loading" class="pull-right" (click)="saveAndGoToNext(vm.step)">
          Seuraava
          <span class="fa fa-arrow-right"></span>
        </lu-button>
      </div>
      <div class="lu-section">
        <laji-spinner [spinning]="loading" [hideContentWhileLoading]="true">
          <laji-expertise-form
            *ngIf="vm.step === step.fillExpertise"
            [introText]="'theme.kerttu.expertise.intro' | translate"
            [selectedTaxonIds]="selectedTaxonIds"
            (taxonIdSelect)="selectedTaxonIds = $event"
          ></laji-expertise-form>
          <div *ngIf="vm.step === step.annotateLetters">
            <laji-spinner [spinning]="!allLettersAnnotated && loadingLetters" [overlay]="true">
              <laji-kerttu-letter-annotation
                *ngIf="!allLettersAnnotated"
                [ngClass]="{'visibility-hidden': loadingLetters}"
                [template]="letterTemplate"
                [candidate]="letterCandidate"
                (annotationChange)="onLetterAnnotationChange($event)"
                (skipLetterClick)="skipLetter()"
              ></laji-kerttu-letter-annotation>
            </laji-spinner>
            <ng-container *ngIf="allLettersAnnotated">
              {{ 'theme.kerttu.allLettersAnnotated' | translate }}
            </ng-container>
          </div>
          <div *ngIf="vm.step === step.annotateRecordings">
            <!--laji-kerttu-recording-annotation
              [recordings]="recordings$ | async"
              [annotations]="recordingAnnotations"
              (annotationsChange)="recordingAnnotations = $event"
            ></laji-kerttu-recording-annotation-->
          </div>
          <div *ngIf="vm.step === step.done">
            Valmis!
          </div>
        </laji-spinner>
      </div>
    </laji-spinner>
  </div>
</ng-container>
<div *ngIf="errorMsg">
  {{ errorMsg | translate }}
</div>

