@import 'projects/laji-ui/src/lib/vars';
@import '../../styles/styles';

:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  z-index: auto;
}
.vihko-box {
  height: 170px;
}
.thumbnail {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: inherit;
}
.identifications {
  text-align: left;
}

.identifications .btn {
  margin-top: 5px !important;
}

.identification-images {
  position: relative;
  max-width: 546px;
}

.identify-form {
  z-index: 1000;
}

.forum, .forum:hover, .forum:visited, .forum:active {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.resent-map {
  padding: 6px;
  position: relative;
}
.blocking-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.searchBar {
  height: 58px;
  background-color: #2C3E50;
  padding-top: 14px;
  padding-left: 8px;
  padding-right: 8px;
}

.panel-body .btn {
  margin-top: 30px;
}

.omnisearch-container {
  width: 100%;
}

.omnisearch {
  max-width: 1000px;
  width: 100%;
}

.some-links {
  max-width: 350px;
  width: 100%;
  padding-top: 5px;
}

.some-links a {
  padding-left: 5px;
}
.some-links a svg {
  height: 20px;
  width: 20px;
}
.no-break {
  white-space: nowrap;
}

.intro {
  padding-bottom: 150px;
}

.news-container {
  padding: 20px;
  background-color: $neutral-3;
  max-width: 350px;
  box-shadow: inset 8px 0 8px -8px rgba(#000,.2);

  @media only screen and (max-width: map-get($map: $breakpoints, $key: "xs")) {
    max-width: 100%;
    width: 100%;
    box-shadow: unset;
    border-top: 1px solid $neutral-4;
  }
}

.nav-thumbnail-img {
  background-size: cover;
  width: 100px;
  height: 100px;
}

.home-card {
  background: linear-gradient(to bottom, $neutral-1, saturate($neutral-2, 20%));
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba($primary-6, 0.4);
  border: 1px solid rgba($neutral-1, 0);
  cursor: pointer;
  flex: 1 1 0;
  span {
    color: $primary-5;
  }
  &:hover, &:focus {
    outline: none;
    box-shadow: 0 4px 12px 0 rgba($primary-6, 0.3);
    border-color: $primary-3;
    transition: box-shadow .1s, border-color .1s;
    text-decoration: none;
  }
}

.home-content-container {
  padding: 20px;
}

.sections-container {
  background-color: $neutral-3;
}

.section-1 {
  padding: 50px $sp-4;
}

.section-2 {
  padding: 100px $sp-4;
  background-color: $neutral-2;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.section-3 {
  padding: 100px $sp-4;
}

.section-4 {
  padding: 50px $sp-5;
  background-color: $neutral-2;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  flex-wrap: wrap;
}

.home-main {
  padding-right: $sp-6;
  @include media-query-phone {
  padding-right: 10px;
  padding-left: 10px;
  }
}

laji-news-list {
  max-width: 400px;
  padding-left: $sp-6;
  border-left: 1px solid $neutral-4;
  @media only screen and (max-width: map-get($map: $breakpoints, $key: "xs")) {
    border-left: none;
    padding-left: unset;
  }
}

.content-max-width {
  width: 100%;
  max-width: 1200px;
}

.content-50-width {
  width: 50%;
  @include media-query-phone {
    width: 100%;
  }
}


.map-container {
  padding: 20px;
  width: 300px;
}

.map-desc-container {
  padding: 20px;
}

.inat-img-container {
  padding: 20px;
  width: 300px;
}

.inat-img {
  width: 100%;
}

.inat-desc-container {
  padding: 20px;
  max-width: 700px;
  min-width: 300px;
}

hr {
  width: 80%;
  max-width: 1000px;
  border-color: $neutral-4;
}

.fb-feed {
  width: 250px;
  height: 400px;
  background-color: $neutral-4;
  box-shadow: 0 2px 4px rgba(#000, .2);
}

.twitter-feed {
  overflow-y: scroll;
  width: 250px;
  height: 400px;
  background-color: $neutral-4;
  box-shadow: 0 2px 4px rgba(#000, .2);
}

.twitter-box {
  @include media-query-laptop {
    max-width: 600px;
  }
  @include media-query-tablet {
    max-width: 1200px;
  }
}
