<laji-image-header></laji-image-header>
<div class="d-flex justify-between xs:flex-wrap">
  <div class="sections-container width-0 laji-page">
    <div class="d-flex justify-center home-content-container section-1">
      <div class="d-flex xs:flex-wrap content-max-width">
        <div class="flex-grow home-main">
          <h1>{{ 'home.main-page.title' | translate }}</h1>
          <laji-technical-news></laji-technical-news>
          <p>{{ 'home.main-page.text' | translate }}</p>
          <ng-container *ngTemplateOutlet="navigationThumbnails"></ng-container>
        </div>
        <laji-news-list class="d-block mb-3 home-news-list"></laji-news-list>
      </div>
    </div>
    <div class="d-flex flex-col items-center home-content-container section-2">
      <ng-container *ngTemplateOutlet="map"></ng-container>
    </div>
    <div class="d-flex justify-center home-content-container section-3">
      <ng-container *ngTemplateOutlet="iNaturalist"></ng-container>
    </div>
    <div class="d-flex flex-col items-center flex-wrap home-content-container section-4">
      <ng-container *ngTemplateOutlet="some"></ng-container>
    </div>
  </div>
</div>

<ng-template #map>
  <div class="d-flex flex-wrap content-max-width">
    <div class="map-desc-container flex-grow">
      <!--           {{ 'home.main-page.recent' | translate }} -->
      <h2 class="mt-0" translate>
        home.identify
      </h2>
      <a [routerLink]="['/theme/identify'] | localize" [queryParams]="{time: mapStartDate + '/'}">
        <div class="identification-images">
          <laji-image-gallery [showPopover]="false" [showViewSwitch]="false" [showOverlay]="false"
            [showExtraInfo]="false" [showLinkToSpeciesCard]="false" [view]="'compact'" [modalImages]="(images$ | async) ?? []"
            [shortcut]="false"></laji-image-gallery>
        </div>
      </a>
      <p translate>home.identify-help-intro</p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/theme/identify'] | localize"
        [queryParams]="{time: mapStartDate + '/'}">
        {{ 'home.identify-help-title' | translate }}
      </a>
    </div>
    <div class="map-container">
      <a [routerLink]="['/observation/map'] | localize" [queryParams]="mapQueryParams">
        <laji-observation-map [settingsKey]="'frontMap'" [height]="438" [showControls]="false"
          [initWithWorldMap]="false" [clickBeforeZoomAndPan]="false" [viewLocked]="true" [noClick]="true" [draw]="false"
          [query]="{firstLoadedSameOrAfter: mapStartDate, countryId: 'ML.206', cache: true}" [hideLegend]="true"
          [pointModeBreakpoint]="0"></laji-observation-map>
      </a>
      <div>
        <div>
          <strong><laji-observation-count [lightLoader]="true"
              [value]="(homeData$ | async)?.today?.total"></laji-observation-count></strong>
          {{ 'viewer.unit' | translate }}
          <strong><laji-observation-count [lightLoader]="true"
              [value]="(homeData$ | async)?.speciesToday?.total"></laji-observation-count></strong>
          {{ 'observation.results.species' | translate }}
        </div>
        <a [routerLink]="['/observation/map'] | localize" [queryParams]="mapQueryParams">
          {{ 'home.map.latest' | translate }}
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #iNaturalist>
  <div class="d-flex content-max-width xs:flex-wrap">
    <div class="inat-img-container">
      <img class="inat-img" src="/static/images/inat-sufi.png" alt="iNaturalist Suomi">
    </div>
    <div class="inat-desc-container">
      <p translate>home.inat.desc</p>
      <a class="btn btn-primary btn-lg inat-link" href="https://inaturalist.laji.fi/" target="_blank">{{ 'home.inat.btn' | translate }}</a>
    </div>
  </div>
</ng-template>

<ng-template #some>
  <div class="d-flex sm:flex-wrap content-max-width">
    <div class="flex-grow mb-4">
      <div class="mb-4">
        <h3 class="width-0 d-inline" translate>{{ 'finbif-bib.title' | translate }}</h3>
        <laji-info>{{ 'finbif-bib.intro' | translate }}</laji-info>
      </div>
      <div *lajiBrowserOnly class="finBif-publications" innerHTML="{{ (publications$ | async)?.content }}"></div>
      <a class="btn btn-default" [routerLink]="['/theme/publications'] | localize">
        {{ 'finbif-bib.seeAll' | translate }}
      </a>
    </div>
  </div>
</ng-template>

<ng-template #navigationThumbnails>
  <div class="my-7">
    <div class="d-flex flex-wrap">
      <a routerLink="taxon" class="home-card d-flex flex-col items-center mr-3 mb-3">
        <div class="nav-thumbnail-img" [style.background-image]="'url(/static/images/icons/species.svg)'"></div>
        <div>
          <span translate>home.taxon-sub-intro</span>
        </div>
      </a>
      <a routerLink="observation" class="home-card d-flex flex-col items-center mr-3 mb-3">
        <div class="nav-thumbnail-img" [style.background-image]="'url(/static/images/icons/observations.svg)'"></div>
        <div>
          <span translate>home.observation-sub-intro</span>
        </div>
      </a>
    </div>
    <div class="d-flex flex-wrap">
      <a routerLink="save-observations" class="home-card d-flex flex-col items-center mr-3 mb-3">
        <div class="nav-thumbnail-img" [style.background-image]="'url(/static/images/icons/vihko.svg)'"></div>
        <div>
          <span translate>home.notebook-sub-intro</span>
        </div>
      </a>
      <a routerLink="theme/dataset-metadata" class="home-card d-flex flex-col items-center mr-3 mb-3">
        <div class="nav-thumbnail-img" [style.background-image]="'url(/static/images/icons/dataset.svg)'"></div>
        <div>
          <span translate>home.dataset-metadata</span>
        </div>
      </a>
    </div>
    <div class="d-flex flex-wrap">
      <a [href]="(dashboardLink | multiLang)" target="_blank" class="home-card d-flex flex-col items-center mr-3 mb-3">
        <div class="nav-thumbnail-img" [style.background-image]="'url(/static/images/icons/dashboard.svg)'"></div>
        <div *ngIf="((homeData$ | async)?.unitsLastWeek?.total ?? 0) > 0">
          <span>{{(homeData$ | async)?.unitsLastWeek?.total}} </span>
          <span translate>home.dashboard-sub-intro-1</span>
        </div>
        <div>
          <span translate>home.dashboard-sub-intro-2</span>
        </div>
      </a>
    </div>
  </div>
</ng-template>
