@import '../../../../../../laji-ui/src/lib/vars';

:host {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: $neutral-4;
  position: relative;
}

alert {
  position: absolute;
  left: 0;
  right: 0;
}

#spectrogramContainer {
  width: 100%;
  position: relative;
}

#audioControls {
  display: inline-block;
  width: 100%;

  button {
    display: inline-block;
    margin: 0 2px;
  }

  #volumeSlider {
    width: 50px;
  }
}
