<laji-spinner [spinning]="loading" [overlay]="true">
  <alert type="danger" [dismissible]="false" *ngIf="hasError">{{ "theme.kerttu.audioError" | translate }}</alert>
  <div class="spectrogram-container" [ngClass]="{'visibility-hidden': loading}">
    <laji-audio-spectrogram
      [buffer]="buffer"
      [sampleRate]="sampleRate"
      [nperseg]="nperseg"
      [noverlap]="noverlap"
      [currentTime]="audioPlayer.currentTime"
      [focusArea]="localFocusArea"
      [highlightFocusArea]="highlightFocusArea"
      [brushArea]="brushArea"
      [zoomFrequency]="zoomFrequency"
      [mode]="mode"
      (spectrogramReady)="setAudioLoading(false)"
      (dragStart)="onSpectrogramDragStart()"
      (dragEnd)="onSpectrogramDragEnd($event)"
      (brushEnd)="onSpectrogramBrushEnd($event)"
    ></laji-audio-spectrogram>
  </div>

  <div class="audio-controls" [ngClass]="{'visibility-hidden': loading}">
    <button class="btn btn-default" (click)="audioPlayer.toggle()" [disabled]="loading">
      <span
        class="fa"
        [ngClass]="{'fa-play': !audioPlayer.isPlaying, 'fa-pause': audioPlayer.isPlaying}"
      >
      </span>
    </button>
    <ng-container *ngIf="showBrushControl">
      <lu-button [role]="mode === 'brush' ? 'other' : undefined" (click)="toggleBrushMode()">
        {{ 'theme.kerttu.audioViewer.changeView' | translate }}
      </lu-button>
      <lu-button [role]="'primary'" (click)="clearBrushArea()" *ngIf="brushArea">
        {{ 'theme.kerttu.audioViewer.defaultView' | translate }}
      </lu-button>
    </ng-container>
  </div>
</laji-spinner>
