<laji-spinner [spinning]="loading" [overlay]="true">
  <alert type="danger" [dismissible]="false" *ngIf="hasError">{{ "theme.kerttu.audioError" | translate }}</alert>
  <div class="spectrogram-container" [ngClass]="{'visibility-hidden': loading}">
    <laji-audio-spectrogram
      [buffer]="extractedBuffer"
      [sampleRate]="sampleRate"
      [nperseg]="nperseg"
      [noverlap]="noverlap"
      [currentTime]="audioPlayer.currentTime"
      [focusArea]="localFocusArea"
      [highlightFocusArea]="highlightFocusArea"
      [brushArea]="localBrushArea"
      [zoomFrequency]="zoomFrequency"
      [mode]="mode"
      (spectrogramReady)="setAudioLoading(false)"
      (dragStart)="onSpectrogramDragStart()"
      (dragEnd)="onSpectrogramDragEnd($event)"
      (brushEnd)="onSpectrogramBrushEnd($event)"
    ></laji-audio-spectrogram>
  </div>

  <div class="audio-controls" [ngClass]="{'visibility-hidden': loading}">
    <lu-button (click)="audioPlayer.toggle()" [disabled]="loading">
      <span
        class="fa"
        [ngClass]="{'fa-play': !audioPlayer.isPlaying, 'fa-pause': audioPlayer.isPlaying}"
      >
      </span>
    </lu-button>
    <div class="btn-with-info">
      <lu-button [role]="audioPlayer.loop ? 'primary' : 'secondary'" (click)="audioPlayer.loop = !audioPlayer.loop" [disabled]="loading">
        <span class="fa fa-refresh"></span>
      </lu-button>
      <laji-info [placement]="'right'" [html]="'theme.kerttu.info.loop' | translate"></laji-info>
    </div>
    <ng-container *ngIf="showBrushControl">
      <div class="btn-with-info">
        <lu-button [role]="mode === 'brush' ? 'primary' : 'secondary'" (click)="toggleBrushMode()">
          {{ 'theme.kerttu.audioViewer.changeView' | translate }}
        </lu-button>
        <laji-info [placement]="'right'" [html]="'theme.kerttu.info.changeView' | translate"></laji-info>
      </div>
      <lu-button [role]="'secondary'" (click)="clearBrushArea()" *ngIf="localBrushArea">
        {{ 'theme.kerttu.audioViewer.defaultView' | translate }}
      </lu-button>
    </ng-container>

    <div *ngIf="audio?.dateTime || audio?.municipality || audio?.geometry" class="pull-right audio-info">
      <laji-audio-info [audio]="audio"></laji-audio-info>
    </div>
  </div>
</laji-spinner>
