@import 'projects/laji-ui/src/lib/vars';

:host {
  display: block;
  width: 100%;
  text-align: left;
  background-color: $neutral-4;
  position: relative;
}

.audio-controls {
  position: relative;
  display: inline-block;
  width: 100%;

  laji-audio-viewer-controls {
    display: inline-block;
    vertical-align: bottom;
  }

  .audio-info {
    margin-right: 0.5em;
  }
}

:host(.audio-viewer-responsive) {
  height: 100%;
  display: flex;
  flex-direction: column;

  laji-spinner {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    .spectrogram-container {
      flex: 1 1 100%;
    }
  }

  .audio-controls {
    flex: 0 0 auto;
  }
}
