<laji-spinner [spinning]="loading" [overlay]="true">
  @if (hasError) {
    <lu-alert type="danger" [dismissible]="false">{{ "audioViewer.audioError" | translate }}</lu-alert>
  }
  <div class="spectrogram-container">
    <laji-audio-spectrogram
      [buffer]="buffer()"
      [sampleRate]="sampleRate"
      [view]="audioViewerView.activeView()"
      [defaultView]="audioViewerView.defaultView()"
      [focusArea]="focusArea?.area"
      [highlightFocusArea]="focusArea?.highlight"
      [onlyFocusAreaDrawable]="focusArea?.highlight"
      [focusAreaColor]="focusArea?.color"
      [showAxisLabels]="showAxisLabels"
      [axisFontSize]="axisFontSize"
      [rectangles]="rectangles"
      [currentTime]="audioPlayer.currentTime()"
      [config]="activeSpectrogramConfig()"
      [mode]="audioViewerView.mode()"
      [width]="spectrogramWidth"
      [height]="spectrogramHeight"
      [margin]="spectrogramMargin"
      [adaptToContainerHeight]="adaptToContainerHeight"
      [pregeneratedSpectrogramUrl]="showPregeneratedSpectrogram ? audio?.spectrogramUrl : undefined"
      (spectrogramLoading)="setAudioLoading($event)"
      (dragStart)="onSpectrogramDragStart()"
      (dragEnd)="onSpectrogramDragEnd($event)"
      (spectrogramClick)="onSpectrogramClick($event)"
      (spectrogramDblclick)="spectrogramDblclick.emit($event)"
      (zoomEnd)="onSpectrogramZoomEnd($event)"
      (drawEnd)="onSpectrogramDrawEnd($event)"
    ></laji-audio-spectrogram>
  </div>
</laji-spinner>
@if (showControls || showSpectrogramConfig || audioInfoTpl) {
  <div class="audio-controls">
    @if (showControls) {
      <laji-audio-viewer-controls
        [audioPlayer]="audioPlayer"
        [audioViewerView]="audioViewerView"
        [disabled]="loading || hasError"
        [controls]="controls"
        [customControlsTpl]="customControlsTpl"
      ></laji-audio-viewer-controls>
    }
    @if (showSpectrogramConfig) {
      <div class="spectrogram-config">
        <lu-button [disabled]="loading || hasError" (click)="openSpectrogramConfigModal()">
          <i class="glyphicon glyphicon-cog"></i>
        </lu-button>
      </div>
    }
    @if (audioInfoTpl) {
      <div class="pull-right audio-info">
        <ng-template [ngTemplateOutlet]="audioInfoTpl" [ngTemplateOutletContext]="{audio: audio}"></ng-template>
      </div>
    }
  </div>
}
