<laji-spinner [spinning]="loading" [overlay]="true">
  <lu-alert type="danger" [dismissible]="false" *ngIf="hasError">{{ "audioViewer.audioError" | translate }}</lu-alert>
  <div class="spectrogram-container">
    <laji-audio-spectrogram
      [buffer]="buffer()"
      [sampleRate]="sampleRate"
      [view]="audioViewerView.activeView()"
      [defaultView]="audioViewerView.defaultView()"
      [focusArea]="focusArea?.area"
      [highlightFocusArea]="focusArea?.highlight"
      [onlyFocusAreaDrawable]="focusArea?.highlight"
      [focusAreaColor]="focusArea?.color"
      [showAxisLabels]="showAxisLabels"
      [axisFontSize]="axisFontSize"
      [rectangles]="rectangles"
      [currentTime]="audioPlayer.currentTime()"
      [config]="spectrogramConfig"
      [mode]="audioViewerView.mode()"
      [width]="spectrogramWidth"
      [height]="spectrogramHeight"
      [margin]="spectrogramMargin"
      [adaptToContainerHeight]="adaptToContainerHeight"
      [pregeneratedSpectrogramUrl]="showPregeneratedSpectrogram ? audio?.spectrogramUrl : undefined"
      (spectrogramLoading)="setAudioLoading($event)"
      (dragStart)="onSpectrogramDragStart()"
      (dragEnd)="onSpectrogramDragEnd($event)"
      (spectrogramClick)="onSpectrogramClick($event)"
      (spectrogramDblclick)="spectrogramDblclick.emit($event)"
      (zoomEnd)="onSpectrogramZoomEnd($event)"
      (drawEnd)="onSpectrogramDrawEnd($event)"
    ></laji-audio-spectrogram>
  </div>
</laji-spinner>
<div class="audio-controls">
  <laji-audio-viewer-controls
    *ngIf="showControls"
    [audioPlayer]="audioPlayer"
    [audioViewerView]="audioViewerView"
    [loading]="loading"
    [controls]="controls"
    [customControlsTpl]="customControlsTpl"
  ></laji-audio-viewer-controls>
  <div class="pull-right audio-info" *ngIf="audio && audioInfoTpl">
    <ng-template [ngTemplateOutlet]="audioInfoTpl" [ngTemplateOutletContext]="{audio: audio}"></ng-template>
  </div>
</div>
