<select [ngModel]="_value" (ngModelChange)="selected.emit($event)" class="form-control" [disabled]="disabled || (disabledWhenNoOptions && !options)">
  @if (_fields) {
    <option value="" disabled>{{ 'excel.map.col-select' | translate }}</option>
    <option [value]="skipValue">{{ 'ignore'| translate }}</option>
    @for (group of fieldGroups | removeEmpty; track group) {
      <optgroup [label]="fieldGroupsLabel[group]">
        @for (key of groups![group] | removeEmpty; track key) {
          <option [value]="key">
            {{ key === skipValue ? ('ignore'| translate) : (_fields[key] && _fields[key].label || key) }}
          </option>
        }
      </optgroup>
    }
  } @else {
    <option value="" disabled>{{ 'excel.map.value-select' | translate }}</option>
    @for (key of options | removeEmpty; track key) {
      <option [value]="key">
        @switch (key) {
          @case (skipValue) {
            {{ 'ignore'| translate }}
          }
          @case (asIsValue) {
            {{ 'asIs'| translate }}
          }
          @default {
            {{ key }}
          }
        }
      </option>
    }
  }
</select>
