
<div class="item-content">
    <div class="unit-annotation"><laji-unit-annotation [showImage]="false" [unit]="item.unit"></laji-unit-annotation></div>
    <div class="gathering"><laji-gathering [visible]="true" [gathering]="item.gathering"></laji-gathering></div>
    <div class="information">
         <span *ngIf="item.unit.annotationCount; else noAnnotation">
            <span>{{ item.unit.annotationCount }} {{ 'quality.qualityLabel' | translate }}</span>
        </span>
        <ng-template #noAnnotation>{{ 'annotation.none' | translate }}</ng-template>
    </div>
    <div class="addedTags" *ngIf="addedTags && addedTags.length > 0">
        <div class="tags" *ngFor="let tag of addedTags" [ngSwitch]="tag | toQName">
            <div *ngSwitchCase="annotationTagsObservation[ tag | toQName].value" class="annotation-marker {{ annotationTagsObservation[ tag | toQName].quality }}" >
                <span class=""></span>
                <span>{{ tag | toQName | label }}</span>
             </div>
        </div>
    </div>
    <div class="quality">
        <span *ngIf="item.unit.quality.taxon.reliability"> {{ 'observation.form.qualityTitle' | translate }}:  {{ item.unit.quality.taxon.reliability | label: 'warehouse' }} </span>
    </div>
</div>


