
<div class="item-content">
    <laji-annotation-item-status
    *ngIf="item.unit.interpretations && (item.unit.interpretations.needsCheck || item.unit.interpretations.needsIdentification)"
    [interpretation]="item.unit.interpretations"
    [text]="false"
    ></laji-annotation-item-status>
    <div class="unit-annotation"><laji-unit-annotation [showImage]="false" [unit]="item.unit"></laji-unit-annotation></div>
    <div class="gathering"><laji-gathering [visible]="true" [gathering]="item.gathering"></laji-gathering></div>
    <div class="information">
        <i class="glyphicon glyphicon-comment"></i>
         <span *ngIf="item.unit.annotationCount; else noAnnotation">
            <span>{{ item.unit.annotationCount }} {{ 'quality.qualityLabel' | translate }}</span>
        </span>
        <ng-template #noAnnotation>{{ 'annotation.none' | translate }}</ng-template>
    </div>
    <div class="quality">
        <i class="glyphicon glyphicon-thumbs-up"></i><span *ngIf="item.unit.interpretations && item.unit.interpretations.reliability">{{ item.unit.interpretations.reliability | label: 'warehouse' }} </span>
    </div>
    <div class="addedTags" *ngIf="item.unit.interpretations && item.unit.interpretations.effectiveTags && item.unit.interpretations.effectiveTags.length > 0">
        <ng-container *ngFor="let tag of item.unit.interpretations.effectiveTags; let i = index">
            <div class="tags" [ngSwitch]="tag | warehouse" [ngClass]="{'hide':i > limit, '': i <= limit}">
                <div *ngSwitchCase="annotationTagsObservation[tag | warehouse ].value" class="annotation-marker {{ annotationTagsObservation[tag | warehouse ].type }}">
                    <span>{{ tag | warehouse | label }}</span>
                </div>
            </div>
        </ng-container>
        <span class="show-more" (click)="toggleLimit($event)" *ngIf="item.unit.interpretations && item.unit.interpretations.effectiveTags && item.unit.interpretations.effectiveTags.length > 1">
            <span *ngIf="limit === 1; else showLess">Show more</span>
            <ng-template #showLess>Show less</ng-template>
        </span>
    </div>
</div>


