.informal-group-container {
  position: absolute;
  z-index: 9999;
  width:550px;
  left:0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  margin:0 10px 10px 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.informal-group-container table {
  width: 100%;
}

.informal-group-container .item {
  width: 50%;
  padding: 7px 3px 7px 35px;
  min-height: 40px;
  border: 1px solid #e3e3e3;
  background-size: auto 35px;
  background-position: center left;
}

.informal-group-container .item:hover,
.informal-group-container .item .active{
  color: #2C3E50;
}
