<input type="hidden" [(ngModel)]="value">
<button class="btn btn-default" type="button" (click)="toggle()">
  <span *ngIf="!hasRootLabel()">
    <ng-content></ng-content>
  </span>
  <span *ngIf="hasRootLabel()">
      {{getLabel(value) | translate}}
  </span>
  <i class="glyphicon"
     [ngClass]="{'glyphicon-triangle-bottom': open,'glyphicon-triangle-right': !open}">
  </i>
</button>
<div class="informal-group-container" [ngClass]="{hidden: !open}">
  <div *ngFor="let group of groups"
       (click)="onClick(group.id)"
       [ngClass]="{active: group.id == value}"
       class="col-sm-6 item link informal-group-image {{group.id}}">
    {{group.name}}
  </div>
</div>
