<div (lajiClickOutSide)="close()" [clickOutSideActive]="open">
  <input type="hidden" [(ngModel)]="value">
  <a class="btn btn-default btn-block informal-group-select" type="button" (click)="openMenu()" #groupBtn>
    <span *ngIf="!innerValue">
      <ng-content></ng-content>
    </span>
    <span *ngIf="innerValue">
      {{label}}
    </span>
    <span *ngIf="open">
      <br>
      <span [ngClass]="{hidden: !open}" (click)="empty()" class="label label-danger link">
        <i class="glyphicon glyphicon-remove"></i>
      </span>
      <span [ngClass]="{hidden: !open}" (click)="toggle()" class="label label-success link">
        <i class="glyphicon glyphicon-ok"></i>
      </span>
    </span>
  </a>
  <div class="informal-group-container" *ngIf="open" [lajiFixedBelow]="groupBtn">
    <table>
      <tr *ngFor="let idx of range">
        <td
                *ngIf="groups[(idx * 2)]"
                (click)="onClick(groups[(idx * 2)])"
                class="item link informal-group-image {{groups[(idx * 2)].id}}">
          <span [ngClass]="{active: groups[(idx * 2)] && groups[(idx * 2)].id && groups[(idx * 2)].id === innerValue}">
            {{groups[(idx * 2)]?.name}}
          </span>
          <span *ngIf="groups[(idx * 2)] && groups[(idx * 2)].hasSubGroup && groups[(idx * 2)].hasSubGroup.length > 0">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </span>
        </td>
        <td
                *ngIf="groups[(idx * 2 + 1)]"
                (click)="onClick(groups[(idx * 2 + 1)])"
                class="item link informal-group-image {{groups[(idx * 2 + 1)].id}}">
          <span [ngClass]="{active: groups[(idx * 2 + 1)] && groups[(idx * 2 + 1)].id && groups[(idx * 2 + 1)].id === innerValue}">
            {{groups[(idx * 2 + 1)]?.name}}
          </span>
          <span *ngIf="groups[(idx * 2 + 1)] && groups[(idx * 2 + 1)].hasSubGroup && groups[(idx * 2 + 1)].hasSubGroup.length > 0">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
