<bsg-identification-panel
  *ngFor="let identification of identifications; let idx=index"
  [componentId]="componentId + '_' + idx + '_'"
  [speciesIdx]="idx"
  [recording]="recording"
  [identification]="identification"
  [showDrawRelatedBoxBtn]="showDrawRelatedBoxBtn"
  [buttonsDisabled]="buttonsDisabled"
  [drawBoxActive]="drawBoxActive[idx]"
  [drawRelatedBoxActive]="drawRelatedBoxActive[idx]"
  [open]="panelOpenById[identification.id]"
  [birdRectangleColor]="birdRectangleColor"
  [overlappingBirdRectangleColor]="overlappingBirdRectangleColor"
  [spectrogramConfig]="spectrogramConfig"
  (identificationChange)="onIdentificationChange(idx, $event)"
  (deleteClick)="deleteRow(idx)"
  (drawBoxClick)="toggleDrawBox(idx)"
  (drawRelatedBoxClick)="toggleDrawRelatedBox(idx, $event.idx)"
  (deleteBoxClick)="deleteBoxClick.emit({rowIndex: idx, boxIndex: $event.idx, boxGroupIndex: $event.groupIdx})"
  (openChange)="panelOpenById[identification.id] = $event"
>
</bsg-identification-panel>
