@import 'projects/laji-ui/src/lib/vars';
@import 'projects/laji-ui/src/lib/mixins/buttons';

/*
  BUTTON STYLING
*/

.btn {
  @include btn();
}

.btn.btn-default {
  @include btnSecondary();
}

.btn.btn-primary {
  @include btnPrimary();
}

.btn.btn-success {
  @include btnSuccess();
}

.btn.btn-info {
  @include btnInfo();
}

.btn.btn-warning {
  @include btnWarning();
}

.btn.btn-danger {
  @include btnDanger();
}

.btn.btn-primary:disabled,
.btn.btn-default:disabled,
.btn.btn-success:disabled,
.btn.btn-info:disabled,
.btn.btn-warning:disabled,
.btn.btn-danger:disabled {
  @include btnDisabled();
}

.btn.active {
  box-shadow: inset 1px 1px 4px 4px rgb(20 27 31 / 8%);
  background-color: #e6e6e6;
}

/*
  BUTTON SIZING
*/

.btn.btn-lg, .btn-group-lg > .btn {
  font-size: $fs-3;
  padding: 8px 16px;
}

.btn {
  font-size: $fs-2;
}

.btn.btn-sm, .btn-group-sm > .btn {
  font-size: $fs-1;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn.btn-xs, .btn-group-xs > .btn {
  font-size: $fs-1;
  padding: 3px 6px;
  border-radius: 3px;
}

/*
  BUTTON GROUP
*/

.btn-group .btn+.btn {
  margin: 0;
}

.btn-group:not(.dropdown) .btn:not(:last-child) {
  border-right: 1px solid $neutral-4;
}


/*
  DROPDOWN
*/

.dropdown-menu > .active > a {
  background: $primary-5;
}

/*
  LIST
*/

.list-group-item.active {
  &, &:focus, &:active, &:hover {
    background: $primary-5;
  }
}
