@import 'projects/laji-ui/src/lib/vars';
@import 'projects/laji-ui/src/lib/mixins/buttons';

/*
  BUTTON STYLING
*/

.btn {
  @include btn();
}

.btn.btn-default {
  @include btnSecondaryTheme($neutral-9, 0px, $neutral-3, $neutral-7, $neutral-6);
}

.btn.btn-primary {
  @include btnPrimaryTheme($primary-5, -20deg, $primary-1, $primary-8);
}

.btn.btn-success {
  @include btnPrimaryTheme($success-5, -20deg, $success-2, $success-8);
}

.btn.btn-info {
  @include btnPrimaryTheme($info-5, -20deg, $info-2, $info-8);
}

.btn.btn-warning {
  @include btnPrimaryTheme($warning-5, 0deg, $warning-2, $warning-8);
}

.btn.btn-danger {
  @include btnPrimaryTheme($danger-5, 20deg, $danger-2, $danger-8);
}

.btn.btn-primary:disabled,
.btn.btn-default:disabled,
.btn.btn-success:disabled,
.btn.btn-info:disabled,
.btn.btn-warning:disabled,
.btn.btn-danger:disabled {
  @include btnDisabled();
}

/*
  BUTTON SIZING
*/

.btn.btn-lg {
  font-size: $fs-4;
  padding: 10px 20px;
}

.btn {
  font-size: $fs-3;
  padding: 8px 16px;
}

.btn.btn-sm {
  font-size: $fs-2;
  padding: 6px 12px;
}

.btn.btn-xs {
  font-size: $fs-1;
  padding: 4px 8px;
}
