@import 'projects/laji-ui/src/lib/vars';
@import 'projects/laji-ui/src/lib/mixins/buttons';

/*
  BUTTON STYLING
*/

.btn, button.btn, a.btn {
  @include btn();

  &.btn-default {
    @include btnSecondary();
  }

  &.btn-primary {
    @include btnPrimary();
  }

  &.btn-success {
    @include btnSuccess();
  }

  &.btn-info {
    @include btnInfo();
  }

  &.btn-warning {
    @include btnWarning();
  }

  &.btn-danger {
    @include btnDanger();
  }

  &.btn-primary:disabled,
  &.btn-default:disabled,
  &.btn-success:disabled,
  &.btn-info:disabled,
  &.btn-warning:disabled,
  &.btn-danger:disabled {
    @include btnDisabled();
  }
}


/*
  BUTTON SIZING
*/

.btn.btn-lg, .btn-group-lg > .btn {
  font-size: $fs-3;
  padding: 8px 16px;
}

.btn {
  font-size: $fs-2;
  padding: 5px 10px;
}

.btn.btn-sm, .btn-group-sm > .btn {
  font-size: $fs-1;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn.btn-xs, .btn-group-xs > .btn {
  font-size: $fs-1;
  padding: 3px 6px;
  border-radius: 3px;
}

/*
  BUTTON GROUP
*/

.btn-group {
  box-shadow: 0 1px 3px 0 rgba($neutral-9, 0.3);

  .btn, button.btn, a.btn {
    box-shadow: none;
  }
  .btn+.btn {
    margin: 0;
  }

  .btn:not(:last-child) {
    border-right: 1px solid $neutral-4;
  }
}


/*
  DROPDOWN
*/

.dropdown-menu > .active > a {
  background: $primary-5;
}

/*
  LIST
*/

.list-group-item.active {
  &, &:focus, &:active, &:hover {
    background: $primary-5;
  }
}
