<laji-spinner [spinning]="loading" [overlay]="true">
  <ng-container *ngIf="images$ | async; let images">
    <div *ngIf="images.length === 0">{{ 'observation.form.noImages' | translate }}</div>
    <laji-image-gallery [showPopover]="showPopover" [showViewSwitch]="showViewSwitch" [view]="view" [modalImages]="images" [eventOnClick]="eventOnImageClick" (select)="selected.emit($event)"></laji-image-gallery>
  </ng-container>
  <laji-paginator *ngIf="showPaginator && (!showPaginatorOnlyWhenNeeded || (!loading && total > pageSize))"
                  [page]="page" [count]="total"
                  [size]="pageSize"
                  (change)="pageChanged($event)"
  ></laji-paginator>
</laji-spinner>
