<h1>Trait search</h1>
<p>Browse, search and download trait data published on the FinBIF Trait Database.</p>

<laji-trait-search-filters
  [initialValue]="initialFilters"
  (filterChange)="onFilterChange($event)"
  (searchClicked)="onFilterSearchClicked()"
></laji-trait-search-filters>

<a class="btn btn-default" [href]="getDownloadUrl()" download="traits.zip">Download</a>

<lu-datatable
  [rows]="searchResult?.res.results ?? []"
  [columns]="[
    { title: 'Type', prop: 'subject.type', sortable: false },
    { title: 'Taxon', prop: 'subjectFinBIFTaxon.scientificName', sortable: false },
    { title: 'Life stage', prop: 'subject.lifeStage', sortable: false },
    { title: 'Count', prop: 'subject.individualCount', sortable: false },
    { title: 'Country', prop: 'subject.country', sortable: false },
    { title: 'Date begin', prop: 'subject.dateBegin', sortable: false },
    { title: 'Date end', prop: 'subject.dateEnd', sortable: false },
    { title: 'Subject id', prop: 'subject.id', sortable: false },
    { title: 'Kingdom', prop: 'subject.kingdom', sortable: false },
    { title: 'Author', prop: 'subject.author', sortable: false },
    { title: 'Functional group name', prop: 'subject.functionalGroupName', sortable: false },
  ]"
  [defaultColumns]="[0, 1, 2, 3, 4, 5, 6]"
  [totalPages]="searchResult?.res.total ?? 1"
  [currentPageIdx]="currentPageIdx"
  [loading]="loading"
  [ghostCount]="pageSize"
  [sorts]="searchResult?.sorts ?? []"
  (pageChange)="onChangePageIdx($event)"
  (sortChange)="onSort($event)"
></lu-datatable>
