<div class="d-flex flex-gap-3">
  <button
    class="btn btn-default"
    [luPopover]="searchFilters"
    [rootElement]="'body'"
    [mode]="'click'"
    placement="bottom"
  >
    <i class="glyphicon glyphicon-wrench"></i>
    Filters
  </button>
  <a class="btn btn-default" [href]="getDownloadUrl()" download="traits.zip">
    <i class="glyphicon glyphicon-download"></i>
    Download
  </a>
</div>

<lu-datatable
  [rows]="$any(searchResult?.res?.results) ?? []"
  [columns]="columns"
  [defaultColumns]="[0, 1, 2, 3, 4, 5, 6]"
  [totalPages]="searchResult?.res?.total ?? 1"
  [currentPageIdx]="currentPageIdx"
  [loading]="loading"
  [ghostCount]="pageSize"
  [sorts]="searchResult?.sorts ?? []"
  (pageChange)="onChangePageIdx($event)"
  (sortChange)="onSort($event)"
></lu-datatable>

<ng-template #searchFilters>
  <laji-trait-search-filters
    class="laji-page"
    [initialValue]="initialFilters"
    [disabled]="getDisabledFilters()"
    (filterChange)="onFilterChange($event)"
    (searchClicked)="onFilterSearchClicked()"
  ></laji-trait-search-filters>
</ng-template>
