<h1>Trait search</h1>
<p>Browse, search and download trait data published on the FinBIF Trait Database.</p>

<laji-trait-search-filters
  [initialValue]="initialFilters"
  (filterChange)="onFilterChange($event)"
  (searchClicked)="onFilterSearchClicked()"
></laji-trait-search-filters>

<a class="btn btn-default" [href]="getDownloadUrl()" download="traits.zip">Download</a>

<lu-datatable
  [rows]="$any(searchResult?.res?.results) ?? []"
  [columns]="columns"
  [defaultColumns]="[0, 1, 2, 3, 4, 5, 6]"
  [totalPages]="searchResult?.res?.total ?? 1"
  [currentPageIdx]="currentPageIdx"
  [loading]="loading"
  [ghostCount]="pageSize"
  [sorts]="searchResult?.sorts ?? []"
  (pageChange)="onChangePageIdx($event)"
  (sortChange)="onSort($event)"
></lu-datatable>
