<ng-container *ngFor="let name of ['vernacularName', 'alternativeVernacularName', 'obsoleteVernacularName', 'synonyms', 'misappliedName', 'tradeName']; let i = index">
  <laji-taxon-synonyms *ngIf="name === 'synonyms' && taxonHasSynonymKey(_taxon)"
  [taxon]="_taxon"
  [synonymTypes]="synonymTypes"
  [hasOtherNamesBefore]="hasOtherNamesBefore(['vernacularName', 'alternativeVernacularName', 'obsoleteVernacularName'])"
  ></laji-taxon-synonyms>
  <ng-container *ngIf="name !== 'synonyms' && name !=='misappliedName'">
    <laji-taxon-info-row
      *ngIf="availableLangs[name].length > 0"
      [label]="('MX.' + name) | label">
      <ul>
        <li *ngFor="let lang of availableLangs[name]">
          {{ _taxon[name] | multiLang: false:lang | values }} ({{ lang }})
        </li>
      </ul>
    </laji-taxon-info-row>
  </ng-container>
</ng-container>
