<div class="annotations">
  <laji-spinner [spinning]="!annotations"></laji-spinner>
  <div class="annotation" *ngFor="let annotation of annotations">
    <div class="row">
      <div class="col-xs-6 row-title">
        {{annotation.type | label}}:
        <span *ngIf="annotation.type === types.TypeTaxon">
          {{annotation.annotationClass | label}}
        </span>
      </div>
      <div class="col-xs-6">
        <span class="person pull-right">
          {{annotation.annotationByPerson | users}}
          <button
            type="button"
            class="btn btn-danger btn-xs"
            (click)="onDelete.emit(annotation)"
            *ngIf="annotation.annotationByPerson === personID">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="row" *ngIf="annotation.taxon">
      <div class="col-xs-12">
        {{'MAN.taxon' | label}}:
        {{annotation.taxon}}
      </div>
    </div>
    <p class="content" *ngIf="annotation.notes">
      {{annotation.notes}}
    </p>
  </div>
  <div *ngIf="annotations && annotations.length === 0">
    {{'annotation.none' | translate}}
  </div>
</div>
