.annotation {
  border-bottom: 1px solid #ededed;
  margin: 0 -5px;
  padding: 3px 5px;
  min-height: 50px;
  background-color: #f9f9f9;
}
.annotation:last-of-type {
  border-bottom: none;
}
.odd {
  background-color: #f4f4f4;
}
