@if (value) {
  @switch (value.status) {
    @case ('ok') {
      <span class="label label-success">
        Ok
      </span>
    }
    @case ('valid') {
      <span class="label label-default" [luPopover]="'No errors' | translate" rootElement="body" placement="right">
        {{ 'No errors' | translate }}
      </span>
    }
    @case ('invalid') {
      <span class="label label-danger link" [luPopover]="error" rootElement="body" placement="right">
        {{ 'error' | translate }}
      </span>
    }
    @case ('error') {
      <span class="label label-danger link" [luPopover]="error" rootElement="body" placement="right">
        {{ 'error' | translate }}
      </span>
    }
    @case ('ignore') {
      <span class="label label-warning link" [luPopover]="'excel.skip-row' | translate" rootElement="body" placement="right">
        {{ 'excel.skip-status' | translate }}
      </span>
    }
  }
}
<ng-template #error>
  <laji-error-list [errors]="value!.error" [fields]="fields"></laji-error-list>
</ng-template>
