<div>
  <label>
    <laji-checkbox
      [value]="state.asObserver"
      (valueChange)="onAsObserverChange($event)">
    </laji-checkbox>
    {{ 'observation.form.asObserver' | translate }}
  </label>
  <laji-info>
    {{ 'observation.info.asObserver' | translate }}
  </laji-info>
</div>
<div>
  <label>
    <laji-checkbox [value]="state.asEditor"
      (valueChange)="onAsEditorChange($event)">
    </laji-checkbox>
    {{ 'observation.form.asEditor' | translate }}
  </label>
  <laji-info>
    {{ 'observation.info.asEditor' | translate }}
  </laji-info>
</div>
<div>
  <label>
    <laji-checkbox [value]="state.asNotEditorOrObserver"
      (valueChange)="OnAsNotEditorOrObserver($event)">
    </laji-checkbox>
    {{ 'observation.form.excludeOwn' | translate }}
  </label>
  <laji-info>
    {{ 'observation.info.asNotEditororObserver' | translate }}
  </laji-info>
</div>
<ng-container *ngIf="state.asEditor || state.asObserver || state.quality">
  <laji-select
    [selected]="state.quality ? [state.quality] : []"
    (selectedChange)="onIncludeQualityIssuesChange($event)"
    [multiple]="false"
    [useFilter]="false"
    [title]="'observation.form.qualityIssues' | translate"
    [info]="'observation.info.qualityIssues' | translate"
    [options]="[
      {id: 'BOTH', value: ('observation.form.qualityIssuesBOTH' | translate)},
      {id: 'NO_ISSUES', value: ('observation.form.qualityIssuesNO_ISSUES' | translate)},
      {id: 'ONLY_ISSUES', value: ('observation.form.qualityIssuesONLY_ISSUES' | translate)}
    ]"></laji-select>
</ng-container>
