@import '../../../../styles/_styles.scss'; 

div{
    &.annotation{
        margin-bottom:40px;
        div {
            &.annotation-item {
                background-color: $main-gray;
                min-height: 400px;
                @include media-query-phone {
                    min-height: auto;
                }
            }
        }
    }
}