<lu-sidebar>
  <nav class="mt-4">
    <lu-sidebar-link [link]="['main'] | localize" routerLinkActive>
      Main
    </lu-sidebar-link>
    <lu-sidebar-link [link]="['browse'] | localize" routerLinkActive>
      Browse
    </lu-sidebar-link>
    <lu-sidebar-link [link]="['datasets'] | localize" routerLinkActive>
      Datasets
    </lu-sidebar-link>
    <lu-sidebar-link [link]="['traits'] | localize" routerLinkActive>
      Traits
    </lu-sidebar-link>
    <lu-sidebar-link [link]="['about'] | localize" routerLinkActive>
      About
    </lu-sidebar-link>
  </nav>
  <main class="d-flex laji-page trait-db-main"><router-outlet></router-outlet></main>
</lu-sidebar>
