<div class="d-flex justify-end">
  <button class="btn btn-default close-btn m-4" (click)="onCloseModal()"><span class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="lappi-modal-container">
  <ngx-datatable class="material" [rows]="rows" [columns]="cols"></ngx-datatable>
</div>
<ng-template #YKJ let-row="row">
  <a [routerLink]="'/grid/'+ row.coordinates" (click)="onLinkClick()">{{ row.coordinates }}</a>
</ng-template>
<ng-template #alignRight let-value="value">
  <div style="text-align: right;">{{ value }}</div>
</ng-template>
