@import 'vars';

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active,
:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group
{
  background: $primary-2 !important;
}

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group {
  background: $primary-3 !important;
}

.glyphicon-triangle-right {
  color: $primary-5;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
}

.map-viewer {
  min-height: 550px;
  min-width: 550px;
  max-width: 50%;
  max-width: 50%;
  margin: 4px;
}