<div *ngIf="lappiStats$ | async; let stats; else loading" class="container">
  <h1>Pohjois-Lapin suurruudut</h1>
  <img class="d-block mb-4" src="https://cdn.laji.fi/images/bird-society-lappi.png" alt="Suurruudut">
  <p>Lintuatlaksessa tavoitteena on, että Pohjois-Lapin (YKJ 740 ja siitä pohjoiseen) jokaisen 50 km × 50 km suurruudun atlasruuduista vähintään 75 % tutkitaan tyydyttävästi.</p>
  <p>Lapissa tarvitaan koko maan lintuharrastajien apua. Käy kesällä Lapissa, pysähtele usein ja ilmoita kaikista lajeista atlashavainto. Tärkeimmät puutealueet mainitaan <a href='https://www.birdlife.fi/suojelu/seuranta/lintuatlas/lapin-suurruutujen-retkeily/' target="_blank">Lapin suurruutujen retkeilysivulla</a>.</p>
  <ngx-datatable
    class="material mb-8"
    [rows]="stats"
    [columns]="cols"
    [selectionType]="'single'"
    (select)="onTableRowSelect($event)"
  ></ngx-datatable>
</div>
<ng-template #loading>
  <div class="container"><laji-spinner class="d-block m-6"></laji-spinner></div>
</ng-template>
<ng-template #linkCell>
  <span class="glyphicon glyphicon-triangle-right"></span>
</ng-template>
<ng-template #ykjCell let-row="row">
  {{ row.latMin + ':' + row.lonMin + '–' + row.latMax + ':' + row.lonMax }}
</ng-template>
<ng-template #percentageCell let-value="value">
  <div style="text-align: right;">{{ round(value) }} %</div>
</ng-template>
