<div class="cell-value-map-wrap">
  <p>
    {{ 'excel.map.value-intro' | translate }}
  </p>

  <h4 *ngIf="field">{{ field.fullLabel }}</h4>
  <ng-container [ngSwitch]="special">
    <ng-container *ngSwitchCase="specials.person">
      <laji-special-friend
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
      ></laji-special-friend>
    </ng-container>
    <ng-container *ngSwitchCase="specials.geometry">
      <laji-special-geometry
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
        (done)="analyseNextColumn()"
      ></laji-special-geometry>
    </ng-container>
    <ng-container *ngSwitchCase="specials.taxonID">
      <laji-special-taxon-id
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
      ></laji-special-taxon-id>
    </ng-container>
    <ng-container *ngSwitchCase="specials.informalTaxonGroupID">
      <laji-special-informal-taxon-groups
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
      ></laji-special-informal-taxon-groups>
    </ng-container>
    <ng-container *ngSwitchCase="specials.unitTaxon">
      <laji-special-taxon-name
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
      ></laji-special-taxon-name>
    </ng-container>
    <ng-container *ngSwitchCase="specials.namedPlaceID">
      <laji-special-named-places
        [formID]="formID"
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
      ></laji-special-named-places>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <laji-cell-value-select
        [field]="field"
        [invalidValues]="invalid"
        [mapping]="valueMap[field.key]"
        (mappingChanged)="onMapping($event)"
      ></laji-cell-value-select>
    </ng-container>
  </ng-container>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary pull-right" [disabled]="!allMapped" (click)="analyseNextColumn()">{{ 'paginator.next' | translate }}</button>
    </div>
  </div>
</div>
