<table class="table">
  <tr>
    <th>
      {{'excel.map.value-user' | translate}}
    </th>
    <th>
      {{'excel.map.value-mapped' | translate}}
    </th>
  </tr>
  <tr *ngFor="let value of invalidValues">
    <td>
      <div class="form-control-static">
        {{value}}
      </div>
    </td>
    <td>
      <laji-mapping-select
        [disabled]="validValues.length === 0"
        [value]="currentValues && currentValues[value] || ''"
        [options]="validValues"
        (selected)="valueMapped(value, $event)"></laji-mapping-select>
    </td>
  </tr>
</table>
