<div *ngIf="userService.isLoggedIn">
  <h3>{{'observation.download.publicTitle' | translate}}</h3>
  <div class="form-group">
    <div class="col-sm-12" *ngIf="loadLimit < count.count">
      {{'observation.export.tooMany' | translate}}
    </div>
    <div class="col-sm-12" *ngIf="count.count == 0">
      {{'observation.export.tooLittle' | translate}}
    </div>
    <div class="col-sm-12" *ngIf="loadLimit >= count.count && count.count > 0">
      <p [innerHtml]="'result.load.introPublic' | translate:{private: (count.private | formattedNumber:'&nbsp;'), count: (count.count | formattedNumber:'&nbsp;')} ">
      </p>
      <div *ngIf="requests['download'] !== 'sent'">
        <alert *ngIf="requests['download'] === 'error'" [dismissible]="true">
          {{'observation.download.error' | translate}}
        </alert>
        <button class="btn btn-default" (click)="makePublicRequest()">{{'observation.download.loadPublic' | translate}}</button>
      </div>
      <div *ngIf="requests['download'] === 'sent'">
        {{'result.load.thanksPublic' | translate}}
      </div>
    </div>
  </div>
  <h3>{{'observation.download.privateTitle' | translate}}</h3>
  <div *ngIf="!showRequest">
    <span [innerHtml]="'observation.download.wip' | translate"></span>
  </div>
  <div *ngIf="showRequest">
    <div class="form-group">
      <div class="col-sm-12" *ngIf="loadLimit < count.private">
        {{'observation.export.tooMany' | translate}}
      </div>
      <div class="col-sm-12" *ngIf="loadLimit >= count.private">
        <p [innerHtml]="'result.load.introPrivate' | translate:{private: (count.private | formattedNumber:'&nbsp;'), count: (count.count | formattedNumber:'&nbsp;')}"></p>
        <div *ngIf="requests['downloadApprovalRequest'] !== 'sent'">
          <alert *ngIf="requests['downloadApprovalRequest'] === 'error'" [dismissible]="true">
            {{'observation.download.error' | translate}}
          </alert>
          <button class="btn btn-default" (click)="makePrivateRequest()">{{'observation.download.loadPrivate' | translate}}</button>
        </div>
        <div *ngIf="requests['downloadApprovalRequest'] === 'sent'">
          {{'result.load.thanksRequest' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!userService.isLoggedIn">
  {{'force.login' | translate}}
</div>