<h3>
  Tallenna havaintoja massatallennuspohjalla
</h3>

<div class="row data-container">
  <div class="col-sm-8">
    <input type="file" class="form-control" (change)="onFileChange($event)" multiple="false" />
  </div>
</div>

<div class="row data-container" *ngIf="!formID && bstr">
  <div class="col-sm-5">
    <laji-form-select [formID]="formID" (selected)="formSelected($event)"></laji-form-select>
  </div>
</div>
<alert [type]="'success'" *ngIf="status === 'doneOk'">
  Havaintoerät tallennettu
</alert>
<alert [type]="'danger'" *ngIf="status === 'doneWithErrors'">
  Tallennus epäonnistui
</alert>
<alert [type]="'danger'" *ngIf="status === 'invalidFileType'">
  <strong>Virheellinen tiedosto formaatti.</strong> Tällä hetkellä tuettuina ovat vain Excel sekä OpenDocument lomakeet.
</alert>
<ng-container *ngIf="formID && dataColumns && data">
  <div class="data-container">
    <laji-datatable
      #dataTable
      class="import-table"
      [showRowAsLink]="false"
      [showFooter]="false"
      [virtualScrolling]="true"
      [clientSideSorting]="false"
      [height]="'50vh'"
      [rows]='data'
      [count]="data.length"
      [page]="1"
      [pageSize]="data.length"
      [columns]="dataColumns">
    </laji-datatable>
  </div>
  <div class="row data-container">
    <div class="col-sm-12">
      <strong *ngIf="valid; else invalid">
        Valmis tallennettavaksi
      </strong>
      <ng-template #invalid>
        <button type="button" [disabled]="status !== 'importReady'" (click)="validate()" class="btn btn-primary">Tarkista data</button>
      </ng-template>

      <button type="button" [disabled]="status !== 'importReady' || errors" (click)="save(publ)" class="btn btn-success pull-right action">{{buttonLabel('save') | translate}}</button>
      <button type="button" [disabled]="status !== 'importReady' || errors" (click)="save(priv)" class="btn btn-warning pull-right action">{{buttonLabel('temp') | translate}}</button>
    </div>
  </div>
</ng-container>

<!-- DEBUG -->
<h5>Debug:</h5>
{{status}}
<ng-container *ngIf="errors">
Errors:
<pre>
{{errors | json}}
</pre>
</ng-container>

<ng-container *ngIf="parsedData">
Document:
<pre *ngFor="let parsed of parsedData">
{{parsed.document | json}}
</pre>
</ng-container>
<!-- END DEBUG -->

<ng-template let-rowIndex="rowIndex" #rowNumber>
  {{rowIndex + 2}}
</ng-template>

<div class="modal fade" bsModal #mappingModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <laji-col-mapper
          *ngIf="status === 'colMapping'"
          (mappingDone)="colMappingDone($event)"
          [fields]="fields"
          [headers]="header"
          [colMapping]="colMap"
          (fieldSelected)="mapCol($event)"></laji-col-mapper>
        <laji-cell-value-mapping
          *ngIf="status === 'dataMapping'"
          (done)="rowMappingDone($event)"
          [fields]="fields"
          [data]="data"
          [colMapping]="colMap"></laji-cell-value-mapping>
      </div>
    </div>
  </div>
</div>
