@import 'vars';

:host {
  display: block;

  background-color: $primary-2;
  border-bottom: 1px solid $primary-3;

  color: $primary-8;
}

.global-message {
  padding-top: 15px;
  cursor: pointer;
  &:hover {
    background-color: lighten($primary-2, 1%);
  }
}

.global-message-inner {
  padding: 10px 40px;
}

.global-message-title {
  margin-top: 0;
  font-size: $fs-5;
  font-weight: 600;
  color: $primary-7;
}
