<bsg-identification-panel
  *ngFor="let identification of identifications; let idx=index"
  [idx]="idx"
  [recording]="recording"
  [identification]="identification"
  [buttonsDisabled]="buttonsDisabled"
  [drawBoxActive]="drawBoxClickedByIdx[idx]"
  [open]="panelOpenById[identification.id]"
  [componentId]="componentId + '_' + idx + '_'"
  [birdRectangleColor]="birdRectangleColor"
  [overlappingBirdRectangleColor]="overlappingBirdRectangleColor"
  [spectrogramConfig]="spectrogramConfig"
  (identificationChange)="onIdentificationChange(idx, $event)"
  (deleteClick)="deleteRow(idx)"
  (drawBoxClick)="toggleDrawBox(idx)"
  (deleteBoxClick)="deleteBoxClick.emit({rowIndex: idx, boxIndex: $event})"
  (openChange)="panelOpenById[identification.id] = $event"
>
</bsg-identification-panel>
