<bsg-identification-panel
  *ngFor="let identification of identifications; let idx=index"
  [recording]="recording"
  [identification]="identification"
  [buttonsDisabled]="loading"
  [drawActive]="drawClickedByIdx[idx]"
  [open]="panelOpenByIdx[idx]"
  [componentId]="componentId + '_' + idx + '_'"
  (identificationChange)="onIdentificationChange(idx, $event)"
  (deleteClick)="deleteRow(idx)"
  (toggleDrawClick)="toggleDrawButton(idx)"
  (deleteBoxClick)="deleteBoxClick.emit({rowIndex: idx, boxIndex: $event})"
>
</bsg-identification-panel>
