<bsg-identification-panel
  *ngFor="let identification of identifications; let idx=index"
  [recording]="recording"
  [identification]="identification"
  [buttonsDisabled]="loading"
  [drawActive]="drawClickedByIdx[idx]"
  [open]="panelOpenById[identification.id]"
  [componentId]="componentId + '_' + idx + '_'"
  [birdRectangleColor]="birdRectangleColor"
  [overlappingBirdRectangleColor]="overlappingBirdRectangleColor"
  (identificationChange)="onIdentificationChange(idx, $event)"
  (deleteClick)="deleteRow(idx)"
  (toggleDrawClick)="toggleDrawButton(idx)"
  (deleteBoxClick)="deleteBoxClick.emit({rowIndex: idx, boxIndex: $event})"
  (openChange)="panelOpenById[identification.id] = $event"
>
</bsg-identification-panel>
