.navbar-link, .navbar-language-selection .language-toggle {
  color: #ffffff;
  background: none !important;
}

:host .dropdown-menu .navbar-link {
  color: #333;
}

.navbar-language-selection {
  padding: 16px 15px 0 0;
}

.navbar-language-selection .language-toggle {
  display: inline-block;
  padding-left: 4px;
}

.glyphicon-globe {
  color: #fff;
}
