<div class="navbar-language-selection">
  <div dropdown>
    <i class="glyphicon glyphicon-globe"></i>
    <a dropdownToggle class="link language-toggle">
      <span *ngIf="'fi' === translate.currentLang">
        FI
      </span>
      <span *ngIf="'sv' === translate.currentLang">
        SV
      </span>
      <span *ngIf="'en' === translate.currentLang">
        EN
      </span>
    </a>
    <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu right">
      <li *ngIf="'fi' !== translate.currentLang" role="menuitem">
        <a class="navbar-link link" (click)="switchLang('fi')">Suomeksi</a>
      </li>
      <li *ngIf="'sv' !== translate.currentLang" role="menuitem">
        <a class="navbar-link link" (click)="switchLang('sv')">På svenska</a>
      </li>
      <li *ngIf="'en' !== translate.currentLang" role="menuitem">
        <a class="navbar-link link" (click)="switchLang('en')">In English</a>
      </li>
    </ul>
  </div>
</div>
