.env {
  position: fixed;
  left:0;
  top:0;
  width: 50px;
  height: 50px;
}

.env.beta, .env.prod  {
  background-image: url("/static/images/beta.png");
}

.env.dev, .env.staging {
  background-image: url("/static/images/dev.png");
}

.navbar-profile {
  padding: 15px 10px 0 7px;
}

.navbar {
  margin-bottom: 0;
  background-color: #3498DB;
  border-color: #2980B9;
}

.navbar .navbar-nav {
  float: left;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li.open > a,
.navbar-inverse .navbar-brand:hover {
  background-color: #2980B9;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #2980B9;
  border-color: #2980B9;
}

.navbar-inverse .dropdown-menu li[role="menuitem"] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #2980B9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #2980B9;
}

.navbar-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-text .navbar-link {
  color: #fff;
}

.navbar-toggle {
  border-color: #2980B9
}

.navbar-brand {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
}

#navbar .active a {
  color: #ffffff;
  font-weight: 500;
  background-color: #2980B9;
}

#navbar a {
  color: #ffffff;
  font-weight: 500;
}

#navbar .dropdown-menu a {
  color: #333;
}

.navbar-link, .navbar-profile .language-toggle {
  color: #ffffff;
  background: none !important;
}

.authority.navbar {
  background-color: #DB2A3A;
}
.authority #navbar .active a,
.authority.navbar-inverse .navbar-nav > li > a:hover,
.authority.navbar-inverse .navbar-nav > li.open > a,
.authority.navbar-inverse .navbar-brand:hover,
.authority.navbar-inverse .navbar-toggle:focus,
.authority.navbar-inverse .navbar-toggle:hover,
.authority.navbar-inverse .navbar-nav > .active > a,
.authority.navbar-inverse .navbar-nav > .active > a:focus,
.authority.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #ab2f2d;
}

.authority.navbar,
.authority.navbar-inverse .navbar-toggle:focus,
.authority.navbar-inverse .navbar-toggle:hover,
.authority .navbar-toggle,
.authority #navbar .active a,
.authority.navbar-inverse .navbar-collapse,
.authority.navbar-inverse .navbar-form,
.authority.navbar-inverse .navbar-collapse,
.authority.navbar-inverse .navbar-form {
  border-color: #DB3E3C;
}

@media only screen and (min-width : 768px) {
  .navbar-inverse .dropdown-menu li[role="menuitem"]:hover {
    background-color: #dfdfdf;
  }

  .navbar-inverse .dropdown-menu {
    background-color: #f5f5f5;
  }
}
