.env {
  position: fixed;
  left:0;
  top:0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.env.beta, .env.prod  {
  background-image: url("/static/images/beta.png");
}

.env.dev, .env.staging {
  background-image: url("/static/images/dev.png");
}

.search {
  max-width: 170px;
  margin: 10px 5px 0 0;
}

.user {
  position: relative;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  position: absolute;
  background-color: #d9534f;
  right: 1px;
  top: 7px;
  font-size: 0.75em;
}

.notification-pager {
  width: 100%;
}
.notification-pager .btn {
  width: 50%;
}

.navbar-profile {
  padding: 15px 10px 0 7px;
}

.navbar {
  margin-bottom: 0;
  background-color: #3498DB;
  border-color: #2980B9;
}

.navbar .navbar-nav {
  float: left;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li.open > a,
.navbar-inverse .navbar-brand:hover {
  background-color: #2980B9;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #2980B9;
  border-color: #2980B9;
}

.navbar-inverse .dropdown-menu li[role="menuitem"] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #2980B9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #2980B9;
}

.navbar-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-text .navbar-link {
  color: #fff;
}

.navbar-toggle {
  border-color: #2980B9
}

.navbar-brand {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
}

#navbar .active a {
  color: #ffffff;
  font-weight: 500;
  background-color: #2980B9;
}

#navbar a {
  color: #ffffff;
  font-weight: 500;
}

.navbar-link, .navbar-profile .language-toggle {
  color: #ffffff;
  background: none !important;
}

.red-theme.navbar {
  background-color: #d62022;
}
.red-theme #navbar .active a,
.red-theme.navbar-inverse .navbar-nav > li > a:hover,
.red-theme.navbar-inverse .navbar-nav > li.open > a,
.red-theme.navbar-inverse .navbar-brand:hover,
.red-theme.navbar-inverse .navbar-toggle:focus,
.red-theme.navbar-inverse .navbar-toggle:hover,
.red-theme.navbar-inverse .navbar-nav > .active > a,
.red-theme.navbar-inverse .navbar-nav > .active > a:focus,
.red-theme.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #bf2022;
}

.red-theme.navbar,
.red-theme.navbar-inverse .navbar-toggle:focus,
.red-theme.navbar-inverse .navbar-toggle:hover,
.red-theme .navbar-toggle,
.red-theme #navbar .active a,
.red-theme.navbar-inverse .navbar-collapse,
.red-theme.navbar-inverse .navbar-form,
.red-theme.navbar-inverse .navbar-collapse,
.red-theme.navbar-inverse .navbar-form {
  border-color: #d62022;
}
.red-theme.navbar {
  box-shadow: 0 2px 5px #000;
}

@media only screen and (min-width : 768px) {
  #navbar .dropdown-menu a {
    color: #333;
  }

  .navbar-inverse .dropdown-menu li[role="menuitem"]:hover {
    background-color: #dfdfdf;
  }

  .navbar-inverse .dropdown-menu {
    background-color: #f5f5f5;
  }
}

@media only screen and (min-width : 1200px) {
  .search {
    max-width: 200px;
  }

  :host >>> .omni.expand {
    width: 200px !important;
  }
}
