@import '../../../styles/variables';

#navbar {
  flex: none;
}

.env {
  position: absolute;
  left:0;
  top:0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.env.beta, .env.prod  {
  background-image: url("/static/images/beta.png");
}

.env.dev, .env.staging {
  background-image: url("/static/images/dev.png");
}
.search {
  max-width: 170px;
  margin: 10px 5px 0 0;
}

.user {
  position: relative;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  position: absolute;
  background-color: #d9534f;
  right: 1px;
  top: 7px;
  font-size: 0.75em;
}

.navbar-profile {
  padding: 15px 10px 0 7px;
}

.navbar {
  margin-bottom: 0;
  background-color: $color-main;
  border-color: darken($color-main, 10%);
}

.navbar .navbar-nav {
  float: left;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li.open > a,
.navbar-inverse .navbar-brand:hover {
  background-color: darken($color-main, 10%);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: darken($color-main, 10%);
  border-color: darken($color-main, 10%);
}

.navbar-inverse .dropdown-menu li[role="menuitem"] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: darken($color-main, 10%);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: darken($color-main, 10%);
}

.navbar-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-text .navbar-link {
  color: #fff;
}

.navbar-toggle {
  border-color: darken($color-main, 10%)
}

.navbar-brand {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
}

#navbar .active a {
  color: #ffffff;
  font-weight: 500;
  background-color: darken($color-main, 10%);
}

#navbar a {
  color: #ffffff;
  font-weight: 500;
}

.navbar-link, .navbar-profile .language-toggle {
  color: #ffffff;
  background: none !important;
}

.red-theme {
  .navbar-text .navbar-link {
    color: $neutral-8;
  }
  
  .navbar-brand {
    color: $neutral-8;
  }
  
  #navbar .active a {
    color: $neutral-7;
    background-color: $neutral-3;
  }
  
  #navbar a {
    color: $neutral-8;
  }
  
  .navbar-link, .navbar-profile .language-toggle {
    color: $neutral-8;
  }
}

.red-theme.navbar {
  color: $neutral-8;
  background-color: $neutral-1;
  & > .container-fluid {
    border-top: 4px solid #d62022;
  }
}
.red-theme #navbar .active a,
.red-theme.navbar-inverse .navbar-nav > li > a:hover,
.red-theme.navbar-inverse .navbar-nav > li.open > a,
.red-theme.navbar-inverse .navbar-brand:hover,
.red-theme.navbar-inverse .navbar-toggle:focus,
.red-theme.navbar-inverse .navbar-toggle:hover,
.red-theme.navbar-inverse .navbar-nav > .active > a,
.red-theme.navbar-inverse .navbar-nav > .active > a:focus,
.red-theme.navbar-inverse .navbar-nav > .active > a:hover {
  color: $neutral-7;
  background-color: $neutral-3;
}

.red-theme.navbar,
.red-theme.navbar-inverse .navbar-toggle:focus,
.red-theme.navbar-inverse .navbar-toggle:hover,
.red-theme .navbar-toggle,
.red-theme #navbar .active a,
.red-theme.navbar-inverse .navbar-collapse,
.red-theme.navbar-inverse .navbar-form,
.red-theme.navbar-inverse .navbar-collapse,
.red-theme.navbar-inverse .navbar-form {
  border-color: $neutral-3;
}
.red-theme.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.red-theme.navbar .navbar-toggle {
  border-color: $neutral-5;
  .icon-bar {
    background-color: $neutral-6;
  }
}

#navbar .dropdown-menu a {
  color: #333;
  @media only screen and (max-width: 900px) {
    color: $neutral-1;
  }
}

@media only screen and (max-width: 900px) {
  .red-theme.navbar #navbar {
    .dropdown-menu a {
      color: $neutral-6;
    }
    .divider {
      background-color: $neutral-4 !important;
    }
  }
}

:host ::ng-deep .red-theme.navbar #navbar laji-notifications header > a {
  @media only screen and (max-width: 900px) {
    color: $neutral-6;
  }
}


@media only screen and (max-width: 900px) {
  .navbar-nav > li{
    & > .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
  }

  .navbar-inverse .dropdown-menu li[role="menuitem"]:hover {
    background-color: #dfdfdf;
  }

  .navbar-inverse .dropdown-menu {
    background-color: #f5f5f5;
  }

  .link.user .name {
    display: inline !important;
  }

  .divider {
    background-color: $primary-4 !important;
  }
}

@media only screen and (min-width : 1200px) {
  .search {
    max-width: 200px;
  }

  :host >>> .omni.expand {
    width: 200px !important;
  }
}
