<nav class="navbar navbar-inverse navbar-fixed-top" [ngClass]="{authority: isAuthority}">
  <div class="env" [ngClass]="{beta: isProd, dev: !isProd}"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar" (click)="toggleMenu()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/'] | localize">LAJI.FI</a>
          <div class="visible-xs-inline-block pull-right search">
            <laji-omni-search
              [placeholder]="'search-bar.input' | translate"
              (visibleTaxon)="updateView()"
              [visible]="showSearch"
              [expand]="'right'"></laji-omni-search>
          </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse" [class.in]="openMenu">
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" *lajiAuthorities="false">
              <a [routerLink]="['/taxon'] | localize">{{ 'navigation.taxonomy' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/observation'] | localize" [queryParams]="{reset: true}">{{ 'navigation.observation' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']" *lajiAuthorities="true">
              <a [routerLink]="['/invasive'] | localize">{{ 'navigation.invasive' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/vihko'] | localize">{{ 'navigation.haseka' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']" *lajiAuthorities="false" dropdown>
              <a dropdownToggle class="link themes">
                {{ 'navigation.theme' | translate }}
              </a>
              <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
                <li role="menuitem">
                  <a [routerLink]="['/map'] | localize" class="navbar-link link">{{ 'navigation.map' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/ykj'] | localize" class="navbar-link link">{{ 'navigation.ykj' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/emk'] | localize" class="navbar-link link">{{ 'navigation.emk' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/nafi'] | localize" class="navbar-link link">{{ 'nafi.stats.title' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/theme/herpetology'] | localize" class="navbar-link link">{{ 'navigation.herpetology' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a href="https://satelliitti.laji.fi" class="navbar-link link">{{ 'navigation.satelliitti' | translate }}</a>
                </li>
              </ul>
            </li>
            <li *lajiAuthorities="false" class="hidden-sm">
              <a (click)="goToForum($event)" class="link" href="http://foorumi.laji.fi/">{{'Forum' | translate}}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li class="hidden-xs search">
              <laji-omni-search
                [placeholder]="'search-bar.input' | translate"
                (visibleTaxon)="updateView()"
                [visible]="showSearch"
                [expand]="'right'"></laji-omni-search>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="isLoggedIn" dropdown #userMenu="bs-dropdown">
              <a dropdownToggle class="link user">
                <span class="hidden-sm name"><small>{{(userService.getUser()|async)?.id | users}}</small></span>
                <i class="glyphicon glyphicon-user"></i>
                <span class="badge badge-danger" *ngIf="notificationsNotSeen > 0">{{notificationsNotSeen}}</span>
              </a>
              <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu right">
                <li role="menuitem">
                  <a [routerLink]="['/user'] | localize" class="navbar-link link">{{ 'navigation.user.profile' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/user/logout'] | localize" class="navbar-link link">{{ 'navigation.user.logout' | translate }}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">
                  {{'notification.title' | translate}}:
                  <span *ngIf="notifications?.lastPage > 1">
                    ({{notifications?.currentPage}} / {{notifications?.lastPage}})
                  </span>
                </li>
                <li role="menuitem"
                    *ngFor="let notification of notifications?.results; trackBy: trackNotification"
                    laji-notification
                    (notificationSeen)="markAsSeen($event)"
                    (removeNotification)="removeNotification($event)"
                    [notification]="notification"></li>
                <li *ngIf="notifications && notifications?.lastPage > 1">
                  <div class="btn-group notification-pager" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-default"
                            [disabled]="notifications.currentPage <= 1"
                            (click)="prevNotificationPage()">
                      <i class="glyphicon glyphicon-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default"
                            [disabled]="notifications.currentPage >= notifications.lastPage"
                            (click)="nextNotificationPage()">
                      <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </li>
            <li *ngIf="!isLoggedIn">
              <a href="#login" (click)="doLogin($event)">{{ 'navigation.user.login' | translate }}</a>
            </li>
            <li dropdown>
              <a dropdownToggle class="link language-toggle">
                <i class="glyphicon glyphicon-globe"></i>
                <span *ngIf="'fi' === translate.currentLang">
                  FI
                </span>
                <span *ngIf="'sv' === translate.currentLang">
                  SV
                </span>
                <span *ngIf="'en' === translate.currentLang">
                  EN
                </span>
              </a>
              <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu right">
                <li *ngIf="'fi' !== translate.currentLang" role="menuitem">
                  <a rel="alternate" hreflang="fi" class="navbar-link link" [routerLink]="[] | localize:'fi'" preserveQueryParams>Suomeksi</a>
                </li>
                <li *ngIf="'sv' !== translate.currentLang" role="menuitem">
                  <a rel="alternate" hreflang="sv" class="navbar-link link" [routerLink]="[] | localize:'sv'" preserveQueryParams>På svenska</a>
                </li>
                <li *ngIf="'en' !== translate.currentLang" role="menuitem">
                  <a rel="alternate" hreflang="en" class="navbar-link link" [routerLink]="[] | localize:'en'" preserveQueryParams>In English</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
