<nav class="navbar navbar-inverse navbar-fixed-top" [ngClass]="{authority: isAuthority}">
  <div class="env" [ngClass]="{beta: isProd, dev: !isProd}"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar" (click)="toggleMenu()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/']">LAJI.FI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" [class.in]="openMenu">
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" *lajiAuthorities="false">
              <a [routerLink]="['/taxon']">{{ 'navigation.taxonomy' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/observation']" [queryParams]="{reset: true}">{{ 'navigation.observation' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']" *lajiAuthorities="true">
              <a [routerLink]="['/invasive']">{{ 'navigation.invasive' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/vihko']">{{ 'navigation.haseka' | translate }}</a>
            </li>
            <li [routerLinkActive]="['active']" *lajiAuthorities="false" dropdown>
              <a dropdownToggle class="link themes">
                {{ 'navigation.theme' | translate }}
              </a>
              <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
                <li role="menuitem">
                  <a [routerLink]="['/map']" class="navbar-link link">{{ 'navigation.map' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/ykj']" class="navbar-link link">{{ 'navigation.ykj' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/emk']" class="navbar-link link">{{ 'navigation.emk' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a href="https://satelliitti.laji.fi" class="navbar-link link">{{ 'navigation.satelliitti' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a [routerLink]="['/nafi']" class="navbar-link link">{{ 'nafi.stats.title' | translate }}</a>
                </li>
              </ul>
            </li>
            <li *lajiAuthorities="false">
              <a (click)="goToForum($event)" class="link" href="http://foorumi.laji.fi/">{{'Forum' | translate}}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li [routerLinkActive]="['active']">
              <div class="navbar-profile" *ngIf="userService.isLoggedIn">
                <div dropdown>
                  <a dropdownToggle class="link language-toggle">
                    <span class="hidden-sm">{{(userService.getUser()|async)?.id | users}}</span>
                    <i class="glyphicon glyphicon-user"></i>
                  </a>
                  <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu right">
                    <li role="menuitem">
                      <a [routerLink]="['/user']" class="navbar-link link">{{ 'navigation.user.profile' | translate }}</a>
                    </li>
                    <li role="menuitem">
                      <a [routerLink]="['/user/logout']" class="navbar-link link">{{ 'navigation.user.logout' | translate }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#login" *ngIf="!userService.isLoggedIn" (click)="doLogin($event)">{{ 'navigation.user.login' | translate }}</a>
            </li>
            <li>
              <laji-lang-select></laji-lang-select>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
