<lu-sidebar [position]="'right'" [staticWidth]="300" *ngIf="vm$ | async; let vm" [menuTitle]="'observation.form.menuTitle' | translate" [luFillHeight]="{}" [displayNavHeader]="true">
  <main>
    <laji-technical-news></laji-technical-news>
    <laji-observation-result
      [resultBase]="formType"
      [visible]="visible"
      [skipUrlParameters]="skipUrlParameters"
      [basePath]="basePath"
      [lang]="translate.currentLang"
      [loadingUnits]="vm.loadingUnits"
      [loadingTaxa]="vm.loadingTaxa"
      [lgScreen]="vm.lgScreen"
      [speciesCount]="vm.countTaxa"
      [unitCount]="vm.countUnit"
      [active]="activeTab"
      [query]="vm.query"
      [listSettings]="settingsList$ | async"
      (listSettingsChange)="onListSettingsChange($event)"
      (queryChange)="updateQuery($event)"
      (locationSelect)="onLocationSelect($event)"
    ></laji-observation-result>
  </main>
  <div class="nav-header">
    <button class="btn btn-primary observation-search-btn" (click)="updateQuery(newQuery)" [disabled]="!newQueryHasChanges">
      {{ 'observation.search' | translate }}
    </button>
    <laji-observation-active
      [skip]="formType === 'sample' ? skipUrlParameters : []"
      [(query)]="newQuery"
      (queryChange)="updateQuery($event)"
      [queryType]="'observation'"
    ></laji-observation-active>
  </div>
  <nav>
    <ng-container [ngSwitch]="formType">
      <laji-form-sample
        *ngSwitchCase="'sample'"
        [query]="newQuery"
        [invasiveStatuses]="invasiveStatuses"
        (mapDraw)="draw($event)"
        (queryChange)="setNewQuery($event)"
      ></laji-form-sample>
      <laji-observation-form
        *ngSwitchDefault
        [query]="newQuery"
        [invasiveStatuses]="invasiveStatuses"
        (mapDraw)="draw($event)"
        (queryChange)="setNewQuery($event)"
      ></laji-observation-form>
    </ng-container>
  </nav>
</lu-sidebar>
