@if (!!types && types.length !== 0) {
  @if (showFacts) {
    <laji-row [title]="'viewer.types' | translate" value=" "></laji-row>
    @for (type of types; track type) {
      <div class="inset">
        <laji-type [type]="type" [showFacts]="showFacts"></laji-type>
      </div>
    }
  } @else {
    <laji-row [title]="'viewer.types' | translate">
      @for (type of types; track type) {
        <div>
          <laji-type [type]="type" [showFacts]="showFacts"></laji-type>
        </div>
      }
    </laji-row>
  }
}