.collection-link {
  padding-left: 5px;
}
.tree-filter {
  padding: 10px;
}
.tree-active-child span {
  opacity: 0.5;
}
.tree-active-exclusion {
  background: #ffbebe;
}
.tree-active-focused {
  filter: brightness(1.1)
}
::ng-deep {
  .scrollable-tree, .scrollable-tree tree-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
  .scrollable-tree tree-root tree-viewport  {
    flex: 1;
    overflow: auto;
    padding: 10px;
  }
}
.quality-image {
  float: left;
  padding-right: 5px;
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
}
