@if (showRepeat) {
  <div class="ng-gallery">
    @if (showViewSwitch) {
      <div class="form-group">
        <div class="col-sm-12 view-mode-selector">
          <div class="btn-group" role="group" aria-label="view type">
            @if (views | includes:'full') {
              <button type="button" class="btn btn-default" (click)="setView('full')" [class.active]="view === 'full'"><i class="glyphicon glyphicon-th-large"></i></button>
            }
            @if (views | includes:'full2') {
              <button type="button" class="btn btn-default" (click)="setView('full2')" [class.active]="view === 'full2'"><i class="glyphicon glyphicon-th-large"></i></button>
            }
            @if (views | includes:'full3') {
              <button type="button" class="btn btn-default" (click)="setView('full2')" [class.active]="view === 'full2'"><i class="glyphicon glyphicon-th-large"></i></button>
            }
            @if (views | includes:'compact') {
              <button type="button" class="btn btn-default" (click)="setView('compact')" [class.active]="view === 'compact'"><i class="glyphicon glyphicon-th"></i></button>
            }
          </div>
        </div>
      </div>
    }
    @if (view === 'compact') {
      @for (img of modalImages; track img; let index = $index) {
        <div class="image-container" (click)="openImage(index)" tabindex="0" role="button" luKeyboardClickable>
          @if (showPopover) {
            <img lajiLazyImage src="{{ img.thumbnailURL || img.largeURL || img.fullURL }}"
              [luPopover]="info"
              [templateContext]="{$implicit: img}"
              rootElement="body"
              placement="bottom"
              class="ng-thumb compact"
              alt="Image {{ index + 1 }}" />
            } @else {
              <img lajiLazyImage src="{{ img.thumbnailURL || img.largeURL || img.fullURL }}"
                class="ng-thumb compact"
                alt="Image {{ index + 1 }}" />
              }
            </div>
          }
        } @else {
          @if (view === 'annotation') {
            <div class="image-container annotation">
              @if (showPopover) {
                <img lajiLazyImage src="{{ img.thumbnailURL || img.largeURL || img.fullURL }}"
                  [luPopover]="info"
                  [templateContext]="{$implicit: img}"
                  rootElement="body"
                  tabindex="0" luKeyboardClickable
                  placement="bottom"
                  triggers="mouseenter:mouseleave"
                  class="ng-thumb compact"
                  alt="Image {{ index + 1 }}" />
                } @else {
                  <img class="main-annotation-image" src="{{ annotationTmpSelectedImg.url}}" (click)="openImage(annotationTmpSelectedImg.index)" tabindex="0" luKeyboardClickable>
                  <span class="hover-click alert-info" (click)="openImage(annotationTmpSelectedImg.index)" tabindex="0" luKeyboardClickable></span>
                }
              </div>
              @for (img of modalImages; track img; let index = $index) {
                <div>
                  <img lajiLazyImage src="{{ img.thumbnailURL || img.largeURL || img.fullURL }}"
                    class="ng-thumb compact"
                    alt="Image {{ index + 1 }}"
                    (click)="onClickAnnotationTmpThumb(img, index)"
                    tabindex="0" luKeyboardClickable
                    />
                  </div>
                }
              } @else {
                @if (view === 'full') {
                  @for (img of modalImages; track img; let index = $index) {
                    <div class="image-container full-container" (click)="openImage(index)" tabindex="0" luKeyboardClickable>
                      <img lajiLazyImage src="{{ img.thumbnailURL || img.largeURL || img.fullURL }}"
                        class="ng-thumb full"
                        alt="Image {{ index + 1 }}" />
                        <ng-container *ngTemplateOutlet="info; context: {$implicit: img}"></ng-container>
                      </div>
                    }
                  } @else {
                    @if (view === 'full2') {
                      @for (img of modalImages; track img; let index = $index) {
                        <div class="image-container full2-container" (click)="openImage(index)" tabindex="0" luKeyboardClickable>
                          <img lajiLazyImage src="{{ img.thumbnailURL || img.largeURL || img.fullURL }}"
                            class="ng-thumb"
                            alt="Image {{ index + 1 }}" />
                            @if (showOverlay) {
                              <h4 (click)="$event.stopPropagation()">
                                @if (img.taxonId) {
                                  <a class="link" [routerLink]="'/taxon/' + img.taxonId + (!linkOptions?.tab || linkOptions!.tab === 'overview' ? '' : '/' + linkOptions!.tab) | localize" [queryParams]="linkOptions?.queryParams" [queryParamsHandling]="linkOptions?.queryParamsHandling">
                                    <ng-container *ngTemplateOutlet="info; context: {$implicit: img}"></ng-container>
                                  </a>
                                } @else {
                                  <span class="link" (click)="openImage(index)" tabindex="0" luKeyboardClickable>
                                    <ng-container *ngTemplateOutlet="info; context: {$implicit: img}"></ng-container>
                                  </span>
                                }
                              </h4>
                            }
                          </div>
                        }
                      } @else {
                        @for (img of modalImages; track img; let index = $index) {
                          <div class="image-container" (click)="openImage(index)" tabindex="0" luKeyboardClickable>
                            <img lajiLazyImage src="{{ img.thumbnailURL }}"
                              class="ng-thumb"
                              alt="Image {{ index + 1 }}" />
                            </div>
                          }
                        }
                      }
                    }
                  }
                </div>
              }





              <ng-template #info let-data>
                @if (data.vernacularName) {
                  <strong>{{ data.vernacularName | multiLang }}</strong><br>
                }
                @if (data.scientificName) {
                  <strong class="scientificName cursive">{{ data.scientificName | label:'fullUri' }}</strong><br>
                }
                @if (data.caption && showExtraInfo) {
                  <span [innerHTML]="data.caption"></span>
                  }<br>
                  @if (data.author && showExtraInfo) {
                    {{ data.author }}<br>
                  }
                </ng-template>
