<div class="container">
  <h1>{{ 'speciesList.title' | translate }}</h1>
  <laji-species-list-filters
    [query]="query"
    [filters]="filters"
    (queryChange)="onQueryChange($event)"
  ></laji-species-list-filters>
  <p class="text-danger" *ngIf="speciesList.hasModifications">
    <i class="fa fa-exclamation-circle"></i>
    {{ 'speciesList.hasModifications' | translate }}
  </p>
  <laji-species-table
    class="d-block"
    [luFillHeight]="{ minHeight: 500 }"
    [data]="speciesList"
    [loading]="loading"
    [sorts]="sorts"
    (speciesSelect)="speciesSelect.emit($event)"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
  ></laji-species-table>
</div>
