<div class="container">
  <h1>{{ 'speciesList.title' | translate }}</h1>
  <laji-species-list-filters
    [query]="query"
    [filters]="filters"
    (queryChange)="onQueryChange($event)"
  ></laji-species-list-filters>
  <laji-species-table
    class="d-block"
    [luFillHeight]="{ minHeight: 500 }"
    [data]="speciesList"
    [loading]="loading"
    (taxonSelect)="taxonSelect.emit($event)"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
  ></laji-species-table>
</div>
