.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  color: #c5c5c5;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: "‹";
}

[dir="rtl"] .slick-prev:before {
  content: "›";
}

[dir="rtl"] .slick-next {
  left: -10px;
  top: 70px;
  right: auto;
}

.slick-next:before {
  content: "›";
}

[dir="rtl"] .slick-next:before {
  content: "‹";
}

.slick-track {
  height: 80px;
}

/** for embedded page */

:host >>> .embedded .map-wrap {
  height: 100vh;
}
.embedded {
  margin-top: -50px;
}
:host >>> .embedded .container, .embedded .container-fluid {
  width: 100% !important;
}

/** /for embedded page */