::ng-deep .datatable-body-row.last-rows,
::ng-deep .datatable-body-row.last-rows .datatable-row-left,
::ng-deep .datatable-body-row.last-rows .datatable-row-center {
  background-color: #eee !important;
}
::ng-deep .datatable-body-cell.mean {
  background-color: #fdb;
}
::ng-deep .datatable-body-cell.median {
  background-color: #dfb;
}
::ng-deep .datatable-body-cell.min {
  font-weight: bold !important;
  color: red !important;
}
::ng-deep .datatable-body-cell.max {
  font-weight: bold !important;
  color: green !important;
}
::ng-deep .datatable-body-cell.significantly-less {
  background-color: #fcc;
}
::ng-deep .datatable-body-cell.significantly-more {
  background-color: #cfc;
}

.toggle-intro {
  padding: 10px;
  text-align: end;
  font-size: 13px;
  color: #3498DB;
}


::ng-deep .ngx-datatable .datatable-header .datatable-row-left .datatable-header-cell {
  border-right: none;
}
::ng-deep .ngx-datatable.material.striped .datatable-body .datatable-row-odd:not(:hover):not(:focus) .datatable-row-left {
  background-color: #f9f9f9;
}
::ng-deep >>> .ngx-datatable.material .datatable-body .datatable-body-row.active,
::ng-deep >>> .ngx-datatable.material .datatable-body .datatable-body-row.active .datatable-row-left,
::ng-deep >>> .ngx-datatable.material .datatable-body .datatable-body-row.active .datatable-row-center,
::ng-deep >>> .ngx-datatable.material .datatable-body .datatable-body-row.active .datatable-row-right {
  background-color: #ddd !important;
}
