<laji-row [title]="'viewer.field.observer' | translate" [value]="gathering.team | values:'; '"></laji-row>
<laji-row [title]="'viewer.field.time' | translate" *ngIf="gathering.displayDateTime">
  {{ gathering.displayDateTime }}
</laji-row>
<laji-row [title]="'MY.locality' | label">
  <ul class="separated-list">
    <li *ngIf="gathering.higherGeography"  >
      {{ gathering.higherGeography }}</li>
    <li *ngIf="gathering.interpretations?.country"  >
      {{ gathering.interpretations.country | toQName | area }}</li>
    <li *ngIf="!gathering.interpretations?.country && gathering.country"  >
      {{ gathering.country }}</li>
    <li *ngIf="gathering.province"  >
      {{ gathering.province }}</li>
    <li *ngIf="gathering.interpretations?.biogeographicalProvince"  >{{ gathering.interpretations.biogeographicalProvince | toQName | area }}
      ({{ gathering.interpretations.biogeographicalProvince | toQName | area:'provinceCode' }})</li>
    <li 
        
        *ngIf="!gathering.interpretations?.biogeographicalProvince && gathering.biogeographicalProvince">
      {{ gathering.biogeographicalProvince }}</li>
    <li *ngIf="gathering.interpretations?.finnishMunicipalities; else municipality"  >
      {{ gathering.interpretations.finnishMunicipalities | toQName | area | values }}</li>
    <ng-template #municipality>
      <li *ngIf="gathering.municipality"  >
        {{ gathering.municipality }}</li>
    </ng-template>
    <li *ngIf="gathering.locality"  >
      {{ gathering.locality }}</li>
  </ul>
</laji-row>
<laji-row [title]="'MY.notes' | label" [value]="gathering.notes"></laji-row>
<laji-row [title]="'MY.taxonCensus' | label" *ngIf="gathering.taxonCensus">
  <ul class="separated-list">
    <li *ngFor="let census of gathering.taxonCensus"  >{{ census.taxonId | toQName | taxon }}</li>
  </ul>
</laji-row>
