<laji-row [title]="'viewer.field.observer' | translate" [value]="gathering.team | values:'; '"></laji-row>
@if (gathering.displayDateTime) {
  <laji-row [title]="'viewer.field.time' | translate">
    {{ gathering.displayDateTime }}
  </laji-row>
}
<laji-row [title]="'MY.locality' | label">
  <ul class="separated-list">
    @if (gathering.higherGeography) {
      <li [luTooltip]="'MY.higherGeography' | label" [isDisabled]="hideTooltips">
      {{ gathering.higherGeography }}</li>
    }
    @if (gathering.interpretations?.country) {
      <li [luTooltip]="'MY.country' | label" [isDisabled]="hideTooltips">
      {{ gathering.interpretations.country | toQName | area }}</li>
    }
    @if (!gathering.interpretations?.country && gathering.country) {
      <li [luTooltip]="'MY.country' | label" [isDisabled]="hideTooltips">
      {{ gathering.country }}</li>
    }
    @if (gathering.province) {
      <li [luTooltip]="'MY.province' | label" [isDisabled]="hideTooltips">
      {{ gathering.province }}</li>
    }
    @if (gathering.interpretations?.biogeographicalProvince) {
      <li [luTooltip]="'MY.biologicalProvince' | label" [isDisabled]="hideTooltips">{{ gathering.interpretations.biogeographicalProvince | toQName | area }}
      ({{ gathering.interpretations.biogeographicalProvince | toQName | area:'provinceCode' }})</li>
    }
    @if (!gathering.interpretations?.biogeographicalProvince && gathering.biogeographicalProvince) {
      <li [luTooltip]="'MY.biologicalProvince' | label"
        [isDisabled]="hideTooltips"
        >
      {{ gathering.biogeographicalProvince }}</li>
    }
    @if (gathering.interpretations?.finnishMunicipalities) {
      <li [luTooltip]="'MY.municipality' | label" [isDisabled]="hideTooltips">
      {{ gathering.interpretations.finnishMunicipalities | toQName | area | values }}</li>
    } @else {
      @if (gathering.municipality) {
        <li [luTooltip]="'MY.municipality' | label" [isDisabled]="hideTooltips">
        {{ gathering.municipality }}</li>
      }
    }
    @if (gathering.locality) {
      <li [luTooltip]="'MY.locality' | label" [isDisabled]="hideTooltips">
      {{ gathering.locality }}</li>
    }
  </ul>
</laji-row>
<laji-row [title]="'MY.notes' | label" [value]="gathering.notes"></laji-row>
@if (gathering.taxonCensus) {
  <laji-row [title]="'MY.taxonCensus' | label">
    <ul class="separated-list">
      @for (census of gathering.taxonCensus; track census) {
        <li [luTooltip]="census.type | toQName | label" [isDisabled]="hideTooltips">{{ census.taxonId | toQName | taxon }}</li>
      }
    </ul>
  </laji-row>
}
