<ol class="breadcrumb">
  <li *ngIf="informalGroup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a *ngIf="informalGroup.id" routerLink="/taxon/browse/informal">..</a>
    <span *ngIf="!informalGroup.id">..</span>
  </li>
  <li *ngFor="let group of groups; let i = index; let active = last;">
    <a [routerLink]="['/taxon/browse/informal/' + group.id]">{{group.name}}</a>
  </li>
  <li *ngIf="informalGroup" class="active">
    <span >{{informalGroup.name}}</span>
  </li> 
</ol>