<ng-container *ngIf="value">
  <ng-container [ngSwitch]="value.status">
    <ng-container *ngSwitchCase="'ok'">
      <span class="label label-success">
        Ok
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="'invalid'">
      <span class="label label-danger link" [popover]="error" triggers="hover" container="body" placement="right">
        {{'error' | translate}}
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="'error'">
      <span class="label label-danger link" [popover]="error" triggers="hover" container="body" placement="right">
        {{'error' | translate}}
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="'ignore'">
      <span class="label label-default link" [popover]="'excel.skip-row' | translate" triggers="hover" container="body" placement="right">
        {{'excel.skip-status' | translate}}
      </span>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #error>
  <laji-error-list [errors]="value.error" [fields]="fields"></laji-error-list>
</ng-template>
