.quality-row {
  display: flex;
}

.quality-image {
  float: left;
  padding-right: 5px;
  min-height: 25px;
  min-width: 25px;
  height: 25px;
  width: 25px;
}

.quality-label {
  text-align: left;
}