<h2 translate>vihko.home.title</h2>
<div class="d-flex flex-row flex-wrap">
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="" translate>vihko.home.form.mobile</a></h3>
    <p translate>vihko.home.form.mobile.desc</p>
    <ul>
      <li><a routerLink="" translate>vihko.home.form.mobile.1</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="" translate>vihko.home.form.trip</a></h3>
    <p translate>vihko.home.form.trip.desc</p>
    <ul>
      <li><a routerLink="" translate>vihko.home.form.trip.1</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="" translate>vihko.home.form.mobile.matrix</a></h3>
    <p translate>vihko.home.form.mobile.matrix.desc</p>
    <ul>
      <li><a routerLink="" translate>vihko.home.form.mobile.matrix.1</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="" translate>vihko.home.form.collection</a></h3>
    <p translate>vihko.home.form.collection.desc</p>
    <ul>
      <li><a routerLink="" translate>vihko.home.form.collection.1</a></li>
      <li><a routerLink="" translate>vihko.home.form.collection.2</a></li>
    </ul>
  </div>
  <div class="form-card m-3 xs:basis-0 sm:basis-5 basis-3">
    <h3><a routerLink="" translate>vihko.home.form.save</a></h3>
    <p translate>vihko.home.form.save.desc</p>
    <ul>
      <li><strong><a routerLink="" translate>vihko.home.form.save.1</a></strong></li>
      <li><a routerLink="" translate>vihko.home.form.save.2</a></li>
    </ul>
  </div>
  <div class="form-card m-3 xs:basis-0 sm:basis-5 basis-3">
    <h3><a routerLink="" translate>vihko.home.form.pre</a></h3>
    <p translate>vihko.home.form.pre.desc</p>
    <ul>
      <li><a routerLink="" translate>vihko.home.form.pre.1</a></li>
    </ul>
  </div>
</div>
