<h2 translate>vihko.home.title</h2>
<div class="d-flex flex-row flex-wrap">
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a [routerLink]="['/vihko', 'MHL.51'] | localize" translate>vihko.home.form.mobile</a></h3>
    <p translate>vihko.home.form.mobile.desc</p>
    <ul>
      <li><a [routerLink]="['/about', '2903'] | localize" translate>vihko.home.form.mobile.1</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a [routerLink]="['/vihko', 'JX.519'] | localize" translate>vihko.home.form.trip</a></h3>
    <p translate>vihko.home.form.trip.desc</p>
    <ul>
      <li><a [routerLink]="['/about', '2858'] | localize" translate>vihko.home.form.trip.1</a></li>
    </ul>
  </div>
  <!--
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="" translate>vihko.home.form.matrix</a></h3>
    <p translate>vihko.home.form.matrix.desc</p>
    <ul>
      <li><a routerLink="" translate>vihko.home.form.matrix.1</a></li>
    </ul>
  </div>
  -->
  <div *lajiForTypes="['dev']" class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="" translate>vihko.home.form.collection</a></h3>
    <p translate>vihko.home.form.collection.desc</p>
    <ul>
      <li><a [routerLink]="['/about', '3712'] | localize" translate>vihko.home.form.collection.1</a></li>
      <li><a [routerLink]="['/about', '3328'] | localize" translate>vihko.home.form.collection.2</a></li>
    </ul>
  </div>
  <div class="form-card m-3 xs:basis-0 sm:basis-5 basis-3">
    <h3><a [routerLink]="['/vihko', 'tools', 'import'] | localize" translate>vihko.home.form.save</a></h3>
    <p translate>vihko.home.form.save.desc</p>
    <ul>
      <li><strong><a [routerLink]="['/vihko', 'tools', 'generate'] | localize" translate>vihko.home.form.save.1</a></strong></li>
      <li><a [routerLink]="['/about', '3412'] | localize" translate>vihko.home.form.save.2</a></li>
    </ul>
  </div>
  <div class="form-card m-3 xs:basis-0 sm:basis-5 basis-3">
    <h3><a [routerLink]="['/vihko', 'templates'] | localize" translate>vihko.home.form.pre</a></h3>
    <p translate>vihko.home.form.pre.desc</p>
    <ul>
      <li><a [routerLink]="['/about', '3709'] | localize" translate>vihko.home.form.pre.1</a></li>
    </ul>
  </div>
</div>
