@import 'vars';

:host {
  display: block;
  color: $neutral-8;
}

h2 {
  font-size: $fs-6;
  color: $neutral-9;
}

.form-card {
  flex-basis: 30%;
  padding: 20px;
}

.form-card.strong {
  background-color: $neutral-1;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
}
