<h2>Tallenna havaintoja</h2>
<div class="d-flex flex-row flex-wrap">
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="">Mobiili</a></h3>
    <p>Nopea yksittäisen havainnon tallennus mobiililaitteella.</p>
    <ul>
      <li><a routerLink="">Ohje</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="">Retki</a></h3>
    <p>Monipuolinen lomake havaintojen tallennukseen yhdeltä tai useammalta paikalta.</p>
    <ul>
      <li><a routerLink="">Ohje</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="">Matriisi</a></h3>
    <p>Havainnot yhdeltä paikalta monen päivän ajalta.</p>
    <ul>
      <li><a routerLink="">Ohje</a></li>
    </ul>
  </div>
  <div class="form-card strong xs:basis-0 sm:basis-5 basis-3 m-3">
    <h3><a routerLink="">Kokoelma</a></h3>
    <p>Kirjaa kokoelmanäytteitä.</p>
    <ul>
      <li><a routerLink="">Ohje näytteiden kirjaamiseen</a></li>
      <li><a routerLink="">Ohje etiketöintiin</a></li>
    </ul>
  </div>
  <div class="form-card m-3 xs:basis-0 sm:basis-5 basis-3">
    <h3><a routerLink="">Tallenna tiedostona</a></h3>
    <p>Tallenna havaintoja Excel- tms. tiedostona.</p>
    <ul>
      <li><strong><a routerLink="">Luo tallennuspohja</a></strong></li>
      <li><a routerLink="">Ohje</a></li>
    </ul>
  </div>
  <div class="form-card m-3 xs:basis-0 sm:basis-5 basis-3">
    <h3><a routerLink="">Esitäytetyt lomakkeet</a></h3>
    <p>Omat esitäytetyt lomakkeesi.</p>
    <ul>
      <li><a routerLink="">Ohje</a></li>
    </ul>
  </div>
</div>
