<!--<div>
    <span *ngIf="tmpDocuments[form.id]" class="unsaved" [tooltip]="'haseka.form.localData' | translate">
      <a [routerLink]="['/vihko', form.id, tmpDocuments[form.id]] | localize" class="form btn btn-danger btn-sm">
          <i class="glyphicon glyphicon-warning-sign"></i>
      </a>
    </span>
    <span *ngIf="hasAdminRight">
      <a [routerLink]="['/vihko/fp/' + form.collectionID + '/admin'] | localize" class="btn btn-sm btn-warning">
          Hallinnoi lomakkeen käyttöä
      </a>
    </span>
    <span class="shortDescription">
        {{ form.shortDescription }}
    </span>
</div>
<a [routerLink]="['/vihko', form.id] | localize" class="form link btn btn-default btn-sm cta">
  {{ form.title }}
</a> -->

<a [routerLink]="['/vihko', form.id] | localize" class="col-lg-4 col-md-6 col-sm-6 form-box">
  <div class="header">
    <h4>{{ form.title }}</h4>
    <a *ngIf="hasAdminRight" [routerLink]="['/vihko/fp/' + form.collectionID + '/admin'] | localize" class="btn btn-sm btn-warning admin-rights">
      <i _ngcontent-laji-app-c17="" class="glyphicon glyphicon-edit"></i>
    </a>
  </div>  
  <div class="content">
      {{ form.shortDescription }}
      <div class="notification" >
        <a *ngIf="tmpDocuments[form.id]" [routerLink]="['/vihko', form.id, tmpDocuments[form.id]] | localize" class="alert-box">{{ 'haseka.form.localData' | translate }} <i class="glyphicon glyphicon-triangle-right"></i></a> 
      </div>
  </div>
</a>


