<a [routerLink]="['/vihko', form.id] | localize" class="form link btn btn-default btn-sm">
  {{ form.title }}
</a>
<span *ngIf="tmpDocuments[form.id]" class="unsaved" [tooltip]="'haseka.form.localData' | translate">
  <a [routerLink]="['/vihko', form.id, tmpDocuments[form.id]] | localize" class="form btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-warning-sign"></i>
  </a>
</span>
<span *ngIf="hasAdminRight">
  <a [routerLink]="['/vihko/fp/' + form.collectionID + '/admin'] | localize" class="btn btn-sm btn-warning">
    Hallinnoi lomakkeen käyttöä
  </a>
</span>
<span class="shortDescription">
  {{ form.shortDescription }}
</span>
