table {
  width: 100%;
  border-left: none;
}

thead, tbody, tr, td, th {
  display: block;
}

tbody tr:first-child td, tbody tr:first-child th {
  border-top: none;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  border-right: 0px;
}

thead th, thead td {
  border-bottom-width: 1px;
}

thead th, thead td, tbody th, tbody td {
  height: 38px;
}

tbody {
  height: 240px;
  overflow-y: auto;
}

tbody td, thead td {
  width: 160px;
  float: left;
  margin-right: 8px;
}

