@import '../../../styles/variables';
@import 'projects/laji-ui/src/lib/vars';

.top-section {
  padding: 15px;
  > * {
    margin-bottom: 10px;
  }
}

.laji-panel {
  background-color: $neutral-2;
  box-shadow: 0 1px 3px 0 $neutral-4;
  margin-bottom: 10px;
}

:host ::ng-deep .panel-body > * {
  margin-bottom: 10px;
}

laji-select, laji-metadata-select {
  margin-bottom: 5px;
}

hr {
  margin: 4px 0;
}
.coord-separator {
  margin-top: 20px;
}
#logCoordinateAccuracyMax, #coordinateIntersection {
  border: none;
  box-shadow: none;
}

label {
  display: inline;
}

:host ::ng-deep p {
  font-size: small;
}
.small-label {
  font-weight: normal;
  font-size: smaller;
}

fieldset {
  padding: 0 0 0 5px;
  border-left: 2px solid #3c9cdd;
}

.title {
  text-transform: capitalize;
}

:host ::ng-deep typeahead-container.dropdown {
  right: 80px !important;
  left: unset !important;
  margin-left: -272px;
  min-width: 600px;
}

.obs-form-draw-btn {
  width: 45px;
}
