<laji-datatable
  [selectionType]="selectionType.multi"
  [columns]="columns"
  [rows]="selectedTaxons"
  [clientSideSorting]="true"
  [virtualScrolling]="false"
  [loading]="loading"
></laji-datatable>

<ng-template let-row="row" let-rowIndex="rowIndex" #occurs>
  <ng-container *ngTemplateOutlet="radioButton; context: {row: row, rowIndex: rowIndex, value: taxonAnnotationEnum.occurs}"></ng-container>
</ng-template>
<ng-template let-row="row" let-rowIndex="rowIndex" #possiblyOccurs>
  <ng-container *ngTemplateOutlet="radioButton; context: {row: row, rowIndex: rowIndex, value: taxonAnnotationEnum.possible_occurs}"></ng-container>
</ng-template>

<ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" #radioButton>
  <label class="datatable-checkbox">
    <input type="radio" name="occurrence_{{ rowIndex }}" [checked]="row.annotation.annotation === value" (change)="annotationTypeChange(rowIndex, value)"/>
  </label>
</ng-template>
