<a [routerLink]="'/taxon/browse' | localize" (click)="onClose()" class="d-flex flex-nowrap mb-4 container-link" *lajiForTypes="['dev', 'prod', 'beta', 'embedded']">
  <div class="img-container">
    <img src="/static/images/icons/kotilo_1_sha.png">
  </div>
  <div class="nav-container">
    <div class="nav-title">
      {{ 'taxonomy.browseSpeciesPage' | translate }}
    </div>
    <div class="nav-description">
      {{ 'taxonomy.browseSpeciesPage.intro' | translate}}
    </div>
  </div>
</a>
<a [routerLink]="'/taxon/list' | localize" [queryParams]="{ onlyFinnish: true }" (click)="onClose()" class="d-flex flex-nowrap mb-4 container-link">
  <div class="img-container">
    <img src="/static/images/icons/table.png">
  </div>
  <div class="nav-container">
    <div class="nav-title">
      {{ 'taxonomy.speciesPage' | translate }}
    </div>
    <div class="nav-description">
      {{ 'taxonomy.speciesPage.intro' | translate }}
    </div>
  </div>
</a>
<a [routerLink]="'/taxon/MX.37600/taxonomy' | localize" [queryParams]="{ showTree: true }" (click)="onClose()" class="d-flex flex-nowrap mb-4 container-link">
  <div class="img-container">
    <img src="/static/images/icons/tree.png">
  </div>
  <div class="nav-container">
    <div class="nav-title">
      {{ 'taxonomy.taxonPage' | translate }}
    </div>
    <div class="nav-description">
      {{ 'taxonomy.taxonPage.intro' | translate }}
    </div>
  </div>
</a>
<div>
  <laji-omni-search (close)="onClose()" [visible]="visible" [placeholder]="'species.search' | translate"></laji-omni-search>
</div>
