<div class="map-wrap" *ngIf="query">
  <div class="title">
    <span *ngIf="taxon" [ngClass]="{cursive: taxon.cursiveName}">{{taxon.scientificName}}</span>
    <span *ngIf="taxon && taxon.vernacularName">
      <br>{{taxon.vernacularName | multiLang}}
    </span>
  </div>
  <laji-map
    [loading]="loading"
    [draw]="false"
    [lang]="translate.currentLang"
    [maxBounds]="maxBounds"
    [zoom]="2"
    [tileOpacity]="0.5"
    [center]="[64.709804, 25]">
  </laji-map>
  <div class="legend">
    <span [ngSwitch]="type">
      <span *ngSwitchCase="'individuals'">
        {{'theme.individualCount' | translate}}
      </span>
      <span *ngSwitchCase="'newest'">
        {{'theme.newest' | translate}}
      </span>
      <span *ngSwitchDefault>
        {{'theme.count' | translate}}
      </span>
      <span class="cnt">
        {{'theme.cnt' | translate}}
      </span>
    </span>
    <ul>
      <li *ngFor="let leg of legendList">
        <span class="color" [ngStyle]="{'background-color': leg.color}"></span>
        {{leg.label}}
        <span class="cnt">{{count[leg.color] || 0}}</span>
      </li>
      <li>
        {{'theme.total' | translate}}
        <span class="cnt">{{count['total']}}</span>
      </li>
    </ul>
  </div>
</div>
