<div class="map-wrap">
  <laji-map
    [loading]="loading"
    [draw]="false"
    [lang]="translate.currentLang"
    [zoom]="2"
    [center]="[64.709804, 25]">
  </laji-map>
  <div class="legend">
    <span [ngSwitch]="type">
      <span *ngSwitchCase="'individuals'">
        Yksilömäärä
      </span>
      <span *ngSwitchCase="'newest'">
        Uusin
      </span>
      <span *ngSwitchDefault>
        Havaintolkm
      </span>
    </span>
    <ul>
      <li *ngFor="let leg of legendList">
        <span class="color" [ngStyle]="{'background-color': leg.color}"></span>{{leg.label}}
      </li>
    </ul>
  </div>
</div>
<a class="type-switch" [routerLink] [queryParams]="{taxonId:taxonId, time: time, grid: grid, type:'count'}">Havintolkm</a>
<a class="type-switch" [routerLink] [queryParams]="{taxonId:taxonId, time: time, grid: grid, type:'individuals'}">Yksilö määrä</a>
<a class="type-switch" [routerLink] [queryParams]="{taxonId:taxonId, time: time, grid: grid, type:'newest'}">Uusin</a>
