.map-wrap {
  position: relative;
}

.title {
  position: absolute;
  z-index: 401;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}
.title h5 {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: inline-block;
  margin: 6px 0;
}

.legend {
  font-size: 10px;
  width: 105px;
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  left: 6px;
  z-index: 400;
  top: 205px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.legend .cnt {
  display: inline-block;
  float: right;
}

.legend .color {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.legend ul {
  padding: 0;
  margin: 0;
}

.legend li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.type-switch {
  display: inline-block;
  padding-right: 10px;
}

.link {
  padding: 3px 20px;
}

:host >>> .leaflet-container {
  background-color: #eee;
}
