<div class="map-wrap" *ngIf="query" [style.height]="height">
  <div class="title">
    <span *ngIf="taxon" class="scientificName" [ngClass]="{cursive: taxon.cursiveName}">{{taxon.scientificName}}</span>
    <span *ngIf="taxon && taxon.vernacularName">
      <br>{{taxon.vernacularName | multiLang}}
    </span>
    <span *ngIf="title" [innerHtml]="title"></span>
  </div>
  <laji-map3
    [options]="mapOptions"
    [loading]="loading"
    [maxBounds]="maxBounds"
    [tileOpacity]="0.5">
  </laji-map3>
  <div class="legend">
    <div>
      <span class="cnt">
        {{'theme.cnt' | translate}}
      </span>
      <span [ngSwitch]="type" dropdown container="body">
        <a href dropdownToggle (click)="false">
          <span *ngSwitchCase="'individuals'">
            {{'theme.individualCount' | translate}}
          </span>
          <span *ngSwitchCase="'newest'">
            {{'theme.newest' | translate}}
          </span>
          <span *ngSwitchDefault>
            {{'theme.count' | translate}}
          </span>
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li><a class="link" (click)="changeType('count')">{{'theme.count' | translate}}</a></li>
          <li><a class="link" (click)="changeType('individuals')">{{'theme.individualCount' | translate}}</a></li>
          <li><a class="link" (click)="changeType('newest')">{{'theme.newest' | translate}}</a></li>
        </ul>
      </span>
    </div>
    <ul>
      <li *ngFor="let leg of legendList">
        <span class="color" [ngStyle]="{'background-color': leg.color}"></span>
        {{leg.label}}
        <span class="cnt">{{count[leg.color] || 0}}</span>
      </li>
      <li>
        {{'theme.total' | translate}}
        <span class="cnt">{{count['total']}}</span>
      </li>
    </ul>
  </div>
</div>
