<div [style.height]="height" class="map-wrap">
  <laji-map
    (loaded)="onMapLoad()"
    [loading]="loading"
    [maxBounds]="maxBounds"
    [options]="mapOptions"
    [showFullScreenControl]="showFullScreenControl"
  >
    <div *ngIf="taxon || title" class="title">
      <h5>
        <span *ngIf="taxon" [ngClass]="{cursive: taxon.cursiveName}"
              class="scientificName">{{ taxon.scientificName }}</span>
        <ng-container *ngIf="taxon && taxon.vernacularName">
          <br>{{ taxon.vernacularName | multiLang }}
        </ng-container>
        <ng-container *ngIf="title">{{ title }}</ng-container>
        <laji-info *ngIf="titleInfo">{{ titleInfo | translate }}</laji-info>
      </h5>
    </div>
    <div class="legend">
      <span class="cnt capitalize">
        {{ 'theme.count' | translate }}
      </span>
      <div dropdown style="position: relative">
        <ng-container *ngIf="types.length > 1">
          <a (click)="false" dropdownToggle href>
            <span>
              {{ (typeLabels[type] ? typeLabels[type] : 'taxonomy.observations') | translate }}
            </span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <ng-container *ngFor="let type of types">
              <li><a (click)="changeType(type)"
                     class="link">{{ (typeLabels[type] ? typeLabels[type] : 'taxonomy.observations') | translate }}</a></li>
            </ng-container>
          </ul>
        </ng-container>
        <ng-container *ngIf="types.length <= 1">
          <span class="capitalize">
            {{ (typeLabels[type] ? typeLabels[type] : 'taxonomy.observations') | translate }}
          </span>
        </ng-container>
      </div>
      <ul>
        <li *ngFor="let leg of legendList">
          <span [ngStyle]="{'background-color': leg.color}" class="color"></span>
          {{ leg.label }}
          <span class="cnt">{{ count[leg.color] || 0 }}</span>
        </li>
        <li>
          {{ 'theme.total' | translate }}
          <span class="cnt">{{ count['total'] }} {{ 'theme.square' | translate }}</span>
        </li>
      </ul>
    </div>
  </laji-map>
</div>
