<button class="btn btn-default toggle-linked" (click)="toggleLinkedVisible()">{{linkedVisible ? 'Piilota' : 'Näytä'}} linkitetyt</button><br>
<table class="table">
  <tr>
    <th colspan="2">
      Tiedostossa oleva arvo
    </th>
    <th colspan="2">
      Vihkoon vietävä arvo
    </th>
  </tr>
  <ng-container *ngFor="let value of invalidValues">
    <tr [ngClass]="{'hidden': hiddenValues[value]}">
      <td class="value-col">
        <div class="form-control-static">
          {{value}}
        </div>
      </td>
      <td class="mapping-col">
        <laji-taxon-autocomplete
          [allowInvalid]="true"
          [placeholder]="'Etsi haluttu laji'"
          [taxon]="value"
          (taxonSelect)="onTaxonSelect(value, $event)"
        ></laji-taxon-autocomplete>
      </td>
      <td class="result-col">
        {{lajiValue(value)}}
      </td>
      <td class="ok-col">
        <laji-tool-success [success]="mapping[value]"></laji-tool-success>
      </td>
    </tr>
  </ng-container>
</table>
