<div class="container" *ngIf="rows$ | async; let rows; else loading">
  <div class="d-flex justify-end mb-3">
    <button class="btn btn-default" (click)="onDownloadCsv(rows)">Lataa .csv</button>
  </div>
  <ngx-datatable
    class="material"
    [rowHeight]="35"
    [rows]="rows"
    [columns]="cols"
    [scrollbarH]="true"
    [messages]="{ emptyMessage: '' }"
  ></ngx-datatable>
</div>

<ng-template #societyName let-row="row">
  <a *ngIf="row.birdAssociationArea" [routerLink]="row.birdAssociationArea.key">{{ row.birdAssociationArea.value }}</a>
</ng-template>

<ng-template #alignRight let-value="value">
  <div style="text-align: right;">{{ value }}</div>
</ng-template>

<ng-template #loading>
  <div class="container"><laji-spinner class="d-block m-6"></laji-spinner></div>
</ng-template>
