<div class="map-wrap" [ngClass]="{'page': printMode}">
  <div class="info no-print">
    <a [href]="'infoLinks.map' | translate" [luTooltip]="'haseka.instructions' | translate" placement="left" target="_blank" rel="noopener noreferrer">
      <i class="glyphicon glyphicon-info-sign"></i>
    </a>
  </div>

  <laji-map
    (loaded)="onMapLoad()"
    [options]="mapOptions"
    [settingsKey]="''"
    (create)="onCreate()"
  ></laji-map>
  <laji-map-print
    [lajiMap]="lajiMap"
    [(printMode)]="printMode"
  ></laji-map-print>
</div>
