<div *ngIf="hasDoc && document">
  <div class="row {{document.secureLevel | label}}">
    <div class="col-sm-7">
      <div class="page-header" *ngIf="showTitle">
        <h2>Document <small>{{document.documentId}}</small></h2>
      </div>
      <laji-row [title]="'MY.collectionID'">{{document.collectionId | toQName}}</laji-row>
      <laji-row [title]="'sourceId'">{{document.sourceId | toQName}}</laji-row>
      <laji-row [title]="'namedPlaceId'">{{document.namedPlaceId | toQName}}</laji-row>
      <laji-row [title]="'secureLevel'">{{document.secureLevel | label}}</laji-row>
      <laji-row [title]="'createdDate'">{{document.createdDate | date:'dd.MM.yyyy'}}</laji-row>
      <laji-row [title]="'modifiedDate'">{{document.modifiedDate | date:'dd.MM.yyyy'}}</laji-row>
      <laji-row [title]="'loadDate'">{{document.loadDate | date:'dd.MM.yyyy'}}</laji-row>
    </div>
    <div class="col-sm-5" style="padding-top: 20px;" *ngIf="document.media">
      <laji-image-gallery [modalImages]="document.media"></laji-image-gallery>
    </div>
  </div>
  <div *ngIf="document.gatherings.length > 1" class="gatherings">
    <ul class="nav nav-tabs link">
      <li *ngFor="let gathering of document.gatherings; let i=index" [ngClass]="{active: active === i}">
        <a (click)="setActive(i)">
         {{ 'viewer.gathering' | translate }} {{i + 1}}
        </a>
      </li>
    </ul>
  </div>
  <div *ngFor="let gathering of document.gatherings; let i=index">
    <laji-gathering [gathering]="gathering" [highlight]="highlight" [visible]="active === i"></laji-gathering>
  </div>
</div>
<div *ngIf="hasDoc === false">
  <div class="page-header">
    <h2>{{'viewer.notFound' | translate}}</h2>
  </div>
</div>