.tight {
  margin-top: 0;
}
.gatherings {
  padding-bottom: 5px;
}
.doc-meta {
  padding-top: 20px;
}

:host >>> .popover {
  width: 430px;
  max-width: 430px;
}

:host >>> .facts {
/*  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc; */
}
