<div *ngIf="hasDoc && document">
  <div class="row">
    <div class="col-sm-7">
      <div class="page-header" [ngClass]="{tight: !showTitle}">
        <h3>
          {{'viewer.document' | translate }} <small>{{document.documentId}}<br></small>
        </h3>
        <laji-row [noTitleSpace]="true" [noRow]="true" [value]="document.collectionId | toQName | collectionName"> (<a href="{{document.collectionId}}">{{document.collectionId}}</a>)</laji-row>
      </div>
      <div *ngIf="document.secured">
        <laji-row [title]="'secureLevel'" [value]="document.secureLevel | label: true"></laji-row>
          <laji-row [title]="'result.document.secureReasons' | translate" [value]="document.secureLevel" [hideValue]="true">
            <span *ngFor="let reason of document.secureReasons">
              {{reason | label: true}}<br>
            </span>
          </laji-row>
      </div>
      <!-- <laji-row [title]="'namedPlaceId'" [value]="document.namedPlaceId"></laji-row>-->
      <div class="facts" *ngIf="showFacts">
        <laji-row [title]="item.fact | lcFirst" [value]="item.value | toQName | label: true" *ngFor="let item of document.facts"></laji-row>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12 doc-meta">
          <ng-template #docMeta>
            <laji-row [title]="'MZ.editor'" *ngIf="document.linkings && document.linkings.editors">
              {{document.linkings.editors | values:', ':'fullName' }}
            </laji-row>
            <laji-row [title]="'MZ.dateCreated'" [value]="document.createdDate | amDateFormat:'DD.MM.YYYY'"></laji-row>
            <laji-row [title]="'MZ.dateEdited'" [value]="document.modifiedDate | amDateFormat:'DD.MM.YYYY'"></laji-row>
            <laji-row [title]="'loadDate'" [value]="document.loadDate | amDateFormat:'DD.MM.YYYY'"></laji-row>
          </ng-template>
          <button class="btn btn-default btn-xs pull-right" style="margin-left: 10px;"
                  [popover]="docMeta"
                  placement="left"
                  triggers="click mouseenter:mouseleave"><i class="glyphicon glyphicon-user"></i>
          </button>
          <button class="btn btn-default btn-xs pull-right"
                  [tooltip]="showFacts ? ('viewer.hideFacts' | translate) : ('viewer.showFacts' | translate)"
                  placement="left"
                  (click)="toggleFacts()">
            <i class="glyphicon" [ngClass]="{'glyphicon-eye-open': showFacts, 'glyphicon-eye-close': !showFacts}"></i>
          </button>
        </div>
      </div>
      <div class="row" *ngIf="document.media">
        <div class="col-sm-12">
          <laji-image-gallery [modalImages]="document.media"></laji-image-gallery>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="document.gatherings && document.gatherings.length > 1" class="gatherings">
    <div class="row">
      <div class="col-sm-7">
        <laji-row [title]="'viewer.gatherings' | translate" [showWithoutValue]="true"></laji-row>
      </div>
    </div>
    <ul class="nav nav-tabs link">
      <li *ngFor="let gathering of document.gatherings; let i=index" [ngClass]="{active: active === i}">
        <a (click)="setActive(i)">
         {{i + 1}}
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div *ngFor="let gathering of document.gatherings; let i=index">
        <laji-gathering [showFacts]="showFacts" [personID]="personID" [documentID]="documentID" [gathering]="gathering" [highlight]="highlight" [visible]="active === i"></laji-gathering>
      </div>
    </div>
    <div class="col-sm-5">
      <laji-viewer-map [useWorldMap]="useWorldMap" [active]="active" *ngIf="mapData.length > 0" [data]="mapData"></laji-viewer-map>
      <laji-image-gallery *ngIf="activeGathering && activeGathering.media" [modalImages]="activeGathering.media"></laji-image-gallery>
    </div>
  </div>
</div>
<div *ngIf="hasDoc === false">
  <div class="page-header">
    <h2>{{'viewer.notFound' | translate}}</h2>
  </div>
</div>
<!--<pre>{{document | json}}</pre>-->
