<div class="panel panel-default">
  @if (showTitle) {
    <div class="panel-heading link" (click)="onTitleClick()">
      <strong>{{ title }}</strong>
    </div>
  }
  <div class="panel-body">
    @for (visible of visibleFields; track visible) {
      @if (visible.subGroup) {
        <div class="sub-header link" (click)="onSubGroupClick(visible.subGroup)">
          {{ visible.subGroup | label }}
        </div>
      }
      <ul class="list-group">
        @for (field of visible.fields; track trackFields($index, field)) {
          <li class="list-group-item"
            [class.link]="!field.required"
            (click)="onClick(field)"
            [ngClass]="{active: (selected | includes:field.key) || field.required}">
            <laji-field-item [field]="field" [selected]="selected" (selectedChange)="selectedChange.emit($event)"></laji-field-item>
          </li>
        }
      </ul>
    }
  </div>
</div>
