<laji-spinner [spinning]="loading" [overlay]="true">
  <div class="responsive">
    <table class="table table-striped table-bordered table-condensed dataTable">
      <thead>
      <tr>
        <th>
          {{title}}
        </th>
        <th style="width:100%">
          {{'observation.count' | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>
          <span *ngIf="item.link">
            <span [innerHtml]="item.value"></span>&nbsp;<a [routerLink]="[item.link.local]" [innerHtml]="item.link.content || 'link'"></a>
          </span>
          <span *ngIf="!item.link" [innerHtml]="item.value"></span>
        </td>
        <td><small [innerHtml]="item.count | formattedNumber:'&nbsp'"></small></td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination
          *ngIf="showPager"
          [totalItems]="total"
          [itemsPerPage]="limit"
          [(ngModel)]="page"
          (pageChanged)="pageChanged($event)"
          [maxSize]="7"
          [boundaryLinks]="true"
          [firstText]="'paginator.first' | translate"
          [lastText]="'paginator.last' | translate"
          [previousText]="'paginator.previous' | translate"
          [nextText]="'paginator.next' | translate"
  ></pagination>
</laji-spinner>
