<div id="iucnboxes">
  <div class="group g1">
    <div class="redclass re" [class.notActive]="highlight && highlight !== 'MX.iucnRE'">
      <h4>RE</h4>
      <p class="redclass-name">{{ 'MX.iucnRE' | label | iucnStatus }}</p>
    </div>
  </div>
  <div class="group g2">
    <h3>{{'iucn.endangered' | translate}}</h3>
    <div class="redclass cr" [class.notActive]="highlight && highlight !== 'MX.iucnCR'">
      <h4>CR</h4>
      <p class="redclass-name">{{ 'MX.iucnCR' | label | iucnStatus }}</p>
    </div>
    <div class="redclass en" [class.notActive]="highlight && highlight !== 'MX.iucnEN'">
      <h4>EN</h4>
      <p class="redclass-name">{{ 'MX.iucnEN' | label | iucnStatus }}</p>
    </div>
    <div class="redclass vu" [class.notActive]="highlight && highlight !== 'MX.iucnVU'">
      <h4>VU</h4>
      <p class="redclass-name">{{ 'MX.iucnVU' | label | iucnStatus }}</p>
    </div>
  </div>
  <div class="group g3">
    <div class="redclass nt" [class.notActive]="highlight && highlight !== 'MX.iucnNT'">
      <h4>NT</h4>
      <p class="redclass-name" [innerHTML]="'MX.iucnNT' | label | iucnStatus | iucnHyphens"></p>
    </div>
    <div class="redclass dd" [class.notActive]="highlight && highlight !== 'MX.iucnDD'">
      <h4>DD</h4>
      <p class="redclass-name" >{{ 'MX.iucnDD' | label | iucnStatus }}</p>
      <p class="count">15167 lajia</p>
    </div>
    <div class="redclass lc" [class.notActive]="highlight && highlight !== 'MX.iucnLC'">
      <h4>LC</h4>
      <p class="redclass-name" [innerHTML]="'MX.iucnLC' | label | iucnStatus | iucnHyphens"></p>
    </div>
  </div>
  <div class="group g4" *ngIf="includeOther">
    <div class="redclass na">
      <h4>NA</h4>
      <p class="redclass-name" [innerHTML]="'MX.iucnNA' | label | iucnStatus | iucnHyphens"></p>
    </div>
    <div class="redclass ne">
      <h4>NE</h4>
      <p class="redclass-name">{{ 'MX.iucnNE' | label | iucnStatus }}</p>
    </div>
  </div>
</div>
