<laji-taxon-info-row *ngIf="taxon.nameAccordingTo" [label]="'taxonomy.nameAccordingTo' | translate">
  {{ taxon.nameAccordingTo | checklist }}
</laji-taxon-info-row>
<laji-taxon-info-row [label]="'taxonomy.scientific.name' | translate">
  <span class="scientificName" [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}</span>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.scientificNameAuthorship" [label]="'taxonomy.author' | translate">
  {{ taxon.scientificNameAuthorship }}
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.vernacularName" [label]="'taxonomy.vernacular.names' | translate">
  <ul>
    <li *ngFor="let item of availableTaxonNames['vernacularNames'] | keyvalue">
        {{ taxon.vernacularName[item.value['lang']] }} ({{ 'lang.'+item.value['lang'] | translate }})
    </li>
  </ul>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.colloquialVernacularName && personRoleAdmin" [label]="'taxonomy.vernacular.colloquial' | translate">
  <ul>
    <li *ngFor="let item of availableTaxonNames['colloquialVernacularNames'] | keyvalue">
        {{ taxon.colloquialVernacularName[item.value['lang']] }} ({{ 'lang.'+item.value['lang'] | translate }})
    </li>
  </ul>
</laji-taxon-info-row>
<laji-taxon-info-row [label]="'taxonomy.card.id' | translate">
  {{ taxon.id | toFullUri }}
</laji-taxon-info-row>
<laji-taxon-info-row [label]="'taxonomy.rank' | translate">
  {{ taxon.taxonRank | label }}
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.occurrenceInFinland" [label]="'taxonomy.occurrenceInFinland' | translate">
  {{ taxon.occurrenceInFinland | label }}
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.typeOfOccurrenceInFinland && taxon.typeOfOccurrenceInFinland.length > 0" [label]="'taxonomy.typeOfOccurrenceInFinland' | translate">
  <ul class="separated-list">
    <li *ngFor="let type of taxon.typeOfOccurrenceInFinland">{{ type | label }}</li>
  </ul>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.invasiveSpecies" [keyTextContentGhost]="false">
  <ng-template #label>
    <img src="/static/images/vieraslaji.png" class="img-responsive" width="70px" height="70px"/>
  </ng-template>
  {{ 'taxonomy.invasive.phrase' | translate }}
  <a href="http://vieraslajit.fi"> {{ 'taxonomy.invasive.title' | translate }}</a>
  <table class="table table-condenced invasive-table">
    <tbody>
    <tr>
      <th>{{ 'MX.invasiveSpeciesEstablishment' | label }}</th>
      <td>{{ taxon.invasiveSpeciesEstablishment | label }}</td>
    </tr>
    </tbody>
  </table>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.administrativeStatuses" [label]="'taxonomy.administrative.statuses' | translate">
  <ul>
    <li *ngFor="let status of taxon.administrativeStatuses">
      <laji-administrative-status [status]="status"></laji-administrative-status>
    </li>
  </ul>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.redListStatusesInFinland" [label]="'taxonomy.redListStatus2010Finland' | translate">
  <ul>
    <li *ngFor="let status of taxon.redListStatusesInFinland">
      {{ status.year }} {{ status.status | label }}
    </li>
  </ul>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.taxonExpert && taxon.taxonExpert.length > 0" [label]="(taxon.taxonExpert.length > 1 ? 'taxonomy.experts' : 'taxonomy.expert') | translate">
  <ul class="separated-list">
    <li *ngFor="let export of taxon.taxonExpert">{{ export | users:'fullName' }}</li>
  </ul>
</laji-taxon-info-row>
<laji-taxon-info-row [label]="'taxonomy.bold' | translate">
  <laji-bold-sequence [scientificName]="taxon.scientificName" [cursive]="taxon.cursiveName"></laji-bold-sequence>
  <laji-bold-synonym [taxa]="taxon.basionyms || []"></laji-bold-synonym>
  <laji-bold-synonym [taxa]="taxon.heterotypicSynonyms || []"></laji-bold-synonym>
  <laji-bold-synonym [taxa]="taxon.homotypicSynonyms || []"></laji-bold-synonym>
  <laji-bold-synonym [taxa]="taxon.objectiveSynonyms || []"></laji-bold-synonym>
  <laji-bold-synonym [taxa]="taxon.orthographicVariants || []"></laji-bold-synonym>
  <laji-bold-synonym [taxa]="taxon.subjectiveSynonyms || []"></laji-bold-synonym>
  <laji-bold-synonym [taxa]="taxon.synonyms || []"></laji-bold-synonym>
</laji-taxon-info-row>
<laji-taxon-info-row *ngIf="taxon.informalTaxonGroups && taxon.informalTaxonGroups.length > 0" [label]="'taxonomy.informalTaxonGroups' | translate">
  <ul>
    <li *ngFor="let group of taxon.informalTaxonGroups">{{ group | label }}</li>
  </ul>
</laji-taxon-info-row>
