@if (taxon.nameAccordingTo) {
  <laji-taxon-info-row [label]="'taxonomy.nameAccordingTo' | translate">
    {{ taxon.nameAccordingTo | checklist }}
  </laji-taxon-info-row>
}
<laji-taxon-info-row [label]="'taxonomy.scientific.name' | translate">
  <span class="scientificName" [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}</span>
</laji-taxon-info-row>
@if (taxon.scientificNameAuthorship) {
  <laji-taxon-info-row [label]="'taxonomy.author' | translate">
    {{ taxon.scientificNameAuthorship }}
  </laji-taxon-info-row>
}
@if (taxon.vernacularName) {
  <laji-taxon-info-row [label]="'taxonomy.vernacular.names' | translate">
    <ul>
      @if (taxon.vernacularNameMultiLang.fi) {
        <li>
          {{ taxon.vernacularNameMultiLang.fi }} ({{ 'lang.fi' | translate }})
        </li>
      }
      @if (taxon.vernacularNameMultiLang.sv) {
        <li>
          {{ taxon.vernacularNameMultiLang.sv }} ({{ 'lang.sv' | translate }})
        </li>
      }
      @if (taxon.vernacularNameMultiLang.en) {
        <li>
          {{ taxon.vernacularNameMultiLang.en }} ({{ 'lang.en' | translate }})
        </li>
      }
    </ul>
  </laji-taxon-info-row>
}
@if (taxon.colloquialVernacularName) {
  <laji-taxon-info-row [label]="'taxonomy.vernacular.colloquial' | translate">
    <ul>
      @if (taxon.colloquialVernacularNameMultiLang.fi) {
        <li>
          {{ taxon.colloquialVernacularNameMultiLang.fi }} ({{ 'lang.fi' | translate }})
        </li>
      }
      @if (taxon.colloquialVernacularNameMultiLang.sv) {
        <li>
          {{ taxon.colloquialVernacularNameMultiLang.sv }} ({{ 'lang.sv' | translate }})
        </li>
      }
      @if (taxon.colloquialVernacularNameMultiLang.en) {
        <li>
          {{ taxon.colloquialVernacularNameMultiLang.en }} ({{ 'lang.en' | translate }})
        </li>
      }
    </ul>
  </laji-taxon-info-row>
}
<laji-taxon-info-row [label]="'taxonomy.card.id' | translate">
  {{ taxon.id | toFullUri }}
</laji-taxon-info-row>
<laji-taxon-info-row [label]="'taxonomy.rank' | translate">
  {{ taxon.taxonRank! | label }}
</laji-taxon-info-row>
@if (taxon.occurrenceInFinland) {
  <laji-taxon-info-row [label]="'taxonomy.occurrenceInFinland' | translate">
    {{ taxon.occurrenceInFinland | label }}
  </laji-taxon-info-row>
}
@if (taxon.typeOfOccurrenceInFinland && taxon.typeOfOccurrenceInFinland.length > 0) {
  <laji-taxon-info-row [label]="'taxonomy.typeOfOccurrenceInFinland' | translate">
    <ul class="separated-list">
      @for (type of taxon.typeOfOccurrenceInFinland; track type) {
        <li>{{ type | label }}</li>
      }
    </ul>
  </laji-taxon-info-row>
}
@if (protectedUnderNatureConservationAct) {
  <laji-taxon-info-row [label]="'taxonomy.protected' | translate">
    {{ 'taxonomy.protectedUnderNatureConservationAct' | translate }}
    <laji-info [html]="'taxonomy.protectedUnderNatureConservationAct.info' | translate"></laji-info>
  </laji-taxon-info-row>
}
@if (taxon.invasiveSpecies && taxon.species) {
  <laji-taxon-info-row [keyTextContentGhost]="false">
    <ng-template #label>
      <img src="/static/images/vieraslaji.png" class="img-responsive" width="70px" height="70px"/>
    </ng-template>
    {{ 'taxonomy.invasive.phrase' | translate }}
    <a href="http://vieraslajit.fi"> {{ 'taxonomy.invasive.title' | translate }}</a>
    <table class="table table-condenced invasive-table">
      <tbody>
        <tr>
          <th>{{ 'MX.invasiveSpeciesEstablishment' | label }}</th>
          <td>{{ taxon.invasiveSpeciesEstablishment! | label }}</td>
        </tr>
      </tbody>
    </table>
  </laji-taxon-info-row>
}
@if (taxon.administrativeStatuses) {
  <laji-taxon-info-row [label]="'taxonomy.administrative.statuses' | translate">
    <ul>
      @for (status of taxon.administrativeStatuses; track status) {
        <li>
          <laji-administrative-status [status]="status"></laji-administrative-status>
        </li>
      }
    </ul>
  </laji-taxon-info-row>
}
@if (taxon.redListStatusesInFinland) {
  <laji-taxon-info-row [label]="'taxonomy.redListStatus2010Finland' | translate">
    <ul>
      @for (status of taxon.redListStatusesInFinland; track status) {
        <li>
          {{ status.year }} {{ status.status | label }}
        </li>
      }
    </ul>
  </laji-taxon-info-row>
}
@if (taxon.taxonExpert && taxon.taxonExpert.length > 0) {
  <laji-taxon-info-row [label]="(taxon.taxonExpert.length > 1 ? 'taxonomy.experts' : 'taxonomy.expert') | translate">
    <ul class="separated-list">
      @for (export of taxon.taxonExpert; track export) {
        <li>{{ export | users:'fullName' }}</li>
      }
    </ul>
  </laji-taxon-info-row>
}
@if (taxon.hasBold) {
  <laji-taxon-info-row [label]="'taxonomy.bold' | translate">
    <laji-taxon-bold [taxon]="taxon"></laji-taxon-bold>
  </laji-taxon-info-row>
}
@if (taxon.informalTaxonGroups && taxon.informalTaxonGroups.length > 0) {
  <laji-taxon-info-row [label]="'taxonomy.informalTaxonGroups' | translate">
    <ul>
      @for (group of taxon.informalTaxonGroups; track group) {
        <li>{{ group | label }}</li>
      }
    </ul>
  </laji-taxon-info-row>
}
