<laji-spinner [spinning]="loading" [overlay]="true">
  <div *ngIf="!loading && images.length === 0">{{'observation.form.noImages' | translate}}</div>
  <laji-image-gallery [showPopover]="true"
                      [showViewSwitch]="true"
                      [modalImages]="images"
                      [eventOnClick]="false"
                      [showCompactInfo]="true"
                      [showLinkToSpeciesCard]="true"
                      (select)="onImageSelect($event)"></laji-image-gallery>
  <laji-paginator [page]="searchQuery.imageOptions.page" [count]="total" [size]="pageSize" (change)="pageChanged($event)"></laji-paginator>
</laji-spinner>
