<div class="counts">
  <strong>
    {{'species.images.count1' | translate}}
    <laji-species-count [searchQuery]="searchQuery" [hasMediaFilter]="true"></laji-species-count>
    {{'species.images.count2' | translate}}
  </strong>
</div>
<laji-spinner [spinning]="loading" [overlay]="true">
  <laji-image-gallery [showPopover]="true"
                      [showViewSwitch]="true"
                      [modalImages]="images"
                      [eventOnClick]="false"
                      [showCompactInfo]="true"
                      [showLinkToSpeciesCard]="true"
                      (select)="onImageSelect($event)"></laji-image-gallery>
  <laji-paginator [page]="searchQuery.imageOptions.page" [count]="total" [size]="pageSize" (change)="pageChanged($event)"></laji-paginator>
</laji-spinner>
