<div class="row">
  <div class="col-md-12">
    <h3>{{ 'theme.kerttu.areLettersSame' | translate }}</h3>
    <laji-three-state-switch
      (valueChange)="this.currentAnnotation = $event; annotationChange.emit($event)"
      [onValue]="annotation.yes"
      [offValue]="annotation.no"
      [undefinedValue]="annotation.unsure"
      [onText]="'yes' | translate"
      [offText]="'no' | translate"
      [undefinedText]="'theme.kerttu.notSure' | translate"
      [showUndefined]="true"
      [value]="currentAnnotation"
      [disabled]="!template || !candidate || loadingTemplate || loadingCandidate"
    >
      ></laji-three-state-switch>
  </div>
  <div class="col-md-6">
    <h4>{{ 'theme.kerttu.letterTemplate' | translate }} (<laji-taxon-name [taxon]="taxon$ | async"></laji-taxon-name>)</h4>
    <laji-audio-viewer
      [recording]="template?.recording"
      [xRangePadding]="1"
      [xRange]="template?.xRange"
      [yRange]="template?.yRange"
      (audioLoading)="loadingTemplate = $event"
    ></laji-audio-viewer>
  </div>
  <div class="col-md-6">
    <h4>{{ 'theme.kerttu.letterCandidate' | translate }} ({{ candidate?.crossCorrelation }})</h4>
    <laji-audio-viewer
      [recording]="candidate?.recording"
      [xRangePadding]="1"
      [xRange]="candidate?.xRange"
      (audioLoading)="loadingCandidate = $event"
    ></laji-audio-viewer>
  </div>
  <div class="col-md-12">
    <h4>{{ 'theme.kerttu.letterCandidateLonger' | translate }}</h4>
    <laji-audio-viewer
      [recording]="candidate?.recording"
      [xRange]="candidate?.xRange"
    ></laji-audio-viewer>
  </div>
</div>
