<div class="row">
  <div class="col-md-12">
    <h2><laji-taxon-name [taxon]="taxon$ | async" [capitalizeName]="true"></laji-taxon-name></h2>
    <div>
      <span>Kirjain: {{ template?.name }}</span>
      <br>
      <span>Tunnistuksia tehty: {{ letterAnnotationCount }}/{{ template?.targetAnnotationCount }}</span>
      <br>
      <button class="btn btn-default" (click)="skipLetterClick.emit()">Jätä kirjain väliin</button>
    </div>
  </div>
</div>
<div id="letterAnnotationContainer" class="row">
  <div class="col-md-12">
    <h3>{{ 'theme.kerttu.areLettersSame' | translate }}</h3>
    <laji-three-state-switch
      (valueChange)="this.currentAnnotation = $event; annotationChange.emit($event)"
      [onValue]="annotation.yes"
      [offValue]="annotation.no"
      [undefinedValue]="annotation.unsure"
      [onText]="'yes' | translate"
      [offText]="'no' | translate"
      [undefinedText]="'theme.kerttu.notSure' | translate"
      [showUndefined]="true"
      [value]="currentAnnotation"
      [disabled]="!template || !candidate || loadingTemplate || loadingCandidate"
    >
      ></laji-three-state-switch>
  </div>
  <div class="col-md-12" id="letterAnnotationControls">
    <button class="btn btn-default" (click)="zoomed = !zoomed">Zoomaa lähelle/kauas</button>
  </div>
  <div class="col-md-6">
    <h4>{{ 'theme.kerttu.letterTemplate' | translate }}</h4>
    <laji-audio-viewer
      [recording]="template?.recording"
      [xRangePadding]="0.5"
      [xRange]="template?.xRange"
      [yRange]="template?.yRange"
      [zoomed]="zoomed"
      (audioLoading)="loadingTemplate = $event"
    ></laji-audio-viewer>
  </div>
  <div class="col-md-6">
    <h4>{{ 'theme.kerttu.letterCandidate' | translate }} ({{ candidate?.crossCorrelation }})</h4>
    <laji-audio-viewer
      [recording]="candidate?.recording"
      [xRangePadding]="0.5"
      [xRange]="candidate?.xRange"
      [yRange]="candidateYRange"
      [zoomed]="zoomed"
      (audioLoading)="loadingCandidate = $event"
    ></laji-audio-viewer>
  </div>
  <div class="col-md-12">
    <h4>{{ 'theme.kerttu.letterCandidateLonger' | translate }}</h4>
    <button (click)="candidateLongerVisible = true" class="btn btn-default" *ngIf="!candidateLongerVisible">Näytä</button>
    <laji-audio-viewer
      *ngIf="candidateLongerVisible"
      [recording]="candidate?.recording"
      [xRange]="candidate?.xRange"
      [yRange]="candidateYRange"
      [zoomed]="zoomed"
    ></laji-audio-viewer>
  </div>
</div>
