<select class="form-control d-inline continent-select" [(ngModel)]="continent">
  <option [ngValue]="null">{{ 'identification.recordings.allContinents' | translate }}</option>
  <option *ngFor="let continent of (filters$ | async)?.continent" [ngValue]="continent.id">{{ continent.name }}</option>
</select>
<input
  type="text"
  class="form-control d-inline species-select"
  [class.loading]="loading"
  name="target"
  [placeholder]="placeholder"
  [(ngModel)]="value"
  [typeahead]="dataSource"
  [typeaheadOptionsLimit]="limit"
  [typeaheadWaitMs]="200"
  [typeaheadMinLength]="0"
  [typeaheadOptionField]="'commonName'"
  [typeaheadItemTemplate]="taxonItem"
  (typeaheadOnSelect)="onTaxonSelect($event)"
  [typeaheadSelectFirstItem]="true"
  [typeaheadIsFirstItemActive]="true"
  autocomplete="off"
  autocorrect="off"
>

<ng-template #taxonItem let-item="item">
  <span class="autocomplete-container" [innerHTML]="item['autocompleteDisplayName']"></span>
</ng-template>
