<select class="form-control d-inline continent-select" [(ngModel)]="continent">
  <option [ngValue]="null">{{ 'identification.allContinents' | translate }}</option>
  <option *ngFor="let continent of (filters$ | async)?.continent" [ngValue]="continent.id">{{ ('continents.' + continent.name) | translate }}</option>
</select>
<input
  type="text"
  class="form-control d-inline species-select"
  [class.loading]="loading"
  name="target"
  [placeholder]="placeholder"
  [(ngModel)]="value"
  [luTypeahead]="dataSource"
  [luTypeaheadOptionsLimit]="limit"
  [luTypeaheadWaitMs]="200"
  [luTypeaheadMinLength]="0"
  [luTypeaheadOptionField]="'commonName'"
  [luTypeaheadItemTemplate]="taxonItem"
  (luTypeaheadOnSelect)="onTaxonSelect($event)"
  [luTypeaheadSelectFirstItem]="true"
  [luTypeaheadIsFirstItemActive]="true"
  autocomplete="off"
  autocorrect="off"
>

<ng-template #taxonItem let-item="item">
  <span class="autocomplete-container" [innerHTML]="item['autocompleteDisplayName']"></span>
</ng-template>
