:host >>> .hidden {
  display: none !important;
}

@media screen and (max-width: 767px) {
  #container {
    margin: 0;
  }
}

.np-row [class^="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

.nav-margin {
  margin-top: 42px;
}

.no-flex {
  flex: 0 0 auto;
}

.laji-form-help-glyph {
  margin-left: 5px;
  border-radius: 9px;
  color: white;
  padding: 1px 5px;
  font-size: 13px;
}
