<div class="container-fluid" style="width: 100%">
  <div id="container" class="row np-row">
    <laji-document-form-header [formID]="formId"
                               [displayObservationList]="false"
                               [description]="description"
    class="no-flex"></laji-document-form-header>

    <alert *ngIf="errorMsg" type="danger">{{ errorMsg }}</alert>

    <ng-container *ngIf="filterByMunicipality && !editMode">
      <div class="form-group col-xs-12">
        <div class="row">
          <label class="col-xs-12">{{ 'MNP.municipality' | label }}</label>
          <laji-area-select class="col-sm-12 col-md-4 col-lg-3"
                            [disabled]="editMode"
                            [field]="areaTypes.Municipality"
                            [allOptionEnabled]='true'
                            [selectOptionEnabled]='false'
                            (select)="onMunicipalityChange($event)"
                            [value]="municipality"></laji-area-select>
          </div>
      </div>
    </ng-container>
    <div *ngIf="filterByBirdAssociationArea">
      <div class="form-group col-xs-12">
        <div class="row">
          <label class="col-xs-12"
                 [tooltip]="birdAssociationAreaHelp"
                 [placement]="'right'"
                 [isDisabled]="!documentForm.namedPlaceOptions || !documentForm.namedPlaceOptions.birdAssociationAreaHelp">{{ 'MNP.birdAssociationArea' | label }}
            <span *ngIf="documentForm.namedPlaceOptions && documentForm.namedPlaceOptions.birdAssociationAreaHelp" class="label-info laji-form-help-glyph"><strong>?</strong></span>
          </label>
          <laji-area-select class="col-sm-12 col-md-4 col-lg-3"
                            [disabled]="editMode"
                            [field]="areaTypes.BirdAssociationArea"
                            (select)="onBirdAssociationAreaChange($event)"
                            [value]="this.birdAssociationArea"></laji-area-select>
        </div>
      </div>
    </div>
    <ng-container *ngIf="filterByTags && !editMode">
      <laji-metadata-select
        [alt]="'MNP.tagEnum'"
        [ngModel]="tags"
        (ngModelChange)="onTagChange($event)"
        [multiple]="true"
        [useFilter]="false"
        placeholder="np.tag"
        [open]="true"></laji-metadata-select>
    </ng-container>
    <div *ngIf='allowCreate && !editMode && namedPlaces' class="choose-label">
      <span>{{documentForm.namedPlaceOptions?.createNewLabels?.desc
            || 'np.chooseLabel' | translate}}</span>
      <button class='btn btn-default raised-1' (click)='toEditMode(true)'>
        {{ documentForm.namedPlaceOptions?.createNewLabels?.button || 'np.createNew' | translate }}
      </button>
    </div>
    <laji-spinner [spinning]="loading" [overlay]="true">
      <div *ngIf="namedPlaces && documentForm && !errorMsg">
        <div [ngClass]="{'col-sm-12 col-md-12 col-lg-6': !editMode}">
          <laji-np-choose [namedPlaces]="namedPlaces"
                          [documentForm]="documentForm"
                          [placeForm]="placeForm"
                          [userID]="userID"
                          [visible]="!editMode"
                          [allowCreate]="allowCreate"
                          [activeNP]="activeNP"
                          (activePlaceChange)="onActivePlaceChange($event)"
                          (createButtonClick)="toEditMode(true)"></laji-np-choose>
        </div>
        <div [ngClass]="editMode ? 'col-xs-12 nav-margin' : 'col-lg-6 nav-margin'">
          <laji-np-edit [editMode]="editMode"
                        [formId]="formId"
                        [loading]="loading"
                        [collectionId]="collectionId"
                        [prepopulatedNamedPlace]="prepopulatedNamedPlace"
                        [namedPlace]="namedPlace"
                        [formRights]="formRights"
                        [documentForm]="documentForm"
                        [allowEdit]="allowEdit"
                        [placeForm]="placeForm"
                        [mapOptionsData]="mapOptionsData"
                        (reserve)="onReserve()"
                        (release)="onRelease()"
                        (editButtonClick)="toEditMode(false)"
                        (editReady)="toNormalMode($event)"></laji-np-edit>
        </div>
      </div>
    </laji-spinner>
  </div>
</div>

<ng-template #birdAssociationAreaHelp>
  <strong>{{ 'MNP.birdAssociationArea' | label }}</strong>
  <br>
  {{ documentForm.namedPlaceOptions.birdAssociationAreaHelp }}
</ng-template>
