@import 'vars';
@import '../../../styles/styles.scss';

div {
  &.loading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &.observation-chart {
    z-index: 0;
    padding: 20px 0;
  }
  &.observation-chart-wrapper {
    position: relative;
  }
  &.stat-info {
    position: absolute;
    z-index: 2;
    right: 28px;
    top: 20px;
  }
  &.noData {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &.spinnerLabel{
    position: absolute;
    top: 50%;
  }
  &.hideLabels{
    width:calc(100% - 100px);
    margin-left: 100px;
  }
}

select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 10px;
}

span {
  font-size: 100%;
}


