<ng-container *ngIf="taxon">
  <h1><laji-taxon-name [taxon]="taxon" [addLink]="false"></laji-taxon-name></h1>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <ng-container *ngIf="latestStatus">
            <laji-taxon-status [status]="latestStatus.redListStatus"></laji-taxon-status>
            <label>{{ 'MKV.criteriaForStatus' | label }}</label><br>
            <p [innerHTML]="latestStatus.criteriaForStatus | explainCriteria"></p>
          </ng-container>
          <ng-container *ngIf="taxon.administrativeStatuses && taxon.administrativeStatuses.length > 0">
          <label>{{ 'iucn.taxon.administrativeStatuses' | translate }}</label>
          <ul>
            <li *ngFor="let status of taxon.administrativeStatuses">
              {{ status | label }}
            </li>
          </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <laji-taxon-image [images]="taxon.multimedia"></laji-taxon-image>
      <a href="https://laji.fi/taxon/{{ taxon.id }}" target="_blank" rel="noreferrer noopener">
        <div class="to-laji" [innerHTML]="'iucn.taxon.more' | translate"></div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ 'iucn.taxon.evaluation' | translate }} {{ latestStatus?.evaluationYear }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <laji-red-list-evaluation-info [evaluation]="taxon?.latestRedListEvaluation"></laji-red-list-evaluation-info>
    </div>
  </div>
</ng-container>
