<div class="container-fluid">
    <div class="container-fluid" *lajiLoggedIn="false">
      <h1>{{ 'haseka.title' | translate }}</h1>
      <p>{{ 'haseka.pleaseLogin' | translate }}</p>
    </div>
    <div *lajiLoggedIn="true">
      <laji-document-form
        (success)="onSuccess($event)"
        (accessDenied)="onAccessDenied($event)"
        (missingNamedplace)="onMissingNamedplace($event)"
        (error)="onError()"
        (cancel)="onCancel()"
        [formId]="formId"
        [documentId]="documentId"
        [template]="template"
      ></laji-document-form>
    </div>
</div>
