<h1>Trait search</h1>
<p>Browse, search and download trait data published on the FinBIF Trait Database.</p>

<button>Download</button>
<button>Filter</button>

<div class="datatable-container">
  <lu-datatable
    [rows]="searchResult?.res.results ?? []"
    [columns]="[
      { title: 'Type', prop: 'subject.type', sortable: false },
      { title: 'Taxon', prop: 'subjectFinBIFTaxon.scientificName', sortable: false },
      { title: 'Life stage', prop: 'subject.lifeStage', sortable: false },
      { title: 'Count', prop: 'subject.individualCount', sortable: false },
      { title: 'Country', prop: 'subject.country', sortable: false },
      { title: 'Date begin', prop: 'subject.dateBegin', sortable: false },
      { title: 'Date end', prop: 'subject.dateEnd', sortable: false },
      { title: 'Subject id', prop: 'subject.id', sortable: false },
      { title: 'Kingdom', prop: 'subject.kingdom', sortable: false },
      { title: 'Author', prop: 'subject.author', sortable: false },
      { title: 'Functional group name', prop: 'subject.functionalGroupName', sortable: false },
    ]"
    [defaultColumns]="[0, 1, 2, 3, 4, 5, 6]"
    [totalPages]="searchResult?.res.total ?? 1"
    [currentPageIdx]="currentPageIdx"
    [loading]="loading"
    [sorts]="searchResult?.sorts ?? []"
    (pageChange)="onLoadPage($event)"
    (sortChange)="onSort($event)"
  ></lu-datatable>
</div>

<h1>Test datatable example:</h1>

<lu-datatable
  [rows]="[
    { a: '-', b: 'camel', c: 50, d: 4 },
    { a: '-', b: 'alpaca', c: 18, d: 4 },
    { a: '-', b: 'alpine ibex', c: 18, d: 4 },
    { a: '-', b: 'kangaroo', c: 20, d: 2 }
  ]"
  [columns]="[{ title: 'non-sortable value', prop: 'a', sortable: false }, { title: 'animal', prop: 'b' }, { title: 'lifespan', prop: 'c' }, { title: 'number of legs', prop: 'd' }]"
  [defaultColumns]="[0, 1, 2]"
  [totalPages]="1"
  [currentPageIdx]="0"
  [loading]="false"
></lu-datatable>
