<div class="container">
<h1>Havaintopalvelun käyttäjä sitoutuu palvelun käyttöehtoihin:</h1>

Käyttöehtojen pääkohdat
<ol>
  <li>Tallennetut havainnot jaetaan Laji.fi-sivuston kautta avoimena tietona</li>
  <li>Tallennettujen havaintojen poistaminen ei ole mahdollista, mutta tieto sen yhteydestä tallentajan henkilöön voidaan poistaa eli havainnot anonymisoidaan</li>
  <li>Havaintoihin liittyvä sensitiivinen tieto karkeistetaan tai salataan automaattisesti</li>
</ol>

Lue (ja hyväksy) nämä <strong>”Havaintopalvelun käyttöehdot”</strong> kokonaisuudessaan
Lue Suomen Lajitietokeskuksen Laji.fi-portaalin kautta jaettavan tiedon <strong>”Tiedon käyttöehdot ja julkaiseminen”</strong>, josta selviää miten havaintoja saa käyttää
Lue Suomen Lajitietokeskuksen <strong>”Tietosuojaseloste”</strong>, josta selviää miten henkilötietoja käsitellään

<h1>Suomen Lajitietokeskuksen <strong>Havaintopalvelun</strong> käyttöehdot</h1>

<h2>1. Palvelun kuvaus</h2>
Suomen Lajitietokeskuksen Havaintopalvelu (jäljempänä palvelu) on Helsingin yliopiston Luonnontieteellisen keskusmuseon Luomuksen (jäljempänä Luomus) kehittämä ja ylläpitämä selainkäyttöinen palvelu. Palvelussa rekisteröitynyt käyttäjä tai käyttäjän edustaja (jäljempänä käyttäjä) voi pitää kirjaa tekemistään eliölajihavainnoista.
Palvelun käyttämiseen sovelletaan näitä käyttöehtoja.

<h2>2. Käyttäjän vastuut ja velvoitteet</h2>
Rekisteröityessään palveluun käyttäjä luo itselleen käyttäjätunnuksen ja salasanan. Salasana on henkilökohtainen eikä sitä saa luovuttaa kenellekään. Käyttäjä on vastuussa kaikesta kyseisellä käyttäjätunnuksella ja salasanalla tapahtuneesta käytöstä. Käyttäjä sitoutuu käyttämään palvelua lain ja hyvän tavan sekä näiden käyttöehtojen mukaisesti. Palvelun ylläpitäjällä on oikeus peruuttaa myönnetty käyttäjätunnus, jos käyttäjä on toiminut tai toimii käyttöehtojen, lain tai hyvän tavan vastaisesti tai jos se on palvelun toiminnan kannalta tarpeen.
Käyttäjä käyttää palvelun ylläpitäjän tuottamaa palvelua omalla vastuullaan. Käyttäjä on velvollinen korvaamaan palvelun ylläpitäjälle, sisällöntuottajille tai kolmansille osapuolille aiheutuneen vahingon, joka on seurausta lain, viranomaisten määräysten ja ohjeiden tai tämän sopimuksen vastaisesta käyttäjän toiminnasta.
Käyttäjä ei saa tallentaa palveluun havaintoja, jotka eivät ole hänen itsensä tekemiä, paitsi jos tähän on saatu havainnon tekijän lupa. Käyttäjä ei saa tallentaa palveluun muiden ihmisten henkilötietoja (kuten nimeä) ilman heidän lupaansa.

<h2>3. Tallennettujen tietojen julkisuus ja luovutus</h2>
Käyttäjän palveluun tallentamat havainnot ovat julkisia ja jaetaan avoimena tietona Laji.fi-portaalin kautta ”<a href="https://creativecommons.org/licenses/by/4.0/deed.fi" target="_blank">Creative Commons 4.0. Nimeä (CC4.0BY)</a>” -lisenssin ehdoilla. Poikkeuksena tästä on luonnonsuojelullisista syistä havaintoihin liittyvä  sensitiivinen tieto, joka karkeistetaan tai salataan automaattisesti Lajitietokeskuksen toimesta. Käyttäjällä on oikeus merkitä havaintonsa myös salaisiksi, mutta nämä tiedot eivät tule näkyviin muille kuin käyttäjälle itselleen. Jos kuitenkin käyttäjä on halukas jakamaan havaintonsa erikseen määritellyille viranomaistahoille alkuperäisenä tarkan paikkatiedon kanssa, se on mahdollista. Tämä tieto ei kuitenkaan välity Laji.fi-sivustolle ja näin ollen jää vain käyttäjän ja viranomaistahojen käyttöön.
Käyttäjä voi anonymisoida omat havaintonsa palvelussa siten, että tieto niiden yhteydestä käyttäjään poistetaan. Itse havainnot eivät tällöin poistu järjestelmästä. Näin käsitellyt havainnot muuttuvat samalla validoimattomiksi ja niiden arvo palvelussa mitätöityy.

<h2>4. Palvelun tuottaminen ja ylläpitäminen</h2>
Palvelu on lähtökohtaisesti käytettävissä 24 tuntia vuorokaudessa. Luomus ei takaa, että palvelu toimii käyttökatkoitta tai virheettömästi. Ylläpitäjällä on milloin tahansa oikeus ottaa palvelu tai sen osa tilapäisesti pois käytöstä huollon, laitteistoasennuksen, järjestelmän liiallisen kuormituksen tai muun välttämättömän syyn vuoksi. Ylläpitäjällä on myös oikeus lopettaa palvelun ylläpito milloin tahansa.
Luomus on sitoutunut säilyttämään ja varmistamaan kaikkien ns. primaaritallennusjärjestelmiensä tiedot määräämättömäksi ajaksi, mukaan lukien havaintopalvelun havainnot. Havaintopalvelun aineistot säilytetään samalla tavoin ja suojattuna kuin muut Luomuksen tieteellisistä seurannoista kertyvät aineistot.
Luomuksella on oikeus parantaa ja kaikin tavoin muuttaa palvelun sisältöä ja rakennetta, sen tuote- ja tietokantavalikoimaa, ohjelmistoja, laitteistoja sekä muita palvelun osia. Ylläpitäjä pyrkii tiedottamaan palvelussa tai käyttöehdoissa tapahtuvista, käyttäjän kannalta oleellisista muutoksista sekä käyttökatkoksista etukäteen palvelun välityksellä tai muulla sopivaksi katsomallaan tavalla.

<h2>5. Vahingonkorvausvelvollisuus</h2>
Palvelu on maksuton. Käyttäjälle tai kolmansille osapuolille ei korvata miltään osin palvelusta, sen toiminnasta, käyttökatkoksista, virheistä, muuttamisesta, lopettamisesta tai vastaavista mahdollisesti aiheutuvia välittömiä tai välillisiä kustannuksia tai menetyksiä.
</div>
