<div *ngIf="visible">
  <lu-tabs *ngIf="!_documentForm.options?.namedPlaceOptions?.hideMapTab else listTemplate"
           [tabsListClass]="formOptionToClassName('options.namedPlaceOptions.hideMapTab options.namedPlaceOptions.startWithMap')"
           [selectedIndex]="activeIndex"
           (selectedChange)="setActive($event)">
    <lu-tab [heading]="_documentForm.options.namedPlaceOptions?.listLabel || 'np.list' | translate"
            lajiFormOption="options.namedPlaceOptions.listLabel">
      <ng-container *ngTemplateOutlet="listTemplate"></ng-container>
    </lu-tab>
    <lu-tab [heading]="'np.map' | translate">
      <ng-container *ngIf="loadedTabs.isLoaded('map')">
        <laji-np-map [namedPlaces]="_namedPlaces"
                    [height]="height"
                    [activeNP]="findNPIndexById(_activeNP)"
                    [userID]="_userID"
                    [reservable]="!!_documentForm.options.namedPlaceOptions?.reservationUntil"
                    lajiFormOption="options.namedPlaceOptions.reservationUntil"
                    [placeForm]="placeForm"
                    [documentForm]="_documentForm"
                    (activePlaceChange)="onActivePlaceChange($event)"></laji-np-map>
      </ng-container>
    </lu-tab>
  </lu-tabs>
  <ng-template #listTemplate>
    <div id="list-container" *ngIf="loadedTabs.isLoaded('list')">
      <laji-np-list [height]="height"
                    [namedPlaces]="_namedPlaces"
                    [documentForm]="_documentForm"
                    [placeForm]="placeForm"
                    [listColumnNameMapping]="_documentForm.options.namedPlaceOptions?.listColumnNameMapping"
                    [activeNP]="findNPIndexById(_activeNP)"
                    [formRights]="formRights"
                    [visible]="loadedTabs.getNameFromIdx(activeIndex) === 'list'"
                    (activePlaceChange)="onActivePlaceChange($event)">
        ></laji-np-list>
    </div>
  </ng-template>
</div>
