<div *ngIf="visible" id="container">
  <lu-tabs *ngIf="showMap else listTemplate" [selectedIndex]="activeIndex" (selectedChange)="setActive($event)">
    <lu-tab [heading]="_documentForm.options?.namedPlaceOptions?.listLabel || 'np.list' | translate">
      <ng-container *ngTemplateOutlet="listTemplate"></ng-container>
    </lu-tab>
    <lu-tab [heading]="'np.map' | translate">
      <ng-container *ngIf="loadedTabs.isLoaded('map')">
        <laji-np-map [namedPlaces]="_namedPlaces"
                    [height]="height"
                    [activeNP]="findNPIndexById(_activeNP)"
                    [userID]="_userID"
                    [reservable]="_documentForm.options?.namedPlaceOptions?.reservationUntil"
                    [placeForm]="placeForm"
                    [documentForm]="_documentForm"
                    (activePlaceChange)="onActivePlaceChange($event)"></laji-np-map>
      </ng-container>
    </lu-tab>
  </lu-tabs>
  <ng-template #listTemplate>
    <div id="list-container" *ngIf="loadedTabs.isLoaded('list')">
      <laji-np-list [height]="height"
                    [namedPlaces]="_namedPlaces"
                    [documentForm]="_documentForm"
                    [listColumnNameMapping]="_documentForm.options?.namedPlaceOptions?.listColumnNameMapping"
                    [activeNP]="findNPIndexById(_activeNP)"
                    [formRights]="formRights"
                    (activePlaceChange)="onActivePlaceChange($event)"
      ></laji-np-list>
    </div>
  </ng-template>

  <ng-container *lajiLoggedIn="true">
    <lu-button *ngIf="allowCreate"
               (click)="createButtonClick.emit()">{{ _documentForm.options?.namedPlaceOptions?.createNewButtonLabel || 'np.createNew' | translate }}</lu-button>
  </ng-container>
</div>
