#container {
  padding: 10px 0 10px 0;
}

#navbar {
  flex: none;
}

#list-container, laji-np-list {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-height: 0;
}

#navbar .nav {
  margin-bottom: 0;
}

.nav a {
  cursor: pointer;
}
