<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open, 'lj-disabled': disabled}">
  <strong *ngIf="title !== undefined && title !== ''" class="lj-title link" (click)="toggle($event, filter)">{{ title }}<laji-info *ngIf="info" [html]="info"></laji-info></strong>
  <ng-container *ngIf="multiple; else select">
    <ng-container *ngIf="!useFilter; else multiWithFilter">
      <ng-container *ngIf="!open">
        <span class="item" *ngFor="let option of selectedOptions; trackBy: track">
          <label class="lj-item selected" [ngClass]="{'subCategoriesOptions': checkboxType !== 2, '': checkboxType === 2}" (click)="labelClick($event)">
            <ng-container *ngIf="checkboxType === 0 else checkboxSubCategoriesGlobal">
              <laji-checkbox [value]="true" (valueChange)="remove(option.id, $event)"></laji-checkbox> {{ option.value}}
            </ng-container>
            <ng-template #checkboxSubCategoriesGlobal>
              <laji-checkbox [value]="selectedOptions | includesMultiState: option : 'id'" [checkboxType]="checkboxType" (valueChange)="remove(option.id, $event)"></laji-checkbox>{{ option.id | warehouse | label }} {{selectedOptions | includesMultiState: option : 'id'}}
            </ng-template>
          </label>
          <ng-container [ngTemplateOutlet]="value" [ngTemplateOutletContext]="{option: option}"></ng-container>
        </span>
      </ng-container>
      <div *ngIf="open" class="lj-item-container" [ngClass]="{'subCategoriesContainer': checkboxType !== 2, '': checkboxType === 2}">
        <laji-spinner [spinning]="loading"></laji-spinner>
        <div [class.lj-active]="i === selectedIdx" *ngFor="let option of options; let i = index; trackBy: track" style="position: relative;">
          <label class="lj-item" [ngClass]="{'subCategoriesOptions': checkboxType !== 2, '': checkboxType === 2}" (click)="labelClick($event)">
            <ng-container *ngIf="checkboxType === 0 else checkboxSubCategoriesGlobal">
              <laji-checkbox [value]="selectedOptions | includes:option" (valueChange)="toggleValue(option.id, $event)"></laji-checkbox> {{ option.value}}
            </ng-container>
            <ng-template #checkboxSubCategoriesGlobal>
              <laji-checkbox [checkboxType]="checkboxType" (valueChange)="toggleValue(option.id, $event)"  [value]="selectedOptions | includesMultiState: option : 'id'"></laji-checkbox> {{option.value}} 
            </ng-template>
          </label>
          <ng-container [ngTemplateOutlet]="value" [ngTemplateOutletContext]="{option: option}"></ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #multiWithFilter>
      <span class="lj-container" *ngFor="let option of selectedOptions; trackBy: track">
        <label class="lj-item selected" [ngClass]="{'subMenu': checkboxType === 2, '': checkboxType !== 2}" (click)="labelClick($event)">
          <laji-checkbox [value]="true" (valueChange)="remove(option.id, $event)"></laji-checkbox>{{option.value}}
        </label>
        <ng-container [ngTemplateOutlet]="value" [ngTemplateOutletContext]="{option: option}"></ng-container>
      </span>
      <div class="lj-filter" [hidden]="!useFilter || !open">
        <input #filter (keyup)="onFilterChange($event, filter.value)" class="form-control" type="search" placeholder="{{filterPlaceHolder}}">
      </div>
      <div *ngIf="open" class="lj-item-container">
        <div [class.lj-active]="i === selectedIdx" *ngFor="let option of (unselectedOptions | filter:filterBy ); let i = index; trackBy: track" style="position: relative;">
          <label class="lj-item" (click)="labelClick($event)">
            <laji-checkbox (valueChange)="add(option.id, $event)"></laji-checkbox> {{option.value}}
          </label>
          <ng-container [ngTemplateOutlet]="value" [ngTemplateOutletContext]="{option: option}"></ng-container>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>

<ng-template #select>
  <ng-container *ngIf="!open">
    <span class="lj-container" *ngFor="let option of selectedOptions; trackBy: track">
      <label class="lj-item selected" (click)="labelClick($event)">
        <laji-checkbox [value]="true" (valueChange)="remove(option.id, $event)"></laji-checkbox> {{ option.value }} cazzo
      </label>
      <ng-container [ngTemplateOutlet]="value" [ngTemplateOutletContext]="{option: option}"></ng-container>
    </span>
  </ng-container>
  <div class="lj-filter" [hidden]="!useFilter || !open">
    <input #filter (keyup)="onFilterChange($event, filter.value)" class="form-control" type="search" placeholder="{{filterPlaceHolder}}">
  </div>
  <div *ngIf="open" class="lj-item-container">
    <laji-spinner [spinning]="loading"></laji-spinner>
    <div [class.lj-active]="i === selectedIdx" *ngFor="let option of (options | filter:filterBy ); let i = index; trackBy: track">
      <label class="lj-item" (click)="labelClick($event)">
        <ng-container *ngIf="checkboxType === 0 else checkboxSubCategoriesGlobal">
          <laji-checkbox [value]="selectedOptions | includes:option" (valueChange)="toggleValue(option.id, $event)"></laji-checkbox> {{ option.value}}
        </ng-container>
        <ng-template #checkboxSubCategoriesGlobal>
          <laji-checkbox [checkboxType]="checkboxType" (valueChange)="toggleValue(option.id, $event)"  [value]="selectedOptions | includesMultiState: option : 'id'"></laji-checkbox> {{option.value}} 
        </ng-template>
      </label>
      <ng-container [ngTemplateOutlet]="value" [ngTemplateOutletContext]="{option: option}"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template let-option="option" #value>
  <laji-info *ngIf="option.info" [html]="option.info"></laji-info>
</ng-template>
