.icon {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.thumbnail {
  text-decoration: none;
  text-align: center;
  padding: 0;
}

/** Angular takes care of that this will stay within the component! **/
.glyphicon {
  font-size: 4em;
}
