<h1>
  Sarakkeiden linkittäminen <small>(1/2)</small>
</h1>
<table class="table">
  <tr *ngFor="let col of cols">
    <td>
      <div class="form-control-static">
        <small>{{col}}:</small> {{headers[col] || ''}}
      </div>
    </td>
    <td>
      <laji-header-select [value]="mapping[col] || ''" [options]="allFields" [fields]="fields" (selected)="fieldSelected.emit({col: col, key: $event})"></laji-header-select>
    </td>
  </tr>
</table>
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" [disabled]="missingMappings()" (click)="saveMapping()">Seuraava</button>
  </div>
</div>
