<ng-container *ngIf="missingMapping.length > 0; else allMapped">
  <p>{{ 'excel.map.col-intro' | translate }}</p>
  <table class="table">
    <tr>
      <th>
        {{ 'excel.map.col-user' | translate }}
      </th>
      <th>
        {{ 'excel.map.col-mapped' | translate }}
      </th>
    </tr>
    <tr *ngFor="let col of missingMapping">
      <td class="field-col">
        <div class="form-control-static">
          <small>{{col}}:</small>&nbsp;{{ headers[col] || '' }}
        </div>
      </td>
      <td class="mapping-col">
        <laji-mapping-select [value]="colMapping[col] || ''" [fields]="fields" (selected)="fieldSelected.emit({col: col, key: $event, userValue: headers[col]})"></laji-mapping-select>
      </td>
    </tr>
  </table>
</ng-container>
<ng-template #allMapped>
  <alert type="success">
    {{ 'excel.map.col-ok' | translate }}
  </alert>
</ng-template>
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" [disabled]="missingMappings()" (click)="saveMapping()">Seuraava</button>
  </div>
</div>
