
:host ::ng-deep .chart-legend .legend-label {
  cursor: initial !important;
}
:host ::ng-deep .day-chart .ngx-charts .bar {
  cursor: initial !important;
}
.info-card-chart {
  margin: auto;
  width: 100%;
  min-height: 450px;
  max-width: 1200px;
}

.info-card-chart.day-chart {
  height: 100%;
  overflow-x: auto;
}

.chart-container {
  position: relative;
  min-height: 450px;
  width: 100%;
}

canvas {
  width: 500px;
  height: 200px;
}