<div class="observation-map" [ngStyle]="{height: height + 'px', width:'100%'}">
  <laji-map
          [visible]="visible"
          [data]="mapData"
          [drawData]="drawData"
          [draw]="draw"
          [center]="center"
          [showLayers]="showLayers"
          (onCreate)="onCreate($event)"
          (onMove)="onMove($event)"
          [initWithWorldMap]="initWithWorldMap">
    <div class="loading-map loading" *ngIf="loading"></div>
    <ul class="legend" *ngIf="legend" [ngStyle]="{'margin-top': topMargin }">
      <li *ngFor="let leg of legendList">
        <span class="color" [ngStyle]="{'background-color': leg.color}"></span>{{leg.range}}
      </li>
    </ul>
  </laji-map>
</div>
