.footer {
  height: 100px;
  background-color: #ECF0F1;
  padding: 10px
}

.legend {
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  left: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.legend .color {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.legend li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loading-map {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
