.footer {
  height: 100px;
  background-color: #ECF0F1;
  padding: 10px
}

.legend {
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  left: 0;
}
.legend .color {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right:5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
.legend li {
  list-style: none;
  padding:0;
  margin: 0;
}
.loading-map {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center center;
}
