<laji-spinner [spinning]="loading" [overlay]="true">
  <div *ngIf="!loading && images.length === 0">{{'observation.form.noImages' | translate}}</div>
  <ImageModal [modalImages]="images"></ImageModal>
  <pagination
          [totalItems]="total"
          [itemsPerPage]="pageSize"
          [(ngModel)]="page"
          (pageChanged)="pageChanged($event)"
          [maxSize]="7"
          [boundaryLinks]="true"
          [firstText]="'paginator.first' | translate"
          [lastText]="'paginator.last' | translate"
          [previousText]="'paginator.previous' | translate"
          [nextText]="'paginator.next' | translate"
  ></pagination>
</laji-spinner>