<div class="row" *ngIf="formPermission">
  <div class="col-sm-6">
    <h3 *ngIf="type === 'admins'; else editorsTitle">
      Lomakkeen ylläpitäjät<br>
      <small>Näillä käyttäjillä on oikeus hyväksyä pääsypyyntöjä, sekä nähdä kaikki havaintoerät jotka on tallennettu kyseiseen kokoelmaan.</small>
    </h3>
    <ng-template #editorsTitle>
      <h3>Pääsy lomakkeelle</h3>
    </ng-template>
    <p *ngIf="!formPermission[type] || formPermission[type].length === 0; else list">
      Ei ketään.
    </p>
    <ng-template #list>
      <ul>
        <li *ngFor="let person of formPermission[type]">
          <button class="btn btn-warning btn-sm" (click)="reject(person)">Poista pääsy</button>
          <button *ngIf="type === 'admins'" class="btn btn-warning btn-sm" (click)="makeEditor(person)">Poista ylläpitäjän oikeudet</button>
          <button *ngIf="type === 'editors'" class="btn btn-danger btn-sm" (click)="makeAdmin(person)">Myönnä ylläpitäjän oikeudet</button>
          <span class="form-control-static">
              {{person | users}} ({{person}})
          </span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
