<ng-container *ngFor="let field of _fields">
  <ng-container *ngIf="object[field.name] && (field.type !== 'collection' || object[field.name].length > 0)">
    <ng-container *ngTemplateOutlet="field.template; context: {'value': object[field.name], 'label': field.label, 'field': field}"></ng-container>
  </ng-container>
</ng-container>

<ng-template #checkbox let-value="value" let-label="label">
  <laji-row [title]="label" [value]="value ? ('yes' | translate) : ('no' | translate)"></laji-row>
</ng-template>
<ng-template #select let-value="value" let-label="label" let-field="field">
  <laji-row [title]="label" [value]="field.enums[value]"></laji-row>
</ng-template>
<ng-template #taxonCensus let-value="value">
  <laji-row [title]="'MY.taxonCensus' | label">
    <ul class="comma-list">
      <li *ngFor="let census of value" [tooltip]="census.taxonCensusType | label" [isDisabled]="hideTooltips">
        {{census.censusTaxonID | taxon}}
      </li>
    </ul>
  </laji-row>
</ng-template>
<ng-template #fieldset let-value="value" let-field="field">
  <laji-document-object [object]="value"
                        [fields]="field.fields"
                        [hideTooltips]="hideTooltips"
  ></laji-document-object>
</ng-template>
<ng-template #default let-value="value" let-label="label">
  <laji-row [title]="label" [value]="value | label"></laji-row>
</ng-template>
