<div class="map-wrap" [ngClass]="{'print-map': printMode}">
  <div class="info no-print">
    <a [href]="'infoLinks.map' | translate" [luTooltip]="'haseka.instructions' | translate" placement="left" target="_blank" rel="noopener noreferrer">
      <i class="glyphicon glyphicon-info-sign"></i>
    </a>
  </div>

  <laji-map
    (loaded)="onMapLoad()"
    [options]="mapOptions"
    [settingsKey]="''"
    [showPrintControl]="true"
    [(printMode)]="printMode"
    (create)="onCreate()"
  ></laji-map>
</div>
