<div class="map-wrap" [ngClass]="{'page': printMode}">
  <div class="info no-print">
    <a [routerLink]="instructions[translate.currentLang] | localize" [luTooltip]="'haseka.instructions' | translate" placement="left" target="_blank" rel="noopener noreferrer">
      <i class="glyphicon glyphicon-info-sign"></i>
    </a>
  </div>

  <laji-map
    (loaded)="onMapLoad()"
    [options]="mapOptions"
    [settingsKey]="''"
    (create)="onCreate()"></laji-map>

  <div #printControlWell [ngStyle]="{'display': 'none'}">
    <div class="print-mode-controls" id="print-controls" #printControl>
      <laji-pdf-button></laji-pdf-button>
      <button type="button" class="btn btn-danger mt-2" (click)="togglePrintMode($event)">{{ 'map.front.print.stop' | translate }}</button>
    <div>
  </div>
</div>
