<div class="container-fluid">
  <ng-container *ngIf="hasLock">
    <laji-version-nav
      class="pull-right"
      [data]="data$ | async"
      [activeIdx]="activeIdx$ | async"
      (activeIdxChange)="activeIdxChange($event)"
    ></laji-version-nav>
    <laji-species-template-validation
      [species]="species$ | async"
      [data]="validationData$ | async"
      [templates]="templates$ | async"
      [historyView]="historyView$ | async"
      [saving]="saving"
      (save)="saveTemplates($event)"
      (cancel)="cancel()"
    ></laji-species-template-validation>
    </ng-container>
    <ng-container *ngIf="hasLock === false">
      <div class="alert alert-danger">
        {{ 'validation.noLock' | translate }}
      </div>
    </ng-container>
</div>
