.icon {
  position: fixed;
  bottom: 13px;
  z-index: 1029;
  right: 5px;
  border: 1px solid #4cae4c;
  border-radius: 4px;
  background-color: #5cb85c;
  width: 28px;
  height: 28px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.feedback-text {
  height: 200px;
}

.modal-header {
  color: #2C3E50;
}

.message, .other {
  margin-top: 10px;
}
