<ng-container *ngIf="vm$ | async; let vm; else spinner">
  <div style="margin-top: 20px;">
  <ng-container *ngIf="vm | typeGuard: isFormError as error" [ngSwitch]="error">
    <alert type="danger" *ngSwitchCase="errors.notFoundForm">
      {{ 'haseka.form.formNotFound' | translate:{formId: formID} }}
    </alert>
    <alert type="danger" *ngSwitchCase="errors.notFoundDocument">
      {{ 'haseka.form.documentNotFound' | translate:{documentId: documentID} }}
    </alert>
    <alert type="danger" *ngSwitchCase="errors.loadFailed">
      {{ 'haseka.form.genericError' | translate }}
    </alert>
    <alert type="danger" *ngSwitchCase="errors.noAccessToDocument">
      {{ 'haseka.form.noAccessToDocument' | translate }}
    </alert>
    <alert type="danger" *ngSwitchCase="errors.templateDisallowed">
      {{ 'haseka.form.templateDisallowed' | translate }}
    </alert>
    <alert type="danger" *ngSwitchCase="errors.missingNamedPlace">
      {{ 'haseka.form.missingNamedPlace' | translate }}
    </alert>
  </ng-container>
  <ng-container *ngIf="vm | typeGuard: isSaneViewModel as vm">
    <laji-project-form-header *ngIf="!vm.form.options?.mobile"
                              [form]="vm.form"
                              [description]="vm.form.description">
    <laji-own-submissions *ngIf="vm.namedPlace && vm.form.options?.displayOwnSubmissions"
           [actions]="vm.isAdmin ? ['edit', 'view', 'delete'] : ['edit', 'view']"
           [columns]="['dateObserved', 'observer', 'dateEdited']"
           [columnNameMapping]="vm.form.options?.namedPlaceOptions?.listColumnNameMapping"
           [collectionID]="vm.form.collectionID"
           [formID]="vm.form.id"
           [namedPlace]="vm.namedPlace?.id"
           [showDownloadAll]="false"
           [header]="vm.form.options?.formOwnSubmissionsLabel || vm.namedPlace ? 'np.formOwnSubmissions' : (vm.isAdmin ? 'haseka.ownSubmissions.allTitle' : 'haseka.mobile.ownSubmissions')"
           [forceLocalDocument]="vm.form.options?.documentsViewableForAll"
           [admin]="vm.isAdmin"></laji-own-submissions>
    </laji-project-form-header>
    <laji-named-place-linker-button [documentID]="documentID"></laji-named-place-linker-button>
    <alert [type]="'danger'" *ngIf="vm.formData?.locked">
      {{ 'document.locked' | translate }}
    </alert>
    <alert *ngIf="vm.editingOldWarning" type="warning">{{ 'haseka.editingOldDocumentWarning' | translate: {date: vm.editingOldWarning} }}</alert>
    <div class="row" *ngIf="vm.namedPlaceHeader" style="margin-top: 10px">
      <div class="col-sm-12">
        <h3><span *ngFor="let field of vm.namedPlaceHeader; let i = index">
            <ng-container *ngIf="vm.namedPlace[field] | area | values as val">
              {{ val }}{{ vm.namedPlace[vm.namedPlaceHeader[i + 1]] ? ', ' : '' }}
            </ng-container>
          </span></h3>
      </div>
    </div>
    <div class="clear"></div>
    <div class="laji-form">
      <laji-form
        [form]="vm.form"
        [formData]="vm.formData"
        [settingsKey]="vm.form.id"
        [showShortcutButton]="!vm.form.options?.mobile"
        (dataChange)="onChange($event)"
        (dataSubmit)="onSubmit($event)"
        (validationError)="onValidationError($event)"
        (goBack)="onGoBack()"
      ></laji-form>
      <laji-form-footer
        [form]="vm.form"
        [dateEdited]="vm.formData.dateEdited"
        [locked]="vm.locked"
        [isAdmin]="vm.isAdmin"
        [status]="vm.hasChanges ? 'unsaved' : ''"
        [readonly]="vm.readonly"
        [edit]="!!documentID"
        [errors]="validationErrors"
        [touchedCounter]="touchedCounter$ | async"
        [lajiForm]="lajiForm"
        [template]="template"
        (lock)="lock($event)"
        (submitPublic)="submitPublic()"
        (submitPrivate)="submitPrivate()"
        (submitTemplate)="submitTemplate()"
        (leave)="onLeave()"></laji-form-footer>
      </div>
    </ng-container>
  </div>
</ng-container>

<div class="modal template-form" tabindex="-1" role="dialog" bsModal #saveAsTemplate="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" (click)="templateModal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">{{ 'template.formTitle' | translate }}</h4>
      </div>
      <div class="modal-body">
        <label for="templateName">{{ 'template.name' | translate }}: <span class="required">*</span></label>
        <input id="templateName" class="form-control" type="text" [(ngModel)]="templateForm.name" name="name">
        <label for="templateDescription">{{ 'template.description' | translate }}:</label>
        <textarea id="templateDescription" class="form-control" [(ngModel)]="templateForm.description" name="description"></textarea>
        <span class="required">*</span> = {{ 'required' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default template-save" [class.disabled]="templateForm.name.length === 0" (click)="saveTemplate()">
          <span>{{ "np.save" | translate }}</span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<ng-template #spinner>
  <laji-spinner #spinner [spinning]="true" [overlay]="true"></laji-spinner>
</ng-template>
