<laji-spinner [spinning]="(namedPlace || editMode) && !npFormData" [overlay]="true"></laji-spinner>
<ng-container *ngIf="npFormData">
  <ng-container *ngIf="namedPlace && !editMode">
    <laji-np-info [namedPlace]="namedPlace"
                  [isAdmin]="isAdmin"
                  [formData]="npFormData"
                  [targetForm]="formData"
                  [allowEdit]="allowEdit"
                  [collectionId]="prepopulatedNamedPlace['collectionId']"
                  [editMode]="editMode"
                  (onEditButtonClick)="editClick()"
                  (onUseButtonClick)="useClick()"></laji-np-info>
  </ng-container>
  <ng-container *ngIf="editMode">
    <laji-np-edit-form *ngIf="npFormData"
                       [lang]="lang"
                       [formData]="npFormData"
                       [namedPlace]="namedPlace"
                       (onEditReady)="editReady($event)"></laji-np-edit-form>
  </ng-container>
</ng-container>
