<laji-spinner [spinning]="(namedPlace || editMode) && !placeForm" [overlay]="true"></laji-spinner>
<ng-container *ngIf="placeForm">
  <ng-container *ngIf="namedPlace && !editMode">
    <laji-np-info [namedPlace]="namedPlace"
                  [formRights]="formRights"
                  [placeForm]="placeForm"
                  [documentForm]="documentForm"
                  [collectionId]="collectionId"
                  [allowEdit]="allowEdit"
                  [loading]="loading"
                  [editMode]="editMode"
                  (releaseButtonClick)="release.emit()"
                  (reserveButtonClick)="reserve.emit()"
                  (editButtonClick)="editClick()"
                  (useButtonClick)="useClick()"></laji-np-info>
  </ng-container>
  <ng-container *ngIf="editMode">
    <laji-np-edit-form *ngIf="placeForm"
                       [namedPlaceOptions]="documentForm.namedPlaceOptions"
                       [documentForm]="placeForm"
                       [namedPlace]="namedPlace"
                       (editReady)="editReady.emit($event)"></laji-np-edit-form>
  </ng-container>
</ng-container>
