@if (formPermission) {
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ 'form.permission.admin.requests' | translate }}</h3>
      @if (formPermission.permissionRequests.length === 0) {
        <p>
          {{ 'form.permission.admin.noRequests' | translate }}
        </p>
      }
      <ul>
        @for (person of formPermission.permissionRequests; track person) {
          <li>
            <button class="btn btn-success mr-3" [disabled]="disabled[person]" (click)="makePermissionChange(person, 'accept')">{{ 'form.permission.admin.accept' | translate }}</button>
            <button class="btn btn-danger mr-3" [disabled]="disabled[person]" (click)="makePermissionChange(person, 'reject')">{{ 'form.permission.admin.reject' | translate }}</button>
            <b class="form-control-static">
              {{ person | users }} ({{ person }})
            </b>
          </li>
        }
      </ul>
    </div>
  </div>
}
<div class="row">
  <div class="col-sm-3">
    <h3>{{ 'form.permission.admin.grantAccess' | translate}}</h3>
    <laji-find-person [showUserID]="true" (selectChange)="selectPerson($event)"></laji-find-person>
  </div>
</div>
