@import 'projects/laji-ui/src/lib/vars';

:host ::ng-deep .datatable-body-row.active {
  background-color: $primary-1 !important;
  &:hover {
    cursor: default;
  }
}

:host ::ng-deep .ngx-datatable.material {
  background: unset;
  background-color: $neutral-1;

  .datatable-header .datatable-header-cell {
    background-color: $neutral-1;
  }

  .datatable-body-row.red-row {
    background-color: $danger-3;
  }
  :not(.cell-selection) .datatable-body-row.red-row:hover, :not(.cell-selection) .datatable-body-row.red-row:hover .datatable-row-group {
    background-color: $danger-4;
  }

  .datatable-body-row.yellow-row {
    background-color: $warning-3;
  }
  :not(.cell-selection) .datatable-body-row.yellow-row:hover, :not(.cell-selection) .datatable-body-row.yellow-row:hover .datatable-row-group {
    background-color: $warning-4;
  }
}

:host ::ng-deep .ngx-datatable.striped .datatable-row-odd {
  background: unset;
  background-color: $neutral-2;
}

:host ::ng-deep .ngx-datatable.striped .datatable-summary-row .datatable-body-row {
  background: unset;
  background-color: $neutral-1;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/* Workaround for ngx-datatable bug where a black bar appears on some rows
   https://github.com/swimlane/ngx-datatable/issues/1616
*/
:host ::ng-deep .datatable-body-row {
  transform: translateZ(0);
}

:host ::ng-deep .datatable-body-row.active .datatable-row-center {
  background-color: $primary-3 !important;
  &:hover {
    cursor: default;
  }
}

:host ::ng-deep .cell-centered-content > .datatable-body-cell-label {
  margin: 0 auto !important;
}
