.selector {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mobile-selector-container {
  max-height: calc(100vh - 50px);
}

.selector-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selector-empty-height {
  min-height: calc(100vh - 384px - 50px);
  max-height: calc(100vh - 150px);
}