:host ::ng-deep .year-chart .ngx-charts .bar {
  cursor: initial !important;
}
:host ::ng-deep .year-chart .ngx-charts .bar[aria-label$=' 0'] {
  display: none;
}
.info-card-chart {
  margin: auto;
  width: 100%;
  min-height: 450px;
  max-width: 1200px;
}

:host ::ng-deep laji-bar-chart {
  height: 450px;
}

