.taxon-tree-container {
  padding: 15px;
  background-color: #ECF0F1;
  position: relative;
}

@media only screen and (min-width : 768px) {
  .row {
    display: flex;
  }
}

.dragbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  cursor: col-resize;
  background-color: #e1e1e1;
}
