.img-responsive {
  margin: 45px 0
}

.header-image {
  position: relative;
  background-clip: border-box;
  background-position: center;
  background-size: cover;
}

.header-image, .carousel .item {
  height: 300px;
}

:host >>> .carousel .item {
  height: 300px;
}

.text-container {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  /*
  .header-image {
    background-clip: border-box;
    background: url(/static/images/bg1.jpg) center / cover;
  }
  */

  .header-image, .carousel .item {
    height: 400px;
  }

  :host >>> .carousel .item {
    height: 400px;
  }
}

@media only screen and (max-width:768px) {
  .carousel-caption {
    padding-bottom: 0px;
  }
}
