<div class="header-image" role="main">
  <carousel>
    <slide [active]="true">
      <div class="carousel-caption">
        <div class="row">
          <div class="col-sm-12">
            <img class="pull-left" src="/static/images/LAJI_FI_valk.png" />
          </div>
        </div>
        <div style="margin-top: 20px;" class="row">
          <laji-stat-item [description]="'home.carousel.species' | translate">
            <laji-observation-count [lightLoader]="true" [field]="'unit.linkings.taxon.id'" [query]="{taxonRankId: 'MX.species'}">
            </laji-observation-count>
          </laji-stat-item>
          <laji-stat-item [description]="'home.carousel.collections' | translate">
            <laji-observation-count [lightLoader]="true" [field]="'document.collectionId'" [query]="{}"></laji-observation-count>
          </laji-stat-item>
          <laji-stat-item [description]="'home.carousel.observations' | translate">
            <laji-observation-count [lightLoader]="true" [query]="{}"></laji-observation-count>
          </laji-stat-item>
        </div>
      </div>
    </slide>
    <slide>
      <div class="carousel-caption">
        <laji-stat-item [description]="'home.carousel.digitized' | translate">
          199000
        </laji-stat-item>
        <laji-stat-item [description]="'home.carousel.preserved' | translate">
          6620491
        </laji-stat-item>
      </div>
    </slide>
  </carousel>
</div>
