.img-responsive {
  margin: 45px 0
}

.header-image {
  position: relative;
  background-clip: border-box;
  background: url(https://cdn.laji.fi/images/backdrop/snow.jpg) center / cover;
  /*background: url(https://cdn.laji.fi/images/backdrop/kevat.jpg) center / cover;*/
  /*background: url(https://cdn.laji.fi/images/backdrop/syksy.jpg) center / cover;*/
  /*background: url(https://cdn.laji.fi/images/backdrop/syksy2.jpg) center / cover;*/
}

.header-image, .carousel .item {
  height: 300px;
}

:host >>> .carousel .item {
  height: 300px;
}

.text-container {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  /*
  .header-image {
    background-clip: border-box;
    background: url(/static/images/bg1.jpg) center / cover;
  }
  */

  .header-image, .carousel .item {
    height: 400px;
  }

  :host >>> .carousel .item {
    height: 400px;
  }
}
