.img-responsive {
  margin: 45px 0
}

.header-image {
  background-clip: border-box;
  background: url(/static/images/bg2.jpg) center / cover;
}

.header-image, .carousel .item {
  height: 300px;
}

:host >>> .carousel .item {
  height: 300px;
}

@media (min-width: 1200px) {
  /*
  .header-image {
    background-clip: border-box;
    background: url(/static/images/bg1.jpg) center / cover;
  }
  */

  .header-image, .carousel .item {
    height: 400px;
  }

  :host >>> .carousel .item {
    height: 400px;
  }
}
