<button class="btn btn-default" (click)="openModal(modal)" [disabled]="disabled">
	<i class="glyphicon glyphicon-download-alt"></i>
	{{ 'observation.download.api' | translate }}
</button>

<ng-template #modal>
	<div class="modal-header">
		<button class="close pull-right" type="button" (click)="onClose()">
			<i class="glyphicon glyphicon-remove"></i>
		</button>
		<h4>{{ 'observation.download.api' | translate }}</h4>
	</div>
	<div class="modal-body">
		<laji-download-modal-reason
			[reason]="reason" [reasonEnum]="reasonEnum"
			(reasonChange)="reason = $event" (reasonEnumChange)="reasonEnum = $event">
		</laji-download-modal-reason>
		<div class="mt-4">
			<strong>{{ 'observation.download.api.expiration' | translate }}</strong>
			<div class="radio mt-2">
				<label><input type="radio" name="expiration" value="30" [checked]="expiration === 30" (input)="onRadioInput($event, 30)"><span [innerHtml]="'observation.download.api.expiration.1' | translate"></span></label>
			</div>
			<div class="radio">
				<label><input type="radio" name="expiration" value="365" [checked]="expiration === 365" (input)="onRadioInput($event, 365)"><span [innerHtml]="'observation.download.api.expiration.2' | translate"></span></label>
			</div>
			<div class="footnote" [innerHtml]="'observation.download.api.expiration.footnote' | translate"></div>
		</div>
	</div>
	<div class="modal-footer">
		<laji-spinner [spinning]="loading" [overlay]="false" [hideContentWhileLoading]="true">
			<div class="d-flex justify-end">
				<div class="checkbox m-0">
					<label><input type="checkbox" [(ngModel)]="termsAccepted">{{ 'observation.download.api.terms.1' | translate }}<a [routerLink]="['/about'] | localize" target="_blank">{{ 'observation.download.api.terms.2' | translate }}</a></label>
				</div>
				<button type="button"
								[tooltip]="disableRequestBtn ? ('download.reason-required' | translate) : ''"
								class="btn btn-primary"
								[disabled]="disableRequestBtn || !termsAccepted"
								(click)="onRequest()">
					<span>{{ "observation.download.api.btn" | translate }}</span>
				</button>
			</div>
		</laji-spinner>
	</div>
	<div class="modal-footer mt-3" *ngIf="apiKey">
		<strong>{{ 'observation.download.api.clipboard' | translate }}</strong><br>
		<span class="copy-to-clipboard" (click)="onCopyToClipboard()" luKeyboardClickable><span class="glyphicon glyphicon-paperclip"></span> {{ apiKey }}</span>
	</div>
</ng-template>
