<div class="observation-map" [ngStyle]="{height: height ? height + 'px' : '100%'}">
  <laji-map
          *ngIf="!reloading"
          [options]="_mapOptions"
          [data]="mapData"
          [lang]="lang"
          [settingsKey]="settingsKey"
          (onCreate)="onCreate($event)"
          (onFailure)="refreshMap()"
          (onTileLayerChange)="onTileLayerChange($event)"
          (onMove)="onMove($event)">
    <div class="loading-map loading" *ngIf="loading"></div>
    <ul class="legend" *ngIf="legend" [ngStyle]="{'margin-top': topMargin }">
      <li *ngFor="let leg of legendList">
        <span class="color" [ngStyle]="{'background-color': leg.color}"></span>{{leg.range}}
      </li>
    </ul>
  </laji-map>
</div>
