<div class="observation-map"
     [luFillHeight]="{ disabled: !height || height >= 0 }"
     [ngStyle]="height > 0 ? { height: height + 'px'} : null">
  <laji-map
          *ngIf="!reloading"
          [options]="_mapOptions"
          [data]="mapData"
          [settingsKey]="settingsKey"
          (create)="onCreate($event)"
          (failure)="refreshMap()"
          (tileLayerChange)="onTileLayerChange($event)"
          (move)="onMove($event)">
    <div class="loading-map loading" *ngIf="loading"></div>
    <ul class="legend" *ngIf="legend" [ngStyle]="{'margin-top': topMargin }">
      <li *ngFor="let leg of legendList">
        <span class="color" [ngStyle]="{'background-color': leg.color}"></span>{{ leg.range }}
      </li>
    </ul>
  </laji-map>
</div>

