<ng-container *lajiBrowserOnly>
  <div class="pull-right toggle-intro" *ngIf="!vihkoSettings.showIntro && !modal">
    <i (click)="toggleInfo()" class="link glyphicon glyphicon-info-sign"></i>
  </div>
  <ng-container *ngIf="vihkoSettings.showIntro">
    <ng-container *ngIf="!modal; else showModal">
      <lu-alert *ngIf="vihkoSettings.showIntro" [dismissible]="true" (onClose)="toggleInfo()" [type]="'info'">
        <div [innerHtml]="'haseka.intro2' | translate" lajiRouteTransformer></div>
      </lu-alert>
    </ng-container>

    <ng-template #showModal>
      <lu-modal [noClose]="true" #modal>
              <div [innerHtml]="'haseka.intro2' | translate" lajiRouteTransformer></div>
              <button type="button"
                      class="btn btn-md btn-primary btn-block use-button"
                      (click)="toggleInfo()">
                {{ dismissLabel | translate }}
              </button>
      </lu-modal>
    </ng-template>
  </ng-container>
</ng-container>
