
@switch (selectStyle) {
  @case (selectStyles.advanced) {
    <laji-select
      [options]="_options || []"
      [title]="placeholder | translate"
      [filterPlaceHolder]="'haseka.submissions.filter' | translate"
      [useFilter]="useFilter"
      [filterProperties]="filterProperties"
      [selected]="active"
      [multiple]="multiple"
      [info]="info"
      [open]="open"
      [disabled]="disabled"
      [loading]="_options === null"
      (selectedChange)="refreshValue($event)"
      >
    </laji-select>
  }
  @case (selectStyles.basic) {
    <select
      [(ngModel)]="value"
      class="form-control"
      [disabled]="disabled || _options === null"
      >
      @if (placeholder) {
        <option value="">{{ placeholder | translate }}</option>
      }
      @if (_options) {
        @for (option of _options; track trackingBy($index, option)) {
          <option [value]="option.id">{{ option.value }}</option>
        }
      }
    </select>
  }
}
