.sort-full-width {
  display:inline-block;
  width:calc(100% - 20px);
}

:host >>> .center-text {
  text-align: center !important;
  padding: 0 !important;
}

/*:host >>> .break-word {
  word-wrap: break-word;
  hyphens: auto;
}*/

.filter-input {
  width: 30%;
}

#filter-row-container {
  margin-bottom: 5px;
}

@media only screen and (max-width : 767px) {
  .filter-input {
    width: 100%;
  }
}

.inline-block {
  display: inline-block;
}
