<laji-spinner [spinning]="!(documents && rows)" [overlay]="false">
  <div *ngIf="documents && rows">
    <input
      class="form-control filter-input"
      type='text'
      placeholder="{{'haseka.submissions.filter' | translate}}"
      (keyup)='updateFilter($event)'
    />
    <ngx-datatable
      class="material"
      (activate)="tableActivated($event)"
      [cssClasses]="{
        sortAscending: 'glyphicon glyphicon-chevron-down',
        sortDescending: 'glyphicon glyphicon-chevron-up',
        pagerLeftArrow: 'glyphicon glyphicon-chevron-left',
        pagerRightArrow: 'glyphicon glyphicon-chevron-right',
        pagerPrevious: 'glyphicon glyphicon-step-backward',
        pagerNext: 'glyphicon glyphicon-step-forward'
      }"
      [rows]="rows"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [limit]="20"
      [footerHeight]="30"
      [messages]="{emptyMessage: emptyMessage, totalMessage: totalMessage}">

      <ngx-datatable-column [prop]="'publicity'" [name]="'haseka.submissions.publicity' | translate"
                            [width]="45" [minWidth]="45" [maxWidth]="50">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="datatable-header-cell-wrapper link" (click)="sort()" title="{{column.name}}">
            <span class="datatable-header-cell-label draggable" style="color: white">---</span>
          </span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span *ngIf="value === publicity.publicityRestrictionsPublic">
          <span class="label label-primary link inline-block"
                [tooltip]="'result.showViewer' | translate"
                [placement]="'right'"
                (click)="showViewer($event, row.id)">
          <i class="glyphicon glyphicon-eye-open"></i>
          </span>
        </span>
        <span *ngIf="value === publicity.publicityRestrictionsPrivate">
          <span class="label label-warning inline-block"
                [tooltip]="'haseka.form.private' | translate"
                [placement]="'right'">
          <i class="glyphicon glyphicon-eye-close"></i>
          </span>
        </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngFor="let col of columns"
                            [prop]="col"
                            [name]="'haseka.submissions.' + col | translate"
                            [width]="defaultWidth">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="datatable-header-cell-wrapper sort-full-width link" (click)="sort()" title="{{column.name}}">
            <span class="datatable-header-cell-label draggable">
              {{column.name}}
            </span>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [prop]="'download'"
                            [width]="45"
                            [minWidth]="45"
                            [maxWidth]="50">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="label label-default link inline-block"
                [tooltip]="'haseka.submissions.download' | translate"
                [placement]="'right'"
                [container]="'body'"
                (click)="downloadDocument($event, row.index)">
          <i class="glyphicon glyphicon-download-alt"></i>
          </span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</laji-spinner>
