.sort-full-width {
  display:inline-block;
  /*width:calc(100% - 20px);*/
}

:host >>> .center-text {
  text-align: center !important;
  padding: 0 !important;
}

/*:host >>> .break-word {
  word-wrap: break-word;
  hyphens: auto;
}*/

#filter-row-container {
  margin-bottom: 5px;
}

@media only screen and (min-width : 768px) {
  #download-button-container {
    float: right;
  }

  .inline-block {
    width: auto;
    vertical-align: middle;
  }
}

@media only screen and (max-width : 767px) {
  #download-button-container {
    display: flex;
  }

  #download-button-container > button {
    flex: 0 0 auto;
  }
}

.inline-block {
  display: inline-block;
}
