$rowHeight: 25mm;
$perPage: 10;
$baseFontSize: 12pt;

@page {
  size: A4;
  margin: 0;
}
.page {
  position: relative;
  margin: 10mm;
  width: 190mm;
  height: 277mm;
  padding-top: 5mm;
  font-size: $baseFontSize;
}
.page-landscape {
  padding-top: 5mm;
  width: 277mm !important;
  height: 190mm !important;
  transform: rotate(270deg);
  transform-origin: 137mm 137mm;
}

@media not print {
  .page {
    margin: 20px auto;
  }
}

@media print {
  .no-page-break {
    page-break-inside: avoid;
  }

  .page-break-after {
    page-break-after: always;
  }
}

/** title page **/
.title {
  position: absolute;
  z-index: 1000;
  width: 100mm;
  padding: 3mm;
  background-color: #fff;
  text-align: center;
  left: 50%;
  top: 30mm;
  margin-left: -50mm;

  h1 {
    margin: 0;
    padding: 0;
    font-size: $baseFontSize + 5;
    font-weight: bold;
  }
}

/** pager **/
.pager {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  padding: 0;
  margin: 0;
  h2 {
    font-size: $baseFontSize - 6;
    margin: 0;
    padding: 0;
  }
}

/** Info table **/
.info {
  position: absolute;
  top: 60mm;
  font-size: $baseFontSize - 4;
  td {
    vertical-align: top;
    padding: 0.3mm;
  }

  td:first-of-type {
    text-align: right;
    width: 110mm;
  }
}

.map-wrap {
  overflow: hidden;
  height: 267mm; // With higher number 671:323 Turku Muhkuri area in linetransect has a map artifact on the page following the map page
  width: 100%;
}

.page-landscape .map-wrap {
  height: 180mm !important;
}

/** Input table **/
.line-table {
  width: 100%;
  height: $rowHeight * $perPage;
  border-left: dashed 1px #000;
  td {
    height: $rowHeight;
    vertical-align: top;
    border-bottom: dashed 1px #000;
  }
  td:last-of-type {
    text-align: right;
    width: 45mm;
  }
  th {
    text-align: center;
    border-bottom: solid 1px #000;
    font-size: $baseFontSize;
  }
  td:nth-child(0), th:nth-child(0),
  td:nth-child(1), th:nth-child(1),
  th:nth-child(2),
  td:nth-child(3), th:nth-child(3),
  td:nth-child(4), th:nth-child(4),
  td:nth-child(5)
  {
    border-right: dashed 1px #000;
  }
  td:nth-child(2) {
    border-right: dotted 1px #000;
  }
  tr:last-of-type {
    height: 100%;
  }
}
.distance {
  margin: 0 1mm;
  font-size: $baseFontSize - 4;
}
.short-hand {
  position: absolute;
  bottom: 0;
}

.short-hand, .table, .line-table {
  font-size: $baseFontSize - 4;
}
.biotope-container {
  position: relative;
}
.biotopelist {
  list-style: none;
  margin: 1mm;
  padding: 0;
  position: absolute;
  font-size: small;
  text-align: left;
  bottom: 0;
}
.time {
  position: absolute;
  margin: 1mm;
  bottom: 1mm;
  left: 0;
  width: 100mm;
  border-bottom: 1px solid #000000;
}
.user-input {
  border-bottom: 1px solid #000000;
}
