@import 'vars';

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active,
:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group
{
  background: $primary-3 !important;
}

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group {
  background: $primary-4 !important;
}
