<div class="col-md-4">
    <a [routerLink]="path | localize" [queryParams]="query" class="thumbnail panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title caption">{{ name | translate }}</h3>
      </div>
        <div class="panel-body" [style.height]="bodyHeight">
          <div class="icon" [style.background-image]="'url(/static/images/icons/' + icon + '.' + iconType + ')'"></div>
          <h4 *ngIf="intro">{{ intro }}</h4>
        </div>
    </a>
    <div *ngIf="info" class="info" placement="bottom"><laji-info>{{ info | translate }}</laji-info></div>
    <ng-content></ng-content>
  </div>
