.results, .whole-data-list {
  padding-top: 20px;
}

.counts {
  padding: 10px 0 0 20px;
  color: #777;
}

.nav-pills li {
  min-width: 200px;
  text-align: center;
}


@media only screen and (min-width : 768px) {
  .spacer, .species-list {
    padding-right: 10px;
  }
}
