.results, .whole-data-list {
  padding-top: 20px;
}

.counts {
  padding: 10px 0 0 20px;
  color: #777;
}

.nav-pills li {
  min-width: 200px;
  text-align: center;
}

.toggle-intro {
  margin-top: -15px;
  padding: 0 15px 0 0;
  z-index: 2;
  font-size: 13px;
  color: #3498DB;
}


@media only screen and (min-width : 768px) {
  .spacer, .species-list {
    padding-right: 10px;
  }
}
