<laji-theme-page
  [title]="'Linja&shy;laskenta'"
  [showNav]="showNav"
  [navLinks]="[
    {
      routerLink: ['../linjalaskenta', 'instructions'],
      label: 'instructions' | translate,
      visible: true
    },
    {
      routerLink: ['../linjalaskenta', 'stats'],
      label: 'nafi.stats' | translate,
      visible: true
    },
    {
      routerLink: ['../linjalaskenta', 'form'],
      label: 'linjalaskenta.form1' | translate,
      visible: true
    },
    {
      routerLink: ['../linjalaskenta', 'ei-vakiolinjat'],
      label: 'linjalaskenta.form2' | translate,
      visible: true
    },
    {
      routerLink: ['../linjalaskenta', 'kartoitus'],
      label: 'linjalaskenta.form3' | translate,
      visible: (rights | async)?.admin && showForm
    },
    {
      routerLink: ['../linjalaskenta', 'ownSubmissions'],
      label: (rights | async)?.admin ?
             ('theme.admin.submissions' | translate):
             ('haseka.ownSubmissions.title' | translate),
      visible: showForm
    },
    {
      routerLink: ['/vihko/fp/' + collectionID + '/admin'],
      label: 'form.administer' | translate,
      visible: (rights | async)?.admin
    }
  ]">
  <nav>
    <laji-haseka-latest [userToken]="userService.getToken()"
                        [forms]="forms"
                        [tmpOnly]="true"
                        *ngIf="userService.isLoggedIn$ | async">
    </laji-haseka-latest>
  </nav>
  <router-outlet></router-outlet>
</laji-theme-page>
