<laji-theme-page *ngIf="showNav"
  [title]="'Linja&shy;laskenta'">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['../linjalaskenta', 'instructions']">
          {{'instructions' | translate}}</a></li>
      <li>
        <a [routerLink]="['../linjalaskenta', 'stats']">
          {{'nafi.stats' | translate}}</a></li>
      <li>
        <a [routerLink]="['../linjalaskenta', 'form']">
          {{'linjalaskenta.form1' | translate}}</a></li>
      <li *ngIf="showForm">
        <a [routerLink]="['../linjalaskenta', 'ei-vakiolinjat']">
          {{'linjalaskenta.form2' | translate}}</a></li>
      <ng-container *ngIf="(rights | async)?.admin; else normalUsers">
        <li *ngIf="showForm">
          <a [routerLink]="['../linjalaskenta', 'kartoitus']">
            {{'linjalaskenta.form3' | translate}}</a></li>
        <li *ngIf="showForm">
          <a [routerLink]="['../linjalaskenta', 'ownSubmissions']">
            {{'theme.admin.submissions' | translate}}</a></li>
        <li>
          <a [routerLink]="['/vihko/fp/' + collectionID + '/admin']">
            {{'form.administer' | translate}}</a></li>
      </ng-container>
      <ng-template #normalUsers>
        <li *ngIf="showForm"><a [routerLink]="['../linjalaskenta', 'ownSubmissions']">{{'haseka.ownSubmissions.title' | translate}}</a></li>
      </ng-template>
    </ul>

    <laji-haseka-latest [userToken]="userService.getToken()"
                        [forms]="forms"
                        [tmpOnly]="true"
                        *ngIf="userService.isLoggedIn$ | async">
    </laji-haseka-latest>
  </nav>
  <router-outlet></router-outlet>
</laji-theme-page>

<router-outlet *ngIf="!showNav"></router-outlet>
