<footer *ngIf="footerService.footerVisible">
  <div class="info-footer d-flex flex-col items-center">
    <div class="d-flex flex-wrap info-footer-content mb-4 flex-gap-3">
      <div>
        <h3>Suomen lajitietokeskus</h3>
        <p>{{ 'footer.intro1' | translate }} <a [routerLink]="'/about/'" translate>footer2.section1.readmore</a></p>
        <ul>
          <li><a href="https://info.laji.fi/etusivu/lajitietokeskus-pahkinankuoressa/yhteystiedot/" target="_blank" translate>footer2.section1.link.contact</a></li>
          <li><laji-feedback></laji-feedback></li>
          <li><a href="https://info.laji.fi/etusivu/lajitietokeskus-pahkinankuoressa/tietosuojaseloste/" target="_blank" translate>footer2.section1.link.privacypolicy</a></li>
          <li><a href="https://info.laji.fi/etusivu/lajitietokeskus-pahkinankuoressa/saavutettavuusseloste/" target="_blank" translate>footer2.section1.link.accessibilty</a></li>
          <li><a href="https://info.laji.fi/etusivu/lajitietokeskus-pahkinankuoressa/aineistopolitiikka/" target="_blank" translate>footer2.section1.link.datapolicy</a></li>
        </ul>
      </div>
      <div>
        <h3 translate>footer2.section2.title</h3>
        <ul>
          <li><a [routerLink]="'/about/'" translate>footer2.section2.link.help</a></li>
          <li><a href="https://info.laji.fi/etusivu/viranomaisportaali/usein-kysytyt-kysymykset/" target="_blank" translate>footer2.section2.link.faq</a></li>
          <li>{{ 'footer2.section2.link.guides' | translate }}
            <ul>
              <li><a [routerLink]="'/about/'" translate>footer2.section2.link.dataUsers</a></li>
              <li><a [routerLink]="'/about/'" translate>footer2.section2.link.researches</a></li>
              <li><a [routerLink]="'/about/'" translate>footer2.section2.link.natureObservers</a></li>
              <li><a [routerLink]="'/about/'" translate>footer2.section2.link.dataHolders</a></li>
              <li><a [routerLink]="'/about/'" translate>footer2.section2.link.developers</a></li>
              <li><a [routerLink]="'/about/'" translate>footer2.section2.link.media</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <h3 translate>footer2.section3.title</h3>
        <ul>
          <li><a [routerLink]="'/about/'" translate>footer2.section3.link.taxonomy</a></li>
          <li><a [routerLink]="'/about/'" translate>footer2.section3.link.observations</a> &#38; <a [routerLink]="'/about/'" translate>footer2.section3.link.gis</a></li>
          <li><a [routerLink]="'/about/'" translate>footer2.section3.link.citizenScience</a></li>
          <li><a href="https://pinkka.laji.fi/" target="_blank" translate>footer2.section3.link.pinkka</a> &#38; <a [routerLink]="'/about/'" translate>footer2.section3.link.identification</a></li>
          <li><a href="https://punainenkirja.laji.fi/" target="_blank" translate>footer2.section3.link.redList</a></li>
          <li><a href="https://vieraslajit.fi/" target="_blank" translate>footer2.section3.link.invasive</a></li>
          <li><a [routerLink]="'/about/'" translate>footer2.section3.link.api</a></li>
        </ul>
      </div>
    </div>
    <div class="info-footer-bottom-section">
      <a [routerLink]="'/about/'">REST API</a> - <a [routerLink]="'/about/'">R API</a> - <a [routerLink]="'/about/'">GIS</a> - <a href="https://github.com/luomus/laji/" target="_blank" translate>footer2.github</a></div>
  </div>
  <div class="partners-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-11 partners front" [ngClass]="{hidden: !onFrontPage}">
          <span class="title">{{ 'footer.partners' | translate }}</span>
          <ul>
            <li>
              <a href="https://luomus.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/luomus_fi_blue_smaller.gif" alt="LUOMUS - Luonnontieteellinen keskusmuseo">
              </a>
            </li>
            <li>
              <a href="https://www.syke.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/syke_logo_2023.png" alt="SYKE">
              </a>
            </li>
            <li>
              <a href="https://www.luke.fi/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/logo_luke.png" alt="LUKE">
              </a>
            </li>
            <li>
              <a href="https://www.mmm.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/mmm_logo.png" alt="MMM">
              </a>
            </li>
            <li>
              <a href="https://www.ely-keskus.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/ely.jpg" alt="ELY">
              </a>
            </li>
            <li>
              <a href="https://www.metsa.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/logos/MH-suomi-ruotsi-VARI.png" alt="Metsähallitus">
              </a>
            </li>
            <li>
              <a href="https://www.ym.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/ymparistoministerio_logo_2023.png" alt="Ympäristöministeriö">
              </a>
            </li>
            <li>
              <a href="https://www.csc.fi/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/logos/csc-logo-teksti-fi.png" alt="CSC" height="40px">
              </a>
            </li>
            <li>
              <a href="https://www.helsinki.fi/fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/HY_en.jpg" alt="Helsingin yliopisto">
              </a>
            </li>
            <li>
              <a href="https://www.utu.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/turun_yliopisto_logo_rgb.png" alt="UTU">
              </a>
            </li>
            <li>
              <a href="https://www.oulu.fi/yliopisto/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/oulun yliopisto_logo_2023.png" alt="Oulun yliopisto">
              </a>
            </li>
            <li>
              <a href="https://www.jyu.fi/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/jyu.png" alt="Jyväskylän yliopisto">
              </a>
            </li>
            <li>
              <a href="https://www.uef.fi" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/UEF_musta_logo-engl.jpg" alt="UEF">
              </a>
            </li>
            <li>
              <a href="https://www.aka.fi/tutkimusrahoitus/ohjelmat-ja-muut-rahoitusmuodot/tutkimusinfrastruktuurit/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/AKA_FIR1.png" alt="FIRI">
              </a>
            </li>
            <li>
              <a href="https://ec.europa.eu/regional_policy/en/funding/erdf/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/eu.png" alt="European Regional Development Fund">
              </a>
            </li>
            <li>
              <a href="https://www.centralbaltic.eu/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/interreg.png" alt="Central Baltic Interreg Programme">
              </a>
            </li>
            <li>
              <a href="https://www.dissco.eu//" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/logos/dissco-logo-high-res.png" alt="Distributed System of Scientific Collections">
              </a>
            </li>
            <li>
              <a href="https://earthcape.com/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/logos/earthcape_logo.png" alt="Earthcape">
              </a>
            </li>
            <li>
              <a href="https://www.gbif.org/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/logos/GBIF-2015.png" alt="Global Biodiversity Information Facility">
              </a>
            </li>
            <li>
              <a href="https://inaturalist.laji.fi/" target="_blank" rel="noopener nofollow">
                <img lajiLazyImage src="https://cdn.laji.fi/images/logos/iNaturalist.png" alt="iNaturalist" height="40px">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
