@import 'vars';

label {
    margin-right: 10px;
  }

  .switch-mode {
    color: #3498DB;
    cursor: pointer;
  }

  .add-taxonId {
    padding: 0 15px;
    font-size: 12px;
    float: left;
    width: 100%;
  }

  .deleteId {
    cursor: pointer;
    margin-left: 20px;
  }

  .actions {
    margin-top: 10px;
  }
  .radio {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
  .annotation-form {
    margin: 0 -5px;
    padding: 5px 5px 10px 5px;
    position: relative;
  }
  .annotation-unidentifiable label {
    font-weight: normal;
  }

  .tags, .taxon, .message {
    margin-top: 10px;
  }

  .tags label {
    display: block;
    width: 100%;
  }

  .add-tags, .removed-tags {
    margin-top: 10px;
  }

  .add-tags input, .removed-tags input.form-control {
    display: inline-block;
    width: 100%;
  }

  .add-tags label, .removed-tags label {
    font-weight: normal;
  }

  .add-tags .selected-tags, .removed-tags .selected-tags {
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 5px;
  }

  .container-annotation {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .container-annotation div:nth-child(2) {
    display: inline-block;
    text-align: right;
    width: 24px;
    height: 24px;
    background: url('../../../../static/images/icons/remove.png') 0 0 no-repeat;
  }

  .annotation-form label {
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
    line-height: 30px;
  }

  .annotation-form label.taxonomy {
    display: block;
    line-height: 16px;
    margin-right: 0;
  }

  .annotation-form label.check-delete {
    display:block;
    font-weight: normal;
  }

  /*.info {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
  }*/

   ul.list-info {
    margin-bottom: 0;
    padding: 0;
  }

  .info-button {
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 16px;
    color: #31708f;
  }

  .close-info {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 15px;
    top: 6px;
    cursor: pointer;
  }

  .close-info:hover {
    color: #000;
  }

  .tag-value {
    display: inline-block;
    position: relative;
  flex-basis: 50%;
  }

  .delete {
    position: absolute;
    left: 90%;
    margin-left: -13px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 20px;
    text-align: center;
    color: white;
    top: -8px;
    font-size: 12px;
    cursor: pointer;
  }

  .list-checkbox {
    display: inline-block;
    margin-right: 15px;
  }

  .list-checkbox input[type=checkbox]{
    position: relative;
    top: 2px;
  }

  .list-checkbox:last-child {
    margin-right: 0;
  }

  .tags-step-1 {
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
  }


  :host ::ng-deep lu-checkbox label {
    cursor: pointer;
    margin-right: 15px;
  }

  :host ::ng-deep lu-checkbox label.checked .pill {
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,.05);
  }

  :host ::ng-deep lu-checkbox label.checked.disabled .pill {
    opacity: .5;
  }

  :host ::ng-deep lu-checkbox label.checked .danger {
    background-color: $danger-2;
  }

  :host ::ng-deep lu-checkbox label.checked .success {
    background-color: $success-2;
  }

  :host ::ng-deep lu-checkbox label.checked .warning {
    background-color: $warning-2;
  }

  :host ::ng-deep lu-checkbox label.checked .info {
    background-color: $info-2;
  }

  :host ::ng-deep lu-checkbox label.checked .admin {
    background-color: darken($admin-2, 5);
  }

  .agree {
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.4em;
    margin: 0 0;
    background-color: #fcfdfd;
    color: #5c6870;
    box-shadow: 0 1px 3px rgba(65, 79, 88, 0.2);
    font-size: 12px;
    text-align: center;
    line-height: 12px;
  }

  .agree:hover {
    background-color: #e6f5ff;
    color: #0f598a;
    cursor: pointer;
  }

  .subtitle {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }

  .subtitle:nth-of-type(1) {
    margin-top: 0px;
  }

  @media only screen and (min-width: 992px) and (max-width: 1600px) {
    .taxon label {
      height: 20px;
      line-height: 15px;
    }

    .annotation-form label.taxonomy {
      display: block;
    }

    .switch-mode {
      display: block;
      position: absolute;
      top: 15px;
      font-size: 12px;
    }

  }

  :host ::ng-deep typeahead-container.dropdown {
    right: 20px !important;
    left: unset !important;
    min-width: 500px;
  }

  :host ::ng-deep typeahead-container.dropdown ul {
    min-width: 500px;
  }

  ::ng-deep typeahead-container ul li a span div {
    display: inline-block;
    float: right;
    margin-left: 5px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1200px)  {
   .taxon div:nth-child(2) label, .taxon div:nth-child(3) label {
     height: 20px;
     margin-top: 10px;
   }

   .agree {
     margin-top: 5px;
   }
  }

@mixin joined-btn {
  padding: 4px 8px;
  border: 1px solid #ccc;
  background-color: $neutral-1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  cursor: pointer;
  &:hover {
    background-color: $primary-1;
  }
}

$taxon-input-height: 30px;

.taxon-input {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: $taxon-input-height;
  font-size: $fs-2;
}

.taxon-remove {
  color: $neutral-6;
  height: $taxon-input-height;
  @include joined-btn();
}

.taxon-agree {
  color: $neutral-7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: $taxon-input-height;
  font-size: 12px;
  white-space: nowrap;
  @include joined-btn();
}

.taxon-name {
  margin-left: 10px;
  color: $neutral-6;
}

.taxon-specifier-input {
  height: 30px;
  max-width: 200px;
  border-radius: 5px;
}

@media only screen and (max-width : 767px) {
  :host ::ng-deep typeahead-container.dropdown ul {
    max-width: 250px;
    min-width: 250px;
  }

  :host ::ng-deep typeahead-container.dropdown {
    right: 64px !important;
    left: unset !important;
    min-width: 250px;
    max-width: 250px;
  }

  ::ng-deep typeahead-container ul li a span div {
    display: block;
    float: none;
    margin-left: 0px;
    top: -6px;
    position: relative;
  }
}
