<form [hidden]="!visible" *lajiLoggedIn="true" class="annotation-form" #annotationForm="ngForm" (ngSubmit)="saveAnnotation()">
    <div class="tags-step-1" *ngIf="expert; else showCheckTags">
        <div *ngFor="let item of annotationAddadableTags$ | async | filterValue: 'quality': ['positive','negative']: 'exclude': 'id': ['MMAN.5'] | sort: 'position'; let i = index;" class="tag-value">
              <div class="delete" *ngIf="annotation.addedTags.length > 0 && annotation.addedTags.indexOf(item.id | toQName) !== -1" (click)="deleteSelected()">X</div>
              <button class="annotation-marker-new {{ item.quality }}" name="add{{ item.id | toQName}}"
                [ngClass]="{'off': annotation.addedTags.length > 0 && annotation.addedTags.indexOf(item.id | toQName) === -1, 'on': annotation.addedTags.indexOf(item.id | toQName) !== -1 }"  (click)="addToAddTags(item.id)" [disabled]="checkAddTags()">
                    <span>{{ item.id | toQName | label }}</span>
              </button>
        </div>
    </div>
    <ng-template #showCheckTags>
        <div *ngFor="let item of annotationAddadableTags$ | async | filterValue: 'quality': ['check']: 'exclude': 'id': ['MMAN.11']; let i = index;" class="tag-value">
            <div class="delete" *ngIf="annotation.addedTags.length > 0 && annotation.addedTags.indexOf(item.id | toQName) !== -1" (click)="deleteSelected()">X</div>
            <button class="annotation-marker-new {{ item.quality }}" name="add{{ item.id | toQName}}"
              [ngClass]="{'off': annotation.addedTags.length > 0 && annotation.addedTags.indexOf(item.id | toQName) === -1, 'on': annotation.addedTags.indexOf(item.id | toQName) !== -1 }"  (click)="addToAddTags(item.id)" [disabled]="checkAddTags()">
                  <span>{{ item.id | toQName | label }}</span>
            </button>
      </div>
    </ng-template>
    <div class="alert alert-warning" *ngIf="alertNotSpamVerified">
      In this type of annotation, you need to add at lest 1 check tag or a taxon
    </div>
  <div class="row removed-tags" *ngIf="expert && personRoleAnnotation == 'MMAN.expert' && annotation.addedTags.length > 0 && (annotationRemovableTags$ | async | activeTags: annotations)?.length > 0">
      <div class="col-sm-12">
        <label>{{ 'annotation.removeTags' | translate }}</label>
        <div *ngFor="let item of annotationRemovableTags$ | async | activeTags: annotations" class="list-checkbox">
          <label class="check-delete"><input type="checkbox" name="delete{{ item.id | toQName}}" value="{{ item.id | toQName}}" [checked]="annotation.removedTags.indexOf(item.id) >= 0" (change)="addToRemoveTags(item.id, annotation.removedTags)"> {{ item.id | toQName | label }}</label>
        </div>
      </div>
  </div>
    <div class="row taxon" *ngIf="(!isEditor || personRoleAnnotation===annotationRole.expert) && annotation.addedTags.length >0 && this.annotation.addedTags.indexOf('MMAN.3') === -1" (lajiAfterIf)="initElements()">
      <div class="col-lg-5 col-md-12 col-sm-12" *ngIf="!isEditor || personRoleAnnotation===annotationRole.expert">
        <label class="taxonomy">{{ 'taxonomy.taxonomy' | translate }}</label> 
        <span class="switch-mode" *ngIf="unit.linkings && (unit.linkings.originalTaxon || unit.linkings.taxon) && annotation.addedTags.indexOf('MMAN.5' | toQName) === -1" (click)="copyCurrentTaxon()">{{ 'annotation.copyCurrentTag' | translate }}</span>
        <input #taxon
          [ngClass]="{loading: typeaheadLoading}"
          type="text"
          class="form-control input-sm"
          name="opinion"
          [disabled]="unIdentifyable"
          [required]="expert && personRoleAnnotation===annotationRole.expert && (annotation.addedTags.length > 0)"
          [(ngModel)]="annotation.identification.taxon"
          [typeahead]="taxonAutocomplete"
          [typeaheadOptionsLimit]="20"
          [typeaheadWaitMs]="200"
          [typeaheadMinLength]="3"
          [typeaheadOptionField]="'value'"
          [typeaheadItemTemplate]="taxonItem"
          autocomplete="off"
          autocorrect="off"
        >
        <ng-template #taxonItem let-model="item">
          <h5 class="autosuggest-value {{model.groups}} informal-group-image">
            {{ model.value }}
          </h5>
        </ng-template>
      </div>
  
      <div class="col-lg-2 col-md-3 col-sm-3 text-center">
        <label>{{ 'annotation.coll' | translate }}</label>
        <input type="checkbox" class="form-control input-sm">
      </div>
  
      <div class="col-lg-5 col-md-9 col-sm-12" *ngIf="!isEditor || personRoleAnnotation===annotationRole.expert">
          <label>{{ 'annotation.taxonSpecifier' | translate }}</label>
          <input
          type="text"
          class="form-control input-sm"
          name="taxonSpecifier"
          [disabled]="annotation.identification.taxon===''"
          [(ngModel)]="annotation.identification.taxonSpecifier"
        >
      </div>
    </div>
    <div class="row removed-tags" *ngIf="expert && annotation.addedTags.length > 0 && this.annotation.addedTags.indexOf('MMAN.3') === -1 && this.annotation.addedTags.indexOf('MMAN.5') === -1">
        <div class="col-sm-12">
          <label>Check tags</label>
          <div *ngFor="let item of annotationAddadableTags$ | async | filterValue: 'quality': ['check']: 'exclude': 'id': ['MMAN.11'];" class="list-checkbox">
              <label class="check-delete"><input type="checkbox" name="check{{ item.id | toQName}}" value="{{ item.id | toQName}}" [checked]="annotation.addedTags.indexOf(item.id) >= 0" (change)="addToRemoveTags(item.id, annotation.addedTags)"> {{ item.id | toQName | label }}</label>
          </div>
        </div>
       
    </div>

    <div class="row message" *ngIf="annotation.addedTags.length >0" (lajiAfterIf)="initElements()">
      <div class="col-sm-12">
        <label>{{ 'MAN.notes' | label }}</label>
        <textarea #comment
                  name="notes"
                  class="form-control feedback-text input-sm"
                  [required]="(!expert || personRoleAnnotation!==annotationRole.expert) || ((annotation.addedTags.length > 0 && annotation.identification.taxon == '') || annotation.identification.taxon == '')"
                  [(ngModel)]="annotation.notes"></textarea>
      </div>
    </div>
    <div class="actions">
      <!--<button type="button" class="btn btn-danger btn-sm" (click)="cancel.emit()">{{ 'feedback.cancel' | translate }}</button>-->
      <button type="submit" [disabled]="disableSend()" class="btn btn-success btn-sm">{{ 'annotation.sendAnnotation' | translate }}</button>
    </div>
  </form>
  <div [hidden]="!visible" *lajiLoggedIn="false" class="annotation-form">
    {{ 'force.login' | translate }}
  </div>
  
  
