<lu-sidebar position="right" [staticWidth]="280">
  <main class="d-flex">
    <div class="d-flex justify-center flex-grow">
      <div class="mt-4 mb-8 mx-4 d-flex flex-col flex-nowrap width-0 news-container">
        <ol class="breadcrumb">
          <li class="active">{{ 'news.title' | translate }}</li>
        </ol>
        <ng-container *ngIf="newsItem$ | async as newsItem; else loading">
          <div class="laji-page">
            <h2 class="mb-3">{{ newsItem.title }}</h2>
            <div class="mb-5"><small>
              {{ newsItem.posted | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm' }} - {{ newsItem.author }}
              <span *ngIf="newsItem.modified">({{ 'news.updated' | translate }}: {{ newsItem.modified | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm' }})</span>
            </small></div>
            <img *ngIf="newsItem.featuredImage" class="mb-4" [src]="getFeaturedImageUrl(newsItem)"/>
            <div [innerHtml]="newsItem.content" lajiRouteTransformer></div>
          </div>
        </ng-container>
        <ng-template #loading>
          <laji-spinner>
          </laji-spinner>
        </ng-template>
      </div>
    </div>
  </main>
  <nav>
    <laji-news-list class="d-block mb-3"></laji-news-list>
  </nav>
</lu-sidebar>

