<lu-sidebar position="right" [staticWidth]="280">
  <main class="d-flex">
    <div class="d-flex justify-center flex-grow">
      <div class="mt-4 mb-8 mx-4 d-flex flex-col flex-nowrap width-0 news-container">
        <ol class="breadcrumb">
          <li class="active">{{ 'news.title' | translate }}</li>
        </ol>
        <div *ngIf="newsItem$ | async; let newsItem" class="laji-information">
          <h2>
            {{ newsItem.title }}<br>
            <small>
              {{ newsItem.posted | slice:0:-3 | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm' }} - {{ newsItem.author }}
              <span *ngIf="newsItem.modified">({{ 'news.updated' | translate }}: {{ newsItem.modified  | slice:0:-3 | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm' }})</span>
            </small>
          </h2>
          <div [innerHtml]="newsItem.content" lajiRouteTransformer></div>
        </div>
      </div>
    </div>
  </main>
  <nav>
    <laji-news-list class="d-block mb-3"></laji-news-list>
  </nav>
</lu-sidebar>

