<div class="modal-content">
  <div class="modal-body">
    <div class="laji-page">
      <laji-spinner [spinning]="!recording" [overlay]="true">
        <bsg-identification-view
          *ngIf="recording"
          [showTopBar]="false"
          [recording]="recording"
          [(annotation)]="annotation"
          [buttonsDisabled]="buttonsDisabled"
        ></bsg-identification-view>
      </laji-spinner>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" [disabled]="buttonsDisabled" (click)="close()">Cancel</button>
    <button class="btn btn-success" [disabled]="buttonsDisabled" (click)="saveAnnotation()">Save</button>
  </div>
</div>
