.modal-body, .laji-page, laji-spinner, bsg-identification-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.modal-body {
  padding: 0;
}

.modal-header {
  background-color: #dde1e3;
  border-bottom: 1px solid #cfd5d7;

  .btn + .btn {
    margin-left: 5px;
  }
}
