@import 'projects/laji-ui/src/lib/vars';

:host {
  display: inline-block;
  position: relative;
  top: -2px;
}

.modal {
  font-weight: normal;
}

.label-info {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  padding-top: 2px;
  border-radius: 100%;
  font-size: $fs-1;
  color: $primary-1;
  background-color: $primary-5;
  box-shadow: 0 1px 2px 0 rgba($primary-8, 0.3);
  &:hover {
    background-color: $primary-4;
  }
}

@media only screen and (max-width : 768px) {
  .laji-form-help-glyph {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin:3px 3px 3px 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 6px 4px;
    font-size: 16px;
  }

  .laji-form-help-glyph strong {
    font-size: 18px;
    line-height: 28px;
  }

  .label-info {
    color: $primary-6;
    background-color: $neutral-2;
    &:hover {
      background-color: $neutral-1;
    }
  }
}

@media only screen and (max-width : 767px) {
  .modal {
    margin-top: 80px;
  }
}
