<strong
  [luPopover]="content"
  [placement]="placement"
  [mode]="useModal ? 'disabled' : showOnHover ? 'hover' : 'click'"
  [rootElement]="'body'"
  (click)="toggleModal()"
  tabindex="0"
  luKeyboardClickable
  [class]="'no-propagation label label-' + labelType + (glyphicon ? '' : ' laji-form-help-glyph') + ' ' + (showOnHover ? 'hover-info' : 'link')"
  >
  @if (glyphicon) {
    <span [className]="'glyphicon glyphicon-' + glyphicon"></span>
  }
  @if (!glyphicon) {
    ?
  }
</strong>

<lu-modal size="sm" #modal>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</lu-modal>
<ng-template #content>
  <div style="max-width: 500px;">@if (html) {
    <div style="word-break: break-word" [innerHTML]="html" lajiRouteTransformer></div>
    }<ng-content></ng-content></div>
  </ng-template>
