<span
  (click)="show($event)"
  (mouseenter)="mouseEnter()"
  (mouseleave)="mouseLeave()"
  [class]="'link no-propagation'"
><strong
  [popover]="content"
  [adaptivePosition]="false"
  [outsideClick]="true"
  [placement]="placement"
  triggers=""
  #pop="bs-popover"
  containerClass="popover-lg"
  container="{{ container }}"
  [class]="'no-propagation label label-' + labelType + (glyphicon ? '' : ' laji-form-help-glyph')"
>
  <span [className]="'glyphicon glyphicon-' + glyphicon" *ngIf="glyphicon"></span>
  <ng-container *ngIf="!glyphicon">?</ng-container>
</strong></span>

<div class="modal fade no-propagation" bsModal #modal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-sm" [ngStyle]="{'top': position}">
    <div class="modal-content">
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #content>
  <button class="close pull-right" type="button" (click)="hide()">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
  <div style="word-break: break-word" *ngIf="html" [innerHTML]="html" lajiRouteTransformer></div><ng-content></ng-content>
</ng-template>
