<strong
  [luPopover]="content"
  [placement]="placement"
  [mode]="useModal ? 'disabled' : showOnHover ? 'hover' : 'click'"
  [rootElement]="'body'"
  (click)="toggleModal()"
  tabindex="0"
  luKeyboardClickable
  [class]="'no-propagation label label-' + labelType + (glyphicon ? '' : ' laji-form-help-glyph') + ' ' + (showOnHover ? 'hover-info' : 'link')"
>
  <span [className]="'glyphicon glyphicon-' + glyphicon" *ngIf="glyphicon"></span>
  <ng-container *ngIf="!glyphicon">?</ng-container>
</strong>

<div class="modal popover-modal fade no-propagation" bsModal #modal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #content>
  <div style="max-width: 500px;"><div style="word-break: break-word" *ngIf="html" [innerHTML]="html" lajiRouteTransformer></div><ng-content></ng-content></div>
</ng-template>
