<div class="container mt-6 laji-page">
  <vir-collection-select (select)="collectionSelect($event)"></vir-collection-select>
  <h3 translate>usage.downloads</h3>
  <vir-data-table
    class="d-block my-5"
    [height]="'max(50vh, 300px)'"
    [data]="downloadRequests$ | async"
    [showRowAsLink]="true"
    (rowSelect)="openDownloadModal($event.row)"
    type="downloads"></vir-data-table>
  <h3 translate>usage.apikeys</h3>
  <vir-data-table
    class="d-block my-5"
    [height]="'max(50vh, 300px)'"
    [data]="apiKeys$ | async"
    [showRowAsLink]="true"
    (rowSelect)="openDownloadModal($event.row)"
    type="apiKeys"></vir-data-table>
</div>

<ng-template #downloadModal>
  <vir-download-request-modal
    [downloadRequest]="selectedRequest"
    [showPerson]="true"
    [showFileDownload]="false"
    (close)="closeModal()"
  ></vir-download-request-modal>
</ng-template>
