<div class="container mt-6 laji-page">
  <vir-collection-select (select)="collectionSelect($event)"></vir-collection-select>
  <h3 translate>usage.downloads</h3>
  <vir-data-table
    class="d-block my-5"
    [height]="'max(50vh, 300px)'"
    [data]="downloadRequests$ | async"
    [showRowAsLink]="true"
    (rowSelect)="onRowClick($event)"
    type="downloads"></vir-data-table>
  <ng-container>
    <h3 translate>usage.apikeys</h3>
    <vir-data-table
      class="d-block my-5"
      [height]="'max(50vh, 300px)'"
      [data]="apiKeys$ | async"
      (rowSelect)="onRowClick($event)"
      type="apiKeys"></vir-data-table>
  </ng-container>
</div>

<ng-template #downloadModal>
  <ng-container *ngIf="selectedRequest">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeDownloadModal()">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <h4 class="modal-title">{{ 'usage.fileDownload' | translate }} {{ selectedRequest.id | toFullUri }}</h4>
    </div>
    <div class="modal-body">
      <vir-download-request
        [downloadRequest]="selectedRequest"
        [showPerson]="true"
      ></vir-download-request>
    </div>
  </ng-container>
</ng-template>
