<div id="species-table">
  <div class="form-group">
    <label class="col-sm-12">
      {{'species.order' | translate}}:
    </label>
    <select class="form-control" style="width: auto; margin-left: 15px;" [ngModel]="searchQuery.listOptions.sortOrder" (ngModelChange)="sortOrderChanged($event)">
      <option [value]="'taxonomic'">
        {{'species.order.taxonomicOrder' | translate}}
      </option>
      <option [value]="'scientific_name'">
        {{'species.order.scientificName' | translate}}
      </option>
      <option [value]="'finnish_name'">
        {{'species.order.finnishName' | translate}}
      </option>
    </select>
  </div>
  <div class="species-table-wrapper">
    <laji-datatable
      #dataTable
      class="observation-table"
      (rowSelect)="onRowSelect($event)"
      [virtualScrolling]="true"
      [clientSideSorting]="false"
      (sortChange)="onSort($event)"
      [height]="'calc(70vh - 30px)'"
      [rows]='speciesPage.results'
      (pageChange)="pageChanged($event)"
      [loading]="loading"
      [count]="speciesPage.total"
      [page]="speciesPage.currentPage"
      [pageSize]="speciesPage.pageSize"
      [columns]="columns">
    </laji-datatable>
    <div class="setting-menu link" (click)="openModal()">
      <i class="glyphicon glyphicon-cog"></i>
    </div>
  </div>
</div>

<laji-species-download #speciesDownload
                       [downloadLoading]="downloadLoading"
                       (onDownload)="download($event)">
</laji-species-download>
<laji-species-browse-observations [searchQuery]="searchQuery"></laji-species-browse-observations>

<laji-species-list-options-modal #settingsModal
                                 (close)="onCloseModal()"
                                 (settingsLoaded)="onSettingsLoaded()"
                                 [searchQuery]="searchQuery"
                                 [columnLookup]="columnService.columnLookup"
                                 [listType]="'list'">
</laji-species-list-options-modal>
