<select [ngModel]="value" (ngModelChange)="selected.emit($event)" class="form-control" [disabled]="disabled">
  <ng-container *ngIf="_fields; else valueOption">
    <option value="" disabled>Valitse sarakkeen merkitys</option>
    <option [value]="skipValue">{{'ignore'| translate}}</option>
    <optgroup *ngFor="let group of fieldGroups | removeEmpty" [label]="fieldGroupsLabel[group]">
      <option *ngFor="let key of groups[group] | removeEmpty" [value]="key">
        {{key === skipValue ? ('ignore'| translate) : (_fields[key] && _fields[key].label || key)}}
      </option>
    </optgroup>
  </ng-container>
  <ng-template #valueOption>
    <option value="" disabled>Valitse arvon merkitys</option>
    <option *ngFor="let key of options | removeEmpty" [value]="key">
      {{key === skipValue ? ('ignore'| translate) : key}}
    </option>
  </ng-template>
</select>
