@import 'vars';

:host {
  user-select: none;
}

.required {
  color: $danger-3;
}

.idx-element {
  min-width: 20px;
  text-align: center;
}

button.btn.btn-xs {
  box-shadow: 0 1px 3px 0 rgba($primary-8, .8);
  background-color: $neutral-1;

  // align with the label
  font-size: 11px;
  height: 20px;

  padding: 3px 6px;
  padding-top: 2px; // align arrow with center

  &:hover {
    background-color: $neutral-4;
  }
}

