@import '../../../../../../../laji-ui/src/lib/vars';

:host {
  > * {
    vertical-align: bottom;
  }

  .btn-with-info {
    display: inline-block;
    margin-right: 2px;
  }

  button, lu-button {
    display: inline-block;
    margin: 0 2px;
  }

  .switch-control {
    font-size: $fs-2;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 3px;

    label {
      display: block;
      margin-bottom: 0;
      font-size: $fs-1;
    }

    bswitch {
      display: inline-block;
    }
  }
}

::ng-deep .bootstrap-switch-handle-off, ::ng-deep .bootstrap-switch-handle-on {
  white-space: nowrap;
}
