<lu-button (click)="audioPlayer.toggle()" [disabled]="disabled">
  <span
    class="fa"
    [ngClass]="{'fa-play': !audioPlayer.isPlaying(), 'fa-pause': audioPlayer.isPlaying()}"
    >
  </span>
</lu-button>
@if (controls?.loopControl) {
  <div class="btn-with-info">
    <lu-button [role]="audioPlayer.loop() ? 'primary' : 'secondary'" (click)="setLoop(!audioPlayer.loop())" [disabled]="disabled">
      <span class="fa fa-refresh"></span>
    </lu-button>
    <laji-info [placement]="'right'" [html]="'audioViewer.loop.info' | translate" [showOnHover]="true"></laji-info>
  </div>
}
@if (controls?.slowDownControl) {
  <div class="switch-control">
    <label>{{ 'audioViewer.slowDown' | translate }}</label>
    <bSwitch
      [switch-on-text]="'on' | translate"
      [switch-off-text]="'off' | translate"
      [switch-on-color]="'primary'"
      [switch-size]="'small'"
      [disabled]="disabled"
      [ngModel]="audioPlayer.playBackRate() !== 1"
      (ngModelChange)="slowDownAudio($event)"
      [switch-base-class]="'bootstrap-switch'">
    </bSwitch>
  </div>
}
@if (customControlsTpl) {
  <ng-template [ngTemplateOutlet]="customControlsTpl"></ng-template>
}
@if (controls?.zoomControl) {
  <div class="btn-with-info">
    <lu-button [role]="audioViewerView.mode() === 'zoom' ? 'primary' : 'secondary'" (click)="toggleZoom()" [disabled]="disabled">
      {{ 'audioViewer.changeView' | translate }}
    </lu-button>
    <laji-info [placement]="'right'" [html]="'audioViewer.changeView.info' | translate" [showOnHover]="true"></laji-info>
  </div>
  @if (audioViewerView.activeView() !== audioViewerView.defaultView()) {
    <lu-button [role]="'secondary'" (click)="clearZoomArea()" [disabled]="disabled">
      {{ 'audioViewer.defaultView' | translate }}
    </lu-button>
  }
}
