<laji-metadata-select
  [(ngModel)]="habitat"
  (ngModelChange)="onSelect()"
  [multiple]="true"
  [placeholder]="'iucn.filter.habitat' | translate"
  name="adminStatusFilters"
  [alt]="'MKV.habitatEnum'"></laji-metadata-select>
<laji-metadata-select
  [(ngModel)]="habitatSpecific"
  (ngModelChange)="onSelect()"
  [disabled]="!habitat || habitat.length === 0"
  [multiple]="true"
  [useFilter]="false"
  [placeholder]="'iucn.filter.habitatSpecific' | translate"
  name="adminStatusFilters"
  [alt]="'MKV.habitatSpecificTypeEnum'"></laji-metadata-select>
<label class="small-label">
  <laji-checkbox [value]="onlyPrimary" (valueChange)="onOnlyPrimaryChange()"></laji-checkbox>
  {{ 'species.form.onlyPrimaryHabitat' | translate }}
</label>
