<laji-theme-page [title]="'NAFI'"
  [navLinks]="[
    {
      routerLink: ['../nafi', 'instructions'],
      label: 'instructions' | translate,
      visible: true
    },
    {
      routerLink: ['../nafi', 'stats'],
      label: 'nafi.stats' | translate,
      visible: true
    },
    {
      routerLink: ['../nafi', 'form'],
      label: 'nafi.form' | translate,
      visible: true
    },
    {
      routerLink: ['../nafi', 'ownSubmissions'],
      label: 'haseka.ownSubmissions.title' | translate,
      visible: true
    },
    {
      routerLink: ['../nafi', 'templates'],
      label: 'haseka.templates.title' | translate,
      visible: true
    }
  ]">
  <nav>
    <laji-haseka-latest [userToken]="userService.getToken()"
                        [forms]="[formID]"
                        [tmpOnly]="true"
                        *ngIf="userService.isLoggedIn$ | async">
    </laji-haseka-latest>
  </nav>
  <router-outlet></router-outlet>
</laji-theme-page>
