<div class="container-fluid nafi">
  <div class="row" id="wrapper">
    <div style="background-color: #ECF0F1;" class="col-sm-3 col-md-2 col-lg-2">
      <h1>NAFI</h1>
      <ul class="sidebar-nav">
        <li><a [routerLink]="['../nafi', 'instructions']">{{'instructions' | translate}}</a></li>
        <li><a [routerLink]="['../nafi', 'stats']">{{'nafi.stats' | translate}}</a></li>
        <li><a [routerLink]="['../nafi', 'form']">{{'nafi.form' | translate}}</a></li>
        <li><a [routerLink]="['../nafi', 'ownSubmissions']">{{'haseka.ownSubmissions.title' | translate}}</a></li>
        <li><a [routerLink]="['../nafi', 'templates']">{{'haseka.templates.title' | translate}}</a></li>
      </ul>
      <laji-haseka-latest [userToken]="userService.getToken()"
                          [forms]="[formID]"
                          [tmpOnly]="true"
                          *ngIf="userService.isLoggedIn$ | async"></laji-haseka-latest>
    </div>
    <div class="col-sm-9 col-md-10 col-lg-10 nafi-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
