<ll-label-maker
  (html)="html.emit($event)"
  [data]="data"
  [showIntro]="showIntro"
  [defaultDomain]="defaultDomain"
  [newAvailableFields]="newAvailableFields"
  [(availableFields)]="availableFields"
  [(viewSettings)]="viewSetting"
  [setup]="setup"
  (setupChange)="updateSetup($event)"
  [translations]="translations"
  [pdfLoading]="pdfLoading"
  (pdfLoadingChange)="updateLoading($event)"
  [newSetup]="newSetup"
  [presets]="presets"
  [qrCodeErrorCorrectionLevel]="qrCodeErrorCorrectionLevel"
></ll-label-maker>
