@import 'vars';

:host {
  display: block;
}

.form-actions,
.form-logo {
  margin-top: 25px;
}

.form-logo img {
  max-width: 300px !important;
  height: auto;
}

.form-header {
  margin-bottom: 24px;
  padding: 5px 30px;
  background-color: $primary-2;
  border: 1px solid $primary-3;
  border-left: 4px solid $primary-5;
  color: $primary-8;
  overflow: auto;
}
