<div class="row form-header" *ngIf="form">
  <div class="form-logo pull-right" *ngIf="form.logo">
    <img src="{{form.logo}}">
  </div>
  <h3 *ngIf="displayTitle">{{ form.title }}</h3>
  <laji-haseka-latest *ngIf="form && displayLatest"
                      [forms]="[form.id]"
                      [showFormNames]="false"
  ></laji-haseka-latest>
  <laji-own-submissions *ngIf="form && displayObservationList"
                        [actions]="isAdmin ? ['edit', 'view', 'delete'] : ['edit', 'view']"
                        [columns]="['dateObserved', 'observer', 'dateEdited']"
                        [columnNameMapping]="form.namedPlaceOptions?.columnNameMapping"
                        [collectionID]="form.collectionID"
                        [formID]="form.id"
                        [namedPlace]="namedPlace?.id"
                        [showDownloadAll]="false"
                        [header]="form.options?.formOwnSubmissionsLabel || namedPlace ? 'np.formOwnSubmissions' : (isAdmin ? 'haseka.ownSubmissions.allTitle' : 'haseka.mobile.ownSubmissions')"
                        [forceLocalDocument]="useLocalDocumentViewer"
                        [admin]="isAdmin"></laji-own-submissions>
  <ng-container *ngIf="description">
    <div [innerHtml]="description | translate"></div>
    <br>
  </ng-container>
  <ng-container *ngIf="!description && form.description">
    <div [innerHtml]="form.description"></div><br>
  </ng-container>
  <span *ngIf="form.instructions && form.instructions[translate.currentLang]">
    <a href="{{form.instructions[translate.currentLang]}}" target="_blank">{{ 'haseka.instructions' | translate }}</a>
    |
  </span>
  <a *ngIf="!form.options || !form.options.hideTES" [routerLink]="['/vihko/terms-of-service'] | localize" target="_blank">{{ 'haseka.termsOfService' | translate }}</a>
  <alert *ngIf="editingOldWarning" type="warning">{{ 'haseka.editingOldDocumentWarning' | translate: {date: formatDate(formData.dateCreated)} }}</alert>
</div>
<div class="row" *ngIf="namedPlace" style="margin-top: 10px">
  <div class="col-sm-12">
    <h4><span *ngFor="let field of namedPlaceHeader; let last = last">{{ field | async }}{{ !last ? ', ' : '' }}</span></h4>
  </div>
</div>
<ng-content></ng-content>
