<div class="row form-header" *ngIf="form">
  <div [ngClass]="{
    'col-sm-8': form.logo,
    'col-sm-12': !(form.logo)
  }">
    <ng-container *ngIf="type !== 'npCreate' && type !== 'npEdit'">
		  <h3>{{ form.title }}</h3>
    </ng-container>
    <laji-own-submissions *ngIf="namedPlace"
                          [actions]="isAdmin ? ['edit', 'view', 'delete'] : ['edit', 'view']"
                          [columns]="['dateObserved', 'observer', 'dateEdited']"
                          [columnNameMapping]="form.namedPlaceOptions?.columnNameMapping"
                          [collectionID]="form.collectionID"
                          [formID]="form.id"
                          [namedPlace]="namedPlace.id"
                          [showDownloadAll]="false"
                          [header]="form.namedPlaceOptions?.formOwnSubmissionsLabel || 'np.formOwnSubmissions'"
                          [admin]="isAdmin"></laji-own-submissions>
    <ng-container *ngIf="type === 'np'">
      <div [innerHtml]="form.namedPlaceOptions?.description ? form.namedPlaceOptions.description : 'np.defaultDescription' | translate"></div>
      <br>
    </ng-container>
    <ng-container *ngIf="type === 'npCreate'">
      <div [innerHtml]="form.namedPlaceOptions?.createDescription ? form.namedPlaceOptions.createDescription : 'np.defaultCreateDescription' | translate"></div>
      <br>
    </ng-container>
    <ng-container *ngIf="type === 'npEdit'">
      <div [innerHtml]="form.namedPlaceOptions?.editDescription ? form.namedPlaceOptions.editDescription : 'np.defaultEditDescription' | translate"></div>
      <br>
    </ng-container>
    <ng-container *ngIf="type === 'form' && form.description">
      <div [innerHtml]="form.description"></div><br>
    </ng-container>
    <span *ngIf="form.instructions && form.instructions[translate.currentLang]">
      <a href="{{form.instructions[translate.currentLang]}}" target="_blank">{{ 'haseka.instructions' | translate }}</a>
      |
    </span>
    <a [routerLink]="['/vihko/terms-of-service'] | localize" target="_blank">{{ 'haseka.termsOfService' | translate }}</a>
  </div>
  <div class="col-sm-4" *ngIf="form.logo">
    <div class="form-logo pull-right" *ngIf="form.logo">
      <img src="{{form.logo}}">
    </div>
  </div>
</div>
<ng-content></ng-content>
