<div class="row">
  <div class="col-md-8">
    <h3>Päiväperhosseuranta</h3>
    <p>
      Valtakunnallinen päiväperhosseuranta (NAFI) on <a href="http://www.ekay.net/ymparisto/perhosseuranta/" target="_blank">Etelä-Karjalan Allergia- ja Ympäristöinstituutin</a> ja <a href="http://www.perhostutkijainseura.fi" target="_blank">Suomen Perhostutkijain Seuran</a> koordinoima tutkimushanke. Seurannassa kertynyt havaintoaineisto tallennetaan Luonnontieteellisen keskusmuseon tietokantaan, jonka sisällöstä tuotetaan näillä sivuilla olevat tilastot ja kartat. Tilastot ja kartat voivat muuttua jatkuvasti aineiston täydennys- ja tarkistustyön tuloksena, eikä niihin saa viitata muissa lähteissä. Katsaus seurannan tuloksista julkaistaan vuosittain Perhostutkijain Seuran <a href="http://www.perhostutkijainseura.fi/fi/J%C3%A4senlehti+Baptria.html" target="_blank">Baptria-lehdessä</a>. Uusi raportti vuoden 2016 tuloksista löytyy PDF-tiedostona myös täältä:
    </p>
    <p>
    <a href="http://cdn.laji.fi/baptria/Baptria-2017.pdf" target="_blank">Baptria-lehdessä 1/2017 julkaistu katsaus perhoskesään 2016 PDF-tiedostona</a>
    </p>
    <p>
    Päiväperhosseurannan havainnot kerätään Luonnontieteellisen keskusmuseon Hatikka-järjestelmässä olevan seurantalomakkeen kautta. Kesällä 2017 otetaan koekäyttöön myös Lajitietokeskuksen Vihko-havaintopalvelun yhteyteen toteutettu uusi seurantalomake. Hatikkaan tai Vihkoon kirjatut päiväperhosseurannan havainnot tulevat automaattisesti mukaan vuosiyhteenvetoon, eikä niistä lähetetä enää erikseen yhteenvetolomaketta vuoden lopulla Etelä-Karjalan Allergia- ja Ympäristöinstituuttiin. HUOM! ÄLÄ TALLENNA SAMOJA HAVAINTOJA SEKÄ HATIKKAAN ETTÄ VIHKOON!
    </p>
    <p>
    Tarkemmat ohjeet havaintojen kirjaamisesta Hatikan kautta ovat osoitteessa <a href="http://www.luomus.fi/nafi/ohje.php" target="_blank">www.luomus.fi/nafi/ohje.php</a>.
    </p>
    <!--
    <p>
    Havaintojen kirjaamisohjeet Vihkoon
    </p>
    <p>
    Päiväperhosseurannassa kerätään tietoja Suomessa tavattujen 122 päiväperhoslajin esiintymisestä maan eri osissa. Päiväperhosseurannan lomakkeelle tarvitaan seuraavat tiedot:
    </p>
    <p>
    Havainnoijien nimet: samalle lomakkeelle voi kirjata useamman eri henkilön havaintoja, kunhan havainnoissa ei ole kyse samoista perhosyksilöistä.
    </p>
    <p>
    Havaintojakson alku- ja loppuaika vähintään päivän tarkkuudella. Havaintojakson maksimipituus on kalenterivuosi. Voit kirjata havaintosi itse valitseminasi ajanjaksoina esim. päivän, viikon, kuukauden tai vuoden tarkkudella. Älä kuitenkaan kirjaa samalta päivältä useita havaintoeriä!
    </p>
    <p>
    Havaintoalueen sijainti paikanniminä ja kartalle piirrettynä aluerajauksena. On suositeltavaa rajata havaintojen keruualue siten, että se sijaitse yhtenäiskoordinaatiston peninkulmaruudun sisällä. Peninkulmaruutujen rajat saat näkyviin tallennuslomakkeen kartalle.
    </p>
    <p>
    Havaintopäivien lukumäärä on pakollinen tieto. Määrä kirjataan kokonaislukuna, joka ilmaisee, kuinka monena päivänä havaintojakson aikana perhosia tarkkailtiin. Kirjaa lomakkeelle havaintopäivien määrä myös silloin kun jakson pituus on yksi päivä!
    </p>
    <p>
    Havaittujen lajien yksilömäärät kokonaislukuina. Anna myös yleisten lajien yksilömäärälle lukuarvo, joka on oma arviosi, jos tarkkaa lukua ei ole kyetty laskemaan. Lisätiedot-kenttään voit kirjoittaa täsmennyksiä havaittujen yksilöiden esiintymisestä, sukupuolijakaumasta ym. tiedoista.
    </p>
    <p>
    Lomakkeen loppuun voit lisätä havaintoja myös muista lajeista kuin päiväperhosista.
    </p>
    -->
  </div>
</div>