:host {
  height: 100%;
}

laji-info-card {
  display: block;
}


@media only screen and (min-width : 768px) {
  :host ::ng-deep laji-info-card .info-card-header-first-row {
    margin-left: 10px;
  }
}
:host ::ng-deep laji-info-card.sidebar-hidden .info-card-header-first-row {
  margin-left: -15px;
}

@media only screen and (max-width : 767px) {
  laji-info-card {
    margin-left: 0 !important;
  }
}


