<laji-spinner [spinning]="loading" [overlay]="true" [hideContentWhileLoading]="true">
  @if (recordingNotFound) {
    <div class="identification-alert-container">
      <lu-alert type="danger" [dismissible]="false">{{ 'identification.recordingNotFound' | translate: {id: recordingId} }}</lu-alert>
    </div>
  } @else if (hasError) {
    <div class="identification-alert-container">
      <lu-alert type="danger" [dismissible]="false">{{ 'identification.genericError' | translate }}</lu-alert>
    </div>
  } @else if (recording() && annotation) {
    <div class="identification-view-container">
      @if (recordistMismatch()) {
        <div class="identification-view-alerts">
          <lu-alert class="mb-0" type="warning">
            {{ 'identification.recordistMismatch.part1' | translate: {recordist: recording()!.recordist} }}
            <a [routerLink]="['/user'] | localize" target="_blank">{{ 'identification.recordistMismatch.part2' | translate }}</a>.
            {{ 'identification.recordistMismatch.part3' | translate }}
          </lu-alert>
        </div>
      }
      <div class="identification-nav">
        <div class="button-container">
          <button class="btn btn-success" [disabled]="saving || loading || loadingXenoCantoApiKey" (click)="saveAnnotation()">{{ 'save' | translate }}</button>
          <button class="btn btn-default" [disabled]="saving || loading || loadingXenoCantoApiKey" (click)="openExportModal()">{{ (hasUnsavedChanges ? 'xenoCantoExport.saveAndExport' : 'xenoCantoExport.export') | translate }}</button>
        </div>
      </div>

      <bsg-identification-view
        class="flex-container"
        [recording]="recording()!"
        [(annotation)]="annotation"
        [taxonomyList]="taxonomyList"
        [buttonsDisabled]="saving || loading || loadingXenoCantoApiKey"
        [showFileName]="false"
        (annotationChange)="onAnnotationChange()"
      ></bsg-identification-view>
    </div>
  }
</laji-spinner>

<ng-template #noApiKeyTpl>
  {{ 'identification.noApiKey.part1' | translate }}
  <a [routerLink]="['/user'] | localize" target="_blank">{{ 'identification.noApiKey.part2' | translate }}</a>.
</ng-template>

<ng-template #invalidApiKeyTpl>
  {{ 'identification.invalidApiKey.part1' | translate }}
  <a [routerLink]="['/user'] | localize" target="_blank">{{ 'identification.invalidApiKey.part2' | translate }}</a>.
</ng-template>
