#container {
  padding: 10px 0 10px 0;
  min-height: 600px;
}

@media (max-height: 649px) {
  #container {
    min-height: calc(100vh - 50px);
  }
}

#navbar {
  flex: none;
}

#create-new-button {
  flex: 0 0 auto;
  margin-top: 5px;
  width: 100%;
}

#list-container, laji-np-list {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-height: 0;
}
