<div *ngIf="namedPlaces" [ngClass]="{'full-height': active === 'map'}">
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" [ngClass]="{active: active === 'list'}">
        <a (click)="setActive('list')">Lista</a>
      </li>
      <li role="presentation" [ngClass]="{active: active === 'map'}">
        <a (click)="setActive('map')">Kartta</a>
      </li>
    </ul>
  </div>

  <div [ngClass]="{hidden: active !== 'list'}">
    <laji-np-list [namedPlaces]="namedPlaces" [activeNP]="activeNP" (onActivePlaceChange)="setActiveNP($event)"></laji-np-list>
  </div>

  <div class="full-height" [ngClass]="{hidden: active !== 'map'}" *ngIf="mapActivated">
    <laji-np-map [namedPlaces]="namedPlaces"
                 [activeNP]="activeNP"
                 [visible]="active === 'map'"
                 (onActivePlaceChange)="setActiveNP($event)"
                 class="full-height"></laji-np-map>
  </div>

  <button class="btn btn-md btn-default"
          id="create-new-button"
          (click)="createButtonClick()">{{'np.createNew' | translate}}</button>
</div>
<!--a [routerLink]="" class="btn btn-lg btn-default">{{'np.createNew' | translate}}</a-->
