<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default"
         laji-panel
         *ngIf="taxon.primaryHabitat || taxon.secondaryHabitats"
         [title]="'MKV.habitat' | label"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-info-row *ngIf="taxon.primaryHabitat" [label]="'taxonomy.habitat.primary' | translate">
        <laji-habitat [habitat]="taxon.primaryHabitat"></laji-habitat>
      </laji-taxon-info-row>
      <laji-taxon-info-row *ngIf="taxon.secondaryHabitats" [label]="'taxonomy.habitat.secondary' | translate">
        <laji-habitat [habitat]="taxon.secondaryHabitats"></laji-habitat>
      </laji-taxon-info-row>
    </div>

    <ng-container *ngIf="taxonDescription.length > 0">
      <select style="margin-bottom: 8px;" class="form-control"
              (change)="contextChange.emit($event.target.value)"
              *ngIf="taxonDescription.length > 1">
        <option *ngFor="let description of taxonDescription; let i = index"
                [value]="description.id"
                [selected]="activeDescription === i">
          {{ description.title ? (description.title | multiLang) : description.id }}
        </option>
      </select>
      <span class="check-translations" *ngIf="translationKo">{{ "translationsMissing" | translate }}</span>
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default"
             *ngFor="let group of taxonDescription[activeDescription]?.groups; let i = index"
             [title]="group.title | multiLang"
             [open]="true"
             [autoToggle]="true"
             [index]="i"
             laji-panel>
          <div *ngFor="let variable of group.variables">
            <h4 *ngIf="variable.variable !== 'MX.ingressText'">
              {{ variable.title | multiLang }}
            </h4>
            <strong *ngIf="variable.variable === 'MX.ingressText'" [innerHTML]="variable.content | multiLang"></strong>
            <span *ngIf="variable.variable !== 'MX.ingressText'" [innerHTML]="variable.content | multiLang"></span>
          </div>
        </div>
      </div>
      <laji-taxon-description-source [taxonDescription]="taxonDescription[activeDescription]"></laji-taxon-description-source>
    </ng-container>
  </div>
</div>
