<div class="lj-obj-list">
  <strong>{{'theme.grid' | translate:{grid: query.ykj10kmCenter || ''} }}</strong>
  <a (click)="onListClose.emit(query)" class="badge pull-right link">x</a>
  <laji-observation-table
    [height]="height"
    [lang]="translate.currentLang"
    (rowSelect)="showDocument($event)"
    [pageSize]="1000"
    [query]="query"
    [showSettingsMenu]="false"
    [isAggregate]="false"
    [selected]="['unit.linkings.taxon', 'unit.linkings.taxon.scientificName', 'gathering.displayDateTime', 'gathering.team']"
  ></laji-observation-table>
</div>
<div class="modal fade" bsModal #documentModal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <laji-document [useWorldMap]="false" [uri]="shownDocument" [highlight]="highlightId"></laji-document>
      </div>
    </div>
  </div>
</div>
