<div class="lj-obj-list">
  <strong>{{ 'theme.grid' | translate:{grid: query.ykj10kmCenter || ''} }}</strong>
  <a (click)="listClose.emit(query)" class="badge pull-right link">x</a>
  <laji-observation-table
    [height]="height"
    (rowSelect)="showDocument($event)"
    (selectChange)="selectChange.emit($event)"
    [pageSize]="1000"
    [query]="query"
    [showSettingsMenu]="showSettings"
    [showPageSize]="false"
    [isAggregate]="false"
    [selected]="selected"
  ></laji-observation-table>
</div>
<div class="modal fade" bsModal #documentModal="bs-modal"
     (onHidden)="documentModalVisible = false"
     (onShow)="documentModalVisible = true"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" *ngIf="documentModalVisible">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <laji-document [useWorldMap]="false" [uri]="shownDocument" [highlight]="highlightId"></laji-document>
      </div>
    </div>
  </div>
</div>
