<router-outlet></router-outlet>
<!--<lu-sidebar>-->
<!--  <nav>-->
<!--    <h4 [innerHTML]="collectionId | collectionName"></h4>-->
<!--    <lu-sidebar-link [link]="['./']">-->
<!--      Ohje-->
<!--    </lu-sidebar-link>-->
<!--    <lu-sidebar-link [link]="['accept']">-->
<!--      Pääsypyynnöt-->
<!--      <span-->
<!--        *ngIf="formPermission && formPermission.permissionRequests && formPermission.permissionRequests.length > 0"-->
<!--        class="badge pull-right">-->
<!--          {{ formPermission.permissionRequests.length }}-->
<!--      </span>-->
<!--    </lu-sidebar-link>-->
<!--    <lu-sidebar-link [link]="['manage/editors']">-->
<!--      Hyväksytyt-->
<!--      <span-->
<!--        *ngIf="formPermission && formPermission.editors && formPermission.editors.length > 0"-->
<!--        class="badge pull-right">-->
<!--          {{ formPermission.editors.length }}-->
<!--      </span>-->
<!--    </lu-sidebar-link>-->
<!--    <lu-sidebar-link [link]="['manage/admins']">-->
<!--      Ylläpitäjät-->
<!--      <span-->
<!--        *ngIf="formPermission && formPermission.admins && formPermission.admins.length > 0"-->
<!--        class="badge pull-right">-->
<!--          {{ formPermission.admins.length }}-->
<!--      </span>-->
<!--    </lu-sidebar-link>-->
<!--    <lu-sidebar-link [link]="['participants']">-->
<!--      Osallistujaraportti-->
<!--    </lu-sidebar-link>-->
<!--    <lu-sidebar-link *ngIf="backPath" [link]="[backPath]" [linkParams]="backQuery">-->
<!--      Takaisin-->
<!--    </lu-sidebar-link>-->
<!--  </nav>-->
<!--  <main>-->
<!--    <div class="container-fluid">-->
<!--    <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </main>-->
<!--</lu-sidebar>-->
