:host {
  width: 100%;
  height: 100%;
}

.badge {
  margin: 0 5px 0 0;
  background-color: #2e921c;
}

.menu-title {
  margin-bottom: 6px;
}

.menu-sub {
  display: block;
  margin-bottom: 16px;
}

@media only screen and (min-width : 768px) {
  #wrapper {
    display: flex;
  }
}
