::ng-deep .chart-legend .legend-label {
  cursor: initial !important;
}
::ng-deep .day-chart .ngx-charts .bar {
  cursor: initial !important;
}
.info-card-chart {
  margin: auto;
  width: 100%;
  height: 350px;
  max-height: calc(100vh - 61px);
  max-width: 1200px;
}
