<div [ngClass]="'cat-info-container d-flex flex-wrap mt-3 mb-5 ' + activityCategoryClass[square.activityCategory!.key]">
  <div class="d-flex flex-col mr-6 mb-3">
    <h6>{{ 'ba.bird-society-info.square.activityCategory' | translate }}</h6>
    <strong>{{ square.activityCategory!.value }}</strong>
  </div>
  <div class="d-flex flex-col">
    <h6>{{ 'ba.bird-society-info.square.atlasClassSum' | translate }}</h6>
    <strong>{{ square.atlasClassSum }}</strong>
  </div>
</div>
<p>Havaintoja <strong>{{ square.speciesCount }}</strong> lajista.</p>
<table>
  <tr>
    <th>{{ 'ba.bird-society-info.square.atlasClassSumTable' | translate }}</th>
    <th>{{ 'ba.bird-society-info.square.atlasClassSumTable.threshold' | translate }}</th>
  </tr>
  <tr>
    <td>{{ 'ba.bird-society-info.square.atlasClassSumTable.level2' | translate }}</td>
    <td>{{ square.level2 | number: '1.0-2' }}</td>
  </tr>
  <tr>
    <td>{{ 'ba.bird-society-info.square.atlasClassSumTable.level3' | translate }}</td>
    <td>{{ square.level3 | number: '1.0-2' }}</td>
  </tr>
  <tr>
    <td>{{ 'ba.bird-society-info.square.atlasClassSumTable.level4' | translate }}</td>
    <td>{{ square.level4 | number: '1.0-2' }}</td>
  </tr>
  <tr>
    <td>{{ 'ba.bird-society-info.square.atlasClassSumTable.level5' | translate }}</td>
    <td>{{ square.level5 | number: '1.0-2' }}</td>
  </tr>
</table>
