@if (isAdmin && placesDiff) {
  <div class="col-xs-12"><h3>Reitin muutokset</h3></div>
}
@if (isAdmin && otherDiff) {
  <div class="col-xs-12">
    Vihreällä värillä ovat uudet, punaisella poistuneet ja sinisellä muuttuneet arvot.
    <table class="table table-sm">
      @for (diff of otherDiff; track diff) {
        <tbody>
          <tr [ngClass]="{'bg-success': diff.kind === 'N', 'bg-danger': diff.kind === 'D', 'bg-info': diff.kind === 'E' || diff.kind === 'A'}">
            <th>
              {{ diff.path.join('.') }} :
            </th>
            <td>
              @if (diff.kind === 'N' || diff.kind === 'D') {
                {{ (diff.rhs || diff.lhs) | label }}
              }
              @if (diff.kind === 'E') {
                {{ diff.lhs | label }} ➞ {{ diff.rhs | label }}
              }
            </td>
          </tr>
        </tbody>
      }
    </table>
  </div>
}
@if (isAdmin && placesDiff) {
  <div class="col-xs-12" style="padding-bottom: 5px;">
    @if (isAdmin && geometriesDiff) {
      <div class="btn-group" role="group" >
        <button type="button"
          (click)="setActiveDocument('document')"
        class="btn btn-sm btn-default {{activeDocument === 'document' ? 'active' : ''}}">Näytä tämän laskennan reitti</button>
        <button type="button"
          (click)="setActiveDocument('acceptedDocument')"
          [disabled]="!namedPlace.acceptedDocument"
        class="btn btn-sm btn-default {{activeDocument !== 'document' ? 'active' : ''}}">Näytä viimeksi hyväksytty reitti</button>
      </div>
    }
    <button type="button"
      (click)="acceptNamedPlaceChanges()"
    class="btn btn-sm btn-success ml-2">Hyväksy muutokset</button>
  </div>
}
@if (isAdmin) {
  <div class="col-xs-12" [style.height.px]="1000">
    <laji-map [options]="lajiMapOptions" [data]="data" (loaded)="onMapLoad()"></laji-map>
  </div>
}
