@if (!multiselect) {
  @if (options.length > 0) {
    <select class="form-control" #areaSelectElem
      (change)="areaSelect.emit(areaSelectElem.value)"
      [disabled]="disabled"
      [value]="value">
      @for (option of options; track option) {
        <option [value]="option.id" [selected]="option.id === value[0]">
          {{ option.translate ? (option.value | translate) : option.value }}
        </option>
      }
    </select>
  }
}
@if (multiselect) {
  <laji-select
    [options]="options || []"
    [filterPlaceHolder]="'haseka.submissions.filter' | translate"
    [useFilter]="true"
    [selected]="value"
    (selectedChange)="areaSelect.emit($any($event))"
    [open]="true"
    >
  </laji-select>
}
