.green-text {
  color: green;
  margin-bottom: 25px;
}
.red-text {
  color: red;
  margin-right: 5px;
}

:host /deep/ .link .panel-title{
  font-size: 1.5em;
}

::ng-deep p .scientificName {
  font-size: 1.6em;
}

::ng-deep .author {
  font-size: 1.2em;
  font-variant: small-caps;
  padding-left: 7px;
}


@media only screen and (max-width : 767px) {
  ::ng-deep .author {
    display: block;
    padding-left: 0px;
  }
}
