<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <span class="scientificName" [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}</span>
          <span *ngIf="taxon.scientificNameAuthorship" class="author">{{ taxon.scientificNameAuthorship }}</span>
        </p>
        <p *ngIf="taxon.nameAccordingTo" class="green-text">{{ 'taxonomy.acceptedName' | translate }} {{ taxon.nameAccordingTo | checklist }}</p>
        <p *ngIf="!taxon.nameAccordingTo">
          <span class="red-text" *ngIf="synonymType">{{ 'MX.has' + synonymType[0].toUpperCase() + synonymType.substring(1, synonymType.length - 1) | label | uppercase }} {{ 'taxonomy.ofTaxon' | translate }} </span>
          <a [routerLink]="['/taxon', taxon.synonymOf.id, 'taxonomy'] | localize" [queryParams]="{context: null}" [queryParamsHandling]="'merge'" target="_blank">
            <laji-taxon-name [taxon]="taxon.synonymOf" [addLink]="false"></laji-taxon-name>
          </a>
          <span *ngIf="taxon.synonymOf.scientificNameAuthorship" class="author">{{ taxon.synonymOf.scientificNameAuthorship }}</span>
        </p>
        <label *ngIf="taxon.originalPublications">{{ 'taxonomy.originalPublications' | translate }}</label>
        <ul>
          <li *ngFor="let publication of taxon.originalPublications">
            {{ publication | publication }}
            <br>
            <a [href]="publication | publication:'URI'" target="_blank">{{ 'taxonomy.link' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="taxon.synonymNames && taxon.synonymNames.length > 0"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.synonyms' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-synonyms [taxon]="taxon" [synonymTypes]="synonymTypes"></laji-taxon-synonyms>
    </div>
    <div *ngIf="taxon.vernacularName || taxon.alternativeVernacularName || taxon.tradeName"
         class="panel panel-default"
         laji-panel
         [title]="'taxonomy.otherNames' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-names [taxon]="taxon"></laji-taxon-names>
    </div>
    <div class="panel panel-default"
         laji-panel
         [title]="'taxonomy.taxonConcept' | translate"
         [open]="true"
         [autoToggle]="true"
    >
      <laji-taxon-concept-info
        [taxon]="taxon"
      ></laji-taxon-concept-info>
    </div>
    <div class="panel panel-default"
         laji-panel
         [title]="'taxonomy.bold' | translate"
         [open]="true"
         [autoToggle]="true">
      <laji-bold-sequence [scientificName]="taxon.scientificName" [cursive]="taxon.cursiveName"></laji-bold-sequence>
      <laji-bold-synonym [taxa]="taxon.basionyms || []"></laji-bold-synonym>
      <laji-bold-synonym [taxa]="taxon.heterotypicSynonyms || []"></laji-bold-synonym>
      <laji-bold-synonym [taxa]="taxon.homotypicSynonyms || []"></laji-bold-synonym>
      <laji-bold-synonym [taxa]="taxon.objectiveSynonyms || []"></laji-bold-synonym>
      <laji-bold-synonym [taxa]="taxon.orthographicVariants || []"></laji-bold-synonym>
      <laji-bold-synonym [taxa]="taxon.subjectiveSynonyms || []"></laji-bold-synonym>
      <laji-bold-synonym [taxa]="taxon.synonyms || []"></laji-bold-synonym>
    </div>
    <laji-taxon-description
      [taxonDescriptions]="taxonDescription"
      [groupId]="'MX.SDVG14'"
      [title]="'taxonomy.description' | translate"
    ></laji-taxon-description>
    <div class="panel panel-default"
         *ngIf="taxon.taxonExpert"
         laji-panel
         [title]="'taxonomy.taxonExpert' | translate"
         [open]="true"
         [autoToggle]="true">
      <div *ngFor="let expert of taxon.taxonExpert">
        {{ expert | users }}
      </div>
    </div>
  </div>
</div>
