@import 'vars';

footer {
  background: $neutral-2;
  box-shadow: inset 0 2px 8px 0 rgba($neutral-8, .2);
  padding: $sp-7 $sp-4;
}

.footer-content > * {
  flex: 1;
  min-width: 300px;
  margin-right: $sp-3;
  padding: 8px 12px;
  p, li {
    font-size: $fs-2;
    margin-bottom: 0;
  }
}
