<footer>
  <div class="container d-flex justify-center">
    <div class="d-flex flex-wrap footer-content">
      <div>
        <h4>Lintuatlaksen tulospalvelu</h4>
        <p>{{ 'footer.intro1' | translate }}</p>
      </div>
      <div>
        <ul>
          <li><a [routerLink]="'/about/'">Tietosuojaseloste</a></li>
          <li><a [routerLink]="'/about/'">Palaute</a></li>
          <li><a [routerLink]="'/about/'">Lintuatlas.fi</a></li>
          <li><a [routerLink]="'/about/'">Birdlife Suomi</a></li>
          <li><a [routerLink]="'/about/'">Luomus</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
