<ng-template #headingTemplate>
  <strong class="panel-title">
    {{ identification.commonName }} - {{ identification.scientificName }}
  </strong>
  <div class="pull-right">
    <a class="btn btn-sm btn-default mr-2" [routerLink]="['/validation/species', identification.id]" target="_blank" (click)="stopPropagation($event)">
      <i class="glyphicon glyphicon-new-window"></i> {{ 'identification.recordings.' + (identification.validationCount === 0 ? 'createTemplates' : 'seeTemplates') | translate }}
    </a>
    <button class="btn btn-danger btn-sm" (click)="onDeleteClick($event)" [disabled]="buttonsDisabled">x</button>
  </div>
</ng-template>

<div class="panel panel-default mb-0"
     laji-panel
     [headingTemplate]="headingTemplate"
     [open]="open"
     [autoToggle]="true"
>
  <div>
    <label class="radio-inline" *ngFor="let value of [speciesAnnotationEnum.occurs, speciesAnnotationEnum.possiblyOccurs]">
      <input type="radio" name="{{ componentId }}_occurrence" [checked]="identification.annotation.occurrence === value" [disabled]="buttonsDisabled" (change)="annotationTypeChange(value)"/>
      {{ 'theme.kerttu.' + (value === speciesAnnotationEnum.occurs ? 'occurs' : 'possiblyOccurs') | translate }}
    </label>
  </div>
  <label class="mt-4 mb-0">Boxes</label>
  <div class="table-responsive" *ngIf="identification?.annotation?.boxes?.length > 0">
    <table class="table table-condensed mt-0 mb-0">
      <tr *ngFor="let box of identification.annotation.boxes; let i=index">
        <td style="width: 50px">{{ i + 1 }}.</td>
        <td style="width: 200px">
          <laji-small-audio-viewer
            [audio]="recording"
            [area]="box.area"
            [width]="'150px'"
          ></laji-small-audio-viewer>
        </td>
        <td style="width: 240px">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="box.overlapsWithOtherSpecies" (ngModelChange)="identificationChange.emit(identification)">
              Overlaps with other species
            </label>
          </div>
        </td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            [disabled]="buttonsDisabled"
            (click)="deleteBoxClick.emit(i)"
          >x</button>
        </td>
      </tr>
    </table>
  </div>
  <button
    class="btn btn-primary d-block"
    [ngClass]="{
      'active': drawActive
    }"
    (click)="toggleDrawClick.emit()"
    [disabled]="buttonsDisabled"
  >
    <i class="glyphicon glyphicon-plus"></i> Draw a new box
  </button>
</div>
