<ng-template #headingTemplate>
  <div class="identification-heading">
    <strong class="panel-title">
      <ng-container *ngIf="idx != null">{{ idx + 1 }}. </ng-container>{{ identification.commonName }} - {{ identification.scientificName }}
    </strong>
    <div class="pull-right">
      <div class="d-inline mr-3" *ngIf="identification.hasAudio">
        <a class="btn btn-sm btn-default" [routerLink]="['/validation/species', '' + identification.id] | localize" target="_blank" (click)="stopPropagation($event)">
          <i class="glyphicon glyphicon-new-window"></i> {{ 'identification.' + (identification.validationCount === 0 ? 'createTemplates' : 'seeTemplates') | translate }}
        </a>
        <laji-info (click)="stopPropagation($event)" [html]="'identification.createTemplates.info' | translate" [showOnHover]="true"></laji-info>
      </div>
      <button class="btn btn-danger btn-sm" (click)="onDeleteClick($event)" [disabled]="buttonsDisabled">x</button>
    </div>
  </div>
</ng-template>

<div class="panel panel-default mb-0"
     laji-panel
     [headingTemplate]="headingTemplate"
     [open]="open"
     [autoToggle]="true"
     (activate)="openChange.emit($event.open)"
>
  <ng-container *ngIf="open">
    <div>
      <label class="radio-inline" *ngFor="let value of [speciesAnnotationEnum.occurs, speciesAnnotationEnum.possiblyOccurs]">
        <input type="radio" name="{{ componentId }}_occurrence" [checked]="identification.annotation.occurrence === value" [disabled]="buttonsDisabled" (change)="annotationTypeChange(value)"/>
        {{ 'identification.' + (value === speciesAnnotationEnum.occurs ? 'occurs' : 'possiblyOccurs') | translate }}
      </label>
      <laji-info [placement]="'right'" [html]="'identification.possiblyOccurs.info' | translate" [showOnHover]="true"></laji-info>
    </div>
    <label class="mt-4 mb-0">{{ 'identification.boxes' | translate }}</label>
    <div class="table-responsive" *ngIf="identification?.annotation?.boxes?.length > 0">
      <table class="table table-condensed mt-0 mb-0">
        <tr *ngFor="let box of identification.annotation.boxes; let i=index">
          <td style="width: 50px">{{ numberToLetter(i + 1) }}.</td>
          <td style="width: 200px">
            <laji-small-audio-viewer
              [audio]="recording"
              [area]="box.area"
              [spectrogramWidth]="130"
              [spectrogramHeight]="50"
              [areaColor]="box.overlapsWithOtherSpecies ? overlappingBirdRectangleColor: birdRectangleColor"
            ></laji-small-audio-viewer>
          </td>
          <td style="width: 240px">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="box.overlapsWithOtherSpecies" (ngModelChange)="identificationChange.emit(identification)">
                {{ 'identification.boxes.overlapsWithOthers' | translate }}
              </label>
            </div>
          </td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              [disabled]="buttonsDisabled"
              (click)="deleteBoxClick.emit(i)"
            >x</button>
          </td>
        </tr>
      </table>
    </div>
    <button
      #toggleDrawBtn
      class="btn btn-primary d-block"
      [ngClass]="{
      'active': drawBoxActive
    }"
      (click)="drawBoxClick.emit()"
      [disabled]="buttonsDisabled"
    >
      <i class="glyphicon glyphicon-plus"></i> {{ 'identification.boxes.new' | translate }}
    </button>
  </ng-container>
</div>
