<div class="mb-3">
  <div>
    <label class="d-block mb-0">{{ 'downloadRequest.fileDownload.type' | translate }}:</label>
    <div class="d-flex">
      @for (option of fileTypeEnum | keyvalue: sortNull; track option) {
        <div class="mr-5">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="fileType"
                [value]="option.value"
                [(ngModel)]="downloadService.fileType"
                >
                {{ ('downloadRequest.fileDownload.type.' + option.value)  | translate }}
              </label>
              @if (option.value === fileTypeEnum.gis) {
                <laji-info [placement]="'right'" [html]="'downloadRequest.fileDownload.type.gis.info' | translate"></laji-info>
              }
            </div>
          </div>
        }
      </div>
    </div>
    @if (downloadService.fileType === fileTypeEnum.gis) {
      <div class="row">
        <div class="col-sm-4">
          <label for="format">{{ 'downloadRequest.fileDownload.format' | translate }}:</label>
          <select id="format" name="format" class="form-control" [(ngModel)]="downloadService.format">
            @for (option of fileFormatEnum | keyvalue: sortNull; track option) {
              <option [ngValue]="option.value">{{ '.' + option.value }}</option>
            }
          </select>
        </div>
        <div class="col-sm-4">
          <label for="geometry">{{ 'download.geometry' | translate }}:</label>
          <select id="geometry" name="geometry" class="form-control" [(ngModel)]="downloadService.geometry">
            @for (option of fileGeometryEnum | keyvalue: sortNull; track option) {
              <option [ngValue]="option.value">{{ option.value }}</option>
            }
          </select>
        </div>
        <div class="col-sm-4">
          <label for="crs">{{ 'download.crs' | translate }}:</label>
          <select id="crs" name="crs" class="form-control" [(ngModel)]="downloadService.crs">
            @for (option of fileCrsEnum | keyvalue: sortNull; track option) {
              <option [ngValue]="option.value">{{ option.value }}</option>
            }
          </select>
        </div>
      </div>
    }
  </div>
  <lu-button [loading]="downloadService.loading" [role]="'primary'" (click)="downloadFile()">
    <i class="glyphicon glyphicon-download-alt"></i>
    {{ (downloadService.loading ? 'downloadRequest.fileDownload.downloading' : 'downloadRequest.fileDownload.download') | translate }}
    @if (downloadService.loading && downloadService.progressPercentage !== undefined) {
      {{ downloadService.progressPercentage }} %
    }
  </lu-button>
