<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" href="https://punainenkirja.laji.fi/results/{{ taxon.id }}" target="_blank">
      {{ 'taxonomy.endangerment.iucnLink' | translate }}
    </a>

    <h3>{{ 'taxonomy.endangerment.evaluation' | translate }} {{ taxon.latestRedListEvaluation.evaluationYear }}</h3>
    <div style="margin: 15px -15px;">
      <laji-iucn-class [includeOther]="false" [highlight]="taxon.latestRedListEvaluation.redListStatus"></laji-iucn-class>
      <div style="clear: both;"></div>
      <laji-status-mark [showLabels]="true" [evaluation]="{possiblyRE: taxon.latestRedListEvaluation.possiblyRE}"></laji-status-mark>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table taxon-table table-condensed">
          <tbody>
          <tr>
            <th>{{ 'MKV.criteriaForStatus' | label }}</th>
            <td [innerHTML]="taxon.latestRedListEvaluation.criteriaForStatus | explainCriteria"></td>
          </tr>
          <tr>
            <th>{{ 'iucn.hasEndangermentReason' | translate }}</th>
            <td>
              <ul>
                <li *ngFor="let reason of taxon.latestRedListEvaluation.endangermentReasons" [innerHTML]="reason | label"></li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>{{ 'iucn.hasThreat' | translate }}</th>
            <td>
              <ul>
                <li *ngFor="let threat of taxon.latestRedListEvaluation.threats" [innerHTML]="threat | label"></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3>{{ 'taxonomy.endangerment.evaluationHistory' | translate }}</h3>
    <laji-taxon-status-history
      [history]="taxon.redListStatusesInFinland"
    ></laji-taxon-status-history>
  </div>
</div>
