.np-info {
  padding-bottom: 20px;
  margin-bottom: 3px;
}

.np-info legend {
  font-size: 15px;
}

.np-info button, .np-info a {
  margin-bottom: 2px;
  margin-top: -7px;
}

laji-np-info-map {
  float: right;
  width: 55%;
  padding-top: 55%;
  position: relative;
}

.use-button {
  width: 100%;
}

#info-box {
  padding: 10px 0 10px 0;
}
