.np-info {
  margin-bottom: 3px;
}

.np-info legend {
  margin-top: 5px;
  margin-bottom: 12px;
}

.np-info button, .np-info a {
  margin-bottom: 2px;
  margin-top: -7px;
}

laji-np-info-map {
  float: right;
  width: 55%;
  padding-top: 55%;
  position: relative;
}

.use-button {
  width: 100%;
  margin-bottom: 3px;
}

#info-box {
  padding: 10px 0 7px 0;
}

#btn-container {
  text-align: right;
}
