::ng-deep .effective-taxon-tags {
  margin-bottom: 0 !important;
}

hr {
  margin: 4px 0;
}
.highlight {
  border-left: 3px solid #E7D759;
}
.unit {
  position: relative;
  min-height: 30px;
}
.annotation-btn {
  margin-bottom: 5px;
}
