.naks {
  height: 120px;
  padding: 12px 8px;
  margin-bottom: 12px;
}

.poks {
  text-align: center;
}

.niks {
  padding: 0;
}

.compact-list {
  margin-left: 0;
  margin-right: -3px;
}

.compact-list [class^='col-'] {
  padding: 0 3px 3px 0;
}

.compact-list .panel {
  margin-bottom: 0;
}

.compact-list .panel-heading {
  padding: 0;
}


.compact-list h3 {
  font-size: 13px;
  font-weight: normal;
  height: auto !important;
  padding: 4px 9px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-eq-height > [class^='col-'] {
  display: flex;
  flex-direction: column;
}

.row-eq-height .panel, .row-eq-height .panel-heading {
  height: 100%;
}

.row-eq-height h3 {
  min-height: 100%;
}
