@if (!!identifications && identifications.length !== 0) {
  @if (showFacts) {
    <laji-row [title]="'viewer.identifications' | translate" value=" "></laji-row>
    @for (identification of identifications; track identification) {
      <div class="ml-5">
        <laji-identification [identification]="identification" [showFacts]="showFacts"></laji-identification>
      </div>
    }
  } @else {
    <laji-row [title]="'viewer.identifications' | translate">
      @for (identification of identifications; track identification) {
        <div>
          <laji-identification [identification]="identification" [showFacts]="showFacts"></laji-identification>
        </div>
      }
    </laji-row>
  }
}
