<div id="taxon-tree">
  <div style="position: relative">
    <label>
      {{'species.tree.taxonSearch' | translate}}:
      <laji-taxon-select
        (onSelect)="onTaxonSelect($event)"
        [searchParams]="taxonSelectFilters">
      </laji-taxon-select>
    </label>
    <label style="position: absolute; bottom: 0; right: 0">
      <input type="checkbox"
             [(ngModel)]="hideLowerRanks"
             (ngModelChange)="onHideLowerRanksClick()"
             name="hideLowerRanks">
      {{'species.tree.hideLowerRanks' | translate}}
    </label>
  </div>

  <div class="species-table-wrapper">
    <laji-tree-table #treeTable
                     [columns]="columns"
                     [nodes]="nodes"
                     [getChildren]="getChildrenFunc"
                     [getParents]="getParentsFunc"
                     [skipParams]="skipParams"
                     (rowSelect)="onRowSelect($event)">
    </laji-tree-table>
    <div class="setting-menu link" (click)="openSettingsModal()">
      <i class="glyphicon glyphicon-cog"></i>
    </div>
  </div>
</div>

<laji-species-download #speciesDowload
                       [downloadLoading]="downloadLoading"
                       (onDownload)="download($event)">
</laji-species-download>

<laji-species-list-options-modal #settingsModal
                                 (close)="onCloseSettingsModal()"
                                 (settingsLoaded)="onSettingsLoaded()"
                                 [searchQuery]="searchQuery"
                                 [columnLookup]="columnService.columnLookup"
                                 [requiredFields]="['scientificName']"
                                 [listType]="'tree'">
</laji-species-list-options-modal>
