<laji-spinner [spinning]="loading" [overlay]="true">
  <div class="container info-card" style="width: auto" *ngIf="taxon">
    <h1 style="text-align: center">
      <laji-taxon-name [taxon]="taxon" [addLink]="false"></laji-taxon-name>
    </h1>
    <div>
      <div class="block">
        <div class="panel panel-default" laji-panel [title]="'taxonomy.card' | translate" [open]="true" [autoToggle]="true">
          <laji-taxon-info [taxon]="taxon"></laji-taxon-info>
        </div>

        <div *ngIf="hasDescription" class="panel panel-default" laji-panel [title]="'Kuvaukset'" [open]="true" [autoToggle]="true">
          <laji-taxon-descriptions
            [taxonDescription]="taxonDescription"
            [context]="context"
            (descriptionChange)="onDescriptionChange($event)"
          ></laji-taxon-descriptions>
        </div>

        <div *ngIf="taxon.misspelledNames" class="panel panel-default" laji-panel [title]="'Synonyymit'" [open]="true" [autoToggle]="true">
          <laji-taxon-synonyms [taxon]="taxon"></laji-taxon-synonyms>
        </div>

        <div *ngIf="taxon.vernacularName || taxon.alternativeVernacularName || taxon.tradeName" class="panel panel-default" laji-panel [title]="'Muut nimet'" [open]="true" [autoToggle]="true">
          <laji-taxon-names [taxon]="taxon"></laji-taxon-names>
        </div>

        <div *ngIf="taxonConceptId" class="panel panel-default" laji-panel [title]="'taxonomy.taxonConcept' | translate" [open]="true" [autoToggle]="true">
          <laji-taxon-concept-info [taxonId]="taxon.id" [taxonConceptId]="taxonConceptId"></laji-taxon-concept-info>
        </div>
      </div>

      <div class="block">
        <div *ngIf="isFromMasterChecklist" class="panel panel-default" laji-panel [title]="'taxonomy.map' | translate" [open]="true" [autoToggle]="true">
          <p class="disclaimer">
            {{ 'taxonomy.map.disclaimer' | translate }}
          </p>
          <laji-observation-map [color]="'#009900'"
                                [settingsKey]="'taxonMap'"
                                [center]="[64.5, 25.0]"
                                [query]="{taxonId: [taxon.id]}"
                                [height]="300"
                                [draw]="false">
          </laji-observation-map>
        </div>

        <div class="panel panel-default taxon-images" laji-panel [hidden]="!hasTaxonImages && !hasCollectionImages" [title]="'taxonomy.images' | translate" [open]="true" [autoToggle]="true">
          <ul class="nav nav-tabs">
            <li role="presentation"
                [ngClass]="{active: activeImageTab === 'taxon'}"
                *ngIf="hasTaxonImages">
              <a (click)="setActiveImageTab('taxon')">
                {{ 'taxonomy.images.taxon' | translate }}
              </a>
            </li>
            <li role="presentation"
                [ngClass]="{active: activeImageTab === 'collection'}"
                *ngIf="hasCollectionImages">
              <a (click)="setActiveImageTab('collection')">
                {{ 'taxonomy.images.collection' | translate }}
              </a>
            </li>
          </ul>
          <div [hidden]="activeImageTab !== 'taxon'" *ngIf="hasTaxonImages">
            <laji-image-gallery [modalImages]="taxonImages"></laji-image-gallery>
          </div>
          <div *ngIf="isFromMasterChecklist" [hidden]="activeImageTab !== 'collection' || !hasCollectionImages">
            <laji-gallery
              *ngIf="taxon.species"
              [shortPager]="true"
              (hasData)="onCollectionImagesLoaded($event)"
              [query]="{taxonId: taxon.id, taxonRankId: taxon.taxonRank, superRecordBasis: 'PRESERVED_SPECIMEN', sourceId: 'KE.3'}" [pageSize]="10"
            ></laji-gallery>
          </div>
        </div>

        <div *ngIf="taxon.hasChildren" class="panel panel-default" laji-panel [title]="'taxonomy.speciesPieChartTitle' | translate" [open]="true" [autoToggle]="true">
          <laji-species-pie
            [taxonId]="taxon.id"
          ></laji-species-pie>
        </div>

        <div class="panel panel-default" laji-panel [title]="'taxonomy.browse.title' | translate" [open]="true" [autoToggle]="true">
          <ul class="br-list">
            <li>
              <a [routerLink]="'/observation/map' | localize" [queryParams]="{target: taxon.id}">
                {{ 'taxonomy.browse' | translate }}
              </a>
            </li>
            <li>
              <a [routerLink]="'/observation/load' | localize" [queryParams]="{target: taxon.id}">
                {{ 'taxonomy.browse.download' | translate }}
              </a>
            </li>
            <li [hidden]="!taxon.hasChildren">
              <a [routerLink]="['/taxon/list'] | localize" [queryParams]="{target: (taxon.id)}">
                {{ 'taxonomy.browse.downloadSpecies' | translate }}
              </a>
            </li>
            <li [hidden]="!taxon.hasChildren">
              <a [routerLink]="['/taxon/list'] | localize" [queryParams]="{target: (taxon.id), onlyFinnish: true}">
                {{ 'taxonomy.browse.downloadSpeciesFinnish' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="taxon === false">
    <h1>
      {{ 'taxonomy.notFound' | translate }}
    </h1>
  </div>
</laji-spinner>
