<div>
  <lu-button role='secondary' (click)='openModal()' [disabled]="(includedOptions.length !== 0 || excludedOptions.length !== 0) && !options.length">
    {{modalButtonLabel}}
  </lu-button>
  @if (includedOptions?.length !== 0 || excludedOptions?.length !== 0) {
    @if (options.length > 0) {
      <laji-selected-tree-nodes
        [selectedOptions]='options'
        [includedTitle]="includedTitle"
        [excludedTitle]="excludedTitle"
      (selectedOptionsChange)='deselect($event)'></laji-selected-tree-nodes>
    } @else {
      <laji-spinner></laji-spinner>
    }
  }
</div>
