@if (boldEntries.length > 0) {
  @for (boldEntry of boldEntries; track boldEntry) {
    <div class="mb-1">
      <b>{{ boldEntry.scientificName }}</b><br />
      <a href="https://portal.boldsystems.org/result?query=%22{{boldEntry.scientificName}}%22">
        {{ boldEntry.publicRecords }} {{ 'taxonomy.bold.publicRecords' | translate }}
      </a>
      <ul>
        @for (bin of boldEntry.bins; track bin) {
          <li>
            <a href="https://portal.boldsystems.org/bin/{{bin}}">{{ bin }}</a>
          </li>
        }
      </ul>
    </div>
  }
}
