<div>
    <div class="row">
        <div class="col-sm-8">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">{{ (taxonList | async)?.scientificName }}</li>
            </ol>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input #input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <Tree #tree [nodes]="(taxonList | async)?.children" [options]="options"></Tree>
</div>