<div>
  <tree-root #tree
        (onToggleExpanded)="onToggle($event)"
        [nodes]="nodes"
        [focused]="true"
        [options]="options">
    <ng-template #treeNodeTemplate let-node>
      <span class="rank">
        [{{node.data.taxonRank | label}}]
      </span>
      <span class="name">
        <i *ngIf="node.data.cursiveName">{{ node.data.scientificName }}</i>
        <span *ngIf="!node.data.cursiveName">{{ node.data.scientificName }}</span>
        {{ node.data.vernacularName ? ' - ' + (node.data.vernacularName | multiLang) : '' }}
      </span>
      <a [routerLink]="'/taxon/' + node.data.id | localize">
        <i class="glyphicon glyphicon-tag"></i>
      </a>
    </ng-template>
  </tree-root>
</div>
