@import 'vars';

:host {
  display: block;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header-image::before {
  content: '';
  background: rgba(#000, .3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.image-content-container {
  max-width: 1300px;
  flex-grow: 1;
}

.header-image-content {
  z-index: 100;
  color: $neutral-1;
  padding: 0px 50px;
/*   background: rgba(#000, .4); */
}

.logo {
  max-width: 250px;
}

.some-link svg {
  height: 20px;
  width: 20px;
}

.fmnh {
  color: $neutral-5;
}

laji-omni-search {
  display: block;
  max-width: 400px;
}

.stats-container {
  margin-right: $sp-8;

  laji-observation-count {
    font-size: $fs-8;
    color: $neutral-2;
  }
  .stats-label {
    margin-top: -10px;
    font-size: $fs-5;
    color: $neutral-4;
  }
}

.img-responsive {
  margin: 45px 0
}

.header-image {
  position: relative;
  background-clip: border-box;
  background-position: center;
  background-size: cover;
}

.header-image, .carousel .item {
  height: 300px;
}

:host >>> .carousel .item {
  height: 300px;
}

.text-container {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  /*
  .header-image {
    background-clip: border-box;
    background: url(/static/images/bg1.jpg) center / cover;
  }
  */

  .header-image, .carousel .item {
    height: 400px;
  }

  :host >>> .carousel .item {
    height: 400px;
  }
}

@media only screen and (max-width:768px) {
  .carousel-caption {
    padding-bottom: 0px;
  }
}
