<div>
  <div #lajiForm></div>
  <div class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <ng-container *ngIf="errorModalData">
            <ng-container *ngTemplateOutlet="modalContent; context: errorModalData"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-description="description" let-buttons="buttons">
  <div class="alert alert-danger" role="alert">
    <span>{{ description | translate }}</span><br />
  </div>
  <ng-container *ngFor="let button of buttons">
    <ng-component *ngTemplateOutlet="modalButton; context: button"></ng-component>
  </ng-container>
</ng-template>

<ng-template #modalButton let-label="label" let-fn="fn">
  <button class="btn btn-default" (click)="fn()">
    {{ label | translate }}
  </button>
</ng-template>

