@import 'projects/laji-ui/src/lib/vars';

:host ::ng-deep {
  .input-group-btn span.btn {
    margin-top: -1px;
  }
  .input-group .input-group-btn .btn {
    &.active {
      transform: initial;
    }
  }

  .laji-form-help-glyph {
    background-color: $neutral-1;
    box-shadow: 0 1px 2px 0 rgba($neutral-8, 0.3);
    outline: 1px solid darken($neutral-1, 12%);
    border: none;
  }


  color: $neutral-8;
}
