<ng-container>
  <a [routerLink]="[linkLocation] | localize" target="_blank" class="btn btn-primary btn-sm margin-right-10" *ngIf="(actions | includes:'edit') && hasEditRights && linkLocation" [tooltip]="'haseka.submissions.toEdit' | translate">
    {{ 'np.edit' | translate }}
    <i class="glyphicon glyphicon-edit"></i>
  </a>
  <a (click)="makeTemplate()" class="btn btn-default btn-sm margin-right-10" *ngIf="(actions | includes:'template') && hasEditRights && linkLocation && showMakeTemplate(_formID)" [tooltip]="'haseka.form.saveTemplate' | translate">
    {{ 'np.template' | translate }}
    <i class="glyphicon glyphicon-floppy-disk"></i>
  </a>
  <a (click)="makeDelete()" class="btn btn-default btn-sm margin-right-10" *ngIf="(actions | includes:'delete') && hasAdminRights" [tooltip]="'haseka.delete.title' | translate">
    {{ 'np.delete' | translate }}
    <i class="glyphicon glyphicon-remove"></i>
  </a>
  <small><laji-named-place-linker-button [documentID]="_documentID"></laji-named-place-linker-button></small>
</ng-container>



<ng-template #saveAsTemplate>
  <laji-spinner [spinning]="loading" [overlay]="true"></laji-spinner>
  <div class="modal-content">
    <div class="modal-header">
      <button class="close pull-right" type="button" (click)="closeModal()">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <h4 class="modal-title">{{ 'template.formTitle' | translate }}</h4>
    </div>
    <div class="modal-body">
      <label for="templateName">{{ 'template.name' | translate }}: <span class="required">*</span></label>
      <input id="templateName" class="form-control" type="text" [(ngModel)]="templateForm.name" name="name">
      <label for="templateDescription">{{ 'template.description' | translate }}:</label>
      <textarea id="templateDescription" class="form-control" [(ngModel)]="templateForm.description" name="description"></textarea>
      <span class="required">*</span> = {{ 'required' | translate }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [class.disabled]="templateForm.name.length === 0" (click)="saveTemplate()">
        <span>{{ "np.save" | translate }}</span>
      </button>
    </div>
  </div>
</ng-template><!-- /.modal -->


<ng-template #deleteModal>
  <laji-spinner [spinning]="loading" [overlay]="true"></laji-spinner>
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" aria-label="Close" (click)="closeModal()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title" [innerHtml]="(onlyTemplates ? 'haseka.delete.template' : 'haseka.delete.description') | translate:{id: '1', name: 'a'}"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success pull-left" (click)="closeModal()">
          <span>{{ "haseka.delete.cancel" | translate }}</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteDocument()">
          <span>{{ "haseka.delete.ok" | translate }}</span>
        </button>
      </div>
    </div><!-- /.modal-content -->
</ng-template><!-- /.modal -->
