<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{'species.download' | translate}}</h4>
      </div>
      <div class="panel-body">
        <a (click)="modal.show()">{{'species.download' | translate}}</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{'species.browse' | translate}}</h4>
      </div>
      <div class="panel-body">
        <a (click)="browse()">{{'species.browse' | translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" bsModal #chooseFileTypeModal="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" (click)="modal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4>{{'haseka.submissions.chooseFormat' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="radio">
            <label><input type="radio" name="optradio" [(ngModel)]="fileType" value="tsv">{{'species.download.textFile' | translate}} (.tsv)</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" [(ngModel)]="fileType" value="ods">OpenDocument Spreadsheet (.ods)</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" [(ngModel)]="fileType" value="xlsx">Excel (.xlsx)</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-push-10 col-xs-2 col-sm-push-8 col-sm-4">
            <laji-spinner [spinning]="downloadLoading" [overlay]="true">
              <button type="button" class="btn btn-default" [disabled]="downloadLoading" (click)="download()">
                <span>{{"haseka.submissions.download" | translate}}</span>
              </button>
            </laji-spinner>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
