<laji-search-filters [searchQuery]="searchQuery"
                     [showFilter]="showFilter"
                     (showFilterChange)="onShowFilterChange($event)">
  <div class="taxon-panel">
    <div class="form-group" [hidden]="searchQuery.skippedQueryParams.indexOf('target') > -1">
      <label class="col-sm-12">
        {{ 'species.form.specimen' | translate }}:
      </label>
      <div class="col-sm-12">
        <laji-taxon-select
          (select)="onTaxonSelect($event)"
          [taxonId]="formQuery.taxon"
          [searchParams]="taxonSelectFilters">
        </laji-taxon-select>
      </div>
    </div>

    <div class="form-group" [hidden]="searchQuery.skippedQueryParams.indexOf('onlyFinnish') > -1">
      <div class="col-sm-12">
        <bSwitch
          name="onlyFinnish"
          [switch-off-text]="'species.form.all' | translate"
          [switch-on-text]="'species.form.finnish' | translate"
          [switch-on-color]="'primary'"
          [switch-size]="'small'"
          [(ngModel)]="formQuery.onlyFinnish"
          [switch-base-class]="'bootstrap-switch'"
          (onChangeState)="onQueryChange()">
        </bSwitch>
      </div>
    </div>

    <div class="form-group" [hidden]="searchQuery.skippedQueryParams.indexOf('redListStatusFilters') > -1">
      <div class="col-sm-12">
        <laji-metadata-select
          [(ngModel)]="searchQuery.query.redListStatusFilters"
          (ngModelChange)="onQueryChange()"
          [multiple]="true"
          [useFilter]="false"
          name="redListStatusFilters"
          [placeholder]="'observation.form.redListStatusId'"
          [alt]="'MX.iucnStatuses'"
          [lang]="translate.currentLang"></laji-metadata-select>
      </div>
    </div>

    <div class="form-group" [hidden]="searchQuery.skippedQueryParams.indexOf('adminStatusFilters') > -1">
      <div class="col-sm-12">
        <laji-metadata-select
          [(ngModel)]="searchQuery.query.adminStatusFilters"
          (ngModelChange)="onAdministrativeStatusChange()"
          [multiple]="true"
          [placeholder]="'MX.hasAdminStatus' | label"
          name="adminStatusFilters"
          [alt]="'MX.adminStatusEnum'"
          [lang]="translate.currentLang"></laji-metadata-select>
      </div>
    </div>

    <div class="form-group" [hidden]="searchQuery.skippedQueryParams.indexOf('typesOfOccurrenceFilters') > -1">
      <div class="col-sm-12">
        <laji-three-state-multi-switch
          [title]="'observation.form.typeOfOccurrenceId' | translate"
          [lang]="translate.currentLang"
          [trueValue]="searchQuery.query.typesOfOccurrenceFilters"
          [falseValue]="searchQuery.query.typesOfOccurrenceNotFilters"
          [alt]="'MX.typeOfOccurrenceEnum'"
          (update)="updateTypesOfOccurrence($event)"
        ></laji-three-state-multi-switch>
      </div>
    </div>

    <div class="form-group" [hidden]="searchQuery.skippedQueryParams.indexOf('invasiveSpeciesFilter') > -1">
      <div class="col-sm-12">
        <laji-select [options]="[
                        {id: 'onlyInvasive', value: 'observation.form.invasive' | translate},
                        {id: 'onlyNonInvasive', value: 'observation.form.nonInvasive' | translate},
                        {id: 'euInvasiveSpeciesList', value: 'MX.euInvasiveSpeciesList' | label},
                        {id: 'nationallySignificantInvasiveSpecies', value: 'MX.nationallySignificantInvasiveSpecies' | label},
                        {id: 'quarantinePlantPest', value: 'MX.quarantinePlantPest' | label},
                        {id: 'allInvasiveSpecies', value: 'observation.form.allInvasive' | translate}
                     ]"
                     [selected]="invasiveSelected"
                     [title]="'observation.form.invasive' | translate"
                     [useFilter]="false"
                     [outputOnlyId]="true"
                     (selectedChanged)="onInvasiveChange($event)"></laji-select>
      </div>
    </div>
  </div>
</laji-search-filters>

