<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open}">
  @if (title !== undefined && title !== '') {
    <strong class="lj-title link" (click)="toggle($event)" role="button" tabindex="0" luKeyboardClickable>{{ title }}@if (info) {
      <laji-info [html]="info"></laji-info>
    }</strong>
  }
  @if (options$ | async; as options) {
    <div [hidden]="!open">
      @for (option of options; track option) {
        <laji-switch-row
          [option]="option"
          [falseValue]="falseValue"
          [trueValue]="trueValue"
          (update)="changeValue($event)"
        ></laji-switch-row>
      }
    </div>
  }
</div>
