@import 'vars';

.map-panel {
  max-width: 100%;
}

.info-panel {
  flex-grow: 1;
  max-width: 600px;
  overflow-x: hidden;
}

.grid-square-panel {
  background-color: $neutral-2;
  border-radius: 12px;
  padding: $sp-6 $sp-8;
  box-shadow: 0 1px 4px 0 rgba($neutral-8, .25);
}

.coords {
  color: $neutral-6;
}

.close-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
}

.legend-container > * {
  flex-basis: 50%;
  max-width: 200px;
  margin-bottom: $sp-6;
}

ba-bird-society-info-map {
  min-height: 300px;
}

.pill {
  display: inline-block;
  margin-top: $sp-1;
  margin-right: $sp-1;

  font-size: $fs-2;
  color: $success-1;
  background-color: $success-5;

  border-radius: 2px;
  padding: $sp-2 $sp-3;

  box-shadow: 0 1px 2px 0 rgba($success-9, .25);
  border: 0;

  .glyphicon-remove {
    margin-left: $sp-2;
    font-size: 10px;
    padding: 3px;
    color: $success-4;
    background-color: $success-6;
    border-radius: 100%;
  }

  &:hover {
    background-color: lighten($success-5, 5%);
  }
}

