<div *ngIf="loading" class="container"><laji-spinner class="d-block m-6"></laji-spinner></div>
<div *ngIf="!loading" class="container">
  <h1>{{ birdSociety?.birdAssociationArea.value }}</h1>
  <div class="d-flex flex-row flex-wrap">
    <ba-bird-society-info-map
      [atlasGrid]="birdSociety?.gridSquares"
      [selectedDataIdx]="selectedDataIdx"
      (selectDataIdx)="onSelectDataIdx($event)"
      class="d-block mr-5"
    ></ba-bird-society-info-map>
    <div class="side-panel">
      <ng-container *ngIf="selectedDataIdx > 0 else society">
        <ng-container *ngTemplateOutlet="square"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #society>
  <h3 class="mt-2">Ruutujen selvitysasteet</h3>
  <table>
    <tr>
      <th>Luokka</th>
      <th>%</th>
      <th>Ruutua</th>
    </tr>
    <tr *ngFor="let cat of getActivityCategoriesAsList()">
      <td>{{ cat.name }}</td>
      <td>{{ cat.squarePercentage | number: '1.0-2'}}</td>
      <td>{{ cat.squareSum }}</td>
    </tr>
  </table>
  <p>Yhteensä 222 ruutua.</p>
</ng-template>

<ng-template #square>
  <div class="grid-square-panel" *ngIf="birdSociety.gridSquares[selectedDataIdx] as selected">
    <div class="d-flex flex-row justify-between">
      <h3 class="mr-4">{{ selected.name }} <span class="coords">({{selected.coordinates}})</span></h3>
      <button class="btn btn-default close-btn" (click)="resetSelected()">X</button>
    </div>
    <p>Selvitysaste: {{ selected.activityCategory.value }}</p>
    <p>Pesimävarmuussumma: {{ selected.atlasClassSum }}</p>
    <p><a [routerLink]="'/grid/' + selected.coordinates">Lajit</a></p>
    <table>
      <tr>
        <th>Pesimävarmuussumma</th>
        <th>Raja-arvo</th>
      </tr>
      <tr>
        <td>Välttävä</td>
        <td>{{ selected.level2 | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td>Tyydyttävä</td>
        <td>{{ selected.level3 | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td>Hyvä</td>
        <td>{{ selected.level4 | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td>Erinomainen</td>
        <td>{{ selected.level5 | number: '1.0-2' }}</td>
      </tr>
    </table>
  </div>
</ng-template>
