@import 'projects/laji-ui/src/lib/vars';


.stat-item {
  text-align: center;

  .stat-item-description {
    font-size: 1.3em;
  }
  .stat-item-value {
    font-size: 2.3em;
    font-weight: 700;
  }
}

@media only screen and (min-width: map-get($map: $breakpoints, $key: "sm")) {
  .species-table-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    .species-table-filter {
      display: inline-block;
      flex: 1;
      max-width: none;

      input {
        max-width: 200px;
      }
    }
  }
}
