<span *ngIf="taxon" class="taxon-name">
  <ng-container [ngTemplateOutlet]="showScientificNameFirst ? scientificName : vernacularName"></ng-container>
  <ng-container *ngIf="taxon.vernacularName && taxon.scientificName">
    &ndash;
  </ng-container>
  <ng-container [ngTemplateOutlet]="showScientificNameFirst ? vernacularName : scientificName"></ng-container>
  <ng-container *ngIf="addLink && (taxon.id || taxon.qname || taxonID)">
    <a [routerLink]="['/taxon/' + ((taxon.id || taxon.qname || taxonID) | toQName)] | localize" target="_blank" [tooltip]="'showSpeciesCard' | translate" placement="right" tabindex="-1">
      <i class="glyphicon glyphicon-tag"></i>
    </a>
  </ng-container>
  <ng-container *ngIf="warningOnMissingTaxonID && !(taxon.id || taxonID)">
      <span class="glyphicon glyphicon-warning-sign"></span>
  </ng-container>
</span>

<ng-template #scientificName>
    <span [class.cursive]="taxon.cursiveName">
    {{ taxon.scientificName }}
  </span>
</ng-template>
<ng-template #vernacularName>
  {{ taxon.vernacularName | multiLang }}
</ng-template>
