<div class="container lu-text-content">
  <h1 class="mt-6">
    {{ 'theme.title' | translate }}
  </h1>
  <p>
    {{ 'theme.intro' | translate }}
  </p>

  <h4><span class="glyphicon glyphicon-cloud-download"></span> Tiedon kopioiminen Lajitietokeskuksesta</h4>
  <div class="d-flex">
    <div [routerLink]="['/about/1068'] | localize" tabindex="-1" class="navbox">
      <h5>Tiedon vienti Exceliin</h5>
      <p>Tämän ohjeen avulla voit tuoda TSV-tiedostot Exceliin. Erityisesti tässä neuvotaan, kuinka erikoismerkit, kuten Ä, ф ja ♀, saadaan näkymään Excelissä oikein ja kuinka estää Exceliä muuttamasta lukuja päivämääriksi.</p>
    </div>
    <div [routerLink]="['/about/3478'] | localize" tabindex="-1" class="navbox">
      <h5>Tiedon vienti ArcGiSiin</h5>
      <p>Tämän ohjeen  avulla voit viedä havaintotiedot  ArcGIS Pro -paikkatietojärjestelmään.</p>
    </div>
  </div>

  <h4><span class="glyphicon glyphicon-cloud-upload"></span> Tiedon jakaminen Lajitietokeskukseen</h4>
  <div class="d-flex">
    <div [routerLink]="['/about/1289'] | localize" tabindex="-1" class="navbox">
      <h5>Aineistojen liitäminen</h5>
      <p>Tällä ohjesivulla kuvataan vaihtoehtoja kuinka oma aineistosi voidaan liittää Suomen Lajitietokeskukseen.</p>
    </div>
    <div [routerLink]="['/about/3977'] | localize" tabindex="-1" class="navbox">
      <h5>Primääri-vs. Sekundääritieto</h5>
      <p>Tällä ohjesivulla kuvataan primääri-ja sekundääritieto eroja ja sitä kuinka niitä käsitellään Lajitietokeskuksessa.</p>
    </div>
    <div [routerLink]="['/about/1068'] | localize" tabindex="-1" class="navbox">
      <h5>Aineistojen tuontipalvelu</h5>
      <p>Tällä sivulla voit viedä organisaatiosi (esim. kunnan, tutkimusryhmän tm.) havaintotietoaineistoja ja niiden päivityksiäLajitietokeskuksen Laji.fi portaaliin. TULOSSA PIAN!</p>
    </div>
  </div>

  <h4><span class="glyphicon glyphicon-leaf"></span> Seurantatutkimukset</h4>
  <p>Voit osallistua viranomaisille suunnattuihin seurantoihin, joita ylläpidetään Lajitietokeskuksen Vihko-palvelussa.</p>
  <div class="d-flex flex-wrap">
    <a href="https://laji.fi/vesilintulaskenta" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5>Vesilintulaskenta</h5>
      <p>Sisävesien ja merenlahtien pesiviä vesilintuja lasketaan vakioiduin menetelmin Luonnonvarakeskuksen ja Luonnontieteellisen keskusmuseon koordinoimana.</p>
    </a>
    <a href="https://laji.fi/vieraslajit" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5>Vieraslajit</h5>
      <p>Palvelu vieraslajien torjuntaan.</p>
    </a>
    <a href="https://laji.fi/lolife" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5>Liito-oravien seuranta</h5>
      <p>Tämän seurantalomakepalvelun avulla voit perustaa liito-oravahavainnoille seurantapaikan, lisätä siihen tarpeellisia aluerajauksia, liittää alueelle havaintoja liito-oravasta, pesistä, jäljistä ja papanoista.</p>
    </a>
  </div>

  <h4><span class="glyphicon glyphicon-list"></span> {{ 'theme.names.title' | translate }}</h4>
  <div class="d-flex">
    <a href="https://laji.fi/lajiluettelo" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5>{{ 'navigation.checklist' | translate }}</h5>
      <p>{{ 'theme.checklist.intro' | translate }}</p>
    </a>
  </div>

  <div class="my-8"></div>
</div>
