<div class="container">
  <h1>
    {{ 'theme.title' | translate }}
  </h1>
  <p>
    {{ 'theme.intro' | translate }}
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Tiedon kopioiminen Lajitietokeskuksesta</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>
              <a [routerLink]="['/about/1068'] | localize">
                Tiedon vienti Exceliin
              </a>
            </th>
            <td>
              Tämän ohjeen avulla voit tuoda TSV-tiedostot Exceliin. Erityisesti tässä neuvotaan, kuinka erikoismerkit, kuten Ä, ф ja ♀, saadaan näkymään Excelissä oikein ja kuinka estää Exceliä muuttamasta lukuja päivämääriksi.
            </td>
          </tr>
          <tr>
            <th>
              <a [routerLink]="['/about/3478'] | localize">
                Tiedon vienti ArcGiSiin
              </a>
            </th>
            <td>
              Tämän ohjeen  avulla voit viedä havaintotiedot  ArcGIS Pro -paikkatietojärjestelmään.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Tiedon jakaminen Lajitietokeskukseen</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>
            <a [routerLink]="['/about/1289'] | localize">
              Aineistojen liitäminen
            </a>
          </th>
          <td>
            Tällä ohjesivulla  kuvataan vaihtoehtoja  kuinka oma aineistosi voidaan  liittää Suomen  Lajitietokeskukseen.
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/about/3977'] | localize">
              Primääri-vs. Sekundääritieto
            </a>
          </th>
          <td>
            Tällä ohjesivulla kuvataan primääri-ja sekundääritieto eroja ja sitä kuinka niitä käsitellään Lajitietokeskuksessa.
          </td>
        </tr>
        <tr>
          <th>
            <a href="https://laji.fi/theme/datasets" rel="noopener nofollow" target="_blank">
              Aineistojen tuontipalvelu
            </a>
          </th>
          <td>
            Tällä sivulla voit viedä organisaatiosi (esim. kunnan, tutkimusryhmän tm.) havaintotietoaineistoja ja niiden päivityksiäLajitietokeskuksen Laji.fi portaaliin. TULOSSA PIAN!
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Seurantatutkimukset: Voit osallistua viranomaisille suunnattuihin seurantoihin, joita ylläpidetään Lajitietokeskuksen Vihko-palvelussa.</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>
            <a href="https://laji.fi/vesilintulaskenta" rel="noopener nofollow" target="_blank">
              Vesilintulaskenta
            </a>
          </th>
          <td>
            Sisävesien ja merenlahtien pesiviä vesilintuja lasketaan vakioiduin menetelmin Luonnonvarakeskuksen ja Luonnontieteellisen keskusmuseon koordinoimana.
          </td>
        </tr>
        <tr>
          <th>
            <a href="https://laji.fi/vieraslajit" rel="noopener nofollow" target="_blank">
              Vieraslajit
            </a>
          </th>
          <td>
            Palvelu vieraslajien torjuntaan.
          </td>
        </tr>
        <tr>
          <th>
            <a href="https://laji.fi/lolife" rel="noopener nofollow" target="_blank">
              Liito-oravien seuranta
            </a>
          </th>
          <td>
            Tämän seurantalomakepalvelun avulla voit perustaa liito-oravahavainnoille seurantapaikan, lisätä siihen tarpeellisia aluerajauksia, liittää alueelle havaintoja liito-oravasta, pesistä, jäljistä ja papanoista.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>{{ 'theme.names.title' | translate }}</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>
            <a href="https://laji.fi/lajiluettelo" rel="noopener nofollow" target="_blank">
              {{ 'navigation.checklist' | translate }}
            </a>
          </th>
          <td>
            {{ 'theme.checklist.intro' | translate }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


