<div class="container lu-text-content">
  <h1 class="mt-6">
    {{ 'theme.title' | translate }}
  </h1>
  <p>
    {{ 'theme.intro' | translate }}
  </p>

  <h4><span class="glyphicon glyphicon-cloud-download"></span> {{ "theme.export" | translate }}</h4>
  <div class="d-flex">
    <div [routerLink]="['/about/1068'] | localize" tabindex="-1" class="navbox">
      <h5 translate>theme.excel</h5>
      <p translate>theme.excel.desc</p>
    </div>
    <div [routerLink]="['/about/3478'] | localize" tabindex="-1" class="navbox">
      <h5 translate>theme.arcgis</h5>
      <p translate>theme.arcgis.desc</p>
    </div>
  </div>

  <h4><span class="glyphicon glyphicon-cloud-upload"></span> {{ "theme.import" | translate }}</h4>
  <div class="d-flex">
    <div [routerLink]="['/about/1289'] | localize" tabindex="-1" class="navbox">
      <h5 translate>theme.import.1</h5>
      <p translate>theme.import.1.desc</p>
    </div>
    <div [routerLink]="['/about/3977'] | localize" tabindex="-1" class="navbox">
      <h5 translate>theme.import.2</h5>
      <p translate>theme.import.2.desc</p>
    </div>
    <a href="https://laji.fi/theme/datasets" tabindex="-1" class="navbox" target="_blank">
      <h5 translate>theme.import.3</h5>
      <p translate>theme.import.3.desc</p>
    </a>
  </div>

  <h4><span class="glyphicon glyphicon-leaf"></span> {{ "theme.monitoring" | translate }}</h4>
  <p translate>theme.monitoring.desc</p>
  <div class="d-flex flex-wrap">
    <a href="https://laji.fi/vesilintulaskenta" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5 translate>theme.wbc</h5>
      <p translate>theme.wbc.desc</p>
    </a>
    <a href="https://laji.fi/vieraslajit" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5 translate>theme.invasive</h5>
      <p translate>theme.invasive.desc</p>
    </a>
    <a href="https://laji.fi/lolife" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5 translate>theme.lolife</h5>
      <p translate>theme.lolife.desc</p>
    </a>
  </div>

  <h4><span class="glyphicon glyphicon-list"></span> {{ 'theme.names.title' | translate }}</h4>
  <div class="d-flex">
    <a href="https://laji.fi/lajiluettelo" rel="noopener nofollow" target="_blank" tabindex="-1" class="navbox">
      <h5>{{ 'navigation.checklist' | translate }}</h5>
      <p>{{ 'theme.checklist.intro' | translate }}</p>
    </a>
  </div>

  <div class="my-8"></div>
</div>
