<div class="map-wrap" *ngIf="hasQuery">
  <laji-observation-map
          [settingsKey]="''"
          [color]="color"
          [showControls]="showControls"
          [initWithWorldMap]="true"
          [draw]="false"
          [query]="query"></laji-observation-map>
</div>
<div class="map-wrap" *ngIf="!hasQuery">
  <div class="info">
    <a [routerLink]="instructions[translate.currentLang] | localize" [tooltip]="'haseka.instructions' | translate" placement="left">
      <i class="glyphicon glyphicon-info-sign"></i>
    </a>
  </div>

  <laji-map
    [options]="mapOptions"
    [settingsKey]="''"
    [data]="drawData"
    [lang]="translate.currentLang"
    (onCreate)="onCreate($event)"></laji-map>
</div>
