<div class="map-wrap" *ngIf="hasQuery">
  <laji-observation-map
          [color]="color"
          [showControls]="showControls"
          [initWithWorldMap]="true"
          [draw]="false"
          [query]="query"></laji-observation-map>
</div>
<div class="map-wrap" *ngIf="!hasQuery">
  <laji-map
          [draw]="draw"
          [drawData]="drawData"
          [controlSettings]="{
           drawCopy: true,
           drawClear: true,
           coordinates: true
          }"
          [lang]="translate.currentLang"
          [initWithWorldMap]="true"
          [zoom]="3"
          (onCreate)="onCreate($event)"
          [center]="[64.209802, 24.912872]"></laji-map>
</div>