:host >>> .noUi-connect {
  background: #337ab7;
}

.year-select {
  margin-top: 1rem;
  margin-bottom: 20px;
}

.slider {
  padding: 0 16px 90px 11px;
  font-size: 12px;
}

@media only screen and (min-width : 768px) {
  .year-select-cont {
    padding-right: 5px;
  }
  .slider-cont {
    padding-left: 5px;
  }
}

/*:host >>> .noUi-horizontal {
  height: 18px;
}

:host >>> .noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px
}

:host >>> .noUi-horizontal.noUi-extended {
  padding: 0 15px;
}

:host >>> .noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}*/
