<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 year-select-cont" *ngIf="selectList.length > 0">
    <select [ngModel]="selectValue" (ngModelChange)="yearSelectChange($event)" class="form-control year-select">
      <option value="latest">{{'haseka.submissions.latest' | translate}}</option>
      <option *ngFor="let y of selectList" [value]="y.year">
        {{y.year}} ({{y.count}} <ng-container *ngIf="y.count === 1">{{pcString}}</ng-container><ng-container *ngIf="y.count > 1">{{pcsString}}</ng-container>)
      </option>
    </select>
  </div>
  <div class="col-xs-12"
       [ngClass]="{'col-sm-8 col-md-8 col-lg-9 slider-cont': selectList.length > 0}"
       *ngIf="selectValue === 'latest' && sliderRange && sliderConfig">
    <nouislider #sliderRef
                [config]="sliderConfig"
                [ngModel]="sliderRange"
                (change)="sliderRangeChange($event)"
                [ngStyle]="{'width': '100%', 'max-width': maxSliderWidth}"
                class="slider">
    </nouislider>
  </div>
</div>

