<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        @for (field of fields; track field) {
          <th>{{ field.label | translate }}</th>
        }
      </tr>
      @for (taxon of species; track trackBySpeciesId($index, taxon)) {
        <tr>
          @for (field of fields; track field) {
            @switch (field.key) {
              @case ('species') {
                <th>
                  @if (showTaxonLink) {
                    <a [routerLink]="[taxon.id]" [queryParams]="taxonLinkQueryParams">
                      <ng-container *ngTemplateOutlet="species"></ng-container>
                    </a>
                  } @else {
                    @if (taxon.scientificName) {
                      <span [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}<br></span>
                    }
                    {{ taxon.vernacularName }}
                  }
                  <ng-template #species>
                    @if (taxon.scientificName) {
                      <span [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}<br></span>
                    }
                    {{ taxon.vernacularName }}
                  </ng-template>
                </th>
              }
              @case ('scientificName') {
                <th>
                  @if (showTaxonLink) {
                    <a [routerLink]="[taxon.id]" [queryParams]="taxonLinkQueryParams">
                      <ng-container *ngTemplateOutlet="scientificName"></ng-container>
                    </a>
                  } @else {
                    @if (taxon.scientificName) {
                      <span [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}</span>
                    }
                  }
                  <ng-template #scientificName>
                    @if (taxon.scientificName) {
                      <span [class.cursive]="taxon.cursiveName">{{ taxon.scientificName }}</span>
                    }
                  </ng-template>
                </th>
              }
              @case ('vernacularName') {
                <th>
                  @if (showTaxonLink) {
                    <a [routerLink]="[taxon.id]" [queryParams]="taxonLinkQueryParams">
                      <ng-container *ngTemplateOutlet="vernacularName"></ng-container>
                    </a>
                  } @else {
                    {{ taxon.vernacularName }}
                  }
                  <ng-template #vernacularName>
                    {{ taxon.vernacularName }}
                  </ng-template>
                </th>
              }
              @case ('id') {
                <th>
                  @if (showTaxonLink) {
                    <a [routerLink]="[taxon.id]" [queryParams]="taxonLinkQueryParams">
                      <ng-container *ngTemplateOutlet="id"></ng-container>
                    </a>
                  } @else {
                    {{ taxon.id }}
                  }
                  <ng-template #id>
                    {{ taxon.id }}
                  </ng-template>
                </th>
              }
              @case ('redListGroup') {
                <td>
                  @if (taxon.redListEvaluationGroups) {
                    {{ taxon.redListEvaluationGroups[taxon.redListEvaluationGroups.length - 1] | label }}
                  }
                </td>
              }
              @case ('status') {
                <td>
                  {{ taxon.latestRedListEvaluation?.redListStatus | label | iucnStatus:true }}<laji-status-mark [evaluation]="taxon.latestRedListEvaluation!"></laji-status-mark>
                </td>
              }
              @case ('habitat') {
                <td class="habitat">
                  @if (taxon.latestRedListEvaluation) {
                    <laji-habitat [habitat]="taxon.latestRedListEvaluation.primaryHabitat!"></laji-habitat>
                    <laji-habitat [habitat]="taxon.latestRedListEvaluation.secondaryHabitats!"></laji-habitat>
                  }
                </td>
              }
              @case ('reasons') {
                <td>
                  <span [innerHTML]="taxon.latestRedListEvaluation?.endangermentReasons | label | values:'<br>'"></span>
                </td>
              }
              @case ('threats') {
                <td>
                  <span [innerHTML]="taxon.latestRedListEvaluation?.threats | label | values:'<br>'"></span>
                </td>
              }
              @case ('reasonForStatusChange') {
                <td>
                  <span [innerHTML]="taxon.latestRedListEvaluation?.reasonForStatusChange | label | values:'<br>'"></span>
                </td>
              }
              @case ('criteriaForStatus') {
                <td>
                  <span [innerHTML]="taxon.latestRedListEvaluation?.criteriaForStatus | label | values:'<br>'"></span>
                </td>
              }
              @case ('2015') {
                <td>
                  @if (taxon.redListStatusesInFinland) {
                    @for (status of taxon.redListStatusesInFinland; track status) {
                      @if (status.year === 2015) {
                        {{ status.status | label | iucnStatus:true }}
                      }
                    }
                  }
                </td>
              }
              @case ('2010') {
                <td>
                  @if (taxon.redListStatusesInFinland) {
                    @for (status of taxon.redListStatusesInFinland; track status) {
                      @if (status.year === 2010) {
                        {{ status.status | label | iucnStatus:true }}
                      }
                    }
                  }
                </td>
              }
              @case (field.key.startsWith('ML.') ? field.key : !field.key) {
                <td>
                  @if (taxon?.latestRedListEvaluation?.threatenedAtArea?.includes(field.key)) {
                    RT
                  }
                </td>
              }
              @case (field.key.startsWith('occurrence_') ? field.key : !field.key) {
                <td>
                  @if (taxon.latestRedListEvaluation?.occurrences) {
                    @for (occurrence of taxon.latestRedListEvaluation!.occurrences; track occurrence) {
                      @if (occurrence.area === field.key.split('_')[1]) {
                        {{ occurrence.status | label }}
                      }
                    }
                  }
                </td>
              }
              @default {
                <td>
                  No column found for "{{ field.key }}"
                </td>
              }
            }
          }
        </tr>
      }
    </tbody>
  </table>
</div>
