<div class="container" *ngIf="taxon">
  <h1>{{taxon.scientificName}}
    <small *ngIf="taxon.vernacularName">{{taxon.vernacularName}}</small>
  </h1>
  <laji-parents [includeCurrent]="false" [current]="taxon"></laji-parents>
  <div class="row">
    <div class="col-sm-6" *ngIf="taxonDescription">
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" *ngFor="let group of taxonDescription.groups; let i = index" [title]="group.title" [open]="activePanel == i"
          [index]="i" (activate)="setActive($event)" laji-panel>
          <div *ngFor="let variable of group.variables">
            <h4>{{ variable.title }}</h4>
            <span [innerHTML]="variable.content"></span>
          </div>
        </div>
      </div>
    </div>
    <div [class.col-sm-6]="taxonDescription">
      <div [class.col-sm-3]="!taxonDescription">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">{{ 'taxonomy.images' | translate }}</h4>
          </div>
          <div class="panel-body">
            <laji-image-gallery [(activeImage)]="activeImage" [images]="taxonImages"></laji-image-gallery>
          </div>
        </div>
      </div>
      <div [class.col-sm-5]="!taxonDescription">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">{{ 'taxonomy.card' | translate }}</h4>
          </div>
          <div class="panel-body">
            <laji-taxon-info [taxon]="taxon"></laji-taxon-info>
          </div>
        </div>
      </div>
      <div [class.col-sm-4]="!taxonDescription">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">{{ 'taxonomy.map' | translate }}</h4>
          </div>
          <div class="panel-body">
            <laji-observation-map [color]="'#009900'" [query]="{taxonId: [taxon.id], counteryId: ['ML.206']}" [height]="300" [draw]="false">
            </laji-observation-map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <laji-children-list [parentId]="taxon.id"></laji-children-list>
    </div>
  </div>
</div>
