.more {
  position: absolute;
  /* margin: 0px; */
  /* top: 0px; */
  margin-top: 2px;
  /* word-break: break-word; */
  background: rgba(0,0,0,0.7);
  height: 50px;
  width: 50px;
  padding-left: 0px;
  padding-top: 2px;
  text-align: center;
}
.list-img {
  margin-top: 2px;
  cursor: pointer;
}
.float-left {
  float: left;
  margin-right:5px;
  color:#ffffff;
}
.float-left a:hover {
  color:red;
  cursor: pointer;
}

.ng-gallery {
  width: 100%;
  display: inline-block;
}

img.ng-thumb {
  object-fit: cover;
  width:80px;
  height:70px;
  float: left;
  display: block;
  cursor: pointer;
  margin: 2px 2px 0 0;
}

.ng-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /*opacity: 0.85;*/
  z-index: 9999;
}

.ng-gallery-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
}

.ng-gallery-content > a.close-popup {
  top: 20px;
  font-size: 25px;
}

.download-img {
  font-size: 20px;
  bottom: 25px;
}

.ng-gallery-content > a.close-popup, .download-img {
  float: right;
  right: 30px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  text-shadow: 0 1px 5px #000;
}

.ng-gallery-content > a.download-image {
  font-size: 42px;
  float: right;
  color: #fff;
  text-decoration: none;
  margin: 0 30px 0 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 63px;
}

.ng-gallery-content > a.nav-left, .ng-gallery-content > a.nav-right {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  outline: none;
  z-index: 10;
  text-shadow: 0 1px 5px #000;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.ng-gallery-content > a.nav-left {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.ng-gallery-content > a.nav-right {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.ng-gallery-content > img {
  height: auto;
  max-height: calc(100% - 150px);
  max-width: calc(100% - 100px);
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.ng-gallery-content > .effect {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.ng-gallery-content > span.info-text {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  width: 100%;
  padding: 40px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5px;
  text-shadow: 0 1px 5px #000;
}

.ng-gallery-content > span.info-text a {
  color: #fff;
}

.ng-gallery-content > .ng-thumbnails-wrapper {
  width: 400px;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails {
  width: 4000px;
  height: 70px;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img {
  width: auto;
  height: 70px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img:hover,
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img.active {
  transition: opacity 0.25s ease;
  opacity: 1;
}

/* Loading - from http://loading.io */
uiload {
  display: inline-block;
  position: relative;
}

uiload > div {
  position: relative;
}

.uil-ring-css {
  background: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
