.no-image {
  background-color: #e1e1e1;
  margin: 0 auto;
  width: 60%;
  min-width: 60%;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  color: #a1a1a1;
  font-size: 48px;
}
