.loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.observation-chart {
  z-index: 0;
}

.observation-chart-wrapper {
  position: relative;
}

.stat-info {
  position: absolute;
  z-index: 2;
  top: 114px;
  left: 303px;
}
