<div class="panel-heading" aria-expanded="true" role="tab">
  <h4 class="panel-title link" (click)="activateCurrent()">
    <a role="button">
      {{ title }}
    </a>
  </h4>
</div>
<div class="panel-collapse" [ngClass]="{closed: hideInside}"
     (@visibilityState.done)="animationDone($event)"
     (@visibilityState.start)="animationStart($event)"
     [@visibilityState]="open ? 'in' : 'out'"
     role="tabpanel" aria-labelledby="">
  <div class="panel-body">
    <ng-content></ng-content>
  </div>
</div>
