<div class="panel-heading" [ngClass]="{link: headerLink}" aria-expanded="true" role="tab" (click)="activateCurrent()">
  <strong class="panel-title">
    {{ title }}
  </strong>
</div>
<div class="panel-collapse" [ngClass]="{closed: hideInside}"
     (@visibilityState.done)="animationDone($event)"
     (@visibilityState.start)="animationStart($event)"
     [@visibilityState]="open ? 'in' : 'out'"
     role="tabpanel" aria-labelledby="">
  <div class="panel-body">
    <ng-content></ng-content>
  </div>
</div>
