<div class="header red">
  <div class="container">
    <div class="intro">
      <h1>{{'iucn.page.title' | translate}}</h1>
      <p [innerHTML]="'iucn.page.intro' | translate">
      </p>
    </div>
  </div>
</div>
<laji-simple-omni></laji-simple-omni>
<div class="container">
  <p style="margin-top: 15px;">
    {{'iucn.home.intro' | translate}}
    <a *ngIf="translate.currentLang === 'fi'" [routerLink]="({'fi': '/about/r-27'} | multiLang)">{{'iucn.home.evaluation' | translate}}</a>
  </p>
  <h2>
    {{'iucn.home.iucnCategories' | translate}}
  </h2>
  <div class="row">
    <div class="col-sm-12" style="margin-bottom: -15px;">
      <laji-iucn-class></laji-iucn-class>
    </div>
  </div>
  <h2>
    {{'iucn.home.results' | translate}}
  </h2>
  <div class="row">
    <div class="col-sm-12">
      <laji-iucn-result-pie
        [routerLink]="'/results' | localize"
        [year]="2019"
        [data]="iucnService.getYearsStats(2019) | async"></laji-iucn-result-pie>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" [innerHTML]="'iucn.home.resultsIntro' | translate"></div>
  </div>
  <a [routerLink]="'/results' | localize">{{'iucn.home.browseResults' | translate}}</a>
  <h2>
    {{'iucn.home.book.title' | translate}}
  </h2>
  <a [routerLink]="['/publications' | localize]">{{'iucn.home.book.browse' | translate}}</a>
</div>
