/*:host >>> #_laji-form_root_gatherings_units  legend {
  margin-left: 9px;
}
:host >>> #_laji-form_root_gatherings_units .btn-toolbar {
  display: none;
}
:host >>> .unit {
  margin: 0 0 0 5px;
  padding: 4px;
  background-color: #eeeeee;
  border-bottom: 1px solid #ffffff;
}

:host >>> .unit .form-group {
  margin: 0!important;
}

:host >>> .plainText {
  font-weight: bold;
  display: inline-block;
  margin-top: 4px;
  line-height: 15px;
}*/
