<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open}">
  <strong *ngIf="title !== undefined && title !== ''" class="lj-title link" (click)="toggle($event)">{{ title }}<laji-info *ngIf="info" [html]="info"></laji-info></strong>
  <div *ngIf="open">
    <laji-select-tree
      [includedOptions]="includedOptions"
      [excludedOptions]="excludedOptions"
      [optionsTree$]="collectionsTree$"
      [options$]="collections$"
      [modalButtonLabel]="modalButtonLabel"
      [modalTitle]="modalTitle"
      [browseTitle]="browseTitle"
      [selectedTitle]="selectedTitle"
      [okButtonLabel]="okButtonLabel"
      [clearButtonLabel]="clearButtonLabel"
      (selectedOptionsChange)="selectedOptionsChange($event)"
    >
    </laji-select-tree>
  </div>
</div>