<div class="lj-select" [ngClass]="{'lj-close': open, 'lj-open': !open}">
  <strong *ngIf="title !== undefined && title !== ''" class="lj-title link" (click)="toggle($event)">{{ title }}<laji-info *ngIf="info" [html]="info"></laji-info></strong>
  <div *ngIf="open">
    <lu-button role="secondary" (click)="openModal()">
      {{modalButtonLabel}}
    </lu-button>
    <ng-container *ngIf="selectedOptions?.length">
      <ng-container *ngIf="collections$ | async; let collections; else loading">
        <laji-selected-collections [selectedOptions]='collections' (selectedOptionsChange)='deselect($event)'></laji-selected-collections>
      </ng-container>
      <ng-template #loading>
        <laji-spinner></laji-spinner>
      </ng-template>
    </ng-container>
  </div>
</div>