@import 'vars';

.legend {
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  top: 30px;
  right: 7px;
  z-index: 400;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.dropdown-toggle {
  padding: 0;
  color: $primary-6;
}

.dropdown-menu a {
  cursor: pointer;
}

ul {
  padding: 0;
}

.legend-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: $neutral-1;
  align-self: center;
  border: 1px solid $neutral-6;
}

.hide-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: $sp-3;
  margin-bottom: 4px;
  color: $danger-5;
  font-size: $fs-3;
  &.glyphicon-remove-sign{
    color: $danger-5;
  }
  &.glyphicon-plus-sign{
    color: $neutral-6;
  }
}

@media print {
  .legend {
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) !important;
  }
}
