@if (visualization) {
  <div class="legend">
    <div class="d-flex justify-between">
      <!-- position: relative anchors the dropdown menu (which is absolutely positioned) to this element -->
      @if (getModes().length > 1) {
        <div style="position: relative">
          <button id="dropdownToggle" class="btn btn-link dropdown-toggle" luDropdownToggle
            aria-controls="dropdownMenu">{{ visualization[mode].label | translate}}&nbsp;<span class="caret"></span></button>
            <ul id="dropdownMenu" luDropdownMenu class="dropdown-menu dropdown-menu-right no-print"
              aria-labelledby="dropdownToggle">
              @for (l of getModes(); track l) {
                <li><a (click)="switchMode(l)">{{ visualization[l].label | translate}}</a></li>
              }
            </ul>
          </div>
        } @else {
          <div>{{ visualization[mode].label | translate}} </div>
        }
        <button [class]="hidden ? 'hide-btn glyphicon glyphicon-plus-sign' : 'hide-btn glyphicon glyphicon-remove-sign'" (click)="hidden = !hidden"></button>
      </div>
      <div [ngStyle]="{ 'display': hidden ? 'none' : 'block' }">
        <ul class="mt-3">
          @for (cat of visualization[mode].categories; track cat) {
            <li class="d-flex">
              <div class="legend-circle mr-2" [ngStyle]="{'background-color': cat.color}"></div>
              <div class="legend-label">{{ cat.label! | translate }}</div>
            </li>
          }
        </ul>
        <ng-content></ng-content>
      </div>
    </div>
  }
