@import 'vars';

:host {
  width: 100%;
}

lu-sidebar-link .badge {
  margin: 0 5px 0 0;
  background-color: #2e921c;
}

@media only screen and (min-width : 768px) {
  main {
    padding: 20px 40px;
  }
}
