<div class="form-group">
  <div class="col-sm-6">
    <h4>{{ 'observation.filterBy.recordBasis' | translate }}</h4>
    <laji-observation-table
      [visible]="visible"
      (rowSelect)="onRecordBasis($event)"
      [showHeader]="false"
      [showFooter]="false"
      [virtualScrolling]="false"
      [pageSize]="100"
      [query]="query"
      [showSettingsMenu]="false"
      [isAggregate]="true"
      [selected]="['unit.superRecordBasis']"
    ></laji-observation-table>
  </div>
  <div class="col-sm-6">
    <h4>{{ 'observation.filterBy.image' | translate }}</h4>
    <laji-observation-table
      [visible]="visible"
      (rowSelect)="onMediaSelect($event)"
      [showHeader]="false"
      [showFooter]="false"
      [virtualScrolling]="false"
      [pageSize]="100"
      [query]="query"
      [showSettingsMenu]="false"
      [isAggregate]="true"
      [selected]="['unit.media.mediaType']"
    ></laji-observation-table>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <h4>{{ 'observation.filterBy.collectionId' | translate }}</h4>
    <laji-observation-table
      [visible]="visible"
      (rowSelect)="onCollectionSelect($event)"
      [height]="'350px'"
      [pageSize]="100"
      [query]="query"
      [showSettingsMenu]="false"
      [showHeader]="false"
      [isAggregate]="true"
      [selected]="['document.collectionId']"
    ></laji-observation-table>
  </div>
</div>
