<ng-container *ngIf="defaultAvailableFields.length > 0">
  <ll-label-designer
    [translations]="translations"
    defaultDomain="http://tun.fi/"
    [showIntro]="false"
    [(pdfLoading)]="downloading"
    [data]="data"
    [allowLabelItemRepeat]="true"
    [viewSettings]="viewSettings"
    (viewSettingsChange)="viewSettings = $event"
    [defaultSetup]="defaultSetup"
    [setup]="setup"
    [fileColumnMap]="fileColumnMap"
    (fileColumnMapChange)="fileColumnMap = $event"
    [availableFields]="availableFields!"
    (availableFieldsChange)="changeAvailableFields($event)"
    [defaultAvailableFields]="defaultAvailableFields"
    (setupChange)="setupChange($event)"
    (html)="htmlToPdf($event)"
  ></ll-label-designer>
</ng-container>
