<ng-template #validationAlert let-name>
  @if (name.invalid) {
    <div class="alert alert-danger">
      @if (name.hasError('required')) {
        {{ 'forms.validation.required' | translate }}
      }
      @if (name.hasError('min')) {
        {{ 'forms.validation.min' | translate: { value: name.getError('min').min } }}
      }
      @if (name.hasError('max')) {
        {{ 'forms.validation.max' | translate: { value: name.getError('max').max } }}
      }
    </div>
  }
</ng-template>
<form [formGroup]="spectrogramConfigForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'audioViewer.spectrogramSettings' | translate }}</h2>
  <div class="row">
    <div class="col-sm-6">
      <label for="minFreq">Min frequency</label>
      <div class="input-group">
        <input class="form-control" id="minFreq" type="number" [min]="minFrequencyLimit / 1000" [max]="maxFrequencyLimit / 1000" formControlName="minFrequency" required>
        <span class="input-group-addon">kHz</span>
      </div>
      @if (spectrogramConfigForm.get('minFrequency'); as minFrequency) {
        <ng-container *ngTemplateOutlet="validationAlert; context: {$implicit: minFrequency}"></ng-container>
      }
      <label for="maxFreq">Max frequency</label>
      <div class="input-group">
        <input class="form-control" id="maxFreq" type="number" [min]="minFrequencyLimit / 1000" [max]="maxFrequencyLimit / 1000" formControlName="maxFrequency" required>
        <span class="input-group-addon">kHz</span>
      </div>
      @if (spectrogramConfigForm.get('maxFrequency'); as maxFrequency) {
        <ng-container *ngTemplateOutlet="validationAlert; context: {$implicit: maxFrequency}"></ng-container>
      }
      @if (!spectrogramConfigForm.get('maxFrequency')?.invalid && spectrogramConfigForm.hasError('maxFrequencyGreaterThanMinFrequency')) {
        <div class="alert alert-danger">
          {{ 'audioViewer.maxFrequencyGreaterThanMinFrequency' | translate }}
        </div>
      }
      <label for="noiseReduction">Noise reduction</label>
      <input class="form-control" id="noiseReduction" type="number" min="0" formControlName="noiseReduction" required>
      @if (spectrogramConfigForm.get('noiseReduction'); as noiseReduction) {
        <ng-container *ngTemplateOutlet="validationAlert; context: {$implicit: noiseReduction}"></ng-container>
      }
    </div>
  </div>
  <div class="mt-5">
    <button type="button" class="btn btn-default mr-3" (click)="reset()">{{ 'audioViewer.reset' | translate }}</button>
    <button type="submit" class="btn btn-primary">Ok</button>
  </div>
</form>
