.naks {
  height: 120px;
  padding: 12px 8px;
  margin-bottom: 12px;
}

.poks {
  text-align: center;
}

.niks {
  padding: 0;
  margin-bottom: 10px;
}

.small-padding {
  padding-right: 5px;
  padding-left: 5px;
}

.group-image {
  max-width: 40px;
  max-height: 40px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-eq-height > [class^='col-'] {
  display: flex;
  flex-direction: column;
}

.row-eq-height .panel, .row-eq-height .panel-heading {
  height: 100%;
}

.row-eq-height h3 {
  min-height: 100%;
}
