<div class="d-flex flex-wrap">
  <!--div *ngIf="showAll" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a (click)="informalGroupSelect.emit('')" class="niks thumbnail panel panel-default link">
      <div class="panel-heading">
        <div style="background-image: url('/static/images/icons/species.svg');" class="informal-group-image">
          <h3 style="height: 50px;" class="panel-title caption">{{ 'species.form.all' | translate }}</h3>
        </div>
      </div>
    </a>
  </div-->
  <a *ngFor="let group of tree.results" (click)="informalGroupSelect.emit(group.id)" class="group d-flex flex-nowrap items-center mr-3 mb-3">
    <img class="group-image" [src]="'static/images/informalGroups/' + group.id + '.svg'" alt="">
    <div class="group-name">{{ group.name }}</div>
  </a>
</div>
