<div *ngIf="visible" id="container">
  <lu-tabs [selectedIndex]="activeIndex" (select)="setActive($event)">
    <lu-tab [heading]="documentForm.namedPlaceOptions?.listLabel || 'np.list' | translate">
      <ng-container *ngIf="loadedTabs.isLoaded('list')">
        <div id="list-container">
          <laji-np-list [height]="height"
                        [namedPlaces]="_namedPlaces"
                        [documentForm]="documentForm"
                        [activeNP]="_activeNP"
                        (activePlaceChange)="onActivePlaceChange($event)"
          ></laji-np-list>
        </div>
      </ng-container>
    </lu-tab>
    <lu-tab [heading]="'np.map' | translate">
      <ng-container *ngIf="loadedTabs.isLoaded('map')">
        <laji-np-map [namedPlaces]="_namedPlaces"
                    [height]="height"
                    [activeNP]="_activeNP"
                    [userID]="userID"
                    [visible]="activeIndex === 1 && visible"
                    [reservable]="documentForm.features.indexOf(FEATURE_RESERVE) !== -1"
                    [placeForm]="placeForm"
                    [documentForm]="documentForm"
                    (activePlaceChange)="onActivePlaceChange($event)"></laji-np-map>
      </ng-container>
    </lu-tab>
  </lu-tabs>


  <lu-button *ngIf="allowCreate"
          (click)="createButtonClick.emit()">{{ documentForm.namedPlaceOptions?.createNewLabels?.button || 'np.createNew' | translate }}</lu-button>
</div>
