<div *ngIf="visible" id="container">
  <div id="navbar">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" [ngClass]="{active: active === 'list'}">
        <a (click)="setActive('list')">{{ formData.namedPlaceOptions?.listLabel || 'np.list' | translate }}</a>
      </li>
      <li role="presentation" [ngClass]="{active: active === 'map'}" *ngIf="showMap()">
        <a (click)="setActive('map')">{{ 'np.map' | translate }}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="active === 'list'" id="list-container">
    <laji-np-list [height]="height"
                  [namedPlaces]="_namedPlaces"
                  [formData]="formData"
                  [activeNP]="_activeNP"
                  (activePlaceChange)="setActiveNP($event)"
                  [preselectedNPIndex]="preselectedNPIndex"
                  ></laji-np-list>
  </div>

  <div [ngClass]="{hidden: active !== 'map'}" *ngIf="mapIsActivated">
    <laji-np-map [namedPlaces]="_namedPlaces"
                 [height]="height"
                 [activeNP]="_activeNP"
                 [userID]="userID"
                 [visible]="active === 'map' && visible"
                 [reservable]="formData.features.indexOf(FEATURE_RESERVE) !== -1"
                 [npFormData]="npFormData"
                 [formData]="formData"
                 (activePlaceChange)="setActiveNP($event)"></laji-np-map>
  </div>

  <button *ngIf="allowCreate"
          class="btn btn-md btn-default"
          id="create-new-button"
          (click)="createButtonClick.emit()">{{ formData.namedPlaceOptions?.createNewLabels?.button || 'np.createNew' | translate }}</button>
</div>
