<div *ngIf="visible" id="container">
  <div id="navbar">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" [ngClass]="{active: active === 'list'}">
        <a (click)="setActive('list')">{{'np.list' | translate}}</a>
      </li>
      <li role="presentation" [ngClass]="{active: active === 'map'}" *ngIf="showMap()">
        <a (click)="setActive('map')">{{'np.map' | translate}}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="active === 'list'" id="list-container">
    <laji-np-list [height]="height" [namedPlaces]="namedPlaces" [formData]="formData" [activeNP]="activeNP" (onActivePlaceChange)="setActiveNP($event)"></laji-np-list>
  </div>

  <div [ngClass]="{hidden: active !== 'map'}" *ngIf="mapIsActivated">
    <laji-np-map [namedPlaces]="namedPlaces"
                 [height]="height"
                 [activeNP]="activeNP"
                 [visible]="active === 'map' && visible"
                 (onActivePlaceChange)="setActiveNP($event)"></laji-np-map>
  </div>

  <button *ngIf="allowCreate"
          class="btn btn-md btn-default"
          id="create-new-button"
          (click)="createButtonClick()">{{'np.createNew' | translate}}</button>
</div>
