<table class="table taxon-table table-condensed" *ngIf="_taxon">
  <tbody>
  <tr *ngIf="availableLangs.vernacularName.length > 0">
    <th>{{ 'taxonomy.vernacular.name' | translate }}</th>
    <td>
      <ul>
        <li *ngFor="let lang of availableLangs.vernacularName">
          {{ _taxon.vernacularName | multiLang: false:lang }} ({{ lang }})
        </li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="availableLangs.alternativeVernacularName.length > 0">
    <th>{{ 'taxonomy.alternative.vernacular.name' | translate }}</th>
    <td>
      <ul>
        <li *ngFor="let lang of availableLangs.alternativeVernacularName">
          {{ _taxon.alternativeVernacularName | multiLang: false:lang | values }} ({{ lang }})
        </li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="availableLangs.obsoleteVernacularName.length > 0">
    <th>{{ 'taxonomy.obsolete.vernacular.name' | translate }}</th>
    <td>
      <ul>
        <li *ngFor="let lang of availableLangs.obsoleteVernacularName">
          {{ _taxon.obsoleteVernacularName | multiLang: false:lang | values }} ({{ lang }})
        </li>
      </ul>
    </td>
  </tr>
  <tr *ngIf="availableLangs.tradeName.length > 0">
    <th>{{ 'taxonomy.trade.name' | translate }}</th>
    <td>
      <ul>
        <li *ngFor="let lang of availableLangs.tradeName">
          {{ _taxon.tradeName | multiLang: false:lang | values }} ({{ lang }})
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
