@import 'vars';

.navbox {
  min-width: 250px;
  flex-basis: 30%;
  font-size: $fs-2;
  color: $neutral-8;
  margin-right: $sp-3;
  margin-bottom: $sp-3;
  max-width: 400px;
  background: linear-gradient(to bottom, $neutral-1, saturate($neutral-2, 20%));
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba($primary-6, 0.4);
  border: 1px solid rgba($neutral-1, 0);
  cursor: pointer;
  &:hover, &:focus {
    box-shadow: 0 4px 12px 0 rgba($primary-6, 0.3);
    border-color: $primary-3;
    transition: box-shadow .1s, border-color .1s;
    text-decoration: none;
  }
  h5 {
    font-size: $fs-3;
    color: $primary-6;
    margin-top: $sp-2;
    margin-bottom: $sp-2;
    padding-bottom: $sp-1;
  }
  p {
    margin-bottom: 0;
  }
}

h4 > span.glyphicon {
  font-size: $fs-3;
  color: $neutral-7;
}
