<div class="container-fluid">
  <h1>
    Teemasivut
  </h1>
  <p>
    Tähän sivustoon kootaan tietoa tärkeistä Lajitietokeskuksen toimintaan liittyvistä aiheista ja palveluista.
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Havainnot</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>
            <a [routerLink]="['/theme/quality'] | localize">
              {{ 'navigation.quality' | translate }}
            </a>
          </th>
          <td>
            Selaile havaintoihin lisättyjä kommentteja
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/theme/identify'] | localize">
              {{ 'navigation.identify' | translate }}
            </a>
          </th>
          <td>
            Auta tunnistamaan havaintoja! Selaa Lajitietokeskukseen tallennettuja kuvia havainnoista, joita ei ole kyetty tunnistamaan varmasti.
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Paikkatieto</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>
            <a [routerLink]="['/map'] | localize">
              {{ 'navigation.map' | translate }}
            </a>
          </th>
          <td>
            Palvelun avulla voit selvittää koordinaatteja eri koordinaattijärjestelmissä, laskea etäisyyksiä ja pinta-aloja ja tarkastella erilaisia karttatasoja (lasermaastokartta, metsäkasvillisuusvyöhykkeet yms.). Voit myös tallentaa piirtämäsi kuviot ja tuoda palveluun omia kuvioita erilaisissa tiedostomuodoissa.
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/ykj'] | localize">
              {{ 'navigation.ykj' | translate }}
            </a>
          </th>
          <td>
            Tutustu yhtenäiskoordinaatistoon (YKJ) ja sen käyttöön eliöseurannoissa.
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/emk'] | localize">
              {{ 'navigation.emk' | translate }}
            </a>
          </th>
          <td>
            Tutustu Suomen eliömaakuntiin.
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Seurantatutkimukset</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>
            <a [routerLink]="['/theme/nafi'] | localize">
              {{ 'nafi.stats.title' | translate }}
            </a>
          </th>
          <td>
            Valtakunnallinen päiväperhosseuranta (NAFI). Tarkastele tuloksia ja kirjaa havaintosi.
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/theme/talvilintulaskenta'] | localize">
              {{ 'wbc.title' | translate }}
            </a>
          </th>
          <td>
            Talvilintulaskennoissa selvitetään talvilinnuston levinneisyys ja runsaus eri elinympäristöissä eri osissa maatamme sekä linnuston muutokset talven aikana, talvesta toiseen ja pitkällä aikavälillä. Tutustu tuloksiin ja kirjaa laskentatulokset.
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/theme/linjalaskenta'] | localize">
              Maalintujen linjalaskenta
            </a>
          </th>
          <td>
            Maalintujen linjalaskennoilla voidaan nopeasti saada edustava kuva seudun pesimälinnustosta. Tutustu tuloksiin, varaa laskentareitti ja kirjaa laskentatulokset.
          </td>
        </tr>
        <tr>
          <th>
            <a [routerLink]="['/theme/herpetology'] | localize">
              {{ 'navigation.herpetology' | translate }}
            </a>
          </th>
          <td>
            Luonnontieteellinen keskusmuseo Luomus tutkii sammakkoeläinten ja matelijoiden levinneisyyttä ja siinä tapahtuneita muutoksia Suomessa keräämällä havaintoja koko maasta. Tutustu lajeihin ja tuloksiin. Voit myös osallistua kirjaamalla havaintosi.
          </td>
        </tr>
        <tr>
          <th>
            <a href="https://satelliitti.laji.fi" target="_blank" rel="noopener">
              {{ 'navigation.satelliitti' | translate }}
            </a>
            <i class="glyphicon glyphicon-new-window small"></i>
          </th>
          <td>
            Satelliittilähettimien ja muiden paikannuslaitteiden avulla saadaan selville yksityiskohtaista tietoa lintuyksilöiden muuttomatkoista, talvehtimisalueista, saalistusalueista ja  reviirien laajuuksista. Seuraa lintujen kulkua kartalla!
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Tutkimuspalvelut</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>
            <a [routerLink]="['/about/2272'] | localize">
              {{ 'navigation.research' | translate }}
            </a>
          </th>
          <td>
            Työkaluja ja esimerkkejä Lajitietokeskuksen datan tutkimuskäytöstä
          </td>
        </tr>

      </table>
    </div>
  </div>

</div>
