<h4>{{ 'annotation.currentOccurrenceInformation' | translate }}</h4>
<laji-issues [data]="gathering"></laji-issues>
<ng-container *ngFor="let unit of gathering?.units">
  <ng-container *ngIf="(unit.unitId === highlight) && (unit.taxonVerbatim || unit.reportedTaxonId)">
    <laji-row *ngIf="unit.taxonVerbatim; else reportedTaxonId" [title]="'viewer.taxonVerbatim' | translate" [value]="unit.taxonVerbatim">
      <span *ngIf="unit.reportedTaxonConfidence && unit.reportedTaxonConfidence === 'UNSURE'" class="taxonConfidence" [ngClass]="{'green-color': unit.reportedTaxonConfidence === 'SURE', 'red-color': unit.reportedTaxonConfidence !== 'SURE' }">{{ unit.reportedTaxonConfidence | label: 'warehouse' }}</span>
    </laji-row>
    <ng-template #reportedTaxonId>
      <laji-row [title]="'viewer.taxonVerbatim' | translate" [value]="unit.reportedTaxonId | toQName | label">
        <span *ngIf="unit.reportedTaxonConfidence && unit.reportedTaxonConfidence === 'UNSURE'" class="taxonConfidence" [ngClass]="{'green-color': unit.reportedTaxonConfidence === 'SURE', 'red-color': unit.reportedTaxonConfidence !== 'SURE' }">{{ unit.reportedTaxonConfidence | label: 'warehouse' }}</span>
      </laji-row>
    </ng-template>
    <laji-row *ngIf="unit.linkings && unit.linkings.originalTaxon" [title]="'annotation.title.taxon' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
      <laji-taxon-name [taxon]="unit.linkings.originalTaxon"></laji-taxon-name>
    </laji-row>
  </ng-container> 
  <!--<ng-container *ngIf="(unit.unitId === highlight)">
    <laji-row [title]="'observation.active.nativeOccurrenceWild' | translate" [value]="unit.wild ? (unit.wild === true ?('yes' | translate) : ('No' | translate)) : ('yes' | translate)"></laji-row>
  </ng-container>-->
  <ng-container *ngIf="unit.unitId === highlight && unit.wild === false">
    <laji-row [title]="'observation.active.nativeOccurrenceWild' | translate" [value]="'observation.active.nativeOccurrence.notWild' | translate "></laji-row>
  </ng-container>
</ng-container>
<laji-row [title]="'viewer.field.time' | translate" *ngIf="gathering.displayDateTime" [noTitleSpace]="false">
  {{ date | amDateFormat:'L' }} {{ time }}
</laji-row>
<laji-row *ngIf="gathering.team" [title]="'observation.form.observer' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
  <span>
   <ul class="separated-list">
     <li *ngFor="let user of gathering.team; let i=index">{{ user | toQName | label }}</li> 
    </ul>
  </span>
</laji-row>
<laji-row *ngIf="gathering.interpretations" [title]="'result.gathering.conversions.wgs84CenterPoint' | translate" [noTitleSpace]="false" ngPreserveWhitespaces>
  <ul class="separated-list">
    <li *ngIf="gathering.higherGeography" [tooltip]="'MY.higherGeography' | label" [isDisabled]="hideTooltips">
      {{ gathering.higherGeography }}</li>
    <li *ngIf="gathering.interpretations?.country" [tooltip]="'MY.country' | label" [isDisabled]="hideTooltips">
      {{ gathering.interpretations.country | toQName | area }}</li>
    <li *ngIf="!gathering.interpretations?.country && gathering.country" [tooltip]="'MY.country' | label" [isDisabled]="hideTooltips">
      {{ gathering.country }}</li>
    <li *ngIf="gathering.province" [tooltip]="'MY.province' | label" [isDisabled]="hideTooltips">
      {{ gathering.province }}</li>
    <li *ngIf="gathering.interpretations?.biogeographicalProvince" [tooltip]="'MY.biologicalProvince' | label" [isDisabled]="hideTooltips">{{ gathering.interpretations.biogeographicalProvince | toQName | area }}
      ({{ gathering.interpretations.biogeographicalProvince | toQName | area:'provinceCode' }})</li>
    <li [tooltip]="'MY.biologicalProvince' | label"
        [isDisabled]="hideTooltips"
        *ngIf="!gathering.interpretations?.biogeographicalProvince && gathering.biogeographicalProvince">
      {{ gathering.biogeographicalProvince }}</li>
    <li *ngIf="gathering.interpretations?.finnishMunicipalities; else municipality" [tooltip]="'MY.municipality' | label" [isDisabled]="hideTooltips">
      {{ gathering.interpretations.finnishMunicipalities | toQName | area | values }}</li>
    <ng-template #municipality>
      <li *ngIf="gathering.municipality" [tooltip]="'MY.municipality' | label" [isDisabled]="hideTooltips">
        {{ gathering.municipality }}</li>
    </ng-template>
    <li *ngIf="gathering.locality" [tooltip]="'MY.locality' | label" [isDisabled]="hideTooltips">
      {{ gathering.locality }}</li>
  </ul>
</laji-row>
<!--<laji-row [title]="'MY.coordinatesVerbatim' | label" [value]="gathering.coordinatesVerbatim" [noTitleSpace]="true"></laji-row>
<laji-row [title]="'MY.notes' | label" [value]="gathering.notes" [noTitleSpace]="true"></laji-row>
<laji-row [title]="'MY.taxonCensus' | label" *ngIf="gathering.taxonCensus" [noTitleSpace]="true">
  <ul class="separated-list">
    <li *ngFor="let census of gathering.taxonCensus" [tooltip]="census.type | toQName | label" [isDisabled]="hideTooltips">{{ census.taxonId | toQName | taxon }}</li>
  </ul>
</laji-row>-->
