
ul.taxonCensus li {
    display: block
}

h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
}

.taxonConfidence {
    display: block;
    font-size: 12px;
    position: relative;
    top: -4px;
    font-weight: bold;
    text-transform: lowercase;
}

.green {
    color: #559933;
}

.red {
    color: #993333;
}