@import 'projects/laji-ui/src/lib/vars';

:host {
  font-size: $fs-2;
  display: block;

  > div {
    display: inline-block;
    margin-right: 8px;
    vertical-align: bottom;
  
    bswitch {
      display: block;
    }
  }
}