<laji-simple-omni></laji-simple-omni>
<div class="container-fluid" *ngIf="queryParams">
  <div class="row">
    <div class="col-sm-8">
      <h1>Lajit ja tulokset</h1>
      <div class="year-select">
        <select laji-dropdown [options]="years$ | async" [value]="queryParams.year" (valueChange)="queryParamChange('year', $event)"></select>
      </div>
    </div>
  </div>

  <div style="margin-top: 15px;">
    <ul class="nav nav-tabs">
      <li *ngFor="let option of types" role="presentation" class="link" [ngClass]="{'active dark-bg': option.value === queryParams.type}">
        <a (click)="queryParamChange('type', option.value)">
          {{ option.label }}
        </a>
      </li>
    </ul>
  </div>
  <div class="well">
    <laji-filters [type]="queryParams.type" [query]="queryParams" (queryChange)="queryChange($event)"></laji-filters>
  </div>
  <div style="margin-top: 15px;">
    <ng-container *ngFor="let option of types">
      <ng-container *ngIf="option.value === queryParams.type">
        <h3 role="presentation" class="active" >
          {{ option.label }}
        </h3>
        <laji-active-filters [query]="queryParams"></laji-active-filters>
      </ng-container>
    </ng-container>
  </div>
  <laji-results [type]="queryParams.type" [query]="queryParams" [checklist]="checklist" (queryChange)="queryChange($event, false)"></laji-results>
</div>
