.invasive-list {
  list-style: none;
  max-width: 500px;
}
.invasive-list li {
  padding: 4px 10px;
}
.invasive-list li:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}
.invasive-list li.danger {
  color: #b94a48;
  background-color: #f2dede;
}