<footer id="layout-footer" *ngIf="footerService.footerVisible">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Suomen Lajitietokeskus</h3>
          <p>Suomen Lajitietokeskus -hanke kokoaa Suomen eliölajistostatietoa yhteen paikkaan –avoimeen käyttöön. Lue lisää hankkeesta ja sen tavoitteista ja aikatauluista.</p>
        </div>
        <div class="col-sm-3">
          <h3>Tiedonhallinta</h3>
          <ul>
            <li>Aineistopolitiikka</li>
            <li>Tietovarasto</li>
            <li>Pitkäaikaissäilytys</li>
            <li>Taksonominen tietokanta</li>
            <li>Laadunvarmistus</li>
            <li>Annotointi -keskustelu</li>
            <li>Sensitiivinen aineisto</li>
            <li>Käyttölisenssit</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>Tietotekniset palvelut</h3>
          <ul>
            <li>Kokoelmahallinta</li>
            <li>Havaintopalvelu</li>
            <li>Analyysipalvelut</li>
            <li>Aineistojen metatiedot</li>
            <li>Viranomaispalvelut</li>
            <li>Digitointi</li>
            <li>Rajapinnat / API</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>Muut palvelut</h3>
          <ul>
            <li>Vieraslaji.fi</li>
            <li>BirdLife -Tiira</li>
            <li>Hyönteistietokanta</li>
            <li>Perhos…</li>
            <li>Jne…</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
