<footer *ngIf="footerService.footerVisible">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
          <h3>{{'footer.title1' | translate}}</h3>
          <p [innerHtml]="'footer.intro1' | translate"></p>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
          <h3>{{'footer.title2' | translate}}</h3>
          <p [innerHtml]="'footer.intro2' | translate"></p>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
          <h3>{{'footer.title3' | translate}}</h3>
          <p [innerHtml]="'footer.intro3' | translate"></p>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
          <h3>{{'footer.title4' | translate}}</h3>
          <p [innerHtml]="'footer.intro4' | translate"></p>
        </div>
      </div>
    </div>
</footer>
