<footer *ngIf="footerService.footerVisible">
  <div class="container-fluid info-footer">
    <div class="row">
      <div *ngFor="let item of tree$ | async; let i=index" class="{{columns[i] || ''}}">
        <h3><a [routerLink]="'/about/' + item.id | localize">{{ item.title }}</a></h3>
        <p class="intro" *ngIf="i === 0"><strong>{{ 'footer.intro1' | translate }}</strong></p>
        <ul *ngIf="item.children">
          <li *ngFor="let child of item.children">
            <a [routerLink]="'/about/' + child.id | localize">{{ child.title }}</a>
          </li>
          <li *ngIf="i === 0"><laji-feedback></laji-feedback></li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="onFrontPage">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="pull-right info">
          {{ 'footer.image.attribution' | translate }}:
          <!-- Talvi
          -->
          <a href="https://www.flickr.com/photos/timo_w2s/15517459434/">Timo Newton-Syms</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/"> Creative Commons BY-SA 2.0</a>
          <!-- kevat
          <a href="https://www.biomi.org/">Mikko Heikkinen</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons BY-SA 4.0</a>
          -->
          <!-- syksy
          <a href="https://www.biomi.org/">Kari Lahti</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons BY-SA 4.0</a>
          -->
        </div>
      </div>
    </div>
  </div>
  <div class="partners-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-11 partners front"
             [ngClass]="{hidden: !onFrontPage}">
          <span class="title">{{ 'footer.partners' | translate }}</span>
          <ul>
            <li>
              <a href="http://luomus.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/luomus_fi_blue_smaller.gif" alt="LUOMUS - Luonnontieteellinen keskusmuseo">
              </a>
            </li>
            <li>
              <a href="http://www.syke.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/syke_logo_2019.png" alt="SYKE">
              </a>
            </li>
            <li>
              <a href="http://www.luke.fi/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/logo_luke.png" alt="LUKE">
              </a>
            </li>
            <li>
              <a href="http://www.mmm.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/mmm_logo.png" alt="MMM">
              </a>
            </li>
            <li>
              <a href="http://www.ymparisto.fi/envibase" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/envibase_logo.png" alt="Envibase">
              </a>
            </li>
            <li>
              <a href="http://digitarium.fi/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/digitarium.png" alt="Digitarium">
              </a>
            </li>
            <li>
              <a href="http://www.ely.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/ely.jpg" alt="ELY">
              </a>
            </li>
            <li>
              <a href="http://www.metsa.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/metsahallitus.jpg" alt="Metsähallitus">
              </a>
            </li>
            <li>
              <a href="http://www.ym.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/ymparistoministerio.png" alt="Ympäristöministeriö">
              </a>
            </li>
            <li>
              <a href="https://www.helsinki.fi/fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/HY_en.jpg" alt="Helsingin yliopisto">
              </a>
            </li>
            <li>
              <a href="http://www.utu.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/turun_yliopisto_logo_rgb.png" alt="UTU">
              </a>
            </li>
            <li>
              <a href="http://www.oulu.fi/yliopisto/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/oulun_yo_rgb_pysty_fin.png" alt="Oulun yliopisto">
              </a>
            </li>
            <li>
              <a href="https://www.jyu.fi/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/jyu.png" alt="Jyväskylän yliopisto">
              </a>
            </li>
            <li>
              <a href="http://www.uef.fi" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/UEF_musta_logo-engl.jpg" alt="UEF">
              </a>
            </li>
            <li>
              <a href="http://www.aka.fi/fi/A/Ohjelmat-ja-yhteistyo/Tutkimusinfrastruktuuri/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/AKA_FIR1.png" alt="FIRI">
              </a>
            </li>
            <li>
              <a href="http://ec.europa.eu/regional_policy/en/funding/erdf/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/eu.png" alt="European Regional Development Fund">
              </a>
            </li>
            <li>
              <a href="http://www.centralbaltic.eu/" target="_blank">
                <img lajiLazyImage src="https://cdn.laji.fi/images/partners/interreg.png" alt="Central Baltic Interreg Programme">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
