.annotation {
  border-bottom: 1px solid #ededed;
  margin: 0 0 10px 0;
  padding: 5px;
  min-height: 50px;
  background-color: #F1F1F1;
  position: relative;
}

.deleted {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  opacity: 0.7;
  background-color: #bfbfbf;
  z-index: 1000;
  align-items: center;
}

.deleted span {
  color: red;
  font-weight: bold;
  margin: 0;
  display: block;
  position: absolute;
  right: 5px;
}

.annotations .title {
  font-weight: bold;
    margin-bottom: 10px;
    line-height: 16px;
    display: block
}

.tags {
  margin-top: 10px;
}

.odd {
  background-color: #f4f4f4;
}
.annotation-class {
  font-size: larger;
}

.annotation-person {
  font-weight: bold;
}

.annotation-positive {
  color: #4cae4c;
}

.annotation-negative {
  color: #d43f3a;
}

.added-tags {
  margin-bottom: 10px;
}

.tags .added-tags div {
  display: inline-block;
  margin-right: 10px;
}

.removed-tags {
  margin-top: 8px;
}

.no-annotations {
  font-weight: bold;
}

.closed {
  height: 60px;
  overflow: hidden;
}

.read-more {
  font-size: 12px;
  color:#3498DB;
  cursor:pointer;
}

.btn-xs {
  padding: 1px 5px 1px 4px;
}

.glyphicon {
  top:2px
}

.removed-tags .tag {
  display: inline-block;
  margin-right: 10px;
}

.removed-tags .tag span {
  text-decoration: line-through;
}

.content {
  margin-top: 8px;
}

