<div class="annotations">
  <div *ngFor="let annotation of annotations | sort: 'created'; let i = index">
    <div class="annotation">
      <div class="deleted" *ngIf="((!annotation.valid || annotation.deleted) && !showItem[i])">
        <span *ngIf="annotation.deleted; else notValid">{{ 'annotation.deleted' | translate }}</span>
        <ng-template #notValid><span>{{ 'annotation.notValid' | translate }}</span></ng-template>
        <button
              type="button"
              class="btn alert-info btn-xs"
              (click)="toggleAnnotation(i)"
              [tooltip]="!annotation.valid ? (annotation.deleted ? ('annotation.showDeletedComment' | translate) : ('annotation.showInvalidComment' | translate)  ) : (annotation.deleted ? ('annotation.showDeletedComment' | translate) : '')"
              placement="right"
              >
              <i class="glyphicon glyphicon-eye-open"></i>
        </button>
      </div>
      <div class="row">
        <div class="col-xs-12 row-title">
          <span class="person pull-right">
            <button
              type="button"
              class="btn btn-danger btn-xs"
              (click)="remove.emit(annotation)"
              [tooltip]="'annotation.deleteComment' | translate"
              placement="right"
              *ngIf="(annotation.annotationByPerson | toQName) === personID && !annotation.deleted && showItem[i]"
              >
              <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button
              type="button"
              class="btn alert-info btn-xs"
              (click)="toggleAnnotation(i)"
              [tooltip]="!annotation.valid ? (annotation.deleted ? ('annotation.hideDeletedComment' | translate) : ('annotation.hideInvalidComment' | translate)  ) : (annotation.deleted ? ('annotation.hideDeletedComment' | translate) : '')"
              placement="right"
              *ngIf="((annotation.deleted || !annotation.valid ) && showItem[i])"
            >
            <i class="glyphicon glyphicon-eye-close"></i>
            </button>
          </span>
          <div *ngIf="annotation.annotationByPerson; else annotationByPerson">
            <span class="annotation-person">{{ annotation.annotationByPerson | toQName | users }} </span>
            <span class="annotation-date">{{ annotation.created | amDateFormat:'L' }}</span>
          </div>
          <ng-template #annotationByPerson>
            <span class="annotation-person">{{ annotation.annotationByPerson | toQName | users }} </span>
            <span class="annotation-date">{{ annotation.created | amDateFormat:'L' }}</span>
          </ng-template>
        </div>
      </div>
      <div class="content-show-hide" *ngIf="showItem[i]; else dots">
        <div class="tags" *ngIf="annotation.addedTags">
           <div class="row no-padding">
             <div class="col-xs-4" style="font-weight: bold;">{{ 'MAN.addedTags' | label }}:</div>
             <div class="col-xs-8">
               <div *ngIf="annotation.addedTags.length > 0">
                <div class="tag" *ngFor="let addedTag of annotation.addedTags" [ngSwitch]="addedTag | warehouse" [ngClass]="{'margin-bottom-5': effectiveTags !== undefined && effectiveTags.indexOf(addedTag) === -1 , '':  effectiveTags !== undefined && effectiveTags.indexOf(addedTag) !== -1 }">
                  <div *ngIf="annotationTagsObservation[addedTag | warehouse]; else noCategory">
                     <div *ngSwitchCase="annotationTagsObservation[addedTag | warehouse ].value" class="annotation-marker" [ngClass]="{'positive': annotationTagsObservation[addedTag | warehouse ].type==='positive', 'check': annotationTagsObservation[addedTag | warehouse ].type==='check', 'negative': annotationTagsObservation[addedTag | warehouse ].type==='negative', 'self': annotationTagsObservation[addedTag | warehouse ].type ==='info', 'admin': annotationTagsObservation[addedTag | warehouse ].type ==='admin' }" >
                       <span>{{ addedTag | label: 'warehouse' }}</span>
                     </div>
                  </div>
                  <ng-template #noCategory>
                   <span>{{ addedTag | label: 'warehouse' }}</span>
                  </ng-template>
                </div>
               </div>
             </div>
           </div>
         </div>
         <div class="removed-tags" *ngIf="annotation.removedTags && annotation.removedTags.length > 0">
          <div class="row">
            <div class="col-xs-4" style="font-weight: bold;">{{ 'annotation.removedTags' | translate }}:</div>
            <div class="col-xs-8">
              <div *ngFor="let removeTag of annotation.removedTags" class="tag">
                <div class="annotation-marker neutral">
                  <span>{{ removeTag | label: 'warehouse' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="content new-identification" *ngIf="annotation.identification && ((annotation.identification.taxon && annotation.identification.taxon !== '') || (annotation.identification.linkings && annotation.identification.linkings.taxon))">
           <div class="row">
             <div class="col-xs-4" style="font-weight: bold;">{{ 'annotation.title.taxon' | translate }}:</div>
             <div class="col-xs-8">
              <ng-container *ngIf="annotation.identification.linkings && annotation.identification.linkings.taxon; else taxonNameSimple">
               <laji-taxon-name [taxon]="annotation.identification.linkings.taxon"></laji-taxon-name>
              </ng-container>
              <ng-template #taxonNameSimple>
                <span>
                  {{ annotation.identification.taxon }}
                  <a (click)="onTaxonLinkClick($event)" [routerLink]="['/taxon/' + (annotation.identification.taxonID | toQName)] | localize" target="_blank"
                  [tooltip]="'showSpeciesCard' | translate" placement="right" tabindex="-1">
                    <i class="glyphicon glyphicon-tag"></i>
                  </a>
                </span>
              </ng-template>
               <ng-container *ngIf="annotation.identification.taxonSpecifier && annotation.identification.taxonSpecifier !== ''"> ,{{ annotation.identification.taxonSpecifier }}</ng-container>
             </div>
           </div>
         </div>
        <div class="row" *ngIf="annotation.opinion">
          <div class="col-xs-4">
            {{ 'MAN.opinion' | label }}:
          </div>
          <div class="col-xs-8">
            {{ annotation.opinion }}
          </div>
        </div>
        <div class="content" *ngIf="annotation.notes">
          <div class="row">
            <div class="col-xs-4">
              <b>Comment:</b>
            </div>
            <div class="col-xs-8 long-text">
              <div [ngClass]="{'': (annotation.notes.length <= 250 || open[i]), 'closed': (annotation.notes.length > 250 && !open[i]) }">
                {{ annotation.notes }}
              </div>
              <span class="read-more" *ngIf="(annotation.notes.length > 250 && !open[i])" (click)="readMore(i)">Read more</span>
              <span class="read-more" *ngIf="open[i]" (click)="readMore(i)">Hide</span>
            </div>  
          </div>     
        </div>
      </div>
      <ng-template #dots>
        <i class="glyphicon glyphicon-option-horizontal"></i>
      </ng-template>
      <span class="small-deleted" *ngIf="((annotation.deleted || !annotation.valid) && showItem[i])">{{ 'annotation.deleted' | translate }}</span>
    </div>
    <div *ngIf="lastFalse!==-1 && i===lastFalse && hasNextTrue">
      <laji-occurrence-at-time-of-annotation [occurrence]="annotations[i+1].occurrenceAtTimeOfAnnotation"></laji-occurrence-at-time-of-annotation>
    </div>
  </div>
  <div class="no-annotations alert alert-warning" *ngIf="annotations && annotations.length === 0">
    {{ 'annotation.none' | translate }}
  </div>
</div>
