.annotation {
  border-bottom: 1px solid #ededed;
  margin: 0 -5px 10px -5px;
  padding: 5px;
  min-height: 50px;
  background-color: #F1F1F1;
}

.tags {
  margin-top: 10px;
}

.odd {
  background-color: #f4f4f4;
}
.annotation-class {
  font-size: larger;
}

.annotation-person {
  font-weight: bold;
}

.annotation-positive {
  color: #4cae4c;
}

.annotation-negative {
  color: #d43f3a;
}

.added-tags {
  margin-bottom: 10px;
}

.tags .added-tags div {
  display: inline-block;
  margin-right: 10px;
}

.removed-tags {
  margin-top: 8px;
}

.no-annotations {
  font-weight: bold;
}

.closed {
  height: 60px;
  overflow: hidden;
}

.read-more {
  font-size: 12px;
  color:#3498DB;
  cursor:pointer;
}


