.annotation {
  background-color: #efefef;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 5px;
}
.close {
  font-size: 16px;
}
.header {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 -5px;
  padding: 0 5px;
  height: 30px;
}
