<div class="annotations">
  @for (annotation of annotations | sort: 'created'; track annotation; let i = $index) {
    <div>
      <div class="annotation">
        @if (((!annotation.valid || annotation.deleted) && !showItem?.[i])) {
          <div class="deleted">
            @if (annotation.deleted) {
              <span>{{ 'annotation.deleted' | translate }}</span>
            } @else {
              <span>{{ 'annotation.notValid' | translate }}</span>
            }
            <button
              type="button"
              class="btn alert-info btn-xs"
              (click)="toggleAnnotation(i)"
              [luTooltip]="!annotation.valid ? (annotation.deleted ? ('annotation.showDeletedComment' | translate) : ('annotation.showInvalidComment' | translate)  ) : (annotation.deleted ? ('annotation.showDeletedComment' | translate) : '')"
              placement="right"
              >
              <i class="glyphicon glyphicon-eye-open"></i>
            </button>
          </div>
        }
        <div class="row">
          <div class="col-xs-12 row-title">
            <span class="person pull-right">
              @if ((annotation.annotationByPerson | toQName) === personID && !annotation.deleted && showItem?.[i]) {
                <button
                  type="button"
                  class="btn btn-danger btn-xs"
                  (click)="remove.emit(annotation)"
                  [luTooltip]="'annotation.deleteComment' | translate"
                  placement="right"
                  >
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              }
              @if (((annotation.deleted || !annotation.valid ) && showItem?.[i])) {
                <button
                  type="button"
                  class="btn alert-info btn-xs"
                  (click)="toggleAnnotation(i)"
                  [luTooltip]="!annotation.valid ? (annotation.deleted ? ('annotation.hideDeletedComment' | translate) : ('annotation.hideInvalidComment' | translate)  ) : (annotation.deleted ? ('annotation.hideDeletedComment' | translate) : '')"
                  placement="right"
                  >
                  <i class="glyphicon glyphicon-eye-close"></i>
                </button>
              }
            </span>
            @if (annotation.annotationByPerson) {
              <div>
                <span class="annotation-person">{{ annotation.annotationByPerson | toQName | users }} </span>
                <span class="annotation-date">{{ annotation.created | amDateFormat:'L' }}</span>
              </div>
            } @else {
              <span class="annotation-person">{{ annotation.annotationByPerson | toQName | users }} </span>
              <span class="annotation-date">{{ annotation.created | amDateFormat:'L' }}</span>
            }
          </div>
        </div>
        @if (showItem?.[i]) {
          <div class="content-show-hide">
            @if (annotation.addedTags) {
              <div class="tags">
                <div class="row no-padding">
                  <div class="col-xs-4" style="font-weight: bold;">{{ 'MAN.addedTags' | label }}:</div>
                  <div class="col-xs-8">
                    @if (annotation.addedTags.length > 0) {
                      <div>
                        @for (addedTag of annotation.addedTags; track addedTag) {
                          <div class="tag" [ngClass]="{'margin-bottom-5': effectiveTags !== undefined && effectiveTags.indexOf(addedTag) === -1 , '':  effectiveTags !== undefined && effectiveTags.indexOf(addedTag) !== -1 }">
                            @if (tagsConverted[addedTag | warehouse]) {
                              <div>
                                <div class="annotation-marker" [ngClass]="{'positive': tagsConverted[addedTag | warehouse]?.type==='MMAN.typePositiveQuality', 'check': tagsConverted[addedTag | warehouse]?.type==='MMAN.typeCheck', 'negative': (tagsConverted[addedTag | warehouse]?.type==='MMAN.typeNegativeQuality' || tagsConverted[addedTag | warehouse]?.type==='MMAN.typeAdmin'), 'info': tagsConverted[addedTag | warehouse]?.type ==='MMAN.typeSelf', 'self': tagsConverted[addedTag | warehouse]?.type ==='MMAN.typeInfo' }">
                                  <span>{{ addedTag | label: 'warehouse' }}</span>
                                </div>
                              </div>
                            } @else {
                              <span>{{ addedTag | label: 'warehouse' }}</span>
                            }
                          </div>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
            @if (annotation.removedTags && annotation.removedTags.length > 0) {
              <div class="removed-tags">
                <div class="row">
                  <div class="col-xs-4" style="font-weight: bold;">{{ 'annotation.removedTags' | translate }}:</div>
                  <div class="col-xs-8">
                    @for (removeTag of annotation.removedTags; track removeTag) {
                      <div class="tag">
                        <div class="annotation-marker neutral">
                          <span>{{ removeTag | label: 'warehouse' }}</span>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
            @if (annotation.identification && ((annotation.identification.taxon && annotation.identification.taxon !== '') || (annotation.identification.linkings && annotation.identification.linkings.taxon))) {
              <div class="content-taxon-comment new-identification">
                <div class="row">
                  <div class="col-xs-4" style="font-weight: bold;">{{ 'annotation.title.taxon' | translate }}:</div>
                  <div class="col-xs-8">
                    @if (annotation.identification.linkings && annotation.identification.linkings.taxon) {
                      <laji-taxon-name [capitalizeName]="true" [taxon]="annotation.identification.linkings.taxon"></laji-taxon-name>
                    } @else {
                      <span>
                        {{ annotation.identification.taxon }}
                      </span>
                    }
                    @if (annotation.identification.taxonSpecifier && annotation.identification.taxonSpecifier !== '') {
                      ,{{ annotation.identification.taxonSpecifier }}
                    }
                  </div>
                </div>
              </div>
            }
            @if (annotation.atlasCode) {
              <div class="row">
                <div class="col-xs-4" style="font-weight: bold;">
                  {{ "MAN.atlasCode" | label }}:
                </div>
                <div class="col-xs-8">
                  {{ annotation.atlasCode | label:"fullUri" | truncate : 100 : true : '...'}}
                </div>
              </div>
            }
            @if (annotation.opinion) {
              <div class="row">
                <div class="col-xs-4">
                  {{ "MAN.opinion" | label }}:
                </div>
                <div class="col-xs-8">
                  {{ annotation.opinion }}
                </div>
              </div>
            }
            @if (annotation.notes) {
              <div class="content-taxon-comment">
                <div class="row">
                  <div class="col-xs-4">
                    <b>Comment:</b>
                  </div>
                  <div class="col-xs-8 long-text">
                    <div [ngClass]="{'': (annotation.notes.length <= 250 || open?.[i]), 'closed': (annotation.notes.length > 250 && !open?.[i]) }">
                      {{ annotation.notes }}
                    </div>
                    @if ((annotation.notes.length > 250 && !open?.[i])) {
                      <span class="read-more" (click)="readMore(i)" role="button" luKeyboardClickable tabindex="0">Read more</span>
                    }
                    @if (open?.[i]) {
                      <span class="read-more" (click)="readMore(i)" role="button" luKeyboardClickable tabindex="0">Hide</span>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <i class="glyphicon glyphicon-option-horizontal"></i>
        }
        @if ((annotation.deleted && showItem?.[i])) {
          <span class="small-deleted">{{ 'annotation.deleted' | translate }}</span>
        }
        @if ((!annotation.deleted && !annotation.valid && showItem?.[i])) {
          <span class="small-deleted">{{ 'annotation.notValid' | translate }}</span>
        }
      </div>
      @if (lastFalse!==-1 && i===lastFalse && hasNextTrue) {
        <div>
          <laji-occurrence-at-time-of-annotation [occurrence]="annotations[i+1].occurrenceAtTimeOfAnnotation"></laji-occurrence-at-time-of-annotation>
        </div>
      }
    </div>
  }
  @if (annotations && annotations.length === 0) {
    <div class="no-annotations alert alert-warning">
      {{ 'annotation.none' | translate }}
    </div>
  }
</div>
