<ng-container *ngIf="data && data.length > 0">
  <div class="info-card-chart">
    <ngx-charts-bar-vertical
      [results]="data"
      [xAxis]="true"
      [yAxis]="true"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [xAxisLabel]="'taxonomy.observations.yearChart.xAxis' | translate"
      [yAxisLabel]="'taxonomy.observations.yearChart.yAxis' | translate"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
    >
      <ng-template #tooltipTemplate let-model="model">
        <span class="tooltip-label">{{ model.name }}</span>
        <span class="tooltip-val">{{ model.value.toLocaleString("fi") }}</span>
      </ng-template>
    </ngx-charts-bar-vertical>
  </div>
  <button (click)="toggleShowAllData()" class="btn btn-default" *ngIf="splitIdx > 0">
    {{ 'taxonomy.observations.yearChart.' + (data.length < allData.length ? 'showHistory' : 'hideHistory') | translate }}
  </button>
</ng-container>
