<div class="row" *ngIf="formPermission">
  <div class="col-sm-6">
    <h3>{{ 'form.permission.admin.requests' | translate }}</h3>
    <p *ngIf="formPermission.permissionRequests.length === 0">
      {{ 'form.permission.admin.noRequests' | translate }}
    </p>
    <ul>
      <li *ngFor="let person of formPermission.permissionRequests">
        <button class="btn btn-success" (click)="accept(person)">{{ 'form.permission.admin.accept' | translate }}</button>
        <button class="btn btn-danger" (click)="reject(person)">{{ 'form.permission.admin.reject' | translate }}</button>
        <span class="form-control-static">
            {{ person | users }} ({{ person }})
          </span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <h3>{{ 'form.permission.admin.grantAccess' | translate}}</h3>
    <laji-find-person [showUserID]="true" (selectChange)="selectPerson($event)"></laji-find-person>
  </div>
</div>
