<div class="container my-5">
  <h1 translate>ba.grid-index.title</h1>
  <p>{{ 'ba.grid-index.p' | translate }}</p>
  <!-- <a [routerLink]="['123']">grid-info</a> -->
  <ngx-datatable *ngIf="rows$ | async; else loading; let rows"
    class="material"
    [rowHeight]="35"
    [rows]="rows"
    [columns]="cols"
    [cssClasses]="datatableClasses"
    [scrollbarV]="true"
    [messages]="{ emptyMessage: '' }"
    [columnMode]="'flex'"
    (activate)="onActivate($event)"
  ></ngx-datatable>
  <ng-template #loading>
    <laji-spinner></laji-spinner>
  </ng-template>
</div>
