<div class="modal fade" bsModal #documentModal="bs-modal"
     (onHidden)="onModalHide()"
     (onShow)="pnModalShow()"
     [config]="{ keyboard: false}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div *ngIf="vm$ | async; let vm" class="modal-dialog"
       [ngClass]="{'modal-lg': !vm.openAnnotation, 'modal-annotation': vm.openAnnotation}">
    <div class="modal-content">
      <div class="modal-body" *ngIf="vm.document">
        <lu-button-round (click)="documentModal.hide()" class="pull-right" role="neutral">
          <lu-icon type="close"></lu-icon>
        </lu-button-round>
        <laji-document-annotation *ngIf="!vm.forceLocal && vm.openAnnotation; else normal"
                                  [highlight]="vm.highlight"
                                  [uri]="vm.document.id"
                                  [own]="vm.own"
                                  [result]="vm.result"
                                  [openAnnotation]="vm.openAnnotation"
                                  [identifying]="vm.identifying"
                                  [useWorldMap]="vm.useWorldMap"
                                  (close)="closeModal($event)"
        >
        </laji-document-annotation>
        <ng-template #normal>
          <laji-document
            *ngIf="!vm.forceLocal && vm.document.publicityRestrictions === publicityRestrictionsPublic; else local"
            [highlight]="vm.highlight"
            [uri]="vm.document.id"
            [own]="vm.own"
            [openAnnotation]="vm.openAnnotation"
            [identifying]="vm.identifying"
            [useWorldMap]="vm.useWorldMap"
            (close)="closeModal($event)"
          >
          </laji-document>
        </ng-template>
        <ng-template #local>
          <laji-document-local [document]="vm.document" (close)="closeModal($event)">
          </laji-document-local>
        </ng-template>
      </div>
    </div>
  </div>
</div>
