<ng-template #headingTemplate>
  <div class="identification-heading">
    <strong class="panel-title">
      <ng-container *ngIf="speciesIdx != null">{{ speciesIdx + 1 }}. </ng-container><bsg-species-name [species]="identification"></bsg-species-name>
    </strong>
    <div class="pull-right">
      <div class="d-inline mr-3" *ngIf="identification.hasAudio">
        <a class="btn btn-sm btn-default" [routerLink]="['/validation/species', '' + identification.id] | localize" target="_blank" (click)="stopPropagation($event)">
          <i class="glyphicon glyphicon-new-window"></i> {{ 'identification.' + (identification.validationCount === 0 ? 'createTemplates' : 'seeTemplates') | translate }}
        </a>
        <laji-info (click)="stopPropagation($event)" [html]="'identification.createTemplates.info' | translate" [showOnHover]="true"></laji-info>
      </div>
      <button class="btn btn-danger btn-sm" (click)="onDeleteClick($event)" [disabled]="buttonsDisabled">✕</button>
    </div>
  </div>
</ng-template>

<div class="panel panel-default mb-0"
     laji-panel
     [headingTemplate]="headingTemplate"
     [open]="open"
     [autoToggle]="true"
     (activate)="openChange.emit($event.open)"
>
  <ng-container *ngIf="open">
    <div>
      <label class="radio-inline" *ngFor="let value of [speciesAnnotationEnum.occurs, speciesAnnotationEnum.possiblyOccurs]">
        <input type="radio" name="{{ componentId }}_occurrence" [checked]="identification.annotation.occurrence === value" [disabled]="buttonsDisabled" (change)="annotationTypeChange(value)"/>
        {{ 'identification.' + (value === speciesAnnotationEnum.occurs ? 'occurs' : 'possiblyOccurs') | translate }}
      </label>
      <laji-info [placement]="'right'" [html]="(recording.taxonType === taxonTypeEnum.insect ? 'identification.possiblyOccursInsect.info' : 'identification.possiblyOccurs.info') | translate" [showOnHover]="true"></laji-info>
    </div>
    <div class="mt-4">
      <label>{{ 'identification.boxes' | translate }}</label>
      <laji-info [placement]="'right'" [html]="'identification.boxes.info' | translate" [showOnHover]="true"></laji-info>
    </div>
    <div class="table-responsive" *ngIf="identification.annotation.boxes && identification.annotation.boxes.length > 0">
      <table class="table table-condensed mt-0 mb-0">
        <tbody *ngFor="let box of identification.annotation.boxes; let i=index" [ngClass]="{ 'box-group': isBoxGroup(box) }">
          <ng-template #boxRow let-box="box" let-groupIdx="groupIdx" let-hideDrawRelatedBtn="hideDrawRelatedBtn">
            <tr>
              <td style="width: 50px">{{ getBoxLabel(speciesIdx!, i, groupIdx) }}.</td>
              <td style="width: 200px">
                <laji-small-audio-viewer
                  [audio]="recording"
                  [area]="box.area"
                  [spectrogramWidth]="130"
                  [spectrogramHeight]="50"
                  [spectrogramConfig]="spectrogramConfig"
                  [areaColor]="box.overlapsWithOtherSpecies ? overlappingBirdRectangleColor: birdRectangleColor"
                ></laji-small-audio-viewer>
              </td>
              <td *ngIf="showSoundTypeSelect" style="width: 160px" class="select-column">
                <label>
                  <small>{{ 'identification.boxes.soundType' | translate }}</small>
                  <laji-info [placement]="'right'" [html]="'identification.boxes.soundType.info' | translate" [showOnHover]="true"></laji-info>
                </label>
                <select class="form-control input-sm" [(ngModel)]="box.soundType" (ngModelChange)="identificationChange.emit(identification)">
                  <option [ngValue]="undefined"></option>
                  <option [ngValue]="soundTypeEnum.songOrDisplay">
                    {{ 'identification.boxes.soundType.songOrDisplay' | translate }}
                  </option>
                  <option [ngValue]="soundTypeEnum.other">
                    {{ 'identification.boxes.soundType.other' | translate }}
                  </option>
                </select>
              </td>
              <td style="width: 240px">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="box.overlapsWithOtherSpecies" (ngModelChange)="identificationChange.emit(identification)">{{ 'identification.boxes.overlapsWithOthers' | translate }}
                  </label>
                </div>
              </td>
              <td style="width: 50px">
                <button
                  class="btn btn-danger btn-sm"
                  [disabled]="buttonsDisabled"
                  (click)="deleteBoxClick.emit({ idx: i, groupIdx })"
                >✕</button>
              </td>
              <td>
                <button
                  #toggleDrawRelatedBtn
                  *ngIf="showDrawRelatedBoxBtn && !hideDrawRelatedBtn"
                  class="btn btn-default scroll-margin-top"
                  [ngClass]="{
                    'active': drawRelatedBoxActive[i]
                  }"
                  (click)="drawRelatedBoxClick.emit({ idx: i, groupIdx })"
                  [disabled]="buttonsDisabled"
                >
                  <i class="glyphicon glyphicon-plus"></i> {{ 'identification.boxes.newRelated' | translate }}
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-container *ngIf="isBoxGroup(box) else normalBox">
            <ng-container *ngFor="let b of box.boxes; let groupIdx=index; let last=last">
              <ng-container *ngTemplateOutlet="boxRow; context: { box: b, groupIdx, hideDrawRelatedBtn: !last }"></ng-container>
            </ng-container>
          </ng-container>
          <ng-template #normalBox>
            <ng-container *ngTemplateOutlet="boxRow; context: { box: box }"></ng-container>
          </ng-template>
        </tbody>
      </table>
    </div>
    <button
      #toggleDrawBtn
      class="btn btn-primary d-block mt-1 scroll-margin-top"
      [ngClass]="{
        'active': drawBoxActive
      }"
      (click)="drawBoxClick.emit()"
      [disabled]="buttonsDisabled"
    >
      <i class="glyphicon glyphicon-plus"></i> {{ 'identification.boxes.new' | translate }}
    </button>
  </ng-container>
</div>
