<ng-container *ngIf="vm$ | async; let vm">
  <laji-spinner [spinning]="vm.loading" [overlay]="true"></laji-spinner>
  <div style="margin-top: 20px;">
    <div [hidden]="!hasAlertContent">
      <laji-info-page child="2860" (hasContent)="hasAlertContent = $event"></laji-info-page>
    </div>
    <ng-container [ngSwitch]="vm.error">
      <alert type="danger" *ngSwitchCase="errors.notFoundForm">
        {{ 'haseka.form.formNotFound' | translate:{formId: formId} }}
      </alert>
      <alert type="danger" *ngSwitchCase="errors.notFoundDocument">
        {{ 'haseka.form.documentNotFound' | translate:{documentId: documentId} }}
      </alert>
      <alert type="danger" *ngSwitchCase="errors.loadFailed">
        {{ 'haseka.form.genericError' | translate }}
      </alert>
      <alert type="danger" *ngSwitchCase="errors.noAccessToDocument">
        {{ 'haseka.form.noAccessToDocument' | translate }}
      </alert>
    </ng-container>
  </div>
  <laji-document-form-header *ngIf="showHeader && vm.error === errors.ok"
      [formID]="vm.form.id"
      [edit]="!!documentId"
      [namedPlace]="vm.namedPlace"
      [isAdmin]="isAdmin"
      [formData]="vm.form.formData"
      [displayObservationList]="!vm.form.formData?.id && vm.namedPlace && vm.form.options?.displayOwnSubmissions"
  ></laji-document-form-header>
  <laji-named-place-linker-button [documentID]="documentId"></laji-named-place-linker-button>
  <alert *ngIf="showDiscardLocal" type="warning">
    {{ 'haseka.form.hasLocalData' | translate }}<br>
    <button type="button" class="btn btn-danger btn-sm mt-3" (click)="discardLocalData()">{{ 'haseka.form.hasLocalData.delete' | translate }}</button>
  </alert>
  <div class="clear"></div>
  <div class="laji-form" *ngIf="vm.error === errors.ok">
    <laji-form
      [formData]="vm.form"
      [settingsKey]="formId"
      [showShortcutButton]="showShortcutButton"
      (dataChange)="onChange($event)"
      (dataSubmit)="onSubmit($event)"
      (validationError)="onValidationError($event)"
      (goBack)="onGoBack()"
    ></laji-form>
    <laji-document-form-footer
      [form]="vm.form"
      [status]="status"
      [readonly]="vm.form.readonly"
      [edit]="documentId"
      [errors]="validationErrors"
      [touchedCounter]="touchedCounter"
      [lajiForm]="lajiForm"
      [template]="template"
      (lock)="lock($event)"
      (submitPublic)="submitPublic()"
      (submitPrivate)="submitPrivate()"
      (submitTemplate)="submitTemplate()"
      (cancel)="onCancel()"></laji-document-form-footer>
  </div>
</ng-container>

<div class="modal" tabindex="-1" role="dialog" bsModal #saveAsTemplate="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" (click)="templateModal.hide()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">{{ 'template.formTitle' | translate }}</h4>
      </div>
      <div class="modal-body">
        <label for="templateName">{{ 'template.name' | translate }}: <span class="required">*</span></label>
        <input id="templateName" class="form-control" type="text" [(ngModel)]="templateForm.name" name="name">
        <label for="templateDescription">{{ 'template.description' | translate }}:</label>
        <textarea id="templateDescription" class="form-control" [(ngModel)]="templateForm.description" name="description"></textarea>
        <!--
        <div>
          <label>{{'template.chooseType' | translate}}</label>
          <div class="radio">
            <label><input type="radio" name="templateType" [(ngModel)]="templateForm.type" value="gathering">{{'template.saveGathering' | translate}}</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="templateType" [(ngModel)]="templateForm.type" value="unit">{{'template.saveUnit' | translate}}</label>
          </div>
        </div>
        -->
        <span class="required">*</span> = {{ 'required' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" [class.disabled]="templateForm.name.length === 0" (click)="saveTemplate()">
          <span>{{ "np.save" | translate }}</span>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
