@import 'projects/laji-ui/src/lib/vars';
@import '../../../../shared-modules/spinner/spinner/spinner.component.css';

:host {
  display: block;
  margin-bottom: $sp-9;
}

h4 {
  margin-top: 0;
}

li {
  max-width: 450px;
}

.child-container {
  display: flex;
  flex-direction: row;
  margin-bottom: $sp-9;
  height: 100%;
  width: 100%;
}

.child-name {
  margin-top: $sp-5;
  margin-bottom: $sp-4;
}

.child-info {
  color: $neutral-6;
}

.child-scientific-name-container {
  font-size: $fs-6;
}

.child-scientific-name {
  font-weight: 600;
}

.child-rank {
  color: $neutral-6;
  font-style: normal;
  font-weight: 400;
}

.child-vernacular-name-row {
  font-size: $fs-4;
  color: $neutral-6;
}

.child-vernacular-name {
  font-size: $fs-5;
  color: $neutral-7;
}

.cursive {
  font-style: italic;
}

.description-container {
  margin-left: $sp-9;
  margin-right: $sp-9;
}

.description-items {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 500px;
}

.image-container {
  flex-grow: 1;
}

.image-copyright {
  margin-top: $sp-4;
}