<laji-spinner [spinning]="loading" [hideContentWhileLoading]="true">
  <div *ngIf="taxon.taxonRank === 'MX.species'; else parent" class="lu-text-content">
    <div *ngFor="let media of taxon.multimedia">
      <img lajiLazyImage [src]="media.largeURL">
    </div>
  </div>
</laji-spinner>

<ng-template #parent>
  <div class="mb-7" *ngFor="let child of (childTree$ | async)">
    <h3 class="child-name">
      <a [routerLink]="['/taxon', child.id, 'identification'] | localize"><laji-taxon-name [addLink]="false" [taxon]="child"></laji-taxon-name></a>
    </h3>
    <h4 class="child-info">
      {{ child.taxonRank | label }} - {{ child.countOfSpecies| formattedNumber:' ' }} {{ (child.countOfSpecies === 1 ? 'taxonomy.identification.species' : 'taxonomy.identification.speciesPlural') | translate }} -  {{ child.observationCountFinland | formattedNumber:' ' }} {{ (child.observationCountFinland === 1 ? 'taxonomy.identification.observation' : 'taxonomy.identification.observationsPlural') | translate }}
    </h4>
    <laji-identification-list
      [taxon]="child"
    ></laji-identification-list>
  </div>
</ng-template>
