<table class="table">
  <tr>
    <th class="value-col">
      {{ 'excel.map.value-user' | translate }}
    </th>
    <th class="map-col">
      {{ 'excel.map.value-mapped' | translate }}
    </th>
  </tr>
  <tr *ngFor="let value of invalidValues">
    <td>
      <div class="form-control-static">
        {{ value }}
      </div>
    </td>
    <td>
      <laji-mapping-select
        [disabled]="!informalTaxonGroups"
        [value]="mapping && mapping[value] || ''"
        [options]="informalTaxonGroups"
        (selected)="valueMapped(value, $event)"></laji-mapping-select>
    </td>
  </tr>
</table>
