<h1>{{ 'theme.kerttu.expertise' | translate }}</h1>
<div class="row mb-5">
  <div class="col-sm-12">
    <label for="birdSongRecognitionSkillLevels">{{ 'expertise.birdSongRecognitionSkillLevels' | translate }}</label>
    <bsg-expertise-by-continent
      id="birdSongRecognitionSkillLevels"
      [continents]="continents$ | async"
      [birdSongRecognitionSkillLevels]="birdSongRecognitionSkillLevels"
      [disabled]="saving"
    ></bsg-expertise-by-continent>
  </div>
</div>
<div class="row mb-4">
  <div class="col-sm-12">
    <label for="birdwatchingActivityLevel">
      {{ 'theme.kerttu.expertise.birdwatchingActivityLevel' | translate }}
    </label>
    <laji-metadata-select
      id="birdwatchingActivityLevel"
      [(ngModel)]="birdwatchingActivityLevel"
      [multiple]="false"
      [useFilter]="false"
      [alt]="'MA.birdwatchingActivityLevelEnum'"
      [selectStyle]="basicSelectStyle"
      [disabled]="birdwatchingActivityLevel === undefined || saving"
    ></laji-metadata-select>
  </div>
</div>
<button
  class="btn btn-success"
  (click)="save()"
  [disabled]="saving"
>
  {{ 'save' | translate }}
</button>
