<h2>{{ 'theme.kerttu.expertise' | translate }}</h2>
<div class="row">
  <div class="col-sm-12">
    <label>How easily are you able to identify the vocalizations of bird species occurring in following continents?</label>
    <laji-expertise-by-continent
      [continents]="(speciesFilters$ | async)?.continent"
    ></laji-expertise-by-continent>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>How actively do you engage in birdwatching?</label>
    <select class="form-control" style="width: auto">
      <option></option>
      <option>I'm not a birdwatcher</option>
      <option>I watch birds occasionally</option>
      <option>I watch birds actively and regularly</option>
      <option>I am bird researcher or professional birdwatcher</option>
    </select>
  </div>
</div>
