<h1>{{ 'expertise.title' | translate }}</h1>
<div class="row mb-5">
  <div class="col-sm-12">
    <label for="birdSongRecognitionSkillLevels">{{ 'expertise.birdSongRecognitionSkillLevels' | translate }}</label>
    <bsg-expertise-by-continent
      id="birdSongRecognitionSkillLevels"
      [continents]="(continents$ | async)!"
      [birdSongRecognitionSkillLevels]="birdSongRecognitionSkillLevels"
      [disabled]="saving"
    ></bsg-expertise-by-continent>
  </div>
</div>
<div class="row mb-4">
  <div class="col-sm-12">
    <label for="birdwatchingActivityLevel">
      {{ 'expertise.birdwatchingActivityLevel' | translate }}
    </label>
    <select
      id="birdwatchingActivityLevel"
      [(ngModel)]="birdwatchingActivityLevel"
      class="form-control"
      [disabled]="birdwatchingActivityLevel === undefined || saving"
    >
      <option value="">{{ 'select' | translate }}</option>
      <option
        *ngFor="let option of birdwatchingActivityLevelOptions"
        [value]="option.id"
      >
        {{ option.label | translate }}
      </option>
    </select>
  </div>
</div>
<button
  class="btn btn-success"
  (click)="save()"
  [disabled]="saving"
>
  {{ 'save' | translate }}
</button>
