@import 'vars';
@import 'projects/laji-ui/src/lib/mixins/base';
@import 'mixins';

html, body {
	overflow: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	@include base();
	background-color: $neutral-9;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.panel {
	@include panel();
}
