<div class="template-container">
  <label *ngIf="label" [style.padding-left]="margin.left + 'px'">{{ label }}</label>
  <laji-audio-viewer
    *ngIf="area else noTemplate"
    [audio]="audio"
    [focusArea]="area"
    [zoomTime]="true"
    [timePaddingOnZoom]="0.5"
    [zoomFrequency]="true"
    [spectrogramConfig]="spectrogramConfig"
    [showControls]="false"
    [showAxisLabels]="false"
    [axisFontSize]="7"
    [spectrogramHeight]="50"
    [spectrogramMargin]="margin"
    (dblclick)="templateClick.emit()"
  ></laji-audio-viewer>
  <ng-template #noTemplate>
    <div [style.padding]="margin.top + 'px ' + margin.right + 'px ' + margin.bottom + 'px ' + margin.left + 'px'">
      <div class="empty-template">
        {{ 'validation.templates.undefined' | translate }}
      </div>
    </div>
  </ng-template>
</div>
