<ng-template #todo>
  <p style="margin-top: 10px">
    {{'todoTranslation' | translate}}
  </p>
</ng-template>
<div class="row">
  <div class="col-md-8">
    <h3>Linjalaskenta</h3>
    <p>
      Tämä on Luonnontieteellisen keskusmuseon Linnustonseurannan vakiolinjalaskentojen havaintojen ilmoitusjärjestelmä. Muiden linjojen kuin vakiolinjojen tulokset ilmoitetaan toistaiseksi tuttuun tapaan Excel-lomakkeella. Lisätietoa laskennoista ja laskentaohjeita löydät Linnustonseurannan sivuilta: <a rel="noopener noreferrer" target="_blank" href="https://www.luomus.fi/fi/pesimalintujen-linja-pistelaskenta">https://www.luomus.fi/fi/pesimalintujen-linja-pistelaskenta</a>
    </p>
    <ol>
      <li>Ilmoita lomakkeella laskennan ja reitin perustiedot sekä havaitut linnut biotoopeittain. Saat lisäohjeita ?-kuvakkeista kenttien vieressä.</li>
      <li>Lomakkeella voit siirtyä kentästä toiseen joko hiiren avulla tai pikanäppäimillä (tab = seuraavaan kenttään, Alt + nuoli ylös = edelliselle havaintoriville, Alt + nuoli alas = seuraavalle havaintoriville).</li>
      <li>
        Kirjaa havaitut linnut biotoopeittain. Voit valita biotooppipätkät joko kartalta klikkaamalla tai liikkua biotooppipätkästä toiseen ”Edellinen” ja ”Seuraava” -nuolista havaintojensyötön yläpuolella. Kirjaa muuttuneet biotoopit ”pääsaran biotooppi” -kenttään. Kirjaa kellonaikoja noin 500 m välein (maastolomakkeen sivun vaihtuessa).
        <img src="https://cdn.laji.fi/images/line-transect/intro-1.png">
      </li>
      <li>Tee mahdolliset muutokset biotooppipätkien pituuteen tai reitin kulkuun kartan työkaluja käyttäen. Voit muokata linjan pistettä ensin tuplaklikkaamalla ja sitten raahaamalla. Pisteen voi poistaa klikkaamalla sitä hiiren oikealla näppäimellä. Jos teit virheen kartan muokkauksessa, käytä ”Kumoa”-työkalua kartan oikeasta reunasta. Seuraa kartalla kursorin viereen tulevia ohjetekstejä ja katso <a [routerLink]="[]" fragment="map">tarkempaa ohjetta alla</a>.</li>
      <li>
        Havaintoja voit syöttää joko ns. pikasyöttötilassa tai erillisten kenttien avulla. Pikasyöttötilaan ja siitä pois siirrytään havaintojensyötön oikean reunan nuolikuvakkeesta. Käytössä ovat 3+3 lyhenteet, tieteelliset ja suomenkieliset nimet sekä pikasyöttötilassa lisäksi yleisimpien lajien <a rel="noopener noreferrer" target="_blank" href="https://www.luomus.fi/fi/linjalaskennassa-sallitut-kaksikirjaimiset-lajilyhenteet">2-kirjaimiset lyhenteet</a>. Voit käyttää pieniä tai isoja kirjaimia ja käyttää välilyöntejä tai kirjoittaa kaiken yhteen. Katso ohjetta ”Havainnot”-kentän alla.
        <img src="https://cdn.laji.fi/images/line-transect/intro-2.png">
      </li>
      <li>Kun olet syöttänyt havainnot, ja haluat tallentaa ja lähettää tiedot eteenpäin Linnustonseurannalle, paina: ”Tallenna julkisena”. Erillistä välitallennus-painiketta ei ole, vaan tiedot tallentuvat tallentajan käyttämälle koneelle. Jos selain kaatuu tms. kesken tallennuksen, avaa sivu uudelleen samalla selaimella ja tietojen pitäisi olla tallessa.</li>
      <li>Tallennuksen jälkeen tulee näkyviin lista mahdollisista virheistä ja varoituksista. Korjaa virheet ja tallenna uudelleen.</li>
      <li>Tallennuksen jälkeen näet koosteen tallentamastasi havaintoerästä, esimerkiksi havaituista lajeista ja parimääristä, pääsarkaprosentista, kokonaislajimäärästä, etenemisnopeudesta jne.</li>
      <li id="map">Pääset tarvittaessa muokkaamaan tallennettua havaintoerää ”Omat havaintoeräni” –kohdasta. Kunkin havaintoerän vasemmassa laidassa on valittavana ”Näytä havaintoerä” ja ”Siirry muokkaussivulle” -kuvakkeet. Muokkauksia voi tehdä kyseisen vuoden elokuun loppuun asti.</li>
    </ol>

    <h4>Karttatyökalun ohje</h4>
    <p>Karttatyökalujen avulla tehdään muutoksia biotooppien pituuksiin ja linjan kulkuun. Vakiolinjojen kulkua muutetaan vain pakottavista syistä, mutta jos muutoksia tulee, laskija tekee ne itse karttaan havaintoja tallentaessa. Jos muutoksia ei tullut, lomakkeen karttaa ei tarvita havaintoja tallentaessa.</p>
    <div class="row">
      <div class="col-sm-9">
        <img src="https://cdn.laji.fi/images/line-transect/intro-3.png">
      </div>
    </div>

    <p>Vakiolinjan biotooppijako näkyy reittikartassa. Reitti koostuu kartalla pisteistä ja niitä yhdistävistä viivoista. Isot pisteet ovat biotoopin vaihtumisesta kertovia pisteitä ja niiden välit ovat niin sanottuja biotooppipätkiä. Pienistä pisteistä muokataan reittiviivan muotoa saman biotoopin sisällä (kuva 2).</p>
    <div class="row">
      <div class="col-sm-7">
        <img src="https://cdn.laji.fi/images/line-transect/intro-4.png">
      </div>
    </div>

    <p>Havaintojenilmoituksessa aktiivinen biotooppipätkä näkyy kartalla vihreänä. Kun klikkaat kartalla biotooppipätkää kerran, pääset ilmoittamaan havainnot kyseiseltä biotooppipätkältä (kartan oikealla puolella havaintojensyöttökentissä). Viedessäsi hiiren kartalle, sillä kohdalla oleva linjan biotooppipätkän väri muuttuu ja näkyviin tulee biotooppipätkän alku ja loppumetrit harmaalle pohjalle (kuva 3).</p>
    <img src="https://cdn.laji.fi/images/line-transect/intro-5.png">

    <h4 id="modify">Reitin muokkaus</h4>

    <p>Reitin muokkaaminen tapahtuu pisteitä siirtelemällä, pisteitä poistamalla ja uusia pisteitä lisäämällä. Kun viet hiiren lähellä linjan pistettä, muuttuu piste punaiseksi.</p>

    <ol>
      <li>Aloita pisteen muokkaaminen tuplaklikkaamalla pistettä.</li>
      <li>Raahaa pistettä joko
        <ol style="list-style-type: lower-alpha">
          <li>linjan suuntaisesti (jolloin voit muokata biotooppipätkän pituutta linjan kulkua muuttamatta)</li>
          <li>sivusuuntaan (jolloin linjaan tulee kierto)</li>
        </ol>
        TAI<br>
        Poista piste kokonaan klikkaamalla oikealla näppäimellä.
      </li>
    </ol>
    <img src="https://cdn.laji.fi/images/line-transect/intro-6.png">
    <p>Epäonnistuneet muokkausyritykset voit kumota käyttämällä kumoa-työkalua. Älä käytä internetselaimen taaksepäin-nuolinäppäintä, sillä se siirtää sinut pois tallennuslomakkeelta.</p>
    <p>Jos biotooppipätkän biotooppikoodissa tai havainnoissa on virheitä, jotka vaativat korjauksen, biotooppipätkä näkyy kartalla punaisena.</p>

    <h4 id="map-def">Karttatyökalujen selitteitä</h4>

    <dl>
      <dt>Taustakartan valinta:</dt>
      <dd>Voit muuttaa taustan karttaa avautuvasta valikosta. Vakiolinjalaskennan kartaksi soveltuvat parhaiten oletuskarttana oleva Suomen maastokartta tai satelliittikartta.</dd>
      <dt>Katkaise biotooppi:</dt>
      <dd>Käytetään kun linjalle on syntynyt uusi biotooppi, esimerkiksi metsään on tehty hakkuu. Valitse työkalu klikkaamalla ja klikkaa kartalle kohtaan, josta alkaa uusi lisättävä biotooppi. Uudelle biotooppipätkälle lisätään koodi havaintojensyöttökentässä kartan oikealla puolella. Uutta biotooppirajaa edeltävälle biotooppipätkälle jää alkuperäinen biotooppikoodi.</dd>
      <dt>Katkaise biotooppi metriluvulla:</dt>
      <dd>Kuten edellä, mutta katkaistaan biotooppi tunnetulta metriluvulta. Valitse työkalu klikkaamalla ja ruudulle ilmestyy kenttä, johon kirjoitetaan haluttu uuden biotoopin alkukohta metreinä. Uudelle biotooppipätkälle lisätään koodi havaintojensyöttökentässä kartan oikealla puolella. Uutta biotooppirajaa edeltävälle biotooppipätkälle jää alkuperäinen biotooppikoodi.</dd>
      <dt>Yhdistä linjan osat:</dt>
      <dd>Työkalulla voidaan yhdistää ei-peräkkäisiä linjan osia. Valitse työkalu käyttöön klikkaamalla ja klikkaa ensin ensimmäistä yhdistettävää osaa, sitten toista. Mahdolliset yhdistettävien pätkien väliin jäävät linjan osat pyyhkiytyvät pois. Työkalua tarvitaan hyvin harvoin.</dd>
      <dt>Luo piste:</dt>
      <dd>Lisäämällä pisteitä voidaan muokata linjan muotoa saman biotooppipätkän sisällä. Pisteen lisääminen ei muuta biotooppirajoja (vrt. Katkaise biotooppi -työkalut). Valitse työkalu klikkaamalla ja klikkaa kartalla kohtaan johon haluat lisätä pisteen. Voit edelleen muokata lisättyjä pisteitä tuplaklikkaamalla ja raahaamalla (ks alla).</dd>
      <dt>Aloituspiste:</dt>
      <dd>Voi muokata aloituspistettä. Muutoksia tehdään hyvin harvoin.</dd>
    </dl>
  </div>
</div>
