<ng-template #todo>
  <p style="margin-top: 10px">
    {{'todoTranslation' | translate}}
  </p>
</ng-template>
<div class="row">
  <div class="col-md-8">
    <h3>Linjalaskenta</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit metus, vestibulum sit amet semper vel, dignissim eget arcu. Suspendisse vitae arcu non urna sollicitudin pretium. Aliquam malesuada tortor vel leo elementum, nec venenatis dolor facilisis. Duis aliquam, lectus sit amet efficitur vehicula, risus dolor pulvinar quam, quis vulputate velit massa sit amet odio. Ut efficitur venenatis lectus, et porttitor odio ultrices id. Suspendisse faucibus accumsan interdum. Nunc lacinia pharetra risus ac pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ut magna sed ligula bibendum faucibus at id nisi. Integer eu ultricies justo. Ut id consequat leo, in viverra neque.
    </p>
    <p>Proin non tortor rutrum, semper nulla ullamcorper, eleifend nibh. Vestibulum eu pretium orci, quis eleifend dolor. Praesent mollis enim tortor, non posuere magna congue et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam tempor mattis diam sed ornare. Ut molestie risus quam, vel vulputate risus pulvinar ut. Donec sem magna, semper nec tincidunt eu, scelerisque in mauris. Fusce euismod dapibus egestas. Aliquam velit sapien, convallis pellentesque quam nec, sodales egestas libero. Fusce et tellus hendrerit leo vehicula placerat.</p>

    <p>Ut et augue sit amet felis mollis convallis vitae aliquam felis. Mauris sollicitudin eu diam in porttitor. Sed tincidunt ullamcorper nulla, quis vestibulum diam elementum sit amet. Pellentesque tempus iaculis tincidunt. Sed a gravida velit. Nulla at mollis orci. Mauris ut est non augue gravida ultricies non sit amet leo. Donec et urna in elit consequat molestie eget at nunc. Nam laoreet consectetur felis nec convallis. In laoreet urna sit amet erat eleifend, feugiat venenatis ligula lacinia.</p>

    <p>Sed ut mollis est. Nulla facilisi. Sed condimentum imperdiet nisl, vitae tincidunt risus ultrices commodo. Curabitur condimentum consequat mauris, ut malesuada nibh scelerisque id. Vestibulum eu tortor ut purus pretium tincidunt vitae a massa. Vivamus sit amet nunc bibendum, viverra purus sit amet, congue augue. Nam eget rutrum neque.</p>

    <p>Nullam fermentum ipsum at nisl sagittis pharetra. Proin sed velit tellus. Suspendisse ullamcorper dolor ipsum, nec convallis odio aliquet eget. Etiam auctor magna id arcu interdum, quis porta risus faucibus. Nullam eu leo ornare diam scelerisque pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent fermentum leo urna, at posuere ex interdum id. Aenean vitae aliquam metus. Sed eget felis nec quam suscipit auctor vitae sed orci. Vivamus vitae magna eu dui lacinia pulvinar sit amet quis lacus. Praesent ut nibh ut lacus porttitor sollicitudin.</p>
  </div>
</div>
