<div style="background-color: #ECF0F1; padding: 20px;" #header>
  <h1 style="margin: 0">{{ 'species.search' | translate }}<br><small>{{ 'species.title.short' | translate }}</small></h1>
  <div>{{ 'species.title.long' | translate }}</div>
</div>
<div id="content-container" class="container full-height">
  <div class="full-height">
    <div class="row full-height" style="position: relative">
      <div class="form-filters"
           [ngClass]="{'sticky-filter': stickyFilter, 'col-sm-4 col-md-3 col-lg-2 col-sm-push-8 col-md-push-9 col-lg-push-10': showFilter}">
        <laji-species-form [searchQuery]="searchQuery"
                           [showFilter]="showFilter"
                           (showFilterChange)="showFilter = $event">
        </laji-species-form>
      </div>

      <div id="species-list-container" [ngClass]="{
       'result-list col-sm-8 col-md-9 col-lg-10': showFilter,
       'col-sm-12': !showFilter
      }">
        <ul style="margin-top: 24px;" class="nav nav-tabs nav-justified">
          <li role="presentation"  [ngClass]="{active: active === 'list'}">
            <a [routerLink]="'/taxon/list' | localize" [queryParams]="searchQuery.query">
              {{ "species.list" | translate }}
            </a>
          </li>
          <li role="presentation" [ngClass]="{active: active === 'images'}">
            <a [routerLink]="'/taxon/images' | localize" [queryParams]="searchQuery.query">
              {{ "species.images" | translate }}
            </a>
          </li>
          <li role="presentation" [ngClass]="{active: active === 'tree'}">
            <a [routerLink]="'/taxon/tree' | localize" [queryParams]="{'onlyFinnish': searchQuery.query.onlyFinnish}">
              {{ "species.taxa" | translate }}
            </a>
          </li>
        </ul>

        <div [hidden]="active === 'tree'" *ngIf="activated['list'] || activated['images']" style="margin-bottom: 20px">
          <laji-informal-group-select [id]="searchQuery.query.informalGroupFilters"
                                      [compact]="true"
                                      (informalGroupSelect)="informalGroupSelect($event)">
          </laji-informal-group-select>
        </div>

        <laji-species-list [hidden]="active !== 'list'"
                           *ngIf="activated['list']"
                           [visible]="active === 'list'"
                           [searchQuery]="searchQuery"
                           [columnService]="columnService">
        </laji-species-list>
        <laji-species-images [hidden]="active !== 'images'"
                             *ngIf="activated['images']"
                             [searchQuery]="searchQuery">
        </laji-species-images>
        <laji-tree [hidden]="active !== 'tree'"
                   *ngIf="activated['tree']"
                   [visible]="active === 'tree'"
                   [searchQuery]="searchQuery"
                   [columnService]="columnService">
        </laji-tree>
      </div>
    </div>
  </div>
</div>

