<div style="background-color: #ECF0F1; padding: 20px;" #header>
  <h1 style="margin: 0">{{ 'species.search' | translate }}<br><small>{{ 'species.title.short' | translate }}</small></h1>
  <div>{{ 'species.title.long' | translate }}</div>
</div>
<div id="content-container" class="container">
  <div class="form-horizontal">
    <div class="row">
      <div *ngIf="type !== 'tree'" [ngStyle]="filtersNgStyle" class="form-filters col-sm-4 col-md-3 col-lg-2 col-sm-push-8 col-md-push-9 col-lg-push-10">
        <laji-species-form [searchQuery]="searchQuery"
                           [showFilter]="showFilter"
                           (onShowFilterChange)="showFilter = $event"></laji-species-form>
      </div>

      <div id="species-list-container" [ngClass]="{
       'result-list col-sm-8 col-md-9 col-lg-10': showFilter,
       'col-sm-12': !showFilter
      }">
        <ul style="margin-top: 24px;" class="nav nav-tabs nav-justified">
          <li role="presentation"  [ngClass]="{active: type === 'list'}">
            <a [routerLink]="'/taxon/list' | localize" [queryParamsHandling]="'merge'">
              {{"species.list" | translate}}
            </a>
          </li>
          <!--li role="presentation" [ngClass]="{active: type === 'images'}">
            <a [routerLink]="'/taxon/images' | localize">
              {{"species.images" | translate}}
            </a>
          </li-->
          <li role="presentation" [ngClass]="{active: type === 'tree'}">
            <a [routerLink]="'/taxon/tree' | localize" [queryParamsHandling]="'merge'">
              {{"species.taxa" | translate}}
            </a>
          </li>
        </ul>
        <laji-informal-group-select *ngIf="type !== 'tree'"
                                    style="padding-bottom: 20px"
                                    [id]="searchQuery.query.informalGroupFilters"
                                    [compact]="true"
                                    (onInformalGroupSelect)="informalGroupSelect($event)"></laji-informal-group-select>
        <laji-species-list *ngIf="type === 'list'" [searchQuery]="searchQuery"></laji-species-list>
        <laji-species-images *ngIf="type === 'images'" [searchQuery]="searchQuery"></laji-species-images>
        <laji-tree *ngIf="type === 'tree'"></laji-tree>
      </div>
    </div>
  </div>
</div>

