:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#content-container {
  width: 100%;
  min-height: 200px;
}

#species-list-container {
  padding: 10px 15px 30px 15px;
}

.form-filters {
  z-index: 1;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.form-filters.sticky-filter {
  position: fixed;
  top: 50px;
}
@media only screen and (max-width : 767px) {
  .form-filters {
    top: 0 !important;
    height: auto !important;
    position: relative !important;
  }
}
