<ng-container *ngIf="taxonList$ | async as taxonList">
  <ng-container *ngIf="taxonList.length === 0; else taxonSelect">
    <p>{{ 'theme.kerttu.noLetters' | translate }}</p>
  </ng-container>
  <ng-template #taxonSelect>
    <h4 class="kerttu-select">
      {{ 'theme.kerttu.species' | translate }}
      <select
        class="form-control"
        [value]="taxon || '0'"
        (change)="onTaxonChange(taxonSelect.value !== '0' ? taxonSelect.value : undefined)"
        #taxonSelect>
        <option [value]="0">{{ 'theme.kerttu.chooseSpecies' | translate }}</option>
        <option *ngFor="let taxon of taxonList" [value]="taxon.id">
          <laji-taxon-name [taxon]="taxon"></laji-taxon-name>
        </option>
      </select>
    </h4>
  </ng-template>
</ng-container>
