:host {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: #ECF0F1;
}

#spectrogramContainer {
  width: 100%;
  position: relative;
}

#audioControls {
  display: inline-block;
  width: 100%;

  button {
    display: inline-block;
    margin: 0 2px;
  }

  #volumeSlider {
    width: 50px;
  }
}
