<div class="container">
  <h1>{{'navigation.user.profile' | translate}}</h1>
  <div class="row">
    <div class="col-md-8">
      <h3>{{(userService.getUser()|async)?.preferredName}} {{(userService.getUser()|async)?.inheritedName}}</h3>
      <div class="profile-image">
        <img *ngIf="profile.image" [src]="profile.image" alt="profile image" class="img-rounded">
      </div>
      <div class="btn-default btn btn-sm edit-text" (click)="toggleEditing()"><i class="glyphicon glyphicon-cog"></i></div>
      <div *ngIf="!editing">
        <p>{{profile.profileDescription}}</p>
      </div>
      <div *ngIf="editing" class="profile-edit">
        <div class="profile-edit-row">
          image
          <input class="form-control" placeholder="Image url" [(ngModel)]="profile.image">
        </div>
        <div class="profile-edit-row">
          description:
          <textarea class="form-control" [(ngModel)]="profile.profileDescription"></textarea>
        </div>
        <div class="profile-edit-row">
          <div class="btn btn-default" (click)="saveProfile()">save</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="col-sm-12 well">
          <h3>Friends</h3>
          
          {{profile.friends|json}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 well">
          <a href="https://login.laji.fi" class="btn btn-success">{{'profile.accountSettings'|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

