.profile-image img {
  height: auto;
  width: 150px;
  float: left;
  margin: 0 10px 10px 0;
}

.edit-text {
  float: right;
}

.profile-edit {
  margin-left: 160px;
  margin-right: 30px;
  width: auto;
  width: calc(100% - 200px);
}

.profile-edit-row + .profile-edit-row {
  padding-top: 10px;
}

.self-link {
  float: left;
  margin-right: 15px;
}
