.container-fluid {
  padding-bottom: 20px;
}
.form-container {
  position: relative;
}
.identify-intro {
  margin-bottom: 20px;
}
.select-intro {
  margin-top: -3px;
}

@media only screen and (min-width : 768px) {
  .select-intro {
    padding-left: 0;
  }
}
