<div class="container-fluid">
  <div class="row identify-intro">
    <div class="col-sm-12">
      <h1>{{ 'navigation.identify' | translate }}</h1>
      <p>
        {{ 'identify.intro' | translate }}
      </p>
      <p>
        {{ 'identify.reportIntro' | translate }}
        <br/>
        <a class="link btn btn-primary" [routerLink]="['/vihko/' + formId | localize]">{{ 'identify.report' | translate }}</a>
        <span *lajiLoggedIn="false">({{ 'identify.requiresAuthentication' | translate }})</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>{{ 'filter.informalTaxonGroup' | translate }}:</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 form-container">
      <form>
        <laji-observation-group-select
          name="group'"
          (select)="onSelectGroup()"
          [position]="'left'"
          [(ngModel)]="group"
          {{ 'observation.active.informalTaxonGroupAll'|translate }}
        </laji-observation-group-select>
      </form>
    </div>
    <div class="col-sm-8 select-intro">
      <small>{{ 'identify.selectIntro' | translate }}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 image-container">
      <ng-container *ngIf="query">
        <laji-gallery [showPopover]="true" [view]="'full'" [sort]="['document.firstLoadDate DESC']" [showViewSwitch]="true" [query]="query" [eventOnImageClick]="true" (selected)="onImageSelect($event)"></laji-gallery>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ 'identify.mostActiveTitle' | translate }}</h2>
      <laji-most-active-users-table [maxLength]="5" [group]="query ? query.informalTaxonGroupId: ''"></laji-most-active-users-table>
      <p><a [routerLink]="['/theme/quality' | localize]">{{ 'identify.toQualityPage' | translate }}</a></p>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #documentModal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="documentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <laji-document [identifying]="true" [uri]="documentId" [highlight]="unitId" [own]="false" [showTitle]="false" [openAnnotation]="true"></laji-document>
      </div>
    </div>
  </div>
</div>
