<div class="container-fluid full-height" style="width: 100%">
  <div class="full-height">
    <div class="container" *lajiLoggedIn="false">
      <h1>{{'haseka.title' | translate}}</h1>
      <p>{{'haseka.pleaseLogin' | translate}}</p>
    </div>
    <div class="container full-height" *lajiLoggedIn="true" id="container">
      <laji-document-form-header *ngIf="formData" [formID]="formId" [includeNpDescription]="true" class="no-flex"></laji-document-form-header>

      <alert *ngIf="errorMsg" type="danger">{{errorMsg}}</alert>

      <ng-container *ngIf="filterByMunicipality">
        <label>{{'MNP.municipality' | label}}</label>
        <laji-area-select [disabled]="editMode" [field]="areaTypes.Municipality" (select)="updateMunicipalityFilter($event)"></laji-area-select>
      </ng-container>
      <ng-container *ngIf="filterByBirdAssociationArea">
        <label>{{'MNP.birdAssociationArea' | label}}</label>
        <laji-area-select [disabled]="editMode" [field]="areaTypes.BirdAssociationArea" (select)="updateBirdAssociationAreaFilter($event)"></laji-area-select>
      </ng-container>
      <laji-spinner [spinning]="loading" [overlay]="true" class="full-height">
        <div *ngIf="namedPlaces && formData && !errorMsg" class="full-height">
          <div class="row np-row full-height">
            <div [ngClass]="{'col-xs-12 col-sm-6 full-height': !editMode}">
              <laji-np-choose [namedPlaces]="namedPlaces"
                              [formData]="formData"
                              [visible]="!editMode"
                              [allowCreate]="allowCreate"
                              (onActivePlaceChange)="setActiveNP($event)"
                              (onCreateButtonClick)="toEditMode(true)"
                              class="full-height"></laji-np-choose>
            </div>
            <div [ngClass]="editMode? 'col-xs-12 nav-margin' : 'col-sm-6 nav-margin'">
              <laji-np-edit [editMode]="editMode"
                            [formId]="formId"
                            [prepopulatedNamedPlace]="prepopulatedNamedPlace"
                            [namedPlace]="namedPlace"
                            [formData]="formData"
                            [allowEdit]="allowEdit"
                            (onEditButtonClick)="toEditMode(false)"
                            (onEditReady)="toNormalMode($event)"
                            (onError)="setErrorMessage($event)"></laji-np-edit>
            </div>
          </div>
        </div>
      </laji-spinner>
    </div>
  </div>
</div>
