:host {
  display: flex;
  flex: 1 1 0;
}

:host >>> .full-height {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;
}

:host >>> .hidden {
  display: none !important;
}

.np-row {
  flex-flow: row;
}

.np-row [class^="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

.nav-margin {
  margin-top: 42px;
}

laji-np-choose {
  flex: 10;
}
