:host >>> .full-height {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;
}

:host >>> .hidden {
  display: none !important;
}

@media screen and (max-width: 767px) {
  #container {
    margin: 0;
  }
}

.np-row [class^="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

.nav-margin {
  margin-top: 42px;
}

.form-header {
  margin-bottom: 1.5em;
}

.form-logo {
  margin-top: 25px;
}

.no-padding {
  padding: 0;
}
