<div class="container-fluid full-height">
  <only-logged class="full-height">
    <div class="container" out>
      <h1>{{'haseka.title' | translate}}</h1>
      <p>{{'haseka.pleaseLogin' | translate}}</p>
    </div>
    <div class="container full-height" in>
      <laji-spinner [spinning]="!namedPlaces" [overlay]="true"></laji-spinner>

      <div id="np-container" [ngClass]="{hidden: !namedPlaces}">
        <h1>
          {{'np.title' | translate}}
        </h1>
        <div class="row np-row full-height">
          <div [ngClass]="editMode? 'hidden' : 'col-sm-6 full-height'" id="choose-container">
            <laji-np-choose [namedPlaces]="namedPlaces"
                            (onActivePlaceChange)="setActiveNP($event)"
                            class="full-height"></laji-np-choose>
            <button class="btn btn-md btn-default" (click)="toEditMode(true)">{{'np.createNew' | translate}}</button>
          </div>
          <div [ngClass]="editMode? 'col-sm-12 nav-margin' : 'col-sm-6 nav-margin'">
            <laji-np-edit [editMode]="editMode"
                          [formId]="formId"
                          [namedPlace]="namedPlace"
                          (onEditButtonClick)="toEditMode(false)"
                          (onEditReady)="toNormalMode()"></laji-np-edit>
          </div>
        </div>
      </div>
    </div>
  </only-logged>
</div>
