:host >>> .ngx-datatable .datatable-body {
  max-height: 600px;
}

.most-active-table {
  margin-bottom: 10px;
}
.ngx-datatable.material.datatable-top-header-wrapper {
  border-bottom: none;
}
.ngx-datatable.material .datatable-header.datatable-top-header {
  border-bottom: none;
}
.datatable-top-header.datatable-header .datatable-header-cell {
  border-right: none;
  width: 100%;
}
