<div class="page">
  <div class="pager">
    <h2>{{namedPlace.name}}&nbsp;&nbsp;<span>1/{{total}}</span></h2>
  </div>
  <div class="title">
    <h1>{{namedPlace.name}}</h1>
  </div>
  <div class="short-hand">
    <strong>Kirjoita pikakirjoitukseen LAJI (a) (Lukumäärä) Koodi (A/P)</strong>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Koodi</th>
        <th>Havainnon laatu</th>
        <th>Ilmoitettava lukumäärä</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>x</td>
        <td>Laulava</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>v</td>
        <td>Muuten ääntelevä</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>o</td>
        <td>Näköhavainto</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>k</td>
        <td>Koiras</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>n</td>
        <td>Naaras</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>y</td>
        <td>Ylilentävä</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>a luku o</td>
        <td>Parvi</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>a luku y</td>
        <td>Lentoparvi</td>
        <td>Yksilömäärä</td>
      </tr>
      <tr>
        <td>pari</td>
        <td>Pari</td>
        <td>Parimäärä</td>
      </tr>
      <tr>
        <td>poikue</td>
        <td>Poikue</td>
        <td>Parimäärä</td>
      </tr>
      <tr>
        <td>pesä</td>
        <td>Pesä</td>
        <td>Parimäärä</td>
      </tr>
      </tbody>
    </table>
    <p></p>
    <p></p>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>LAJI</th>
        <th>Lajin kaksi- tai kuusikirjaiminen koodi. Pakollinen.</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>a</td>
        <td>Jos kyseessä on parvihavainto, lukumäärän eteen kirjoitetaan a. Muuten a jätetään kirjoittamatta.</td>
      </tr>
      <tr>
        <td>Lukumäärä</td>
        <td>Yksilömäärä tai koodeille "pari", "poikue", "pesä" parimäärä. Jos jätetään kirjoittamatta, lukumääräksi
          tulee 1.
        </td>
      </tr>
      <tr>
        <td>Koodi</td>
        <td>Katso taulukko alta. Pakollinen.</td>
      </tr>
      <tr>
        <td>A/P</td>
        <td>A = Apusarka, P = Pääsarka. Jos jätetään kirjoittamatta, saraksi tulee A.</td>
      </tr>
      </tbody>
    </table>
    <p></p>
    <p> Voit käyttää suuria tai pieniä kirjaimia. Voit käyttää välilyöntejä tai kirjoittaa kaiken yhteen. </p>
    <p> Esimerkkejä: <i>TTX, RRvp, pt2xp, ec2y, CSa6y, CORNIX O P, cornixop, TM2pariP, PD3k</i></p></div>

  <table class="info">
    <tr *ngFor="let row of info">
      <td>{{row.key}}</td>
      <td [innerHtml]="row.data | nlToBr"></td>
    </tr>
    <tr *ngIf="ykjGrid">
      <td>Yhtenäiskoordinaatit:</td>
      <td>{{ykjGrid}}</td>
    </tr>
    <tr>
      <td>Aloituspisteen koordinaatit:</td>
      <td>{{startPoint.lat}}:{{startPoint.lng}}:ykj</td>
    </tr>
    <tr>
      <td>Reitin kulmapisteet:</td>
      <td>{{bounds.sw.lat}}:{{bounds.sw.lng}}:{{bounds.ne.lat}}:{{bounds.ne.lng}}:ykj</td>
    </tr>
    <tr>
      <td>Koillisnurkan etäisyys aloituspisteestä:</td>
      <td>{{neDistance}}m</td>
    </tr>
    <tr>
      <td>Reitin pituus:</td>
      <td>{{routeLength}}m</td>
    </tr>
    <tr *ngIf="person">
      <td>Havainnoja:</td>
      <td>
        {{person.id | users:'fullname'}} ({{person.id}})<br>
        {{person.emailAddress}}
      </td>
    </tr>
    <tr>
      <td>Lomakkeen täyttäjä:</td>
      <td class="user-input"></td>
    </tr>
    <tr>
      <td>Päivämäärä:</td>
      <td class="user-input"></td>
    </tr>
  </table>
</div>
<div class="page">
  <div class="no-page-break page-break-after" [ngClass]="{'page-landscape': landscape}" *ngIf="lajiMapOptions">
    <div class="pager">
      <h2>{{namedPlace.name}}&nbsp;&nbsp;<span>2/{{total}}</span></h2>
    </div>
    <div class="map-wrap">
      <laji-map [options]="lajiMapOptions"></laji-map>
    </div>
  </div>
</div>
<div *ngIf="pages">
  <div class="page no-page-break page-break-after table-page" *ngFor="let page of pages; let i = index">
    <div class="pager">
      <h2>{{namedPlace.name}}&nbsp;&nbsp;<span>{{i + 3}}/{{total + 2}}</span></h2>
    </div>
    <table class="line-table">
      <tr>
        <th>Apusarka</th>
        <th colspan="2">50m leveä pääsarka</th>
        <th>Apusarka</th>
        <th>Biotooppi pääsaralla</th>
      </tr>
      <ng-container *ngFor="let distance of page; let j = index">
        <ng-container *ngIf="biotopes[(distance - formSplit)]; else noBiotopes">
          <tr *ngFor="let biotope of biotopes[(distance - formSplit)]; first as isFirst" class="biotopes-{{biotopes[(distance - formSplit)].length}}">
            <td><div class="distance" *ngIf="isFirst">{{distance}}</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="biotope-container">
              <ul class="biotopelist">
                <li>{{biotope}}</li>
              </ul>
              <div class="distance" *ngIf="isFirst">{{distance}}</div>
            </td>
          </tr>
        </ng-container>
        <ng-template #noBiotopes>
          <tr class="biotopes-0">
            <td><div class="distance">{{distance}}</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="distance">{{distance}}</div></td>
          </tr>
        </ng-template>
      </ng-container>
    </table>
    <div class="time">
      Aloitusaika:
    </div>
  </div>
</div>
