<laji-spinner [spinning]="!recording || !taxonList">
  <div class="row lu-section">
    <div class="col-md-12">
      <div style="margin-top: 10px; float: right">
        <lu-button
          [role]="'success'"
          [disabled]="!recording"
          (click)="toNextRecording()">
          {{ 'theme.kerttu.nextRecording' | translate }}
        </lu-button>
      </div>
      <h2 style="display: inline-block">{{ 'theme.kerttu.recordingAnnotation.title' | translate }}</h2>
    </div>
    <div class="col-md-12">
      <laji-audio-viewer
        [recording]="recording?.recording"
        [xRange]="recording?.xRange"
        [xRangePadding]="2"
        [highlightSelection]="true"
        [showBrushControl]="true"
      ></laji-audio-viewer>
    </div>
    <div class="col-sm-12" style="margin-bottom: 20px">
      <!--laji-pill-list
        [isLabel]="true"
        [list]="currentAnnotation"
        (updateList)="onTaxonListUpdate($event)"
      ></laji-pill-list-->
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="species-select">{{ 'theme.kerttu.listSpecies' | translate }}</label>
        <laji-taxon-autocomplete
          id="species-select"
          [informalTaxonGroup]="'MVL.1'"
          [onlyFinnish]="true"
          [showResult]="false"
          [whiteList]="taxonList"
          (taxonSelect)="onTaxonSelect($event)"
        ></laji-taxon-autocomplete>
      </div>
      <laji-kerttu-occurrence-table
        [selectedTaxons]="selectedTaxons"
      >
      </laji-kerttu-occurrence-table>
    </div>
  </div>
</laji-spinner>
