:host {
  margin-top: 2px;
  margin-bottom: -2px;
  display: inline-block;
  position: relative;
  height: 13px;
  width: 17px;
  font-size: 12px;
}
.lj-cb-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}
.lj-cb-marker {
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-weight: bold;
}

.lj-cb-wrap input, .lj-cb-marker {
  top: 0;
  left: 0;
}

.lj-cb-marker.checked:after {
  content: "✓";
  top: -2px;
  left: 1px;
  position: relative;
}

.lj-cb-marker.negative:after {
  content: "–";
  top: -2px;
  left: 2px;
  position: relative;
}

.lj-cb-marker.excluded:after {
  content: "x";
  top: -2px;
  left: 2px;
  position: relative;
}
