@import 'vars';

:host {
  display: block;
  position: relative;
}

.unsaved {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 4px;
  background-color: $danger-2;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  border: 1px solid $danger-4;

  display: flex;
  justify-content: center;
  align-content: center;

  cursor: default;

  div {
    margin-top: 2px;
    font-weight: 600;
    color: $danger-6;
  }
}

#short-document {
  padding: 5px;
}

.inline-block {
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.info {
  display: inline-block;
  width: 85%;
}

.link:focus{
  outline:none;
}

.observation-tools {
  display: inline-block;
  width: 35px;
  float: right;
}

.delete_tmp {
  padding: 3px 0;
}

.delete_tmp span {
  display: inline-block;
}

.delete_tmp span:first-child {
  float:left;
  width:85%;
  margin-bottom: 5px;
}

.delete_tmp span:last-child {
  float:right;
}

.button-tools {
  display: block;
  margin-bottom: 3px;
  width: 25px;
  padding: 4px 0;
  font-size: 12px;
  display: block;
  margin-bottom: 3px;
  float: right;
}

.observation-title{
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .info, .observation-tools{
    width:100%;
    float: none;
  }

  .button-tools {
    width: 32px;
    display: inline-block;
    padding: 9px 0;
    margin-right: 5px;
    float: left;
  }

  .delete_tmp span:first-child {
    width:100%;
  }

  .delete_tmp span:last-child {
    float:left;
  }
}

@media only screen and (max-width: 767px) {
  .delete_tmp span:first-child {
    width:85%;
  }

  .delete_tmp span:last-child {
    float:right;
  }

  .info {
    display: inline-block;
    width: 85%;
  }

  .observation-tools {
    display: inline-block;
    width: 35px;
    float: right;
  }

  .delete_tmp .button-tools {
    margin-right: 3px;
  }

}
