<only-logged>
  <form in class="annotation-form" #annotationForm="ngForm" (ngSubmit)="saveAnnotation()">
    <alert *ngIf="error" type="danger" [dismissible]="true" (onClose)="closeError()">
      {{'haseka.form.error' | translate}}
    </alert>
    <div *ngIf="annotation.type === types.TypeOpinion">
      <div class="row annotation-class">
        <div class="col-sm-12">
          {{'MAN.annotationClass' | label}}:
          <select [(ngModel)]="annotation.annotationClass" name="annotationClass" class="form-control input-sm">
            <option *ngFor="let option of annotationOptions$ | async" [value]="option.id">
              {{option.value | multiLang}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngIf="!isEditor">
          {{'MAN.opinion' | label}}:
          <input
            [ngClass]="{loading: typeaheadLoading}"
            type="text"
            class="form-control input-sm"
            name="opinion"
            [(ngModel)]="annotation.opinion"
            [typeahead]="taxonAutocomplete"
            [typeaheadOptionsLimit]="20"
            [typeaheadWaitMs]="200"
            [typeaheadMinLength]="3"
            [typeaheadOptionField]="'value'"
            [typeaheadItemTemplate]="taxonItem"
            autocomplete="off"
            autocorrect="off"
          >
          <ng-template #taxonItem let-model="item">
            <h5 class="autosuggest-value {{model.groups}} informal-group-image">
              {{model.value}}
            </h5>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row message"
      [ngClass]="{
        'has-error': notes.errors && (notes.dirty || notes.touched)
      }">
      <div class="col-sm-12">
        {{'MAN.notes' | label}}:<span *ngIf="annotation.type === types.TypeComment">*</span>
        <textarea #notes="ngModel"
                  name="notes"
                  [required]="annotation.type === types.TypeComment"
                  class="form-control feedback-text input-sm"
                  [(ngModel)]="annotation.notes"></textarea>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-danger btn-sm" (click)="cancel.emit()">{{'feedback.cancel' | translate}}</button>
      <button type="submit" [disabled]="!annotationForm.form.valid" class="btn btn-success btn-sm">{{'feedback.send' | translate}}</button>
    </div>
  </form>
  <div out class="annotation-form">
    {{'force.login' | translate}}
  </div>
</only-logged>
