<div *ngIf="data$ | async; let data" class="container my-5">
  <h1>{{ data.elem.name }}</h1>
  <h3 class="mb-7">({{ data.elem.coordinates }})</h3>
  <ngx-datatable
    class="material"
    [rowHeight]="35"
    [rows]="data.rows"
    [columns]="cols"
    [cssClasses]="datatableClasses"
    [messages]="{ emptyMessage: '' }"
  ></ngx-datatable>
  <h2>Kartta</h2>
  <div #lajiMap class="ba-laji-map my-4"></div>
<!-- TODO create link: <a href="" target="_blank">Tulostettava ruutu karttapalvelussa</a> -->
</div>
