<div *ngIf="loading" class="container"><laji-spinner class="d-block m-6"></laji-spinner></div>
<div *ngIf="data$ | async; let data" class="container mb-6" [ngClass]="{'d-none': loading}">
<ng-container *ngIf="data.status === 200; else notFound">
  <h1>{{ data.elem.name }}</h1>
  <h3 class="mb-7">({{ data.elem.coordinates }})</h3>
  <div class="d-flex flex-wrap flex-gap-4">
    <ngx-datatable
      class="material"
      [rowHeight]="35"
      [rows]="data.rows"
      [columns]="cols"
      [cssClasses]="datatableClasses"
      [scrollbarH]="true"
      [messages]="{ emptyMessage: '' }"
    ></ngx-datatable>
    <div class="flex-grow-1">
      <h5 translate>ba.grid-info.map</h5>
      <div class="d-flex my-3">
        <div class="ba-laji-map-wrapper">
          <div></div>
          <a [routerLink]="getAdjacentSqLink(data.elem.coordinates, 1, 0)" class="glyphicon glyphicon-arrow-up"></a>
          <div></div>
          <a [routerLink]="getAdjacentSqLink(data.elem.coordinates, 0, -1)" class="glyphicon glyphicon-arrow-left"></a>
          <div #lajiMap class="ba-laji-map"></div>
          <a [routerLink]="getAdjacentSqLink(data.elem.coordinates, 0, 1)" class="glyphicon glyphicon-arrow-right"></a>
          <div></div>
          <a [routerLink]="getAdjacentSqLink(data.elem.coordinates, -1, 0)" class="glyphicon glyphicon-arrow-down"></a>
          <div></div>
        </div>
      </div>
      <ba-grid-square-info [square]="data.elem"></ba-grid-square-info>
      <hr>
      <p><a [routerLink]="['/society', data.elem.birdAssociationArea.key]">{{ data.elem.birdAssociationArea.value }}</a></p>
      <div><a [href]="'https://laji.fi/map?gridsquare=' + data.elem.coordinates + '&layers=maastokartta,atlasGrid&print=true'" target="_blank">
        {{ 'ba.grid-info.mapPrint' | translate }} <span class="glyphicon glyphicon-link"></span>
      </a></div>
      <div><a [href]="'https://laji.fi/map?gridsquare=' + data.elem.coordinates + '&layers=maastokartta,atlasGrid'" target="_blank">
        {{ 'ba.grid-info.mapFullScreen' | translate }} <span class="glyphicon glyphicon-link"></span>
      </a></div>
      <div><a [href]="'https://havistin.biomi.org/atlas/ruutulomake/' + data.elem.coordinates + '/vakio'" target="_blank">
        {{ 'ba.grid-info.havistin' | translate }} <span class="glyphicon glyphicon-link"></span>
      </a></div>
      <div><a [href]="'https://laji.fi/observation/map?time=2022-01-01%2F2025-12-31&coordinates=' + data.elem.coordinates + ':YKJ:1&recordQuality=COMMUNITY_VERIFIED,NEUTRAL,EXPERT_VERIFIED&atlasClass=MY.atlasClassEnumB,MY.atlasClassEnumC,MY.atlasClassEnumD&target=MX.37580'" target="_blank">
        {{ 'ba.grid-info.observations' | translate }} <span class="glyphicon glyphicon-link"></span>
      </a></div>
    </div>
  </div>
</ng-container>
<ng-template #notFound>
  <ng-container *ngIf="data.status === 404; else error">
    <h1 translate>ba.grid-info.notFound</h1>
  </ng-container>
</ng-template>
<ng-template #error>
  <h1 translate>ba.grid-info.error</h1>
</ng-template>
</div>
