@import 'vars';

h5 {
  color: $neutral-7;
  margin-bottom: $sp-2;
}

.list-group-item {
  padding: $sp-2 $sp-3;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:active, .list-group-item.active:hover {
  background: $primary-6;
  box-shadow: inset 0 1px 3px rgba($primary-7, .8);
  border-color: $primary-7;
}

